{{#if datas}}
	<div style="width:210mm;border:1px #dddddd solid;background:#eeeeee;-webkit-border-radius:7px;-moz-border-radius:7px;margin:0 auto;text-align:right;">
		<input class="short-short-button-print" type="button" value="Print" id="printInfo">
	</div>
	   	<input type="hidden" id="entryId" value="{{datas.entryId}}"/>
		<input type="hidden" id="door_id" value="{{datas.door_id}}"/>
		<input type="hidden" id="bol_id" value="{{datas.bol_id}}"/>
		<input type="hidden" id="signType" value="1"/>
		<input type="hidden" id="carriersignType" value="2"/>
    <div style="border:1px red solid; width:210mm; margin:0 auto; margin-top:3px;" name="printHtml">
    	<input type="hidden" id="total" value="{{datas.pltOrpckMap.total}}"/>
	<div id="a1">
		<!-- ͷ -->
		<div style="border:1px red solid; width:210mm;  margin:0 auto; margin-top:3px;display:none;" id="top">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody>
				<tr>
		   		 <td colspan="6" style="border-top: 1px solid black; border-left: 1px solid black;border-right: 1px solid black;border-bottom:1px solid black;" align="center">
		   		 	 <table cellpadding="0" cellspacing="0" border="0" width="100%">
					  <tbody><tr>
					    <td style="font-size:12px; font-family:Arial;" align="center" height="39" width="17%"><b>Date:</b><span style="font-style: italic;">04/22/15 18:30</span></td>
					    <td align="center" width="72%">
					    	<div style="font-size:18px; font-family:Arial; font-weight: bold;" align="center">SUPPLEMENT TO THE BILL OF LADING</div>
					        <div style="font-size:14px; font-family:Arial;" align="">&nbsp;&nbsp;&nbsp;&nbsp;<b>BILL OF Lading Number:</b><span style="font-style: italic;">{{datas.appointment.billOfLoadingNo}}</span></div>
					    </td>
					    <td align="center" width="11%">&nbsp;</td>
					  </tr>
					</tbody></table>
		   		 </td>
			   	</tr>
			   </tbody>
			</table>
		</div>
		
		
	  <table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody>
	       <tr>
	         <td style="border-bottom: 1px solid black; border-left: 1px solid black; border-top: 1px solid black; font-size: 11px; font-family: Arial;" align="center" height="36" width="20%"><b>{{i18n.date}}:{{datas.date}}</span></td>
	         <td style="border-bottom: 1px solid black; border-top: 1px solid black; font-size: 18px; font-weight: bold; font-family: Arial;" align="center" width="67%">{{i18n.title}}</td>
	         <td style="border-bottom: 1px solid black; border-top: 1px solid black; border-right: 1px solid black; font-size: 12px; font-family: Arial;" align="center" width="13%">&nbsp;</td>
	       </tr>
		</tbody>
	</table>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody>
		      <tr>
		        <td style="border-bottom: 1px solid black; border-right: 1px solid black; border-left: 1px solid black; font-size: 12px; font-family: Arial; " align="left" height="48" width="55%">
		          <div style="background-color:#000; color: #FFF; font-weight:bold;" align="center">{{i18n.shipFrom}}</div>
		          <div style="padding-left: 2px;">&nbsp;<b>{{i18n.shipFromName}}:</b>&nbsp;&nbsp;<span style="font-style: italic;">
		          	{{datas.strogeMap.shipFrom.send_title}}
		          </span></div>
		          <div style="padding-left: 2px;">&nbsp;<b>{{i18n.shipFromAddress}}:</b>&nbsp;&nbsp;<span style="font-style: italic;">
		          	{{datas.strogeMap.shipFrom.send_address}}
		          </span></div>
		          <div style="padding-left: 2px;">&nbsp;<b>{{i18n.shipFromCityStateZip}}:</b>&nbsp;&nbsp;<span style="font-style: italic;">
		          	{{datas.strogeMap.shipFrom.send_city_name}}/
		          	{{datas.strogeMap.shipFrom.send_state_name}}/
		          	{{datas.strogeMap.shipFrom.send_zipcode}}
		          </span></div>
		          <div style="padding-left: 2px;">&nbsp;<b>Phone:</b>&nbsp;&nbsp;<span style="font-style: italic;">
		          	{{datas.strogeMap.shipFrom.send_linkman_phone}}
		          </span></div>
		          <div>
		            <table cellpadding="0" cellspacing="0" border="0" width="100%">
					  <tbody><tr>
					    <td style="font-size: 12px; font-family: Arial;padding-left: 2px;">&nbsp;<b>{{i18n.shipFromCID}}:</b>
					    	{{datas.strogeMap.shipFrom.send_psid}}
					    </td>
					    <td style="font-size: 12px; font-family: Arial;width:80px;margin-right:10px;"><b>FOB: </b><input style="text-align: center; width: 14px; height: 14px; background: #FFF; border: 2px solid #000;" type="text"></td>
					  </tr>
					</tbody></table>
		          </div>
		          <div style="background-color:#000; color: #FFF;font-weight:bold; clear: left" align="center">{{i18n.shipTo}}</div>
		        </td>
		        <td style=" border-bottom: 1px solid black; border-right: 1px solid black; font-size: 12px; font-family: Arial;" align="left" valign="top" width="45%">
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight: bold">Bill of Lading Number:</span>&nbsp;&nbsp;<span style="font-style: italic;">{{datas.appointment.billOfLoadingNo}}</span></div>
		          <div>&nbsp;</div>
				  <div>&nbsp;</div>
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight: bold">Load No:</span>&nbsp;&nbsp;<span style="font-style: italic;">{{datas.appointment.loadNo}}</span></div>
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight: bold">Appointment Date:</span>&nbsp;&nbsp;<span style="font-style: italic;">{{datas.appointment.appointmentDate}}</span></div>
		        </td>
		      </tr>
		      <tr>
		        <td style="border-bottom:1px solid black; border-right:1px solid black;border-left:1px solid black;font-size:14px;font-family:Arial;" align="left">
		           <div style="padding-left: 2px; width:425px; border:red solid 0px;white-space:nowrap;overflow:hidden;">
		          
		          &nbsp;<b>{{i18n.shipFromName}}:</b>&nbsp;&nbsp;<span style="font-style: italic;">
		          	{{datas.strogeMap.shipTo.receive_title}}
		          </span>
		          &nbsp;<b>{{i18n.shipToLocation}}&nbsp;#:</b>&nbsp;&nbsp;<span style="font-style: italic;"></span></div>
		          
		          <div style="padding-left: 2px;">&nbsp;<b>{{i18n.shipFromAddress}}:</b>&nbsp;&nbsp;<span style="font-style: italic;">
		          	{{datas.strogeMap.shipTo.receive_address}}
		          </span></div>
		          <div style="padding-left: 2px;">&nbsp;<b>{{i18n.shipFromCityStateZip}}:</b>&nbsp;&nbsp;<span style="font-style: italic;">
		          	{{datas.strogeMap.shipTo.receive_city_name}}/
		          	{{datas.strogeMap.shipTo.receive_state_name}}/
		          	{{datas.strogeMap.shipTo.receive_zipcode}}
		          </span></div>
		          <div>
		            <table cellpadding="0" cellspacing="0" border="0" width="100%">
					  <tbody><tr>
					    <td style="font-size: 12px;font-family: Arial;padding-left: 2px;">&nbsp;<b>{{i18n.shipToCID}}:</b>&nbsp;&nbsp;<span style="font-style: italic;">
					    		{{datas.strogeMap.shipTo.receive_psid}}
					    </span></td>
					    <td style="font-size: 12px;font-family: Arial; width: 80px; margin-right: 10px;"><b> FOB: </b>
					      <input style="text-align: center; width: 14px; height: 14px; background: #FFF; border: 2px solid #000;" type="text"></td>
					  </tr>
					</tbody></table>
		          </div>
		          <div style="background-color:#000; color:#FFF;font-family:Arial; clear: left" align="center">{{i18n.billTo}}</div>
		        </td>
		        <td style="border-bottom:1px solid black;font-size:13px;font-family:Arial;border-right:1px solid black;" align="left" valign="top">
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight:bold">{{i18n.carrierName}}: </span>&nbsp;&nbsp;<span style="font-style: italic;">
		          	{{datas.equipmentMap.carrierName}}
		          </span></div>
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight:bold">{{i18n.trailerNumber}}Trailer Number:</span>&nbsp;&nbsp;<span style="font-style: italic;">
		          	{{datas.equipmentMap.trailerNo}}
		          </span></div>
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight:bold">{{i18n.tractorNumber}}:</span>&nbsp;&nbsp;<span style="font-style: italic;">
		          	{{datas.equipmentMap.tractorNo}}
		          </span></div>
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight:bold">{{i18n.driverLicenseNo}}:</span>&nbsp;&nbsp;<span style="font-style: italic;">
		          	{{datas.equipmentMap.driverLicense}}
		          </span></div>
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight:bold">{{i18n.sealNo}}:</span>&nbsp;&nbsp;<span style="font-style: italic;">
		        	{{datas.equipmentMap.sealNo}}
		          </span></div>
		        </td>
		      </tr>
		      <tr>
		        <td style="border-bottom:1px solid black;border-left:1px solid black; border-right:1px solid black;font-size:12px;font-family:Arial;" align="left" valign="top">
		          <div style="padding-left: 2px;">&nbsp;<b>{{i18n.shipFromName}}:</b>&nbsp;&nbsp;<span style="font-style: italic;"></span></div>
		          <div style="padding-left: 2px;">&nbsp;<b>{{i18n.shipFromAddress}}:</b>&nbsp;&nbsp;<span style="font-style: italic;"></span></div>
		          <div style="padding-left: 2px;">&nbsp;<b>{{i18n.shipFromCityStateZip}}:</b>&nbsp;&nbsp;<span style="font-style: italic;"></span></div>
		          <div style="border-bottom:1px solid black;"></div>
		          <div style="font-weight: bold;padding-left: 2px;">{{i18n.specialInstructions}}:</div>
		          <div style="font-style:italic;">
		          </div>
		        </td>
		        <td style="border-bottom:1px solid black;border-right:1px solid black; font-size:12px;font-family:Arial;" align="left" valign="top">
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight:bold">{{i18n.scac}}:</span>&nbsp;&nbsp;
					<span style="font-style: italic;">
						{{datas.appointment.carrier_id}}
				    </span>
				  </div>
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight: bold">{{i18n.proNumber}}:</span>&nbsp;&nbsp;<span style="font-style: italic;"></span></div>
		          <div style="border-bottom: 1px solid black" align="center">  
		          	<font style="FONT-SIZE: 18px; font-family: time Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman'; WIDTH: 100%; COLOR: #B4B4B4; LINE-HEIGHT: 150%;">
		          		{{i18n.barCodeSpace}}
		          	</font>
		          	<div style="padding-left: 2px;">&nbsp;</div>
		          	<div style="padding-left: 2px;">&nbsp;</div>
		          </div>
		          <div style="font-size: 11px;font-weight: bold;margin-left:5px;text-align:left;">{{i18n.freightChargeTerms}}:<span style="font-style: italic;">{{i18n.freightDescripation}}</span></div>
		          <div style="padding-left:2px; border-bottom:1px solid black;font-weight:bold;padding-bottom:5px; ">
			        {{i18n.prepaid}}&nbsp;____
			        {{i18n.collect}}&nbsp;____
			        {{i18n.rdParty}}&nbsp;____	     
		          </div>
		          <div style="clear:both">
		          	<div style="float:left;margin-left:5px;">
		          		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		          		<input style="text-align:center;width:12px;height:12px;background:#FFF;border:2px solid #000; margin-top:1px;" type="text">
		            	<br><span style="font-size:12px;">({{i18n.checkBox}})</span>
		            </div>
		            <div style="float:right;margin-bottom:5px; margin-right:30px;">
		            	{{i18n.masterBillof}}<br>{{i18n.billofs}}
		            </div>
		          </div>
		        </td>
		      </tr>
		</tbody>
	</table>

	  <!-- CUSTOMER ORDER INFORMATION -->
	  <table cellpadding="0" cellspacing="1" bgcolor="#000000" border="0" width="100%">
	      <tbody><tr>
	        <td colspan="6" align="left" valign="top">
	          <div style="background-color:#000; color:#FFF;font-size:12px;font-family:Arial; font-weight:bold;" align="center">
	          {{i18n.customerOrderInformation}}</div>
	        </td>
	      </tr>
	      <tr>
	        <td style="font-size:12px;font-family:Arial;font-weight:bold;" align="center" bgcolor="#FFFFFF" width="24%">
	        {{i18n.customerOrderNumber}}</td>
	        <td style="font-size:12px;font-family:Arial;font-weight:bold;" align="center" bgcolor="#FFFFFF" width="12%">{{i18n.pkgs}}</td>
	        <td style="font-size:12px;font-family:Arial;font-weight:bold;" align="center" bgcolor="#FFFFFF" width="12%">{{i18n.weight}}</td>
	        <td colspan="2" style="font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF"><span style="font-weight:bold;">{{i18n.palletSlip}}</span><br><span style="font-size: 9px;">({{i18n.circleOne}})</span></td>
	        <td colspan="3" style="font-size:12px;font-weight:bold;font-family:Arial;" align="center" bgcolor="#FFFFFF">{{i18n.additionalShipperInfo}}</td>
	      </tr>
	  		<tr>
		        <td style="font-size:12px;font-family:Arial;font-style: italic;white-space:nowrap" align="center" bgcolor="#FFFFFF" width="24%" colspan=8>
		        	{{i18n.seeAttachedSupplementPage}}
		        </td>
	      	</tr> 
	      	<tr>
	        <td style="font-size:12px;font-family:Arial;font-style: italic;white-space:nowrap" align="center" bgcolor="#FFFFFF" width="24%">
	        </td>
	        <td style="font-size:12px;font-family:Arial;font-style: italic;" align="center" bgcolor="#FFFFFF" width="12%">
	        </td>
	        <td style="font-size:12px;font-family:Arial;font-style: italic;" align="center" bgcolor="#FFFFFF" width="12%">
	        </td>
	        <td style="font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF" width="6%">Y</td>
	        <td style="font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF" width="6%">N</td>
	        <td colspan="3" style="font-size:12px;font-weight:bold;font-family:Arial;" align="center" bgcolor="#FFFFFF">	
	        </td>
	      </tr>   	      
	      <tr>
	        <td style="font-weight:bold;font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF" height="15">{{i18n.grandTotal}}</td>
	        <td style="font-size:12px;font-family:Arial;font-style: italic;" align="center" bgcolor="#FFFFFF">
	        	{{datas.orderList.orderCount}}
	        </td>
	        <td style="font-size:12px;font-family:Arial;font-style: italic;" align="center" bgcolor="#FFFFFF">
				{{datas.orderList.orderWeight}}
	        </td>
	        <td colspan="5" style="font-size:12px;font-family:Arial;" bgcolor="#999999">&nbsp;</td>
	      </tr>
	    </tbody></table>
    </div>
    
    <div id="a2">
      <!-- CARRIER INFORMATION -->
      
       <table cellpadding="0" cellspacing="0" border="0" width="100%">
	     <thead>
	      <tr>
	        <td colspan="9" style="color:#FFF;font-size:12px;font-family:Arial;" align="center" bgcolor="#000000" height="19" valign="top">
	            {{i18n.carrierInformation}}
	        </td>
	      </tr>     
	      <tr>
	        <td colspan="2" style="font-weight:bold;font-size:12px;font-family:Arial;border-left:1px black solid;border-bottom:1px black solid;" align="center">{{i18n.handling}} <br>{{i18n.util}}</td>
	        <td colspan="2" style="font-weight:bold;font-size:12px;font-family:Arial;border-left:1px black solid;border-bottom:1px black solid;" align="center">{{i18n.packages}}</td>
	        <td rowspan="2" style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%"><span style="font-weight:bold"><span style="font-weight:bold">WEIGH</span>T</span></td>
	        <td rowspan="2" style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%">H.M.<br>(X)</td>
	        <td rowspan="2" style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial; " align="center" width="38%"><span style="font-weight:bold">{{i18n.commodityDescripation}}</span><br>
	        <span style="font-family:Arial;font-size:7px; padding-left:5px;padding-right:5px;">{{i18n.commDescripation}}
</span></td>
	        <td colspan="2" style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center">{{i18n.ltlOnly}}</td>
	      </tr>
	      <tr>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="7%">{{i18n.qty}}</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%">{{i18n.TYPE}}</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="7%">{{i18n.qty}}</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%">{{i18n.TYPE}}</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="9%">{{i18n.nmfc}}</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center" width="9%">{{i18n.clasz}}</td>
	      </tr>
	     </thead>  
	      <tbody>

	      {{#xifCond datas.pltOrpckMap.total '6' '<='}}
	      {{#if datas.pltOrpckMap.pallet}}
	      {{#each datas.pltOrpckMap.pallet}}
	      <tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">
	        	1
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">Plts</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
	        	{{this.total_package}}
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">CTNS</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.weight}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	       	<td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
	       	</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
	        &nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">

	        &nbsp;</td>
	      </tr>
	      {{/each}}
	      {{/if}}

	    
 
	      {{#if datas.pltOrpckMap.package}}
	      {{#each datas.pltOrpckMap.package}}
	     	<tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">
	        	0
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">Plts</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
	        	1
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">CTNS</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{datas.pltOrpckMap.package.weight}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	       	<td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
	       	
	       	</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">

	        &nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">

	        &nbsp;</td>
	      </tr>
	      {{/each}}
	      {{/if}}
	      {{/xifCond}}

	       {{#xifCond datas.pltOrpckMap.total '6' '>'}}
	       <tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" colspan=7>
	        	{{i18n.seeAttachedSupplementPage}}
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">

	        &nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">

	        &nbsp;</td>
	       {{/xifCond}}

	       {{#times datas.blankCount}}
		      <tr>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
		      </tr>
		    {{/times}}

	      <tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">
	        	{{datas.pltOrpckMap.palletCount}}
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
	        	{{datas.pltOrpckMap.totalPackageCount}}
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{datas.pltOrpckMap.totalWeight}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999"></td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-weight: bold;" align="center">{{i18n.grandTotal}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	      </tr>
	    </tbody>
	 </table>
	</div>
    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <div id="a3">
	 <table cellpadding="0" cellspacing="0" border="0" width="100%">
	    <tbody>
			<!-- ################################################ -->
			      <tr>
	        <td style="border-bottom:1px solid black;border-top:3px solid black; border-right:1px solid black;border-left:1px solid black; font-size:10px;font-family:Arial;" align="left" height="20" valign="top" width="57%">     
              <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
              	  <table>
                	<tr>
                		<td valign="top" width="200px;">
                			<span style="font-size:10px;font-family:Verdana;font-weight:bold;"><b>{{i18n.consigneeSignatureDate}}</b></span>
                		</td>
                		<td>
                			<div style="font-size: 7px; font-family:Arial;font-style: italic;">
                				{{i18n.propertyDescribed}}
                			</div>
		                	<div style="font-size: 5px; font-family:Arial;">&nbsp;</div>
		                	<div style="font-size: 5px; font-family:Arial;">&nbsp;</div>
		                	<div style="font-size: 5px; font-family:Arial;">&nbsp;</div>
		                	<div style="font-size: 5px; font-family:Arial;">&nbsp;</div>
		                	<div style="font-size: 5px; font-family:Arial;">&nbsp;</div>
		                	<div style="font-size: 5px; font-family:Arial;">X_________________________________________________________________________</div>
		                	<div style="font-size: 10px; font-family:Arial;">{{i18n.consigneeSignaturePrintName}}</div>
                		</td>
                	</tr>
                </table>
              <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
            </td>
	        <td style="border-bottom:3px solid black;border-right:3px solid black;border-left:3px solid black; border-top:3px solid black;font-family:Arial; font-size:15px;" align="left" valign="top" width="45%">
	         <div><span style="font-weight:bold; padding-left:2px; margin-bottom:10px;">{{i18n.codAmount}}:</span> $___________________________</div>
	          <div style="font-weight:bold;text-align:center;margin-top:2px;">{{i18n.freeTerms}}:&nbsp;{{i18n.collect}}:
	          
	            <input style="text-align:center;width:12px;height:12px;background:#FFF;border:2px solid #000;" type="text">
				&nbsp;{{i18n.Prepaid}}:
	          
	            <input style="text-align:center;width:12px;height:12px;background:#FFF;border:2px solid #000;" type="text">
	          </div>
	          <div style="font-weight:bold;text-align:center;margin-top:2px;"><label for="customer">{{i18n.customerCheckAcceptable}}:</label>	     
	            <img alt="" src="/Sync10/administrator/imgs/print/cha.jpg">
	          </div>
	        </td>
	      </tr>
	      <tr>
	        <td colspan="2" style="font-size:12px;font-family:Arial;border-bottom:1px solid black;border-left:1px solid black;border-right:1px solid black;font-weight:bold;" align="left" height="20" valign="top">
	        	<div style="margin-left:5px;margin-right:5px;">{{i18n.noteLiability}}</div></td>
	      </tr>        
	      <tr>
	        <td colspan="2">
	        		<table cellpadding="0" cellspacing="0" border="0" width="100%">
				      <tbody><tr>
				        <td id="shipperSign" style="border-bottom:1px solid black; border-right:1px solid black;border-left:1px solid black;font-size:12px;font-family:Arial;" height="180" valign="top" width="34%">
				          <div style="font-weight:bold; padding-left: 5px;margin-top:5px;">{{i18n.shipperSignatureDate}}</div>
				          <div style="font-size: 9px; padding-left: 5px;">{{i18n.shipperDescripation}}</div>
				          <br>
				           <div id='{{datas.entryId}}_{{datas.door_id}}_{{datas.bol_id}}_1' style="padding-left: 5px; border-bottom:1px solid black;font-family:Arial;font-size:12px; height:70px;">
				              		  <div style="float:left;">
				              		  {{#if datas.relative}}
										<img class="shipper_image" src="http://192.168.1.11/Sync10/{{datas.relative.shipper_relative_file_path}}" width="150px" height="70px" id="androidGetImage"/>
										{{/if}}
				              		  </div>
				          		 	<div style="float:right;padding-top:50px;font-size:10px;" >&nbsp;&nbsp; 
				          			
				          			&nbsp;&nbsp;
				          		</div>

				              
				          </div>
				          
 				          <div style="padding-left: 5px; font-family:Arial;font-size:12px;">
				          	<div style="float:left;">{{i18n.signaturePrintName}}</div> 
				          	<div style="float:right;margin-right: 50px;" >Date</div>
				          </div>
				        </td>
				        <td style="border-bottom:1px solid black; border-right:1px solid black;text-align:center;font-size:12px;font-family:Arial;" valign="top" width="14%">
				          <div style="text-decoration:underline;font-family:Arial;font-size:12px;margin-top:5px;">
				          {{i18n.trailerLoader}}:</div>
				          <div style="margin-top:5px;margin-left:5px;text-align:left;font-size:12px;">
				          	<img alt="" src="/Sync10/administrator/imgs/print/cha.jpg">
				          	{{i18n.byShipper}}
				          </div>
				          <div style="margin-top:5px;margin-left:5px;text-align:left;font-family:Arial;font-size:12px;">
				            <p><img alt="" src="/Sync10/administrator/imgs/print/kongcha.jpg">{{i18n.byDriver}}</p>
				          </div>
				        </td>
				        <td style="border-bottom:1px solid black; border-right:1px solid black;text-align:center;font-size:12px;font-family:Arial;" valign="top" width="16%">
				          <div style="text-decoration:underline;font-family:Arial;font-size:12px;margin-top:5px;">
				          {{i18n.freightCounted}}:</div>
				          <div style="margin-top:5px;margin-left:5px;text-align:left;font-family:Arial;font-size:12px;">
				          <img alt="" src="/Sync10/administrator/imgs/print/cha.jpg">
				          {{i18n.byDriverPieces}}
				          </div>
				          <div style="margin-left:5px;margin-top:12px;font-family:Arial;font-size:12px;">{{i18n.noShipperLoaderCount}}</div>
				        </td>
				        <td id="carrierSign" style="border-bottom:1px solid black;border-right:1px solid black;" valign="top" width="36%">
				          <div style="font-weight: bold;font-family:Arial;font-size:12px;margin-left:5px;margin-top:5px;">
				          	{{i18n.carrierSignaturePickUpDate}}
				          </div>
				          <div style="font-size:7px;font-family:Arial;margin-left:5px;margin-right:5px;">
				          	{{i18n.carrierDescripation}}
						  </div>
				          <div style="font-style: italic;font-size:9px;font-weight: bold;margin:5px 5px 0px 5px;font-family:Arial;">
				          	{{i18n.propertyDescribed}}
				          </div>
				        <div id='{{datas.entryId}}_{{datas.door_id}}_{{datas.bol_id}}_2' style="border-bottom:1px solid black;font-family:Arial;font-size:12px; height:70px;  ">
				              		  <div style="float:left; margin-left:5px;">
				              		  {{#if datas.relative}}
										<img class="carrier_image" src="http://192.168.1.11/Sync10/{{datas.relative.carrier_relative_file_path}}" width="150px" height="70px" />
										{{/if}}
				              		  </div>

				          		 <div style="float:right;padding-top:50px;font-size:10px;" >&nbsp;&nbsp;
				          			&nbsp;&nbsp; 
				          		</div>
				          </div>
				          <div style="font-size:12px;font-family:Arial;margin-left:5px;">
				          	<div style="float:left; margin-right:50px;">Signature/ Print Name</div> 
				          	<div style="float:right; margin-right:60px;" >Date</div>			      
				          </div>
				          <div>&nbsp;</div>
				          <div style="font-weight: bold;font-family:Arial;font-size:12px;margin-left:5px;"> 
				          	  <div style="float:left; width:100%">
								<span style="font-style: italic;font-size:10px;font-weight: normal;">{{i18n.gateIn}}:&nbsp;
									  	{{datas.equipmentCheckDateMap.gateInDate}}
								</span>&nbsp;&nbsp;&nbsp;&nbsp;
								<span style="font-style: italic;font-size:10px;font-weight: normal;">{{i18n.windowIn}}:&nbsp;
										{{datas.equipmentCheckDateMap.windowInDate}}
								</span>
				             </div>
				             <div style="float:left; width:100%">
								<span style="font-style: italic;font-size:10px;font-weight: normal;">{{i18n.dockIn}}:&nbsp;
									  	{{datas.equipmentCheckDateMap.dockInDate}}
								</span>&nbsp;&nbsp;&nbsp;&nbsp;
								<span style="font-style: italic;font-size:10px;font-weight: normal;">{{i18n.dockClose}}:&nbsp;
									  	{{datas.equipmentCheckDateMap.dockOutDate}}
								</span>
				             </div>				        	
				          </div>
				        </td>
				      </tr>
				    </tbody></table>
	        </td>
	      </tr>
			<!-- ################################################ -->
	    </tbody>
	</table>
    </div>
    
<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ --> 
	<div id="a4">
		<table  cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tbody><tr>
	        <td colspan="8" align="left" valign="top" bgcolor="#000000"  height="19">
	          <div style="background-color:#000; color:#FFF;font-size:12px;font-family:Arial; font-weight:bold;" align="center">
	          	{{i18n.customerOrderInformation}}
	          </div>
	        </td>
	      </tr>
	      <tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center"  width="24%">{{i18n.customerOrderNumber}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center" width="12%">{{i18n.pkgs}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center" width="12%">{{i18n.weight}}</td>
	        <td colspan="2" style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center"><span style="font-weight:bold;">{{i18n.palletSlip}}</span><br><span style="font-size: 9px;">({{i18n.circleOne}})</span></td>
	        <td colspan="3" style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{i18n.additionalShipperInfo}}</td>
	      </tr>
	      {{#if datas.orderList.order}}
	      {{#each datas.orderList.order}}
	      <tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center"  width="24%">
	        	{{this.waybill_id}}
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center" width="12%">
	        	{{this.totalPackage}}
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center" width="12%">
	        	{{this.weightPackage}}
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center" width="6%">Y</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center" width="6%">N</td>
	        <td colspan="3" style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">	
	        </td>
	      </tr>
	      {{/each}}	
	      {{/if}} 
	      <tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF" height="15">{{i18n.grandTotal}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF">
	        	{{datas.orderList.orderCount}}
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF">
				{{datas.orderList.orderWeight}}
	        </td>
	        <td colspan="5" style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" bgcolor="#999999">&nbsp;</td>
	      </tr>
	    </tbody></table>
	</div>

 {{#xifCond datas.pltOrpckMap.total '6' '>'}}
	 <div id="a5">
      <!-- CARRIER INFORMATION -->
      
       <table cellpadding="0" cellspacing="0" border="0" width="100%">
	     <thead>
	      <tr>
	        <td colspan="9" style="color:#FFF;font-size:12px;font-family:Arial;" align="center" bgcolor="#000000" height="19" valign="top">
	           {{i18n.carrierInformation}}
	        </td>
	      </tr>     
	      <tr>
	        <td colspan="2" style="font-weight:bold;font-size:12px;font-family:Arial;border-left:1px black solid;border-bottom:1px black solid;" align="center">{{i18n.handling}} <br>{{i18n.util}}</td>
	        <td colspan="2" style="font-weight:bold;font-size:12px;font-family:Arial;border-left:1px black solid;border-bottom:1px black solid;" align="center">{{i18n.packages}}</td>
	        <td rowspan="2" style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%"><span style="font-weight:bold"><span style="font-weight:bold">WEIGH</span>T</span></td>
	        <td rowspan="2" style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%">H.M.<br>(X)</td>
	        <td rowspan="2" style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial; " align="center" width="38%"><span style="font-weight:bold">COMMODITY DESCRIPTION</span><br>
	        <span style="font-family:Arial;font-size:7px; padding-left:5px;padding-right:5px;">{{i18n.commDescripation}}</span>
			</td>
	        <td colspan="2" style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center">{{i18n.ltlOnly}}</td>
	      </tr>
	      <tr>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="7%">{{i18n.qty}}</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%">{{i18n.type}}</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="7%">{{i18n.qty}}</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%">{{i18n.type}}</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="9%">{{i18n.nmfc}}</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center" width="9%">{{i18n.clasz}}</td>
	      </tr>
	     </thead>  
	      <tbody>
	      {{#if datas.pltOrpckMap.pallet}}
	      {{#each datas.pltOrpckMap.pallet}}
	      <tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">
	        	1
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">Plts</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
	        	{{datas.pltOrpckMap.pallet.total_package}}
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">CTNS</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{datas.pltOrpckMap.pallet.weight}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	       	<td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
	       	
	       	</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">

	        &nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">

	        &nbsp;</td>
	      </tr>
	      {{/each}}
	      {{/if}}

	      {{#if datas.pltOrpckMap.package}}
	      {{#each datas.pltOrpckMap.package}}
	     	<tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">
	        	0
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">Plts</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
	        	1
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">CTNS</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{datas.pltOrpckMap.package.weight}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	       	<td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
	       	
	       	</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">

	        &nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">

	        &nbsp;</td>
	      </tr>
	      {{/each}}
	      {{/if}}
	      <tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">
	        	{{datas.pltOrpckMap.palletCount}}
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
	        	{{datas.pltOrpckMap.totalPackageCount}}
	        </td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{datas.pltOrpckMap.totalWeight}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999"></td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-weight: bold;" align="center">{{i18n.grandTotal}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	      </tr>
	    </tbody>
	 </table>
	</div>
	 {{/xifCond}}
    </div>
{{/if}}