#global{min-width: 900px;}
/** 覆盖bootstrap 部分样式 **/
#global .panel{margin-bottom: 0;}
#global .row{margin-left: 0;margin-right: 0;}


.operationbar
{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.info-box {width:100%;}
.info-box .info-title { line-height:40px;  margin:5px 0 0 0; background-color:#B1AFFC; }
.info-box .info-title .title{ margin-left:20px;}
.info-box .info-title .handle{ margin-right:20px; cursor:pointer;}
.info-box .info-body { padding:10px;}

/** ------------------------------------------ **/
.namestyle{width: 120px;padding-right: 5px;text-align: right;margin-bottom: 10px;}
.valuestyle{text-align: left;padding-right: 15px}
#condition{margin-bottom: -1px;}

.form-label{width: 80px;}
#reaultData .form-title{position: relative;}
#reaultData .opbar{position: absolute;z-index: 222;right: 10px;top: 3px}
/**
#data{height: 400px;overflow-y: scroll;overflow-x: hidden;padding-top: 15px;}
**/
#quickChoose{height: 400px;padding-top: 20px;}
#condition .hours{width: 100px;}
#condition .to{border-left: 0;border-right: 0}

.disabledLink{
	color: #999;
}