body{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.bol .panel>.panel-body{
	padding: 5px;
}
.bol .btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}
.bol .btn-default:hover{
	background-color: #e0e0e0;
	background-position: 0 -15px;
}
.bol .table{
	font-size: 12px;
	margin-bottom: 0px;
}
.bol .table>thead>tr>th{
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #333;
	background-color: #f5f5f5;
}
.bol .table>tbody>tr>td{
	text-align: center;
	height: 80px;
	vertical-align: middle;
}
.bol .table>tbody>tr>td:first-child{
	text-align: left;
}
.bol .table>tbody>tr>td:last-child{
	width: 20%;
}
.bol .table>tbody>tr:nth-child(even){
	background:#f9f9f9;
}

.bol .table>tbody>tr:hover{
	background: #E6F3C5 ;
}

.bol .table .no-data{
  text-align: center;
  line-height: 180px;
  height: 180px;
  background: #E6F3C5;
  border: 1px solid silver;
}
.bol .btn-default:hover,.bol .btn-default:focus {
	background-color: #e0e0e0;
	background-position: 0 -15px;
}
.bol .btn{padding: 6px 10px;}