<div class="row">
	<div class="form-group col-md-6">
		<div class="input-group">
			<input id="Search_Key" type="text" class="form-control min-200" data-ui-autocomplete="" value="{{oid}}">
			<div class="input-group-btn">
				<button id="eso_search" class="btn btn-info" type="button" style="width: 120px">Go!</button>
			</div>
		</div>
	</div>
</div>
<!-- <div id="easy_search_father">
	<div id="easy_search">
		<img id="eso_search" src="./imgs/easy_search_2.png" width="70" height="60" border="0" />
	</div>
</div>
<table width="485" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="418">
			<div class="search_shadow_bg">
				<input name="search_key" type="text" class="search_input form-control" style="font-size: 17px; font-family: Arial; color: #333333" id="search_key" />
			</div>
		</td>
		<td width="67"></td>
	</tr>
</table> -->