<div id="consignee" class="tab-pane">
	<form class="form-horizontal" role="form">
	  	<div class="form-group">
	    	<label for="consignee_name" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>Contact
	    	</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control vr" id="consignee_name" data-vr="valiConsigneeName" placeholder="Contact" value="{{consigneeInfo.CONSIGNEE_NAME}}" />
	    	</div>
	  	</div>
	  	<div class="form-group">
	    	<label for="consignee_tel" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>Phone
	    	</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control vr" data-vr="valiConsigneeTel" id="consignee_tel" placeholder="Phone" value="{{consigneeInfo.CONSIGNEE_TEL}}" />
	    	</div>
	  	</div>	
  	  	<div class="form-group">
	    	<label for="consignee_whs_id" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>Recipient
	    	</label>
	    	<div class="col-sm-4">
				<input type="text" id="consignee_whs_id" class="form-control immybox immybox_witharrow vr" placeholder="Name" title="" data-vr="valiConsigneeWhsId"  data-val="[]" data-name="[]" >	    		
	    	</div>
	  	</div>			  	
		<div class="form-group">
			<label for="consignee_country" class="col-sm-3 control-label">
				<span class="red_star">*</span>Country
			</label>
			<div class="col-sm-4">
				<input type="text" id="consignee_country" class="form-control immybox immybox_witharrow" placeholder=" Country" autocomplete="off">			  		
			</div>
		</div>
  		<div class="form-group">
	    	<label for="consignee_state" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>State
	    	</label>
	    	<div class="col-sm-4">
				<input type="text" id="consignee_state" class="form-control immybox immybox_witharrow" placeholder="State" autocomplete="off">		      	
	    	</div>
	  	</div>
	  	<div class="form-group">
	    	<label for="consignee_postcode" class="col-sm-3 control-label"> Zip </label>
	    	<div class="col-sm-4" style="padding-left: 15px; padding-right: 15px;">
	    			      	<input type="text" id="consignee_postcode" class="form-control" placeholder="Zip" value="{{consigneeInfo.CONSIGNEE_POST_CODE}}" />
	    	</div>
	  	</div>	


  	
	  	<div class="form-group">
	    	<label for="consignee_area" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>City
	    	</label>
	    	<div class="col-sm-4">
				<input type="text" id="consignee_city" class="form-control" placeholder="City" />	      		
	    	</div>
	  	</div>
	  	<div class="form-group">
	    	<label for="consignee_address" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>Address1
	    	</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="consignee_address_1" placeholder="Address1" value="{{consigneeInfo.CONSIGNEE_ADDRESS_1}}" />
	    	</div>
	  	</div>	  			  	
	  	<div class="form-group">
	    	<label for="consignee_address" class="col-sm-3 control-label">
	    		Address2
	    	</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="consignee_address_2" placeholder="Address2" value="{{consigneeInfo.CONSIGNEE_ADDRESS_2}}" />
	    	</div>
	  	</div>	  		  

	  	<div class="form-group">
	    	<label for="consignee_posttype" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>Shipment Type
	    	</label>
		    <div class="col-sm-4">
		      	<select id="consignee_posttype" class="form-control">
		      	</select>
		    </div>
	  	</div>
	  	<div class="form-group">
	    	<label for="consignee_appt" class="col-sm-3 control-label">
	    		Delivery APT
	    	</label>
	    	<div class="col-sm-4">
	      		<input type="text" id="consignee_appt" class="form-control bgiconurl_" placeholder="Delivery Appointment" />
	    	</div>
	  	</div>	  	
	  	<div class="form-group eleNone">
	    	<label for="consignee_mabd" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>MABD:
	    	</label>
	    	<div class="col-sm-4">
	      		<input class="form-control bgiconurl_" id="consignee_mabd" type="text" placeholder="" value="{{consigneeInfo.MABD}}">
	    	</div>
	  	</div>	
	  	<div class="form-group eleNone">
	    	<label for="consignee_eta" class="col-sm-3 control-label">ETA:</label>
	    	<div class="col-sm-4">
	      		<input class="form-control" id="consignee_eta" type="text" placeholder="" disabled value="{{consigneeInfo.MABD}}">
	    	</div>
	  	</div>		      
	  	<div class="form-group">
	    	<div class="col-sm-offset-3 col-sm-10">
		        <button id="previous_consignee" class="btn btn-default btn-rounded">
		            <i class="fa fa-caret-left"></i> &nbsp; Previous
		        </button>	    		
	      		<button id="next_consignee" type="button" class="btn btn-default">
	      			<i class="fa fa-caret-right"></i> &nbsp; Next
	      		</button>
	    	</div>
	  	</div>
	</form>
</div>
