<div id="fee" class="tab-pane">
	<form class="form-horizontal" role="form">
		<div class="form-group" id="feeId" data-feeid="{{feeInfo.WAYBILL_FEE_ID}}">
	    	<label for="inputEmail3" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>Freight Terms
	    	</label>
	    	<div class="col-sm-4">
				<label class="radio-inline">
				  <input type="radio" name="send_package_type" value="1" checked> Prepaid
				</label>
			  	<label class="checkbox-inline">
				  <input type="radio" name="send_package_type" value="2"> Collect
				</label>
			  	<label class="checkbox-inline">
				  <input type="radio" name="send_package_type" value="3"> Third
				</label>
	    	</div>
	    </div>
	    <div class="form-group" id="threeInfo" style="display:none">
            <div class="panel panel-default">
              	<div class="panel-heading">Bill Address</div>
              	<div class="panel-body">
                  <div class="form-group">
                      <label for="three_consignee_name" class="col-sm-2 control-label"><span class="red_star">*</span>Bill Name</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control validate" required id="three_consignee_name" placeholder="" />
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="consignee_tel" class="col-sm-2 control-label"><span class="red_star">*</span>Phone</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control validate" required id="three_consignee_tel" placeholder="" />
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="three_consignee_name" class="col-sm-2 control-label"><span class="red_star"></span>Bolto:</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control validate" required id="three_bol_to" placeholder="" />
                      </div>
                  </div>
              </div>
          </div>
  	  </div> 
	  <div class="form-group">
	    <label for="fee_account" class="col-sm-3 control-label">Monthly-payment</label>
	    <div class="col-sm-4 input-group">
	      	<input type="text" class="form-control" id="fee_account" placeholder="" value="{{feeInfo.MONTHLY_PAYMENT}}" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="fee_declared" class="col-sm-3 control-label">Declared Value</label>
	    <div class="col-sm-4 input-group">
    		<div class="input-group-addon">$</div>
	      	<input type="text" class="form-control" id="fee_declared" placeholder="" value="{{feeInfo.DECLARED_VALUE}}">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="fee_insured" class="col-sm-3 control-label">Val.lns</label>
	    <div class="col-sm-4 input-group">
    		<div class="input-group-addon">$</div>
	      	<input type="text" class="form-control" id="fee_insured" placeholder="" value="{{feeInfo.FEE_INSURED}}">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="fee_waybill" class="col-sm-3 control-label"><span class="red_star">*</span>Freight</label>
	    <div class="col-sm-4 input-group">
    		<div class="input-group-addon">$</div>
    		
	      	<input type="text" class="form-control" id="fee_waybill" placeholder="" value="{{feeInfo.FEE_WAYBILL}}">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="fee_wrap" class="col-sm-3 control-label">Package</label>
	    <div class="col-sm-4 input-group">
    		<div class="input-group-addon">$</div>
	      	<input type="text" class="form-control" id="fee_wrap" placeholder="" value="{{feeInfo.FEE_PACKAGING}}">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="fee_other" class="col-sm-3 control-label">Other</label>
	    <div class="col-sm-4 input-group">
    		<div class="input-group-addon">$</div>
	      	<input type="text" class="form-control" id="fee_other" placeholder="" value="{{feeInfo.FEE_OTHER}}">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="fee_total" class="col-sm-3 control-label"><span class="red_star">*</span>Total Charge</label>
	    <div class="col-sm-4 input-group">
    		<div class="input-group-addon">$</div>
	      	<input type="text" class="form-control" id="fee_total" placeholder="" value="{{feeInfo.FEE_TOTAL}}" />
	    </div>    
	  </div>
	  	<div class="form-group">
	    	<div class="col-sm-offset-2 col-sm-10"  id="lastOper">
		        <button id="previous_fee" class="btn btn-default btn-rounded">
		            <i class="fa fa-caret-left"></i> &nbsp; Previous
		        </button>	    		
	      		<button id="next_fee" type="button" class="btn btn-success">
	      			<span id="waybill_oper">Finish</span> &nbsp; <i class="glyphicon glyphicon-ok"></i>
	      		</button>
	    	</div>
	  	</div>		  
	</form>

</div>