<div id="items" class="tab-pane">
	<form class="form-horizontal" role="form">
		<div id="addParcelBox">
			<div id="containerParcelTable">
				<div class="info-box">
					<div class="info-title">
						<span class="title">
							ParcelList
							<button class="btn btn-primary parcelQuantity" type="button">
								Items<span class="badge" id="itemQuantity"></span>
							</button>								
						</span>
						<span class="handle pull-right" id="listMinus"><i class="glyphicon glyphicon-minus"></i></span>
					</div>
					<div class="info-body">
						<div class="container" id="pacielList" style="margin-bottom:20px;"></div>
					</div>
				</div>

			</div>
			<div id="containerAddParcel">
				<div class="info-box">
					<div class="info-title">
						<span class="title">
							Add Parcel								
						</span>
						<span id="addPaciel" class="handle pull-right"><i class="glyphicon glyphicon-plus"></i></span>
					</div>
					<div class="info-body">
							<div class="items">
								<div class="form-group">
									<label for="item_content" class="col-sm-3 control-label"><span class="red_star">*</span>Description Of Goods</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" id="item_content" value="{{itemInfo.CONTENT}}">
									</div>

								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label"><span class="red_star"></span>Volume</label>
									<div>
										<div class="col-sm-9 form-inline">
											<div class="col-sm-3 input-group">
												<div class="input-group-addon">Length</div>
												<input name="item_length" class="form-control col-sm-2" type="text" value="{{itemInfo.LENGTH}}" />
											</div>
											<div class="col-sm-3 input-group">
												<div class="input-group-addon">Width</div>
												<input name="item_width" class="form-control col-sm-2" type="text" value="{{itemInfo.WIDTH}}" />
											</div>
											<div class="col-sm-3 input-group">
												<div class="input-group-addon">Height</div>
												<input name="item_height" class="form-control col-sm-2" type="text" value="{{itemInfo.HEIGHT}}" />
											</div>
											<div class="col-xm-2 input-group">
												<select name="item_vunit" id="item_vunit"class="form-control">
													<option value="1">m</option>
													<option value="2">cm</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group  weightGroup" style="display: none;">
									<label for="subWeight" class="col-sm-3 control-label"><span class="red_star">*</span>Weight</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" name="subWeight">
									</div>
									<div class="col-xm-2 input-group">
										<select name="item_wunit" id="item_wunit"class="form-control">
											<option value="1">g</option>
											<option value="2">kg</option>
										</select>
									</div>							
								</div>		  
							</div>
							<div class="form-group">
								<label for="item_actual_weight" class="col-sm-3 control-label"><span class="red_star">*</span>Actual Weight</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="item_actual_weight"name="item_actual_weight" value="{{itemInfo.WEIGHT}}" />
								</div>
								<div class="col-xm-2 input-group">
									<select name="item_actual_wunit" id="item_actual_wunit" class="form-control">
										<option value="1">g</option>
										<option value="2">kg</option>
									</select>
								</div>		    
							</div>
							<div class="form-group">
								<label for="item_fee_weight" class="col-sm-3 control-label">Charged Weight</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="item_fee_weight" disabled value="{{itemInfo.WEIGHT}}" />
								</div>
								<div class="col-xm-2 input-group">
									<select name="item_fee_wunit" id="item_fee_wunit" class="form-control" disabled>
										<option value="1">g</option>
										<option value="2">kg</option>
									</select>
								</div>		    
							</div>
							<div class="special_property">
								<div class="form-group">
									<label for="item_property" class="col-sm-3 control-label">Properties</label>
									<div class="col-sm-5">
										<label class="checkbox-inline"  >
											<input type="checkbox" id="property_whe" name="item_property" value="3"><label for="property_whe">WHE</label>
										</label>
										<label class="checkbox-inline" >
											<input type="checkbox" id="property_ele" name="item_property" value="4"><label for="property_ele">ELE</label>
										</label>
										<label class="checkbox-inline" >
											<input type="checkbox" id="property_tir" name="item_property" value="5"><label for="property_tir">TIR</label>
										</label>
									</div>
								</div>
								<div class="form-group" id="setQuantity">
									<label for="item_quantity" class="col-sm-3 control-label">Quantity</label>
									<div class="col-sm-2">
										<input type="number" class="form-control" id="item_quantity" value="">
									</div>

								</div>			
								<div id="parcelType" class="form-group">
									<label class="col-sm-3 control-label">
										<span class="red_star">*</span>Parcel Type
									</label>
									<div class="col-sm-4">
										<label class="radio-inline">
											<input type="radio" name="parcel_type" class="parcelTypeEle" value="1" checked> Parcel
										</label>
										<label class="checkbox-inline">
											<input type="radio" name="parcel_type" class="parcelTypeEle" value="2"> Pallet
										</label>
									</div>
									<a class="btn btn-success" id="addItems" href="#">
										<i class="fa fa-floppy-o"></i> <span id="addText">Save<span>
									</a>
								</div>

								<div class="form-group" id="palletType">
									<label for="item_plate" class="col-sm-3 control-label">Pallet Type</label>
									<div class="col-sm-4">
										<input type="text" name="item_plate" id="item_plate" class="form-control immybox immybox_witharrow" placeholder="Pallet Type" autocomplete="off">		
									</div>
								</div>	  
							</div>
					</div>								
				</div>

			</div>			
		<!-- 		<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">

						</a>
					</div>
					<div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
						<div class="accordion-inner">
							<button class="btn btn-primary" type="button">
								Items	 <span class="badge" id="itemQuantity"></span>
							</button>	      	

							<a class="btn btn-danger" id="minusItems" href="#">
								<i class="fa fa-trash-o fa-lg"></i> Delete
							</a>
						</div>
					</div>				

				</div> -->


<!-- 		  	<div class="form-group">
		    	<div class="col-sm-offset-2 col-sm-10">
			        <button id="previous_packages" class="btn btn-default btn-rounded">
			            <i class="fa fa-caret-left"></i> &nbsp; Previous
			        </button>	    		
		      		<button id="next_packages" type="button" class="btn btn-default">
		      			<i class="fa fa-caret-right"></i> &nbsp; Next
		      		</button>
		    	</div>
		  	</div>	 -->
	  	</div>
	</form>
</div>