<div id="packages" class="tab-pane">
	<form class="form-horizontal" role="form">
	  	<div id="quantityType" class="btn-group" role="group" aria-label="Large button group">
      		<button type="button" id="oneItem" class="btn btn-default active">单件</button>
      		<button type="button" id="moreItem" class="btn btn-default">多件</button>
   	    </div>		
  	  	<div class="form-group" id="itemsInfo" style="display:none">
  	  		<fieldset id="itemList">
  	  			<legend>
					<button class="btn btn-primary" type="button">
						货物信息&nbsp;<span class="badge" id="itemsNumber">1</span>
					</button>
					<a class="btn btn-warning addMargin" id="addItems" href="#">
					  	<i class="fa fa-plus fa-lg"></i> Add
					</a>
					<div class="btn-group">
					  	<a class="btn btn-default"  id="itemDetails" href="#">
					  		Details <i class="fa fa-angle-double-down"></i>
					  	</a>
					</div>						
				</legend>
  	  		</fieldset>
	  	</div>
	  <div class="items" >
		  <div class="form-group">
		    <label for="packages_content" class="col-sm-2 control-label"><span class="red_star">*</span>货物内容:</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" id="packages_content" value="{{itemInfo.CONTENT}}">
		    </div>
			<a class="btn btn-danger minusMargin" id="minusItems" href="#" style="display:none;">
				<i class="fa fa-trash-o fa-lg"></i> Delete
			</a>	
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label"><span class="red_star">*</span>货物体积:</label>
		    <div>
		      	<div class="col-sm-8 form-inline">
				    <div class="col-sm-3 input-group">
				    	<div class="input-group-addon">长</div>
				      	<input name="packages_length_all" class="form-control" type="text" value="{{itemInfo.LENGTH}}" />
				    </div>
				    <div class="col-sm-3 input-group">
				    	<div class="input-group-addon">宽</div>
				      	<input name="packages_width_all" class="form-control" type="text" value="{{itemInfo.WIDTH}}" />
				    </div>
				    <div class="col-sm-3 input-group">
						<div class="input-group-addon">高</div>
				      	<input name="packages_height_all" class="form-control" type="text" value="{{itemInfo.HEIGHT}}" />
				    </div>
				    <div class="col-xm-2 input-group">
					    <select name="packages_vunit_all" class="form-control">
						  <option value="1">m</option>
						  <option value="2">cm</option>
						</select>
					</div>
				</div>
		    </div>
		  </div>
			<div class="form-group  weightGroup" style="display: none;">
				<label for="subWeight" class="col-sm-2 control-label"><span class="red_star">*</span>重量:</label>
				<div class="col-sm-4">
				  <input type="text" class="form-control" name="subWeight">
				</div>
				<div class="col-xm-2 input-group">
					<select name="packages_wunit_all" class="form-control">
					  <option value="1">g</option>
					  <option value="2">kg</option>
					</select>
				</div>							
		  </div>		  
	  </div>
	  <div class="form-group">
	    <label for="packages_actual_weight" class="col-sm-2 control-label"><span class="red_star">*</span>实际重量:</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control" id="packages_actual_weight"name="packages_actual_weight" value="{{itemInfo.WEIGHT}}" />
	    </div>
		<div class="col-xm-2 input-group">
			<select name="packages_actual_wunit" id="packages_actual_wunit" class="form-control">
			  <option value="1">g</option>
			  <option value="2">kg</option>
			</select>
		</div>		    
	  </div>
	  <div class="form-group">
	    <label for="packages_fee_weight" class="col-sm-2 control-label">计费重量:</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control" id="packages_fee_weight" disabled value="{{itemInfo.WEIGHT}}" />
	    </div>
		<div class="col-xm-2 input-group">
			<select name="packages_fee_wunit" id="packages_fee_wunit" class="form-control" disabled>
			  <option value="1">g</option>
			  <option value="2">kg</option>
			</select>
		</div>		    
	  </div>
		<div class="special_property">
			<div class="form-group">
				<label for="packages_property" class="col-sm-2 control-label">货物属性:</label>
				<div class="col-sm-5">
					<label class="checkbox-inline">
					  <input type="checkbox" name="packages_property" value="1"> 单层码放
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" name="packages_property" value="2"> 易碎
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" name="packages_property" value="3"> WHE
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" name="packages_property" value="4"> ELE
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" name="packages_property" value="5"> TIR
					</label>
				</div>
			</div>
			<div class="form-group package_type" data-count="0">
				<label class="col-sm-2 control-label"><span class="red_star">*</span>包装类型:</label>
				<div class="col-sm-4">
					<label class="radio-inline">
					  	<input type="radio" name="package_type" class="selPackageType" value="1" checked> 包裹
					</label>
					<label class="checkbox-inline">
					  <input type="radio" name="package_type" class="selPackageType" value="2"> 托盘
					</label>
				</div>
			</div>
			<div class="form-group eleNone">
				<label for="packages_plate_all" class="col-sm-2 control-label">选择托盘:</label>
				<div class="col-sm-4">
					<select name="packages_plate_all" class="form-control">
					  <option value="-1">请选择</option>
					</select>

				</div>
				<label class="col-sm-2" style="display:none"> 
					<a class="btn btn-warning addMargin" id="createPallet" href="#">
				  		<i class="fa fa-plus fa-lg"></i> Create Pallet
					</a>
				</label>
			</div>	  
		</div>
	  	<div class="form-group">
	    	<div class="col-sm-offset-2 col-sm-10">
		        <button id="previous_packages" class="btn btn-default btn-rounded">
		            <i class="fa fa-caret-left"></i> &nbsp; 上一步
		        </button>	    		
	      		<button id="next_packages" type="button" class="btn btn-default">
	      			<i class="fa fa-caret-right"></i> &nbsp; 下一步
	      		</button>
	    	</div>
	  	</div>		
	</form>
</div>