<div id="filtertable" class="filter">
	<div id="subFilter">
		<div class="row">
			<div class="form-group col-sm-2">
				<div class="input-group">
					<div class="input-group-addon" >{{ci.shipperStorage}}</div>
					<input id="shipFrom" type="text" class="form-control" placeholder="{{ci.shipperStorage}}">
				</div>
			</div>
			<div class="form-group col-sm-2"> 
				<div class="input-group">
					<div class="input-group-addon">{{ci.consigneeStorage}}</div>
					<input id="retailer" type="text" class="form-control immybox immybox_witharrow" placeholder="{{ci.consigneeStorage}}">
				</div>
			</div>
			<div class="form-group col-sm-2">
				<div class="input-group">
					<div class="input-group-addon">{{ci.freightTerms}}</div>
					<input id="payment" type="text" class="form-control immybox immybox_witharrow" placeholder="{{ci.freightTerms}}">
				</div>
			</div>
			<div class="form-group col-sm-2">
				<div class="input-group">
					<div class="input-group-addon">{{ci.status}}</div>
					<input id="status" type="text" class="form-control immybox immybox_witharrow" placeholder="{{ci.status}}">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-2">
				<div class="input-group">
					<div class="input-group-addon">{{ci.shipmentType}}</div>
					<input id="customer" type="text" class="form-control immybox immybox_witharrow" placeholder="{{ci.shipmentType}}">
				</div>
			</div>
			
			<div class="form-group col-sm-5">
				<div class="input-group">
					<div class="input-group-btn">
				        <button type="button" class="btn btn-default dropdown-toggle longButton" data-toggle="dropdown" aria-expanded="false">
				        	<span id="timeType" data-value="orderDate">{{ci.waybillDate}}</span>
				        </button>
				     </div>
					<input id="startTime" type="text" class="form-control " placeholder="{{ci.startTime}}" style="border-right:0;background-color: #fff !important;cursor: pointer;" value="{{startTime}}"/>
					<div class="input-group-addon">~</div>
					<input id="endTime" type="text" class="form-control " placeholder="{{ci.endTime}}" style="border-left:0;background-color: #fff !important;cursor: pointer;" value="{{endTime}}">
				</div>
			</div>  
			<div class="form-group col-sm-2">
				<button id="SearchTabBtn" type="button" class="btn btn-default btn-info" >{{ci.filter}}</button>
			</div>
		</div>
	</div>
</div>

