<div id="shipper" class="tab-pane">
	<form class="form-horizontal" role="form">
		<div class="form-group">
	    	<label for="shipper_contact" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>Contact
	    	</label>
	    	<div class="col-sm-5">
	      		<input type="text" id="shipper_contact" class="form-control" placeholder="Contact" value="{{shipperInfo.SHIPPER_CONTACT}}">
	    	</div>
	  	</div>
	  	<div class="form-group">
	    	<label for="shipper_tel" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>Phone
	    	</label>
		    <div class="col-sm-5">
		      	<input type="text" id="shipper_tel" class="form-control vr"  placeholder="123-456-7890" value="{{shipperInfo.SHIPPER_TEL}}" data-vr="valiShipperTel" />
		    </div>
	  	</div>
		<div class="form-group">
	    	<label for="shipper_name" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>Shipper
	    	</label>
	    	<div class="col-sm-5">
	      		<input type="text" id="shipper_name" class="form-control vr" placeholder="Shipper" value="{{shipperInfo.SHIPPER_NAME}}" data-vr="valiShipperName">
	    	</div>
	  	</div>		

		<div class="form-group">
			<label for="shipper_country" class="col-sm-3 control-label">
				<span class="red_star">*</span>Country
			</label>
			<div class="col-sm-4">
				<input type="text" id="shipper_country" class="form-control immybox immybox_witharrow" placeholder="Country" autocomplete="off">			  		
			</div>
		</div>
  		<div class="form-group">
	    	<label for="shipper_state" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>State
	    	</label>
	    	<div class="col-sm-4">
				<input type="text" id="shipper_state" class="form-control immybox immybox_witharrow" placeholder="State" autocomplete="off">		      	
	    	</div>
	  	</div>
	  	<div class="form-group">
	    	<label for="shipper_postcode" class="col-sm-3 control-label">Zip </label>
	    	<div class="col-sm-4" style="padding-left: 15px; padding-right: 15px;">
				<input type="text" id="shipper_postcode" class="form-control" placeholder="Zip" value="{{consigneeInfo.SHIPPER_POST_CODE}}" />
	    	</div>
	  	</div>		  	
	  	<div class="form-group">
	    	<label for="shipper_address" class="col-sm-3 control-label">
	    		<span class="red_star">*</span>Address1
	    	</label>
	    	<div class="col-sm-5">
	      		<input type="text" id="shipper_address_1" class="form-control" placeholder="Address1" value="{{shipperInfo.SHIPPER_ADDRESS_1}}" data-vr="valiShipperAdd1" />
	    	</div>
	  	</div>	  	
	  	<div class="form-group">
	    	<label for="shipper_address" class="col-sm-3 control-label">
	    		Address2
	    	</label>
	    	<div class="col-sm-5">
	      		<input type="text" id="shipper_address_2" class="form-control vr" placeholder="Address2" value="{{shipperInfo.SHIPPER_ADDRESS_2}}" />
	    	</div>
	  	</div>
	  	<div class="form-group">
	    	<label for="shipper_appt" class="col-sm-3 control-label">
	    		Pickup APT
	    	</label>
	    	<div class="col-sm-5">
	      		<input type="text" id="shipper_appt" class="form-control bgiconurl_" placeholder="Pickup Appointment" value="{{shipperInfo.SHIPPER_APPT}}"  />
	    	</div>
	  	</div>	  	
	  	<div class="form-group">
	    	<label for="shipper_remark" class="col-sm-3 control-label">Remark</label>
	    	<div class="col-sm-5">
	      		<input type="text" id="shipper_remark" class="form-control" placeholder="Remark" value="{{shipperInfo.CONTENT}}">
	    	</div>
	  	</div>
	  	<div class="form-group">
	    	<div class="col-sm-offset-2 col-sm-4">
	      		<button id="next_shipper" type="button" class="btn btn-default">
	      			<i class="fa fa-caret-right"></i> &nbsp; Next
	      		</button>
	    	</div>
	 	</div>
	</form>
</div>