#new_task_content #storage_list_box, #new_task_content #title_list_box,#new_task_content #user_list_box{display: inline;width:auto;}

#new_task_content #toc_warehouse{float:left;width:350px;margin-bottom: 10px;}
#new_task_content #toc_warehouse label{width:140px;text-align: right;padding-right: 5px;}
#new_task_content #toc_title label{width:100px;text-align: right;padding-right: 5px;}
#new_task_content #toc_title{float:left;width:300px;margin-bottom: 10px;}
.clear{clear: both;}
#new_task_content #toc_area,#new_task_content #users_body,#new_task_content #deadline_body,#new_task_content #create_task_body {padding-top: 20px;}
#new_task_content .task_box{width:240px;float:left;margin:5px;padding:5px;}
#new_task_content .task_box_unselected{background-color: #e5e5e5;border: 1px solid #c9d2dc;}
#new_task_content .task_box_selected{background-color: #E6F3C5;border: 1px solid #c9d2dc;}
#new_task_content .task_header{color:#444;text-align: center;padding:5px; font-weight: bold;}
#new_task_content .task_body{padding:5px 10px;border: 1px solid #b3b6ba;background-color: #fff;height:300px; overflow-y:scroll; }
#new_task_content .task_box label{padding-left: 5px;font-weight: normal;}
#new_task_content .select_all {text-align: left;padding-left: 10px;}
#new_task_content .select_all label{margin:0px;}
#new_task_content #error_block{margin:5px;padding:10px; text-align:center;background-color:#eee;border:1px solid #444;display: none;}
#new_task_content .no_data{margin:5px;padding:10px; text-align:center;background-color:#eee;border:1px solid #444;}
#new_task_content #area_filter_box {/*border:1px solid #666;background-color: #efefef;*/}
#new_task_content #area_filter_box .header{padding: 4px; text-align: center;vertical-align: middle;}
#new_task_content #area_filter_box input{color:#444;}
#new_task_content #area_filter_box .header label{margin: 0px;}
#new_task_content #area_filter_box .body{padding:10px;}


#new_task_content .disabled a{color:#ccc;cursor:default;text-decoration: none;}
#new_task_content .disabled a:hover{color:#ccc;cursor:default;text-decoration: none;}

#new_task_content #deadline_body input[type="text"]{height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;
background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}

#new_task_content #selected_area_header{background-color: #545a5f; border:1px solid #80878e ; color:#fff;padding:5px;text-align: center;}
#new_task_content #selected_user_area_header{background-color: #545a5f; border:1px solid #80878e ; color:#fff;padding:5px;text-align: center;}
#new_task_content #nav_wizard{padding:2px; text-align: center; vertical-align: middle; margin-bottom: 5px;}
#new_task_content #nav_wizard a{display: inline-block;padding:5px 10px; border:1px solid #dcdcdc; text-decoration: none; background-color: #eaeaea;color:#999;}
#new_task_content .wizard_arrow{vertical-align:middle;background: url('../img/arrow.png') left center; width: 25px;height: 25px;display: inline-block;}
#new_task_content #nav_wizard a.selected{cursor:text; background-color:#E6F3C5;border-color:#9FB95E; color: #9FB95E;}
#new_task_content #nav_wizard a.visited{border-color: #398439;color:#fff;background-color: #449d44;cursor: text;}
#new_task_content #nav_wizard a.inactive{cursor: not-allowed;}


#new_task_content #inventory_task_header{/*background-color: #f5f5f5;padding:10px 15px;border-color: #ddd;*/font-weight: bold;}

#new_task_content .ui-widget-header{background: #f5f5f5;border-color:#ddd;}
/*.ui-widget-content{box-shadow: 3px 3px 4px #888888;}*/
#new_task_content .Inventory_body .panel{box-shadow: 2px 2px 4px #888888;}
#new_task_content .Inventory_body .panel-heading{padding:5px 15px;}

#new_task_content #users_body .header,#new_task_content #deadline_body .header{font-size: 14px;font-weight: bold;}

#new_task_content #toc_area .panel-heading .titleinputlable{width:300px;}
#new_task_content #start_date,#new_task_content #end_date{cursor: pointer;}
#new_task_content #toc_area .panel-heading .row{width:auto;}
#new_task_content #toc_area .ptopfoot5px{text-align: center;}
#new_task_content #toc_area .ptopfoot5px .panel_topleft_box{float:left;}
#new_task_content #next_assign_user_div,#new_task_content #back_area_selection,#new_task_content  #create_task_link,#new_task_content #back_date_selection,
#new_task_content #next_date_selection_div,#new_task_content #back_user_selection{font-weight:bold;display:inline-block;
	float:right;line-height: 25px;height:25px;vertical-align: middle; width:150px;text-align: right;text-decoration: none; }
#new_task_content #back_area_selection, #new_task_content #back_user_selection, #new_task_content #back_date_selection{float:left;text-align: left;text-decoration: none;vertical-align: middle;}
#new_task_content .assign_user_header{float:left; margin-right: auto;margin-left: auto;width:200px;}
#new_task_content #next_assign_user_div{margin-top: 5px;}

.selected_employee {
border-color: #ccc;
border-color: rgba(82,168,236,.8);
outline: 0;
outline: thin dotted \9;
-webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
box-shadow: 0 0 8px rgba(82,168,236,.6);
}
.employee_box{display: inline-block; background:#f5f5f5 url('../img/user.png') left center no-repeat; cursor:pointer; 
			border: 1px solid #c9d2dc;padding:5px;padding-left: 30px;width:230px;float:left;margin:5px;}
.group_box{background:#f5f5f5 url('../img/group.png') left center no-repeat;}
.group_box_div{border-bottom: 1px solid #bbb;padding-bottom: 5px;margin-bottom: 5px;}
.employee_name{padding:5px;background-color: #fefefe;}
#new_task_content #users_body .employee_box_div{max-height: 250px; overflow-y:auto;}
.selected_employee .employee_name{background-color: #f5f5f5;color:#000;}

#new_task_content .next{background: url('../img/arrow-next.png') right center no-repeat;height:25px;padding-right:30px;color:#225485; cursor:pointer;text-decoration: none;}
#new_task_content .disabled .next{background: url('../img/arrow-next-disabled.png') right center no-repeat;height:25px;padding-right:30px;}
#new_task_content .previous{background: url('../img/arrow-prev.png') left center no-repeat;height:25px;padding-left:30px; color:#225485;cursor: pointer;text-decoration: none;}
#new_task_content .next:hover{text-decoration: none;}
#new_task_content #deadline_body dt,dd{font-size: normal,line-height:normal;}
#new_task_content #deadline_body button{padding:0px;margin:2px;}
#new_task_content #deadline_body .ui-widget-content{box-shadow: none;}
#new_task_content #ui-datepicker-div dt,dd,.ui-widget {font-size: normal;font-weight: normal}

#new_task_content #show_selected_areas_only,#new_task_content #show_all_areas_only{margin-left: 20px; margin-top: 5px;float:left;}

#new_task_content #areas_in_selection {padding-top: 20px;}
#new_task_content #areas_in_selection .panel{float:left; width: 200px; margin-right: 10px;}
#new_task_content #areas_in_selection .panel-heading{font-weight: bold;}
#new_task_content #areas_in_selection .panel-body{padding:5px 20px;}
#new_task_content #areas_in_selection .locations_block{height: 250px;overflow-y:auto;line-height: 25px;}
#new_task_content #block1,#new_task_content #block2{float:left; width:300px;}
#new_task_content .title{width: 100px; float: left;font-weight: bold;}
#new_task_content #create_btn_div{padding-left: 100px;}


#new_task_content .div-table{display: table;}
#new_task_content .div-table-row{display: table-row;}
#new_task_content .div-table-cell{display: table-cell;padding:2px 10px;}
#new_task_content .div-table-row .right{text-align: right;width:130px;background-color: #f5f5f5;border:1px solid #fff;}

#new_task_content #date_table input[type="text"]{height: 24px;padding: 1px 2px;width:100px; font-size: 12px;line-height: 1;color: #555;background-color: #fff;
background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
#new_task_content #date_table #occ input[type="text"]{width:40px;}
#new_task_content #repeating_div, #new_task_content #Weekly_table, #new_task_content #Monthly_table{display: none;}
#new_task_content #repeating_div select,#new_task_content  #task_duration_div select{height: 24px;padding: 1px 2px;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
#new_task_content #repeat_options{width:100px;}
#new_task_content #ends_table label,#new_task_content #name_of_date_table label,#new_task_content #is_blind_checkbox_div label{font-weight: normal;font-size: normal}
#new_task_content input[type="radio"]{padding-right: 5px;}

#new_task_content .Inventory_filter .btn-primary{margin-top: 5px; padding:2px 6px;}
#new_task_content .iToggle span.label{font-size: 14px;font-weight: 100;border-radius: 0px;background-color: #eaeaea; color:#999;}
#new_task_content .iToggle span.selected{ color:#fff;background-color: #2a6496;
}
#new_task_content .iToggle .slider {background-image: none;background-color: none;}
#new_task_content #task_order_content{width:1050px;overflow: hidden;}
#new_task_content #all_container{width:1020px;overflow:hidden;}
#new_task_content #all_container2{width:5000px;position: relative;}
#new_task_content #toc_area, #new_task_content #toc_selected_area, #new_task_content #users_body, #new_task_content #deadline_body,#new_task_content #create_task_body{float:left;width:1020px;position: relative;left:0px; top:0px;}

#inventory_task_header .left{padding-top: 5px;float:left;}
#back-buttons-div{float:right;}
