body{padding:5px;}
label{cursor: pointer;}
.clear{clear: both;}
.div-table{display: table;}
.div-table-row{display: table-row;}
.div-table-cell{display: table-cell;padding:5px 5px;vertical-align: top;}
.div-table-cell label{margin-bottom: 0px;}
.div-table-row .right{text-align: right;width:100px;}
#search-panel .right{height:44px;vertical-align: middle;line-height:30px;}
#task_order_content{width:1050px;}
#new_task_content{display:none;width:1050px;}
#progress_task{display:none;width:1050px;}
#task_order_content .panel-heading{font-weight: bold;}
.hidden{display: hidden}
.div-table-cell .div-table-cell{padding:0px;}
input[type="text"]{height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;
background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}

#search_btn_div{padding-left: 20px;}
#search_box{padding: 5px;}
#search-panel{margin-bottom: 10px;}
.search-panel .panel-heading{padding:5px 10px;}
#tasks_list legend{display: block; width: auto;padding: 0;margin-bottom: 0px;font-size:normal;
	line-height: normal;color: none;border: none;border-bottom:none;}
#tasks_list thead{background-color: #c9d2dc}	
#tasks_list fieldset{border:2px solid #63A3E4;position: relative;border-radius: 3px;}
.lightlink {margin-left: 5px 0px;color: #F60;text-decoration: underline;cursor: pointer;display: inline-block;padding: 0px 5px;}
.Tractor_ulitme li :first-child{font-weight: bold;width:150px;display: inline-block;padding-right: 5px;}
.nolink{text-decoration: none;cursor:text}
.inventory_legend .div-table-cell .namestyle{display:inline-block;min-width: 80px;font-weight: bold}
.inventory_legend .div-table-cell .valstyle{display:inline-block;padding-left:10px;}
.left .valstyle{min-width:100px}
.Tractor_ulitme  .div-table-cell{padding:0px;margin-right: auto;}
.red{background-color:#ffdfdf;}
.grey{background-color:#FFFF8A;}

.selected_employee {
border-color: #ccc;
border-color: rgba(82,168,236,.8);
outline: 0;
outline: thin dotted \9;
-webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
box-shadow: 0 0 8px rgba(82,168,236,.6);
}
.employee_box{display: inline-block; background:#f5f5f5 url('../img/user.png') left center no-repeat; cursor:pointer; 
			border: 1px solid #c9d2dc;padding:5px;padding-left: 30px;width:230px;float:left;margin:5px;}
.group_box{background:#f5f5f5 url('../img/group.png') left center no-repeat;}
.group_box_div{border-bottom: 1px solid #bbb;padding-bottom: 5px;margin-bottom: 5px;}
.employee_name{padding:5px;background-color: #fefefe;} 
.employee_box_div{max-height: 250px; overflow-y:auto;}
.selected_employee .employee_name{background-color: #f5f5f5;color:#000;}
.left{float:left;}
.right{float:right;}
#manage_heading{padding-top: 5px;}

.info_table{margin-bottom: 20px;min-width: 900px;}
.info_table td{padding: 6px;}
td.labele{font-weight:bold;padding-right: 5px;}
td.val{min-width: 160px;padding-right: 30px}
#instances_area_progress{display: none;}
.instance_area_table{display: none}
#instances_table{margin-top: 20px;}
#progress_task_header .left{padding-top: 5px;float:left;}
#progress-back-buttons-div{float:right;}
#progress_task_table_div{margin: 0px auto 30px auto;min-width: 900px;}
.instance_area_table table{}
.instances_areas_table_back_div{padding-bottom: 20px}
#progress_task .panel-heading{font-weight: bold;}
#second_level_progress{padding: 10px; border:1px solid #ddd;}

#container_differences{float:left;padding-top:10px}
#location_differences_container{}
#location_differences_scroll_container{float:left;margin-right: 30px;margin-top:10px;}
#location_differences_scroll{height:420px; overflow-y:hidden;}
.scroll_up{background: url('../img/up.png') no-repeat 15px;width:120px; height:25px;margin-bottom: 8px;cursor: pointer;}
.scroll_down{background: url('../img/down.png')  no-repeat 15px;width:120px;height:25px;margin-top: 8px;cursor: pointer;}
.scroll_up:hover{background: url('../img/up_hover.png') no-repeat 15px;}
.scroll_down:hover{background: url('../img/down_hover.png') no-repeat 15px;}
#locationTabs a{padding-right: 5px;box-shadow: 3px 3px 4px #888888;margin-bottom: 7px;outline: none}
#locationTabs .approved_loc span{width:16px;background: url(../img/standard_msg_ok.gif) no-repeat;}
#locationTabs .approved_loc{background-color: #E6F3C5}
#locationTabs .done_loc{background-color: #E6F3C5}
#locationTabs .pending_loc{}
#locationTabs .active a{box-shadow: none;border-width:2px;margin-bottom: 3px;}
#locationTabs li{background-color: #f5f5f5;color:#001B42;width: 140px}
#back_btn_view_detail_div{padding-bottom: 20px;}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
min-width: 74px;
margin-right: 0;
margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
float: left;
margin-right: 19px;
border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
margin-right: -1px;
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
border-color: #ddd transparent #ddd #ddd;
*border-right-color: #ffffff;
}


.custom_progress_box{
background-color: #5cb85c;
height: 20px;
width:200px;
margin-bottom: 0px;
overflow: hidden;
text-align: center;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
display: inline-block;
}
.custom_progress{
	background: url('../img/progress_bg.png') no-repeat 0px 0px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}


#count_diff_table td{vertical-align: middle;}
#count_diff_table th{text-align: center;}
#containerTabs {margin-bottom: 0px;}
#containerTabs a{margin-right: 7px;outline: none}
#containerTabs .approved_container span{width:16px;background: url(../img/standard_msg_ok.gif) no-repeat;}
#containerTabs .rejected_container span{width:16px;background: url(../img/cancel.jpg) no-repeat;}

#containerTabs a {background-color: #eaeaea;margin-right: 7px;border-color:#ddd;}
#containerTabs .active a {background-color: #fcfcfc;border-bottom-color: #fcfcfc;}

.count_container{padding: 20px;border: 1px solid #ddd;border-top: 0px;background-color: #fcfcfc;min-width: 700px;}
 .table-striped tbody>tr:nth-child(even)>td {background-color: #fff;border-bottom: 1px solid #ddd;}
 .table-striped tbody>tr:nth-child(odd)>td{border-bottom: 1px solid #ddd;}
.count_container table{margin:0px;vertical-align: middle;}
#second_level_progress table td, .count_container table td{text-align: center; vertical-align: middle;}
#second_level_progress table thead, .count_container table thead{background-color: #c9d2dc;}
#second_level_progress table th, .count_container table th{text-align:center;}
.count_container td textarea{margin:0px;}
#approve_btn_div{text-align: center;width: 100%;border-top: 1px solid #ddd;padding-top: 10px}
.count_container .hidden{display: none;}
.count_container .visible{display: inline-block;}
.count_container textarea{width:220px;height:60px;}
.count_container .new{padding-left:20px; color: green}
.count_container .missing{padding-left:20px; color:red;}
#container_count_dif_div{width:100%;display: inline-block;margin-bottom: 10px;}
.clear{clear:both;}
#container_count_dif_div .system_div,.physical_div{min-height:200px;padding:0px 10px 10px; display: inline-block;min-width: 220px;vertical-align: top;border: 1px solid #ddd;background-color: #fff;}
#container_count_dif_div .system_div{float:left;margin-right: 30px;}
#container_count_dif_div .physical_div{float:right;}
#container_count_dif_div .parent span{font-size: 14px;}
#container_count_dif_div .child span, .child1 span, .child2{font-size: 12px;}
#container_count_dif_div .parent{display: block;padding-left:30px;background: url('../img/parent.jpg') left center no-repeat;line-height: 23px;}
#container_count_dif_div .child{margin-left:10px;display: block;padding-left: 30px;background: url('../img/child.jpg') left center no-repeat;line-height: 23px;}
#container_count_dif_div .child1{margin-left:25px;display: block;padding-left: 30px;background: url('../img/child.jpg') left center no-repeat;line-height: 23px;}
#container_count_dif_div .child2{margin-left:30px;display: block;padding-left: 30px;background: url('../img/child.jpg') left center no-repeat;line-height: 23px;}
#container_count_dif_div .child2{margin-left:40px;display: block;padding-left: 30px;background: url('../img/child.jpg') left center no-repeat;line-height: 23px;}
#container_count_dif_div .product {font-style: italic;background: url('../img/product.jpg') left center no-repeat;}
#container_count_dif_div h5{border-bottom: 1px solid #ddd;padding-left: 10px;font-weight: bold;color:#428bca;}
#count_dif_div{padding-top: 10px;clear:both;}
#count_dif_div h5{margin-bottom: 0px;border-bottom: 1px solid #ddd;border-top: 1px solid #ddd;padding:5px;font-weight: bold;line-height: 1.1;color:#428bca;}
span.note{display:inline-block; width:225px; text-align: center;}
td.difference{color:#a94442;font-weight: 1.4em}
.approval_div{padding-top: 20px;}
.approve_btn_div{padding-top: 10px;width: 100%;text-align: center;}
.comments_div textarea{width:100%;border-color: #ddd;}

.username{padding-bottom: 10px;}
.processed_div{padding: 20px 0px;}
#system_physical_div{margin: 0px auto;}
.input-group .immybox_witharrow{border-radius: 0px 4px 4px 0px}
.input-group input[type="text"]{border-radius: 0px 4px 4px 0px}
.input-group{width: 280px}
#search_start_date{width:190px;}
#search_end_date{width:198px;}