			<div id="formToInfo" class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
					   <div class="panel-heading">
					      From  : BJ
					   </div>
					   <div class="panel-body">
					      	<p>
							<span class="namestyle">Conutry : </span>
							<span class="valuestyle">China</span>
						</p>
						<p>
							<span class="namestyle">State : </span>
							<span class="valuestyle">GD</span>
						</p>
						<p>
							<span class="namestyle">City : </span>
							<span class="valuestyle">GZ</span>
						</p>
						<p>
							<span class="namestyle">Address1 : </span>
							<span class="valuestyle">GZ Road Less Name TSC 3 Nong</span>
						</p>
						<p>
							<span class="namestyle">Address2 : </span>
							<span class="valuestyle">GZ Road Less Name TSC 3 Nong</span>
						</p>
						<p>
							<span class="namestyle">Contact : </span>
							<span class="valuestyle">  He Zhong Hua</span>
						</p>
						<p>
							<span class="namestyle">Phone  : </span>
							<span class="valuestyle">139567787456214</span>
						</p>
						<p>
							<span class="namestyle">ZipCode : </span>
							<span class="valuestyle">1001255</span>
						</p>
					   </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-info">
					   <div class="panel-heading">
					      To  : GZ
					   </div>
					   <div class="panel-body">
					      	<p>
							<span class="namestyle">Conutry : </span>
							<span class="valuestyle">China</span>
						</p>
						<p>
							<span class="namestyle">State : </span>
							<span class="valuestyle">GD</span>
						</p>
						<p>
							<span class="namestyle">City : </span>
							<span class="valuestyle">GZ</span>
						</p>
						<p>
							<span class="namestyle">Address1 : </span>
							<span class="valuestyle">GZ Road Less Name TSC 3 Nong</span>
						</p>
						<p>
							<span class="namestyle">Address2 : </span>
							<span class="valuestyle">GZ Road Less Name TSC 3 Nong</span>
						</p>
						<p>
							<span class="namestyle">Contact : </span>
							<span class="valuestyle">  He Zhong Hua</span>
						</p>
						<p>
							<span class="namestyle">Phone  : </span>
							<span class="valuestyle">139567787456214</span>
						</p>
						<p>
							<span class="namestyle">ZipCode : </span>
							<span class="valuestyle">1001255</span>
						</p>
					   </div>
					</div>
				</div>
			</div>
			<div id="note" class="small text-danger" style="display:none">
				<span class="label label-danger">Note : 在 &nbsp;2014-11-06 &nbsp;之前必须出库</span>
			</div>
