		<div class="panel-body" >
			<p>
				<span class="namestyle"><a>A1001325</a> : </span>
				<span class="valuestyle">已到达    ETD :    15/25/2014 16:00</span>
			</p>
			<p>
				<span class="namestyle"><a>A1001325</a> : </span>
				<span class="valuestyle">已到达    ETD :    15/25/2014 16:00</span>
			</p>
		</div>	
