<ol class="breadcrumb opbar-title">
  <li><a href="#">{{SO_ID}}</a></li>
  <li class="active">BOL{{BOL_ID}}</li>
  <div class="opbar-buttons">
  	<button type="button" class="btn btn-default" id="edit" data-bolid="{{BOL_ID}}">
  		<span class="glyphicon glyphicon-edit"></span>  Edit BOL
  	</button>
	<button type="button" class="btn btn-default" id="">Appointment</button>
  </div>
</ol>
<div class="briefInfo-container">
			<div class="row">
				<div class="col-sm-3">
					<span class="namestyle">ShipTo :</span>
					<span class="valuestyle">{{SHIPTO_NAME}}</span>
				</div>
				<div class="col-sm-3">
					<span class="namestyle">PalletTotal :</span>
					<span class="valuestyle">{{PALLETTOTAL}}</span>
				</div>
				<div class="col-sm-3">
					<span class="namestyle">ETD :</span>
					<span class="valuestyle">{{#formatDate ETD}}{{/formatDate}}</span>
				</div>
				<div class="col-sm-3">
					<span class="namestyle">CreateUser :</span>
					<span class="valuestyle">{{CREATEUSER}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<span class="namestyle">Status :</span>
					<span class="valuestyle">{{STATUS}}</span>
				</div>
				<div class="col-sm-3">
					<span class="namestyle">PackageTotle :</span>
					<span class="valuestyle">{{PACKAGETOTAL}}</span>
				</div>
				<div class="col-sm-3">
					<span class="namestyle">ETA :</span>
					<span class="valuestyle">{{#formatDate ETA}}{{/formatDate}}</span>
				</div>
				<div class="col-sm-3">
					<span class="namestyle">CreateTime :</span>
					<span class="valuestyle">{{#formatDate CREATETIME}}{{/formatDate}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<span class="namestyle">MinSurplusDays : </span>
					<span class="valuestyle ">3 (10)</span>
				</div>
				<div class="col-sm-9" >
					<span class="namestyle">Note : </span>
					<span class="valuestyle">small  text texttext  danger  valuestyle </span>
				</div>
			</div>

</div>