<div  class="panel panel-info opbar-title">
   <div class="panel-heading">
     	<span class="titlenamestyle" >Total Volume  :</span>
   		<span class="titlevaluestyle" id="totalVolume"> 0cm3</span>
   		<span class="titlenamestyle" >Total Weight  :</span>
   		<span class="titlevaluestyle" id="totalWeight"> 0kg</span>
   		<span class="titlenamestyle" >Total Pallets  :</span>
   		<span class="titlevaluestyle" id="totalPallets"> 0</span>
   		<span class="titlenamestyle" >Total Packages  :</span>
   		<span class="titlevaluestyle" id="totalPackages"> 0</span>
      <div class="opbar-buttons">
	       <button type="button" class="btn btn-default">
		  		<span class="glyphicon glyphicon-trash"></span> Delete All
		  	</button>
		  	<button type="button" class="btn btn-default" id="deleteDetail">
		  		<span class="glyphicon glyphicon-trash"></span> Delete
		  	</button>
			<button type="button" class="btn btn-default" id="addDetail">
				<span class="glyphicon glyphicon-plus"></span> Add
			</button>
	 </div>
   </div>
   <div  class="panel-body" id="palletDetail">
      <ul>
      	 <li>
      	 	<div id="baiscInfo" class="panel panel-default">
      	 		<div>
      	 			 <div class="panel-heading">
      	 			 	<p>
      	 			 		<input type ="checkbox">P10086  To  ： BJ
      	 			 	</p>
      	 			 	<p>
      	 			 		TotleVolumn : 300cm3   TotleWeight  : 200kg Deadline  : 3
      	 			 	</p>
      	 			 </div>
      	 		</div>
      	 	</div>
      	 </li>
      	  	 <li>
      	 	<div id="baiscInfo" class="panel panel-default">
      	 		<div>
      	 			 <div class="panel-heading">
      	 			 	<p>
      	 			 		<input type ="checkbox">P10086  To  ： BJ
      	 			 	</p>
      	 			 	<p>
      	 			 		TotleVolumn : 300cm3   TotleWeight  : 200kg Deadline  : 3
      	 			 	</p>
      	 			 </div>
      	 		</div>
      	 	</div>
      	 </li>
      	  	 <li>
      	 	<div id="baiscInfo" class="panel panel-default">
      	 		<div>
      	 			 <div class="panel-heading">
      	 			 	<p>
      	 			 		<input type ="checkbox">P10086  To  ： BJ
      	 			 	</p>
      	 			 	<p>
      	 			 		TotleVolumn : 300cm3   TotleWeight  : 200kg Deadline  : 3
      	 			 	</p>
      	 			 </div>
      	 		</div>
      	 	</div>
      	 </li>
      	  	 <li>
      	 	<div id="baiscInfo" class="panel panel-default">
      	 		<div>
      	 			 <div class="panel-heading">
      	 			 	<p>
      	 			 		<input type ="checkbox">P10086  To  ： BJ
      	 			 	</p>
      	 			 	<p>
      	 			 		TotleVolumn : 300cm3   TotleWeight  : 200kg Deadline  : 3
      	 			 	</p>
      	 			 </div>
      	 		</div>
      	 	</div>
      	 </li>
      	  	 <li>
      	 	<div id="baiscInfo" class="panel panel-default">
      	 		<div>
      	 			 <div class="panel-heading">
      	 			 	<p>
      	 			 		<input type ="checkbox">P10086  To  ： BJ
      	 			 	</p>
      	 			 	<p>
      	 			 		TotleVolumn : 300cm3   TotleWeight  : 200kg Deadline  : 3
      	 			 	</p>
      	 			 </div>
      	 		</div>
      	 	</div>
      	 </li>
      	  	 <li>
      	 	<div id="baiscInfo" class="panel panel-default">
      	 		<div>
      	 			 <div class="panel-heading">
      	 			 	<p>
      	 			 		<input type ="checkbox">P10086  To  ： BJ
      	 			 	</p>
      	 			 	<p>
      	 			 		TotleVolumn : 300cm3   TotleWeight  : 200kg Deadline  : 3
      	 			 	</p>
      	 			 </div>
      	 		</div>
      	 	</div>
      	 </li>
      </ul>
   </div>
</div>
