	<div class="panel-heading opbar-title" data-toggle="collapse" data-parent="#global" 
          href="#detailBody">
		<span class="title">BOL Pallets</span>
		<span class="pull-right">
			<i class="glyphicon glyphicon-chevron-up"></i>
		</span>
	</div>
	<div id="detailBody" class="panel-collapse collapse in" >
		<div class="panel-body">
				<div class="panel panel-info opbar-title">
				   <div class="panel-heading">
				     Totle Volume  :  500cm3 &nbsp;&nbsp;&nbsp;&nbsp;
				     Totle Weight  :  200kg  &nbsp;&nbsp;&nbsp;&nbsp;
				     Totle Pallets  :  50 &nbsp;&nbsp;&nbsp;&nbsp;
				     Totle Packages  : 10 
				      <div class="buttons-group opbar-buttons">
						  <a href="#" class="buttons danger">Delete</a>
						  <a href="#" id="addDetail" class="buttons">&nbsp;&nbsp;Add&nbsp;&nbsp;  </a>
					  </div>
				   </div>
				   <div class="panel-body" id="palletDetail">
				      <ul>
				      	 <li>
				      	 	<div id="baiscInfo" class="panel panel-default">
				      	 		<div>
				      	 			 <div class="panel-heading">
				      	 			 	<p>
				      	 			 		<input type ="checkbox">P10086  To  ： BJ
				      	 			 	</p>
				      	 			 	<p>
				      	 			 		TotleVolumn : 300cm3   TotleWeight  : 200kg Deadline  : 3
				      	 			 	</p>
				      	 			 </div>
				      	 		</div>
				      	 	</div>
				      	 </li>
				      	  	 <li>
				      	 	<div id="baiscInfo" class="panel panel-default">
				      	 		<div>
				      	 			 <div class="panel-heading">
				      	 			 	<p>
				      	 			 		<input type ="checkbox">P10086  To  ： BJ
				      	 			 	</p>
				      	 			 	<p>
				      	 			 		TotleVolumn : 300cm3   TotleWeight  : 200kg Deadline  : 3
				      	 			 	</p>
				      	 			 </div>
				      	 		</div>
				      	 	</div>
				      	 </li>
				      	  	 <li>
				      	 	<div id="baiscInfo" class="panel panel-default">
				      	 		<div>
				      	 			 <div class="panel-heading">
				      	 			 	<p>
				      	 			 		<input type ="checkbox">P10086  To  ： BJ
				      	 			 	</p>
				      	 			 	<p>
				      	 			 		TotleVolumn : 300cm3   TotleWeight  : 200kg Deadline  : 3
				      	 			 	</p>
				      	 			 </div>
				      	 		</div>
				      	 	</div>
				      	 </li>
				      	  	 <li>
				      	 	<div id="baiscInfo" class="panel panel-default">
				      	 		<div>
				      	 			 <div class="panel-heading">
				      	 			 	<p>
				      	 			 		<input type ="checkbox">P10086  To  ： BJ
				      	 			 	</p>
				      	 			 	<p>
				      	 			 		TotleVolumn : 300cm3   TotleWeight  : 200kg Deadline  : 3
				      	 			 	</p>
				      	 			 </div>
				      	 		</div>
				      	 	</div>
				      	 </li>
				      	  	 <li>
				      	 	<div id="baiscInfo" class="panel panel-default">
				      	 		<div>
				      	 			 <div class="panel-heading">
				      	 			 	<p>
				      	 			 		<input type ="checkbox">P10086  To  ： BJ
				      	 			 	</p>
				      	 			 	<p>
				      	 			 		TotleVolumn : 300cm3   TotleWeight  : 200kg Deadline  : 3
				      	 			 	</p>
				      	 			 </div>
				      	 		</div>
				      	 	</div>
				      	 </li>
				      	  	 <li>
				      	 	<div id="baiscInfo" class="panel panel-default">
				      	 		<div>
				      	 			 <div class="panel-heading">
				      	 			 	<p>
				      	 			 		<input type ="checkbox">P10086  To  ： BJ
				      	 			 	</p>
				      	 			 	<p>
				      	 			 		TotleVolumn : 300cm3   TotleWeight  : 200kg Deadline  : 3
				      	 			 	</p>
				      	 			 </div>
				      	 		</div>
				      	 	</div>
				      	 </li>
				      </ul>
				   </div>
				</div>
		</div>	
	</div>	
