{{#if isDel}}
<label>delete "{{model.name}}" and all of the following office address？</label>
{{else}} 
<input name="name" value="{{model.name}}"/>
{{/if}}
<input name="pid" value="{{model.pid}}" type="hidden"/>
<input name="id" value="{{model.id}}" type="hidden"/>