 <table class="zebraTable">
    <tbody>

        {{#each Address}}
        <tr>
                          
            <th width="100%" align="center" class="left-title" style="vertical-align: center;text-align: center;" colspan="3">{{this.office_name}}</th>
        
        </tr>
        
        <tr data-id="{{this.id}}">
        	<td align="right" ><font size="3"><strong>Address1:</font></td>
        	<td><strong>{{this.house_number}} </td>
        </tr>
        
        <tr data-id="{{this.id}}">
        	<td align="right" ><font size="3"><strong>Address2:</font></td>
        	<td><strong>{{this.street}} </strong></td>
        </tr>
        
         <tr data-id="{{this.id}}">
       	 	<td align="right"><font size="3"><strong>City:</font></td>
       		<td><strong>{{this.city}} </strong></td>
        </tr>
         
        <tr data-id="{{this.id}}">
       		<td align="right"><font size="3"><strong>Zip Code:</font></td>
        	<td><strong>{{this.zip_code}} </strong></td>
        </tr>
        
        <tr data-id="{{this.id}}">
       		<td align="right"><font size="3"><strong>Province:</font></td>
        	<td><strong>{{this.provinces_name}} </strong></td>
        </tr>
        
        <tr data-id="{{this.id}}">
       		<td align="right"><font size="3"><strong>Nation:</font></td>
        	<td><strong>{{this.nation_name}} </strong></td>
        </tr>
        
        <tr data-id="{{this.id}}">
       		<td align="right"><font size="3"><strong>Contact:</font></td>
        	<td><strong>{{this.contact}} </strong></td>
        </tr>
        
        <tr data-id="{{this.id}}">
       		<td align="right"><font size="3"><strong>Phone:</font></td>
        	<td><strong>{{this.phone}} </strong></td>
        </tr>
   
        <tr>
		<td> </td>
		<td align="center"> <span data-id="{{this.id}}"> <button  id="button1">Update</button></span></td>
        </tr>
        
        
        {{/each}}
        
    </tbody>
   
</table>
		