
     			      <select id="selectNation" name="nation" style="width:206px;">
                            
                            {{#each Nation}}
                                <option value="{{this.cid}}" {{#if this.selected}}selected{{/if}}>{{this.c_country}}</option>
                            {{/each}}
                        </select>

