
                        <select id="selectProvinces" name="provinces" style="width:150px;" >
                        	{{#if Province}}
                            
                            {{else}}
                            <option value="0">input</option>
                            {{/if}}
                            {{#each Province}}
                                <option value="{{this.pro_id}}"  {{#if this.selected}}selected{{/if}}>{{this.pro_name}}</option>
                            {{/each}}
                            {{#if Province}}
                            <option value="0" {{#if isInput}}selected{{/if}}>input</option>
                            {{/if}}
                        </select> 

                        