<table>
<tbody>

	    
    <tr height="35">
        <th  align="right">Address1 : </th>
        <td>
            <input type="text" name="house_number" style="width:450px;" value="{{model.house_number}}" />
        </td>
    
    </tr> 
    <tr height="35">
        <th  align="right">Address2 : </th>
        <td>
            <input type="text" name="street" value="{{model.street}}" style="width:450px;;" />
        </td>
    </tr>
    <tr height="35">
        <th  align="right">City : </th>
        <td>
            <input type="text" name="city" value="{{model.city}}" style="width:450px;"/>
        </td>
    </tr>   
    
      <tr height="35">
        <th  align="right">Zip Code : </th>
        <td>
            <input type="text" name="zip_code" value="{{model.zip_code}}" style="width:245px;" />
        </td>
    </tr>
     
      <tr height="35">
        <th  align="right"><b class="require_property">*</b>Province :</th>
        <td>
               
                        <select id="selectProvinces" name="provinces" style="width:250px;" >
                        	{{#if Province}}
                           
                            {{else}}
                            <option value="0">input</option>
                            {{/if}}
                            {{#each Province}}
                                <option value="{{this.pro_id}}"  {{#if this.selected}}selected{{/if}}>{{this.pro_name}}</option>
                            {{/each}}
                	    </select>
						<input type="text" name="provinces_name" value="{{model.provinces_name}}"  style="display : none; width:198px; height:22px;"/>
        </td>
    </tr>
    
      <tr height="35">
        <th align="right" ><b class="require_property">*</b>Nation :</th>
        <td>
           
            <div>	
                        <select id="selectNation" name="nation" style="width:250px;">
                         
                            {{#each Nation}}
                                <option value="{{this.cid}}" >{{this.c_country}}</option>
                            {{/each}}
                        </select>
                        <input type="text" name="nation_name" value="{{model.nation_name}}"  style="display:none"  />
                         
            </div>
        </td>
    </tr>
     <tr height="35">
        <th align="right">Contact :</th>
        <td>
            <input type="text" name="contact" value="{{model.contact}}" style="width:245px;"/>
        </td>
    </tr>
    	
     <tr height="35">
        <th align="right">Phone :</th>
        <td>
            <input type="text" name="phone" value="{{model.phone}}" style="width:245px;"/>
        </td>
    </tr>
       
</tbody>
</table>