

#global{min-width: 750px;}
#data .form-group{margin-bottom: 20px;margin-right: 0;margin-left: 0}
/**表单字体不加粗
#global .control-label{font-weight: normal;}**/

#global .fixed-height{height: 400px;-webkit-box-sizing:content-box;}
.opbar{float: right;margin-right: 20px;height: 40px;margin-top: 5px;}

#global .no-margin{margin: 0}

/** **/
.label-group{margin-left: 20px;}

#global .footer{border-top: 1px solid #ddd;height: 50px;margin-bottom: 0;padding-top: 5px;}


#previewContainer{height: 400px;overflow-y: scroll;overflow-x: hidden;padding-top: 10px;}

#address{padding-top: 5px;}

#previewLink{display: none}


/** payment **/
.paymentAddress{margin-top: 20px;}
.item-container{

}
.item-container .item
{
	cursor: pointer;
	float: left;
	width: 170px;
	height: 56px;
	line-height: 56px;
	margin-right: 7px;
	_margin-right: 6px;
	text-align: center;
	border: 1px solid #e6e6e6;
}

#briefInfo .panel-body,#address .panel-body,#payment .panel-body{max-height: 400px;overflow-y:auto;overflow-x:hidden;}

#preview 
{
	padding: 5px 10px 0 10px ;
}
#preview .nameLabel
{
	display: inline-block;
	width: 130px;
	font-weight: 700;
	text-align: right;
	margin-right: 5px;
}
#preview .valueLabel
{
	text-align: left;
	margin-left: 5px;
}