.checked{
    background:transparent url(../images/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
     z-index: 1000;
    width: 20px !important;
}
.checkerror{
    background:transparent url(../images/error.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    height:20px;
    z-index: 1000;
    width: 20px !important;
}

 
div.error{
    float: left;
    padding-left: 0;
}

div.error span.error {
    display: block;
    padding-left: 20px;
    position: relative;
     color: #B94A48;
    margin-top: 2px;
}

div.error span.error:before {
    font-family: 'Glyphicons Halflings';
    content: '\e101';
    position: absolute;
    top: -1px;
    left: 0;
    font-size: 14px;
    color: #D9534F;
    display: inline-block;
}
.required:after
{
    position: absolute;
    content: ' *';
    top:5px;
    color: #FF0000;
    right: 5px;
    font-size: 16px;
} 

#ft .has-error{
    border:1px solid #B94A48;
}
#ft div.error{
    padding-left: 15px;
}

#validating{padding-left: 0}
/** 提示框 **/
/**
 * stateBox
*/
.ui-stateBox {
     border:#CCCCCC 1px solid;
     background-color:#EAEAEA;
     width:300px;
     min-height:16px;
     padding:7px;
     line-height:1;
     text-align:center;
     line-height:16px;
     overflow-y:hidden;
     position:absolute;
     top:40%;
     left:50%;
     margin-left:-150px;
     -moz-box-shadow: 0px 0px 4px #cccccc; /* FF3.5+ */
     -webkit-box-shadow: 0px 0px 4px #cccccc; /* Saf3.0+, Chrome */
     box-shadow: 0px 0px 4px #cccccc; /* Opera 10.5, IE9, Chrome 10+ */
     z-index:999;
}
.ui-stateBox-succeed {
    border:#a7d093 1px solid;
    background-color:#ddffd5;
    z-index: 2147483647; 
} 
.ui-stateBox-error {
    border:#e08989 1px solid;
    background-color:#ffdfdf;
    z-index: 2147483647; 
}
.ui-stateBox-alert {
    border:#e1db66 1px solid;
    background-color:#ffffd7;
    z-index: 2147483647;
} 

