
body{background: #fff}

.side-menubox{overflow:hidden;position:relative;}
.side-menubox .mCSB_scrollTools{right: -8px}
.navbar-default{border: 1px solid #ccc;width: 300px;}
.sidebar{margin-top: 0px}
.side-menubox .a_select{background: #eee}

/*#########*/
.activeline {
background: #E8F2FF !important;
}
.CodeMirror{height: 220px}
.bs-example {
margin-right: 0;
margin-left: 0;
margin-bottom: 20px;
background-color: #FFF;
border-color: #DDD;
border-width: 1px;
border-radius: 4px 4px;
-webkit-box-shadow: none;
box-shadow: none;

}

.bs-example {
position: relative;
padding: 10px 10px;
border-style: solid;
}

/*折叠*/
.CodeMirror-foldmarker {
color: #00F;
text-shadow: #B9F 1px 1px 2px, #B9F -1px -1px 2px, #B9F 1px -1px 2px, #B9F -1px 1px 2px;
font-family: arial;
line-height: .3;
cursor: pointer;
}