/* ------------------------------------------
 * CSS3 GITHUB BUTTONS (Nicolas Gallagher)
 * Licensed under Unlicense
 * http://github.com/necolas/css3-github-buttons
 * --------------------------------------- */


/* =============================================================================
   Base Button
   ========================================================================== */

.buttons {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.buttons:hover,
.buttons:focus,
.buttons:active,
.buttons.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.buttons:active,
.buttons.active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.buttons::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/* =============================================================================
   Button icons
   ========================================================================== */

.buttons.icon:before {
    content: "";
    position: relative;
    top: 1px;
    float:left;
    width: 12px;
    height: 12px;
    margin: 0 0.75em 0 -0.25em;
    background: url(gh-icons.png) 0 99px no-repeat;
}

.buttons.arrowup.icon:before { background-position: 0 0; }
.buttons.arrowup.icon:hover:before,
.buttons.arrowup.icon:focus:before,
.buttons.arrowup.icon:active:before { background-position: -12px 0; }

.buttons.arrowup.disabled.icon:before { background-position: -24px 0; }
.buttons.arrowup.disabled.icon:hover:before,
.buttons.arrowup.disabled.icon:focus:before,
.buttons.arrowup.disabled.icon:active:before { background-position: -24px 0; }


.buttons.arrowdown.icon:before { background-position: 0 -12px; }
.buttons.arrowdown.icon:hover:before,
.buttons.arrowdown.icon:focus:before,
.buttons.arrowdown.icon:active:before { background-position: -12px -12px; }


.buttons.arrowdown.disabled.icon:before { background-position: -24px -12px; }
.buttons.arrowdown.disabled.icon:hover:before,
.buttons.arrowdown.disabled.icon:focus:before,
.buttons.arrowdown.disabled.icon:active:before { background-position: -24px -12px; }


.buttons.arrowleft.icon:before { background-position: 0 -24px; }
.buttons.arrowleft.icon:hover:before,
.buttons.arrowleft.icon:focus:before,
.buttons.arrowleft.icon:active:before { background-position: -12px -24px; }

.buttons.arrowleft.disabled.icon:before { background-position: -24px -24px; }
.buttons.arrowleft.disabled.icon:hover:before,
.buttons.arrowleft.disabled.icon:focus:before,
.buttons.arrowleft.disabled.icon:active:before { background-position: -24px -24px; }


.buttons.arrowright.icon:before { float:right; margin: 0 -0.25em 0 0.5em; background-position: 0 -36px; }
.buttons.arrowright.icon:hover:before,
.buttons.arrowright.icon:focus:before,
.buttons.arrowright.icon:active:before { background-position: -12px -36px; }

.buttons.arrowright.disabled.icon:before { float:right; margin: 0 -0.25em 0 0.5em; background-position: -24px -36px; }
.buttons.arrowright.disabled.icon:hover:before,
.buttons.arrowright.disabled.icon:focus:before,
.buttons.arrowright.disabled.icon:active:before { background-position: -24px -36px; }


.buttons.approve.icon:before { background-position: 0 -48px; }
.buttons.approve.icon:hover:before,
.buttons.approve.icon:focus:before,
.buttons.approve.icon:active:before { background-position: -12px -48px; }

.buttons.approve.disabled.icon:before { background-position: -24px -48px; }
.buttons.approve.disabled.icon:hover:before,
.buttons.approve.disabled.icon:focus:before,
.buttons.approve.disabled.icon:active:before { background-position: -24px -48px; }


.buttons.add.icon:before { background-position: 0 -288px; }
.buttons.add.icon:hover:before,
.buttons.add.icon:focus:before,
.buttons.add.icon:active:before { background-position: -12px -288px; }


.buttons.add.disabled.icon:before { background-position: -24px -288px; }
.buttons.add.disabled.icon:hover:before,
.buttons.add.disabled.icon:focus:before,
.buttons.add.disabled.icon:active:before { background-position: -24px -288px; }


.buttons.remove.icon:before { background-position: 0 -60px; }
.buttons.remove.icon:hover:before,
.buttons.remove.icon:focus:before,
.buttons.remove.icon:active:before { background-position: -12px -60px; }


.buttons.remove.disabled.icon:before { background-position: -24px -60px; }
.buttons.remove.disabled.icon:hover:before,
.buttons.remove.disabled.icon:focus:before,
.buttons.remove.disabled.icon:active:before { background-position: -24px -60px; }


.buttons.log.icon:before { background-position: 0 -72px; }
.buttons.log.icon:hover:before,
.buttons.log.icon:focus:before,
.buttons.log.icon:active:before { background-position: -12px -72px; }

.buttons.log.disabled.icon:before { background-position: -24px -72px; }
.buttons.log.disabled.icon:hover:before,
.buttons.log.disabled.icon:focus:before,
.buttons.log.disabled.icon:active:before { background-position: -24px -72px; }


.buttons.calendar.icon:before { background-position: 0 -84px; }
.buttons.calendar.icon:hover:before,
.buttons.calendar.icon:focus:before,
.buttons.calendar.icon:active:before { background-position: -12px -84px; }


.buttons.calendar.disabled.icon:before { background-position: -24px -84px; }
.buttons.calendar.disabled.icon:hover:before,
.buttons.calendar.disabled.icon:focus:before,
.buttons.calendar.disabled.icon:active:before { background-position: -24px -84px; }


.buttons.chat.icon:before { background-position: 0 -96px; }
.buttons.chat.icon:hover:before,
.buttons.chat.icon:focus:before,
.buttons.chat.icon:active:before { background-position: -12px -96px; }


.buttons.chat.disabled.icon:before { background-position: -24px -96px; }
.buttons.chat.disabled.icon:hover:before,
.buttons.chat.disabled.icon:focus:before,
.buttons.chat.disabled.icon:active:before { background-position: -24px -96px; }


.buttons.clock.icon:before { background-position: 0 -108px; }
.buttons.clock.icon:hover:before,
.buttons.clock.icon:focus:before,
.buttons.clock.icon:active:before { background-position: -12px -108px; }


.buttons.clock.disabled.icon:before { background-position: -24px -108px; }
.buttons.clock.disabled.icon:hover:before,
.buttons.clock.disabled.icon:focus:before,
.buttons.clock.disabled.icon:active:before { background-position: -24px -108px; }


.buttons.settings.icon:before { background-position: 0 -120px; }
.buttons.settings.icon:hover:before,
.buttons.settings.icon:focus:before,
.buttons.settings.icon:active:before { background-position: -12px -120px; }

.buttons.settings.disabled.icon:before { background-position: -24 -120px; }
.buttons.settings.disabled.icon:hover:before,
.buttons.settings.disabled.icon:focus:before,
.buttons.settings.disabled.icon:active:before { background-position: -24px -120px; }


.buttons.comment.icon:before { background-position: 0 -132px; }
.buttons.comment.icon:hover:before,
.buttons.comment.icon:focus:before,
.buttons.comment.icon:active:before { background-position: -12px -132px; }


.buttons.comment.disabled.icon:before { background-position: -24px -132px; }
.buttons.comment.disabled.icon:hover:before,
.buttons.comment.disabled.icon:focus:before,
.buttons.comment.disabled.icon:active:before { background-position: -24px -132px; }


.buttons.fork.icon:before { background-position: 0 -144px; }
.buttons.fork.icon:hover:before,
.buttons.fork.icon:focus:before,
.buttons.fork.icon:active:before { background-position: -12px -144px; }

.buttons.fork.disabled.icon:before { background-position: -24 -144px; }
.buttons.fork.disabled.icon:hover:before,
.buttons.fork.disabled.icon:focus:before,
.buttons.fork.disabled.icon:active:before { background-position: -24px -144px; }


.buttons.like.icon:before { background-position: 0 -156px; }
.buttons.like.icon:hover:before,
.buttons.like.icon:focus:before,
.buttons.like.icon:active:before { background-position: -12px -156px; }

.buttons.like.disabled.icon:before { background-position: -24px -156px; }
.buttons.like.disabled.icon:hover:before,
.buttons.like.disabled.icon:focus:before,
.buttons.like.disabled.icon:active:before { background-position: -24px -156px; }

.buttons.favorite.icon:before { background-position: 0 -348px; }
.buttons.favorite.icon:hover:before,
.buttons.favorite.icon:focus:before,
.buttons.favorite.icon:active:before { background-position: -12px -348px; }

.buttons.favorite.disabled.icon:before { background-position: -24px -348px; }
.buttons.favorite.disabled.icon:hover:before,
.buttons.favorite.disabled.icon:focus:before,
.buttons.favorite.disabled.icon:active:before { background-position: -24px -348px; }

.buttons.home.icon:before { background-position: 0 -168px; }
.buttons.home.icon:hover:before,
.buttons.home.icon:focus:before,
.buttons.home.icon:active:before { background-position: -12px -168px; }

.buttons.home.disabled.icon:before { background-position: -24px -168px; }
.buttons.home.disabled.icon:hover:before,
.buttons.home.disabled.icon:focus:before,
.buttons.home.disabled.icon:active:before { background-position: -24px -168px; }


.buttons.key.icon:before { background-position: 0 -180px; }
.buttons.key.icon:hover:before,
.buttons.key.icon:focus:before,
.buttons.key.icon:active:before { background-position: -12px -180px; }

.buttons.key.disabled.icon:before { background-position: -24px -180px; }
.buttons.key.disabled.icon:hover:before,
.buttons.key.disabled.icon:focus:before,
.buttons.key.disabled.icon:active:before { background-position: -24px -180px; }


.buttons.lock.icon:before { background-position: 0 -192px; }
.buttons.lock.icon:hover:before,
.buttons.lock.icon:focus:before,
.buttons.lock.icon:active:before { background-position: -12px -192px; }

.buttons.lock.disabled.icon:before { background-position: -24px -192px; }
.buttons.lock.disabled.icon:hover:before,
.buttons.lock.disabled.icon:focus:before,
.buttons.lock.disabled.icon:active:before { background-position: -24px -192px; }

.buttons.unlock.icon:before { background-position: 0 -204px; }
.buttons.unlock.icon:hover:before,
.buttons.unlock.icon:focus:before,
.buttons.unlock.icon:active:before { background-position: -12px -204px; }

.buttons.unlock.disabled.icon:before { background-position: -24px -204px; }
.buttons.unlock.disabled.icon:hover:before,
.buttons.unlock.disabled.icon:focus:before,
.buttons.unlock.disabled.icon:active:before { background-position: -24px -204px; }


.buttons.loop.icon:before { background-position: 0 -216px; }
.buttons.loop.icon:hover:before,
.buttons.loop.icon:focus:before,
.buttons.loop.icon:active:before { background-position: -12px -216px; }

.buttons.loop.disabled.icon:before { background-position: -24px -216px; }
.buttons.loop.disabled.icon:hover:before,
.buttons.loop.disabled.icon:focus:before,
.buttons.loop.disabled.icon:active:before { background-position: -24px -216px; }

.buttons.search.icon:before { background-position: 0 -228px; }
.buttons.search.icon:hover:before,
.buttons.search.icon:focus:before,
.buttons.search.icon:active:before { background-position: -12px -228px; }


.buttons.search.disabled.icon:before {background-position: -24px -228px; }
.buttons.search.disabled.icon:hover:before,
.buttons.search.disabled.icon:focus:before,
.buttons.search.disabled.icon:active:before { background-position: -24px -228px; }


.buttons.mail.icon:before { background-position: 0 -240px; }
.buttons.mail.icon:hover:before,
.buttons.mail.icon:focus:before,
.buttons.mail.icon:active:before { background-position: -12px -240px; }

.buttons.mail.disabled.icon:before { background-position: -24px -240px; }
.buttons.mail.disabled.icon:hover:before,
.buttons.mail.disabled.icon:focus:before,
.buttons.mail.disabled.icon:active:before { background-position: -24px -240px; }


.buttons.move.icon:before { background-position: 0 -252px; }
.buttons.move.icon:hover:before,
.buttons.move.icon:focus:before,
.buttons.move.icon:active:before { background-position: -12px -252px; }


.buttons.move.disabled.icon:before { background-position: -24px -252px; }
.buttons.move.disabled.icon:hover:before,
.buttons.move.disabled.icon:focus:before,
.buttons.move.disabled.icon:active:before { background-position: -24px -252px; }


.buttons.edit.icon:before { background-position: 0 -264px; }
.buttons.edit.icon:hover:before,
.buttons.edit.icon:focus:before,
.buttons.edit.icon:active:before { background-position: -12px -264px; }

.buttons.edit.disabled.icon:before { background-position: -24px -264px; }
.buttons.edit.disabled.icon:hover:before,
.buttons.edit.disabled.icon:focus:before,
.buttons.edit.disabled.icon:active:before { background-position: -24px -264px; }


.buttons.pin.icon:before { background-position: 0 -276px; }
.buttons.pin.icon:hover:before,
.buttons.pin.icon:focus:before,
.buttons.pin.icon:active:before { background-position: -12px -276px; }


.buttons.pin.disabled.icon:before { background-position: -24px -276px; }
.buttons.pin.disabled.icon:hover:before,
.buttons.pin.disabled.icon:focus:before,
.buttons.pin.disabled.icon:active:before { background-position: -24px -276px; }


.buttons.reload.icon:before { background-position: 0 -300px; }
.buttons.reload.icon:hover:before,
.buttons.reload.icon:focus:before,
.buttons.reload.icon:active:before { background-position: -12px -300px; }


.buttons.reload.disabled.icon:before { background-position: -24px -300px; }
.buttons.reload.disabled.icon:hover:before,
.buttons.reload.disabled.icon:focus:before,
.buttons.reload.disabled.icon:active:before { background-position: -24px -300px; }


.buttons.rss.icon:before { background-position: 0 -312px; }
.buttons.rss.icon:hover:before,
.buttons.rss.icon:focus:before,
.buttons.rss.icon:active:before { background-position: -12px -312px; }

.buttons.rss.disabled.icon:before { background-position: -24px -312px; }
.buttons.rss.disabled.icon:hover:before,
.buttons.rss.disabled.icon:focus:before,
.buttons.rss.disabled.icon:active:before { background-position: -24px -312px; }


.buttons.tag.icon:before { background-position: 0 -324px; }
.buttons.tag.icon:hover:before,
.buttons.tag.icon:focus:before,
.buttons.tag.icon:active:before { background-position: -12px -324px; }

.buttons.tag.disabled.icon:before { background-position: -24px -324px; }
.buttons.tag.disabled.icon:hover:before,
.buttons.tag.disabled.icon:focus:before,
.buttons.tag.disabled.icon:active:before { background-position: -24px -324px; }


.buttons.trash.icon:before { background-position: 0 -336px; }
.buttons.trash.icon:hover:before,
.buttons.trash.icon:focus:before,
.buttons.trash.icon:active:before { background-position: -12px -336px; }

.buttons.trash.disabled.icon:before { background-position: -24px -336px; }
.buttons.trash.disabled.icon:hover:before,
.buttons.trash.disabled.icon:focus:before,
.buttons.trash.disabled.icon:active:before { background-position: -24px -336px; }

.buttons.user.icon:before { background-position: 0 -360px; }
.buttons.user.icon:hover:before,
.buttons.user.icon:focus:before,
.buttons.user.icon:active:before { background-position: -12px -360px; }

.buttons.user.disabled.icon:before { background-position: -24px -360px; }
.buttons.user.disabled.icon:hover:before,
.buttons.user.disabled.icon:focus:before,
.buttons.user.disabled.icon:active:before { background-position: -24px -360px; }


/* =============================================================================
   Button extensions
   ========================================================================== */

/* Primary button
   ========================================================================== */

.buttons.primary {
    font-weight: bold;
}

/* Danger button
   ========================================================================== */

.buttons.danger {
    color: #900;
}

.buttons.danger:hover,
.buttons.danger:focus,
.buttons.danger:active {
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff;
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -ms-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}


/*
disabled
======================================*/


.buttons.disabled{
    color: #ccc;
    cursor: default;
}

.buttons.disabled:hover,
.buttons.disabled:focus,
.buttons.disabled:active {
    border-color: #D4D4D4;
    text-shadow:1px 1px 0 #FFF;
    color: #ccc;
    background-color: #ECECEC;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4F4F4), to(#ECECEC));
    background-image: -moz-linear-gradient(#F4F4F4, #ECECEC);
    background-image: -ms-linear-gradient(#F4F4F4, #ECECEC);
    background-image: -o-linear-gradient(#F4F4F4, #ECECEC);
    background-image: linear-gradient(#F4F4F4, #ECECEC);
}


/*=======================================*/



.buttons.danger:active,
.buttons.danger.active {
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    background-color: #b33630;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
    background-image: -moz-linear-gradient(#b33630, #dc5f59);
    background-image: -ms-linear-gradient(#b33630, #dc5f59);
    background-image: -o-linear-gradient(#b33630, #dc5f59);
    background-image: linear-gradient(#b33630, #dc5f59);
}

/* Pill button
   ========================================================================== */

.buttons.pill {
    border-radius: 50em;
}

/* Disabled button
   ========================================================================== */

.buttons.disable {
    opacity: 0.3;
}


/* Big button
   ========================================================================== */

.buttons.big {
    font-size: 14px;
}

.buttons.big.icon:before {
    top: 0;
}


/* =============================================================================
   Button groups
   ========================================================================== */

/* Standard group
   ========================================================================== */

.buttons-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.buttons + .buttons,
.buttons + .buttons-group,
.buttons-group + .buttons,
.buttons-group + .buttons-group {
    margin-left: 15px;
}

.buttons-group li {
    float: left;
    padding: 0;
    margin: 0;
}

.buttons-group .buttons {
    float: left;
    margin-left: -1px;
}

.buttons-group > .buttons:not(:first-child):not(:last-child),
.buttons-group li:not(:first-child):not(:last-child) .buttons {
    border-radius: 0;
}

.buttons-group > .buttons:first-child,
.buttons-group li:first-child .buttons {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.buttons-group > .buttons:last-child,
.buttons-group li:last-child > .buttons {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Minor group
   ========================================================================== */

.buttons-group.minor-group .buttons {
    border: 1px solid #d4d4d4;
    text-shadow: none;
    background-image: none;
    background-color: #fff;
}

.buttons-group.minor-group .buttons:hover,
.buttons-group.minor-group .buttons:focus {
    background-color: #599bdc;
}

.buttons-group.minor-group .buttons:active,
.buttons-group.minor-group .buttons.active {
    background-color: #3072b3;
}

.buttons-group.minor-group .buttons.icon:before {
    opacity: 0.8;
}

/* =============================================================================
   Button container (mixing buttons and groups, e.g., nav bar)
   ========================================================================== */

.buttons-container .buttons,
.buttons-container .buttons-group {
    vertical-align: top;
}

