<div>
   <form id="addBrandForm" name="addBrandForm">
        <table width="580px" >
            <tr>
                <td style="width:125px;">
                    <label for="b_name">Brand Name</label>
                </td>
                <td style="width:255px;">    
                    <input name='b_name' id='b_name' type="text" maxlength="100"  class="input_text_password_select" onkeyup="this.value=this.value.toUpperCase()"/>
                </td>
                <td  class="status validator_style" style="width:200px;">*</td>
            </tr>

            <tr>
                <td>
                    <label for="b_number">Brand Number</label>
                </td>
                <td>    
                    <input name='b_number' id='b_number' type="text" maxlength="100"  class="input_text_password_select" onkeyup="this.value=this.value.toUpperCase()"/>
                </td>
                <td  class="status validator_style">*</td>
            </tr>
            
        </table>
    </form>
</div>

