<style>
#ad_tr_state{display:none}
#advanced_search_tab_content table input,select{margin-bottom:0px;}
</style>

<div id="advanced_search_tab_content">

	<table>
		<tr>
			<td>CustomerID:</br><input id="advanced_search_customer_id" value="" type="text" class="input_text_password_select" style="width:200px;"/></td>
			<td>Customer Name:</br><input id="advanced_search_customer_name" value="" type="text" class="input_text_password_select" style="width:200px;"/></td>
			<td>Country:</br>
				<select id="country_list" name="country_list" style="width:186px;">
					<option value="" ></option>
					
					{{#each countries}}
						<option value="{{this.ccid}}" code="{{this.c_code}}">{{this.c_country}}</option>
					{{/each}}
				</select>
			</td>
			<td>State:</br>
				<div id="ad_tr_state_dd">
					<select id="ad_state_dd" name="ad_state_dd" style="width:186px;">
						<option value=""></option>
					</select>
				</div>
			</td>
			<td>
				</br>
				<div id="ad_tr_state">	
						<input name="ad_is_text_state" id="ad_is_text_state" type="hidden" value="false"/>
						<input name='ad_state' id='ad_state' type="text" maxlength="50" class="input_text_password_select" style="width:180px;" value=""/>
				</div>
			</td>
			<td>Is Active:</br>
				<select id="active" name="active" style="width:135px;">
					<option value=""></option>
					<option value="-1" >All</option>
					<option value="1" selected>Active</option>
					<option value="0" >Inactive</option>
				</select>
			</td>
			<td><br/>
				 <a id="advanced_search_btn" name="advanced_search_btn" href="javascript:void(0)" class="buttons"><i class="fa fa-search"></i>   Search</a>
			</td>
		</tr>
	</table>
</div>