    <div class="brand-list-title">
        <ul class="list-inline">
          <li style="width:230px;"><b>CustomerID:</b>{{model.customer_id}}</li>
          <li style="width:240px;"><b>CustomerName:</b>{{model.customer_name}}</li>
          <li>
              <a id="addBrand" href="javascript:void(0)" class="buttons"><i class="fa fa-plus"></i>   Add Brand</a>
          </li>
        </ul>         
    </div>
    <div>
        <table class="brand_list_header" cellspacing="0">
            <thead>
                <tr>
                    <th width="220px">Brand Name</th>
                    <th width="240px">Brand Number</th>
                    <th width="70px" style="/*border-right:0px;*/">
                        Operation
                    </th>
                </tr>
            </thead>
            <tbody>
              {{#if brands}}
                {{#each brands}}
                <tr data-brandid="{{this.cb_id}}">

                    <td valign="middle" width="220px" style="border-left: 1px solid #dddddd;">
                        {{this.brand_name}}
                    </td>
                    <td valign="middle" width="240px">
                        {{this.brand_number}}
                    </td>

                    <td valign="middle" style="text-align: center;width:70px;border-right: 1px solid #dddddd;">

                        {{#xifCond this.active 1 '='}}
                           <a href="javascript:void(0)" name="b_inactive" class="buttons" title="Inactive" style="margin-left:0;"><i class="fa fa-minus-circle"></i></a>
                        {{/xifCond}}
                        {{#xifCond this.active 0 '='}}
                           <a href="javascript:void(0)" name="b_active" class="buttons" title="Active" style="margin-left:0;"><i class="fa fa-check-circle"></i></a>
                        {{/xifCond}}

                    </td>
                </tr>
                {{/each}}
              {{else}}
                <tr>
                    <td colspan="3" style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid #bbbbbb;">No Data.</td>
                </tr>
              {{/if}}
            </tbody>
        </table>
    </div>

    <div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
        <ul id="pagination-brand" class="clearfix pagebox">
        </ul>
    </div>
