<div>  
   <form id="addCustomerForm" name="addCustomerForm">
        <table width="660px" >
            <tr> 
                <td>
                    <label for="customer_id">CustomerID</label>
                </td>
                <td>    
                    <input name='customer_id' id='customer_id' type="text" maxlength="100"  class="input_text_password_select" onkeyup="this.value=this.value.toUpperCase()" value="{{model.customer_id}}"/>
                </td>
                <td  class="status validator_style">*</td>
            </tr>

            <tr>
                <td>
                    <label for="customer_name">Customer Name</label>
                </td>
                <td>    
                    <input name='customer_name' id='customer_name' type="text" maxlength="100"  class="input_text_password_select" onkeyup="this.value=this.value.toUpperCase()" value="{{model.customer_name}}"/>
                </td>
                <td  class="status validator_style">*</td>
            </tr>


            <tr>
                <td>
                    <label for="warehouse_name">Address Name</label>
                </td>
                <td>    
                    <input name='warehouse_name' id='warehouse_name' type="text" maxlength="100"  class="input_text_password_select" onkeyup="this.value=this.value.toUpperCase()" value="{{model.title}}"/>
                </td>
                <td  class="status validator_style">*</td>
            </tr>
            <tr>
                <td>
                    <label for="house_address">Address1</label>
                </td>
                <td>
                    <input name='house_address' id='house_address' type="text" maxlength="100" class="input_text_password_select" value="{{model.send_house_number}}"/>
                </td>
                <td  class="status validator_style">*</td>
            </tr>
            <tr>
                <td>
                    <label for="street_address">Address2</label>
                </td>
                <td>
                    <input name='street_address' id='street_address' type="text" maxlength="100" class="input_text_password_select" value="{{model.send_street}}"/>
                </td>
                <td  class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label for="city">City</label>
                </td>
                <td>
                    <input name="city" id="city" type="text" maxlength="50" class="input_text_password_select" value="{{model.city}}"/>
                </td>
                <td  class="status validator_style">*</td>
            </tr>
            <tr>
                <td>
                    <label for="zipcode">Zip Code</label>
                </td>
                <td>
                    <input name='zipcode' id='zipcode' type="text" maxlength="30"  class="input_text_password_select" value="{{model.send_zip_code}}"/>
                </td>
                <td  class="status validator_style">*</td>
            </tr>
            <tr id="tr_state_dd">
                <td>
                    <label for="state_dd">State</label>
                </td>
                <td>
                    <select id="state_dd" name="state_dd" style="width:300px;">
                        <option value="" ></option>
                    </select>
                </td>
                <td  class="status validator_style">*</td>
            </tr>
            <tr  id="tr_state">
                <td>
                    <label for="state"></label>
                </td>
                <td>
                    <input name="is_text_state" id="is_text_state" type="hidden" value="false"/>
                    <input name='state' id='state' type="text" maxlength="50" class="input_text_password_select" value="{{model.send_pro_input}}"/>
                </td>
                <td  class="status validator_style"></td>
            </tr>
            <tr>
                <td>
                    <label for="country">Country</label>
                </td>
                <td>
                    <select id="country" name="country" style="width:300px;">
                        <option value="" ></option>
                        {{#each countries}}
                            <option value="{{this.ccid}}" code="{{this.c_code}}">{{this.c_country}}</option>
                        {{/each}}
                    </select>
                    
                </td>
                <td  class="status validator_style">*</td>
            </tr>
            
            <tr>
                <td>
                    <label for="contact">Contact</label>
                </td>
                <td>
                    <input name='contact' id='contact' type="text" maxlength="45" class="input_text_password_select" value="{{model.contact}}"/>
                </td>
                <td  class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label for="phone">Phone</label>
                </td>
                <td>
                    <input name='phone' id='phone' type="text" maxlength="45" class="input_text_password_select"  value="{{model.phone}}"/>
                </td>
                <td  class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label for="phone">E-Mail</label>
                </td>
                <td>
                    <input name='email' id='email' type="text" maxlength="45" class="input_text_password_select" value="{{model.send_email}}"/>
                </td>
                <td  class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label for="phone">Fax</label>
                </td>
                <td>
                    <input name='fax' id='fax' type="text" maxlength="45" class="input_text_password_select" value="{{model.send_fax}}"/>
                </td>
                <td  class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label for="payment_term">Payment Term</label>
                </td>
                <td>
                    <select id="payment_term" name="payment_term" style="width:300px;">
                        <option value="" ></option>
                        {{#each payments}}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    
                </td>
                <td  class="status validator_style"></td>
            </tr>
        </table>
    </form>
</div>

