
    <div>
        <table class="search_result_list_header" cellspacing="0">
            <thead>
                <tr>
                    <th width="150px">CustomerID</th>
                    <th width="310px">Customer Name</th>
                    <th width="280px">Address 1</th>
                    <th width="250px">Address 2</th>
                    <th width="100px">City</th>
                    <th width="80px">Zip Code</th>
                    <th width="80px">Province</th>
                    <th width="80px">Title</th>
                    <th width="150px" style="border-right:0px;">
                        Operation
                    </th>
                </tr>
            </thead>
            <tbody>
              {{#if customers}}
                {{#each customers}}
                <tr data-customerkey="{{this.customer_key}}">

                    <td valign="middle" width="150px">
                        {{this.customer_id}}
                    </td>
                    <td valign="middle" width="310px">
                        {{this.customer_name}}
                    </td>
                    <td valign="middle" width="280px">
                        {{this.send_house_number}}
                    </td>
                    <td valign="middle" width="250px">
                        {{this.send_street}}
                    </td>
                    <td valign="middle" width="100px">
                        {{this.city}}
                    </td>
                    <td valign="middle" width="80px">
                        {{this.send_zip_code}}
                    </td>
                    <td valign="middle" width="80px">
                        {{#if this.pro_id}}
                                {{#compare this.pro_id -1}}
                                    {{this.send_pro_input}}
                                {{/compare}}
                            {{this.pro_name}}
                        {{else}}
                            {{this.send_pro_input}}
                        {{/if}}

                    </td>

                    <td valign="middle" width="80px" style="text-align: center;">

                        {{#if this.titles}}

                            <span name="showTitles" class="linked badge">{{this.titlecnt}}</span>
                                
                        {{else}}

                            <span class="badge">0</span>
                            
                        {{/if}}

                    </td>

                    <td valign="middle" style="text-align: center;width:150px;">

                    <!--0:禁用，1:启用-->
                        {{#if this.active}}
                            <a href="javascript:void(0)" name="modify" class="buttons" title="Edit"><i class="fa fa-pencil"></i></a>
                        {{else}}
                            <!-- {{#xifCond this.active "" '='}} -->
                            <a href="javascript:void(0)" name="modify" class="buttons" title="Edit"><i class="fa fa-pencil"></i></a>
                            <!-- {{/xifCond}} -->
                        {{/if}}
                       
                        
                        <a href="javascript:void(0)" name="brand" class="buttons" title="Brand" style="margin-left:0;"><i class="fa fa-cubes"></i></a>
                        {{#if this.active}}
                            <a href="javascript:void(0)" name="inactive" class="buttons" title="Inactive" style="margin-left:0;"><i class="fa fa-minus-circle"></i></a>
                        {{else}}
                            {{#xifCond this.active "" '='}}
                                <a href="javascript:void(0)" name="inactive" class="buttons" title="Inactive" style="margin-left:0;"><i class="fa fa-minus-circle"></i></a>
                            {{/xifCond}}

                            {{#xifCond this.active "0" '='}}
                                <a href="javascript:void(0)" name="active" class="buttons" title="Active" style="margin-left:0;"><i class="fa fa-check-circle"></i></a>
                            {{/xifCond}}
                            
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
              {{else}}
    	        <tr>
    	            <td colspan="9" style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;">No Data.</td>
    	        </tr>
    	      {{/if}}
            </tbody>
        </table>
    </div>

    <div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
        <ul id="pagination" class="clearfix pagebox">
        </ul>
    </div>
