
{{#if differences.length}}

	<ul class="nav nav-tabs" id="containerTabs">
    {{#each differences}}
        <li id="{{this.SAC_ID}}">
            <input type="hidden" name="con_id" value="{{this.CON_ID}}"/>
            <input type="hidden" name="ps_id" value="{{this.PS_ID}}"/>
            <input type="hidden" name="slc_id" value="{{this.SLC_ID}}"/>
            <input type="hidden" name="pending" value="{{this.pending}}"/>
            <a href="#{{this.CONTAINER}}" data-toggle="tab" name="{{this.SAC_ID}}">
                {{this.CONTAINER}}
                <span class="" name="{{this.CONTAINER}}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </a>
        </li>
 	{{/each}}
 	</ul>
 	<div class="tab-content">
 	{{#each differences}}
		
		<div class="tab-pane" id="{{this.CONTAINER}}">
				
		</div>
		
    {{/each}}
    </div>
{{else}}

    <div class="no_data">
       No Data
    </div>

{{/if}}