
{{#if differences.length}}

<table class="table table-striped" width="100%" >
<thead>
	<th>Area</th>
  <th class="sort_link"><a class="{{post_date_css}}" href="#"  name="post_date">Posted On</a></th>
  <th>Posted by</th>
   <th class="progress_header">Progress</th>
   <th>Overall Status</th>
   <th>Reviewer</th>
   <th class="sort_link"><a class="{{approve_date_css}}" href="#"  name="approve_date">Reviewed On</a></th>
   <th></th>

</thead>
<tbody>
{{#each differences}}
   <tr>
   		<td>{{this.AREA_NAME}}</td><td>{{this.POST_DATE}}</td><td>{{this.COMMIT_NAME}}</td>
        
         <td>
           <div class="custom_progress_box">
             <div class="custom_progress" style="background-position:{{this.percentage_completed}}px 0px;">
                {{this.DIFFERENCE_APPROVE_LOCATION_COUNT}} / {{this.DIFFERENCE_LOCATION_COUNT}}
             </div>
           </div>            
         </td>
         <td>
            {{#sif this.DIFFERENCE_APPROVE_LOCATION_COUNT this.DIFFERENCE_LOCATION_COUNT}}
               Approved
            {{else}}
               Pending
            {{/sif}}
         </td>
         <td>{{this.APPROVE_NAME}}</td>
         <td>{{this.APPROVE_DATE}}</td>
         <td><button type="button" id="review_btn" class="review_btn btn btn-default btn-sm" title="Review" name="{{this.SAA_ID}}">Review</button></td>
   </tr>
{{/each}}
</tbody>
</table>

{{else}}
<div class="no_data">
   No Data
</div>
{{/if}}
<div id="pagination" class="pagebox">
   
</div>