
<div id="status_dd_div">
<label for="status_select">Status</label>
<input id='status_select' type='text' class='form-control' />
<input id="selected_status" type="hidden" value="0"/>
</div>
<div id="filter_btn_div">
	<button id="filter_btn" class="btn btn-default" type="button" title="Filter" >Filter</button>
</div>
<input type="hidden" id="filtered_status" value="0" />
<input type="hidden" id="filtered_area_id" value="0" />
<input type="hidden" id="filtered_storage_id" value="0" />
<button id="filter_btn_bk" class="btn btn-default" type="button" title="Filter" style="display:none;">Filter</button>