#new_task_content #storage_list_box, #new_task_content #title_list_box,#new_task_content #user_list_box{display: inline;width:auto;}
#filter_box{padding-bottom: 5px;margin-bottom:10px;height:95px;}
#new_task_content #toc_warehouse{float:left;width:350px;margin-bottom: 10px;}
#new_task_content #toc_warehouse label{width:140px;text-align: right;padding-right: 5px;}
#new_task_content #toc_title label{width:100px;text-align: right;padding-right: 5px;}
#new_task_content #toc_title{float:left;width:300px;margin-bottom: 10px;}
.clear{clear: both;}
#new_task_content #toc_area,#new_task_content #users_body,#new_task_content #create_task_body, #new_task_content #deadline_body {padding-top: 20px;}
#new_task_content .task_box{width:240px;float:left;margin:5px;padding:5px;}
#new_task_content .task_box_unselected{background-color: #e5e5e5;border: 1px solid #c9d2dc;}
#new_task_content .task_box_selected{background-color: #E6F3C5;border: 1px solid #c9d2dc;}
#new_task_content .task_header{color:#444;text-align: center;padding:5px; font-weight: bold;}
#new_task_content .task_body{padding:5px 10px;border: 1px solid #b3b6ba;background-color: #fff;height:300px; overflow-y:scroll; }
#new_task_content .task_box label{padding-left: 5px;font-weight: normal;}
#new_task_content .select_all {text-align: left;padding-left: 10px;}
#new_task_content .select_all label{margin:0px;}
#new_task_content #error_block{margin:5px;display: none;}
#new_task_content .no_data{margin:5px;padding:10px; text-align:center;background-color:#eee;border:1px solid #444;}
#new_task_content #area_filter_box {/*border:1px solid #666;background-color: #efefef;*/}
#new_task_content #area_filter_box .header{padding: 4px; text-align: center;vertical-align: middle;}
#new_task_content #area_filter_box input{color:#444;}
#new_task_content #area_filter_box .header label{margin: 0px;}
#new_task_content #area_filter_box .body{padding:10px;}


#new_task_content .disabled a{color:#ccc;cursor:default;text-decoration: none;}
#new_task_content .disabled a:hover{color:#ccc;cursor:default;text-decoration: none;}

#new_task_content #selected_area_header{background-color: #545a5f; border:1px solid #80878e ; color:#fff;padding:5px;text-align: center;}
#new_task_content #selected_user_area_header{background-color: #545a5f; border:1px solid #80878e ; color:#fff;padding:5px;text-align: center;}
#new_task_content #nav_wizard{padding:2px; text-align: center; vertical-align: middle; margin-bottom: 5px;}
#new_task_content #nav_wizard a{display: inline-block;padding:5px 10px; border:1px solid #dcdcdc; text-decoration: none; background-color: #eaeaea;color:#999;}
#new_task_content .wizard_arrow{vertical-align:middle;background: url('../img/arrow.png') left center; width: 25px;height: 25px;display: inline-block;}
#new_task_content #nav_wizard a.selected{cursor:text; background-color:#E6F3C5;border-color:#9FB95E; color: #9FB95E;}
#new_task_content #nav_wizard a.visited{border-color: #398439;color:#fff;background-color: #449d44;cursor: text;}
#new_task_content #nav_wizard a.inactive{cursor: not-allowed;}


#new_task_content #inventory_task_header{/*background-color: #f5f5f5;padding:10px 15px;border-color: #ddd;*/font-weight: bold;}

#new_task_content .ui-widget-header{background: #f5f5f5;border-color:#ddd;}
/*.ui-widget-content{box-shadow: 3px 3px 4px #888888;}*/
#new_task_content .Inventory_body .panel{box-shadow: 2px 2px 4px #888888;}
#new_task_content .Inventory_body .panel-heading{padding:5px 15px;}

#new_task_content #users_body .header,#new_task_content #deadline_body .header{font-size: 14px;font-weight: bold;}

#new_task_content #toc_area .panel-heading .titleinputlable{width:280px;font-weight: 500;float:left;}
#new_task_content #toc_area .panel-heading .titleinputlable .col-xs-9{width:210px;}
#new_task_content #toc_area .panel-heading .titleinputlable .col-xs-1{padding:0px;}
#new_task_content #start_date,#new_task_content #end_date{cursor: pointer;}
#new_task_content #toc_area .panel-heading .row{width:auto;}
#new_task_content #toc_area .ptopfoot5px{text-align: center;}
#new_task_content #toc_area .ptopfoot5px .panel_topleft_box{float:left;margin-bottom: 0px;margin-left:13%;}
#new_task_content #next_task_preview_div,#new_task_content #back_area_selection,#new_task_content  #create_task_link,#new_task_content #back_date_selection,
#new_task_content #next_area_selection_div,#new_task_content #back_user_selection,#new_task_content #task_preview_back{font-weight:bold;display:inline-block;
	float:right;line-height: 25px;height:25px;vertical-align: middle; width:150px;text-align: right;text-decoration: none; }
#new_task_content #back_area_selection, #new_task_content #back_user_selection, #new_task_content #back_date_selection,#new_task_content #task_preview_back{float:left;text-align: left;text-decoration: none;vertical-align: middle;margin-top:5px;}
#new_task_content .assign_user_header{float:left; margin-right: auto;margin-left: auto;width:200px;}
#new_task_content #next_assign_user_div{margin-top: 5px;}


.group_box{background:#f5f5f5 url('../img/group.png') left center no-repeat;}
.group_box_div{border-bottom: 1px solid #bbb;padding-bottom: 5px;margin-bottom: 5px;}


#new_task_content .next{background: url('../img/arrow-next.png') right center no-repeat;height:25px;padding-right:30px;color:#225485; cursor:pointer;text-decoration: none;}
#new_task_content .disabled .next{background: url('../img/arrow-next-disabled.png') right center no-repeat;height:25px;padding-right:30px;}
#new_task_content .previous{background: url('../img/arrow-prev.png') left center no-repeat;height:25px;padding-left:30px; color:#225485;cursor: pointer;text-decoration: none;}
#new_task_content .next:hover{text-decoration: none;}
#new_task_content #deadline_body dt,dd{font-size: normal,line-height:normal;}
#new_task_content #deadline_body button{padding:0px;margin:2px;}
#new_task_content #deadline_body .ui-widget-content{box-shadow: none;}
#new_task_content #ui-datepicker-div dt,dd,.ui-widget {font-size: normal;font-weight: normal}

/*#show_selected_areas_only, #show_all_areas_only, #show_assigned_areas_only, #show_unassigned_areas_only{margin-left: 15px; margin-top: 5px;float:left;}
*/
#areas_button_group{margin:0px auto 10px; text-align: center;}
#areas_button_group button{padding: 3px 7px;font-size: small;}


#new_task_content #selected_areas_create .panel{width: 150px; margin: 10px;}
#new_task_content #selected_areas_create .panel-heading{font-weight: bold;}
#new_task_content #selected_areas_create .panel-body{padding:5px 20px;}
#new_task_content #selected_areas_create .user_name{background-color: #f5f5f5;border:1px solid #ddd;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
#new_task_content #selected_areas_create .areas{overflow-x:auto;max-width:850px;border:1px solid #ddd;border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
#new_task_content #selected_areas_create .locations_block{max-height: 200px;overflow-y:auto;line-height: 25px;}
#new_task_content #block1,#new_task_content #block2{float:left; width:300px;}
#new_task_content .title{width: 100px; float: left;font-weight: bold;}
#new_task_content #create_btn_div{padding-left: 100px;}


#new_task_content .div-table{display: table;}
#new_task_content .div-table-row{display: table-row;}
#new_task_content .div-table-cell{display: table-cell;}

#new_task_content #date_table .input-group{width:600px;}
#new_task_content #date_table #occ input[type="text"]{width:50px;height:25px;}
#new_task_content #repeating_div, #new_task_content #Weekly_table, #new_task_content #Monthly_table{display: none;}

#new_task_content #ends_table label,#new_task_content #name_of_date_table label,#new_task_content #is_blind_checkbox_div label{font-weight: normal;font-size: normal}
#new_task_content input[type="radio"]{padding-right: 5px;}
#ends_on_date{height:25px;width:100px;}
#ends_table .div-table-row{padding:5px 2px;height:25px;line-height: 18px}

#new_task_content .Inventory_filter .btn-primary{margin-top: 5px; padding:2px 6px;}
#new_task_content .iToggle span.label{font-size: 14px;font-weight: 100;border-radius: 0px;background-color: #eaeaea; color:#999;}
#new_task_content .iToggle span.selected{ color:#fff;background-color: #337ab7;}
#new_task_content .iToggle .slider {background-image: none;background-color: none;}
#new_task_content #task_order_content{width:1050px;overflow: hidden;}
#new_task_content #all_container{width:1020px;overflow:hidden;}
#new_task_content #all_container2{width:5000px;position: relative;}
/*#new_task_content #toc_area, #new_task_content #toc_selected_area, #new_task_content #users_body, #new_task_content #deadline_body,#new_task_content #create_task_body{float:left;width:1020px;position: relative;left:0px; top:0px;}*/
#new_task_content #deadline_body{float:left;width:1020px;position: relative;left:0px; top:0px;}
#new_task_content .toc_area {float:left;width:1020px;position: relative;left:0px; top:0px;}
#new_task_content .users_body{float:left;width:710px;position: relative;left:0px; top:0px;z-index:3;}
#create_task_body{float:left;width:1020px;position: relative;left:0px; top:0px;}
#create_task_body .body{padding:10px;}

#new_task_content .inventory_box_adjusted{float:left;width:500px;position: relative;left:0px; top:0px;}
.employee_name{padding:5px;}
#new_task_content #users_body .employee_box_div{max-height: 300px; overflow-y:auto;}
.users_body .panel{background-color: #c2dcf9;border:1px solid #444;}
.users_body .panel-footer{background-color: #7ab9f0;border-top:1px solid #444;}
#inventory_task_header .left{padding-top: 5px;float:left;}
#back-buttons-div{float:right;}
.assign_user_icon{float:left;}
.label_heading{padding:5px;display:inline-block;width:120px;font-size: 13px; background-color: #eee;border:1px solid #ccc;color#555;border-radius: 4px;border-top-right-radius: 0; border-bottom-right-radius: 0;}
#selected_areas_create{margin-top: 10px}

.create_task_table{width: 100%}
.create_task_table td{padding:5px;}
td.labele{font-weight:bold;padding-right: 5px;}
td.val{min-width: 160px;padding-right: 30px}


.select2-container--default .select2-selection--multiple{border-bottom-left-radius: 0px;border-top-left-radius: 0px;}.multiplestyle{overflow: hidden;height: 34px;  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
#filter_box .mCSB_dragger_bar{background-color: #444;}

#new_task_content #filter_box .dropdown-toggle{border-top-left-radius: 0px;border-bottom-left-radius: 0px;text-align: left;background-image: url(/Sync10-ui/lib/immybox-master/immybox-arrow.png);background-repeat: no-repeat;background-position: center right;width: 210px}
#new_task_content #filter_box #create_model_view .dropdown-toggle{width:185px;}
#new_task_content #filter_box #create_lot_view .dropdown-toggle{width:205px;}
#new_task_content #filter_box .dropdown-toggle span{text-align: left;}
#new_task_content #filter_box .dropdown-toggle .caret{display: none;}
#new_task_content #filter_box .btn-default:hover,
#new_task_content #filter_box .btn-default:focus, 
#new_task_content #filter_box .btn-default.focus, 
#new_task_content #filter_box .btn-default:active, 
#new_task_content #filter_box .btn-default.active, 
#new_task_content #filter_box .open>.dropdown-toggle.btn-default{border-color:#ccc;background-color: #fff;}
#new_task_content #filter_box .multiselect-container{min-width:210px;max-height: 150px;overflow: auto}
#new_task_content #filter_box .multiselect-container {position: absolute;list-style-type: none;margin: 0;padding: 0;}
#new_task_content #filter_box .dropdown-menu li>a {margin:1px 0px;display: block;padding:0px;clear: both;font-weight: 400;line-height: 1.42857143;color: #333;white-space: nowrap;}
#new_task_content #filter_box .multiselect-container li>a>label {margin: 0;height: 100%;cursor: pointer;font-weight: 400;padding: 3px 20px 3px 40px;}
#new_task_content #filter_box .multiselect-container li>a>label>input[type=checkbox] {margin-bottom: 5px;}
#new_task_content #filter_box .dropdown-menu .active>a, 
#new_task_content #filter_box .dropdown-menu .active>a:hover,
#new_task_content #filter_box .dropdown-menu .active>a:focus {color: #fff;text-decoration: none;background-color: #337ab7;outline: 0;}
#new_task_content #filter_box .dropdown-menu li>a:hover {background-color: #eaeaea;text-decoration: none;}
#new_task_content #filter_box .mCSB_inside > .mCSB_container {margin-right: 0px;}