.input-group .immybox_witharrow{border-radius: 0px 4px 4px 0px}
.input-group input[type="text"]{border-radius: 0px 4px 4px 0px}
.input-group{width: 240px}
#search_start_date{width:175px;}
#search_end_date{width:179px;}
#search_box .input-group-addon, #new_task_content .input-group-addon,#deadline_body .input-group-addon{font-size: 12px;padding:2px 5px;}
#searchbox .input-group .input-group-addon .form-control{z-index: 1}
#search_btn_div{text-align: right}

#non-repeating-div .div-table-cell .div-table-cell{display: table-cell;padding:5px 5px;vertical-align: top;}

#ends_table{padding:5px; line-height: 12px;border:1px solid #ccc;}
#ends_table .div-table-cell{padding:3px 25px;}
#repeating_div .input-group .form-control,#repeating_div .input-group select{border-radius: 0px 4px 4px 0px;}
.assigned_user{background:url("../img/assigned_user.png") no-repeat 0px 3px;padding-left: 17px;float:right;margin-left: 5px;}
.unassign_user_from_location{background:url("../img/delete.png") no-repeat 0px 3px;padding-left: 17px;float:right;margin-left: 30px;}
.assigned{  background-color: #f5f5f5;border: 1px solid #ddd;}
#new_task_content #deadline_body input[type="text"]{background-color: #fff;}
.task_preview{float:right;}
#create_task_btn{float:right;}
.select2-container-multi{width: 100%;border-radius: 0px 4px 4px 0px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;border: 1px solid #ccc;}
 .select2-container-multi .select2-choices{border:0px;}


 .areas .mCSB_horizontal.mCSB_inside > .mCSB_container {margin-bottom: 10px;}
 .locations_block .mCSB_container {margin-right: 0px;}
 .employee_box_div .mCSB_scrollTools .mCSB_draggerRail{background-color: #444;}
  .employee_box_div .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #444;width:6px;}
  .td_ScheduleInfo .inventory_legend {width:480px;}
  .Tractor_ulitme .div-table-cell .namestyle{width:100px;margin-left: 10px}
  #tasks_list{font-size: 12px}
.art-dialog-body {padding: 0px;}


#reassign_view_area_locations{max-height: 470px;overflow-y:auto;width:810px;}

#reassign_view_table .employee_box_div{max-height: 460px;width: 450px;}
#reassign_view_table .employee_box{width:200px;text-align: left;padding:5px;}
#reassign_view_table #reassign_view_users_name_list .employee_box{padding:5px;}
#reassign_view_users_side .employee_box{padding:0px;}
#reassign_view_table #reassign_view_users_name_list{max-height: 135px; overflow-y:auto;background: #f5f5f5;border:1px solid #aeaeae;padding:3px;}
#reassign_view_users_name_list_select{padding:10px;}
#reassign_view_table #reassign_view_areas_place{clear:both;}
#reassign_view_table .div-table-cell{vertical-align: top;}
#reassign_view_area_locations .panel{width: 165px; margin: 10px;}
#reassign_view_area_locations .panel-heading{font-weight: bold;}
#reassign_view_area_locations .panel-body{padding:5px;}
#reassign_view_area_locations .user_name{background-color: #f5f5f5;border:1px solid #ddd;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
#reassign_view_area_locations .areas{overflow-x:auto;max-width:850px;border:1px solid #ddd;border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
#reassign_view_area_locations .locations_block{height: 200px;overflow-y:auto;line-height: 25px;text-align: left;}
#reassign_view_area_locations .locations_block label{font-weight: normal;width:100%;}
#reassign_view_area_locations .locations_block li{margin-top:5px;padding-left: 5px;margin-right: 5px;}
#reassign_view_area_locations #block1,#reassign_view_area_locations #block2{float:left; width:300px;}
#reassign_view_area_locations .title{width: 100px; float: left;font-weight: bold;}
#reassign_view_areas_place .unassign_user_from_location{margin-left: 40px}

#reassign_assign_user_button_div{padding:5px;clear:both;margin-left: auto;}
#reassign_assign_user_button_div a{float:right;}
#reassign_view_table_wrapper {width: 820px;overflow: hidden;}
#reassign_view_table {width: 1300px;position:relative;}
#reassign_view_table .left_side{width: 710px;position: relative;left:0px;}
#reassign_view_table .right_side{width: 430px;z-index:4;position: relative;left: 0px;}
#reassign_view_users_side{background-color: #c2dcf9;border:1px solid #444;border-radius: 4px;overflow-y:auto;width: 460px}
#reassign_view_users_side .panel-body{padding:5px;}
#reassign_view_users_side .panel-footer{border-top:1px solid #444;background-color: #7ab9f0}

#reassign_view_users_side .employee_name{float:left;padding:5px;}
#reassign_view_users_side .count{float:right;padding:5px;}
.selected_employee {border-color: #2a6496; background-color: #dfe8f2;}

#difference_verification_task_list {margin-top:20px;}
.verification_task_block{border: 1px solid #ddd;border-radius: 4px;margin:10px 0px;}
.verification_task_block h3{padding:10px; line-height:1.4;color:#fff;font-weight: bold; background-color: #2371a5;font-size: 14px;margin:0px;}
.verification_task_block_info,.verification_task_reassign_block{padding:10px;background-color: #e3eef6}
.verification_task_block_info .div-table{width: 100%}
.verification_task_block_info .div-table .reassign_btn_cell{text-align: right}
.verification_task_reassign_block .body{background-color:#e3eef6}
.verification_task_reassign_block .panel-footer{border-top:1px solid #ddd;background-color: #7ab9f0}
#container_differences .employee_box_div{width:700px;}
.input-group.required .input-group-addon:after { content:"*"; color:red;font-size: 18px;}
.comments_div .required:after{content:"*"; color:red;font-size: 18px;}

.highlighted td{background-color: #FFFF99;}
.remove_difference{background:url("../img/delete.png") no-repeat 0px 3px;padding-left: 17px;float:right;margin-left: 30px;cursor: pointer;}
.create_verification_task_diff_btn{margin-left: 40px}
.v_t_assign_user_btn_div{padding:5px;float:right;}
#create_verification_task_page .list_users_table_wrapper {width: 800px;overflow: hidden;}
#v_d_table {width: 1300px;position:relative;}
#create_verification_task_page .list_users_table_wrapper .differences_list{float:left;position:relative;width:800px;overflow:auto;height:400px;}
#create_verification_task_page .list_users_table_wrapper .differences_list table{}
#create_verification_task_page .list_users_table_wrapper .users_list{padding:0px;float:right;position:relative;width:450px;background-color: #c2dcf9;  border: 1px solid #444;}
#v_d_table .employee_box_div{max-height: 370px;width: 440px;overflow: auto}
#v_d_table .employee_box{cursor:pointer;margin:3px;float:left;width:195px;text-align: left;background: #fff;border:2px solid #888;border-radius: 8px}
.users_list .employee_name{float:left;padding:5px;}
.users_list .count{float:right;padding:5px;}

.users_list .panel-body{  padding:5px;}
#v_d_table .selected_employee {border-color: #2a6496; background-color: #dfe8f2;}
#create_verification_differences_table_body{height: 370px;overflow: auto}
#v_attr_table {margin-bottom: 10px;}
#v_error_msg{margin-bottom: 10px;float:left;width:80%;}
.users_list .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #444;width:6px;}
.users_list .mCSB_scrollTools .mCSB_draggerRail{background-color: #444;}
.users_list .panel-footer{border-top:1px solid #444;background-color: #7ab9f0}
#difference_verification_task_list {margin-top:20px;}
#v_attr_table .employee_box_div #mCSB_1_container{margin-right:0px;}

#progress_user_area_location{padding:10px;border:1px solid #ccc;border-radius: 4px; border-top: 0px;display: none;}
#progress_user_area_location .user_name{background-color: #f5f5f5;border:1px solid #ddd;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
#progress_user_area_location .areas{overflow-x:auto;max-width:850px;border:1px solid #ddd;border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
#progress_user_area_location .areas .div-table-cell{vertical-align: top}
#progress_user_area_location .user_name{background-color: #f5f5f5;border:1px solid #ddd;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
#progress_user_area_location .locations_block{max-height: 200px;overflow-y:auto;line-height: 25px;}
#progress_user_area_location .panel{width: 150px; margin: 10px;}
#progress_user_area_location .panel-heading{font-weight: bold;}
#progress_user_area_location .panel-body{padding:5px 20px;}
#progress_user_area_location_header{padding:6px 12px;font-weight: bold; margin-top:10px;border:1px solid #ddd; background-color:#f5f5f5; color:#333;cursor: pointer}
#selected_areas_create .div-table-cell{vertical-align: top}

