.search_input {
	background: url(../imgs/search_bg.jpg) repeat 0 0;
	width: 400px;
	height: 30px;
	font-weight: bold;
	border: 1px #bdbdbd solid;
}
.search_shadow_bg {
	background: url(../imgs/search_shadow_bg2.jpg) no-repeat 0 0;
	width: 408px;
	height: 36px;
	padding-top: 3px;
	padding-left: 3px;
	margin-bottom: 5px;
}
input {
	padding: 2px;
}
#easy_search_father {
	position: absolute;
	width: 0px;
	height: 0px;
	z-index: 1;
}
#easy_search {
	position: absolute;
	left: 318px;
	top: -18px;
	width: 55px;
	height: 30px;
	z-index: 9999;
	visibility: visible;
}

#eso_search:hover{
	cursor: pointer;
}

table#items  th, table#items  td {
	text-align: center;
}

#itemsInfo {
	 border: 2px solid #cccccc;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	width: 80%;
  	margin-left: 60px;
  	padding: 8px;
}

#itemsInfo .items {
	border: 1px solid #cccccc;
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#itemsInfo .weightGroup {
	margin-bottom: 0px;
}

#quantityType {
	margin-left: 60px;
	margin-bottom: 10px;
}

/*  取出点击后的边框 */
input, button, a { 
	outline: 0 none !important; 
}


#threeInfo{
	width:80%;
	margin: 0 auto;
}

/* 元素不显示*/
.eleNone {
	display: none
}

.divdetails {
	margin-top: 8px;
	margin-left: 18px;
}


.divdetails table thead th{
	background-color: #F0AD4E;
	text-align: center;
}

.divdetails table {
	text-align: center;
}

.center {
	text-align: center;
}

/* 添加订单侧栏 */
.borderClass {
  border: 4px solid #31b0d5 !important;
  border-right: 0;
}

/* stubborn */
#main_div .fsStyle {
	min-width: 180px !important;
	position: relative !important;
	border-radius: 8px !important;
	-webkit-border-radius: 8px !important;
	border: 2px solid #0000FF !important;
}


#main_div .fsStyle_shipper {
	min-width: 180px !important;
	position: relative !important;
	/*border-radius: 8px !important;*/
	/*-webkit-border-radius: 8px !important;*/
	/*border: 2px solid green !important;*/
}

#main_div .fsStyle_fee {
	min-width: 180px !important;
	position: relative !important;
	/*border-radius: 8px !important;*/
	/*-webkit-border-radius: 8px !important;*/
	/*border: 2px solid  brown !important;*/
}

.td_waybill fieldset legend {
	margin-right: auto;
	margin-left: 10px;
}

#main_div .waybill_id {
	text-decoration: underline;
	cursor: pointer;
}

.fsStyle_shipper>.shipper_ul{
	padding:15px;
}
.fsStyle_consignee>.consignee_ul{
	padding:15px;
}
.fsStyle_fee>.fee_ul{
	padding:15px;
}


.fsStyle_shipper .namestyle{width: 120px;text-align: right;margin-right: 3px}
.fsStyle_shipper .valstyle{text-align: left;}
.fsStyle_consignee .namestyle{width: 120px;text-align: right;margin-right: 3px}
.fsStyle_consignee .valstyle{text-align: left;}
.fsStyle_fee .namestyle{width: 120px;text-align: right;margin-right: 3px}
.fsStyle_fee .valstyle{text-align: left;}

/* 错误提示*/
div.error span.error {
	display: block;
	padding-left: 20px;
	position: relative;
	color: #B94A48;
	margin-top: 2px;
}

div.error span.error:before {
	font-family: 'Glyphicons Halflings';
	content: '\e101';
	position: absolute;
	top: -1px;
	left: 0;
	font-size: 14px;
	color: #D9534F;
	display: inline-block;
}
/* tab的error*/
.checkerror{
	background:transparent url(../imgs/error.png) no-repeat top left;
	position:absolute;
	top:0px;
	left:1px;
	height:20px;
	z-index: 1000;
	width: 20px !important;
}
/* tab选中*/
.checked{
	background:transparent url(../imgs/checked.png) no-repeat top left;
	position:absolute;
	top:0px;
	left:1px;
	width:20px;
	height:20px;
	z-index: 1000;
	width: 20px !important;
}

#previous_fee{
	margin-right:15px;
}

.pager.wizard {
	display: block;
}

.invalidTel {
	margin-left: 30px;
	color: #D9534F;
}

.itemDetails fieldset {
	min-width: 180px !important;
	margin: 10px 30px;
	position: relative !important;
	border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border: 2px solid #993300 !important;
}

.itemDetails fieldset legend {
	font-size: 14px;
	font-weight: 700;
	color:#008000;
}

/* details按钮样式*/
.details{
	background: #21b384;
	margin-left: 5px;
}

.thumb{
	margin: 0 80px 10px 80px;
}

/* 虚线样式 */
.box1px {
  border-bottom: 1px dashed #ccc;
  line-height: 0px;
  margin: 8px 0px;
}

/* 添加多件货物样式 */
/* 最外层 div */
#addParcelBox {
  background-color: #fff;
  border: 1px solid #d9dadc;
  /*border-top: 0;*/
  margin: 20px 20px 20px 20px;
  position: relative;
  top: 5px;
}
.info-box {
  width: 100%;
}
.info-box .info-title {
  line-height: 3.2em;
  background-color: #f4f5f9;
  font-size: 1.1em;
  color: #515151;
  border-top: 1px solid #e7e7eb;
  font-weight: 800;
  position: relative;
}
.info-box .info-title .title {
  margin-left: 20px;
}

/* 货物数量 */
.pacielQuantity{
	margin-left: 10px;
}

.quick-search {
  position: absolute;
  top: -3px;
  right: 50px;
}

.info-box .info-title .handle {
  margin-right: 20px;
  cursor: pointer;
}

.info-box .info-title .handle > i{
 	margin-left: 10px;
}

.info-box .info-body {
  padding: 10px;
}
 
/* 设置 item 徽章样式 */
#itemQuantity {
	margin-left: 5px;
}

