.row {
	margin-top: 10px;
}

.tab-content {
	margin-top: 10px;
}

.line_100 {
	width: 100%;
	border:1px solid #CFCFCF;
	border-width: 1px 0px 0px 0px;
	margin-top: 8px;
}

.td_name {
	width: 180px;
}

.td_object {
	width: 200px;
}

.filter tr td{
	padding: 5px;
}

.red_star {
	color: #f00f4d;
	font-size: 16px;
	margin: 5px;
	vertical-align: middle;
}

/* add 按钮 */
.addMargin {
	margin-left: 50px;
	margin-right:20px;
}

/* plus 按钮 */
.minusMargin {
	margin-left: 100px;
}