/* 缩略图*/
.crop-technique1 {
	float: left;
	margin: 0.5em 10px 0.5em 0;
	overflow: hidden;/*this is important*/
	border: 1px solid #ccc;
}	
/*input values to crop the image: top right bottom left*/
.crop-technique1 img {
margin: -20px -15px -40px -55px;
}
    