.line{border-top: 1px solid #ddd;margin-bottom: 0;margin-top: 10px;padding-top: 10px;}
.download{position: absolute;padding-left: 20px;padding-top: 15px;z-index: 999}

#validating{padding-left: 0}
div.error {
float: left;
padding-left: 0;
}
/**  校验**/
.required:after
{
    position: absolute;
    content: ' *';
    top:5px;
    color: #FF0000;
    right: 5px;
    font-size: 16px;
} 
span.error {
    color: #B94A48;
    margin-top: 2px;
}
div.error span.error {
    display: block;
    padding-left: 20px;
    position: relative;
}

div.error span.error:before {
    font-family: 'Glyphicons Halflings';
    content: '\e101';
    position: absolute;
    top: -2px;
    left: 0;
    font-size: 14px;
    color: #D9534F;
    display: inline-block;
}

#continueImport
{
  display: inline-block;
}
.scrolltable{height: 200px;overflow-y: scroll;overflow-x: hidden}

/**  result**/
.status{ text-align:center; }
.errInfo{word-wrap:break-word ;}
.errorMsg{color: #d44950}
#progess{padding-top: 50px;}

/** progess **/
.nav-wizard {
    background-color: #ddd;
    margin-bottom: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.nav-wizard > li {
    position: relative;
    margin-right: -2px;
}

.nav-wizard > li > a {
    color: #666;
}

.nav-wizard > li > a {
    position: relative;
    padding-left: 30px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.nav-wizard > li > a:after {
    border-left: 19px solid #ddd;
    border-top: 19px solid rgba(0,0,0,0);
    border-bottom: 19px solid rgba(0,0,0,0);
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: -19px;
    z-index: 10;
}

.nav-wizard > li > a:before {
    border-left: 20px solid #fff;
    border-top: 20px solid rgba(0,0,0,0);
    border-bottom: 20px solid rgba(0,0,0,0);
    content: '';
    display: inline-block;
    position: absolute;
    top: -1px;
    right: -20px;
    z-index: 5;
}
/**
.nav-wizard > li > a:hover,
.nav-wizard > li > a:active,
 .nav-wizard > li > a:focus {
    background-color: #ccc;
}

.nav-wizard > li > a:hover:after,
.nav-wizard > li > a:active:after,
.nav-wizard > li > a:focus:after {
    border-left-color: #ccc;
}
 **/
.nav-wizard > li:first-child > a {
    padding-left: 15px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.nav-wizard > li:last-child > a {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.nav-wizard > li:last-child > a:after,
.nav-wizard > li:last-child > a:before {
    display: none;
}

/**
.nav-wizard > li.active a,
.nav-wizard > li.active a:hover,
.nav-wizard > li.active a:focus,
.nav-wizard > li.active a:active {
    background-color: #337ab7;
    color: #fff;
}

.nav-wizard > li.active a:after {
    border-left-color:#337ab7;
}
**/
.nav-wizard > li.done a {
    background-color: #428bca;
    color: #fff;
}

.nav-wizard > li.done a:after {
    border-left-color: #428bca;
}

.panel-wizard {
    margin-bottom: 20px;
}

.panel-wizard .tab-content {
    border: 1px solid #ddd;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border-bottom: 0;
}

.panel-wizard .wizard {
    margin: 0;
    background-color: #fcfcfc;
    padding: 15px;
    border: 1px solid #ddd;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.panel-wizard .wizard:after {
    clear: both;
    display: block;
    content: '';
}



.nav-disabled-click > li > a:hover,
.nav-disabled-click > li > a:active,
.nav-disabled-click > li > a:focus {
    background-color: #ddd;
    cursor: default;
}

.nav-disabled-click > li > a:hover:after,
.nav-disabled-click > li > a:active:after,
.nav-disabled-click > li > a:focus:after {
    border-left-color: #ddd;
}

.nav-disabled-click > li.active > a:hover:after,
.nav-disabled-click > li.active > a:active:after,
.nav-disabled-click > li.active > a:focus:after {
    border-left-color: #4e5154;
}

.nav-disabled-click > li.done > a:hover,
.nav-disabled-click > li.done > a:active,
.nav-disabled-click > li.done > a:focus {
    background-color: #428bca;
}

.nav-disabled-click > li.done > a:hover:after,
.nav-disabled-click > li.done > a:active:after,
.nav-disabled-click > li.done > a:focus:after {
    border-left-color: #428bca;
}

/** 自定义样式，给li加上 waring ,info, error,success 即可显示相应的颜色 **/
#steps > li.waring > a{background-color: #f0ad4e;}
#steps > li.waring > a:after{ border-left-color: #f0ad4e;}

#steps > li.info > a{background-color: #5bc0de;}
#steps > li.info > a:after { border-left-color: #5bc0de;}

#steps > li.error > a{background-color: #d9534f;}
#steps > li.error > a:after { border-left-color: #d9534f;}

#steps > li.success >a {background-color: #5cb85c;}
#steps > li.success > a:after { border-left-color: #5cb85c;}

#steps > li.default >a {background-color: #ddd;}
#steps > li.default > a:after { border-left-color: #ddd;}

/**  breathing**/

.buttonBreathing {
  animation-name: buttonBreathing;
  animation-timing-function: ease-in-out;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 
  -webkit-animation-name: buttonBreathing;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  -moz-animation-name: buttonBreathing;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 0.9s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
}
@keyframes buttonBreathing { 
    from {
            background-color: #80CB1B;
            -webkit-box-shadow:0 0 5px #ccc;
        }
    50% {
            background-color: #B7F20F;
            -webkit-box-shadow: 0 0 10px #398B08;
        }
    to {
            background-color: #80CB1B;
            -webkit-box-shadow:0 0 5px #ccc;
        }
}
@-webkit-keyframes buttonBreathing {
    from {
            background-color: #80CB1B;
            -webkit-box-shadow:0 0 5px #ccc;
        }
    50% {
            background-color: #B7F20F;
            -webkit-box-shadow: 0 0 10px #398B08;
        }
    to {
            background-color: #80CB1B;
            -webkit-box-shadow:0 0 5px #ccc;
        }
}

.breathing {
  animation-name: pulsate;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 
  -webkit-animation-name: pulsate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  -moz-animation-name: pulsate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
}

.wobble-horizontal{
    animation-name: wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

  -webkit-animation-name: wobble-horizontal;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  -moz-animation-name: wobble-horizontal;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration:1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
}