﻿<div class="form-horizontal" role="form">
    <div class="form-group">
        <div class="">
            <label class="col-sm-2 control-label"><font class="important">*</font>Carrier</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input1" placeholder="Carrier">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label"><font class="important">*</font>Appointment Time</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input2" placeholder="预约时间">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label">联系人</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input1" placeholder="联系人">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">联系电话</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input2" placeholder="联系电话">
            </div>
        </div>
    </div>
</div>