﻿<div class="form-horizontal" role="form">
    <div class="form-group">
        <div class="has-success has-feedback">
            <label class="col-sm-2 control-label"><font class="important">*</font>提货仓库</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input1" placeholder="提货仓库">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">提货地址门牌号</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input2" placeholder="提货地址门牌号" disabled>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <label class="col-sm-2 control-label">提货国家</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input1" placeholder="提货国家" disabled>
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">提货地址邮编</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input2" placeholder="提货地址邮编" disabled>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">提货省份</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="input1" placeholder="提货省份" disabled>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label"><font class="important">*</font>提货联系人</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input1" placeholder="提货联系人">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">联系人电话</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input2" placeholder="联系人电话">
            </div>
        </div>
    </div>
</div>