﻿<div class="form-inline">
    <div class="form-group col-sm-4">
        <div class="input-group">
            <input id="selectOrderType" type="text" class="form-control immybox immybox_witharrow" autocomplete="off" placeholder="单据类型">
            <div class="input-group-addon">单据</div>
            <input id="inputOrder" style="margin-left:-1px !important;" type="text" class="form-control" autocomplete="off" placeholder="单据号码">
        </div>
    </div>

    <div class="form-group col-sm-4">
        <div class="input-group">
            <div class="input-group-addon">Appointment Time</div>
            <input id="inputAppointmentTime" type="date" class="form-control" autocomplete="off" placeholder="Appointment Time">
        </div>
    </div>
    
    <div class="form-group col-sm-4">
        <div class="input-group">
            <div class="input-group-addon">Carrier</div>
            <input id="inputCarrier" type="text" class="form-control immybox immybox_witharrow" autocomplete="off" placeholder="卡车公司">
        </div>
    </div>

    <div class="form-group col-sm-4">
        <div class="input-group">
            <input id="searchBeginMABD" style="margin-right:-1px !important;" type="date" class="form-control" autocomplete="off" placeholder="开始时间">
            <div class="input-group-addon">MABD</div>
            <input id="searchEndMABD" style="margin-left:-1px !important;" type="date" class="form-control" autocomplete="off" placeholder="结束时间">
        </div>
    </div>

    <div class="form-group  col-sm-4">
        <div class="input-group">
            <div class="input-group-addon">预约仓库</div>
            <input id="searchFrom" type="text" class="form-control immybox immybox_witharrow" autocomplete="off" placeholder="预约仓库" readonly="readonly">
        </div>
    </div>

    <div class="col-sm-3">
        <button type="submit" class="btn btn-info">Search</button>
    </div>
</div>