﻿<div class="form-inline">
    <div class="form-group col-sm-7">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入搜索关键字">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button">Search</button>
            </span>
        </div>
    </div>
</div>