﻿<div class="form-inline margin10">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">FROM</div>
            <input id="searchFrom" type="text" class="form-control immybox immybox_witharrow" autocomplete="off" placeholder="请选择出发地">
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">TO</div>
            <input id="searchTo" type="text" class="form-control immybox immybox_witharrow" autocomplete="off" placeholder="请选择目的地">
        </div>
    </div>
    <button type="submit" class="btn btn-info">Search</button>
</div>