<div class="panel-body briefInfo">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="customer" class="control-label col-sm-2 required">Customer</label>
            <div class="col-sm-6 ">
               <input id="customer" class="form-control vr" data-vr="valiCustomer" placeholder="Customer"/>
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="customerDN" class="control-label col-sm-2 required" >DN</label>
            <div class="col-sm-6 ">
                 <input type="text"  class="form-control vr" required="required" placeholder="DN" id="customerDN" data-vr="valiCustomerDN">
            </div>
            <div class="col-sm-4 error hidden" id="customerDnError">
                <span class="error"></span>
            </div>
            <div class="col-sm-4 hide" id="validating">
                 <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="30px" height="30px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                  <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                    C22.32,8.481,24.301,9.057,26.013,10.047z">
                    <animateTransform attributeType="xml"
                      attributeName="transform"
                      type="rotate"
                      from="0 20 20"
                      to="360 20 20"
                      dur="0.5s"
                      repeatCount="indefinite"/>
                    </path>
                  </svg>
            </div>
        </div>
    </div>
    <!--
    <div class="form-horizontal">
        <div class="form-group">
            <label for="retailPO" class="control-label col-sm-2 required">PO</label>
            <div class="col-sm-6 ">
                 <input type="text" class="form-control vr" placeholder="Retail PO" id="retailPO" data-vr="valiRetailPO" maxlength="50">
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
         <div class="form-group">
            <label for="order_number" class="control-label col-sm-2 ">SO</label>
            <div class="col-sm-6">
                 <input type="text" class="form-control vr" placeholder="SO" id="order_number" data-vr="so" maxlength="30">
            </div>
           
        </div>
    </div> -->
    <div class="form-horizontal">
         <div class="form-group">
            <label for="ipt_shipNotBefore" class="control-label col-sm-2 required">Del.Window</label>
            <div class="col-sm-6 " style="padding-left: 15px;padding-right: 15px;">
                  <div class="input-group" style="width:100%" id="deliWindow">
                    <input id="ipt_shipNotBefore" class="form-control" style=" border-right: 0; background-color: #fff !important;cursor: pointer;" value="{{SHIP_NOT_BEFORE}}" placeholder="Ship Not Before" readonly="readonly" >
                   <div class="input-group-addon ">~</div>
                   <input  id="ipt_shipNotLater" class="form-control" style=" border-left: 0;background-color: #fff !important;cursor: pointer;" value="{{SHIP_NOT_LATER}}" placeholder="Ship Not Later" readonly="readonly" >
                 </div>
            </div>
            <div class="col-sm-3 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
         <div class="form-group">
            <label for="mabd" class="control-label col-sm-2 required">MABD</label>
            <div class="col-sm-6 ">
                 <input type="text" class="form-control vr" placeholder="MABD" id="mabd" data-vr="valiMabd" style="cursor: pointer;">
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
         <div class="form-group">
            <label for="etd" class="control-label col-sm-2">Req.Ship Date</label>
            <div class="col-sm-6 ">
                 <input type="text" class="form-control vr" placeholder="Req.Ship Date" id="etd" data-vr="valiEtd" style="cursor: pointer;">
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
         <div class="form-group">
            <label for="etd" class="control-label col-sm-2">Order Date</label>
            <div class="col-sm-6 ">
                 <input type="text" class="form-control " placeholder="Order Date" id="customer_order_date" data- style="cursor: pointer;">
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
</div>    
<div class="footer">
    <div class="opbar">
        <button type="button" id="brief_next" class="btn btn-info">Next</button>
    </div>
<div>