<div class="panel-body addressInfo ">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="payment" class="control-label col-sm-2 ">Freight Terms</label>
            <div class="col-sm-9" >
                <label class="checkbox-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="已付款" checked>
                    已付款
                 </label>
                <label class="checkbox-inline">
                     <input type="radio" name="optionsRadios" id="optionsRadios1" value=" 到货仓库付款" >
                        到货仓库付款
                </label>
                
                <label class="checkbox-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="货到付款" >
                        货到付款
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="第三方支付" >
                        第三方支付
                </label>
                   
             </div>    
        </div>
    </div>
  <div class="paymentAddress panel panel-default">  
        <div class="panel-heading">Payment Address</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="billToName" class="control-label col-sm-2">Payment Name</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="" id="billToName">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="billToCountry" class="control-label col-sm-2">Country</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="" id="billToCountry">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="billToState" class="control-label col-sm-2">State</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="" id="billToState">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="billToCity" class="control-label col-sm-2">City</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="" id="billToCity">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="billToZipCode" class="control-label col-sm-2">ZipCode</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="" id="billToZipCode">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                     <label for="billToAddress" class="control-label col-sm-2">Address</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="" id="billToAddress">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                      <label for="billToContact" class="control-label col-sm-2">Contact</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="" id="billToContact">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                      <label for="billToPhone" class="control-label col-sm-2">Phone</label>
                     <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="" id="billToPhone">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="billToFax" class="control-label col-sm-2">Fax</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="" id="billToFax">
                    </div>
                </div>
            </div>
        </div>    
  </div>  
</div>  
<div class="footer">
    <div class="opbar">
        <button type="button" id="payment_pre" class="btn btn-info">上一步</button>
        <button type="button" id="previewBtn" class="btn btn-info">预览</button>
    </div>
<div>