<div class="panel-body payment">
    <div class="form-horizontal" id="ft">
        <div class="form-group">
            <label  class="control-label col-sm-2 required">Freight Terms</label>
            <div class="col-sm-9">
                <label class="checkbox-inline ">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="Prepaid" >
                    Prepaid
                 </label>
                <label class="checkbox-inline hide">
                     <input type="radio" name="optionsRadios" id="optionsRadios2" value=" COD" >
                        COD
                </label>
                
                <label class="checkbox-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="Collect" >
                        Collect
                </label>
                <label class="checkbox-inline" id="freightTerms">
                    <input type="radio" name="optionsRadios"  value="Third Party" id="thirdParty" >
                       Third Party
                </label>
             </div>   
            <div class="col-sm-1 error hidden" >
                 <span class="error" title="Freight Terms is required."></span>
            </div>  
        </div>
    </div>
  <div class="paymentAddress panel panel-default" style="display:none">  
        <div class="panel-heading">Bill Address</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="billToName" class="control-label col-sm-2">Bill Name</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="" id="billToName">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="billToCountry" class="control-label col-sm-2">Country</label>
                    <div class="col-sm-4">
                      <select class="form-control" placeholder="" id="billToCountry"/>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="billToState" class="control-label col-sm-2">State</label>
                    <div class="col-sm-4">
                      <select  class="form-control" placeholder="" id="billToState"/>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="billToCity" class="control-label col-sm-2">City</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="" id="billToCity">
                    </div>
                    <!--
					<label for="billToContact" class="control-label col-sm-2">Contact</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="" id="billToContact">
                    </div>
					-->
                  
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="billToAddress" class="control-label col-sm-2">Address</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="" id="billToAddress">
                    </div>
                    <div class="col-sm-6 error hidden" >
                        <span class="error">Adress should not be longer than 50.</span>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="billToZipCode" class="control-label col-sm-2">ZipCode</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="" id="billToZipCode">
                    </div>
					<!--
                      <label for="billToPhone" class="control-label col-sm-2">Phone</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="" id="billToPhone">
                    </div>
					-->
                </div>
            </div>
   
        </div>    
  </div>  
</div>  
<div class="footer">
    <div class="opbar">
        <button type="button" id="payment_pre" class="btn btn-info">Previous</button>
        <button type="button" id="previewBtn" class="btn btn-info">Submit</button>
    </div>
<div>