<div id="previewContainer">
	<div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title"> Order Info</h3>
	    </div>
	    <div class="panel-body">
	    	<div class="col-xs-6">
	   			<div class="form-group">
	   				 <span  class="nameLabel">Customer :</span>
	   				 <span  class="valueLable">{{briefData.customerName}}</span>
				</div>
				<div class="form-group">
					<span  class="nameLabel">DN :</span>
	   				<span class="valueLable">{{briefData.customerDN}}</span>
				</div>
				<div class="form-group hide">
					<span  class="nameLabel">SO :</span>
	   				<span class="valueLable">{{briefData.order_number}}</span>
				</div>
				<div class="form-group">
					<span  class="nameLabel hide">PO :</span>
	   				<span class="valueLable">{{briefData.retailPO}}</span>
				</div>
				<div class="form-group">
					<span  class="nameLabel">Deli.Window :</span>
	   				<span class="valueLable">{{briefData.ship_not_before}} ~ {{briefData.ship_not_later}}</span>
				</div>
	    	</div>
	    	<div class="col-xs-6">
				
				<div class="form-group">
					<span  class="nameLabel">MABD :</span>
	   				<span class="valueLable">{{briefData.mabd}}</span>
				</div>
				
				{{#if briefData.etd}}
					<div class="form-group">
						<span  class="nameLabel">Req.Ship Date :</span>
	   					<span class="valueLable">{{briefData.etd}}</span>
					</div>
				{{/if}}
				{{#if briefData.customer_order_date}}
					<div class="form-group">
						<span  class="nameLabel">Order Date :</span>
	   					<span class="valueLable">{{briefData.customer_order_date}}</span>
					</div>
				{{/if}}
	    	</div>
	    </div>
	</div> 
	<div class="panel panel-default " >
		    <div class="panel-heading">
		    	Shipment Info
		    </div>
		    <div class="panel-body">
		    	<div class="col-sm-12">
		    		<div class="form-group">
		   				 <span  class="nameLabel">Hub :</span>
		   				 <span  class="valueLable">{{addressData.shipFromName}}</span>
					</div>
		    	</div>
	    		<div  class ="col-sm-12">
					<div class="form-group">
		   				 <span  class="nameLabel">Ship-to Name :</span>
		   				 <span  class="valueLable"><strong>{{addressData.ship_to_party_name}}</strong></span>
					</div>
				</div>
				<div  class ="col-sm-12">
					<div class="form-group">
		   				 <span  class="nameLabel">Ship-to Country :</span>
		   				 <span  class="valueLable">{{addressData.countryName}}</span>
					</div>
				</div>
				<div  class ="col-sm-12">
					<div class="form-group">
		   				 <span  class="nameLabel">Ship-to State :</span>
		   				 <span  class="valueLable">{{addressData.stateName}}</span>
					</div>
				</div>
				<div  class ="col-sm-12">
					<div class="form-group">
		   				 <span  class="nameLabel">Ship-to City :</span>
		   				 <span  class="valueLable">{{addressData.city}}</span>
					</div>
				</div>	
				<div  class ="col-sm-12">
					<div class="form-group">
		   				 <span  class="nameLabel">Ship-to Address1 :</span>
		   				 <span  class="valueLable">{{addressData.address}}</span>
					</div>
				</div>	
				<div  class ="col-sm-12">
					<div class="form-group">
		   				 <span  class="nameLabel">Ship-to Address2 :</span>
		   				 <span  class="valueLable">{{addressData.address2}}</span>
					</div>
				</div>	
				<div  class ="col-sm-12">
					<div class="form-group">
		   				 <span  class="nameLabel">Ship-to Zip Code :</span>
		   				 <span  class="valueLable">{{addressData.zipCode}}</span>
					</div>
				</div>
				<div  class ="col-sm-12">
					<div class="form-group">
		   				 <span  class="nameLabel">Contact :</span>
		   				 <span  class="valueLable">{{addressData.contact}}</span>
					</div>
				</div>	
				<div  class ="col-sm-12">
					<div class="form-group">
		   				 <span  class="nameLabel">Phone :</span>
		   				 <span  class="valueLable">{{addressData.phone}}</span>
					</div>
				</div>	
			</div>		
	</div>
	<div class="panel panel-default ">
		    <div class="panel-heading">
		    	Bill Info
		    </div>
		    <div class="panel-body">
	    		<div class="col-sm-12">
	    			<div class="form-group">
	   				 	<span  class="nameLabel">Freight Term :</span>
	   				 	<span  class="valueLable">{{paymentData.paymentType}}</span>
					</div>
				</div>
				{{#if paymentData.billToName}}
					<div class="col-sm-12">
		    			<div class="form-group">
		   				 	<span  class="nameLabel">Bill Name :</span>
		   				 	<span  class="valueLable">{{paymentData.billToName}}</span>
						</div>
					</div>
					<div class="col-sm-12">
		    			<div class="form-group">
		   				 	<span  class="nameLabel">Country :</span>
		   				 	<span  class="valueLable">{{paymentData.billToCountry}}</span>
						</div>
					</div>
					<div class="col-sm-12">
		    			<div class="form-group">
		   				 	<span  class="nameLabel">State :</span>
		   				 	<span  class="valueLable">{{paymentData.billToState}}</span>
						</div>
					</div>
					<div class="col-sm-12">
		    			<div class="form-group">
		   				 	<span  class="nameLabel">City :</span>
		   				 	<span  class="valueLable">{{paymentData.billToCity}}</span>
						</div>
					</div>
					<div class="col-sm-12">
		    			<div class="form-group">
		   				 	<span  class="nameLabel">Address :</span>
		   				 	<span  class="valueLable">{{paymentData.billToAddress}}</span>
						</div>
					</div>
					<div class="col-sm-12">
		    			<div class="form-group">
		   				 	<span  class="nameLabel">Zip Code :</span>
		   				 	<span  class="valueLable">{{paymentData.billToZipCode}}</span>
						</div>
					</div>
				{{/if}}
			</div>
	</div>
</div>
<div class="footer">
	<div class="opbar">
		<button type="button" id="preview_pre" class="btn btn-info">Previous</button>
		<button type="button" id="save" class="btn btn-info">Save</button>
	</div>
</div>