<div class="row">
	<div class="col-xs-3">
		<h4 class="text-center">Customer :  {{briefData.customerName}}</h4>
	</div>
	<div class="col-xs-3">
		<h4 class="text-center">DN  :  {{briefData.customerDN}}</h4>
	</div>
	<div class="col-xs-3">
		<h4 class="text-center">SO  :  {{briefData.order_number}}</h4>
	</div>
	<div class="col-xs-3">
		<h4 class="text-center">PO  :  {{briefData.retailPO}}</h4>
	</div>
</div>
<div class="panel panel-info " id="basicInfo">
	    <div class="panel-heading">
	    	Ship To Address Info
	    </div>
	    <div class="panel-body">
			<div class="row">
				<div class="col-sm-6">
					<address>
						<strong>{{addressData.ship_to_party_name}}</strong><br><br>
						{{addressData.address2}} {{addressData.address}}<br>
						{{addressData.city}}, {{addressData.stateName}} {{addressData.zipCode}}<br>
					</address>
					<address>
						{{#if addressData.phone}}
						<abbr title="Phone">P:</abbr> {{addressData.phone}}<br>
						{{/if}}
						{{#if addressData.contact}}
						 <strong>{{addressData.contact}}</strong><br>
						 {{/if}}
					</address>
				</div>
				<div  class="col-sm-6">

				</div>
			</div>
		</div>		
</div>
<div class="panel panel-info " id="basicInfo">
	    <div class="panel-heading">
	    	Times Info
	    </div>
	    <div class="panel-body">
		
	        <p>Deli.Window  : {{briefData.ship_not_before}} ~ {{briefData.ship_not_later}}</p>

			<p>MABD  : {{briefData.mabd}}</p>
			
			{{#if briefData.etd}}
			<p>Req.Ship Date  : {{briefData.etd}}</p>
			{{/if}}
		
			{{#if briefData.customer_order_date}}
			<p>Order Date  : {{briefData.customer_order_date}}</p>
			{{/if}}
		</div>		
</div>
<div class="panel panel-info " id="basicInfo">
	    <div class="panel-heading">
	    	Bill Info
	    </div>
	    <div class="panel-body">
	    	<div class="row">
	    		<div class="col-sm-10">
					<strong>Freight Term : {{paymentData.paymentType}}</strong><br><br>
				</div>
	    	</div>
			{{#if paymentData.billToName}}
			<div class="row">
				<div class="col-sm-10">
					<address>
						<strong>Bill To : {{paymentData.billToName}}</strong><br><br>
						{{paymentData.billToAddress}}<br>
						{{paymentData.billToCity}}
						{{#if paymentData.billToZipCode}}, {{paymentData.billToState}}{{/if}} {{paymentData.billToZipCode}}<br>
						
					</address>
				</div>
			</div>
			{{/if}}
		</div>
</div>
<div class="footer">
	<div class="opbar">
		<button type="button" id="preview_pre" class="btn btn-info">Previous</button>
		<button type="button" id="save" class="btn btn-info">Save</button>
	</div>
</div>