<div class="panel-body addressInfo ">
    
    <div class="form-horizontal">
        <div class="form-group">
            <label for="shipFrom" class="control-label col-sm-2 required">Hub</label>
            <div class="col-sm-6" >
              <input type="text" class="form-control vr" placeholder="Hub" id="shipFrom" >
            </div>
             <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="shipTo" class="control-label col-sm-2 required">Ship-to Name</label>
            <div class="col-sm-6" >
              <input type="text" class="form-control " placeholder="Ship-to Name" id="shipTo" >
            </div>
             <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="country" class="control-label col-sm-2 required">Country</label>
            <div class="col-sm-6">
               <input type="text" class="form-control" placeholder="Ship-to Country" id="country"> 
               <!--  <select id="country" class="form-control vr"> 
                    <option value="11036" selected>America</option>
                    <option value="11037">China</option>
               </select> -->
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="state" class="control-label col-sm-2 required">Ship-to State<!-- State --></label>
            <div class="col-sm-6">
             <input type="text" class="form-control" placeholder="Ship-to State" id="state" class=" immybox immybox_witharrow">
                <!--  <select id="state" class="form-control vr"> 
               </select>  -->
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="city" class="control-label col-sm-2 required">Ship-to City</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="Ship-to City" id="city">
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="addressA" class="control-label col-sm-2 required">Ship-to Address1</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Ship-to Address1" id="addressA">
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="address2" class="control-label col-sm-2 ">Ship-to Address2</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Ship-to Address2" id="address2">
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="zipCode" class="control-label col-sm-2 required">Ship-to Zip Code<!-- ZipCode --></label>
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="Ship-to Zip Code" id="zipCode">
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="contact" class="control-label col-sm-2">Contact</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="Contact" id="contact">
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="phone" class="control-label col-sm-2">Phone</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="123-456-7890" id="phone">
            </div>
            <div class="col-sm-4 error hidden" >
                <span class="error"></span>
            </div>
        </div>
    </div>
</div>  
<div class="footer">
    <div class="opbar">
        <button type="button" id="toAddress_pre" class="btn btn-info">Previous</button>
        <button type="button" id="toAddress_next" class="btn btn-info">Next</button>
    </div>
<div>