<div id="choose" class="panel panel-default">
    <div class="panel-body ">
 
        <div class="form-inline">
            <div class="input-group">
                 <span class="input-group-addon form-label" >{{soI18n.RequestDay}}</span>
                 <input class="form-control hours" type="number"  min="0" step="1" id="requestDay_min" placeholder={{soI18n.Day}}>
                 <span class="input-group-addon to" >~</span>
                 <input  class="form-control hours"  type="number" min="0" step="1" id="requestDay_max" placeholder={{soI18n.Day}}>
            </div>
            <div class="input-group">
                 <span class="input-group-addon form-label" >{{soI18n.ShipTo}}</span>
                 <input type="text" class="form-control" placeholder="" id="shipTo" value="">
            </div>
            <div class="input-group" >
               <button type="button" class="btn btn-primary" id="search">{{soI18n.Search}}</button>
            </div>
            <div class="input-group" >
               <button type="button" class="btn btn-primary" id="addSoFinish">{{soI18n.Submit}}</button>
            </div>  
        </div>
    </div>
</div>