.Palletsbox{border:1px solid #ccc;margin:5px 5px;}
.Palletsbox .pallets_title{display: block;border-bottom: 1px solid #ccc}
.Palletsbox .pallets_title ul{list-style: none;margin: 0px;padding: 0px;display: block;width: 100%;}
.pallets_title ul .closing{position: relative;height: 18px;}
.pallets_title ul .closing span{right: -0px;display: inline-block;cursor: pointer;position: absolute;margin-right: 2px}


.Palletsbox .toptitlebody,.Palletsbox .Palletstablebox{width: 96%;display: block;margin:5px auto;text-align: left;}
.Palletsbox .toptitlebody{margin-top: 0px}
.Palletsbox .toptitlebody span{display: inline-block;vertical-align: middle;margin:0px 5px;}

.Palletsbox .tablehide{
	display: none;
}

.rownomargin .row{margin: 0px 0px}
.rownomargin .Palletsbox{padding:0px 0px;}
.Palletsbox .table{width: 100%;margin-bottom: 0px}
.Palletsbox .table .p_5px{padding-left: 5px;width: 25px;
padding-right: 0px}

.Palletsbox .borderbottomw0px{border-bottom-width: 0px}

.Palletsbox .Palletstablebox th{border:solid 1px #F3F3F3; border-bottom-width:0px;padding: 8px;}
.Palletsbox .Palletstablebox td{border-color: #F3F3F3}
.Palletsbox .closing .fa{color: #aaa}
.Palletsbox .tdnodata{text-align: center;vertical-align: middle;}