html,body {
	width: 100%;
	height: 100% !important;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
tr{
	height: 25px;
}
.gis_left {
	width: 300px;
	height: 99%;
	background-color: #EEEEEE;
	float: left;
}

.gis_main {
	width: 75%;
	height: 100%;
	background-color: #EEEEEE;
	float: left;
}

.button_3d{
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.map_tool {

	padding: 2px;
	border: none;
}

.map_tool_selected {
	/*
	float:right; 
	margin: 3px;  
	*/
	padding: 1px;
	border: solid;
	border-width: 1px;
	border-color: #EEEEEE;
	background-color: #EEEEEE;
}

.map_tool_mousedown {
	/*
	float:right; 
	margin: 3px;  
	*/
	border: solid;
	border-width: 1px;
	border-color: #EEEEEE;
	padding: 1px;
	background-color: #EEEEEE;
}

li {
	font-size: 12px;
}

.mouseover_kml {
	background-color: #FFFFFF;
}

.text-overflow {
	display: block;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table {
	table-layout: fixed; /* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
}

.table td {
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.kml_layer{
	padding: 3px; 
	font-size: 12px; 
	background-color: #FFFFFF; 
	display: none; 
	position: absolute; 
	cursor: pointer;
	border-color: #DDDDDD;
	border-width: 2px;
	border-style: solid;
}
.gis_main_select{
	background:#fafdfe;
	width:180px;
	height:28px;
	line-height:28px;
	border:1px solid #9bc0dd;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
/* .gis_main_button{
	margin-left:15px; padding: 6px 8px; cursor: pointer; display: inline-block; 
	text-align: center; line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; 
	width:auto; overflow:visible; *width:1;   border-radius: 5px; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); 
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; 
	-webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s;color: #FFF;
	border: solid 1px #1c6a9e;
	background: #2288cc; 
	}
.gis_main_button:hover{
	margin-left:15px; padding: 6px 8px; cursor: pointer; display: inline-block; 
	text-align: center; line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; 
	width:auto; overflow:visible; *width:1;   border-radius: 5px; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); 
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; 
	-webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s;color: #FFF;
	border: solid 1px #C5C1AA;
	background: #E6E6FA; 
	}	 */
.category_icon_base {
    background-image: url("../imgs/gis_icon_black.png");
    height: 80px;
    margin: 0 auto;
     width: 100%;
}
#storageSecondMenuCon{
	margin-left:8px; 
}
.category_container {
    
    float: left;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 8px;
    text-align: center;
    width: 80px;
    height: 85px;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}
.storageSecondMenusBtn{
	width: 65px;
	/* margin-top: 10px; */
	background-image: url("../imgs/APP97-3.png");
  	background-repeat: no-repeat;
	margin-left: 7px;
	height:85px;
	text-align: center;
	font-weight: 700;
}
/* .category_container_Storage{
	margin-left:10px; 
} */
.buttons{
	cursor: pointer;
	width: 80px;
	
}
.category_container_truck {
    float: left;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    width: 80px;
    white-space:nowrap;
}
.storageSecondMenusBtn:hover{
	cursor:pointer;
	background-image: url("../imgs/APP97-4.png");
  	background-repeat: no-repeat;
  	color: red;
}

.category_icon_collection {
    background-color: white;
    height: 190px;
    margin:0 1%;
    width: 98%;
    position:relative;
}
.category_icon_collection_third {
	background-color: white;
	height: 270px;
	width: 100%;
}
.Storage {
    background-position: -23px -34px;
}
.Truck {
    background-position: -138px -32px;
}
.GeoFence {
    background-position: -257px -34px;
}
.Route {
    background-position: -373px -36px;
}

.Point {
    background-position: -25px -167px;
}
.Inventory {
    background-position: -139px -164px;
}
.Add{
	background-position: -375px -163px;
}
.Demand {
    background-position: -256px -163px;
}
.Maintain {
    background-position: -280px 0;
    position: relative;
}
.Container {
    background-position: -320px 0;
    position: relative;
}
.Storage:hover {
	background-image: url("../imgs/gis_icon_red.png");
    background-position: -23px -34px;
}

.Truck:hover {
	background-image: url("../imgs/gis_icon_red.png");
    background-position: -138px -32px;
}
/* .truck_second_menu{
	background-image: url("../imgs/APP97-1.png");
}
.truck_second_menu:hover{
	background-image: url("../imgs/APP97-2.png");
} */
.GeoFence:hover {
	background-image: url("../imgs/gis_icon_red.png");
    background-position: -257px -34px;
}
.Route:hover {
	background-image: url("../imgs/gis_icon_red.png");
    background-position: -373px -36px;
}
.Point:hover {
	background-image: url("../imgs/gis_icon_red.png");
    background-position: -25px -167px;
   
}
.Inventory:hover {
	background-image: url("../imgs/gis_icon_red.png");
    background-position: -139px -164px;
}
.Add:hover{
	background-image: url("../imgs/gis_icon_red.png");
	background-position: -375px -163px;
}
.Demand:hover {
	background-image: url("../imgs/gis_icon_red.png");
    background-position: -256px -163px;
    
}
.Maintain:hover {
    background-position: -280px -40px;
    position: relative;
}
.Container:hover {
    background-position: -320px -40px;
    position: relative;
}
.category_icon_seconde {
   /*  background-image: url("../imgs/APP97-3.png"); */
    height: 55px;
    width: 65px;
    margin-top:10px;
	background-repeat: no-repeat;
}
.category_icon_seconde:hover {
    /*background-image: url("../imgs/APP97-4.png");*/
   
    width: 65px;
}
.txt300 {
    font: 16px/25px arial;
    height: 35px;
   	padding: 2px 0 2px 20px;
   	width: 50%;
    
}
.truck_btn{
	font-weight: 700;
	cursor: pointer;
	margin-left: 7px;
	background-repeat: no-repeat;
	background-image: url("../imgs/APP97-1.png");
}
.truck_btn:hover{
	background-image: url("../imgs/APP97-2.png");
	color: red;
}
.floatl {
    float: left;
}
.magnifier_button {
    background: url("../imgs/blue_btn.png") no-repeat scroll -138px -73px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 35px;
    width: 64px;
}
.boxCon_base {
	width: 10px;
	height: 13px;
	position: absolute;
	top:90px;
	left: 275px;
	z-index: 1000;
	
}
.boxConR {
	background: url("../imgs/right_shallow.png");
}
.boxConR:hover {
	background: url("../imgs/right_hard.png");
}
.boxConL {
	left:1px;
	background: url("../imgs/left_shallow.png");
}	
.boxConL:hover {
	background: url("../imgs/left_hard.png");
}


.second_boxConR {
    background: url("../imgs/right_shallow.png");
}
.second_boxConR:hover {
    background: url("../imgs/right_hard.png");
}
.second_boxConL {
	left: 0px;
    background: url("../imgs/left_shallow.png");
}   
.second_boxConL:hover {
   background: url("../imgs/left_hard.png");
}

.storage_third_menus {
    float: left;
    height: 25px;
    margin-left: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 120px;
    font-size: 12px;
}

.thirdly_boxConR{
    left: 285px;
    top:615px;
     background: url("../imgs/right_shallow.png");
}
.thirdly_boxConR:hover{
    left: 285px;
    top:615px;
    background: url("../imgs/right_hard.png");
}
.thirdly_boxConL{
    top:615px;
    background: url("../imgs/left_shallow.png");
}
.thirdly_boxConL:hover{
    top:615px;
    background: url("../imgs/left_hard.png");
}
.home_img{
	background: url("../imgs/home.png");
	height: 16px;
	width:16px;
	margin-left: 15px;
	margin-top: 9px;
	float: left;
	cursor:pointer;
}
.home_img:hover{
	background: url("../imgs/home_hover.png");
	
}
.location_img{
	background: url("../imgs/map_marker.png");
	height: 16px;
	width:16px;
	margin-left: 20px;
	margin-top: 9px;
	float: left;
	cursor: not-allowed;
}
.location_img:hover{
	background: url("../imgs/map_marker_hover.png");
}
.raised{
	background:#444;
	width:80px;
	}
.boxcontent{
	display:block;
	background:#444;
	border-left:1px solid #fff;
	height: 20px;
	color:white;
	font-size: 14px;
	font-family: -webkit-pictograph;
	line-height: 20px;
	text-align: center;
}
.gis_main_button_truck{
	margin-right:15px;
	padding: 1px;
	cursor: pointer;
	display: inline-block; 
	text-align: center;
	line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; 
	width:auto; overflow:visible; *width:1;   border-radius: 5px; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); 
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; 
	-webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s;color: #FFF;
	border: solid 1px #1c6a9e;
	background: #2288cc; 
}
.gis_main_button_truck:hover{
	margin-right:15px;
	padding: 1px;
	cursor: pointer;
	display: inline-block; 
	text-align: center;
	line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; 
	width:auto; overflow:visible; *width:1;   border-radius: 5px; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); 
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; 
	-webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s;color: #FFF;
	border: solid 1px #1c6a9e;
	background: #E6E6FA; 
	
}	


#menu {
    width: 150px;
    display: none;
    position: absolute;
    background: #fff;
    border: solid #ccc 1px;
}

#menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu ul li a {
    margin-top: 5px;
    text-decoration: none;
    display: inline-block;
    height: 20px;
    width: 100px;
    color: #333;
    font-size: 13px;
}

#menu ul li a:hover {
    background: #ccc;
    border: solid #fff 1px;
    height: 20px;
}
.maintenance_div{
	width: 80px;
	height: 60px;
	float: left;
	margin: 0 5px;
}
.maintenance_img{
	height:50px;
	width:50px;
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}
.maintenance_b_div{
	width:80px;
	height:20px;
	line-height:20px;
	font-size: 10px;
	text-align: center;
}
.truck_div {
    background-image: url("../imgs/truck.png");
    height: 40px;
    margin: 0 auto;
    width: 40px;
    background-position: 0 0;
    float: left;
}
.truck_third{
	float: left;
	height: 59px;
	width: 87px;
	font-size: 9px;
	color: #695555;
	position:relative;
}
.truck_third:hover{
	color: red;
}
.truck_tree_title{
	position: absolute;
	top: 35px;
	left: 45px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 40px;
}

.category_icon_collection_truck {
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin: 0 1%;
    width: 98%;
}
.category_icon_collection_truck_second{
	background-color: white;
    border-top: 1px solid #ccc;
    height: 220px;
    margin: 0 auto;
    padding-left: 2%;
    width: 98%;
}
.truck_img{
	  height: 40px;
	  margin-left: 40px;
}
.storage_layer_checkbox{
	vertical-align : middle;
}
.checkbox_truck{
	margin-left:20px;
	font-size: 9px;
	color: #594d55 ;
	position: absolute;
	left: 0px;
	top: 20px;
}
#menu_ {
    width: 150px;
    position: absolute;
    display:none;
    background: #ddd;
    border: solid #ccc 1px;
}

#menu_ ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu_ ul li a {
    margin: 0px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    height: 20px;
    width: 120px;
    color: #333;
    font-size: 13px;
}

#menu_ ul li a:hover {
    background: #eee;
    border: solid #fff 1px;
    height: 20px;
}
.cam_div{
	width: 600px;
	padding: 5px;
	float: left;
	border: 0;
	font-size: 10px;
	-webkit-border-radius: 7px;
	background: #eeeeee;
}
.cam_div1{
	height: 25px;
	border: 0;
}
.cam_div2{
	width: 280px;
	float: left;
	height:25px;
	border: 0;
	margin-left: 10px;
}
.cam_div3{
	width:70px;
	height: 20px;
	text-align:right;
	margin-right:10px;
	float: left;
	padding-top: 5px;
	border: 0;
}
.cam_div4{
	width:140px;
	float: left;
	border: 0;
}
.cam_input{
	width:110px;
	font-size: 10px;
}

.area_div{
	width:80%;
	padding: 5px;
	float: left;
	border: 0;
	margin-left:35px;
	border-radius: 5px;
	background: #eeeeee;
	font:100% Arial, Helvetica, sans-serif; 
}
.area_div1{
	height:25px;
	float: left;
	border: 0;
	margin: 5px 5px 5px 5px;
}
.area_div2{
	width:80px;
	height: 20px;
	text-align:right;
	margin-right:10px;
	float: left;
	padding-top: 5px;
	border: 0;
}
.area_div3{
	width:150px;
	float: left;
	border: 0;
}
.area_input{
	width:120px;
	font-size: 12px;
}
.zone_dock_div{
	border:2px #dddddd solid;
	background:#eeeeee;
	padding:5px;
	-webkit-border-radius:7px;
	height: 280px;
    width: 365px;
}
.zone_person_div{
	border:2px #dddddd solid;
	background:#eeeeee;
	padding:5px;
	-webkit-border-radius:7px;
	height: 280px;
    width: 355px;
}
.zone_dock_div_1{
	background-color:#FFF;
	width: 100%;
	border:2px #dddddd solid;
	height:100%;
	overflow:auto
}
.zone_person_div_1{
	background-color:#FFF;
	width: 100%;
	border:2px #dddddd solid;
	height:100%;
	overflow:auto
}
.zone_dock_div_2{
	width: 100px; 
	height: 25px;
	border: solid;
	border-color: #CCCCCC;
	border-width: 1px;
	margin: 5px;
	float: left; 
}
.zone_person_div_2{
	width: 130px; 
	height: 25px;
	margin:0 10px;
	border: solid;
	border-color: #CCCCCC;
	border-width: 1px;
	margin: 5px 14px;
	float: left; 
}

.zone_dock_div_3{
	width: 100%;
	height:100%;
	line-height: 25px;
	float: left;
	font-size:12px;
	text-align: center;
	background-color: #CCFFFF;
}
.zone_dock_div_3:hover{
 	background-color: #2DF7AB;
}
.zone_dock_div_img{
	width: 12px; 
	height: 12px; 
	float: right;
	margin: 6px;
	vertical-align:middle;
	cursor: pointer; 
	background-image: url('../imgs/delete_grey.png');
}
.zone_dock_div_img:hover{
	background-image: url('../imgs/delete_blue.png');
}

.print_div{
	width: 245px;
	height: 230px;
	border:2px #dddddd solid;
	background:#eeeeee;
	padding:5px;
	-webkit-border-radius:7px;
}
.print_div_1{
	width: 98%;
	height:25px;
	margin: 0 1% ;
	font-size: 10px;
	float: left;
}
.print_div_2{
	width: 34%;
	height:100%;
	text-align: right;
	line-height: 25px;
    float: left;
    margin-right:1%; 
}
.print_div_3{
	width: 65%;
	height:100%;
	font-size: 10px;
	text-align: left;
	line-height: 25px;
	float: left;
	position:relative;
}
.hidden{
	display: none;
}
.print_div_verify_img{
	margin-top:4px;
	display: none;
}
.demand{
	width: 180px;
	float: left;
	margin-left:10px;
	margin-top: 5px;
}
.demand_property_lable{
	float: left;
	width: 70px;
	line-height: 2;
	font-size:10px;
	text-align:center;
}
.demand_property{
	float: left;
	width: 110px;
}
.about_the_layout_div{
	width:810px;
	height:360px;
	border:2px #dddddd solid;
	background:#eeeeee;
	padding:5px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}
.about_the_layout_div_centext{
	width: 48%;
	height: 100%;
	float: left;
}
.margin_right{
	margin-right:7px; 
}
.margin_left{
	margin-left:7px; 
}

.about_the_layout_label {
	width:48%;
	float: left;
	height:25px;
	text-align: center;
	line-height: 25px; 
}
.demand_title_div{
	width: 80px; 
	height: 15px; 
	border: solid; 
	border-color: #CCCCCC; 
	border-width: 1px; 
	margin: 5px; 
	float: left; 
	background: #F4F4F4;
	-webkit-transform: scale(0.9);
	-o-transform: scale(1);
	display: inline-block;
	border-radius: 4px;
}

.demand_title_div:hover{
	background: initial;
	cursor: pointer;
}
.maintain_storage{
	border-bottom: 1px solid #ccc;
	background: white;
}
.maintain_storage_fieldset{
	width: 94%;
}
.print_server_div{
	height:40px;
	width:100%;
	border:1px solid silver ;
	text-shadow: 0 1px 0 rgba(255, 255, 55, 0.5);
	border-radius: 4px;
	background-color: #f3f3f3;
	border-color: #eed3d7;
    color: #b94a48;
}
.print_server_list_div{
	width: 100%;
	max-height: 300px
}
.print_list_top{
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 25px;
	background-color: #6E6D6D;
	color: white;
}
.input-mStorage{
	width:120px;
}
.mNotify{
	color:red;
}
.add_printer_server_btn{
	margin-top:5px;
	border:1px solid silver ;
	padding:10px;    
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); 
	border-radius: 4px;
	color: #FFF;
	width: 100px;
	text-align: center;
	border: solid 1px #1c6a9e;
	background: #2288cc;
	margin-left: 10px;
}
.add_printer_server_btn:hover{
	cursor: pointer;
	border: solid 1px #C5C1AA;
	color:#333333;
	background: #E6E6FA;
}

.printer_servers
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 10px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	table-layout: fixed;
}
.printer_servers th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
.printer_servers td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.printer_servers tr:hover td
{
	background: #d0dafd;
	color: #339;
	cursor:pointer;
}

.print_server_list_tr{
	width:100%;height:25px;margin:5px 0;background: #ccc;
}
.print_server_list_tr:hover{
	background:#E0EEE0;
	cursor:pointer;
}
.occupy_detail{
	width:880px;
	height: auto;
}
.select-option{
	background: #fff;
	color:black;
	line-height: 25px;
	margin-bottom:2px; 
}
.select-option:hover{
	background: #444;
	color:#fff;
	line-height: 25px;
	margin-bottom:2px; 
}
.modify_storage_layer_div{
	width: 350px;
	max-height:420px;
	overflow-y:auto;
	padding: 5px;
	float: left;
	border: 0;
	font-size: 10px;
	-webkit-border-radius: 7px;
	background: #eeeeee;
}
#storage_second{
	width: 100%;
	background-color: #EEEEEE;
}
#bottom_menus{
	max-height: 260px;
	width: 100%;
    background-color: #EEEEEE;
}
#assetTree{
	width:100%; overflow: auto;
}
#truckMarkerMenu{
	display: none;
    position: absolute;
}
.truckMarkerMenu_ul{
	list-style: none; padding: 1px; margin: 0px; border: 1px solid rgb(153, 153, 153); width: 180px; background-color: rgb(255, 255, 255);
}
.truckMarkerMenu_li{
	margin: 0px; color: rgb(0, 0, 0); display: block; cursor: default; padding: 3px; border: none; background-color: rgb(238, 238, 238);
}

.truckMarkerMenu_li:hover{
	border: 1px solid rgb(10,36,106);
	background-color: rgb(182, 189, 210);
}
#gis_left_auto_overflow.mCSB_scrollTools{
	width: 6px;
}
.locInventory:hover{
	background:#E6F3C5; 
}
#main_inventory{
	position: absolute;
	top: 0px;
	right: 0px;
	background: white;
}
.locInventory{
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
}
#inventory_show_img{
	cursor: pointer; 
	width: 12px; 
	height: 60px; 
	position: absolute; 
	top: 50%; 
	z-index: 1000; 
	left: -12px;
	display: block; 
	background: url(/Sync10-ui/pages/gis/imgs/zy1.png) 0px -64px no-repeat;
}
.locInventory:hover {
	background: #E6F3C5;
}
.locInventory .products_fieldset,#containerInventory tr .products_fieldset{
	border: 2px solid blue;
	width: 270px;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 5px;
	position: relative;
	padding: 4px 0px;
	margin-left: 5px;
}
.locInventory .products_legend,#containerInventory tr .products_legend{
	width:40%;
	margin-left:15px;
	border-bottom: 0px;
	margin-bottom: 10px;
	font-size: 12px;
}

.locInventory .products_fieldset .product_fieldset,#containerInventory tr .products_fieldset .product_fieldset{
	border: 2px solid #993300;
	border-radius: 5px;
	margin-left: 5px;
	width:255px;
	margin-bottom: 5px;
}
#containerInventory tr{
	border:1px solid #bbbbbb;
}


/*#inventory_content table tr td{
	border-width: 0 1px 1px 0;
	border-bottom-style: dotted;
}*/
#inventory_content table tr:hover{
	background: #E6E6FA;
}



#locInventoryEle .container{
	width: 10%;
	border-left: 1px solid rgb(41,179,255);
	border-right: 1px solid rgb(173,204,220);
}
#locInventoryEle .thead{
  text-align: center;
  border-top: 1px solid rgb(41,179,255);
  border-bottom: 1px solid rgb(41,179,255);
  font-family: Airal;
  padding: 5px 0;
  font-size: 13px;
  background-color: rgba(253,255,255,1);
  border-right: 1px solid rgb(41,179,255);
  color: rgb(85,85,85);
}

#locInventoryEle .theadLeft{
	border: 1px solid rgb(41,179,255);
	  /*box-shadow: -1px -1px 5px #888888;*/
}
#locInventoryEle  .product{
	border-top: 1px solid rgb(41,179,255);
	border-right: 1px solid rgb(41,179,255);
	text-align: center;
	/*border-top-right-radius: 3px;*/
	font-family: Airal;
  padding: 5px 0;
  font-size: 13px;
  background-color: rgba(253,255,255,1);
  color: rgb(85,85,85);

	/*box-shadow: 0px -1px 5px #888888,0px 10px 3px #888888;*/
}

#locInventoryEle #inventory_cont{
	position: relative;
}
#locInventoryEle #inventory_cont #store_3d{
	border-top: 2px solid #CDCDC1;
}
#inventory_model_parent{
	position: absolute;
  	height: 20px;
  	bottom: 5px;
  	width: 100%;
  	z-index: 1;
}
#inventory_model{
	position: absolute;
 	z-index: 1;
  	width: 180px;
  	bottom: 0px;
  	opacity: 0.8;
  	border-radius: 4px;
}
#inventory_model #inventory3D{
    width: 45px;
  	float: left;
  	text-align: center;
  	cursor: pointer;
	background: #C1CDC1;
  	border-top-left-radius: 4px;
  	border-bottom-left-radius: 4px;
}
#inventory_model #inventoryList{
	text-align: center;
	width: 45px;
  	float: left;
  	cursor: pointer;
  	background: #C1CDC1;
  	border-top-right-radius: 4px;
  	border-bottom-right-radius: 4px;
}
#inventory_model #clearSelect3DObj{
	width: 70px;
  	float: right;
  	text-align: center;
  	cursor: pointer;
  	border-radius: 4px;
  	background: #C1CDC1;
}

#locInventoryEle .container_type{
	width: 5%;
	border-right: 1px solid rgb(173,204,220);
}
#locInventoryEle .p_name{
	width: 5%;
	border-right: 1px solid rgb(173,204,220);
}
#locInventoryEle .product_line{
	width: 5%;
	border-right: 1px solid rgb(173,204,220);
}
#locInventoryEle .title{
	width: 8%;
	border-right: 1px solid rgb(173,204,220);
}
#locInventoryEle .quantity{
	width: 5%;
	border-right: 1px solid rgb(173,204,220);
}
#locInventoryEle .total_quantity{
	width: 5%;
	border-right: 1px solid rgb(173,204,220);
}
#locInventoryEle .locked_quantity{
	width: 5%;
	border-right: 1px solid rgb(173,204,220);
}
#locInventoryEle .locked_total_quantity{
	width: 5%;
	border-right: 1px solid rgb(173,204,220);
}
#locInventoryEle .sn{
	width: 5%;
	border-right: 1px solid rgb(41,179,255);
}
#locInventoryEle .container_count{
	width: 5%;
	border-right: 1px solid rgb(173,204,220);
}
.container div{
	
	/*white-space: nowrap;*/
	word-wrap: normal;
	overflow: hidden;
	font-size: 12px;
	margin-right: -15px;
}
.tree-collapsed,.tree-expanded,
.tree-indent,.open_img,.not_children,.close_img{
	display: inline-block;
	width: 16px;
	height: 18px;
	vertical-align: top;
	overflow: hidden;
}
#inventory_content .close_img{
	background: url('../imgs/container1.png') no-repeat ;
	width: 24px;
  	height: 24px;
}
#inventory_content .not_children{
	
	background: url('../imgs/container1.png') no-repeat;
	width: 24px;
  	height: 24px;
}
#inventory_content .open_img{
	width: 24px;
  	height: 24px;
	background: url('../imgs/container2.png') no-repeat ;
}
#inventory_content .tree-collapsed {
	background: url('../imgs/tree_icons.png') no-repeat 0px 0px;
	cursor: pointer;
}
#inventory_content .tree-expanded{
	background: url('../imgs/tree_icons.png') no-repeat -18px 0px;
	cursor: pointer;
}
#inventory_content .container_title{
	line-height: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}
#locInventoryEle #closeInventoryWin{
	height: 25px;
  	background: #2e7cbf;
  	position: relative;
  	color: white;
}
#locInventoryEle #closeWin{
	width: 10px;
	height: 20px;
	position: absolute;
	right: 7px;
	top: 2px;
	cursor: pointer;
}
#locInventoryEle #closeWin:hover{
	font-weight: bold;
}
#inventory_content table tr{
	height: 35px;
}
#inventory_content table td{
	line-height: 24px;
}
.titleScrollbar{
	z-index: 9999;
	position: absolute;
	width: 100%;
	background: white;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
	display: none;
}
.associating_title{
	cursor: pointer;
}
.associating_title:hover{
	background: wheat;
}
#inventory_model #inventory3D:hover,
#inventory_model #inventoryList:hover,
#inventory_model #clearSelect3DObj:hover{
    background: #96CDCD !important;	
}
.last_tr{
	border-bottom: 1px solid rgb(41,179,255);
}















