i.tree-base{
  height: 24px;
  line-height: 24px;
  width: 24px;
  background-image: url("../img/base.gif");
  background-position: center center;
  background-size: auto auto;
  background-color: transparent;
  background-repeat: no-repeat;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  margin-top: -5px;
}