/*
* ESO 搜索
*/

.eso_search_parent{

    position:absolute;
    width:0px;
    height:0px;
    z-index:1;
}

.eso_search_icon{

    position:absolute;
    left:328px;
    top:-20px;
    width:55px;
    height:30px;
    z-index:1;
    visibility: visible;
}

.eso_search_icon img{

    width:70px;
    height:64px;
    border:0;
}

.eso_search_input{

    background:url(../image/search_shadow_bg2.jpg) no-repeat 0 0;
    width:408px;
    height:36px;
    padding-top:3px;
    padding-left:3px;
    margin-bottom:5px;
}

.eso_search_input input{

    background:url(../image/search_bg.jpg) repeat 0 0;
    width:400px;
    height:24px;
    font-weight:bold;
    border:1px #bdbdbd solid;
    font-size:17px;
    font-family:Arial;
    color:#333333;
}

/*
* 账号列表 标题拦
*/
.title_account{

    background-color: #e5e5e5;
    border:1px solid #bbbbbb;
    margin-top: 20px;
    margin-left: 1px;
}

.title_account table{
    width:100%;
}

.title_account th div{
    position: relative;
    display:block;
    width:100%;
    height: 20px;
}

.title_account th div span:nth-child(2){
    display: inline-block;
    right: 0px;
    position: absolute
}

.title_account th div span:nth-child(1){
    display: inline-block;
    left: 0px;
    position: absolute;
    font-size: 14px;
}

.title_account th{

    font-weight:bold;
    padding:5px;
    font-size:12px;
}

/*
* 账号列表
*/
.content_account{

    width:99%;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #bbbbbb;
    border-left-color: #bbbbbb;
    margin-left: 1px;
}

.content_account table{

    width:100%;
    border:0;
}

.content_account_text:hover{

    background: #E6F3C5;
}

.content_account_button{

    height:24px;
    line-height:24px;
    background-image:url("../image/linebg.jpg");
    text-align:right;
}

.content_account_text_specific{

    margin-left: 5px;
    margin-top: 5px;
    /*height:100px;*/
}

.content_account_text_specific table{

    width:100%;
    height:100%;
}

.content_account_text_specific table tr td:nth-child(1){

    width:25%;
    text-align: right;
    color: #993300;

}
.content_account_text_specific table tr td:nth-child(2){

    width:75%;
    text-align: left;
}

.content_account_text_second{

    margin-left: 5px;
    margin-top: 5px;
    overflow: auto;
}

.content_account_table_tdl{

    width:25%;
    color: #993300;
    text-align: right;

}

.content_account_table_tdr{

    width:75%;
    text-align: left;
}

/* 分页 */
.pagination{
    padding-top: 6px;
}

.pagination table{
    width:100%;
}

.pagination th{
    padding-top:5px;
    padding-bottom:5px;
    text-align:right;
    font-size:11px;
}

/* 按钮 */
input[type=button].lighter,button.lighter{
    
    background-attachment: fixed;
    background: url(../image/button_short.gif);
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
    width: 70px;
    color: #000000;
    cursor:pointer;
    border:0px solid;
}

input[type=button].normal,button.normal{
    width:96px;
    height:25px;
    cursor: pointer;
}

input[type=button].bold,button.bold{
    width:160px;
    height:23px;
    cursor: pointer;
}

input[type=button]:HOVER,button:HOVER{
    
    background-color: #e5e5e5;
    
}

img.small_img_button{
    
    width:50px;
    height:50px;
    cursor: pointer;
}

/*文本框*/
.input_text_password_select{

    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    height: 29px;
    width:240px;
    margin: 0;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

/*添加账号*/
.content_add_account{
    
    width:632px;
}

.content_add_account table{
    
    border:0px;
}

.content_add_account table tr{
    
    line-height:35px;
}

.content_add_account table tr td:FIRST-CHILD{
    
    width:150px;
    height:30;
    text-align: right;
}

.content_add_account table tr td:nth-child(2){
    
    width:5px;
}

.content_add_account table tr td:nth-child(3){
    
    width:150px;
}

/*修改账号*/
.content_mod_account{
    
    width:570px;
}

.content_mod_account table{
    
    border:0px;
}

.content_mod_account table tr{
    
    line-height:35px;
}

.content_mod_account table tr td:FIRST-CHILD{
    
    width:130px;
    height:30;
    text-align: right;
}

.content_mod_account table tr td:nth-child(2){
    
    width:5px;
}

.content_mod_account table tr td:nth-child(3){
    
    width:200px;
}

.content_add_account_button{
    
    margin-top: 20px;
    padding-left: 182px;
}

.content_add_account_button input[type=button]{
    
    margin-left: 10px;
}

.content_add_account_select{
    
    /*display:none;*/
    position: absolute;
    background: white;
    width: 240px;
    height: 240px;
/*  border: 1px solid;*/
    overflow:auto;
    z-index: 999;
}

.require_property{
    
    color: red;
}

.validator_style{
    
    color:Chocolate;
    font-weight:bold;
}

.dialog_update_content table tr td:FIRST-CHILD{
    
    height:30px;
    text-align: left;
    width:200px;
}

.dialog_update_content table tr td:nth-child(2){
    
    width:300px;
}

.dialog_update_content table tr td span{
    
    font-weight:bold;
}

/*权限布局*/
.permission_basic_layout{

    padding: 10px;
    box-shadow: 0 0 5px #ccc;
    width:500px;
    height:415px;
    overflow:auto;
}

/*Title 管理*/
.title_basic_layout{

    width:600px;
}

.title_basic_layout_header{
    
    background-color: #eeeeee;
    border-top: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    border-right:1px solid #bbbbbb;
    height: 21px;
    font-weight: bold;
    position: relative; 
    display:block;
}

.title_basic_layout_header span{
    
    display: inline-block;
    left: 65px;
    position: absolute;
    margin-top: 4px;
}

.title_basic_layout_header label{
    
    display: inline-block;
    right: 65px;
    position: absolute;
    margin-top: 4px;
}

.title_basic_layout_content{

    height:514px;
    border-bottom: 2px #dddddd solid;
    border-left: 2px #dddddd solid;
    border-right:2px #dddddd solid;

    background:#eeeeee;
    padding:5px;
}

.title_basic_layout_content table{
    
    width:100%;
    border:0;
    cellspacing:0;
    cellpadding:0;
}

.title_basic_layout_content table tr td:nth-child(2n+1){
    
    width:42%;
}

.title_basic_layout_content table tr td:nth-child(2){
    
    width:16%;
    text-align: center;
}

.title_basic_layout_content .buttons{
    width:8px;
}

.double_title_list{
    
    background-color:#FFF;
    border:2px #dddddd solid; 
    height:500px; 
    overflow:auto;
}

.double_title_list table{
    
    width:100%;
    border:0;
    cellspacing:0;
    cellpadding:0;
}

.double_title_list table td{
    
    border-bottom:1px solid #dddddd;
    cursor:pointer;
    width:20%;
    height:30px;
    align:center;
}

.double_title_list table td:hover{
    
    background-color: #E6F3C5;
}

.photo_basic_layout{

	width:630px;
	height:507px;
    padding: 10px;
    box-shadow: 0 0 5px #ccc;
}

.photo_basic_layout_select{

    border: 1px #dddddd solid;;
    height: 30px;
    padding-top: 5px;
    padding-left: 5px;
    background:#eeeeee;
}

.photo_basic_layout_context{

	height:475px;
	/*border:1px #dddddd solid;*/
    border-top:0px;
    /*  background:#eeeeee;*/
    padding:5px; 
    overflow: auto;
}

.delete_account_dialog
    
    margin-top: 5px;
    font-weight: bold;
    width: 222px;
    height: 22px;
}

.delete_account_dialog span{
    
    color:#993300;
    text-decoration: underline;
}

/*.manage_photo_title{

    background-color: #e5e5e5;
    border:1px solid #bbbbbb;
}

.manage_photo_title table{
    width:100%;
}

.manage_photo_title th div{
    position: relative;
    display:block;
    width:100%;
    height: 20px;
}

.manage_photo_title th div label{
    display: inline-block;
    right: 0px;
    position: absolute
}

.manage_photo_title th div span{
    display: inline-block;
    left: 0px;
    position: absolute
}

.manage_photo_title th{

    font-weight:bold;
    padding:5px;
    font-size:12px;
}*/

.manage_photo{

    /*width:650px;
    height:550px;*/
}

.manage_photo_content{

    width:640px;
    height:440px;
    margin-top: 5px;
    overflow: auto;
    padding: 10px;
    box-shadow: 0 0 5px #ccc;
}

/*.manage_photo_content_table{

    border-left: 1px #dddddd solid;
    border-right: 1px #dddddd solid;
    border-bottom: 1px #dddddd solid;
    width:100%;
    margin-top: 1px;
}*/

.manage_photo_list_font{

    margin-left: 5px;
}

.manage_photo_list_font table{

    height:100%;
}

.manage_photo_list_font table tr td:nth-child(2n+1){

    color: #993300;
    font-weight: bold;
    text-align: right;
    height:24px;
}

.manage_photo_list_font table tr td:nth-child(2n){

    font-weight: bold;
    text-align: left;
}

.block_message{
    font-size:12px;
    font-weight:normal;
    color:#666666;
    padding:15px;
}

.set {
    padding: 2px;
    width: 95%;
    word-break: break-all;
    margin-bottom: 10px;
    line-height: 18px;
/*    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
    margin-bottom: 0px;
    border: 2px solid #993300;
}

.content_account_text_td1{
    width: 20%;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-top: 5px;
	  vertical-align: top;
}
.content_account_text_td1 table{width: 100%;}
.content_account_text_td1 table tr{
    width: 100%;
}

.content_account_text_td1 table tr td:nth-child(1){
    width: 16%;
    text-align: right;
    color: #993300;
}

.content_account_text_td1 table tr td:nth-child(2){
    text-align: left;
}

.content_account_text_td1 table tr td:nth-child(2) table tr td{
    text-align: left;
    color: black;
}

.content_account_text_td2{
    width: 20%;
    padding-bottom: 8px;
}
.content_account_text_td2 table{width: 100%;}

.content_account_text_td2 table tr{
    width: 100%;
    line-height: 18px;
}

.content_account_text_td2 table tr td:nth-child(1){
    width: 24%;
    text-align: right;
    color: #993300;
}

.content_account_text_td2 table tr td:nth-child(2){
    text-align: left;
}

.content_account_text_td2 table tr td:nth-child(2) table tr td{
    text-align: left;
    color: black;
}

.content_account_text_td3{
    width: 20%;
    padding-bottom: 8px;
    vertical-align: top;
    padding-top: 10px;
}

.content_account_text_td3 table{
    width: 100%;
}

.content_account_text_td3 table tr{
    width: 100%;
}

.content_account_text_td3 table tr td:nth-child(1){
    width: 25%;
    text-align: right;
    color: #993300;
}

.content_account_text_td3 table tr td:nth-child(2){
    text-align: left;
}

.content_account_text_td3 table tr td:nth-child(2) table tr td{
    text-align: left;
    color: black;
}

.detailed_location{

    /*margin-top: 5px;*/
}

.detailed_location tr{

    line-height:18px;
}

/*.manage_photo_content_table tr:nth-child(2n){

    background:#f9f9f9;
}*/

.advanced_search_checked div{

    margin-bottom: 8px;
    cursor: pointer;
}

.advanced_search_checked{

    width: 134px;
}

.align-width-span-right{
    
    display:-moz-inline-box;
    display:inline-block;
    width:20px;
    text-align: center;
    right: 5px;
    position: absolute;
    margin-top:6px;
    cursor: pointer;
}

.align-width-span-left{
    
    display:-moz-inline-box;
    display:inline-block;
    margin-left:2px;
    text-align: center;
    left: 1px;
    position: absolute;
    margin-top:6px;
}

.show-import-title{
    width:770px;
    height:450px;
    padding: 10px;
    box-shadow: 0 0 5px #ccc;
    overflow: auto;
}

.show-import-title table{

    width:100%;
    
}

.show-import-title table:nth-child(1){

    background:#e5e5e5;
    font-size: 14px;
}

.show-import-title table:nth-child(1) tr{

    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.show-import-title table:nth-child(2) tr:nth-child(2n){

    background:#f9f9f9;
}

.show-import-title table:nth-child(2) tr:hover{

    background: #E6F3C5;
}

.show-import-title table:nth-child(2) tr{

    line-height: 25px;
}

.show-import-title table:nth-child(2) td{

    padding-left: 2px;
}
/*添加修改页面，header buttons 间距缩小*/
.aui_content{
    margin-top: -60px;
    height: 100%;
}
.aui_buttons{
    margin-top:-30px;
}
.aui_main{
    height: 100%;
}