<div id="formToInfo" class="panel-body">
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon width-150">Hub</div>
				<div class="form-control">{{SEND_PSNAME}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon width-150">Ship-to Name</div>
				<div class="form-control max-width">{{SHIP_TO_PARTY_NAME}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon width-150">Ship-to Address1</div>
				<div class="form-control">{{DELIVER_HOUSE_NUMBER}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon width-150">Ship-to Address2</div>
				<div class="form-control">{{DELIVER_STREET}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon  width-150">City</div>
				<div class="form-control">{{DELIVER_CITY}}</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon min-80">State</div>
				<div class="form-control">{{ADDRESS_STATE_DELIVER}}</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon min-80">Zip</div>
				<div class="form-control">{{DELIVER_ZIP_CODE}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon width-150">Contacts</div>
				<div class="form-control">{{B2B_ORDER_LINKMAN}}</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon min-80">Phone:</div>
				<div class="form-control">{{B2B_ORDER_LINKMAN_PHONE}}</div>
			</div>
		</div>
	</div>
</div>
{{#if NOTE}}
<br/>
<div class="row">
	<div id="note" class="col-sm-12 small text-danger " style="display:">
		<span class="label label-danger">{{NOTE}}</span>
	</div>
<div>
{{/if}}