<div id="formToInfo" class="panel-body">
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon width-150">Hub <font color="red">*</font></div>
				<input id="ipt_send_psid" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Hub" />
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<input type="hidden" value="{{ACCOUNT_ID}}" id="account_id"/>
				<input type="hidden" value="{{SHIP_TO_PARTY_NAME}}" id="old_name"/>
				<div class="input-group-addon width-150">Ship-to Name <font color="red">*</font></div>
				<input id="ipt_receive_psid" type="text" class="form-control min-200 immybox   immybox_witharrow "  value="{{SHIP_TO_PARTY_NAME}}"  placeholder="Ship-to" />
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon width-150">Ship-to Address1 <font color="red">*</font></div>
				<input id="ipt_deliver_house_number" type="text" class="form-control" value="{{DELIVER_HOUSE_NUMBER}}" title="Address" placeholder="Ship-to Address1" />
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon width-150">Ship-to Address2</div>
				<input id="ipt_deliver_street" type="text" class="form-control" value="{{DELIVER_STREET}}" title="Address" placeholder="Ship-to Address2"  />
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon  width-150">City <font color="red">*</font></div>
				<input id="ipt_deliver_city" type="text" class="form-control" value="{{DELIVER_CITY}}" title="City" placeholder="City" />
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon min-80">State <font color="red">*</font></div>
				<!--
				<input id="ipt_address_state_deliver" type="text" class="form-control" value="{{ADDRESS_STATE_DELIVER}}" title="State" placeholder="State" />
				-->
				<input id="ipt_address_state_deliver" type="text" class="form-control min-200 immybox immybox_witharrow"  placeholder="State" />
			</div>
		</div>
		<input id="ipt_country" type="text" class="form-control min-200 immybox immybox_witharrow hide" data-value="{{DELIVER_CCID}}" value="{{DELIVER_CCNAME}}" placeholder="Country" />
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon min-80">Zip <font color="red">*</font></div>
				<input id="ipt_deliver_zip_code" type="text" class="form-control" value="{{DELIVER_ZIP_CODE}}" title="Zip" placeholder="Zip" />
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon  width-150">Contacts</div>
				<input id="ipt_b2b_order_linkman" type="text" class="form-control" value="{{B2B_ORDER_LINKMAN}}" title="Contacts" placeholder="Contacts" />
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon min-80">Phone</div>
				<input id="ipt_b2b_order_linkman_phone" type="text" class="form-control" value="{{B2B_ORDER_LINKMAN_PHONE}}" title="Phone" placeholder="Phone" />
			</div>
		</div>
	</div>
</div>
{{#if NOTE}}
<br/>
<div class="row">
	<div id="note" class="col-sm-12 small text-danger " style="display:">
		<span class="label label-danger">{{NOTE}}</span>
	</div>
<div>
{{/if}}