<div class="panel-body">
	<div class="row well-sm">
		<div class="col-sm-7">
			<div class="input-group">
				<div class="input-group-addon min-120">SCAC</div>
				<input id="ipt_carrier" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="SCAC" />
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-7">
			<div class="input-group">
				<div class="input-group-addon min-120">Freight Type</div>
				<input id="ipt_freight_type" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Freight Type" />
			</div>
		</div>
	</div>
	<div class="row well-sm hide">
		<div class="col-sm-7">
			<div class="input-group">
				<div class="input-group-addon min-120">Load No.</div>
				<input id="ipt_load_no" type="text" class="form-control min-80" value="{{LOAD_NO}}" placeholder="Load No." />
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-7">
			<div class="input-group">
				<div class="input-group-addon min-120">Pro No.</div>
				<input id="ipt_waybill_no" type="text" class="form-control min-80" value="{{B2B_ORDER_WAYBILL_NUMBER}}" placeholder="Pro No." />
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-7">
			
			<div class="input-group hide">
				<div class="input-group-addon min-120">Appointment</div>
				<input id="ipt_pickup_appointment" type="text" class="form-control min-80" value="{{PICKUP_APPOINTMENT}}" title="Appointment" placeholder="Appointment Date"/>
			</div>
			<!--
			<div class="form-group">
				<label for="ipt_pickup_appointment" class="input-group-addon min-120 col-md-2 control-label">Appointment</label>
				<div class="input-group date form_datetime col-md-5" data-date="{{PICKUP_APPOINTMENT}}" data-date-format="MM/dd/yyyy HH" data-link-field="ipt_pickup_appointment">
					<input class="form-control" size="16" type="text" value="" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
				</div>
				<input type="hidden" id="ipt_pickup_appointment" value="" /><br/>
			</div>
			-->
		</div>
		
	</div>
	
</div>