<div class="panel-body">
	<div class="row well-sm">
		<div class="col-sm-7">
			<div class="input-group">
				<div class="input-group-addon min-120">SCAC</div>
				<div class="form-control">{{#if CARRIERS}}{{CARRIERS}} - {{CARRIER}}{{/if}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-7">
			<div class="input-group">
				<div class="input-group-addon min-120">Freight Type</div>
				<div class="form-control">{{FREIGHT_CARRIER}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-7">
			<div class="input-group">
				<div class="input-group-addon min-120">MBOL</div>
				<div class="form-control" disabled="true">{{MBOL}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-7">
			<div class="input-group">
				<div class="input-group-addon min-120">BOL</div>
				<div class="form-control" disabled="true">{{BOL}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-7">
			<div class="input-group">
				<div class="input-group-addon min-120">Load NO.</div>
				<div class="form-control" disabled="true">{{LOAD_NO}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-7">
			<div class="input-group">
				<div class="input-group-addon min-120">Pro NO.</div>
				<div class="form-control">{{B2B_ORDER_WAYBILL_NUMBER}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-7">
			<div class="input-group">
				<div class="input-group-addon min-120">Appointment</div>
				<div class="form-control" disabled="true">{{PICKUP_APPOINTMENT}}</div>
			</div>
		</div>
	</div>
</div>