<div class="row">
	<div class="col-sm-4">
		<div class="input-group">
			<div class="input-group-addon min-120">Order NO.</div>
			<input id="orderId" type="text" class="form-control " value="B{{B2B_OID}}" disabled="true"/>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="input-group">
			<div class="input-group-addon min-120">DN<font color="red">*</font></div>
			<input id="ipt_customer_dn" type="text" class="form-control" value="{{CUSTOMER_DN}}" required="required"/>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="input-group">
			<div class="input-group-addon min-120">Customer <font color="red">*</font></div>
			<input id="ipt_customer_id" type="text" class="form-control"  required="required"/>
		</div>
	</div>
</div>