<div class="row">
	<div class="col-sm-4">
		<div class="input-group">
			<div class="input-group-addon min-80">Order NO.</div>
			<div class="form-control" disabled="true">B{{B2B_OID}}</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="input-group">
			<div class="input-group-addon min-80">DN</div>
			<div class="form-control" disabled="true">{{CUSTOMER_DN}}</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="input-group">
			<div class="input-group-addon min-80">Customer</div>
			<div class="form-control" disabled="true">{{CUSTOMER_NAME}}</div>
		</div>
	</div>
</div>