<div class="panel-body">
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon min-120">MABD <font color="red">*</font></div>
				<input id="ipt_mabd" type="text" class="form-control min-80" value="{{MABD}}"  title="MABD" placeholder="MABD" required="required"  readonly="readonly" style="background-color: #fff !important;cursor: pointer;"/>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon min-120">Req.Ship Date</div>
				<input id="ipt_reqdate" type="text" class="form-control min-80" value="{{REQUESTED_DATE}}" title="Req.Date" placeholder="Req.Date"  readonly="readonly" style="background-color: #fff !important;cursor: pointer;"/>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon min-120">Del.Window<font color="red">*</font></div>
					<input id="ipt_shipNotBefore" class="form-control" style=" border-right: 0; background-color: #fff !important;cursor: pointer;" value="{{SHIP_NOT_BEFORE}}" placeholder="Ship Not Before" readonly="readonly" >
				<div class="input-group-addon ">~</div>
					<input  id="ipt_shipNotLater" class="form-control" style=" border-left: 0;background-color: #fff !important;cursor: pointer;" value="{{SHIP_NOT_LATER}}" placeholder="Ship Not Later" readonly="readonly" >
			</div>
		</div>
	</div>
</div>