<div class="panel-body">
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon min-120">Status</div>
				<div class="form-control" id="status" disabled="true">{{B2B_ORDER_STATUS_NAME}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon min-120" required>MABD</div>
				<div class="form-control">{{MABD}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon min-120">Req.Ship Date</div>
				<div class="form-control">{{REQUESTED_DATE}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon min-120">Del.Window</div>
				<div class="form-control" style=" border-right: 0;">{{SHIP_NOT_BEFORE}}</div>
				<div class="input-group-addon ">~</div>
				<div class="form-control" style=" border-left: 0;">{{SHIP_NOT_LATER}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon min-120">Ship Date</div>
				<div class="form-control" id="status" disabled="true">{{SHIPPED_DATE}}</div>
			</div>
		</div>
	</div>
</div>