<div class="panel-body">
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon  width-120">Freight Term</div>
				<div class="form-control">{{FREIGHT_TERM}}</div>
			</div>
		</div>
	</div>
{{#if BILL_TO_NAME}}
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon width-120">Bill Name</div>
				<div class="form-control">{{BILL_TO_NAME}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon  width-120">Address</div>
				<div class="form-control">{{BILL_TO_ADDRESS1}}</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon  width-120">City</div>
				<div class="form-control">{{BILL_TO_CITY}}</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon min-80">State</div>
				<div class="form-control">{{BILL_TO_STATE}}</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon min-80">Zip</div>
				<div class="form-control">{{BILL_TO_ZIP_CODE}}</div>
			</div>
		</div>
	</div>
{{/if}}
</div>