<div class="panel-body">
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div id="ipt_freight_term" class="input-group-addon width-120">Freight Term <font color="red">*</font></div>
				<div class="form-control">
					<label class="radio-inline">
					   <input id="v_Prepaid"  type="radio" name="optionsRadios" value="Prepaid">
					     Prepaid
					</label>

					<label class="radio-inline">
					  <input id="v_Collect"  type="radio" name="optionsRadios" value="Collect">
						Collect
					</label>

					<label class="radio-inline">
					   <input id="v_ThirdParty"  type="radio" name="optionsRadios" value="Third Party">
					  3rd Party
					</label>

				</div>
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon width-120">Bill Name</div>
				<input id="ipt_bill_to_name" type="text" class="form-control min-200 immybox immybox_witharrow" data-value="" title="Bill" placeholder="Bill Name" />
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-6">
			<div class="input-group">
				<div class="input-group-addon width-120">Address</div>
				<input id="ipt_bill_to_address1" type="text" class="form-control" value="{{BILL_TO_ADDRESS1}}" title="Address" placeholder="Bill Address" />
			</div>
		</div>
	</div>
	<div class="row well-sm">
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon width-120">City</div>
				<input id="ipt_bill_to_city" type="text" class="form-control" value="{{BILL_TO_CITY}}" title="City" placeholder="Bill City" />
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon min-80">State</div>
				<input id="ipt_bill_to_state" type="text" class="form-control" value="{{BILL_TO_STATE}}" title="State" placeholder="Bill State" />
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<div class="input-group-addon min-80">Zip</div>
				<input id="ipt_bill_to_zip_code" type="text" class="form-control" value="{{BILL_TO_ZIP_CODE}}" title="Zip" placeholder="Bill Zip" />
			</div>
		</div>
	</div>
</div>