<div id="edit">
<div class="form-horizontal">
    <div class="form-group has-feedback">
        <label for="TITLE" class="control-label col-sm-4 required">Title</label>
        <div class="col-sm-8">
          <input type="text" class="form-control vr " placeholder="Select Title" id="TITLE"  {{#if TITLE}}disabled{{/if}}>
          <span class="glyphicon  form-control-feedback" ></span>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group  has-feedback">
        <label for="B2B_P_NAME" class="control-label col-sm-4 required">Model</label>
        <div class="col-sm-8" >
          <input type="text" class="form-control compute" placeholder="Model" id="B2B_P_NAME" class="productClass" value="{{B2B_P_NAME}}"  {{#if B2B_P_NAME}}disabled{{/if}}>
         <span class="glyphicon  form-control-feedback"></span>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group  has-feedback">
        <label for="RETAIL_PO_LINE" class="control-label col-sm-4">Retail PO</label>
        <div class="col-sm-8" >
          <input type="text" class="form-control" placeholder="Retail PO" id="RETAIL_PO" class="productClass" value="{{RETAIL_PO}}" >
         <span class="glyphicon  form-control-feedback"></span>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group  has-feedback">
        <label for="SO" class="control-label col-sm-4">SO</label>
        <div class="col-sm-8" >
          <input type="text" class="form-control" placeholder="SO" id="SO" class="productClass" value="{{SO}}" {{#if SO}}{{#if isElement}}disabled{{/if}}{{/if}}>
         <span class="glyphicon  form-control-feedback"></span>
        </div>
    </div>
</div>
<div class="form-horizontal hide">
    <div class="form-group  has-feedback">
        <label for="MATERIAL_NUMBER" class="control-label col-sm-4">Lot NO.</label>
        <div class="col-sm-8">
          <input type="text" class="form-control " placeholder="" id="MATERIAL_NUMBER" value="{{MATERIAL_NUMBER}}" {{#if MATERIAL_NUMBER}}disabled{{/if}}>
          <span class="glyphicon  form-control-feedback"></span>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group  has-feedback">
        <label for="B2B_COUNT" class="control-label col-sm-4 required">Order Qty</label>
        <div class="col-sm-8">
            <input type="text" class="form-control vr  compute" placeholder="Order Qty" id="B2B_COUNT" value="{{B2B_COUNT}}">
            <span class="glyphicon  form-control-feedback"></span>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group has-feedback">
        <label for="BOXES" class="control-label col-sm-4 required">Carton Qty</label>
        <div class="col-sm-8">
          <input type="text" class="form-control vr" placeholder="Carton Qty" id="BOXES" value="{{BOXES}}">
          <span class="glyphicon  form-control-feedback"></span>
        </div>
    </div>
</div> 
<div class="form-horizontal">
  <div class="form-group has-feedback">
      <label for="clp" class="control-label col-sm-4 required">CLP Type</label>
      <div class="col-sm-8">
        <input type="text" class="form-control immybox immybox_witharrow" placeholder="Select CLP" id="clp" >
        <span class="glyphicon  form-control-feedback"></span>
      </div>
  </div>
</div> 
<div class="form-horizontal">
    <div class="form-group has-feedback">
        <label for="TOTAL_WEIGHT" class="control-label col-sm-4">Weight(LBS)</label>
        <div class="col-sm-8">
          <input type="text" class="form-control vr" placeholder="0.00" id="TOTAL_WEIGHT"  value="{{TOTAL_WEIGHT}}">
          <span class="glyphicon  form-control-feedback"></span>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group has-feedback">
        <label for="PALLET_SPACES" class="control-label col-sm-4">Pallet Qty</label>
        <div class="col-sm-8">
          <input type="text" class="form-control vr" placeholder="0.00" id="PALLET_SPACES" value="{{PALLET_SPACES}}">
          <span class="glyphicon  form-control-feedback"></span>
        </div>
    </div>
</div>
</div>
