html,
body {
	margin: 0;
	padding: 0;
}
table {
	width: 100%;
	border-spacing: 0;
}
.theadLeft {
	border: 1px solid #bbbbbb;
	border-top-left-radius: 3px;
}
.thead {
	text-align: center;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	font-family: Airal;
	padding: 8px 0;
	font-size: 13px;
	background-color: rgba(183, 233, 245, 0.2);
	border-right: 1px solid #bbb;
	font-weight: bold;
	color: #333;
}
.product {
	border-top: 1px solid #bbb;
	text-align: center;
	border-top-right-radius: 3px;
	font-family: Airal;
	padding: 8px 0;
	font-size: 13px;
	background-color: rgba(183, 233, 245, 0.2);
	border-right: 1px solid #bbb;
	font-weight: bold;
	color: #333;
}
table td {
	text-align: center;
	height: 35px;
	vertical-align: middle;
	line-height: 35px;
	font-size: 12px;
	color: #333;
	word-break: break-all;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 5px 0;
}
table tr:nth-child(odd) {
	background: #f9f9f9;
}
table tr:nth-child(even) {
	background: #fff;
}
table tr:hover {
	background: wheat;
}
table tr .container {
	width: 200px;
}
table tr .container_type {
	width: 70px;
}
table tr .p_name {
	width: 150px;
}
table tr .product_line {
	width: 130px;
}
table tr .title {
	width: 80px;
}
table tr .quantity,
table tr .total_quantity {
	width: 100px;
}
table tr .locked_quantity {
	width: 115px;
}
table tr .locked_total_quantity {
	width: 160px;
}
table tr .sn {
	width: 270px;
}
#thead1,
#thead2:hover {
	background: none;
}