 <div id="addRequirementContainer">
    <div id="" class="tab-pane">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="packages_content" class="col-sm-2 control-label"><span class="red_star">*&nbsp;</span>Requirement Name:</label>
            <div class="col-sm-3">
                 <input id="requirement_name" name="requirement_name" type="text" class="form-control "  placeholder="Requirement Name" />
            </div>
        </div> 
        <div class="form-group">
            <label for="packages_content" class="col-sm-2 control-label"><span class="red_star">*&nbsp;</span>Display Type:</label>
            <div class="col-sm-3">
                <select id="display_type" style="width:100%;">
                    <option value=""></option>
                    {{#each displayTypes}}
                        <option value="{{this.value}}">{{this.text}}</option>
                    {{/each}}
                </select>
                <!--<input id="display_type" name="display_type" type="text" class="form-control immybox immybox_witharrow"  placeholder="Display Type" />-->
            </div>
        </div>
         <div class="form-group" id="requirement-value-list">
            <!-- 添加值信息 表格形式 -->
        </div>
        <div class="form-group">
            <label for="packages_content2" class="col-sm-2 control-label"><span class=""></span>Description :</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="5" id="description"></textarea>
            </div>
        </div>
        <div class="form-group" style="margin-bottom:0">
            <div class="col-sm-8">
              <button type="button" class="btn btn-info pull-right" id="btnSave">Submit</button>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="clear"></div>