<label for="packages_content" class="col-sm-3 control-label">
<span class="red_star">*&nbsp;</span>Instruction Items:</label>
<div class="col-sm-9">
    <div class="form-group" style=" margin-top: 0px;">
        <div class="col-sm-6">
             <input id="item_name" name="item_name" type="text" class="form-control "  placeholder="Item Name" />
        </div>
        <div class="col-sm-4">
             <input id="item_value" name="item_value" type="number" class="form-control "  placeholder="Item Value" min="0" max="999999999" onkeyup="value=value.replace(/[^\d]/g,'')" />
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-info pull-right" id="btnNameAdd">Add</button>
        </div>
    </div>
    <div class="search_result_list" style="max-height: 216px;
  overflow-x: hidden;overflow-y: auto;">
        <div id="item_data_box">
            <table class="search_result_list_header" cellspacing="0">
                <tr>
                    <th class="col-sm-5">Name</th>
                    <th class="col-sm-2">Value</th>
                    <th class="col-sm-2">Sort</th>
                    <th class="col-sm-3" style="border-right:0px;">
                        Operation
                    </th>
                </tr>
            </table>

            <table class="search_result_list_content" cellspacing="0">
              {{#if list}}
                {{#each list}}
                {{list.length}}
                <tr data-rid_id="{{this.rid_id}}">
                    <td valign="middle" class="col-sm-5">
                        {{this.item_name}}{{this.id}}
                    </td>
                    <td valign="middle" class="col-sm-2">
                        {{this.item_value}}
                    </td>
                    <td valign="middle" class="col-sm-2">
                        {{ this.sort }}
                    </td>
                    <td valign="middle" class="col-sm-3" style="text-align: center">
                        <a href="javascript:void(0)" name="upSort" class="btn btn-default fa fa-arrow-up " style="margin-left: 1px;" title="UP"></a>
                        <a href="javascript:void(0)" name="downSort" class="btn btn-default fa fa-arrow-down" style="margin-left: 1px;" title="UP"></a>
                        <a href="javascript:void(0)" name="delRid" class="btn btn-default fa fa-remove" style="margin-left: 1px;" title="Delete"></a>
                    </td>
                </tr>
                {{/each}}
              {{else}}
                <tr>
                    <td style="text-align:center;line-height:40px;height:40px;background:#FEFEFE;border:1px solid silver;">No Data.</td>
                </tr>
                
                 
              {{/if}}
              
            </table>
            
        </div>
    </div>
</div>