 <!-- 修改--> 
 <div id="addRequirementContainer" style="width:780px; max-height: 482px;
  overflow-x: hidden;overflow-y: auto;">
    <div id="" class="tab-pane">
        <form class="form-horizontal" role="form" id="eidt-requirement-form">
          <div class="form-group">
            <label for="packages_content" class="col-sm-3 control-label"><span class="red_star">*&nbsp;</span>Instruction Name:</label>
            <div class="col-sm-5">
                 <input id="requirement_name" name="requirement_name" type="text" class="form-control " style=" width: 272px; "  placeholder="Instruction Name" value="{{model.requirement_name}}" />
            </div>
        </div>
        <div class="form-group">
            <label for="packages_content" class="col-sm-3 control-label"><span class="red_star">*&nbsp;</span>Display Type:</label>
            <div class="col-sm-5">
                 <select id="display_type" style=" width: 272px; "  name="display_type" >
                 <option value=""></option>
                    {{#each model.displayTypes}}
                        <option value="{{this.value}}"
                            {{#ifCond this.value  ./model.display_type }}
                                selected = "true"
                            {{/ifCond}}>
                            {{this.text}}
                        </option>
                    {{/each}}
                </select>
            </div>
        </div>
         <div class="form-group" id="requirement-value-list">
            <!-- 添加值信息 表格形式 -->
        </div>
        <div class="form-group">
            <label for="packages_content2" class="col-sm-3 control-label"><span class=""></span>Description :</label>
            <div class="col-sm-7">
                <textarea class="form-control" rows="3" id="description" name="description">{{model.description}}</textarea>
            </div>
        </div>
        <input id="ri_id" type="hidden" value="{{model.ri_id}}"/>
        </form>
    </div>
</div>
<div class="clear"></div>