<div id="advanced_search_tab_content">


    <form class="form-inline">
        <div class="form-group col-md-3">
            <input id="_r_name" value="" type="text" class="form-control" placeholder="Instruction Name" style="width:100%;" />
        </div>

        <div class="form-group col-md-2"><select id="_display_type" name="_display_type" style="width:100%;">
            <option value=""></option>
            {{#each displayTypes}}
            <option value="{{this.value}}">{{this.text}}</option>
            {{/each}}
        </select></div>

        <div class="form-group col-md-2">
            <select id="_is_active" name="_is_active" style="width:100%;">
                <option value=""></option>
                <option value="2">All</option>
                <option value="1" selected>Active</option>
                <option value="0">Inactive</option>

            </select>
        </div>

        <div class="form-group col-md-2"><a id="advanced_search_btn" name="advanced_search_btn" href="javascript:void(0)" class="btn btn-primary"><i class="fa fa-search"></i>   Search</a></div>

        <a id="addRequirement" href="javascript:void(0)" class="btn btn-warning" ><i class="fa fa-plus"></i>   Add Instruction</a>
    </form>

	<!--<table>
		<tr>
			<td>Requirement Name:</br> 
				
			</td>
			
			<td style="padding-left: 20px;">Display Type:</br>
				
			</td>

			<td style="padding-left: 20px;">Is Active:</br>
				
			</td>
			
			<td style="padding-left: 20px;">
				 <br/>
				
			</td>
		</tr>
	</table>-->
</div>


