<style>

	div.box 
	{
		height: 2.85em;
		/*padding: 15px 20px 10px 20px;*/
	}
	div.box.opened
	{
		height: auto;
	}
	div.box .toggle .closed,
	div.box.opened .toggle .open
	{
		display: none;
	}
	div.box .toggle .opened,
	div.box.opened .toggle .closed 
	{
		display: inline;
	}

	#search_result tbody ._desc{visibility:hidden}
    .search_result_list .search_result_body { border:solid 1px #ddd;}

</style>
<div class="search_result_list">
            <div>
                <div class="search_result_panel_title"><span class="panel-heading"><i class="fa fa-table"></i>&nbsp;Instruction</span></div>
                <div class="search_result_body">
                    <table class="table table-striped" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="20%">Instruction Name</th>

                                <th width="15%">Display Type</th>
                                <th width="25%">Instruction Items</th>
                                <th width="20%">Description</th>

                                <th width="20%">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if resultList}} {{#each resultList}}
                            <tr data-ri_id="{{this.ri_id}}">
                                <td style="text-align: center;">{{this.requirement_name}}</td>

                                <td style="text-align: center;">{{this.display_type_txt	}}</td>
                                <td valign="middle">

                                    {{#each this.children}}


                                    <!--
                            {{#xifCond @index 2 '<'}}
                                <div style="padding-top:10px;">
                                    <div style="text-align:right;width:100px;display:inline-block">
                                        {{this.item_name}}:
                                    </div>
                                    <div style="text-align:left;display:inline-block">
                                        {{this.item_value}}
                                    </div>
                                <div>
                            {{/xifCond}}
                            {{#xifCond @index 2 '>='}}
                                    ...
                                {{break}}
                            {{/xifCond}}
                        -->
                                    <div style="">



                                        <div style="text-align:right;width:100px;display:inline-block">
                                            {{this.item_name}} :
                                        </div>
                                        <div style="text-align:left;display:inline-block">
                                            {{this.item_value}}
                                        </div>
                                        {{/each}}
                                    </div>

                                </td>
                                <td valign="middle">
                                    <div class="_desc box">{{this.description}}</div>
                                </td>
                                <td valign="middle" style="text-align: center">

                                    <div class="btn-group" role="group">

                                        {{#xifCond this.active 0 '='}}

                                        <a href="javascript:void(0)" is_used="true" name="modify" class="btn btn-default disabled" title="Edit" style="font-size:12px;height: 28px;opacity:0;cursor: default;"><i class="fa fa-pencil" style="cursor: default;"></i>  Edit</a>

                                        <a href="javascript:void(0)" name="active" class="btn btn-default " title="Active" style="font-size:12px;height: 28px;"><i class="fa fa-check-circle"></i>  Active</a>
                                        {{/xifCond}}
                                        {{#xifCond this.active 1 '='}}

                                        {{#xifCond this.is_used true '='}}
                                        <a href="javascript:void(0)" is_used="true" name="modify" class="btn btn-default disabled" title="Edit" style="font-size:12px;height: 28px;opacity:0;cursor: default;"><i class="fa fa-pencil" style="cursor: default;"></i>  Edit</a>
                                        {{/xifCond}}

                                        {{#xifCond this.is_used true '!='}}
                                        <a href="javascript:void(0)" is_used="false" name="modify" class="btn btn-default" title="Edit" style="font-size:12px;height: 28px;"><i class="fa fa-pencil"></i>  Edit</a>
                                        {{/xifCond}}

                                        <a href="javascript:void(0)" name="inactive" class="btn btn-default" title="Inactive" style="font-size:12px;height: 28px;"><i class="fa fa-minus-circle"></i>  Inactive</a>
                                        {{/xifCond}}

                                    </div>
                                </td>
                            </tr>
                            {{/each}} {{else}}
                            <tr>
                                <td colspan="5" style="text-align: center; line-height: 180px; height: 180px; background: #E6F3C5; border: 1px solid silver;">No Data.</td>
                            </tr>
                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
                <ul id="pagination" class="clearfix pagebox"></ul>
            </div>

        </div>
