		<table width="100%" class="zebraTable"  cellspacing="0" cellpadding="0" border="0" align="left">
			{{#each customers}}
				<tr height="40px"  class="record">
					<td align="left" width="25.4%" style="padding-left:5px;">{{title.name}}</td>
					<td  align="left" class="customer" width="59%" style="padding-left:5px;">
						{{#each customers}}
							{{name}},
						{{/each}}
					</td>
					<td align="center" valign="center"> 
						
	                    <a title="Edit"  class="buttons icon edit" name="mod" href="javascript:void(0)"  data-titleId="{{title.id}}"></a>
	                    <a title="Delete"  class="buttons icon remove" name="del" href="javascript:void(0)"   data-titleId="{{title.id}}"></a>					
					</td>
				</tr>				
			{{/each}}
		</table>