
body{text-align: center;}
.mainbox{width: 90%;margin:20px auto;padding: 0px}
.mainbox .top_title{border:solid 1px #ccc;padding: 5px 10px;margin: 0px 0px;overflow: hidden;}

#Goodsno_Diagram{height: 600px;width: 100%}
.mainbox .top_title select{height: 30px;line-height: 30px;width: 200px}