<div id="areas_in_selection">

	{{#each list}}

		<div class="panel panel-default">
			<div class="panel-heading header">
				<div>{{this.areaName}}</div>
			</div>
			<div class="body panel-body">
				<div class="locations_block">	
				{{#each this.locations}}
					
						<div>{{this.locationName}}</div>
					
				{{/each}}
				</div>

			</div>
		</div>
	{{/each}}
</div>