<div class="panel panel-default">
		<div class="panel-heading header">
			<a class="previous" id="back_user_selection">User Selection </a>
			
			<div class="disabled" id="next_date_selection_div"><a class="next" id="create_task_link">Task Preview</a></div>
			<div class="clear"></div>
		</div>
		
		<div class="body panel-body" >
			<div class="div-table">
				<div class="div-table-row" id="is_repeating_checkbox_div">
					<div class="div-table-cell right"><label for="is_repeating">Is Repeating?</label></div>
					<div class="div-table-cell">
						<input type="checkbox" name="is_repeating" id="is_repeating" style="width:100px" data-label-on="   Yes   " data-label-off="   No   " class="iToggle"/>
					</div>
				</div>
				<div class="div-table-row" >
					<div class="div-table-cell right"><label >Task Type</label></div>
					<div class="div-table-cell" id="is_blind_checkbox_div">
					<input type="checkbox" name="is_blind" id="is_blind" data-label-on="Blind" data-label-off="Verify" class="iToggle"/>
						
					</div>
				</div>
				
			</div>
			<div class="div-table" id="non-repeating-div">
				<div class="div-table-row" id="start_date_box">
					<div class="div-table-cell right"><label for="start_date">Start Date</label></div>
					<div class="div-table-cell"><input type="text" id="start_date" value="" readonly="readonly"/></div>
				</div>
				<div class="div-table-row" id="end_date_box">
					<div class="div-table-cell right"><label for="end_date">End Date</label></div>
					<div class="div-table-cell"><input type="text" id="end_date" value="" readonly="readonly"/></div>
				</div>
			</div>
			<div id="repeating_div">
				<div class="div-table">
					<div class="div-table-row" id="task_duration_div">
						<div class="div-table-cell right"><label for="task_duration">Duration</label></div>
						<div class="div-table-cell">
							<select id="task_duration" name="task_duration">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								
							</select>
							Days
						</div>
					</div>
					<div class="div-table-row">
						<div class="div-table-cell right"><label for="repeat_options">Repeats</label></div>
						<div class="div-table-cell">
							<select id="repeat_options" name="repeat_options">
								<option value="Daily">Daily</option>
								<option value="Weekly">Weekly</option>
								<option value="Monthly">Monthly</option>
							</select>
						</div>
					</div>
				</div>
				<div id="Weekly_table" class="div-table">
					<div class="div-table-row">
						<div class="div-table-cell right"><label for="repeat_options_weekly">Repeat every</label></div>
						<div class="div-table-cell">
							<select id="repeat_options_weekly" name="repeat_options_weekly">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								
							</select>
						weeks
						</div>
					</div>
					
				</div>
				<div id="Daily_table" class="div-table">
					<div class="div-table-row">
						<div class="div-table-cell right"><label for="repeat_options_daily">Repeat every</label></div>
						<div class="div-table-cell">
							<select id="repeat_options_daily" name="repeat_options_daily">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								
							</select>
						days</div>
					</div>
				</div>
				<div id="Monthly_table" class="div-table">
					<div class="div-table-row">
						<div class="div-table-cell right"><label for="repeat_options_monthly">Repeat every</label></div>
						<div class="div-table-cell">
							<select id="repeat_options_monthly" name="repeat_options_monthly">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								
							</select>
						months</div>
					</div>
				</div>
				<div id="date_table" class="div-table">
					<div class="div-table-row">
						<div class="div-table-cell right"><label for="starts_on">Starts on</label></div>
						<div class="div-table-cell"><input type="text" id="starts_on" value="" /></div>
					</div>
					<div class="div-table-row">
						<div class="div-table-cell right"><label>Ends</label></div>
						<div class="div-table-cell">
							<div class="div-table" id="ends_table">
								<div class="div-table-row">
									<div class="div-table-cell">
										<input type="radio" id="ends_on_never" name="ends_on" value="never" checked="checked">
										<label for="ends_on_never">Never</label>
									</div>
								</div>
								<div class="div-table-row" id="occ">
									<div class="div-table-cell">
										<input type="radio" id="ends_on_after" name="ends_on" value="after">
										<label for="ends_on_after">After <input type="text" id="occurances"/> occurrences</label>
									</div>
								</div>
								<div class="div-table-row">
									<div class="div-table-cell">
										<input type="radio" name="ends_on" id="ends_on_on" value="on">
										<label for="ends_on_on">On <input type="text" id="ends_on_date" value="" /></label>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
		</div>	
</div>	