{{#if users.length}}
<div class="panel panel-default">
		<div class="panel-heading header">
			<a class="previous" id="back_area_selection">Area Selection</a>
			<div class="disabled" id="next_date_selection_div"><a class="next" id="next_date_selection">Task Schedule</a></div>
			<div class="clear"></div>
		</div>
		
		<div class="body panel-body">	
			<div class="group_box_div">
				<div class="employee_box group_box">
					<div class="employee_name" id="0">Anyone in the Group</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="employee_box_div">
			{{#each users}}
				<div class="employee_box">
					<div class="employee_name" id="{{this.ADID}}">{{this.EMPLOYE_NAME}}</div>
				</div>
			{{/each}}
			</div>
			<div class="clear"></div>
		</div>
		
</div>
{{else}}


{{/if}}