<script type="text/javascript" >
function initFormComponent(radio) {
    $('.validator_style').text('');
    $("#addCode").attr("title","Add");
    $("#retailer_id").select2("val","");
    $("#retailer_id").val("");
    $("#retailer_id").attr("oldretailer_id","");
    $("#p_code").attr("oldp_code","");
    radio.parentNode.parentNode.dataset.pcode_id="";
    if(radio.id=='upc_type') {
        //$('#retaileTd').css("opacity",0);
        $("#retailer_id").attr("disabled","true");
        $("#retailer_id").select2({
            placeholder: "Select...",
            allowClear: true
        });         
        //$("div.select2-drop").hide();
    } else if(radio.id=='retaile_type') {
        //$('#retaileTd').css("opacity",1);
        $("#retailer_id").removeAttr("disabled");
        $("#retailer_id").select2({
            placeholder: "Select...",
            allowClear: true
        });   
    }
}

</script>

<div align="left" style="border:2px #dddddd solid;background:#eeeeee;padding:5px;;margin-bottom:10px;margin-right:3px;">
    <form id="addCodeForm">
     
     <table width="100%">
        <tr>
            <td  id="upc" style="width: 30%;">
                <b class="require_property">*</b>Code:
                <input type="input" id="p_code" style="width:160px;" name="p_code" class="input_text_password_select" maxlength="20" onkeyup="this.value=this.value.toUpperCase()" >
            </td>
            <td  id="retaileTd" style="opacity:1;width: 34%;"> 
                <b class="require_property">*</b>Retailer:
                <select id="retailer_id" name="retailer_id" style="width:180px;" >
                        <option value="" ></option>
                        {{#each retailers}}
                            <option value="{{this.ship_to_id}}" >{{this.ship_to_name}}</option>
                        {{/each}}
                </select>
            </td>
            <td width="32%" align="center">
                <input type="radio"  id="upc_type" checked="checked" onclick="initFormComponent(this)" name="code_type" value="2">
                <label for="upc_type">Upc Code</label>
                <input type="radio" id="retaile_type"   onclick="initFormComponent(this)" style="margin-left:3px;" name="code_type" value="5">
                <label for="retaile_type">Retailer Code</label>        
            </td>            
            
				<td width="8.5%" align="center" valign="center">
					<a id="addCode" href="javascript:void(0)" style="margin-top: 5px;height: 13px;margin-left: 1px;"  class="buttons icon add" data-pc_id="{{pc_id}}"></a> 
				</td>
				
				<td width="8.5%" align="center" valign="center">
                    <a href="javascript:void(0)" class="buttons cancel" style="display:none;height: 13px;" title="Cancel"><i class="fa fa-minus-circle" style="font-size:16px;"></i></a>
				</td>

        </tr>
        <tr> 
            <td class="status validator_style"></td>
            <td class="status validator_style"></td>
            <td class="status validator_style"></td>
        </tr>
     </table>
     </form>
</div>
<div class="search_result_list" style="margin-right:3px;margin-left:0px;">
    <div>
        <table style="width:100%;" class="search_result_list_header" cellspacing="0">
            <tr>
                <th width="30%" style="text-align: center">Code</th>
                <th width="42%" style="text-align: center">Retailer</th>
                <th width="16%" style="text-align: center">Type</th>
                <th  style="text-align: center">Operation</th>
            </tr>
        </table>
   </div>
</div>
<div class="search_result_list" style="height:315px;overflow-y:scroll;overflow-x:hidden;border: 1px solid rgb(187, 187, 187);margin-top:0px;margin-right:3px;margin-left:0px;">
    <div>
        <table class="search_result_list_content" style="width:100%;" cellspacing="0">
          {{#if result}} 
            {{#each result}} 
            <tr data-pcode_id="{{this.pcode_id}}">
                <td valign="middle" width="30%">
                    {{this.p_code}}
                </td>
                <td valign="middle" width="42%">
                    {{this.ship_to_name}}
                </td>
                <td class="type" valign="middle" width="16%" data-type="{{this.code_type}}">
                    {{#ifCond this.code_type 2}}UPC{{/ifCond}}
                    {{#ifCond this.code_type 5}}Retailer{{/ifCond}}
                	{{#ifCond this.code_type 4}}OLD{{/ifCond}}
                </td>
                <td valign="middle"  style="text-align: center;">
	                {{#ifCond this.code_type 5}}
	                      <a href="javascript:void(0)" name="modCode" class="buttons icon edit"  title="Edit" style=" margin-left: -16px; height: 13px; "></a>
	                {{/ifCond}}
	                {{#ifCond this.code_type 2}}
	                      <a href="javascript:void(0)" name="modCode" class="buttons icon edit"  title="Edit" style=" margin-left: -16px; height: 13px; "></a>
	                {{/ifCond}}                
                </td>
            </tr>
            {{/each}}
          {{/if}}  
        </table>

        
    </div>

    
</div>


