{{#if areas}}
<div class="instance_area_table" id="{{instanceId}}_area_table" data-instanceId="{{instanceId}}">
	{{#if repeating}}
		<div class="instances_areas_table_back_div">
			<a href="#" class="instances_areas_table_back btn btn-default btn-sm">Back to Instances</a>
		</div>
	{{/if}}
	<table  class="table table-striped">
		<thead>
			<th>Area Name</th>
			<th>Status</th>
			<th>Progress</th>
			<th></th>
		</thead>
		<tbody>
		{{#each areas}}
		
			<tr>
				<td>{{this.AREA_NAME}}</td>
				<td>{{this.STATUS}}</td>
				
					<td>
					{{#if this.SHOW_PROGRESS}}
						<div class="custom_progress_box">
			             <div class="custom_progress" style="background-position:{{this.PERCENT_DONE}}px 0px;">
			                {{this.DONECOUNT}} / {{this.TOTALCOUNT}}
			             </div>
			           </div>  
			        {{else}}
			        --
					{{/if}}
					</td>
				
				<td>
				{{#if this.SHOW_DETAIL}}
					<a href="#" class="area_view_detail btn btn-default btn-sm" data-areaId="{{this.AREA_ID}}" >View Detail</a>
				{{/if}}
				</td>
			</tr>
		
		{{/each}}
		</tbody>
	</table>
</div>
{{/if}}