{{#if instances}}

<table id="instances_table" class="table table-striped">
	<thead>
		<th>Instance</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Status</th>
		<th></th>
	</thead>
	<tbody>
	{{#each instances}}
	
		<tr>
			<td >{{this.ID}}</td>
			<td >{{this.START_DATE}}</td>
			<td >{{this.END_DATE}}</td>
			<td >{{this.STATUS}}</td>
			<td><a href="#" class="instance_link btn btn-default btn-sm" data-value="{{this.ID}}">View Detail</a></td>
		</tr>
	
	{{/each}}
	</tbody>
</table>

{{/if}}