<div class="panel panel-default">
  	<div id="progress_task_header" class="panel-heading">
      <div class="left">Task Progress</div>
      <div id="progress-back-buttons-div"><a href="#" id="task_progress_back" class="btn btn-warning">Back</a></div>
      <div class="clear"></div>
  	</div>
  	<div class="panel-body">
  			<table class="info_table">
  				<tr>
  					<td class="labele">Warehouse</td>
  					<td class="val">{{task.WAREHOUSE_NAME}}</td>
  					{{#if task.TITLE_NAME}}
  						<td class="labele">Title</td>
  						<td class="val">{{task.TITLE_NAME}}</td>
  					{{/if}}
  					<td class="labele">Assignee</td>
  					<td class="val">{{task.USER_NAME}}</td>
  					<td class="labele">Created By</td>
  					<td class="val">{{task.CREATED_BY_NAME}}</td>
  				</tr>
  				<tr>
  					<td class="labele">Repeating</td>
  					<td class="val">{{task.IS_REPEAT}}</td>
  					<td class="labele">Type</td>
  					<td class="val">{{task.TYPE}}</td>
  					<td class="labele">Start Date</td>
  					<td class="val">{{task.STARTS_ON}}</td>
  					{{#if task.ENDS_ON}}
  						<td class="labele">End Date</td>
  						<td class="val">{{task.ENDS_ON}}</td>
  					{{else}}
  						<td class="labele">End After</td>
  						<td class="val">{{task.ENDS_OCCURRENCE}} Occurrences</td>
  					{{/if}}
  				</tr>
  				{{#if repeating}}
  				<tr>
  					<td class="labele">Repeat By</td>
  					<td class="val">{{task.REPEAT_BY}}</td>
  					<td class="labele">Repeat Every</td>
  					<td class="val">{{task.REPEAT_EVERY}}</td>
  					<td class="labele">Duration</td>
  					<td class="val">{{task.DURATION}}</td>
  					
  				</tr>
  				{{/if}}
  			</table>	
			
			<div id="second_level_progress">
				<div id="instances_progress"></div>
				<div id="instances_area_progress"></div>
				<div id="location_differences_container"></div>
			</div>

	</div>
</div>