{{#if users.length}}
<div >
	<div class="group_box_div">
		<div class="employee_box group_box " >
			<div class="employee_name" id="0">Anyone in the Group</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="employee_box_div">
	{{#each users}}
		<div class="employee_box" >
			<div class="employee_name" id="{{this.value}}">{{this.text}}</div>
		</div>
	{{/each}}
	</div>
	<div class="clear"></div>
</div>
{{else}}


{{/if}}