<div class="div-table">
	<div class="div-table-row">
		<div class="div-table-cell">
			<div class="input-group" id="warehouse_div">
				<div class="input-group-addon">Warehouse</div><input type="hidden" id="search_selected_warehouse"/>
				<input type="text" id="search_warehouse" class="form-control min-200"/>
			</div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="title_list_view"></div>
		</div>
		
		<div class="div-table-cell">
			<div class="input-group" id="user_list_view"></div>
		</div>
		
	</div>
	<div class="div-table-row">
		<div class="div-table-cell">
			<div class="input-group" id="created_by_div">
				<div class="input-group-addon">Created By</div><input type="hidden" id="search_selected_created_by"/>
				<input type="text" id="search_created_by" class="form-control"/>
			</div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="type_div">
				<div class="input-group-addon">Type</div><input type="hidden" id="search_selected_type"/>
				<input type="text" id="search_type" class="form-control"/>
			</div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="repeat_div">
				<div class="input-group-addon">Repeating</div><input type="hidden" id="search_selected_repeat"/>
				<input type="text" id="search_repeat" class="form-control"/>
			</div>
		</div>
		
	</div>
	<div class="div-table-row">
		<div class="div-table-cell">
			<div class="input-group" id="status_div">
				<div class="input-group-addon">Status</div><input type="hidden" id="search_selected_status"/>
				<input type="text" id="search_status" class="form-control"/>
			</div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" >
				<div class="input-group-addon">Start Date</div>
				<input type="text" id="search_start_date" />
			</div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" >
				<div class="input-group-addon">End Date</div>
				<input type="text" id="search_end_date" />
			</div>
		</div>

		<div class="div-table-cell" id="search_btn_div">
			<a href="#" id="search_task_btn" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Search</a>
		</div>
	</div>	
	
</div>