.condition {float: left;width: 98%;}
.form-label{width: 122px;}
#condition .row{margin-top: 5px;}
#condition .to{border-left: 0;border-right: 0}
#condition .date-input{border-top-right-radius:0;border-bottom-right-radius:0;}
#condition .min-120{min-width: 120px;}
#condition  .input-group .form-control:first{border-top-right-radius: 0;border-bottom-right-radius: 0};