<div class="dialog_update_content">
    <form id="addCountryForm" >
        <table>
            <tr>
                <td>
                    <b class="require_property">*</b>
                    <span>Alpha-2 Code</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" maxlength='2' onkeyup="value=value.replace(/[\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\d]/g,'))"  name='c_code' id='c_code' type="text" />
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <b class="require_property">*</b>
                    <span>Alpha-3 Code</span>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" maxlength='3'  onkeyup="value=value.replace(/[\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\d]/g,'))"  name='c_code2' id='c_code2' type='text' />
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <b class="require_property">*</b>
                    <span>Country Name</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" name='c_country' id='c_country' onkeyup="value=value.replace(/[\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\d]/g,'))"type='text' maxlength="100"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
        </table>
    </form>
</div>