<div class="dialog_update_content">
    <form id="modCountryForm" >
        <table>
            <tr>
                <td>
                    <b class="require_property">*</b>
                    <span>Alpha-2 Code</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input oldc_code='{{country.c_code}}' class="input_text_password_select" onkeyup="value=value.replace(/[\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\d]/g,'))" name='c_code' value='{{country.c_code}}' id='c_code' type="text" maxlength="2">
                    <input type='hidden' name='ccid' id="ccid" value='{{country.ccid}}'
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <b class="require_property">*</b>
                    <span>Alpha-3 Code</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input oldc_code2='{{country.c_code2}}' class="input_text_password_select" onkeyup="value=value.replace(/[\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\d]/g,'))" name='c_code2' id='c_code2' value='{{country.c_code2}}' type='text' maxlength="3"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <b class="require_property">*</b>
                    <span>Country Name</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input oldc_country='{{country.c_country}}' class="input_text_password_select"  name='c_country' id='c_country' onkeyup="value=value.replace(/[\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\d]/g,'))" value='{{country.c_country}}' type='text' maxlength="100"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
        </table>
    </form>
</div>