<div align="left" style="border:2px #dddddd solid;background:#eeeeee;padding:5px;;margin-bottom:10px;">
     
     <table width="100%">
        <tr data-pro_id="">
            <td width="200px"><b class="require_property">*</b>Code:&nbsp;&nbsp;<input type="input" style="width:150px" id="p_code" name="p_code" class="input_text_password_select" onkeyup="value=value.replace(/[\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\d]/g,'))" maxlength='3'></td>
            <td width="200px" minlength='1'> 
                <b class="require_property">*</b>Name:&nbsp;&nbsp;<input type="input" name="pro_name" id="pro_name" class="input_text_password_select" style="width:150px;" onkeyup="value=value.replace(/[\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\d]/g,'))" >
            </td>
            <td  valign="middle" width="200px" style="text-align: center">
           <a href="javascript:void(0)"  class="buttons" style="margin-left: 1px;" data-ccid="{{country.ccid}}" id="addProvince" title="Add State">Add State</a>
           <a href="javascript:void(0)"  class="buttons" style="margin-left: 1px;display:none"  id="cancel" title="Cancel">Cancel</a>
            </td>

        </tr>
        <tr>
            <td class="status validator_style"></td>
            <td class="status validator_style"></td>
            <td class="status validator_style"></td>
            
        </tr>
     </table>
   
</div>
<div class="search_result_list">
    <div>
        <table class="search_result_list_header" cellspacing="0">
            <tr>
                <th width="330px" style="text-align: center">Code</th>
                <th width="330px" style="text-align: center">Name</th>
                <th width="200px" style="text-align: center">
                    Operation
                </th>
            </tr>
        </table>

        <table class="search_result_list_content" cellspacing="0">
          {{#if resultList}}
            {{#each resultList}}
            <tr data-pro_id="{{this.pro_id}}">
                <td valign="middle" width="330px">
                    {{this.p_code}}
                </td>
                <td valign="middle" width="330px">
                    {{this.pro_name}}
                </td>
                
                <td valign="middle" width="200px" style="text-align: center">
                      <a href="javascript:void(0)" name="modProvince" class="buttons icon edit" style="margin-left: 1px;" title="Edit"></a>
                    <a href="javascript:void(0)" name="delProvince" class="buttons icon remove" style="margin-left: 1px;" title="Delete"></a>
                </td>
            </tr>
            {{/each}}
          {{else}}
            <tr>
                <td style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;">No Data.</td>
            </tr>
          {{/if}}  
        </table>
    </div>

    <div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
        <ul id="pagination" class="clearfix pagebox">
        </ul>
    </div>
</div>