<div class="dialog_update_content">
	<form id="addShipToForm" >
		<table>
			<tr>
				<td>
					<b class="require_property" style="color:red">*</b>
					<span>Title</span>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>
					<input name='ship_to_title' id='ship_to_title' type="text" />
				</td>
				<td class="status validator_style">&nbsp;</td>
			</tr>
			
		</table>
	</form>
</div>