<script>
function adCountryChanged(){
	var value = $("#country_list").val();
	$.ajax({
				url:"/Sync10/action/administrator/product/GetStorageProvinceByCcidJSON.action?ccid="+value,
				dataType:'json',
				type:'post',
				async:"false",
				success:function(data){
					if("" != data){
						isTextState(false);
						$("#ad_tr_state_dd").show(); 
						$("#ad_tr_state").hide();
						var provinces = eval(data);
						$("#ad_state_dd").html("");
						var str = "<option value=''></option>";
						for(var i = 0; i < data.length; i ++){
							str += "<option value="+data[i].pro_id+">"+data[i].pro_name+"</option>";
						}
						str += "<option value='100'>Input...</option>";
						$("#ad_state_dd").html(str);
						$("#ad_state_dd").select2("val",""); 
					}else{
						var ad_str = "<option value=''></option>";
						ad_str += "<option value='100'>Input...</option>";
						$("#ad_state_dd").html(ad_str);
						$("#ad_state_dd").select2("val","");
						$("#ad_tr_state").hide();
						isTextState(true);
					}
				},
				error:function(){
					console.log("error getting states");
				}
		  })
}
function isTextState(flag){
	if(flag){
		$("#ad_is_text_state").val("true");
		//$("#ad_tr_state").show();
		//$("#ad_tr_state_dd").hide();
		
	}else{
		$("#ad_is_text_state").val("false");
		//$("#ad_tr_state").hide();
		//$("#ad_tr_state_dd").show();
		
	}

}

function adStateChanged(){
	var value = $("#ad_state_dd").val();
	
	if(value == "100"){
		$("#ad_state_dd").select2("val","100");
		$("#ad_tr_state").show();
		isTextState(true);
	}else{
		isTextState(false);
		
		$("#ad_state").val("");
		$("#ad_tr_state").hide();
		$("#ad_tr_state_dd").show(); 
	}
}
</script>
<style>
#ad_tr_state{display:none}
#advanced_search_tab_content table input,select{margin-bottom:0px;}
</style>

<div id="advanced_search_tab_content">

	<table>
		<tr>
			<td>Ship To Title:</br><input id="advanced_search_ship_to" value="" type="text" class="input_text_password_select"/></td>
			<td>Address Name:</br><input id="advanced_search_storage" value="" type="text" class="input_text_password_select"/></td>
			<td>Nation:</br>
				<select id="country_list" name="country_list" onchange="adCountryChanged();" style="width:236px;">
					<option value="" ></option>
					
					{{#each countries}}
						<option value="{{this.ccid}}" code="{{this.c_code}}">{{this.c_country}}</option>
					{{/each}}
				</select>
			</td>
			<td>Province:</br>
				<div id="ad_tr_state_dd">
					<select id="ad_state_dd" name="ad_state_dd" onchange="adStateChanged();" style="width:236px;">
						<option value=""></option>
						
					</select>
				</div>
			</td>
			<td>
				</br>
				<div id="ad_tr_state">	
						<input name="ad_is_text_state" id="ad_is_text_state" type="hidden" value="true"/>
						<input name='ad_state' id='ad_state' type="text" maxlength="50" class="input_text_password_select" style="width:180px;" value=""/>
				</div>
			</td>
			<td><br/>
				<button type="button" id="advanced_search_btn" name="advanced_search_btn" class="btn btn-default">Search</button>
			</td>
		</tr>
	</table>
</div>