
<script>
function isTextState(flag){
	if(flag){
		$("#is_text_state").val("true");
		//$("#tr_state").show();
		//$("#tr_state_dd").hide();
		
	}else{
		$("#is_text_state").val("false");
		//$("#tr_state").hide();
		//$("#tr_state_dd").show(); 
		
	}

}

function countryChanged(){
	var value = $("#country").val();
	$.ajax({
				url:"/Sync10/action/administrator/product/GetStorageProvinceByCcidJSON.action?ccid="+value,
				dataType:'json',
				type:'post',
				async:"false",
				success:function(data){ 
					if("" != data){
						isTextState(false);
						$("#tr_state_dd").show(); 
						$("#tr_state").hide();
						var provinces = eval(data);
						$("#state_dd").html("");
						var str = "";
						str = "<option value=''></option>";
						for(var i = 0; i < data.length; i ++){
							str += "<option value="+data[i].pro_id+">"+data[i].pro_name+"</option>";
						}
						str += "<option value='100'>Input...</option>";
						$("#state_dd").html(str);
						$("#state_dd").select2("val","");
					}else{
						var dd_str = "<option value=''></option>";
						dd_str += "<option value='100'>Input...</option>";
						$("#state_dd").html(dd_str);
						$("#state_dd").select2("val","");
						$("#tr_state").hide();
						$("#state").val("");
						isTextState(false);
					}
				},
				error:function(){
					console.log("error getting states");
				}
		  })
}

function selectCountryState(){
	var model_country_id = $("#country_id").val();
	var model_state_id = $("#state_id").val();
	$("#country option[value='"+model_country_id+"']").attr("selected","selected");
	
	
}
function stateChanged(){
	var value = $("#state_dd").val();
	
	if(value == "100"){
		$("#state_dd").select2("val","100");
		$("#tr_state").show();
		isTextState(true);
	}else{
		isTextState(false);
		$("#tr_state").hide();
		$("#state").val("");
		$("#tr_state_dd").show(); 
	}
}
</script>
<div class="">
	<form id="editStorageCatalogForm" name="editStorageCatalogForm">
		<table width="660px" >
			<tr>

				<td>
					<label for="warehouse_name">Address Name</label>
				</td>
				<td>
					<input name="storage_cat_id" id="storage_cat_id" type="hidden" value="{{model.id}}"/>
					<input name='ship_to_id' id='ship_to_id' type="hidden"  value="{{model.ship_to_id}}"/>
					<input name="country_id" id="country_id" type="hidden" value="{{model.native}}"/>	
					<input name="state_id" id="state_id" type="hidden" value="{{model.pro_id}}"/>
					<input name='warehouse_name' id='warehouse_name' type="text" maxlength="100" class="input_text_password_select" value="{{model.title}}" />	
				</td>
				<td  class="status validator_style" style="color:red;">*</td>
			</tr>
			<tr>
				<td>
					<label for="house_address">Address1</label>
				</td>
				<td>
					<input name='house_address' id='house_address' type="text" maxlength="100" class="input_text_password_select" value="{{model.send_house_number}}"/>
				</td>
				<td  class="status validator_style" style="color:red;">*</td>
			</tr>
			<tr>
				<td>
					<label for="street_address">Address2</label>
				</td>
				<td>
					<input name='street_address' id='street_address' type="text" maxlength="100" class="input_text_password_select" value="{{model.send_street}}"/>
				</td>
				<td  class="status validator_style">&nbsp;</td>
			</tr>
			<tr>
				<td>
					<label for="city">City</label>
				</td>
				<td>
					<input name="city" id="city" type="text" maxlength="50" class="input_text_password_select" value="{{model.city}}"/>
				</td>
				<td  class="status validator_style" style="color:red;">*</td>
			</tr>
			<tr>
				<td>
					<label for="zipcode">Zip Code</label>
				</td>
				<td>
					<input name='zipcode' id='zipcode' type="text" maxlength="30"  class="input_text_password_select" value="{{model.send_zip_code}}"/>
				</td>
				<td  class="status validator_style" style="color:red;">*</td>
			</tr>
		
			<tr id="tr_state_dd">
				<td>
					<label for="state_dd">Province</label>
				</td>
				<td>
					<select id="state_dd" name="state_dd" onchange="stateChanged();" style="width:300px;">
						<option value="" ></option>
						
					</select>
				</td>
				<td  class="status validator_style" style="color:red;">*</td>
			</tr>
			<tr  id="tr_state">
				<td>
					<label for="state"></label>
				</td>
				<td>
					<input name="is_text_state" id="is_text_state" type="hidden" value="true"/>
					<input name='state' id='state' type="text" maxlength="50" class="input_text_password_select" value="{{model.send_pro_input}}"/>
				</td>
				<td  class="status validator_style"></td>
			</tr>
			<tr>
				<td>
					<label for="country">Nation</label>
				</td>
				<td>
					<select id="country" name="country" onchange="countryChanged();" style="width:300px;">
						<option value="" ></option>
						{{#each countries}}
							<option value="{{this.ccid}}" code="{{this.c_code}}">{{this.c_country}}</option>
						{{/each}}
					</select>
				</td>
				
				<td  class="status validator_style" style="color:red;">*</td>
			</tr>	
			
			<tr>
				<td>
					<label for="contact">Contact</label>
				</td>
				<td>
					<input name='contact' id='contact' type="text" maxlength="45" class="input_text_password_select" value="{{model.contact}}"/>
				</td>
				<td  class="status validator_style">&nbsp;</td>
			</tr>
			<tr>
				<td>
					<label for="phone">Phone</label>
				</td>
				<td>
					<input name='phone' id='phone' type="text" maxlength="45" class="input_text_password_select" value="{{model.phone}}"/>
				</td>
				<td  class="status validator_style">&nbsp;</td>
			</tr>
			<tr>
                <td>
                    <label for="email">E-Mail</label>
                </td>
                <td>
                    <input name='email' id='email' type="text" maxlength="45" class="input_text_password_select"
                    value="{{model.send_email}}"/>
                </td>
                <td  class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label for="fax">Fax</label>
                </td>
                <td>
                    <input name='fax' id='fax' type="text" maxlength="45" class="input_text_password_select"
                    value="{{model.send_fax}}"/>
                </td>
                <td  class="status validator_style">&nbsp;</td>
            </tr>
           <tr>
                <td>
                    <label for="is_bill_dc">Bill Used</label>
                </td>
                <td>
                	<select id="is_bill_dc" name="is_bill_dc" style="width:300px;">
						<option value="" ></option>
						{{#each yes_not_arr}}
							<option value="{{this.key}}">{{this.value.en-us}}</option>
						{{/each}}
					</select>
                </td>
                <td  class="status validator_style">&nbsp;</td>
            </tr>
		</table>
	</form>
</div>

<script>
	selectCountryState();
</script>