<div id="ship_to_accordion">
{{#if list.length}}
{{#each list}}
    <div id="ship_to_{{this.ship_to_id}}_bg" class="ship_to_title_bg">
        <div id="ship_to_{{this.ship_to_id}}" class="ship_to_title" title="{{this.ship_to_name}}">
            {{truncate this.ship_to_name 25}}
        </div>
        <div id="ship_to_{{this.ship_to_id}}" class="ship_to_title_edit">
            <input id="edit_ship_to_{{this.ship_to_id}}" value="{{this.ship_to_name}}" name="editTitle" style="border:1px solid #000;"/>
            <input type="hidden" id="hidden_edit_ship_to_{{this.ship_to_id}}" value="{{this.ship_to_name}}"/>
            &nbsp;&nbsp;<a style="text-decoration:none;" name="ok_btn" title="save"><img src="./img/ok.png"/> </a>
            &nbsp;&nbsp;<a name="cancel_btn" title="cancel"><img src="./img/cancel.png"/></a>
        </div>
        <div id="edit_btn_{{this.ship_to_id}}" class="edit_ship_to_btn">
            <a name="edit_btn" title="Edit"><img src="./img/edit.png" border="0" valign="middle"/></a>
            &nbsp;&nbsp;<a name="del_btn" title="Delete"><img src="./img/del.png" border="0"/></a>
        </div>
        <div id="add_storage_catalog_btn">
        <button type="button" id="add_storage_catalog_btn_{{this.ship_to_id}}" name="add_storage_catalog_btn_{{this.ship_to_id}}" class="btn btn-default">Add Address Book</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
         <span class="error" id="update_error_ship_to_{{this.ship_to_id}}_bg"></span>
        </div>
         <input type="hidden" name="shipToID" value="{{this.ship_to_id}}"/>
         
         <div class="search_panel_div">

             <label class="current_amount_{{this.ship_to_id}}">{{this.current_amount}}</label>
             <label class="ship_to_amount"> / {{this.current_amount}}</label>
             
             <div style="display:inline-block;" class="search_panel" id="search_panel_{{this.ship_to_id}}">
                <div id="search_input_div">
                <input type="text" id="search_input" value=""/></div>
                <div id="search_img_div"><a name="search_img_link" title="search"><img src="./img/search.png" border="0" id="search_img" valign="middle"/></a></div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
   
    <div id="ship_to_address_{{this.ship_to_id}}" class="ship_to_content" ></div>
{{/each}}
{{else}}
<div class="no_data">
   No Data
</div>
{{/if}}
</div>

<div id="pagination" class="pagebox">
   
</div>