<style>
td{padding:3px;}
th{background-color:#e5e5e5;padding:3px;color:#333;border:1px solid #bbb;line-height:normal;font-size:12px;}
a{text-decoration:none;}

</style>
{{#if addresses.length}}

<table class="zebraTable" cellpadding="0" cellspacing="0" width="100%" >
<tr>
	<th style="width:15%;">Address Name</th><th style="width:20%;">Address1</th><th>Address2</th><th style="width:8%;">City</th><th style="width:7%;">Zip Code</th>
	<th style="width:13%;">Province</th><th style="width:6%;">Operation</th>
</tr>
{{#each addresses}}
   <tr>
   		<td>{{this.title}}</td><td>{{this.send_house_number}}</td><td>{{this.send_street}}</td><td>{{this.city}}</td><td>{{this.send_zip_code}}</td>
   		<td>{{#if this.pro_id}}{{#compare this.pro_id -1}}{{this.send_pro_input}}{{/compare}}{{this.pro_name}}{{else}}{{this.send_pro_input}}{{/if}}</td>
   		<td id="storage_actions_{{this.id}}">
            &nbsp; &nbsp;<a title="Edit" name="edit_storage" style="text-decoration:none;">
               <img src="./img/edit.png" />
            </a> 
            &nbsp; &nbsp;
            {{#xifCond this.active 1 '='}}
               <a title="Inactive" name="pause_storage">
                  <img src="./img/inactive.png" />
               </a>
            {{/xifCond}}
            {{#xifCond this.active 0 '='}}
               <a title="Active" name="active_storage">
                  <img src="./img/active.png" />
               </a>
            {{/xifCond}}
            <input type="hidden" value="{{this.id}}" name="storage_id"/>
         </td>
   </tr>
{{/each}}
</table>
{{else}}
<div class="no_data">
   No Data
</div>
{{/if}}
