<style>
.error{color:red;}
</style>
<div id="ship_to_storage_search_content" >
	<table width="100%" height="61" border="0" cellpadding="0" cellspacing="0">
		<tr>
	   		<td width="30%" style="padding-top:3px;">
				<div id="easy_search_father">
					<div id="easy_search" ><a ><img id="eso_search" src="img/easy_search_2.png" width="70" height="64" border="0"/></a></div>
				</div>
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="418">
							<div  class="search_shadow_bg">
							 	<input name="search_key2" type="text" class="search_input" id="search_key2" value="" style="width:398px"/>
							</div>
						</td>
						<td >
							
						</td>
					</tr>
					
				</table>
			</td>
		    <td width="33%"></td>
		    <td width="24%" align="right" valign="middle">
			</td>
		</tr>
	</table>
</div>

<script>
$(function() {
    $("#easy_search2").bind("contextmenu", function(event) {
        event.preventDefault ? event.preventDefault() : event.returnValue = false;
    });
}); 
</script>