<div class="dialog_update_content">
    <form id="addRoleForm" >
        <table>
            <tr>
                <td>
                    <b class="require_property">*</b>
                    <span>Role Name</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" name='roleName' id='roleName' type="text" maxlength="30"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <span>Default Home</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" name='defaultHome' id='defaultHome' type='text' maxlength="100"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" name='description' id='description' type='text' maxlength="100"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
        </table>
    </form>
</div>