<div class="dialog_update_content">
    <form id="modRoleForm" >
        <table>
            <tr>
                <td>
                    <b class="require_property">*</b>
                    <span>Role Name</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" name='roleName' id='roleName' type="text" value="{{model.name}}" maxlength="30"/>
                    <input name='adgid' id='adgid' type="hidden" value="{{model.adgid}}"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <span>Default Home</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" name='defaultHome' id='defaultHome' type='text' value="{{model.index_page}}" maxlength="100"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" name='description' id='description' type='text' value="{{model.description}}" maxlength="100"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
        </table>
    </form>
</div>