<div align="left" style="border:2px #dddddd solid;background:#eeeeee;padding:5px;-webkit-border-radius:7px;-moz-border-radius:7px;margin-bottom:10px;">
     <font style="font-weight:bold;">Role Name :</font>&nbsp;<font  style="font-weight:bold;size:16px;color:#00F">{{model.role.NAME}}</font>
</div>
	<div id="update">
	     <table width="100%" border="0" cellspacing="0" cellpadding="0">
	     	<tr>
	     		<td width="305px" height="30px" bgcolor="#dddddd" style="padding-left:5px;border-right:1px solid #eeeeee;font-weight:bold">Linked Post</td>
	     		<td bgcolor="#dddddd" style="padding-left:5px;font-weight:bold" align="center">No Linked Post</td>
	     	</tr>
	     </table>
         <div align="left" style=" margin-top:2px; height:395px;border:2px #dddddd solid;background:#eeeeee;padding:5px;-webkit-border-radius:7px;-moz-border-radius:7px;">		
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
				    <td>
					    <div style="background-color:#FFF;width:250px; border:2px #dddddd solid; height:390px; float:left; overflow:auto">
			        		 <table id="_lefts" width="100%" border="0" cellspacing="0" cellpadding="0" class="search_result_list_content" style="border:none;">
				        		 	<input type="hidden" id="has_title" value=""/>
						     		{{#each model.lefts}}
									<tr>
										<td   id="{{this.id}}" style="cursor:pointer;" width="20%" height="30px" align="center">
									 		{{this.name}}
									 	</td>
									</tr>
									{{/each}}
							 </table>
			      		</div>
				    </td>
				    <td align="center" >
				    	<div style="width:155px">
				    	<a class="add_jt" style="cursor:pointer">
				    		<img alt="" src="./image/add_jt.gif"/>
				    	</a>
				    	<br><br><br>
				    	<a class="det_jt" style="cursor:pointer">
				    		<img alt="" src="./image/det_jt.gif"/>
				    	</a>
				    	</div>
				    </td>
				    <td>
				   	    <div style="background-color:#FFF;width:250px; border:2px #dddddd solid; height:390px; float:left; overflow:auto">
			        		 <table id="_rights" width="100%" border="0" cellspacing="0" cellpadding="0" class="search_result_list_content" style="border:none;">
				        		 	<input type="hidden" id="unhas_title" value=""/>
						       		{{#each model.rights}}
									<tr>
										<td   id="{{this.id}}" style="cursor:pointer;" width="20%" height="30px" align="center">
											{{this.name}}
										</td>
									</tr>
									{{/each}}
							 </table>
			      		</div>
				    </td>
				</tr>
			</table>
		</div>         
    </div>