.dialog_update_content{
	
}

.dialog_update_content table tr td:FIRST-CHILD{
	
	text-align: left;
	
}

.dialog_update_content table tr td:nth-child(2){
	
	width:300px;
}

.dialog_update_content table tr td span{
	
	font-weight:bold;
}

#ship_to_search_content .search_shadow_bg{margin-bottom: 0px;}
#add_storage_catalog_btn .btn-sm{padding:3px 5px;
    color: #333;
  background-color: #fff;
  border-color: #ccc;
}
#add_storage_catalog_btn .btn-sm:hover,
#add_storage_catalog_btn .btn-sm:focus,
#add_storage_catalog_btn .btn-sm:active,

{
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
#search_tabs .tab-content{padding:15px; border: 1px solid #ddd;border-top: 0px;}
#ship_to_accordion .edit_ship_to_btn a:nth-child(2){display: none;}

/* 按钮 */
input[type=button].lighter,button.lighter{
	
	background-attachment: fixed;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 70px;
	color: #000000;
	cursor:pointer;
}
/* 按钮 */
input[type=button].listlighter,button.listlighter{
	
	background-attachment: fixed;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	color: #000000;
	cursor:pointer;
}
input[type=button].normal,button.normal{
	width:80px;
	height:23px;
	cursor: pointer;
}

input[type=button].bold,button.bold{
	width:160px;
	height:23px;
	cursor: pointer;
}

/*文本框*/
.input_text_password_select{

    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    height: 29px;
    width:300px;
    margin: 0;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.btn {
  display: inline-block;   /* inline模式*/
  padding: 3px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;   /* 手形图标 */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent; /* 边框 */
  border-radius: 4px;   /* 圆角*/
}


.btn-default { /* 定义default风格相关的颜色 */
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {  /* hover、focus、active变化时的颜色 */
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {  /* active状态下,背景图设置为none */
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
/* 此处省略部分选择符 */
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {  /* 禁用状态下,各种变化时的颜色 */
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {  /* 按钮内部有徽章的话,设置徽章的显示颜色和背景色 */
  color: #fff;
  background-color: #333;
}

.textbox{width:250px;padding:2px;border:1px solid #999;}
#editStorageCatalogForm table tr td:FIRST-CHILD{text-align: right;}
#editStorageCatalogForm table tr td:nth-child(2){width:240px;}
#editStorageCatalogForm table tr td:nth-child(3){width:220px;}
.require_property{padding-left:5px;}
#editStorageCatalogForm table select{width:230px; padding:2px;}
#editStorageCatalogForm table input{width:300px}
#tr_state_dd{display:none}
#editStorageCatalogForm label{display:inline}

#addStorageCatalogForm table tr td:FIRST-CHILD{text-align: right;}
#addStorageCatalogForm table tr td:nth-child(2){width:240px;}
#addStorageCatalogForm table tr td:nth-child(3){width:220px;}
.require_property{padding-left:5px;}
#addStorageCatalogForm table select{width:230px; padding:2px;}
#addStorageCatalogForm table input{width:300px}
#addStorageCatalogForm label{display:inline}


/*shiptolist.h*/
.ship_to_title,.ship_to_title_edit{float:left;padding:5px 10px 3px 10px;
font-size:14px;color:#333;font-weight:bold; 

-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #999;
    line-height:20px;
    //background-color:#ccc;
    border-color:#444;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    //height:22px;
    border-bottom:0px;
    vertical-align:middle;
    cursor:pointer;text-shadow: 1px 1px 0px rgba(200, 200, 200, 0.8);
    width:250px;
    
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#aaa));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #ccc, #aaa);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ccc, #aaa);

  /* IE 10 */
  background: -ms-linear-gradient(top, #ccc, #aaa);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ccc, #aaa);
}
.ship_to_content{max-height:285px;overflow-y:auto;border:1px solid #444; border-top:0px;}
.ship_to_title_bg, .ship_to_title_bg_edit{border-bottom:1px solid #444;margin-top:15px;}
.edit_ship_to_btn{margin:0;float:left;padding:2px 20px;vertical-align:bottom;width:100px}
a{cursor:pointer}
.ship_to_title_edit{font-size:11px;display:none;}
.ship_to_title_edit input{margin:0;width:170px;line-height:normal}
.ship_to_title_edit img{vertical-align:middle}
.edit_ship_to_btn img{vertical-align:bottom}
#pagination{padding:10px 5px;float:right;}
.no_data{margin:5px;padding:10px; text-align:center;background-color:#eee;border:1px solid #444;}
#add_storage_catalog_btn{float:left;padding-top:0px;}
#add_storage_catalog_btn .btn-sm{padding:3px 5px;
    color: #333;
  background-color: #fff;
  border-color: #ccc;
}
#add_storage_catalog_btn .btn-sm:hover,
#add_storage_catalog_btn .btn-sm:focus,
#add_storage_catalog_btn .btn-sm:active,

{
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.search_panel{
    padding:0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999;
    background-color:#e1e1e1;
    vertical-align:bottom;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    height:20px;
}
.search_panel_div{ float:right;padding-top:5px}
#search_input_div{float:left; border-right:1px solid #999;line-height:normal}
#search_input_div input{width:170px;height:16px;border:0px;background-color:#fdfdfd;margin:0px;padding:2px;}
#search_img_div{float:left;padding:0px 10px;vertical-align:bottom;line-height:normal;}


/**/

.ui-widget-content{
  border:1px #CFCFCF solid;
  border-radius: 0px;
    -webkit-border-radius: 0px;
  -moz-border-radius:0;
}
.ui-widget-header{
  background:#f1f1f1 !important;
  border-radius: 0;
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom: 1px #CFCFCF solid;
}
.ui-tabs .ui-tabs-nav li a{
  padding: .5em 1em 13px !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    height: 40px;
    margin-top: -4px !important;
  background:#fff;
}
.ui-tabs .ui-tabs-nav{
  padding :0 .2em 0;
}
.ui-tabs{
  padding:0;
}

#advanced_search_tab_content table input {
    width: 225px;
}

#easy_search {
  position:absolute;
  left:328px;
  top:-17px;
  width:55px;
  height:30px;
  z-index:9999;
  visibility: visible;
}
