.createFrame{border:0;width:100%;} /** min-height: 620; **/

/** ====================620=========**/
body, html {
	border: 0 none;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
.input-group-addon:not(:first-child):not(:last-child) {
	border-left: 0 none;
	border-right: 0 none;
}
#SoTool,#SoSearch,#SoDetail,#SoReview,#SoBol {
	margin-top: 15px;
}
#SoDetail .col-md-4 {
	width: 32%;
}
#SoReview .col-md-4 {
	width: 32%;
}
#SoDetail .col-md-12{
	width: 98%;
}
#selectDetail .col-md-12{
	width: 98%;
}
#tabs .row {
	margin-left: 0;
	margin-right: 0;
}
.min-1080px {
	min-width: 1080px;
}
.min-770 {
	min-width: 770px;
}
.min-200 {
	min-width: 200px;
}
.min-50 {
	min-width: 50px;
}
.min-60 {
	min-width: 60px;
}
.min-70 {
	min-width: 70px;
}
.max-50 {
	max-width: 50px;
}
.min-h300 {
	min-height: 212px;
	max-height: 212px;
	height: 210px;
	width: 100%;
	overflow-y:auto;
}
.min-h400 {
	min-height: 310px;
	max-height: 310px;
	overflow-y:auto;
}
.min-h500 {
	min-height: 420px;
	max-height: 420px;
	height: 420px;
	width: 100%;
	overflow-y:auto;
}
#tabs {
	width:99%;
	margin-left:auto;
	margin-right:auto;
}
#tabs ul {
	margin-top: 10px;
}
.topthead table thead th {
	background-color: #f8f8f8;
}
#data {
	margin-top: 10px;
	border-top: 1px solid #cfcfcf;
}
#data .subfilesetstyle {
	border-color: #ccc;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 95%;
}
#data .checkin_box {
	border: 0 none;
	min-width: 768px;
	width: 100%;
}
#data thead>tr>th {
	height: 45px;
}
#data .valuestyle {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	color: #F60;
	text-decoration: underline;
	cursor: pointer;
}
#data .namestyle {
	display: inline-block;
	vertical-align: middle;
	width: 150px;
	text-align: right;
	margin-right: 3px;
}
#data .valstyle {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin-left: 3px;
}
#data .subfilesetstyle {
	border-color: #ccc;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 95%;
}
.SOID {
	/* background-color: #CCC; */
	padding: 0 10px;
}
#data .root_title_left {
	background: transparent none repeat scroll 0% 0%
	display: inline-block;
	left:10px;
	position: absolute;
}
#data .root_title_right {
	border: 1px solid #cfcfcf;
	display: inline-block;
	width: 200px;
	text-align:center;
}
.STATUS {
	/* background-color: #CCC; */
}
.progress {
	font-size: 15px;
}
.checkin_box li {
	list-style-type: none;
	text-align: left;
}
.color-green {
	color: green;
}
.color-orange {
	color: #f60;
}
.color-blue {
	color: blue;
}
.color-red {
	color: red;
}
.color-silver {
	color: silver;
}