
.rootfieldset{
	width: 100%; 
	display:block;
	margin: 0px 0px;
	padding: 0px 0px;
	border-style:solid;
	position:relative;
	border-radius:3px;
	-webkit-border-radius:3px;
	width:auto;font-size: 14px;
	width: 100%;
	border-color: #00F;
	border-width: 2px;
  }

 .rootfieldset legend{border-bottom-width:  0px;width: auto;margin:0px;}

.rootfieldset .root_title{position:absolute;top: -12px;width: 100%;}

.root_title_left,.root_title_right,.root_title_middle{background: #fff;display: inline-block;}

.rootfieldset .root_title_legend{margin-left: 5px}

.rootfieldset .root_title_left{}

.rootfieldset .root_title_middle{margin-left: 5px}

.rootfieldset .root_title_right{position:absolute;right:5px}



.rootfieldset .fieldsetContent{width: 98%;display: block;text-align: center;margin:8px auto 17px auto;min-width:98%}

.rootfieldset .fieldsetboot{width:100%; position:absolute;bottom:-12px;margin: 0px 0px;padding: 0px 0px;height: 22px}

.fieldsetboot .Footleft,.fieldsetboot .Footmiddle,.fieldsetboot .Footright{margin: 0px 0px;padding: 0px 0px;background: #fff;display: inline-block;}

.rootfieldset .foot_center{text-align: center;}

.fieldsetboot .Footleft{margin-left: 5px;}
.fieldsetboot .Footmiddle{margin-left: auto auto}
.fieldsetboot .Footright{position: absolute;right: 5px;}

.borderbottom1px{border-bottom: 1px dashed #ccc;line-height: 0px;margin:8px 0px;display: block;width: 100%;}

.rootfieldset .right5px{display: inline-block;margin-right: 5px}

.rootboxhide{visibility:hidden;}

.fieldsetbox .subul{list-style: none;padding: 0px 0px;margin: 0px 0px;}



/*==============style 例子=============*/


.subfilesetstyle{border-color: #ccc;width: 95%;margin-left: auto;margin-right: auto}

.w100{width: 100%;display: block;margin: 0px auto;}

#Compond_box{width: 370px;display: block;}


