#global{min-width: 900px;}
 .panel{margin-bottom: 0;}

#global fieldset
{
	min-width: 400px;
	border: 2px solid blue;
	line-height: 18px;
	margin-bottom: 10px;
	margin-top: 15px;
	margin-right: 20px;
	padding: 2px;
	width: 400px;
	word-break: break-all;
}
#global legend{font-size: 14px;width:auto;border-bottom:0;margin-bottom:10px;padding-left: 5px;padding-right: 10px}
#global .row{margin-left: 0;margin-right: 0;}


/** ------------------------------------------ **/
.namestyle{width: 120px;padding-right: 8px;text-align: right;float: left;margin-bottom: 10px;}
.valuestyle{text-align: left;}


.opbar-title{position: relative;}
.opbar-buttons{position: absolute;z-index: 222;right: 10px;top: 1px}

#palletDetail{height: 300px;overflow-y: scroll;overflow-x: hidden;}
.briefInfo-container{margin-top: 0px;margin-bottom: 10px;}
#deatailInfo{margin-top: -1px;}
#detail,#addressInfo,#appointment{padding:10px 10px 10px 10px;}

.titlesnamestyle{width: 120px;padding-right: 5px;text-align: right;margin-bottom: 10px;}
.titlevaluestyle{text-align: left;padding-right: 15px}

#palletDetail .col-md-4{width: 32%;}