<ul>
	<li><a href="/Sync10/administrator/b2b_order/b2b_order_logs_tright.html?b2b_oid={{id}}">All Log<span></span></a></li>
	<li><a href="/Sync10/administrator/b2b_order/b2b_order_logs_tright.html?b2b_oid={{id}}&b2b_type=1">Goods Log<span></span></a></li>
	<li><a href="/Sync10/administrator/b2b_order/b2b_order_logs_tright.html?b2b_oid={{id}}&b2b_type=3">Update Log<span></span></a></li>
</ul>