﻿/**
    *块状
*/
.info-box {width:100%;}
/*.info-box .info-title { line-height:40px; background-color:#B1AFFC;font-size:1.2em; color:#fff; font-weight:800;}*/
.info-box .info-title { line-height: 3.2em;background-color: #f4f5f9;font-size: 1.1em;color: #515151;border-top: 1px solid #e7e7eb;}
.info-box .info-title .title{ margin-left:20px;}
.info-box .info-title .handle{ margin-right:20px; cursor:pointer;}
.info-box .info-body { padding:10px;}