<!-- upload photo modal -->
<div class="modal fade bs-example-modal-lg" id="upload_picture_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload File</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<!--delete photo modal-->
<div style="display:none;" id="alert_confirm_content">
    
    <div style="position: absolute;width:100%;height:100%;top:0;cursor:default;background-color: #000;opacity: .5;-webkit-border-radius: 5px;">
    </div>

    <div class="alert alert-dismissible fade in" role="alert" style="position: absolute;width:100%;top: 30%;;cursor:default;text-align: center;">
        
        <h4 style="color: white;">Confirm Delete?</h4>

            <div class="col-md-12">
                <button type="button" class="btn btn-warning btn-sm" name="yes" data-loading-text="Deleting..." style="margin-right: 5px;">YES</button>
                <button type="button" class="btn btn-default btn-sm" name="no" data-loading-text="NO">NO</button>
            </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" name="picture_tabs">

                <li class="active" data-class="2">
                    <a href="#tab_pic_sku" data-toggle="tab">SKU</a>
                </li>
                <li data-class="1"><a href="#tab_pic_pkg" data-toggle="tab">PKG</a></li>
                <li data-class="3"><a href="#tab_pic_btm" data-toggle="tab">BTM</a></li>
                <li data-class="5"><a href="#tab_pic_lbl" data-toggle="tab">LBL</a></li>
                <li data-class="4"><a href="#tab_pic_wgt" data-toggle="tab">WGT</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content mb30">

                <div class="tab-pane active" id="tab_pic_sku">

                    <div class="row" style="margin-top: 10px;"> 
                        <div class="col-md-1">
                            <button type="button" class="btn btn-info" name="upload_picture_btn">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Photo
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="capture_picture_btn">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Capture Online
                            </button>
                        </div>
                        <div class="col-md-10" style="text-align:right;">
                            <h4 class="nomargin" style="color: #636E7B;">Note:The photos where has words or jack on the product, 3~6</h4>
                        </div>
                    </div>

                    <div class="row">

                        {{#each file_sku}}

                        <div class="col-md-2" style="margin-top: 20px;">
                            
                            <div class="thumbnail" >
                                <div style="position: relative;">

                                    <div class="img-rel-block" data-fileid="{{this.file_id}}">

                                        <a class="various" rel="fancybox-thumb-sku" href="/Sync10/_fileserv/file/{{this.file_id}}">
                                            <img class="img-responsive" style="max-width:99%;max-height:99%;display:inline-block;" src="/Sync10/_fileserv/file/{{this.file_id}}" /><span style="display:inline-block;vertical-align: middle;height: 100%;width: 0;"></span>
                                        </a>

                                        <div style="position: absolute;top:0;right: 2px;">
                                            <button name="deletePicture" type="button" class="btn btn-default btn-sm" style="display: none;" aria-label="Left Align" data-fileid="{{this.file_id}}">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                            </button>
                                        </div>
                                        <div style="position: absolute;top:0;">
                                        {{#if this.file_cover}}
                                            <span class="label label-success">Cover</span>
                                        {{else}}
                                            <button name="coverPicture" type="button" class="btn btn-default btn-sm" style="display: none;" aria-label="Left Align" data-fileid="{{this.file_id}}" data-loading-text="Cover...">
                                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Make Cover
                                            </button>
                                        {{/if}}
                                        </div>
                                    </div>

                                    <!--confirm dialog-->
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <div class="tab-pane" id="tab_pic_pkg">

                    <div class="row" style="margin-top: 10px;"> 
                        <div class="col-md-1">
                            <button type="button" class="btn btn-info" name="upload_picture_btn">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Photo
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="capture_picture_btn">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Capture Online
                            </button>
                        </div>
                        <div class="col-md-10" style="text-align:right;">
                            <h4 class="nomargin" style="color: #636E7B;">Note:The photos where has words on the product package surface, 3~6</h4>
                        </div>
                    </div>

                    <div class="row">

                    {{#each file_pkg}}
                    <div class="col-md-2" style="margin-top: 20px;">
                            
                        <div class="thumbnail" >
                            <div style="position: relative;">

                                <div class="img-rel-block" data-fileid="{{this.file_id}}">

                                    <a class="various" rel="fancybox-thumb-pkg" href="/Sync10/_fileserv/file/{{this.file_id}}">
                                        <img class="img-responsive" style="max-width:99%;max-height:99%;display:inline-block;" src="/Sync10/_fileserv/file/{{this.file_id}}" /><span style="display:inline-block;vertical-align: middle;height: 100%;width: 0;"></span>
                                    </a>

                                    <div style="position: absolute;top:0;right: 2px;">
                                        <button name="deletePicture" type="button" class="btn btn-default btn-sm" style="display: none;" aria-label="Left Align" data-fileid="{{this.file_id}}">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                        </button>
                                    </div>
                                </div>

                                <!--confirm dialog-->
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    
                    </div>

                </div>

                <div class="tab-pane" id="tab_pic_btm">

                    <div class="row" style="margin-top: 10px;"> 
                        <div class="col-md-1">
                            <button type="button" class="btn btn-info" name="upload_picture_btn">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Photo
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="capture_picture_btn">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Capture Online
                            </button>
                        </div>
                        <div class="col-md-10" style="text-align:right;">
                            <h4 class="nomargin" style="color: #636E7B;">Note:The photos where has words,icons,logo,model that pastes on the bottom of product, 3~6</h4>
                        </div>
                    </div>

                    <div class="row">

                    {{#each file_btm}}
                    <div class="col-md-2" style="margin-top: 20px;">
                            
                        <div class="thumbnail" >
                            <div style="position: relative;">

                                <div class="img-rel-block" data-fileid="{{this.file_id}}">

                                    <a class="various" rel="fancybox-thumb-btm" href="/Sync10/_fileserv/file/{{this.file_id}}">
                                        <img class="img-responsive" style="max-width:99%;max-height:99%;display:inline-block;" src="/Sync10/_fileserv/file/{{this.file_id}}" /><span style="display:inline-block;vertical-align: middle;height: 100%;width: 0;"></span>
                                    </a>

                                    <div style="position: absolute;top:0;right: 2px;">
                                        <button name="deletePicture" type="button" class="btn btn-default btn-sm" style="display: none;" aria-label="Left Align" data-fileid="{{this.file_id}}">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                        </button>
                                    </div>
                                </div>

                                <!--confirm dialog-->
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    
                    </div>
                </div>

                <div class="tab-pane" id="tab_pic_lbl">

                    <div class="row" style="margin-top: 10px;"> 
                        <div class="col-md-1">
                            <button type="button" class="btn btn-info" name="upload_picture_btn">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Photo
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="capture_picture_btn">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Capture Online
                            </button>
                        </div>
                        <div class="col-md-10" style="text-align:right;">
                            <h4 class="nomargin" style="color: #636E7B;">Note:The photos where pastes the labels of your company's code, 3~6</h4>
                        </div>
                    </div>

                    <div class="row">

                    {{#each file_lbl}}
                    <div class="col-md-2" style="margin-top: 20px;">
                            
                        <div class="thumbnail" >
                            <div style="position: relative;">

                                <div class="img-rel-block" data-fileid="{{this.file_id}}">

                                    <a class="various" rel="fancybox-thumb-lbl" href="/Sync10/_fileserv/file/{{this.file_id}}">
                                        <img class="img-responsive" style="max-width:99%;max-height:99%;display:inline-block;" src="/Sync10/_fileserv/file/{{this.file_id}}" /><span style="display:inline-block;vertical-align: middle;height: 100%;width: 0;"></span>
                                    </a>

                                    <div style="position: absolute;top:0;right: 2px;">
                                        <button name="deletePicture" type="button" class="btn btn-default btn-sm" style="display: none;" aria-label="Left Align" data-fileid="{{this.file_id}}">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                        </button>
                                    </div>
                                </div>

                                <!--confirm dialog-->
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    
                    </div>

                </div>
                <div class="tab-pane" id="tab_pic_wgt">

                    <div class="row" style="margin-top: 10px;"> 
                        <div class="col-md-1">
                            <button type="button" class="btn btn-info" name="upload_picture_btn">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Photo
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="capture_picture_btn">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Capture Online
                            </button>
                        </div>
                        <div class="col-md-10" style="text-align:right;">
                            <h4 class="nomargin" style="color: #636E7B;">Note:The photos of the weight when put the product on the electronic scale, 3~6</h4>
                        </div>
                    </div>

                    <div class="row">

                    {{#each file_wgt}}
                    <div class="col-md-2" style="margin-top: 20px;">
                            
                        <div class="thumbnail" >
                            <div style="position: relative;">

                                <div class="img-rel-block" data-fileid="{{this.file_id}}">

                                    <a class="various" rel="fancybox-thumb-wgt" href="/Sync10/_fileserv/file/{{this.file_id}}">
                                        <img class="img-responsive" style="max-width:99%;max-height:99%;display:inline-block;" src="/Sync10/_fileserv/file/{{this.file_id}}" /><span style="display:inline-block;vertical-align: middle;height: 100%;width: 0;"></span>
                                    </a>

                                    <div style="position: absolute;top:0;right: 2px;">
                                        <button name="deletePicture" type="button" class="btn btn-default btn-sm" style="display: none;" aria-label="Left Align" data-fileid="{{this.file_id}}">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                        </button>
                                    </div>
                                </div>

                                <!--confirm dialog-->
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>