<style>
/*
.form-group .control-label{
	padding: 0;
}
.col-sm-3 , .col-sm-1{
	padding: 0;
}
.form-control-static{
	padding: 3px;
}
*/
.col-sm-12{
	/*line-height:25px;*/
    padding-bottom: 5px;
	background-color: #E5E5E5;
	border: 1px solid #BBB;
	border-radius: 4px;
	margin-bottom: 25px;
  	margin-top: 25px;
    width: 99%;
    margin-left: 8px;
}
.form-group:first-child{
	margin-top: 15px;
}
.info-text{
    line-height: 9px;
    padding-left: 0;
    padding-bottom: 11px;
}
.info-title{
    /*padding-right: 0;*/
    padding-left: 0;
}
</style>

<div class="col-sm-12 product-info">
    <div class="form-group">
    	<label class="col-sm-1 control-label text-right info-title">Product Name : </label>
    	<div class="col-sm-3 info-text">
    		<p class="form-control-static">{{productInfo.p_name}}</p>
    	</div>
    	<label class="col-sm-1 control-label text-right info-title">Length : </label>
    	<div class="col-sm-1 info-text">
    		<p class="form-control-static ">{{productInfo.length}} {{productInfo.length_uom_name}}</p>
    	</div>
    	<label class="col-sm-1 control-label text-right info-title">Width : </label>
    	<div class="col-sm-1 info-text">
    		<p class="form-control-static ">{{productInfo.width}} {{productInfo.length_uom_name}}</p>
    	</div>
    	<label class="col-sm-1 control-label text-right info-title">Height : </label>
    	<div class="col-sm-1 info-text">
    		<p class="form-control-static ">{{productInfo.heigth}} {{productInfo.length_uom_name}}</p>
    	</div>
    	<label class="col-sm-1 control-label text-right info-title">Volume : </label>
    	<div class="col-sm-1 info-text">
    		<p class="form-control-static ">{{productInfo.volume}}</p>
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-1 control-label text-right info-title">Main Code : </label>
    	<div class="col-sm-3 info-text">
    		<p class="form-control-static ">{{productInfo.main_code}}</p>
    	</div>
    	<label class="col-sm-1 control-label text-right info-title">Category : </label>
    	<div class="col-sm-3 info-text">
    		<p class="form-control-static ">{{productInfo.category_name}}</p>
    	</div>
    	<label class="col-sm-1 control-label text-right info-title">Weight : </label>
    	<div class="col-sm-3 info-text">
    		<p class="form-control-static ">{{productInfo.weight}} {{productInfo.weight_uom_name}}</p>
    	</div>
    </div>
</div>