<div style="width:80%;margin-left:10%;margin-top:22px;">

	<form id="customerTitleForm" method="post">
		<table width="100%" style="margin:5px 5px 5px 5px;" align="center">
			<tr>
				<td align="left" width="24%">
					<select id="title" name="title" style="width:100%;" data-placeholder="Title..."> 
						<option value=""></option>
						{{#each titleList}}
							<option value="{{title_id}}">{{title_name}}</option>
						{{/each}}					
					</select>
				</td>
				<td width="10%" align="right">Customer:</td>
				<td  align="left" width="48%">
					<select id="customer" name="customer" style="width:350px;" multiple="multiple"> 
						{{#each customerList}}
							<option value="{{id}}">{{name}}</option>
						{{/each}}
					</select>			
				</td>				
				<td width="6.4%" align="right" valign="center">
					<div style="position:relative;left:2px;padding-bottom:3px;"> 
						<a id="addButton" href="javascript:void(0)" style="margin-top:6px;"  class="buttons icon add" style="background-image:none;"></a> 
					</div>
				</td>
				
				<td width="7%" align="right" valign="center">
                    <a href="javascript:void(0)" class="buttons cancel" style="display:none;height:25px;width:36px;" title="Cancel"><i class="fa fa-minus-circle" style="font-size:12px;"></i></a>
				</td>
				<td width="18"></td>
			</tr>
		</table>
	</form>

	<div id="customer_title_head" style="margin-top:50px;width:98%;border: 0px solid #BBB;border-top-left-radius:5px;border-top-right-radius:5px;padding: 0px;margin:0 0.9%;;">
		<table width="100%"  cellspacing="0" cellpadding="0" border="0" align="center">
			<tr class="alt" style="background-color: #E5E5E5;" height="40px"> 
		        <th width="15%" style="vertical-align: center;text-align: center;" class="left-title">Title</th>
		        <th width="72%" style="vertical-align: center;text-align: center;" class="left-title">Customer</th>
		        <th class="left-title" style="vertical-align: center;text-align: center;">Operation</th>
		    </tr>
		</table>
	</div>	
					
	<div  class="result" style="width:98%;height:349px;border: 0px solid #BBB;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding: 0px;margin:0 0.9%;overflow-y:scroll;overflow-x:hide;">
	</div>	
	
</div>
	