<td align="center" valign="center" rowspan="{{count}}"> 
    <a title="Edit"  class="buttons icon edit" name="mod" href="javascript:void(0)"  data-titleId="{{title.id}}"></a>
    <a title="Delete"  class="buttons icon remove" name="del" href="javascript:void(0)"   data-titleId="{{title.id}}"></a>					
</td>	