<style type="text/css">
    .rb-grid li{
        cursor: auto;
    }
    .rb-grid > li{
        background: rgba(229, 229, 229, 0);
        color: #000;
        height: auto;
        width: 100%;
        padding: 0;
        padding-top: 10px;
    }
    .rb-grid{
        padding-top: 10px;
    }
    .clptype .NUMBERTYPE{
        width: 130px;
        font-size: 12px;
    }
    .configuration .NUMBERTYPE{
        width: 100px;
        font-size: 12px;
    }
    .fieldsetconte .NUMBER{
        font-size: 12px;
        color: #0066FF;
    }
    .packaging_type{
        text-decoration: underline;
        color: green;
    }
    .product-clptype{
        width: 99%;
        margin-left: 8px;
    }
    .underline{
        text-decoration: underline;
        color: green;
    }
    .underline .NUMBER{
        font-size: 12px;
        color: #0066FF;
    }
    .product-title-shipto{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .rb-product-info{
        overflow-y: auto;
        height: 100%;
    }
    .table-responsive{
        display: inline;
    }
    
</style>
 
<!-- product info -->
<div class="product_info">

</div>
<!-- search & add button -->
<div class="col-sm-12" style="padding-bottom: 15px;margin-top: 0;">
  <div class="form-group">
    <div class="col-sm-2">
      <select class="form-control" id="container_type_id">
        {{#each containers}}
            <option value="{{this.type_id}}">{{this.type_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-sm-2">
      <select class="form-control" id="sku_lp_title_id">
        {{#each titles}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-sm-2">
      <select class="form-control" id="sku_lp_customer_id">
          {{#each customers}}
            <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
      </select>
    </div>
    <div class="col-sm-2">
      <select class="form-control" id="sku_lp_to_ps_id">
        {{#each shipTos}}
            <option value="{{this.ship_to_id}}">{{this.ship_to_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-sm-2">
      <select class="form-control" id="sku_lp_active">
        {{#each actives}}
            <option value="{{this.active}}">{{this.active_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-default" type="button" id="add_clp_type"><i class="icon-plus"></i>&nbsp;&nbsp;Add CLP Type</button>
    </div>
  </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover product-clptype">
        <thead>
            <tr>
                <th style="width:30%;">CLP Type</th>
                <th style="width:30%;">Configuration</th>
                <th style="width:30%;">Title / Ship To</th>
                <th style="width:10%;">Log</th>
            </tr>
        </thead>
        <tbody>
            <!-- Start -->
        {{#if clps}}
            {{#each clps}}
                <tr>
                    <!-- clp type -->
                    <td>
                        <ul class="rb-grid clearfix">
                            <li class="td_TRAILER">
                                <div class="fieldset_itme">
                                    <div class="fieldsetconte clptype">
                                        <ul>
                                            <li class="clearfix">
                                                <span class="NUMBERTYPE">CLP Type : </span>
                                                <span class="NUMBER">{{this.lp_name}}</span>
                                            </li>
                                            <li class="clearfix">
                                                <span class="NUMBERTYPE">Packaging Type : </span>
                                                <a id="packaging_type_{{this.basic_type_id}}" _type_id="{{this.basic_type_id}}" class="packaging_type" href="javascript:void(0);"><span class="NUMBER">{{this.type_name}}</span></a>
                                            </li>
                                            <li class="clearfix">
                                                <span class="NUMBERTYPE">Serialized Product : </span>
                                                <span class="NUMBER">{{this.is_has_sn_en}}</span>
                                            </li>

                                            <li class="clearfix">
                                                <span class="NUMBERTYPE">Weight : </span>
                                                <span class="NUMBER">{{this.total_weight}} {{this.weight_uom_en}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </td>
                    <!-- Configuration -->
                    <td>
                        <ul class="rb-grid clearfix">
                            <li class="td_TRAILER">
                                <div class="fieldset_itme">
                                    <div class="fieldsetconte configuration">
                                        <ul>
                                            {{#xifCond this.inner_pc_or_lp "1" '<'}}
                                                <li class="clearfix">
                                                    <span class="NUMBERTYPE"></span>
                                                    <span class="NUMBER"></span>
                                                </li>
                                            {{/xifCond}}
                                            <li class="clearfix">
                                                <span class="NUMBERTYPE">Stack : </span>
                                                <span class="NUMBER">{{this.stack_length_qty}} * {{this.stack_width_qty}} * {{this.stack_height_qty}}</span>
                                            </li>
                                            <li class="clearfix">
                                                <span class="NUMBERTYPE">Product Qty : </span>
                                                <span class="NUMBER">{{this.inner_total_pc}}</span>
                                            </li>
                                            {{#xifCond this.inner_pc_or_lp "0" '>'}}
                                                <li class="clearfix">
                                                    <span class="NUMBERTYPE">Inner CLP Type : </span>
                                                    <span class="NUMBER">{{{this.inner_clp_html}}}</span>
                                                </li>
                                                <li class="clearfix">
                                                    <span class="NUMBERTYPE">Inner CLP Qty : </span>
                                                    <span class="NUMBER">{{this.inner_total_lp}}</span>
                                                </li>
                                            {{/xifCond}}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </td>
                    <!-- Title / Ship To -->
                    <td>
                        {{#if this.title_customer_ship}}
                            <table class="table table-bordered table-striped table-hover product-title-shipto">
                                <thead>
                                    <tr>
                                        <th style="width:30%;">Title</th>
                                        <th style="width:30%;">Customer</th>
                                        <th style="width:30%;">ShipTo</th>
                                        <th style="width:10%;">Operation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.title_customer_ship}}
                                        {{#xifCond @index '1' '>'}}
                                            <tr name="displayTitleAndShipTo_{{this.sub_lpt_id}}" style="display:none">
                                        {{else}}
                                            <tr>
                                        {{/xifCond}}
                                                <td><a id="_title" href="javascript:void(0);" class="underline"><span class="NUMBER">{{this.title_name}}</span></a></td>
                                                <td><a id="_customer" href="javascript:void(0);" class="underline"><span class="NUMBER">{{this.customer_name}}</span></a></td>
                                                <td><a id="_ship_to" href="javascript:void(0);" class="underline"><span class="NUMBER">{{this.ship_to_name}}</span></a></td>
                                                <td><a id="_configuration" href="javascript:void(0);" class="underline"><span class="NUMBER">Configuration</span></a></td>
                                            </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <div style="float:right;"><span style="text-decoration:underline;cursor:pointer;color:#00F" class="more_or_less" _lpt_id="{{this.lpt_id}}">More...</span></div>
                        {{/if}}
                    </td>
                    <!-- Log -->
                    <td>
                    </td>
                </tr>
                <!-- button group -->
                <tr>
                    <td colspan="4" style=" text-align: right; background-color: white;">
                        <div class="btn-group" role="group" aria-label="...">
                          <button type="button" class="btn btn-default">CLP Lookup</button>
                          <button type="button" class="btn btn-default">Print CLP Label</button>
                          <button type="button" class="btn btn-default">Title/Customer/ShipTo</button>
                          <button type="button" class="btn btn-default">Inactive</button>
                        </div>
                    </td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="3" style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;">No Data.</td>
            </tr>
        {{/if}}
            <!-- End -->

        </tbody>
    </table>
</div>
<div>
    <br />
    <br />
</div>