
<div class="container">

    <div class="row row-dashboard" style="margin-top: 20px;">

    	<ul class="nav nav-tabs" name="product_step_tab">
            <li class="active"><a href="#update_product" data-toggle="tab"><strong>Step 1:</strong> Basic Info</a></li>
            <li><a href="#product_code" data-toggle="tab"><strong>Step 2:</strong> Product Codes</a></li>
            <li><a href="#product_category" data-toggle="tab"><strong>Step 3:</strong> Product Category</a></li>
        </ul>
        
        <div class="tab-content">
	        <div role="tabpanel" class="tab-pane active panel panel-default" id="update_product">
			  <div class="panel-body">

			    	<div class="col-md-2"></div>
			        <div class="col-md-7">
			        	{{#each context}}

			            <form class="form-horizontal" name="update_product_from">
						  
						  <div class="form-group">
						    <label for="p_name" class="col-sm-2 control-label">Product Name</label>

						    <div class="col-sm-7">
						      	<input value="{{../model.p_name}}" type="text" class="form-control input-length" id="p_name" name="p_name" placeholder="PHILIPS32PHF3056/T3">
						      	<div style="display:none">
									<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
									<span class="sr-only">(error)</span>
									<span class="help-block alert-error"></span>
								</div>
						    </div>
						  </div>
  
						  <div class="form-group">
						    <label for="maincode" class="col-sm-2 control-label">Main Code</label>

						    <div class="col-sm-7">
						 		<input value="{{../model.maincode}}" type="text" class="form-control input-length" id="maincode" name="maincode" placeholder="">
						 		<div style="display:none">
									<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
									<span class="sr-only">(error)</span>
									<span class="help-block alert-error">Error the main code has required</span>
								</div>
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="nmfc_code" class="col-sm-2 control-label">NMFC Code</label>
						    <div class="col-sm-7">
						      <input value="{{../model.nmfc_code}}" type="text" class="form-control input-length" id="nmfc_code" name="nmfc_code" placeholder="">
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="freight_class" class="col-sm-2 control-label">Freight Class</label>
						    <div class="col-sm-7">
						      <input value="{{../model.freight_class}}" type="text" class="form-control input-length" id="freight_class" name="freight_class" placeholder="">
						    </div>
						  </div>

						<div class="form-group">
						    <label for="length" class="col-sm-2 control-label">L*W*H</label>

						    <div class="col-sm-7">
						    	
								<div class="row">
							    	<div class="col-sm-3">
							    		<input value="{{../model.length}}" type="text" class="form-control input-length" id="length" name="size" placeholder="731.0">

							    		<div style="display:none">
											<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
											<span class="sr-only">(error)</span>
										</div>
							    	</div>
							    	<div class="col-sm-3">
							    		<input value="{{../model.width}}" type="text" class="form-control input-length" id="width" name="size" placeholder="465.5">

							    		<div style="display:none">
											<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
											<span class="sr-only">(error)</span>
										</div>
							    	</div>
							    	<div class="col-sm-3">
							    		<input value="{{../model.heigth}}" type="text" class="form-control input-length" id="height" name="size" placeholder="169.7">
							    		
							    		<div style="display:none">
											<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
											<span class="sr-only">(error)</span>
										</div>
							    	</div>
							    	<div class="col-sm-3">

							    		<select class="form-control input-length" id="length_uom" name="length_uom">
							    			{{#each this.lengthUom}}
												<option value="{{this.id}}" {{#sif this.id ../../model.length_uom}}selected{{/sif}}>
													{{this.name}}
												</option>
								   			{{/each}}
										</select>
							    	</div>
						    	</div>

						    	<span class="help-block alert-error" style="color:#a94442; display:none;">Error the main code has required</span>
						    </div>
						</div>

						<div class="form-group">
						    <label for="weight" class="col-sm-2 control-label">Weight</label>
						    
						    <div class="col-sm-7">

						    	<div class="row">

							    	<div class="col-sm-9">
										<input value="{{../model.weight}}" type="text" class="form-control input-length" id="weight" name="weight" placeholder="5.1">
										
										<div style="display:none">
											<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
											<span class="sr-only">(error)</span>
											<span class="help-block alert-error">Error the weight has required</span>
										</div>
									</div>
								    <div class="col-sm-3">
								   		<select class="form-control input-length" id="weight_uom" name="weight_uom">
								   			{{#each this.weightUom}}
											<option value="{{this.id}}" {{#sif this.id ../../model.weight_uom}}selected{{/sif}}>
												{{this.name}}
											</option>
								   			{{/each}}
										</select>
								    </div>
						    	</div>
						    </div>
						</div>

						<div class="form-group">
						    <label for="price" class="col-sm-2 control-label">Price</label>

						    <div class="col-sm-7">

						    	<div class="row">

							    	<div class="col-sm-9">
								 		<div class="input-group">
								      		<div class="input-group-addon">$</div>
								      		<input value="{{../model.price}}" type="text" class="form-control input-length" id="price" name="price" placeholder="1399.00">
								      	</div>
								      	<div style="display:none">
											<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
											<span class="sr-only">(error)</span>
											<span class="help-block alert-error">Error the price has required</span>
										</div>
								    </div>
								    <div class="col-sm-3">
								      	<select class="form-control input-length" id="price_uom" name="price_uom">
											{{#each this.priceUom}}
											<option value="{{this.id}}" {{#sif this.id ../../model.price_uom}}selected{{/sif}}>
												{{this.name}}
											</option>
								   			{{/each}}
										</select>
								    </div>
						    	</div>
						    </div>
						</div>

						<div class="form-group" style="margin-bottom: 7px !important;">
						    <label for="sn_size" class="col-sm-2 control-label">SN Length</label>
						    <div class="col-sm-7">
						      	<div class="row">

							    	<div class="col-sm-4" style="margin-bottom: 10px;">
							    		<div class="input-group">
									   	  <input value="" type="text" class="form-control input-length" name="sn_size" placeholder="">
									      <span class="input-group-btn">
									        <button class="btn btn-default input-length" name="del_sn_size" type="button">
									        	<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
									        </button>
									      </span>
									    </div>
							    	</div>

							    	<div class="col-sm-4" style="margin-bottom: 10px;">
							    		<button class="btn btn-default btn-sm" type="button" id="add_sn_size" name="add_sn_size" style="margin-top: 8px;">
								        	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								        </button>
							    	</div>

							    	<div style="display:none" id="sn_size_templates">
							    		<div class="col-sm-4" style="margin-bottom: 10px;">
								    		<div class="input-group">
										   	  <input value="" type="text" class="form-control input-length" name="sn_size" placeholder="">
										      <span class="input-group-btn">
										        <button class="btn btn-default input-length" name="del_sn_size"  type="button">
										        	<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
										        </button>
										      </span>
										    </div>
								    	</div>
							    	</div>		    	
						    	</div>
						    </div>
						</div>

						<div class="form-group">
						    <label for="description" class="col-sm-2 control-label">Description</label>
						    <div class="col-sm-7">
						      <textarea class="form-control" rows="3" id="description" name="description">{{../model.description}}</textarea>
						    </div>
						</div>

						<div class="form-group">
							<div class="col-sm-2"></div>
						    <div class="col-sm-1">
						      <button type="button" class="btn btn-primary" name="submit" > Submit </button>
						    </div>
						    <div class="col-sm-1">
						      <button type="button" class="btn btn-default" name="cancel" > Cancel </button>
						    </div>
						</div>
						</form>
						{{/each}}
			        </div>

			        <div class="col-md-3">
			    	</div>
			  </div>
			  <div class="panel-footer">Panel footer</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="product_code"></div>

			<div role="tabpanel" class="tab-pane" id="product_category">
			</div>
		</div>
    </div>
</div>