<div data-example-id="bordered-table">

    <table class="table table-bordered table-striped table-hover product-list">
        <thead>
            <tr>
                <th style="width:15%;">Picture</th>
                <th style="width:25%;">Product</th>
                <th style="width:25%;">Title / Customer</th>
                <th style="width:35%;">CLP Type</th>
            </tr>
        </thead>
        <tbody>
            {{#each product}}
            <tr style="height: 200px;" data-id="{{this.pc_id}}">
            
                <td class="grid_items" id="a_{{this.pc_id}}">
                    <ul name="product_picture">
                        <li>

                            <div class="ch-item ch-img-1" 
                            {{#if this.cover}} 
                                style="background-image: url(/Sync10/_fileserv/file/{{this.cover}});"
                            {{/if}}>
                            
                                <div class="ch-info">
                                    <!--查询结构-->
                                    {{#each this.filecnt}}
                                    <p>{{this.name}}:{{this.cnt}}</p>
                                    {{/each}}
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="rb-overlay" style="z-index: 10;">
                        <span class="rb-close">close</span>
                        <div class="rb-title"></div> 
                        <div style="overflow: auto;" class="rb-product-info rb-week" id="product_picture_{{this.pc_id}}">

                            <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!商品图片-->
                        </div>
                    </div>
                </td>
                <td class="grid_items" id="b_{{this.pc_id}}">
                    <ul name="product_update">
                        <li class="td_TRAILER" >
                            <fieldset class="TRAILER">
                                <legend class="td_legend">
                                    <span class="E_DLO_ID">{{this.maincode}}</span>
                                </legend>
                                <div class="fieldset_itme">
                                    <div class="fieldsetconte">
                                        <ul>
                                            <li>
                                                <span class="NUMBERTYPE">PName : </span>
                                                <span class="NUMBER">{{this.p_name}}</span>
                                            </li>
                                            <li>
                                                <span class="NUMBERTYPE">Dimension : </span>
                                                <span class="NUMBER">{{this.length}} * {{this.width}} * {{this.heigth}} ({{this.length_uom_name}})</span>
                                            </li>
                                            <li>
                                                <span class="NUMBERTYPE">Weight : </span>
                                                <span class="NUMBER">{{this.weight}} ({{this.weight_uom_name}})</span>
                                            </li>
       
                                            <li>
                                                <span class="NUMBERTYPE">Category : </span>
                                                <span class="NUMBER">{{this.category_name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </fieldset>
                        </li>
                    </ul>

                    <div class="rb-overlay">
                        <span class="rb-close">close</span>
                        <div class="rb-title"></div>
                        <div class="rb-product-info rb-week" id="product_update_{{this.pc_id}}">
                              <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!更新商品-->
                        </div>
                    </div>
                </td>
                <td class="grid_items" id="c_{{this.pc_id}}">
                    <ul name="product_title">
                        <li class="td_TRACTOR">
                            {{#if this.ptc}}
                            <fieldset class="">
                                <legend>
                                    <span class="Sub_trailer" data-toggle="popover" data-trigger="click" title="Title" 
                                        data-placement="bottom"
                                        data-container="body"
                                        data-content="{{#each this.title}} {{this.title_name}} {{/each}}">

                                        Title / Customer
                                    </span>
                                </legend>
                                
                                {{#each this.ptc}}
                                <div class="Tractor_ulitme row">
                                    
                                    <div class="col-md-5" style="text-align: right;">
                                        {{this.title_name}}
                                    </div>
                                    <div class="col-md-7">
                                        {{#each this.customer}}
                                            {{this.customer_name}}<br>
                                        {{/each}}
                                    </div>
                                    
                                </div>
                                {{/each}}
                            </fieldset>
                            {{/if}}
                        </li>
                    </ul>

                    <div class="rb-overlay">
                        <div class="rb-title"></div>
                        <span class="rb-close">close</span>
                        <div class="rb-product-info rb-week" id="product_title_{{this.pc_id}}">
                            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!更新customer / title -->
                        </div>
                    </div>
                </td>
                <td class="grid_items" id="d_{{this.pc_id}}">
                    <ul name="product_clptype">
                        <li class="td_TRAILER">

                            {{#each this.clptype}}
                            <fieldset class="TRAILER">
                                <legend class="td_legend"><span class="E_DLO_ID">{{this.lp_name}}</span></legend>
                                <div class="fieldset_itme">
                                    <div class="fieldsetconte">
                                        <ul>
                                            <li><span class="NUMBERTYPE">Inner Type: </span><span class="NUMBER">Product</span></li>
                                            <li>
                                                <span class="NUMBERTYPE">Product Qty: </span>
                                                <span class="NUMBER">{{this.inner_total_pc}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fieldset_itme">
                                        <fieldset>
                                            <legend class="itme_legend" align="left">
                                                <span class="DOOR">Customer / Title / Shipto</span>
                                            </legend>
                                            <div class="fieldsetconte">
                                                {{#each this.tcs}}
                                                <div class="field_customer_title_shipto">
                                                    <span>{{this.customer_name}}</span>
                                                    <span>{{this.title_name}}</span>
                                                    <span>{{this.ship_to_name}}</span>
                                                </div>
                                                {{/each}}
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                            {{/each}}
                        </li>
                    </ul>

                    <div class="rb-overlay">
                        <span class="rb-close">close</span>
                        <div class="rb-title"></div>
                        <div class="rb-product-info rb-week" id="product_clptype_{{this.pc_id}}">
                            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! clp type -->
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
    <ul id="pagination" class="pagebox">
    </ul>
</div>