.text-green{color: #00BB00;}
.text-bule{color: blue;}
.text-red{color: #EA0000;}
.fieldset-ul{margin-top: 10px; width: 97%;margin-left: auto;margin-right: auto;margin-bottom: 5px;padding-left: 3px}
.morelink{float: right;margin-right: 10px;}

#global
{
	min-width: 1000px;
}
#global .box1px
{
   border-bottom: 1px dashed #ccc;
   line-height: 0px;
   margin: 8px 0px
}
.legendTitle
{
	margin-left: 5px;
	margin-right: 5px;
}
#data .border-green
{
  border: 2px solid #00CC99;
}

#data .longvaluestyle{
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 160px;
  overflow: hidden;
}

/** logs **/
.test .art-dialog-content
{
	width: 600px;
	max-height: 400px;
	overflow-y:auto; 
}

/**  appointment **/
.required:after
{
    position: absolute;
    content: ' *';
    top:5px;
    color: #FF0000;
    right: 5px;
    font-size: 16px;
} 

#data .appointment
{
  min-width: 300px;
  border: 2px solid blue;
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#data .appointment .namestyle{
	width: 110px;
}

/**  appointment **/


#data .td_addressInfo .Tractor_ulitme{
	min-width: 310px;
}
#data .bolInfos .Tractor_ulitme{
	min-width: 240px;
}