/**     fieldset  css        **/
.rootfieldset {
	width: 100%;
	display: block;
	margin: 0px 0px;
	padding: 0px 0px;
	border-style: solid;
	position: relative;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	width: auto;
}
.rootfieldset .root_title {
	position: absolute;
	top: -12px;
	width: 100%;
}
.rootfieldset .root_title_right {
	position: absolute;
	right: 5px;
}
.root_title_left, .root_title_right, .root_title_middle {
	background: #fff;
	display: inline-block;
}
/**     fieldset  css        **/

#global{min-width: 970px;}
#data legend{font-size: 12px;}
#data  a{cursor: pointer;}
#data .lightlink{	margin-left: 5px;color: #F60;text-decoration: underline;cursor: pointer;}
#data .logvaluestyle
{
	text-decoration: inherit;
	margin-left: 5px;
	color: #F60;
}

#data fieldset
{
	min-width: 150px;
	border: 2px solid blue;
	line-height: 18px;
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 2px;
	width: 99%;
	word-break: break-all;
}

#data {border-top: 1px solid #cfcfcf;}
.main .create{float: right;margin-right: 20px}

#data ul li{margin-left: 15px}

#data span.status{margin-right: 5px;margin-left: 10px;}


/**  gloab  **/
#data .namestyle
{
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	text-align: right;
	margin-right: 5px;
}

#data .rightstyle{float:right;}
/**  gloab  **/

/** logs **/
#data .Log_container
{
	min-width: 170px;
}
.Log_container li
{
	width: 98%;
	min-width: 170px;
	display: inline-block;
}
.opreationName
{
	padding-right: 10px;
}

.spanToA
{
	text-decoration: underline !important;
	cursor: pointer;
}
.opreationTime
{
	color:  #AAAAAA;
}


