

#appointmentLimitTable {
	border: solid black 0px;
}

.appointmentLimitTime{

	text-align: center;
}
.appointmentLimitTr {
	margin: 0;
	padding: 0;

}
.appointmentLimitTr .outBound {
	

}

.appointmentLimitTr.odd ,.appointmentLimitTr.odd input{

}

.even, .appointmentLimitTr.even input{
	background-color: #f2f2f2;
}

.appointmentLimitTd {
	border-right: solid black 0px;
	border-left: solid black 0px;
	vertical-align: middle;
	text-align: right;
	padding: 0px 10px ;
}

.appointmentLimitTd span{
	padding: 0 2px;
}

.appointmentLimitLabel{
	height:20px;
	font-size: 10px;
}
/*	设置预约车辆最大吞吐量表单样式	*/
.appointmentLimitInput{
	height:20px;
	width: 30px;
	text-align: right;
}
.createTitle {
	background-color: #fff;
	line-height: 50px;
	width: 100%;
	top: 0;
	padding-left: 30px;
}
.min-50 {
	min-width: 50px;
	width: 50px;
}