<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="zebraTable" style="margin:0px;border-spacing:2px;"> 
    <tr> 
        <th class="left-title" style="text-align: center;">TemplateName</th>
        <th class="right-title" style="vertical-align: center;text-align: center;">PrinterName</th>
        <th align="left"  class="right-title" style="vertical-align: center;text-align: center;">PaperType</th>
        <th align="center"  class="right-title" style="vertical-align: center;text-align: center;">Width</th>
        <th  class="right-title" style="vertical-align: center;text-align: center;">Height</th>
        
        <th width="165"  class="right-title" style="vertical-align: center;text-align: center;">Operation</th>
    </tr> 
  {{#each lables}}  
    <tr class="addLable" data-lableid="{{this.lable_id}}" data-name="{{this.lable_name}}" data-lable="{{this.lable_content}}" data-type="{{this.type}}" data-labletype="{{this.lable_type}}" data-temptype="{{this.lable_template_type}}" data-print="{{this.print_name}}" data-width="{{this.lable_width}}" data-height="{{this.lable_height}}">
      <td align="center" valign="middle"  style='word-break:break-all;padding-top:10px;padding-bottom:10px;' >{{this.lable_name}}</td>
      <td align="center" valign="middle" style='word-break:break-all;' >{{this.print_name}}</td>
      <td align="center" valign="middle" style="line-height:20px;">{{this.lable_type}}</td>
      <td align="center" valign="middle">{{this.lable_width}}</td>
      <td align="center" valign="middle">{{this.lable_height}}</td>

      <td align="center" valign="middle" nowrap="nowrap">
        <input name="showTemp" type="button" class="short-button" data-height="{{this.lable_height}}" data-width="{{this.lable_width}}" lablename="{{this.lable_name}}" lableContent="{{this.lable_content}}" value="Preview" />
 
      </td>
    </tr>
    {{/each}}
  </table>

  <table width="100%" align="center" cellspacing="0" cellpadding="3" border="0">
     <tr>
        <td colspan="6" class="turn-page-table" valign="middle" height="28" align="right" style="font-family: Verdana,Geneva,sans-serif;
    font-size: 8pt;"> 
            Page: {{pageCtrl.pageNo}}/{{pageCtrl.pageCount}}&nbsp;&nbsp;
            Total：{{pageCtrl.allCount}}&nbsp;&nbsp; 
            
            {{#if pageCtrl.first}} <a class="gop" data-pageno="1" >First</a>&nbsp;&nbsp;{{/if}}
            {{#unless pageCtrl.first}} <font color="#AAAAAA">First</font>{{/unless}}

            {{#if pageCtrl.fornt}} <a class="gop" data-pageplus="-1">Previous</a>&nbsp;&nbsp;{{/if}}
            {{#unless pageCtrl.fornt}} <font color="#AAAAAA">Previous</font>{{/unless}}

            {{#if pageCtrl.next}} <a class="gop" data-pageplus="1">Next</a>&nbsp;&nbsp; {{/if}}
            {{#unless pageCtrl.next}} <font color="#AAAAAA">Next</font>{{/unless}}

            {{#if pageCtrl.last}} <a class="gop" data-pageno="{{pageCtrl.pageCount}}">Last</a>{{/if}}
            {{#unless pageCtrl.last}} <font color="#AAAAAA">Last</font>{{/unless}}

            Goto<input id="jump_p2" type="text" value="1" style="width:28px;" name="jump_p2">
            <button class="gop" data-pageto="1" >GO</button>
        </td>
    </tr>  
</table>
