<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" >
      <div class="right-title clearfix" style="height:auto; border-left-width:1px;">
      <div class="col-md-7">
        <input class="form-control" placeholder="Template Name" name="input_lableName" type="text" id="input_lableName" size="20" value="{{input_lableName}}"/> 
        </div>
        <div class="col-md-5">
        <button id="search" data-submit="1" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>Search</button>
        </div>
      </div>
    </td>
  </tr>
</table>


<div style="height:300px; overflow-y:auto; margin-top: 5px;">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="zebraTable">
  <thead>
    <tr> 
        <th class="left-title" style="text-align: center;">TemplateName</th>
        <th class="right-title" style="vertical-align: center;text-align: center;">PrinterName</th>
        <th align="left"  class="right-title" style="vertical-align: center;text-align: center;">PaperType</th>
        <th align="center"  class="right-title" style="vertical-align: center;text-align: center;">Title</th>
        <th width="165"  class="right-title" style="vertical-align: center;text-align: center;">Operation</th>
    </tr>
  </thead>
  <tbody> 
  {{#each detailLabels}}
    <tr>
      <td align="center" valign="middle"  style='word-break:break-all;padding-top:10px;padding-bottom:10px;' >{{this.lable_name}}</td>
      <td align="center" valign="middle" style='word-break:break-all;' >{{this.print_name}}</td>
      <td align="center" valign="middle" style="line-height:20px;">{{this.lable_type}}</td>
      <td align="center" valign="middle">{{this.title_name}}</td>
      <td align="center" valign="middle" s>
        <input class="short-short-button-del" data-templateid="{{this.detail_lable_id}}" data-title={{this.title_id}} data-lablename="{{this.lable_name}}" name="del" type="button" value="Del" />
      </td>
    </tr>
    {{/each}}
    {{#unless detailLabels}}
		<tr>
			<td style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;" colspan="5">NO Data</td>
		</tr>
	{{/unless}}
    </tbody>
  </table>
  </div>

