{{#each datas}}
<div class="search_model_04">
	<input name="{{this.key}}{{this.id}}se" type="checkbox"  value="{{this.id}}" title="{{this.name}}" />
	<a href="javascript:void(0)" class="multiple_condition-01" zhi="{{this.id}}" key="{{this.key}}" title="{{this.name}}" >{{this.name}}</a>
</div>
{{/each}}
<div class="multiple_condition-02" align="center">
	<input type="button" value="确定" class="short-short-button-ok" id="multiple_ok_button" name="{{this.key}}"/>
	<input type="button" value="取消" class="short-short-button-del" id="multiple_cancel_button"  name="{{this.key}}" />
</div>
