<div class="search_result_body">
<table align="center" cellpadding="3" cellspacing="0" class="table table-striped table-bordered ">
<thead>
	<tr> 
		<th width="20%">Product Info</th>
		<th width="20%">Title</th>
		<th width="30%">Product Template</th>
		<th width="30%">Container Template</th>
    	<th width="10%">&nbsp;Operation</th>
	</tr>
	</thead>
<tbody class="mytbody">	
     {{#each products}}
	  <tr>
		<td align="center" valign="middle" style='word-break:break-all'>
			{{!--<fieldset style="border:2px green solid;width:90%;position: relative;padding:7px;margin-top:10px;margin-bottom:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius: 5px;word-break:break-all;">
			--}}
			<fieldset style="border:2px solid blue;width:90%;padding:7px;margin-top: 0px;position: relative;border-radius: 5px;">
				<legend style="font-size:15px;font-weight:bold;padding:0 5px;border:medium none;width: auto;margin-bottom:0;" > 
					{{this.pc_name}}	
				</legend>	
				<span style="font-size: 12px">Main Code:</span>
				<span style="font-size: 12px; font-weight:bold;">
					<span style="font-size: 12px;font-weight:bold;">{{this.p_code}}</span>
				</span><br>
				<span style="font-size: 12px">Dimension:</span>
				<span style="font-size: 12px; font-weight:bold;">
					<span style="font-size: 12px;font-weight:bold;">{{this.dimension}}</span>
				</span>
				<div style="font-size: 12px;">Product Category:</div>
				<div style="padding-left: 15px;font-size: 12px">
					<span  style="font-size: 12px;font-weight:bold;">
						{{{this.catalog_text}}}
					</span>
				</div>	  								
			</fieldset>	
		</td>
		<td align="center" valign="middle" style='word-break:break-all'>			
			<fieldset style="border:2px red solid;padding:7px;width:90%;word-break:break-all;margin-top:0px;margin-bottom:15px;font-weight:bold;border-radius: 5px;">
				<legend style="font-size:15px;color:green;padding-top:0 5px;font-weight:bold; border:medium none;width: auto;">Title
					{{!--<span>
						<a href="javascript:void(0)" style="color:green;text-decoration:none">
							
						</a>--}}
					</span>
				</legend>
				{{#each this.title_list}}
					<span>【{{this.title_name}}】
					{{!--
					{{#xifCond @index 0 '='}}
						【{{this.title_name}}】
					{{/xifCond}}
					{{#xifCond @index 0 '!='}}
						【{{this.title_name}}】&nbsp;
					{{/xifCond}}
					--}}
					</span>	
				{{/each}}					
	   		</fieldset>
		</td>
		<td align="center" valign="middle" style='word-break:break-all'>
		{{#each this.product_lable}}
		<div class="clearfix" style="margin:5px 0;">
			<div style="width:200px; float:left; height:30px;">
				<a href="javascript:void(0)" class="search_model_05" style="color:#BE6307;text-decoration: underline;" data-lable="{{this.lable_content}}"  data-width="{{this.lable_width}}" data-height="{{this.lable_height}}" name="showlable"> {{this.lable_name}}</a>
			</div>
			<div class="btn-group" role="group btn-group-sm" aria-label="...">
				<button type="button"  name="edit" class="btn btn-default btn-sm" data-pcid="{{../pc_id}}" data-templateid="{{this.detail_lable_id}}" data-name="{{this.lable_name}}" data-lable="{{this.lable_content}}" data-type="{{this.type}}" data-labletype="{{this.lable_type}}" data-temptype="{{this.lable_template_type}}" data-print="{{this.print_name}}" data-width="{{this.lable_width}}" data-height="{{this.lable_height}}">
  					<span class="glyphicon glyphicon-pencil"></span> Edit
				</button>
				<button type="button" class="btn btn-default btn-sm" data-relationid="{{this.relation_id}}" data-templateid="{{this.detail_lable_id}}" data-pcname="{{../pc_name}}" data-lablename="{{this.lable_name}}" name="del">
  					<span class="glyphicon glyphicon-remove"></span> Del
				</button>
			</div>
		</div>
		{{/each}}	
            </td>
            <td align="center" valign="middle" style='word-break:break-all'>
			{{#each this.contaioner_lable}}
			<div class="clearfix" style="margin:5px 0;">
				<div style="width:200px; float:left; height:30px;">
					<a href="javascript:void(0)" class="search_model_05" style="color:#BE6307;text-decoration: underline;" data-lable="{{this.lable_content}}"  data-width="{{this.lable_width}}" data-height="{{this.lable_height}}" name="showlable"> {{this.lable_name}}</a>
				</div>
				<div class="btn-group" role="group btn-group-sm" aria-label="...">
					<button type="button" class="btn btn-default btn-sm" data-pcid="{{../pc_id}}" data-templateid="{{this.detail_lable_id}}" data-name="{{this.lable_name}}" data-lable="{{this.lable_content}}" data-type="{{this.type}}" data-labletype="{{this.lable_type}}" data-temptype="{{this.lable_template_type}}" data-print="{{this.print_name}}" data-width="{{this.lable_width}}" data-height="{{this.lable_height}}" name="edit">
  						<span class="glyphicon glyphicon-pencil"></span> Edit
					</button>
					<button type="button" class="btn btn-default btn-sm" data-relationid="{{this.relation_id}}" data-pcname="{{../pc_name}}" data-templateid="{{this.detail_lable_id}}" data-lablename="{{this.lable_name}}" name="del">
  						<span class="glyphicon glyphicon-remove"></span> Del
					</button>
				</div>
			</div>
			{{/each}}
            </td>
            
            <td align="center">
            	<button type="button" id="addSingleTemp" class="btn btn-default btn-sm" data-pcid="{{this.pc_id}}">
  					<span class="glyphicon glyphicon-plus"></span> Add Template
				</button>
            </td>
    		</tr>
      {{/each}}

      {{#unless products}}
		<tr>
			<td style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;" colspan="6">NO Data</td>
		</tr>
	{{/unless}}
	  </tbody>
</table>

<table width="100%" align="center" cellspacing="0" cellpadding="3" border="0">
     <tr>
        <td colspan="6" class="turn-page-table" valign="middle" height="28" align="right" style="font-family: Verdana,Geneva,sans-serif;
    font-size: 8pt;"> 
            Page: {{pageCtrl.pageNo}}/{{pageCtrl.pageCount}}&nbsp;&nbsp;
            Total: {{pageCtrl.allCount}}&nbsp;&nbsp; 
            
            {{#if pageCtrl.first}} <a class="gop" style="cursor:pointer"data-pageno="1" >First</a>&nbsp;&nbsp;{{/if}}
            {{#unless pageCtrl.first}} <font color="#AAAAAA">First</font>{{/unless}}

            {{#if pageCtrl.fornt}} <a class="gop" style="cursor:pointer"data-pageplus="-1">Previous</a>&nbsp;&nbsp;{{/if}}
            {{#unless pageCtrl.fornt}} <font color="#AAAAAA">Previous</font>{{/unless}}

            {{#if pageCtrl.next}} <a class="gop" style="cursor:pointer" data-pageplus="1">Next</a>&nbsp;&nbsp; {{/if}}
            {{#unless pageCtrl.next}} <font color="#AAAAAA">Next</font>{{/unless}}

            {{#if pageCtrl.last}} <a class="gop" style="cursor:pointer" data-pageno="{{pageCtrl.pageCount}}">Last</a>{{/if}}
            {{#unless pageCtrl.last}} <font color="#AAAAAA">Last</font>{{/unless}}

            Goto<input id="jump_p2" type="text" value="{{pageCtrl.pageNo}}" style="width:28px;" name="jump_p2">
            <button class="gop" data-pageto="1" >GO</button>
        </td>
    </tr>  
</table>
</div>
