 <!-- 名字搜索 -->
<div id="easy_search_father">
	<div id="easy_search" style="margin-top:-2px;">
		<img id="eso_search" src="img/easy_search_2.png" width="70" height="50" border="0"/>
	</div>
</div>
<table width="400" border="0" cellspacing="0" cellpadding="0">
    <tr>
	<td width="418">
		<div  class="search_shadow_bg">
			<input name="seachInput" id="seachInput" value=""  type="text"  class="search_input ui-autocomplete-input" style="font-size:14px;font-family:Arial;color:#333333;width:400px;height:30px;font-weight:bold;"/>
		</div>
	</td> 
    </tr>
</table>	