<div class="btn-group" role="group btn-group-sm" aria-label="...">
<button id="add_button" class="btn btn-default btn-sm" type="button">
	<i class="glyphicon glyphicon-plus"></i> Batch Add
</button>

<button type="button" class="btn btn-default btn-sm" id="delete_button">
  <span class="glyphicon glyphicon-remove"></span> Batch Del
</button>
</div>