<div class="photo_basic_layout">
	<div class="photo_basic_layout_select">
		<span style="font-weight:bold;">Select The Picture&nbsp;&nbsp;&nbsp; </span><input id="_upload_photo" name="_upload_photo" type="file" accept="image/*" value="1"/>
	</div>
	<div class="photo_basic_layout_header">
		<span>
			Preview The Picture
		</span>	    		
		<label>
			<form id="crop_image_coordinate">

				<input type="hidden" id="x" name="x" />
				<input type="hidden" id="y" name="y" />
				<input type="hidden" id="w" name="w" />
				<input type="hidden" id="h" name="h" />
				<input type="hidden" id="bigImage" name="bigImage" value=""/>

				<input type="button" id="crop_image" class="normal" value="Upload">

			</form>
		</label>
	</div>
	<div class="photo_basic_layout_context" id="showDiv">
		<input type="hidden" id="jcrop_has_img_flag" value="0"/>
		<img src="img/upload_image_t.gif" id="jcrop_target">
		
	</div>
</div>
{{!--
<div class="photo_basic_layout_edge">

	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>
		<span>
			The Image Has Been Uploaded
		</span>	    		
		<label>
		</label>
	</div>
	<div>&nbsp;</div>
</div>
--}}