<form id="addForm">
   <input type="hidden" name="Method" value="Add"/>
   		<div class="input-group" style="margin-bottom: 10px;width: 300px;">
   			<span class="input-group-addon">Server&nbsp;Name:</span>
   			<input class="form-control" name="printer_server_name" id="printer_server_name" type="text">
   		</div>
   		<div class="input-group" style="margin-bottom: 10px;width: 300px;">
   			<span class="input-group-addon" style="width:38%;">Storage:</span>
   			<select id="storage" style="height:34px;">
				{{#each allStorageKml}}	
					<option value="{{ps_id}}" >{{title}}</option>
				{{/each}}
            	 
			</select>
   		</div>
   		<div class="input-group" style="width: 300px;">
   			<span class="input-group-addon" style="width:38%;">Zone：</span>
   			<input type="text"
				class="form-control" name="zone" id="add_printer_server_zone"
				value="" onclick="addPrinter_server_selectZone()" onfocus="addPrinter_server_selectZone()" readonly="readonly" style="background-color: white;cursor: pointer;"/>
			<input type="hidden"
				style="width: 100%;" name="area_id" id="add_printer_server_area_id"
				value=""/>
   		</div>
  	 	 
</form>