<div style="width:300px;">
	<form id="add_asset">
	  <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
		  <tr> 
		    <td colspan="2" align="center" valign="top">
				  <fieldset style="border:2px #cccccc solid;padding:15px;margin:0px 10px 0px 10px;width:90%;">
							<div class="input-group" style="margin-bottom: 10px;">
										<span class="input-group-addon" style="width:52%;">Name：</span>
										<input type="text" class="form-control" name="assetName" id="assetName" onblur="verifyName(this);"/>
										<span class="glyphicon form-control-feedback"  style="top:0;"></span>
									</div>
									
					   	    
									<div class="input-group" style="margin-bottom: 10px;">
										<span class="input-group-addon" style="width:52%;">License plate：</span>
										<input type="text" class="form-control" name="gate_liscense_plate" />
										<span class="glyphicon form-control-feedback"  style="top:0;"></span> 
									</div>
								
						   	    	<div class="input-group" style="margin-bottom: 10px;">
						   	    		<span class="input-group-addon" style="width:52%;">GPS num：</span>
						   	    		<input type="text" class="form-control" name="gps_tracker" id="gps_tracker" />
						   	    		<span class="glyphicon form-control-feedback"  style="top:0;"></span>
						   	    	</div>
					   	    	
							  		<div class="input-group" style="margin-bottom: 10px;">
							  			<span class="input-group-addon" style="width:52%;">Phone num：</span>
							  			 <input type="text" class="form-control"  name="callnum" id="callnum" />
							  			 <span class="glyphicon form-control-feedback"  style="top:0;"></span>
							  		</div>
						  		
						    	<div class="input-group" style="margin-bottom: 10px;">
						    		<span class="input-group-addon">Group： </span>
						    		<select id="group" name="groupId" style="width:100%;font-size:12px;height:34px;">
										<option value="-1"></option>
										{{#each groupData}}
											<option value="{{id}}">{{name}}</option>
										{{/each}}
											<option value="0" style="color: silver">New group</option>
									</select>
									<span class="glyphicon form-control-feedback"  style="top:0;"></span>
						    	</div>
						    	<div id="newGroup_td" class="input-group" style="margin-bottom: 10px;">

						    	</div>
						   		<input type="hidden" name="groupName" id="groupName"/>
						   		<input type="hidden" name="flag" id="flag"/>
					  </fieldset>
	           </td>
	        </tr>
	   </table>
	</form>
</div>