
		<input type="hidden" id ="storage_id" name="ps_id" value="{{ps_id}}">
		<input type="hidden" name="storage_name" id ="storage_name" value="{{storageName}}"> 
		<div class="layerTypeRadio" style="width: 98%;height: 33px;border: 1px solid #ccc;border-radius: 5px;margin-bottom: 5px;">
			 <div style="width:20%;float:left;margin-top:4px;"><input type="radio"  name="child_type" value="1" onclick="typeChange(1)" >Location</div>
			 <div style="width:20%;float:left;margin-top:4px;"><input type="radio"  name="child_type" value="2" onclick="typeChange(2)">Staging</div>
			 <div style="width:20%;float:left;margin-top:4px;"><input type="radio"  name="child_type" value="3" onclick="typeChange(3)">Dock</div>
			 <div style="width:20%;float:left;margin-top:4px;"><input type="radio"  name="child_type" value="4" onclick="typeChange(4)" >Parking</div>
		</div>
		<!--{{#unless isExistArea}}
			<div class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
				<span class="input-group-addon" style="width: 38%;">Area name：</span>
				<input type="text" class="form-control" name="name" id="name" value="" onchange="this.value=this.value.trim();verifyName_(this,'{{ps_id}}','5','','add')" />
				<span class="glyphicon form-control-feedback" style="top:0;"></span>
			</div>
		{{/unless}}-->
		<div class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">X Position：</span>
			<input type="text" class="form-control"  name="x" id="x" value="{{dbrow.x}}"  onchange="this.value=this.value.trim();verifyNumber(this,'verifyX')" readonly="readonly"/>
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Y Position：</span>
			<input type="text" class="form-control" name="y" id="y" value="{{dbrow.y}}"  onchange="this.value=this.value.trim();verifyNumber(this,'verifyY')" readonly="readonly"/>
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">X length：</span>
			<input type="text" class="form-control" name="height" id="height" value="{{dbrow.height}}"  onchange="this.value=this.value.trim();verifyNumber(this,'verifyHeight')" readonly="readonly"/>
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Y length：</span>
			<input type="text" class="form-control" name="width" id="width" value="{{dbrow.width}}"  onchange="this.value=this.value.trim();verifyNumber(this,'verifyWidth')" readonly="readonly"/>
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Offset angle：</span>
			<input type="text" class="form-control" name="angle" id="angle" value="{{dbrow.angle}}"  onchange="this.value=this.value.trim();verifyNumber(this,'verifyAngle')" readonly="readonly"/>
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div id="_zone" class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
				<span class="input-group-addon" style="width: 38%;">Zone：</span>
				<input type="text" class="form-control"  name="zone" id="zone" value="{{dbrow.obj_name}}" onclick="selectAreaSingle('modify_storage_layer')" onfocus="selectAreaSingle('modify_storage_layer')"
				 readonly="readonly" style="background-color: white;cursor: pointer;"/>
				<span class="glyphicon form-control-feedback"></span>
				<input type="hidden" style="width: 80%;" name="area_id" id="area_id" value="{{dbrow.obj_id}}"/>
			</div>
		<!--{{#if isExistArea}}
			<div id="_zone" class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
				<span class="input-group-addon" style="width: 38%;">Zone：</span>
				<input type="text" class="form-control"  name="zone" id="zone" value="{{dbrow.obj_name}}" onclick="selectAreaSingle('modify_storage_layer')" onfocus="selectAreaSingle('modify_storage_layer')"
				/>
				<span class="glyphicon form-control-feedback"></span>
				<input type="hidden" style="width: 80%;" name="area_id" id="area_id" value="{{dbrow.obj_id}}"/>
			</div>
		{{/if}}-->
		<div id="_dimensional" class="input-group form-group has-feedback" style="display:none;margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Dimensional：</span>
			<select class="gis_main_select" name="is_three_dimensional" style="width: 200px;">
				<option value="0">2D</option>
				<option value="1">3D</option>
			</select>
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="width: 98%;">
			<span class="input-group-addon" style="width: 38%;">vertically:</span>
			<input type="text" class="form-control" value="" id="vertically"   onchange="this.value=this.value.trim();verifyNumber(this,'verifyVer')" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')">
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="width: 98%;">
			<span class="input-group-addon" style="width: 38%;">horizontally:</span>
			<input type="text" class="form-control" value="" id="horizontally"   onchange="this.value=this.value.trim();verifyNumber(this,'verifyHor')" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')">
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Name Prefix:</span>
			<input type="text" class="form-control" value="" id="loc_name"   onchange="this.value=this.value.trim()" >
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="width: 98%;">
			<span class="input-group-addon" style="width: 38%;">V_Interval:</span>
			<input type="text" class="form-control" value="0" id="v_interval" onchange="this.value=this.value.trim();verifyNumber(this,'verifyVi')" >
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="width: 98%;"> 
			<span class="input-group-addon" style="width: 38%;">H_Interval:</span>
			<input type="text" class="form-control" value="0" id="h_interval" onchange="this.value=this.value.trim();verifyNumber(this,'verifyHi')"  >
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div style="margin-bottom: 5px;float: right;">
			<input id="reverseName_" style="display:none;"  type="button"  class="btn btn-info" value="ReverseName" onclick="reverseName()">
			<input type="button" class="btn btn-success btn-sm" value="Create"   onclick="createLocation()" >
			<input type="button" class="btn btn-info btn-sm" value="Clear" onclick="clearAutoLayer('clearAutoLayer')">
		</div>
		


		
		