<div style="background: white;">
	<fieldset>
		<form id="alterStorageForm" method="post"> 
			<div class="input-group form-group has-feedback" style="margin-top:5px;">
				<span class="input-group-addon">Storage Name</span>
				<select name="ps_id" class="gis_main_select" id="select_storage"  style="height:34px;width: 100%;">
		    		<option value="0">choose...</option>
		    		{{#each storageData}}
		    			<option value="{{id}}">{{title}}</option>
		    		{{/each}} 
		    	</select> 
			</div>
			<div id="storageOutline">

			</div>
			<div class="input-group " id="storageAlter_btn"  style="position: relative;width: 100%;height:40px;">
			<input type="button" name="Submit2" id="storageAlter_btn_edit" style="position: absolute;right:75px;width:64px;" value="Edit" class="btn btn-primary">
			<input type="button" name="Submit2" id="storageAlter_btn_cancel" style="position: absolute;right:75px;width:64px;display:none;" value="Cancel" class="btn btn-default">
			<input type="button" name="Submit2" id="storageAlter_btn_save" style="position: absolute;right:0px;width:64px;display:none;" value="Save" class="btn btn-success ">
			<input type="button" name="Submit2" id="storageAlter_btn_delete" style="position: absolute;right:0px;width:64px;" value="Delete" class="btn btn-warning">
			</div>
		</form>
	</fieldset>
</div>