<div class="category_icon_collection">
    <div style="margin-left: 8px;">
      {{#each classify}} 
        <div class="category_container" data-name="{{name}}">
        <div class="buttons" data-name="{{name}}">
		<div class=" category_icon_base {{name}}" data-name="{{name}}"></div>
		<a class=" toolBtn-cont" data-name="{{name}}"></a>
        </div>
		</div>
		{{/each}}
	</div>
		{{#if R_pageplus}}
		   <div id="boxConR" data-pageplus="1" data-num="{{num}}" class="boxCon_base boxConR">
		   </div> 
		 {{/if}}
	   {{#if L_pageplus}}
		   <div id="boxConL" data-pageplus="-1" data-num="{{num}}" class="boxCon_base boxConL">
		   </div>
	   {{/if}}
</div>

