<div id="stagingPlate" style="width:100%; overflow: auto;background-color: #FFFFFF;">
		<table class="table table-hover">
					<tboby>
						<tr >
							<td style="text-align: center;">Storage:</td>
							<td style="text-align: center;">
								<span>{{storageName}}</span>
							</td>
						</tr>
						<tr > 
							<td style="text-align: center;">CTNR:</td>
							<td style="text-align: center;">
								<select id="ic_id" class="gis_main_select" style="width:100px;">
									<option value="-1">ALL</option>
									{{#each container_dt}}
										<option value="{{ic_id}}">{{container_no}}</option>
									{{/each}}
								</select>
							</td>
						</tr>
						<tr>
							<td colspan="2" align="right">
								<input type="button" value="Inquiry" class="btn btn-success" onclick="queryPlate()" />
							</td>
						</tr>
					</tbody>
		</table>
</div>
