<div class="raised">
	<div class="boxcontent">
		Demand
	</div>
</div>

<div id="productDemand" 
	style=" width:100%; overflow: auto;background: white;
	border-bottom: 1px solid #ccc;">
	<div style="background-color: #FFF;">
		<form id="productDemandFrom" class="form-horizontal" role="form">
			<div class="input-group" style="margin: 4px 0;">
				<span class="input-group-addon" style="width: 40%;">Title:</span>
				<input style="width: 95%;" type="text" class="form-control" placeholder=" Title" name="pro_title" id="pro_title" />
			</div>
			<div class="input-group" id="pro_line_tr"  style="display: none;margin: 4px 0;">
				<span class="input-group-addon" style="width: 40%;">PDT Line:</span>
				<select style="width: 95%;" name="pro_line" class="gis_main_select" id="pro_line" onchange="selectCategory(1,this.value,'productDemand')">
					<option value='-1' selected='selected'>ALL</option>
				</select>
			</div>
			<div class="input-group" id="pro_category_1_tr"  style="display: none;margin: 4px 0;">
				<span class="input-group-addon" style="width: 40%;">1st Level:</span>
				<select style="width: 95%;" name="pro_line" class="gis_main_select" id="pro_line" onchange="selectCategory(1,this.value,'productDemand')">
					<option value='-1' selected='selected'>ALL</option>
				</select>
			</div>
			<div class="input-group" id="pro_category_2_tr"  style="display: none;margin: 4px 0;">
				<span class="input-group-addon" style="width: 40%;">2nd Level:</span>
				<select style="width: 95%;" name="pro_category_2" class="gis_main_select" id="pro_category_2"  onchange="selectCategory(3,this.value,'productDemand')">
					<option value='-1' selected='selected'>ALL</option>
				</select>
			</div>
			<div class="input-group" id="pro_category_3_tr"  style="display: none;margin: 4px 0;">
				<span class="input-group-addon" style="width: 40%;">3rd Level:</span>
				<select style="width: 95%;" name="pro_category_3" class="gis_main_select" id="pro_category_3">
					<option value='-1' selected='selected'>ALL</option>
				</select>
			</div>
			<div class="input-group" style="margin: 4px 0;">
				<span class="input-group-addon" style="width: 40%;">PDT Name:</span>
				<input style="width: 95%;" type="text" id="pro_name" class="form-control" placeholder=" PDT Name"/>
			</div>
			<div class="input-group" style="margin: 4px 0;">
				<span class="input-group-addon" style="width: 40%;">Begin:</span>
				<input style="width: 95%;" type="text" class="form-control"placeholder="Begin time" id="start_time" />
			</div>
			<div class="input-group" style="margin: 4px 0;">
				<span class="input-group-addon" style="width: 40%;">End:</span>
				<input style="width: 95%;" type="text" class="form-control" placeholder="End time" id="end_time" />
			</div>
			<div class="input-group" style="margin: 4px 0;float:right;margin-right:10px;">
			<input type="button" value="Inquiry" style='height:30px; width:60px;font-size:9px' class="btn btn-primary" onclick="searchProductDemandByCountry()" />
	</div>
</div>
<div class="demand_title" style="width:100%;">
</div>