<div class="raised">
		<div class="boxcontent">
			Demand Title
		</div>
	</div>
	<div style=" width:100%; overflow: auto;background: white;border-bottom: 1px solid #ccc;border-top: 2px solid #ccc;min-height:50px;max-height:320px;font-size: 9px">
		<div class="demand_all_title_div" style="margin-left:15px" titile="All" data-name="All" data-id="-1" 
		  style="background: #EEEEEE;">
			<input type="radio" value="-1" title="All">All
		</div>
		<div class="demand_title_parent" style="margin-left:5px;">
		{{#each demand_dt}}
			<div class="demand_title_div" title="{{title_name}}" data-name="{{title_name}}" data-id="{{title_id}}">
				<div class="demand_title_bnt">
					<div class="text-overflow" style="width: 85%; float: left; text-align: center;" >
						{{title_name}}
					</div>
				</div>
			</div>
		{{/each}}
		</div>
	</div>