<fieldset style="border:1px #C00 solid;padding:7px;width:95%;word-break:break-all;margin-top:10px;margin-bottom:10px;line-height:18px;font-weight:bold;-webkit-border-radius:5px;-moz-border-radius:5px;">
		 <legend style="font-size:15px;font-weight:bold;"> 
			{{positionName}}  
		 </legend>
		 <div align="left" style="border:2px #dddddd solid;background:#E8E8E8;padding:5px;-webkit-border-radius:7px;-moz-border-radius:7px;">
      
		 	<span style="font-size:12px; font-weight: bold; color:black">当前位置:</span>
            <span style="font-size:12px; font-weight: bold; color:#00F">{{positionName}}</span><br/>
            <hr size="1px;" color="#dddddd">
     	 </div>
     	  	 <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="zebraTable">
	     	   <tr> 
		      <th width="20%" align="left" class="right-title"  style="vertical-align: center;text-align: cenleftter;">商品信息</th>
		      <th width="20%" class="right-title"  style="vertical-align: center;text-align: center;">库存信息</th>
		      <!--<th width="17%" class="right-title"  style="vertical-align: center;text-align: center;">残损</th>-->
		      <th width="18%" class="right-title"  style="vertical-align: center;text-align: center;">存取货时间</th>
		 	 </tr>
		 	 
     	 	{{#each pro_rows}}	
			 <tr > 
			     
				  <td height="60" valign="middle"   style='font-size:14px;' >
			       <fieldset style="border:1px blue solid;padding:7px;width:240px;word-break:break-all;margin-top:10px;margin-bottom:10px;line-height:18px;font-weight:bold;-webkit-border-radius:5px;-moz-border-radius:5px;">
				      <legend style="font-size:15px;font-weight:bold;color:black;"> 
							 {{p_name}}
					  </legend>	
						    <p style="font-size: 12px">商品分类:
						    </p>
						    {{#each pro_title_rows}}
						    <p style="padding-left: 70px;font-size: 12px">
						         <span>
						         <a href="javascript:void(0)" onclick="" style="text-decoration:none">{{name}}</a>
								 </span>
							</p>
							
							{{/each}}
								  								
				   </fieldset>	
		         </td>
			     <td align="center" valign="middle"   >
					  <fieldset style="border:1px green solid;padding:7px;width:80%;word-break:break-all;margin-top:10px;margin-bottom:10px;line-height:18px;font-weight:bold;-webkit-border-radius:5px;-moz-border-radius:5px;">
							<legend style="font-size:15px;font-weight:bold;color:green;">
								
							   <span style="font-size:13px;color:#999999;font-weight:normal"><%=positionName %></span>
							</legend>  
								<p align="left"><a href="javascript:void(0)" onclick="openlot()" style="text-decoration:none">按批次查看库存</a></p>
								<p align="left"><a href="javascript:void(0)" onclick="openlp()" style="text-decoration:none">按配置查看</a></p>
								<p align="left"><a href="javascript:void(0)" onclick="opentitle()" style="text-decoration:none">按title查看</a></p>
									<div>可用数量：</div>
								 	<div>物理数量：</div>
					  </fieldset>
				  &nbsp;
			  </td>
			    <td align="center" valign="middle"   style='word-break:break-all;' nowrap="nowrap"> 
				<input name="" type="hidden" value=""  >
				
				<span style="display: block;overflow: inherit"><font color="blue">有效库存:</font></span>
				<span style="display: block;overflow: inherit"><font color="red">盘点库存:</font></span>
				<span style="display: block;overflow: inherit">出库中:</span>
			  </td>
			   <td align="center" valign="middle"   style='word-break:break-all;font-weight:bold'>
			  	功能残损:<br/>
			  	外观残损:
			  </td>
		      <td align="center" valign="middle"   style='word-break:break-all;font-weight:bold'>
			  	<div style="width:80%" align="left">
			  		采样周期:<br/>
			  		<font color="green">需求数量:</font><br/>
				  	<font color="blue">计划备货:</font><br/>
				  	<font color="">发货数量:</font><br/> 
				  	销售系数:<br/>
				  	备货天数:
			  	</div>	  	
			  </td>
		 </tr>
		{{/each}}
		 </table>
	<table width="98%" border="0" align="center" cellpadding="3" cellspacing="0">
	 <form name="dataForm">
      <input type="hidden" name="p" >
	  <input type="hidden" name="title_id" id="title_id" value="{{titleId}}"/>
	  <input type="hidden" name="lot_number_id" id="lot_number_id" value="{{lot_number_id}}">	  
	  <input type="hidden" name="positionName" id="positionName" value="{{positionName}}">	  
	 </form>
		       <!-- <tr> 
          
			    <td height="28" align="right" valign="middle"> 
			      <%
			int pre = pc.getPageNo() - 1;
			int next = pc.getPageNo() + 1;
			out.println("页数：" + pc.getPageNo() + "/" + pc.getPageCount() + " &nbsp;&nbsp;总数：" + pc.getAllCount() + " &nbsp;&nbsp;");
			out.println(HtmlUtil.aStyleLink("gop","首页","javascript:go(1)",null,pc.isFirst()));
			out.println(HtmlUtil.aStyleLink("gop","上一页","javascript:go(" + pre + ")",null,pc.isFornt()));
			out.println(HtmlUtil.aStyleLink("gop","下一页","javascript:go(" + next + ")",null,pc.isNext()));
			out.println(HtmlUtil.aStyleLink("gop","末页","javascript:go(" + pc.getPageCount() + ")",null,pc.isLast()));
			%>
			      跳转到 
			      <input name="jump_p2" type="text" id="jump_p2" style="width:28px;" value="<%=StringUtil.getInt(request,"p")%>"> 
			      <input name="Submit22" type="button" class="page-go" style="width:28px;padding-top:0px;" onClick="javascript:go(document.getElementById('jump_p2').value)" value="GO"> 
			    </td>
			        </tr>-->
		 </table>
		 
      </fieldset>