 <div id="occupy_detail">
		<table id ="occupy_detail" class="table table-hover occupy_detail" cellspacing="0" cellpadding="0">
				{{#each datas}}  
				<tbody> 
					<tr >
						<td style="vertical-align: middle;">
							<div style="float: left;margin-left: 50px;">
								<div><img src="./imgs/{{equipment_type}}.png"></div>
								<h7 style="text-align: left;margin-left: 10px; font-style: italic;" class="text-muted">
								{{check_in_time}}
								</h7>
							</div>
							<div style="float:left;width: 50%;">
								<h4 style="margin-left: 10px;">
								{{equipment_number}}
								</h4>
							</div>
							<div style="float:left;width: 50%;">
								<h7 style="text-align: left;margin-left: 10px; font-style: italic;" class="text-muted">
								{{occupy_status}}
								</h7>
							</div>
							<div style="float:left;width: 50%;">
								<h7 style="text-align: left;margin-left: 10px; font-style: italic;" class="text-muted" >
								{{rel_type}}
								</h7>
							</div>
						</td>
						<td style="vertical-align: middle;">
							{{#each tasks}}  
								<div style="width: 100%;line-height: 20px;float:left;margin: auto;">
								    <div style="width: 60%;float: left;">
						               <h5 style="text-align: left;font-style: italic;">
						             {{#if number_type}} [{{number_type}}]:{{/if}} {{number}}
						               </h5>
						            </div>  
						            <div style="width: 40%;float: left;">
						               <h6 style="text-align: center;font-style: italic;"class="text-muted">
						               {{number_status}}
						               </h6>
						            </div>    
								</div>
							{{/each}}	
						</td>
					</tr>
				</tbody>			
				{{/each}}	
		</table>
</div>	
 