{{#each gaoFencingData}}	
	<div class="text-overflow" title="[ {{type}} +] {{def}} " id="geo_{{id}}" style="padding: 3px; width: 100%; font-size: 12px; cursor: pointer;" data-typeen="{{typeen}}"
	data-points="{{points}}" data-name="{{name}}">
		<input type="checkbox" onclick="selectGeoAlarmlabel(this,'{{id}}')" style="vertical-align : middle">&nbsp;
						{{name}} 
	</div> 
	<hr style="size: 1px; width: 100%; color: #FFFFFF" >
{{/each}}