<div class="raised">
	<div class="boxcontent">
		GeoPoint
	</div>
</div> 
<div id="geoPoint" style=" width:98%; overflow-y: auto;margin:0 1%; background: #FFF;border-top: 2px solid #888;max-height: 450px;">
		<table style="width:100%;margin: auto;" class="table">
					<tr> 
						<td>
							<div style="float: left; width: 100%;">
								<input type="button" style="margin:5px 0 0 5px;height:30px; width:60px;font-size:9px" class="btn btn-success" onclick="addGeofencing('geoPoint')" value="Add" / >
								<input type="button" style="margin:5px 0 0 5px;height:30px; width:60px;font-size:9px" class="btn btn-primary" onclick="refreshGeoFencing('geoPoint')" value="Ref" />
								<input type="button" style="margin:5px 0 0 5px;height:30px; width:60px;font-size:9px" class="btn btn-danger" onclick="removeGeoFencing('geoPoint')" value="Del" >
							</div>
							<div id="addGeoPoint" style="display: none; float: left; width: 100%; background: #FFFFFF;margin-left:2%;">
								<form id="addGeoPointForm" class="form-horizontal" role="form">
									<div class="input-group form-group has-feedback">
	  									<span class="input-group-addon" style="width: 35%;">Name:</span>
	  									<input class="form-control" type="text"  id="point_name" name="name" placeholder="Input Name"   onchange="this.value=this.value.trim()"/>
	  								</div>
									<div class="input-group form-group has-feedback">
	  									<span class="input-group-addon" style="width: 35%;">Explain:</span>
	  									<input class="form-control" type="text"  id="point_def" name="def" placeholder="Input Explain" onchange="this.value=this.value.trim()"/>
	  								</div>
									<div class="input-group form-group has-feedback">
	  									<span class="input-group-addon" style="width: 35%;">Point:</span>
	  									<input class="form-control" type="text"  id="point_points" name="points" disabled="disabled" onchange="this.value=this.value.trim()"/>
										<input type="hidden" id="point_type" name="type" value="point" />
	  								</div>
									<input type="button" class="btn btn-primary" style="margin:0 35px" value="Cancel" onclick="cancelGeo()"/>
									<input type="button" class="btn btn-success" value="Save" onclick="saveAlarmLabel('point')" />
								</form>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div id="geoPoint_list" style=" width:100%;">
								{{#each gaoData}}	
									<div class="text-overflow" title="[ {{type}} +] {{def}} " id="geo_{{id}}" style="padding: 3px; width: 100%; font-size: 12px; cursor: pointer;" data-typeen="{{typeen}}"
									data-points="{{points}}" data-name="{{name}}">
										<input type="checkbox" onclick="selectGeoAlarmlabel(this,'{{id}}')" style="vertical-align : middle">&nbsp;
														{{name}} 
									</div>
									<hr style="size: 1px; width: 100%; color: #FFFFFF;margin-top: 1px;margin-bottom: 1px;" >
								{{/each}}
							</div>
						</td>
					</tr>
		
	</table>
	 <table class="table table-condensed no-margin bg-info" style="margin-bottom:0px;position: absolute;width:288px;">
  		<thead>
  			<tr>
	    		<td >
	                <button style="width:22%;" class="page-ctrl-geo btn btn-default btn-xs" data-pageno="1" {{#unless pageCtrl.first}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-step-backward"></span>
	                	First
	                </button>&nbsp;&nbsp; 
	                <button style="width:22%;" class="page-ctrl-geo btn btn-default btn-xs" data-pageplus="-1" {{#unless pageCtrl.fornt}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-chevron-left"></span>
	                	Last
	                </button>&nbsp;&nbsp; 
	                <button style="width:22%;" class="page-ctrl-geo btn btn-default btn-xs" data-pageplus="1" {{#unless pageCtrl.next}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-chevron-right"></span>
	                	Next
	                </button>&nbsp;&nbsp; 
	                <button style="width:22%;" class="page-ctrl-geo btn btn-default btn-xs" data-pageno="{{pageCtrl.pageCount}}" {{#unless pageCtrl.last}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-step-forward"></span>
	                	End
	                </button>
	            </td>
	    	</tr>
		</thead>
  </table>  
</div>