<form id="keywordTxtForm">
<input id="keywordTxt" class="txt300 floatl" value="" data-city="" city-search="">
<input class="magnifier_button floatl" type="submit" value="">
<div class="clear"></div>
</form> 