<div class="raised">
	<div class="boxcontent">
		Inventory
	</div>
</div> 
<div id="productStorage" style="width:100%; overflow: auto;height:auto;background: #FFFFFF;">
			<form id="productStorageFrom" class="form-horizontal" role="form">
			<div class="form-group" style="margin: 5px 2px 5px 1px;">			    
		    	<div class="input-group" style="width:100%;">
		      		<div class="input-group-addon" style="width:100px;">Storage:</div>
			      	<select name="ps_id" id="ps_id"  class="gis_main_select" style="width: 100%;">
						{{#each storageData}}
							<option value='{{ps_id}}' data-kml='{{kml}}'>{{title}}</option>
						{{/each}}	
				   </select>
			    </div>
			</div>
			 <div class="form-group" style="margin: 5px 2px 5px 1px;position:relative;">
			    <div class="input-group" style="width:100%;">
			      <div class="input-group-addon" style="width:34%;">Title</div>
			      <input type="text" name="titles" class="form-control" id="title" placeholder="Title" >
			      <!--<input type="hidden" name="title_ids" id="title_ids" >-->
			    </div>
			    <div class="titleScrollbar" style="width:66%;right: 0px;">
			    	<div class="titleList_"></div>
			    </div>
			 </div>
			 <div class="form-group" style="margin: 5px 2px 5px 1px;">
				<div class="input-group" >
			      	<div class="input-group-addon" style="width:34%;">Lot Number</div>
				    <input type="text" name="lot_numbers" class="form-control" id="lot_numbers" value="" placeholder="Lot Number">
				 </div>
				 <div class="titleScrollbar" style="width:66%;right: 0px;">
			    	<div class="titleList_"></div>
			    </div>
			</div>
			<div class="form-group" style="margin: 5px 2px 5px 1px;">			    
		    	<div class="input-group" style="width:100%;">
		      		<div class="input-group-addon" style="width:34%;">PDT Line</div>
			      	<input type="text" name="product_line" class="form-control" id="p_line" value="" placeholder="PDT Line">
			    </div>
			    <div class="titleScrollbar" style="width:66%;right: 0px;">
			    	<div class="titleList_"></div>
			    </div>
			</div>
			<div class="form-group" style="margin: 5px 2px 5px 1px;">
				<div class="input-group" style="width:100%;">
			      	<div class="input-group-addon" style="width:100px;">Catalog</div>
				    <input type="text" name="catalog" class="form-control" id="catalog" value="" placeholder="Catalog">
				</div>
			</div>
			<div class="form-group" style="margin: 5px 2px 5px 1px;">
				<div class="input-group" style="width:100%;">
			      	<div class="input-group-addon" style="width:100px;">PDT Name</div>
				    <input type="text" name="p_names" class="form-control" id="p_names" value="" placeholder="PDT Name">
				</div>
			</div>

			<div class="form-group" style="margin: 5px 2px 5px 1px;">
		      	<div class="input-group" style="width:100%;">
			      <div class="input-group-addon" style="width:100px;">LP Type</div>
			      <select type="text" name="container_type" class="gis_main_select" id="container_type" placeholder="Item/Set" style="width: 100%;" value="0">
			      	{{#each cntDt}}
			      		<option value='{{key}}'>{{name}}</option>
			      	{{/each}}
			      </select>
			      <!--<input type="text" name="container_type" class="form-control" id="container_type" placeholder="Container Type" value="">-->
			    </div>
			</div>
			<!--<div class="form-group" style="margin: 5px 2px 5px 1px;">
		      	<div class="input-group" style="width:100%;">
			      <div class="input-group-addon" style="width:100px;">Type Id</div>
			      <input type="text" name="type_id" class="form-control" id="type_id" placeholder="Type Id" value="">
			    </div>
			</div>-->
			<div class="form-group" style="margin: 5px 2px 5px 1px;">
		      	<div class="input-group" style="width:100%;">
			      <div class="input-group-addon" style="width:100px;">Item/Set</div>
			      <select type="text" name="union_flag" class="gis_main_select" id="union_flag" placeholder="Item/Set" style="width: 100%;" value="0">
			      	<option value='-1'>All</option>
			      	<option value='0'>Loose</option>
			      	<option value='1'>Set</option>
			      </select>
			    </div>
			</div>
			 
			 <div class="input-group" style="float: right;margin-right:10px;" >

				<input type="button" id="inquiry" style="margin:5px 0 0 5px;height:30px; width:60px;font-size:9px" class="btn btn-primary" value="Inquiry"  />
				<input type="hidden"  id="queryDt" >
			 </div>
			</form>
</div>