<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
		  <fieldset style="border:2px #cccccc solid;padding:15px;margin:10px;width:80%;">
		  	<form id="loc_frequency">
				<table > 
					<tr>
						<td align="right" valign="middle">Interval(S)：</td>
					    <td align="left" valign="middle">
					    	<input type="text" style="width: 100%; background: " id="interval" name="interval" value="120">
			            </td>
			   	    </tr>
					<tr>
						<td align="right" valign="middle">Batch：</td>
					    <td align="left" valign="middle">
			              <input type="text" style="width: 100%;" id="batch" name="batch" value="1"/> 
			              <input type="hidden"  id="truck_data" />  
			            </td>
			   	    </tr>
				 </table>
		  	</form>
		 </fieldset>
       </td>
    </tr>
    <tr>
   		<td style="text-align: center"><span style="color: red;" id="errInfo">&nbsp;</span></td>
	   </tr>
   
</table>