<div id="locInventoryEle" style="margin-left: 0px;margin-right: 0px;">

	<div id="closeInventoryWin" >
		<div class="windowTitle" style="margin-left: 10px;padding-top: 2px;">Inventory[{{queryDt.name}}]</div>
		<div id="closeWin" >X</div>
	</div>
	<div id="inventoryQueryForm" style="position: relative; margin-left:-1.02%;">
		<form class="form-inline" >
			<input type="hidden" id="ps_id" value="{{queryDt.ps_id}}"/>
			<input type="hidden" id="slc_id" value="{{queryDt.slc_id}}"/>
			<input type="hidden" id="slc_type" value="{{queryDt.slc_type}}"/>
			<!--<div class="form-group" style="width: 30%;margin: 5px 1.5% 5px 1.5%;">
			    <div class="input-group" style="width:100%;">
			      <div class="input-group-addon input-label" style="width:100px;">Container</div>
			      <input type="text" name="container" class="form-control"  id="container" placeholder="Container">
			    </div>
			 </div>-->
			 <div class="form-group" style="width: 30%;margin: 5px 1.5% 5px 1.5%;min-width:150px;">
			    <div class="input-group" style="width:100%;">
			      <div class="input-group-addon  input-label" style="width:100px;height: 34px;">LP Type</div>
			      <select type="text" name="container_type" class="gis_main_select" id="container_type" placeholder="Container Type" style="width: 100%;  height: 34px;" value="0">
			      	{{#each cntDt}}
			      		<option value='{{key}}'>{{name}}</option>
			      	{{/each}}
			      </select>
			      <!--<input type="text" class="form-control"  id="container_type" placeholder="Container Type" value={{queryDt.container_type}}>-->
			    </div>
			 </div>
			<div class="form-group" style="width: 30%;margin: 5px 1.5% 5px 1.5%;position:relative;min-width:150px;">
			    <div class="input-group" style="width:100%;">
			      <div class="input-group-addon  input-label" style="width:32%;">Title</div>
			      <input type="text" name="title" class="form-control" id="title" placeholder="Title" value="{{queryDt.titles}}">
			      <!--<input type="hidden" id="title_ids" value={{queryDt.title_ids}}>-->
			    </div>
			    <div class="titleScrollbar" style="width: 68%;right:0px;">
			    	<div class="titleList_"></div>
			    </div>
			    
			 </div>
			 <div class="form-group" style="width: 30%;margin: 5px 1.5% 5px 1.5%;position: relative;min-width:150px;">
			    
			    <div class="input-group" style="width:100%;">
			      <div class="input-group-addon  input-label" style="width:32%;">PDT Line</div>
			      <input type="text" name="p_line" class="form-control" id="p_line" value="{{queryDt.product_line}}" placeholder="PDT Line">
			    </div>
			    <div class="titleScrollbar" style="width: 68%;right:0px;">
			    	<div class="titleList_"></div>
			    </div>
			 </div>
			 <div class="form-group" style="width: 30%;margin: -5px 1.5% 5px 1.5%;min-width:150px;">
			    <div class="input-group" style="width:100%;">
			      <div class="input-group-addon  input-label" style="width:100px;">PDT Name</div>
			      <input type="text" name="p_name" class="form-control" id="p_name" value="{{queryDt.p_names}}" placeholder="PDT Name">
			    </div>
			 </div>
			 <div class="form-group" style="width: 30%;margin: -5px 1.5% 5px 1.5%;position: relative;min-width:150px;">
			    <div class="input-group" style="width:100%;">
			      <div class="input-group-addon  input-label" style="width:32%;">Lot Number</div>
			      <input type="text" name="lot_number" class="form-control" id="lot_number" placeholder="Lot Number" value="{{queryDt.lot_numbers}}">
			    </div>
			    <div class="titleScrollbar" style="width: 68%;right:0px;">
			    	<div class="titleList_"></div>
			    </div>
			 </div>
			 <div class="form-group" style="width: 30%;margin: 4px 1.5% 5px 1.5%;position: relative;height: 35px;min-width:150px;">
			    <div class="input-group" style="  width:110px;float: right;margin-right: 90px;margin-top: 8px;">
			      <div class="input-group-addon" style="width: 40px;margin-bottom: 20px;background-color: #f2dede;border-radius: 0px;height: 15px;"></div>
			      <div style="margin-left: 10px;font-size: 12px;">Damage</div>
			    </div>
			   <input type="button" style="position: absolute;right: 1.8%;width:80px;  background: #5bc0de;border-color: #46b8da;" id="queryInventory" class="btn btn-info" value="Query">
			 </div>
		</form>
	</div>
	<div id="inventory_cont">
		<div id="inventory_model_parent">
			<div id="inventory_model">
				<div id="inventory3D">3D</div>
				<div id="inventoryList">List</div>
				<!--<div id="clearSelect3DObj">Unselect</div>-->
			</div>
			
		</div>
		<div id="store_3d" class="store_3d" width="100%" height="100%"></div>
		<table id="inventory_tab" width="100%" style="border-collapse: separate;width: 99%;margin-left: 0.5%;margin-top:-4px;">
			<tr id="thead1">

				<td class="container thead theadLeft" rowspan="2" width="200px" >Container</td>
				<td class="container_type thead" rowspan="2" width="200px">LP</br>Type</td>


				<td class="product" colspan="8" width="280px" >Product</td>
			</tr> 
			<tr id="thead2"> 
				<td class="thead" style="width:5%;">PDT</br>Name</td>
				<td class="thead" style="width:5%;">PDT</br>Line</td>
				<td class="thead" style="width:8%;">Title</td>
				<td class="thead" style="width:5%;">Quantity</td>
				<td class="thead" style="width:5%;">Total</br>Quantity</td>
				<td class="thead" style="width:5%;">Locked</br>Quantity</td>
				<td class="thead" style="width:5%;">Total</br>Locked</br>Quantity</td>
				<td class="sn thead" style="width:5%;/*box-shadow: 1px 2px 5px #888888;*/">SN</td>
			</tr>
			<tr>
				<td colspan="10" style="text-align: center;">
					<div id="inventory_content">

					</div>
				</td>
			</tr>
			<!--{{#if isExistDt}}
				{{#each dt}}
					<tr class="locInventory"  data-index="{{@index}}">
						<td  valign="middle" style="text-align: center;">
							{{container}}
						</td>
						<td valign="middle" >
							<fieldset class="products_fieldset">
								<legend class="products_legend">{{container}}</legend>
								{{#each products}}
									<fieldset class="product_fieldset" >
										<div style="margin-top: 5px;width: 50px;float: left;margin-left: 5px;">Name:</div>
										<div style="margin-top:5px;">{{p_name}}</div>
										<div style="width: 140px;margin-left: 5px;margin-top: 5px;float: left;">Total_locked_quantity:</div>
										<div style="margin-top:5px;">{{total_locked_quantity}}</div>
										<div style="width: 100px;margin-left: 5px;margin-top: 5px;float: left;">Total_quantity:</div>
										<div style="margin-top:5px;">{{total_quantity}}</div>
										<div style="margin-left: 5px;margin-top: 5px;width: 90px;float: left;">Product_line:</div>
										<div style="margin-top:5px;">{{product_line}}</div>

									</fieldset>	
								{{/each}}
								
							</fieldset>
						</td>
					</tr>
				{{/each}}
			{{/if}}
			{{#unless isExistDt}}
				<tr>
					<td colspan="2">No data...</td>
				</tr>
			{{/unless}}-->
		</table>
	</div>
</div>
<style type="text/css">
 #locInventoryEle{height:400px;}
 #locInventoryEle .mCSB_inside .mCSB_container{margin-right:0px;}
 #locInventoryEle .mCSB_scrollTools{right:-6px}
.input-label{
	/*background: #4eabb9;
  	color: white;*/
  	border-color: rgb(41,179,255);
}
</style>