<div style="width:100%;margin-top: 10px;background: #F2F3A3;line-height:30px;font-size:15px;text-align:center;font-family: Georgia;">Add    New   Layer</div>
<div id="maintainLayer"	style=" width:100%;overflow: auto;background: white; height:100px;"> 
	<div class="maintenance_div">
	    <div class="maintenance_img">
			<img id="webcam_img" style="margin: 30%;"   src="./imgs/webcam.png" onmousedown="LayerMousedown(6,this,event)">
		</div>			
		<div class="maintenance_b_div">Webcam</div>
	</div>	
	<div class="maintenance_div">
	    <div class="maintenance_img">
			<img id="printer_img" style="margin: 35% 10%;"  src="./imgs/printer_layer.png" onmousedown="LayerMousedown(7,this,event)">
		</div>
		<div class="maintenance_b_div">Printer</div>
	</div>
	<div class="maintenance_div">
	    <div class="maintenance_img">
			<img id="rectangle_img" style="margin: 30% 0;"  src="./imgs/rectangle_img.png" onmousedown="LayerMousedown('x',this,event)">
		</div>
		<div class="maintenance_b_div">Rectangle</div>
	</div>
	<input type="hidden" id ="ps_id" value="{{ps_id}}">
	<input type="hidden" id ="storageName" value="{{storageName}}">
</div>
<div style="width:100%;background:#F2F3A3;line-height:30px;font-size:15px;text-align:center;font-family: Georgia;">Edit    Road</div>
<div style="height:110px;width:100%;background:#fff;">
       <img style="margin: 5px 0 0 10px;"  src="./imgs/draw_road.png" onclick="initEditRoad({{ps_id}})"/>
       <input type='button' id="edit_road" value='Edit' class='btn btn-info'style="margin: 5px 0 0 30px;height:30px; width:60px;font-size:9px;" onclick="initEditRoad({{ps_id}})"/> 
       <input type='button' id="reset_edit" value='Cancel' class='btn btn-primary'style="margin: 5px 0 0 30px;height:30px; width:60px;font-size:9px;display:none;" onclick="reSetEdit()"/> 
       <input type='button' id="save" value='Save' class='btn btn-success' style='margin: 5px 0 0 10px;height:30px; width:60px;font-size:9px' onclick='saveToDB()' disabled="disabled"/>
</div>