	        {{#each tools}} 
	        <div id="{{id}}" class="map_tool" onclick="mapToolClick(this)"
				onmouseover="this.className='map_tool_selected'"
				onmouseout="if(this.getAttribute('flag')!='1'){this.className='map_tool'}"
				onmousedown="this.className='map_tool_mousedown';"
				onmouseup="this.className='map_tool_selected'">
				<img alt="clear" src="{{img}}" align="top">
				<span style="cursor: default;font-size: 9px">{{name}}</span>
			</div> 
			{{/each}}