<div style="width:100%;height:auto;border-radius: 5px;background-color: #eeeeee;">
  	<form id="modify_data">
  		<div style="margin-left: 35px;padding-top: 20px;padding-bottom: 10px;width:80%;">
  			<div class="input-group form-group has-feedback">
  				<span class="input-group-addon" style="width: 35%;">Name：</span>
  				<input type="text" class="form-control"  id="positionName" name="positionName" value="{{data.obj_name }}" onblur="this.value=this.value.trim();verifyName(this,'{{data.ps_id}}','{{data.obj_type}}','{{data.obj_name }}')" >
          <span class="glyphicon form-control-feedback"  style="top:0;"></span>
  				<input type="hidden"  id="positionName_old" name="positionName_old"  value="{{data.obj_name}}">
			    	<input type="hidden"  id="position_id" name="position_id"  value="{{data.obj_id}}">
			    	<input type="hidden"  id="ps_id" name="ps_id"  value="{{data.ps_id}}"> 
  			</div>
  			<div class="input-group form-group has-feedback">
  				<span class="input-group-addon" style="width: 35%;">X position：</span>
  				<input class="form-control" type="text"  id="x" name="x" value="{{data.x}}" onchange="this.value=this.value.trim();verifyNumber(this,'verifyX');"/>
  				<span class="glyphicon form-control-feedback"  style="top:0;"></span> 
  			</div>
  			<div class="input-group form-group has-feedback">
  				<span class="input-group-addon" style="width: 35%;">Y position：</span>
  				<input class="form-control" type="text"  id="y" name="y" value="{{data.y}}" onchange="this.value=this.value.trim();verifyNumber(this,'verifyY');"/> 
  				<span class="glyphicon form-control-feedback"  style="top:0;"></span> 
  			</div>
  			<div class="input-group form-group has-feedback">
  				<span class="input-group-addon" style="width: 35%;">X length：</span>
  				<input type="text" class="form-control"  id="height" name="height" value="{{data.height}}" onchange="this.value=this.value.trim();verifyNumber(this,'verifyHeight');"/>
  				<span class="glyphicon form-control-feedback"  style="top:0;"></span> 
  			</div>
  			<div class="input-group form-group has-feedback">
  				<span class="input-group-addon" style="width: 35%;">Y length：</span>
  				<input type="text" class="form-control"  id="width" name="width" value="{{data.width}}" onchange="this.value=this.value.trim();verifyNumber(this,'verifyWidth');"/>
  				<span class="glyphicon form-control-feedback"  style="top:0;"></span>  
  			</div>
  			<div class="input-group form-group has-feedback">
  				<span class="input-group-addon" style="width: 35%;">Offset angle：</span>
  				<input type="text" class="form-control"  id="angle" name="angle" value="{{data.angle}}" onchange="this.value=this.value.trim();verifyNumber(this,'verifyAngle');"/> 
  				<span class="glyphicon form-control-feedback"  style="top:0;"></span>
  			</div>
        <div id="_dimensional" class="input-group form-group has-feedback" style="display:none;width: 98%;">
        <span class="input-group-addon" style="width: 38%;">Dimensional：</span>
          <select class="gis_main_select" name="is_three_dimensional" style="width: 163px;">
            <option value="0">2D</option>
            <option value="1">3D</option>
          </select>
          <span class="glyphicon form-control-feedback"></span>
        </div>
  			<div class="input-group form-group has-feedback" id="_zone" style="display: none">
  				<span class="input-group-addon" style="width: 35%;">Zone：</span>
  				<input type="text" class="form-control"  name="zone" id="zone" value="{{data.area_name}}" onclick="selectAreaSingle('modify_data')" onfocus="selectAreaSingle('modify_data')" readonly="readonly" style="background-color: white;cursor: pointer;"/>
				<input type="hidden" name="area_id" id="area_id" value="{{data.area_id}}"/>
  			</div>
  			<div class="input-group form-group has-feedback" id="_dock" style="display: none">
  				<span class="input-group-addon" style="width: 35%;">Dock：</span>
  				<input type="text" class="form-control"  name="dock" id="dock" value="{{data.doorid}}" onfocus="selectDoor()" onclick="selectDoor()" readonly="readonly" style="background-color: white;cursor: pointer;"/>
				<input type="hidden" name="sd_id" id="sd_id" value="{{data.sd_id}}"  />
  			</div>
  		</div>
		 <input type="hidden" name="location_type" id="type" value="{{data.obj_type}}"/>
     
  	</form>
				
</div>