<form id="{{formId}}"  class="form-horizontal" role="form">
		<div class="input-group form-group has-feedback" style="margin: 4px 1px;border: 1px solid #ccc;width: 100%;background: #eee;border-radius: 5px;">
			 <input type="radio" style="margin:10px;" name="radioType" value="0"  onclick="onSelect('{{formId}}')"/>IP-Printer	
			 <input type="radio" style="margin:10px;" name="radioType" value="1" onclick="onSelect('{{formId}}')"/>Servers-Printer
		  </div> 
		  <div class="input-group form-group has-feedback" style="margin: 4px 0;width:310px;">
		  	<span class="input-group-addon" style="width:40%;">Name:</span>
		    <input type="text" class="form-control area_input" name="name" id="name" onchange="verifyName(this);" value="{{data.name}}" />
		    <span class="glyphicon form-control-feedback"  style="top:0;"></span>
		  </div>
		  
		  <div id="_servers"  class="input-group form-group has-feedback" style="margin: 4px 0;width:310px;display: none;">
		  	<span class="input-group-addon" style="width:40%;">Servers:</span>
	  		<input type="text" class="form-control area_input" name="serversName" id="servers_name" value="Choose Servers!" onClick="add_printerServers('','{{formId}}')"  onfocus="add_printerServers('','{{formId}}')" readonly="readonly" style="background-color: white;cursor: pointer;">
	  		<span class="glyphicon form-control-feedback"  style="top:0;"></span>
			<input type="hidden" name="servers" value="{{ps_id.servers}}" id="servers_id">
		  </div>
		  <div id="_ip"  class="input-group form-group has-feedback " style="margin: 4px 0;width:310px;display: none;">
		  	<span class="input-group-addon" style="width:40%;"> IP:</span>
	  	    <input type="text" class="form-control area_input" name="ip" id="ip" value="{{data.ip}}" onchange="this.value=this.value.trim();verifyIP(this)"/>
	  	    <span class="glyphicon form-control-feedback"  style="top:0;"></span>
		  </div>
		  <div id="_port"  class="input-group form-group has-feedback" style="margin: 4px 0;width:310px;display: none;">
		  	<span class="input-group-addon" style="width:40%;"> Port:</span>
		  	<input type="text" class="form-control area_input" name="port" id="port" value="{{data.port}}" onchange="this.value=this.value.trim();verifyNumber(this,'verifyPort')"/>
		  	<span class="glyphicon form-control-feedback"  style="top:0;"></span>
		  </div>
		  <div  class="input-group form-group has-feedback" style="margin: 4px 0;width:310px;">
		  	<span class="input-group-addon" style="width:40%;"> X Position:</span>
		  	<input type="text" class="form-control area_input" name="x" id="x"value="{{data.x}}" onchange="verifyNumber(this,'verifyX')"/>
		  	<span class="glyphicon form-control-feedback"  style="top:0;"></span>
		  </div>
		  <div  class="input-group form-group has-feedback" style="margin: 4px 0;width:310px;">
		  	<span class="input-group-addon" style="width:40%;"> Y Position:</span>
	  	    <input type="text" class="form-control area_input" name="y" id="y" value="{{data.y}}" onchange="verifyNumber(this,'verifyY')" />
	  	    <span class="glyphicon form-control-feedback"  style="top:0;"></span>
		  </div>
		  <div  class="input-group form-group has-feedback" style="margin: 4px 0;width:310px;">
		  	<span class="input-group-addon" style="width: 125px;" >  Type:</span>
  	     		<select name="type"  class="gis_main_select" onchange="setOption()">
					<option class="select-option" value="0">Label </option>
					<option class="select-option" value="1">Letter/A4</option>
				</select>
		  </div> 
		  
		  <div  class="input-group form-group has-feedback" style="margin: 4px 0;width:310px;">
		  	<span class="input-group-addon" style="width: 125px;"> Size:</span>
	  	    <select name="size"   class="gis_main_select" >
					<option class="select-option" value='0'>60*30</option>
					<option class="select-option" value='1'>80*35</option>
					<option class="select-option" value='2'>80*40</option>
					<option class="select-option" value='3'>100*50</option>
					<option class="select-option" value='4'>120*152</option>
			</select>
		  </div>
	  	  <div  class="input-group form-group has-feedback" style="margin: 4px 0;width:310px;">
	  		  <span class="input-group-addon" style="width:40%;"> Physical Area:</span>
		  	  <input type="text" class="form-control area_input" name="zone" id="zone" value="{{data.area_name}}" onclick="selectAreaSingle('{{formId}}')" onfocus="selectAreaSingle('{{formId}}')"  readonly="readonly" style="background-color: white;cursor: pointer;"/>
		  </div>
	    <input name="area_id" id="area_id" type="hidden" value="{{data.area_id}}" />
		<input id="p_id" name="p_id" type="hidden" value="{{data.p_id}}" />
		<input id ="ps_id" name="ps_id" type="hidden" value="{{data.ps_id}}" />
	</div>
</form>