<form id="light">
		<table width="100%" height="100%" border="0" cellpadding="0"
			cellspacing="0">
			<tr>
				<td align="center" valign="top" colspan="2">
						<table> 
							<tr>
								<td align="right" >Name：</td>
								<td align="left" style="position:relative;"><input type="text"
									style="width: 85%;" name="name" id="name"
									value="{{data.name}}" onblur="verifyName(this)" /><span style="height: 16px;width: 16px;position: absolute;top: 5px;" id="vNameMsg">
									<img  title="Name is exist" src="imgs/delete_red.png" id="VNameError" style="display: none;">
									<img  src="imgs/confirm.png" id="VNameRight" style="display: none;">
									</span>
								</td>
								
							</tr>
							<tr>
								<td align="right" >X Position：</td>
								<td align="left" style="position: relative;"><input type="text"
									style="width: 85%;" name="x" id="x"
									value="{{data.x}}" onchange="verifyX()"/>
									<span style="position: absolute;top: 5px;height: 16px;width:16px;">
										<img id="x_con" src="imgs/confirm.png" style="display: none">
					             		<img id="x_del" title="Data Error!" src="imgs/delete_red.png" style="display: none">
									</span>
								</td>
								
							</tr>
							<tr>
								<td align="right" >Y Position：</td>
								<td align="left" style="position: relative;"><input type="text"
									style="width: 85%;" name="y" id="y"
									value="{{data.y}}" onchange="verifyY()" />
									<span style="position: absolute;top: 5px;height: 16px;width:16px;">
										<img id="y_con" src="imgs/confirm.png" style="display: none">
					             		<img id="y_del" title="Data Error!" src="imgs/delete_red.png" style="display: none">
									</span>
								</td>
								
							</tr>
							<tr>
								<td align="right" >Status：</td>
								<td align="left" >
								<select name="type" style="width: 85%">
								<option value="0">OFF </option>
								<option value="1">ON</option>
								</select>
								</td>
							</tr>
				
						</table>
				</td>
			</tr>
			<input id="id" name="id" type="hidden" value="{{data.id}}" />
			<input id ="ps_id" name="ps_id" type="hidden" value="{{data.psId}}" />
		</table>
	</form>