<form id="modify_area">
<div class="area_div"  >
	  <div class="input-group form-group has-feedback area_div1"> 
	 	<span class="input-group-addon" style="width:44%;">Name</span>
	  	<input type="text" class="form-control area_input" id="zone_name" name="zone_name" value="{{data.obj_name}}" onblur="this.value=this.value.trim()" onchange="verifyName(this,'{{data.ps_id}}','5','{{data.obj_name}}')"> 
	  	<span class="glyphicon form-control-feedback"  style="top:0;"></span>
    	<input type="hidden"  id="zone_name_old" name="zone_name_old"  value="{{data.obj_name}}">
    	<input type="hidden"  id="zone_id" name="zone_id"  value="{{data.obj_id}}">
    	<input type="hidden"  id="ps_id" name="ps_id"  value="{{data.ps_id}}">
	  </div>
	  <div class="input-group form-group has-feedback area_div1"> 
	 	 <span class="input-group-addon" style="width:44%;">X position</span>
	  	 <input type="text" class="form-control area_input" id="x" name="x" value="{{data.x}}" onchange="this.value=this.value.trim();verifyNumber(this,'verifyX')"/>
	  	 <span class="glyphicon form-control-feedback" style="top:0;"></span> 
	  </div>
	  <div class="input-group form-group has-feedback area_div1"> 
	 	 <span class="input-group-addon" style="width:44%;">Y position</span>
	  	 <input type="text" class="form-control area_input" id="y" name="y" value="{{data.y}}" onchange="this.value=this.value.trim();verifyNumber(this,'verifyY')"/> 
	  	 <span class="glyphicon form-control-feedback" style="top:0;"></span>
	  </div>
	  <div class="input-group form-group has-feedback area_div1"> 
	 	 <span class="input-group-addon" style="width:44%;">X length</span>
	     <input type="text" class="form-control area_input" id="height" name="height" value="{{data.height}}" onchange="this.value=this.value.trim();verifyNumber(this,'verifyHeight')"/>
	     <span class="glyphicon form-control-feedback" style="top:0;"></span> 
	  </div>
	  <div class="input-group form-group has-feedback area_div1"> 
	 	 <span class="input-group-addon" style="width:44%;">Y length</span>
		<input type="text" class="form-control area_input" id="width" name="width" value="{{data.width}}" onchange="this.value=this.value.trim();verifyNumber(this,'verifyWidth')"/>
		<span class="glyphicon form-control-feedback" style="top:0;"></span> 
	  </div>
	  <div class="input-group form-group has-feedback area_div1"> 
	 	 <span class="input-group-addon" style="width:44%;">Offset angle</span>
		  <input type="text" class="form-control area_input" id="angle" name="angle" value="{{data.angle}}" onchange="this.value=this.value.trim();verifyNumber(this,'verifyAngle')"/>
		  <span class="glyphicon form-control-feedback" style="top:0;"></span> 
	  </div>
	  <div class="input-group form-group has-feedback area_div1" style="display:none;" id="area_subtype"> 
	 	  <span class="input-group-addon" style="width:44%;">Yard type</span>
		 	 <select id="area_subtype" class="gis_main_select" name="area_subtype">
		  		<option value="-1">Choose...</option>
		  		<option value="1">Parking</option>
		  		<option value="2">Waiting</option>
		  		<option value="3">Empty CTN</option>
		  		<option value="4">Full CTN</option>
		 	 </select>
		  <span class="glyphicon form-control-feedback" style="top:0;"></span> 
	  </div>
	  <div style="display:none;"> 
	  	  <span style="color: red;" id="errInfo">&nbsp;</span>
	  </div>
</div
</form>
