<div class="modify_storage_layer_div">
	<div class="btn-group" data-toggle="buttons" style="margin-bottom: 5px;border-bottom: 1px solid #ddd;width: 100%;">
	  <label class="btn active">
	    <input type="radio" name="options" id="singleLayer" value="0" autocomplete="off" checked="checked"> Single layer
	  </label>
	  <label class="btn">
	    <input type="radio" name="options" id="multiLayer" value="1" autocomplete="off"> Multi layer
	  </label>
	</div>
	<form id="modify_storage_layer">
		<input type="hidden" id ="storage_id" name="ps_id" value="{{ps_id}}">
		<input type="hidden" name="storage_name" id ="storage_name" value="{{storageName}}">
		<div class="layerTypeRadio" style="width: 98%;height: 34px;margin-bottom: 5px;border-radius: 5px;border: 1px solid #ccc;">
			 <div style="width:20%;float:left;margin-top:4px;"><input type="radio"  name="type" value="1" onclick="typeChange(1)">Location</div>
			 <div style="width:20%;float:left;margin-top:4px;"><input type="radio"  name="type" value="2" onclick="typeChange(2)">Staging</div>
			 <div style="width:20%;float:left;margin-top:4px;"><input type="radio"  name="type" value="3" onclick="typeChange(3)">Dock</div>
			 <div style="width:20%;float:left;margin-top:4px;"><input type="radio"  name="type" value="4" onclick="typeChange(4)">Parking</div>
			 <div style="width:20%;float:left;margin-top:4px;"><input type="radio"  name="type" value="5" onclick="typeChange(5)" >Zone</div>
		</div>
		<div class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Name：</span>
			<input type="text" class="form-control" name="name" id="name" value="" onchange="this.value=this.value.trim();verifyName_(this,'{{ps_id}}','','','add')" />
			<span class="glyphicon form-control-feedback" style="top:0;"></span>
		</div> 
		
		<div class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">X Position：</span>
			<input type="text" class="form-control"  name="x" id="x" value=""  onchange="this.value=this.value.trim();verifyNumber(this,'verifyX')" readonly="readonly"/>
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Y Position：</span>
			<input type="text" class="form-control" name="y" id="y" value=""  onchange="this.value=this.value.trim();verifyNumber(this,'verifyY')" readonly="readonly"/>
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">X length：</span>
			<input type="text" class="form-control" name="height" id="height" value="50"  onchange="this.value=this.value.trim();verifyNumber(this,'verifyHeight')" readonly="readonly"/>
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Y length：</span>
			<input type="text" class="form-control" name="width" id="width" value="50"  onchange="this.value=this.value.trim();verifyNumber(this,'verifyWidth')" readonly="readonly"/>
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div class="input-group form-group has-feedback" style="margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Offset angle：</span>
			<input type="text" class="form-control" name="angle" id="angle" value="0"  onchange="this.value=this.value.trim();verifyNumber(this,'verifyAngle')" readonly="readonly"/>
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<div id="_title" class="input-group form-group has-feedback" style="display: none;margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Title：</span>
			<input type="text" class="form-control"  name="title" id="title" value="" onclick="addLayerSelectTitle()" onfocus="addLayerSelectTitle()" readonly="readonly" style="background-color: white;cursor: pointer;"/>
			<span class="glyphicon form-control-feedback"></span>
			<input type="hidden" style="width: 80%;" name="title_id" id="title_id" value="" />
		</div>
		<div id="_zone" class="input-group form-group has-feedback" style="display:none;margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Zone：</span>
			<input type="text" class="form-control"  name="zone" id="zone" value="" onclick="selectAreaSingle('modify_storage_layer')" onfocus="selectAreaSingle('modify_storage_layer')" readonly="readonly" style="background-color: white;cursor: pointer;"/>
			<span class="glyphicon form-control-feedback" ></span>
			<input type="hidden" style="width: 80%;" name="area_id" id="area_id" value=""/>
		</div>
		<div id="_dock" class="input-group form-group has-feedback" style="display:none;margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Dock：</span>
			<input type="text" class="form-control" name="dock" id="dock" value="" onclick="addLayerSelectDoor()" onfocus="addLayerSelectDoor()" readonly="readonly" style="background-color: white;cursor: pointer;"/>
			<span class="glyphicon form-control-feedback"></span>
			<input type="hidden" style="width: 80%;" name="sd_id" id="sd_id" value=""  />
		</div>
		<div id="_dimensional" class="input-group form-group has-feedback" style="display:none;margin-bottom: 5px;width: 98%;">
			<span class="input-group-addon" style="width: 38%;">Dimensional：</span>
			<select class="gis_main_select" name="is_three_dimensional" style="width: 210px;">
				<option value="0">2D</option>
				<option value="1">3D</option>
			</select>
			<span class="glyphicon form-control-feedback"></span>
		</div>
		<!--<div id="set_l">
			<input type="checkbox" style="margin-left: 33%;" name="set_local" value="setLocation" onclick="setLocation()"><span class="input-group-add">Draw Child Layer</span>
		</div>-->
		<div id="set_location" style="display:none;">
			<div class="childrenLayerType" style="width:100%;height:25px;">
				<div style="width:25%;float:left;"><input type="radio" name="child_type" value="1" checked="checked">Location</div>
				<div style="width:25%;float:left;"><input type="radio" name="child_type" value="2">Staging</div>
				<div style="width:25%;float:left;"><input type="radio" name="child_type" value="3">Dock</div>
				<div style="width:25%;float:left;"><input type="radio" name="child_type" value="4">Parking</div>
			</div>
			<div class="input-group form-group has-feedback" style="width: 98%;">
				<span class="input-group-addon" style="width: 38%;">vertically:</span>
				<input type="text" class="form-control" value="" id="vertically"   onchange="this.value=this.value.trim();verifyNumber(this,'verifyVer')" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')">
				<span class="glyphicon form-control-feedback"></span>
			</div>
			<div class="input-group form-group has-feedback" style="width: 98%;">
				<span class="input-group-addon" style="width: 38%;">horizontally:</span>
				<input type="text" class="form-control" value="" id="horizontally"   onchange="this.value=this.value.trim();verifyNumber(this,'verifyHor')" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')">
				<span class="glyphicon form-control-feedback"></span>
			</div>
			<div class="input-group form-group has-feedback" style="width: 98%;">
				<span class="input-group-addon" style="width: 38%;">Loc Name:</span>
				<input type="text" class="form-control" value="" id="loc_name"   onchange="this.value=this.value.trim()" >
				<span class="glyphicon form-control-feedback"></span>
			</div>
			<div class="input-group form-group has-feedback" style="width: 98%;">
				<span class="input-group-addon" style="width: 38%;">V_Interval:</span>
				<input type="text" class="form-control" value="0" id="v_interval" onchange="this.value=this.value.trim();verifyNumber(this,'verifyVi')" >
				<span class="glyphicon form-control-feedback"></span>
			</div>
			<div class="input-group form-group has-feedback" style="width: 98%;"> 
				<span class="input-group-addon" style="width: 38%;">H_Interval:</span>
				<input type="text" class="form-control" value="0" id="h_interval" onchange="this.value=this.value.trim();verifyNumber(this,'verifyHi')"  >
				<span class="glyphicon form-control-feedback"></span>
			</div>
			<div style="margin-bottom: 5px;float: right;">
				<input type="button" class="btn btn-success btn-sm" value="Create"   onclick="createLocation()" >
				<input type="button" class="btn btn-info btn-sm" value="Clear" onclick="clearAutoLayer()"> 
			</div>
		</div>
	</form>
</div>
<style type="text/css">
 .modify_storage_layer_div .mCSB_inside .mCSB_container{margin-right:0px;}
 .modify_storage_layer_div .mCSB_scrollTools{right:-6px}

</style>