 	<div style="position: relative;">  
    <span class="btn btn-success fileinput-button" onclick="addPrinterServer();">
  	 	 	<i class="icon-plus icon-white"></i>
			AddPrintServer
		</span>
    <div style="height:152px;background-color: #e8edff;">
    <table  class="table table-hover printer_servers" style="margin-bottom: 0px;margin-left: 0;">
	    <thead> 
	        <th scope="col">Server Name</th>
  	    	<th scope="col" style="width:20%;">Storage</th> 
  	    	<th scope="col">Area Name</th> 
  	     	<th scope="col" style="width:15%;">Opera</th> 
	    </thead> 
	   <tbody>
   	{{#if isExistData}}
      {{#each p_serviers_data}}
    	 	 					<tr class="choicePrinterServer" data-serverId="{{printer_server_id}}" data-severName="{{printer_server_name}}">
    	 	 						<td title="{{printer_server_name}}">{{printer_server_name}}</td>
    	 	 						<td title="{{title}}">{{title}}</td>
    	 	 						<td title="{{area_name}}">{{area_name}}</td>
     	 	 						<td style="text-align: center;">
     	 	 							<input type="checkbox" >
    	 	 							
    	 	 							&nbsp;
    	 	 						</td>
    	 	 					</tr> 
    	{{/each}}
    {{/if}}
    {{#unless isExistData}}
    			<tr>
              <td colspan="4" style="text-align:center;line-height:155px;height:155px;background:#e8edff;border:1px solid silver;">No Records</td>      
          </tr>
    {{/unless}}
	   </tbody>
  	 </table>
     </div>
     {{#if isExistData}}
     <table class="table table-condensed no-margin bg-info" style="position: absolute;top:197px;">
      <thead>
          <tr>
            <td>
                    <button class="btn btn-default btn-xs selectPServers" data-pageno="1" {{#unless pageCtrl.first}}disabled{{/unless}} >
                      <span class="glyphicon glyphicon-step-backward"></span>
                      首页
                    </button>&nbsp;&nbsp; 
                    <button class="btn btn-default btn-xs selectPServers" data-pageplus="-1" {{#unless pageCtrl.fornt}}disabled{{/unless}} >
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      上一页
                    </button>&nbsp;&nbsp; 
                    <button class="btn btn-default btn-xs selectPServers" data-pageplus="1" {{#unless pageCtrl.next}}disabled{{/unless}} >
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      下一页
                    </button>&nbsp;&nbsp; 
                    <button class="btn btn-default btn-xs selectPServers" data-pageno="{{pageCtrl.pageCount}}" {{#unless pageCtrl.last}}disabled{{/unless}} >
                      <span class="glyphicon glyphicon-step-forward"></span>
                      末页
                    </button>
                </td>
                <td width="200px">
                    <span class="pull-right small">
                      当前：{{pageCtrl.pageNo}}&nbsp;&nbsp;
                      页数：{{pageCtrl.pageCount}}&nbsp;&nbsp;
                      总数：{{pageCtrl.allCount}}&nbsp;&nbsp;  
                    </span>
            </td>
          </tr>
    </thead>
  </table>  
  {{/if}}
  </div>
