<div style="background: white;height: 280px;">
<div style="width:100%;height:35px; float:left;">
	<input style="margin-left:1%;" type="button" class='btn btn-success' value="Add" onclick="addPrinterServer({{ps_id}})" />
</div>
<div style="width:100%;overflow-y:auto;float:left;position: relative;height:200px;">
<table class="table table-hover" style="margin-bottom: 0px;position:relative;">
  <thead>
     <tr>
         <th style="width:28%;text-align: center;padding: 2px;font-size:12px;">Name</th>
         <th style="width:26%;text-align: center;padding: 2px;font-size:12px;">Storage</th>
         <th style="width:26%;text-align: center;padding: 2px;font-size:12px;">Zone</th>
         <th style="width:20%;text-align: center;padding: 2px;font-size:12px;">Opera</th>
     </tr>
  </thead>
 <tbody> 
   {{#if isExistData}}
     {{#each p_serviers_data}}
      <tr style="border-bottom: 1px solid #ddd;">
         <td style="padding: 2px;text-align: center;" title={{printer_server_name}}>{{printer_server_name}}</td>
         <td style="padding: 2px;text-align: center;">{{title}}</td>
         <td style="padding: 2px;text-align: center;" title={{area_name}}>{{area_name}}</td>
         <td style="padding: 2px;text-align: center;"><img style="width:40px;" src="./imgs/print_delete.png" onclick="dialogDeletePServer({{printer_server_id}},'{{printer_server_name}}')"/></td>
      </tr>
     {{/each}}
    {{/if}}
    {{#unless  isExistData}}
		<tr>
		  <td style="padding: 2px;text-align: center;" colspan="4">
			No Records		
		  </td>	
		</tr>
  	{{/unless}}	
   </tbody>
</table>
 <table class="table table-condensed no-margin bg-info" style="margin-bottom:0px;position: absolute;top: 155px;">
  	<thead>
  			<tr>
	    		<td width="100%">
	                <button style="width:22%;" class="page-ctrl btn btn-default btn-xs" data-pageno="1" {{#unless pageCtrl.first}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-step-backward"></span>
	                	First
	                </button>&nbsp;&nbsp; 
	                <button style="width:22%;" class="page-ctrl btn btn-default btn-xs" data-pageplus="-1" {{#unless pageCtrl.fornt}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-chevron-left"></span>
	                	Last
	                </button>&nbsp;&nbsp; 
	                <button style="width:22%;" class="page-ctrl btn btn-default btn-xs" data-pageplus="1" {{#unless pageCtrl.next}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-chevron-right"></span>
	                	Next
	                </button>&nbsp;&nbsp; 
	                <button style="width:22%;" class="page-ctrl btn btn-default btn-xs" data-pageno="{{pageCtrl.pageCount}}" {{#unless pageCtrl.last}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-step-forward"></span>
	                	End
	                </button>
	            </td>
	    	</tr>
	</thead>
  </table>  
</div>
</div>