<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
		  <tr> 
		    <td colspan="2" align="center" valign="top">
				  <fieldset style="border:2px #cccccc solid;padding:15px;margin:10px;width:90%;">
						<table >   
							<tr style="display: none;">
								<td align="right" valign="middle">Time zone：</td>
							    <td align="left" valign="middle">
							    	<select class="txt" style="width: 100%;" id="timeZone" name="timeZone">
							    	{{#each dt}}
							    		<option value='{{val}}'>{{text}}</option> 
							    	{{/each}}
							    	</select>
					            </td>
					   	    </tr>
							<tr>
								<td align="right" valign="middle" width="60px;">Begin：</td>
							    <td align="left" valign="middle">
					              <input type="text" readonly class="form-datatime form-control" id="startTime" name="startTime" style="cursor: pointer;
" /> 
					            </td>
					   	    </tr>
					   	    <tr>
					   	    	<td align="right" valign="middle">End： </td>
					                  		  
					            <td align="left" valign="middle">     		  
					              <input type="text" readonly class="form-datatime form-control" id="endTime" name="endTime"" style="cursor: pointer;
"/>
					              <input type="hidden" name="aid" id="truck_aid" value="{{aid}}"/>
					            </td>
						   </tr>
						 </table>
					  </fieldset>
	           </td>
	        </tr>
	        <tr>
		   	      <td colspan="2" style="vertical-align: middle;">
		   	   		<span id="queryTip" style="color:red;"></span>
		   	   	  </td>
	   	   </tr>
		   
	   </table>