
<ul>
	<li id="xy" style="display: none;"></li>
{{#each data}}
		<li id="{{id}}" class="map_rightClick"  style="display: none;" data-id="{{id}}">
		<a href="#" data-id="{{id}}">{{name}}</a></li>
{{/each}} 
</ul>

			