<input id="keywordTxt" class="txt300 floatl" value="">
<input class="magnifier_button floatl" type="submit" value="">
<a  id ="return" style="color: rgb(103, 103, 103); text-align: center;" >返&nbsp;&nbsp;回</a> 
