<div class="about_the_layout_div">
	  <div class="about_the_layout_label margin_right" >&nbsp;Existence Person</div> 
	  <div class="about_the_layout_label margin_left" >&nbsp;Free Person</div>
	  <div class="about_the_layout_div_centext margin_right">
	  	  		<div id="exitTitle" style="background-color:#FFF;width: 100%; border:2px #dddddd solid; height:324px; overflow:auto" >
					
						{{#each exit_title_data}}
								<div title="{{employe_name}}" style="width: 110px; height: 15px; border: solid; border-color: #CCCCCC; border-width: 1px; margin: 5px; float: left; cursor: default;">
									<div class="text-overflow"  style="width: 85%; float: left; " ondblclick="removeTitle_(this.parentNode,'title_id')">
										{{employe_name}}
										<input type="hidden" id="title_id" value="{{adid}}">
									</div>
									<div style="width: 12px; height: 12px; float: right; background-image: url('imgs/delete_grey.png'); margin: 1px; cursor: pointer;" 
											onmousemove="this.style.backgroundImage='url(&quot;imgs/delete_blue.png&quot;)'" 
											onmouseout="this.style.backgroundImage='url(&quot;imgs/delete_grey.png&quot;)'"
											onclick="removeTitle_(this.parentNode,'title_id')">
									</div>
								</div>
						{{/each}}
							
					{{#unless exit_title_data}}
							<center>
								no data
							</center>
					{{/unless}}
			 </div>
	  </div>
      <div  class="about_the_layout_div_centext margin_left">
		<div id="notExitTitle" style="background-color:#FFF; width: 100%; border:2px #dddddd solid; height:324px; overflow:auto" >
			{{#each person_data}}
					<div title="{{employe_name}}" style="width: 110px; height: 15px; border: solid; border-color: #CCCCCC; border-width: 1px; margin: 5px; float: left; cursor: default;">
						<div class="text-overflow" style="width: 85%; float: left; " ondblclick="addTitle(this.parentNode,'title_id')">
							{{employe_name}}
							<input type="hidden" id="title_id" value="{{adid}}">
						</div>
						<div style="width: 12px; height: 12px; float: right; background-image: url('imgs/add_grey.png'); margin: 1px; cursor: pointer;" 
									onmousemove="this.style.backgroundImage='url(&quot;imgs/add_blue.png&quot;)'" 
									onmouseout="this.style.backgroundImage='url(&quot;imgs/add_grey.png&quot;)'"
									onclick="addTitle(this.parentNode,'title_id')">
						</div>
					</div>
			{{/each}}	
		</div>
	 </div>
</div>
<!-- model -->
<div id="title_model" style="display:none; width: 110px; height: 15px; border: solid; border-color: #CCCCCC; border-width: 1px; margin: 5px; float: left; cursor: default;">
	<div class="text-overflow"  style="width: 85%; float: left; " ondblclick="removeTitle_(this.parentNode,'title_id')">
		<input type="hidden" id="title_id">
	</div>
	<div style="width: 12px; height: 12px; float: right; background-image: url('imgs/delete_grey.png'); margin: 1px; cursor: pointer;" 
			onmousemove="this.style.backgroundImage='url(&quot;imgs/delete_blue.png&quot;)'" 
			onmouseout="this.style.backgroundImage='url(&quot;imgs/delete_grey.png&quot;)'"
			onclick="removeTitle_(this.parentNode,'title_id')">
	</div>
</div>
<div id="title_free_model" style="display:none; width: 110px; height: 15px; border: solid; border-color: #CCCCCC; border-width: 1px; margin: 5px; float: left; cursor: default;">
	<div class="text-overflow" style="width: 85%; float: left; " ondblclick="addTitle(this.parentNode)">
		<input type="hidden" id="title_id">
	</div>
	<div style="width: 12px; height: 12px; float: right; background-image: url('imgs/add_grey.png'); margin: 1px; cursor: pointer;" 
				onmousemove="this.style.backgroundImage='url(&quot;imgs/add_blue.png&quot;)'" 
				onmouseout="this.style.backgroundImage='url(&quot;imgs/add_grey.png&quot;)'"
				onclick="addTitle(this.parentNode)">
	</div>
</div>
<!-- model end-->