<div style="width:760px;border:2px #dddddd solid;background:#eeeeee;padding:5px;-webkit-border-radius:7px;-moz-border-radius:7px;">
	    <table style="width: 100%;">
	    	<tr> 
	    		<td>
					<div id="notExitDoor" style="background-color:#FFF; width: 100%; border:2px #dddddd solid; height:324px; overflow:auto" >
					{{#unless doorDataIsNull}}
						{{#each door_data}}
								<div title="{{obj_name}}" style="width: 110px; height: 15px; border: solid; border-color: #CCCCCC; border-width: 1px; margin: 5px; float: left; cursor: default;">
									<div class="text-overflow location_updata_doors" style="width: 85%; float: left; " >
										{{obj_name}}
										<input type="hidden" id="sd_id" value="{{obj_id}}">
									</div>
									<div style="width: 12px; height: 12px; float: right; background-image: url('imgs/add_grey.png'); margin: 1px; cursor: pointer;" 
												onmousemove="this.style.backgroundImage='url(&quot;imgs/add_blue.png&quot;)'" 
												onmouseout="this.style.backgroundImage='url(&quot;imgs/add_grey.png&quot;)'"
												class="location_updata_door_add_img"
												>
									</div>
								</div>
							{{/each}}	
						{{/unless}}		
						{{#if doorDataIsNull}}
							<center>
								no data
							</center>
						{{/if}}
					</div>
				</td>
	    	</tr>
	    </table>
	</div>