<div style="border:2px #dddddd solid;background:#eeeeee;padding:5px;-webkit-border-radius:7px;-moz-border-radius:7px;width:450px;height:400px;">
	    <table style="width: 100%;">
	    	<tr> 
	    		<td>
					<div id="notExitDoor" style="background-color:#FFF; width: 100%; border:2px #dddddd solid; height:324px; overflow:auto" >
					{{#each area_data}}


						<div title="{{area_name}}" style="width: 110px; height: 15px; border: solid; border-color: #CCCCCC; border-width: 1px; margin: 5px; float: left; cursor: default;">
							<div class="text-overflow" style="width: 85%; float: left; " ondblclick="confirm1(this.parentNode)">
								{{area_name}}
								<input type="hidden" id="area_id" value="{{area_id}}">
							</div>
							<div style="width: 12px; height: 12px; float: right; background-image: url('imgs/add_grey.png'); margin: 1px; cursor: pointer;" 
										onmousemove="this.style.backgroundImage='url(&quot;imgs/add_blue.png&quot;)'" 
										onmouseout="this.style.backgroundImage='url(&quot;imgs/add_grey.png&quot;)'"
										onclick="confirm1(this.parentNode)">
							</div>
						</div>
										
					{{/each}}

					</div>
				</td>
	    	</tr>
	    </table>
	</div>