<div class="about_the_layout_div">
	  <div class="about_the_layout_label margin_right" >&nbsp;Existence Docks</div> 
	  <div class="about_the_layout_label margin_left" >&nbsp;Free Docks</div>
	  <div class="about_the_layout_div_centext margin_right">
			<div id="exitTitle" style="background-color:#FFF;width: 100%; border:2px #dddddd solid; height:324px; overflow:auto" >
					{{#if exit_dock_data}}	
						{{#each exit_dock_data}}
							<div style="width: 110px; height: 15px; border: 1px solid rgb(204, 204, 204); margin: 5px; float: left; cursor: default;" title="{{obj_name}}">
								<div class="text-overflow" style="width: 85%; float: left; " ondblclick="removeTitle_(this.parentNode,'sd_id')">
									<input type="hidden" id="sd_id" value="{{obj_id}}">
								{{obj_name}}</div>
								<div style="width: 12px; height: 12px; float: right; margin: 1px; cursor: pointer; background-image: url(http://localhost/Sync10-ui/pages/gis/imgs/delete_grey.png);" onmousemove="this.style.backgroundImage='url(&quot;imgs/delete_blue.png&quot;)'" onmouseout="this.style.backgroundImage='url(&quot;imgs/delete_grey.png&quot;)'" onclick="removeTitle_(this.parentNode,'sd_id')">
								</div>
							</div>

								<!--<div title="{{obj_name}}" style="width: 110px; height: 15px; border: solid; border-color: #CCCCCC; border-width: 1px; margin: 5px; float: left; cursor: default;">
									<div class="text-overflow"  style="width: 85%; float: left; " ondblclick="removeTitle_(this.parentNode,{{adid}})">
										{{employe_name}}
										<input type="hidden" id="title_id" value="{{adid}}">
									</div>
									<div style="width: 12px; height: 12px; float: right; background-image: url('imgs/delete_grey.png'); margin: 1px; cursor: pointer;" 
											onmousemove="this.style.backgroundImage='url(&quot;imgs/delete_blue.png&quot;)'" 
											onmouseout="this.style.backgroundImage='url(&quot;imgs/delete_grey.png&quot;)'"
											onclick="removeTitle_(this.parentNode,{{adid}})">
									</div>
								</div>-->
						{{/each}}
					{{/if}}			
					{{#unless exit_dock_data}}
							<center>
								no data
							</center>
					{{/unless}}
			</div>
		</div>	
	    <div  class="about_the_layout_div_centext margin_left">
			<div id="notExitTitle" style="background-color:#FFF; width: 100%; border:2px #dddddd solid; height:324px; overflow:auto" >
				{{#each door_data}}
					<div title="{{obj_name}}" style="width: 105px; height: 15px; border: solid; border-color: #CCCCCC; border-width: 1px; margin: 5px; float: left; cursor: default;">
						<div class="text-overflow" style="width: 85%; float: left; " ondblclick="addTitle(this.parentNode,'sd_id')">
							{{obj_name}}
							<input type="hidden" id="sd_id" value="{{obj_id}}">
						</div>
						<div style="width: 12px; height: 12px; float: right; background-image: url('imgs/add_grey.png'); margin: 1px; cursor: pointer;" 
									onmousemove="this.style.backgroundImage='url(&quot;imgs/add_blue.png&quot;)'" 
									onmouseout="this.style.backgroundImage='url(&quot;imgs/add_grey.png&quot;)'"
									onclick="addTitle(this.parentNode,'sd_id')">
						</div>
					</div>
				{{/each}}		
			</div>
	 </div>
</div>
	<!-- model -->
	<div id="title_model" style="display:none; width: 110px; height: 15px; border: solid; border-color: #CCCCCC; border-width: 1px; margin: 5px; float: left; cursor: default;">
		<div class="text-overflow"  style="width: 85%; float: left; " ondblclick="removeTitle_(this.parentNode,'sd_id')">
			<input type="hidden" id="sd_id">
		</div>
		<div style="width: 12px; height: 12px; float: right; background-image: url('imgs/delete_grey.png'); margin: 1px; cursor: pointer;" 
				onmousemove="this.style.backgroundImage='url(&quot;imgs/delete_blue.png&quot;)'" 
				onmouseout="this.style.backgroundImage='url(&quot;imgs/delete_grey.png&quot;)'"
				onclick="removeTitle_(this.parentNode,'sd_id')">
		</div>
	</div>
	<div id="title_free_model" style="display:none; width: 110px; height: 15px; border: solid; border-color: #CCCCCC; border-width: 1px; margin: 5px; float: left; cursor: default;">
		<div class="text-overflow" style="width: 85%; float: left; " ondblclick="addTitle(this.parentNode)">
			<input type="hidden" id="sd_id">
		</div>
		<div style="width: 12px; height: 12px; float: right; background-image: url('imgs/add_grey.png'); margin: 1px; cursor: pointer;" 
					onmousemove="this.style.backgroundImage='url(&quot;imgs/add_blue.png&quot;)'" 
					onmouseout="this.style.backgroundImage='url(&quot;imgs/add_grey.png&quot;)'"
					onclick="addTitle(this.parentNode)">
		</div>
	</div>
	<!-- model end-->
	