<div style="border:2px #dddddd solid;background:#eeeeee;padding:5px;-webkit-border-radius:7px;-moz-border-radius:7px; width:650px;height:420px;">
	    <table style="width: 98%;margin:0 1%;height:auto;">
	    	<tr> 
	    		<td>
					<div id="notExitDoor" style="background-color:#FFF; width: 100%; border:2px #dddddd solid; height:400px; overflow:auto" >
					{{#unless  dataIsNull}}		
						{{#each area_data}}
							<div title="{{obj_name}}" style="width: 110px; height: 15px; border: solid; border-color: #CCCCCC; border-width: 1px; margin: 5px; float: left; cursor: default;">
								<div class="text-overflow location_updata_area" style="width: 85%; float: left; " >
									{{obj_name}}
									<input type="hidden" id="area_id" value="{{obj_id}}">
								</div>
								<div style="width: 12px; height: 12px; float: right; background-image: url('imgs/add_grey.png'); margin: 1px; cursor: pointer;" class="location_updata_area"
											onmousemove="this.style.backgroundImage='url(&quot;imgs/add_blue.png&quot;)'" 
											onmouseout="this.style.backgroundImage='url(&quot;imgs/add_grey.png&quot;)'"
											>
								</div>
							</div>
						{{/each}}
					{{/unless}}				
					{{#if dataIsNull}}		
						<center>
							no data
						</center>
					{{/if}}		  
					</div>
				</td>
	    	</tr>
	    </table>
	</div>