<form id="setTime">
		<table border="0" style="width: 100%;height: 100%" cellpadding="0" cellspacing="0">
		<tr> 
		<td align="right" width="40%">
		Truck Refresh Time:
		</td>
		<td align="left" width="60%">
		 <input type="text" value="{{timeData.truck}}" id="truck_time" style="width: 60%" onchange="this.value=this.value.trim();verifyTt()"/>
		 <span style="color: red;">(ms)</span>
		 <img id="truck_time_con" src="imgs/confirm.jpg" style="display: none">
         <img id="truck_time_del" title="Data Error!" src="imgs/delete_red.jpg" style="display: none">
		</td>
		</tr>
		<tr>
		<td align="right" width="40%">
		Dock Refresh Time:
		</td>
		<td align="left" width="60%">
		<input type="text" id="dock_time" value="{{timeData.dock}}" style=" width: 60%" onchange="this.value=this.value.trim();verifyDt()" />
		 <span style="color: red;">(ms)</span> 
		 <img id="dock_time_con" src="imgs/confirm.jpg" style="display: none">
         <img id="dock_time_del" title="Data Error!" src="imgs/delete_red.jpg" style="display: none">
		</td>
		</tr>
		</table>
	</form>