<div id="zonePersons" onclick="hidePersonMenu()" class="zone_person_div" >
		<input type="hidden" id="areaName" value="{{name}}">
		<input type="hidden" id="adids" value="{{adids}}">
		<input type="hidden" id="ps_id" value="{{ps_id}}">
		<input type="hidden" id="area_id" value="{{area_id}}">
		<input type="hidden" id="employe_names" value="{{employe_names}}">
		<div id="notExitDoor" class="zone_person_div_1" >
			{{#each zonePerson_data}} 
				<div title="{{employe_name}}" class="zone_person_div_2" >
					<div class="zone_dock_div_3" oncontextmenu="showPersonMenu(this,event)">
						{{employe_name}}
						<input type="hidden" class="adid" name="adid" value="{{adid}}">
						<input type="hidden" class="ad_name" name="ad_name" value="{{employe_name}}">
						<div class="zone_dock_div_img" onclick="removeTitle(this.parentNode,'employe_names')">
						</div>
					</div>
				</div>
			{{/each}}
			<div title="add person" id="add_person" style="width: 130px; height: 25px; border: solid; border-color: #eeeeee; border-width: 1px; margin: 5px 14px; float: left; cursor: default;" >
				<div class="text-overflow" style="width: 100%;height:100%; float: left; text-align: center;background-color: #eeeeee;cursor: pointer;" onclick="selectPerson()">
					<div id="add_bg_img" style="width: 12px; height: 12px; float: right; background-image: url('imgs/add_blue.png'); margin: 1px; cursor: pointer;margin: 6px 55px 0px 0px;" 
							onmousemove="this.style.backgroundImage='url(&quot;imgs/add_grey.png&quot;)'" 
							onmouseout="this.style.backgroundImage='url(&quot;imgs/add_blue.png&quot;)'"
							">
					</div>
				</div>
			</div>
		</div>
</div>
		<!-- 右键菜单样式 -->
		<div id="menu_" style="width:auto;">
			<ul>
				<li id="assignArea" onclick="assignArea(this)" >
				<a href="#">Reassign </a></li>
			</ul>
		</div>