<embed type="application/x-vlc-plugin" id="vlc"
			target="{{data.rtsp}}"
			 height="100%" width="100%"
			 autoplay="yes" loop="no"
			 version="VideoLAN.VLCPlugin.2"/>
	  <div id="playerInfo" style="display: none;" align="center" >
	  	<span>Not install VLC player plugin</span>
	  	</br>
	  	<a href="javascript:" onclick="getVlcPlayer()">Get VLC media player</a>
	  </div> 