<div id="showZoneDocks" class="zone_dock_div" tabindex='0'>
		<input type="hidden" id="areaName" value="{{name}}">
		<input type="hidden" id="olddock_Ids" value="{{olddock_Ids}}">
		<input type="hidden" id="dock_names" value="{{dock_names}}">
		<input type="hidden" id="ps_id" value="{{ps_id}}">
		<input type="hidden" id="area_id" value="{{area_id}}">
		<div id="notExitDoor" class="zone_dock_div_1" >
				
				{{#each docks_dt}}
					<div title="{{doorid}}" class="zone_dock_div_2">
						<div class="zone_dock_div_3" oncontextmenu="showMenu(this,event)">
							{{doorid}}
							<input type="hidden" id="sd_id" name="sdid" value="{{sd_id}}">
							<div class="zone_dock_div_img"
							onclick="removeTitle(this.parentNode,'dock_names')">
							</div>
						</div> 
					</div>
				{{/each}}
				<div title="add dock" id="add_dock" style="width: 100px; height: 25px; border: solid; border-color: #eeeeee; border-width: 1px; margin: 5px; float: left; cursor: default;" >
						<div class="text-overflow" style="width: 100%;height:100%; float: left; text-align: center;background-color: #eeeeee;cursor: pointer;" onclick="selectDock()">
							<div id="add_bg_img" style="width: 12px; height: 12px; float: right; background-image: url('imgs/add_blue.png'); margin: 1px; cursor: pointer;margin-top: 8px;margin-right: 50px;" 
									onmouseover="this.style.backgroundImage='url(&quot;imgs/add_grey.png&quot;)'" 
									onmouseout="this.style.backgroundImage='url(&quot;imgs/add_blue.png&quot;)'"
									">
							</div>
						</div>
				</div>
		</div>
</div>