<div id="storage_tabs">
	<div style="height: 20px;width: 98%;background: #aaf;margin: 0 1%;">
		<ul>
			<li style="width: 50%;">
				<a href="#storage">Storage</a>
			</li>
			<li style="width: 50%;">
				<a href="#alterStorage">Edit Storage</a>
			</li>
		</ul> 
	</div>
	<div id="storage" style="width:100%">
		<div id="all_storage"></div>
		<div id="bottom_menus"></div>
	</div>
	<div id="alterStorage" style="width:100%;"></div>
</div>