
     <div class="category_icon_collection_third">
      {{#each menus_dt}}
      	<div class="storage_third_menus"  data-ps_id="{{ps_id}}" data-kml="{{kml}}" data-name="{{name}}" data-layer="{{layer}}">
      		<input type="checkbox" id="{{layer}}" class="storage_layer_checkbox" data-ps_id="{{ps_id}}" data-kml="{{kml}}" data-name="{{name}}" data-layer="{{layer}}">&nbsp;&nbsp;
			<span style='vertical-align : middle; color: #333333' data-ps_id="{{ps_id}}" data-kml="{{kml}}" data-name="{{name}}">{{name}}</span> 
      	</div> 
		{{/each}}
		{{#if pageplus_R}}
		   <div id="thirdly_boxConR" data-pageplus="1" data-num="{{num}}" class="boxCon_base thirdly_boxConR">
		   </div>
	   {{/if}}
	   {{#if pageplus_L}}
		   <div id="thirdly_boxConL" data-pageplus="-1" data-num="{{num}}" class="boxCon_base thirdly_boxConL">
		   </div>
	   {{/if}}

	 </div>

