<div class="raised">
	<div class="boxcontent">
		Add Storage
	</div> 
</div>
<div class="maintain_storage">
<br/>
<fieldset class="maintain_storage_fieldset" style="border:2px #cccccc solid;padding:5px;-webkit-border-radius:5px;-moz-border-radius:5px;margin-bottom: 20px;">
	<legend style="font-size:15px;font-weight:normal;color:#999999;">
		Add New Storage
	</legend>	 		
	<form  id="maintain_storage_add_form" method="post" action="" >
		<table width="98%" border="0" cellspacing="5" cellpadding="2" class="maintain_add_storage_info">
		  <tr >
		   
		    <td align="left" valign="middle" >
		    	<div class="input-group form-group has-feedback">
		    		<span class="input-group-addon">Name</span>
		    		<select name="ps_id" class="gis_main_select" style="height:34px;width: 100%;">
		    		<option value="0">choose...</option>
		    		{{#each storageData}}
		    			<option value="{{id}}">{{title}}</option>
		    		{{/each}}
			    	</select> 
			    	<span class="glyphicon form-control-feedback" style="top:0;"></span>
		    	</div>
		    	
		    </td>
		  </tr>
		  <tr >
			<td>
				<br>
				<div style="position: relative;" class="input-group">
					<span class="input-group-addon">Locate</span>
					<input type="text" style="width:170px;" class="form-control" id="locationStorage">
					<img src="imgs/orientation_img.png" onclick="locationStorage_()" style="position: absolute;cursor: pointer;" alt="Position the warehouse"/>
				<div>
			</td>
		  </tr>
		  <tr>
		  
			
			<td colspan="2">
				<div style="position: relative;">
					<input name="op" value="1" type="radio" onclick="inMapsOptionStorage(this)"/>Existing Points
					<input name="op" value="2" type="radio" onclick="inMapsOptionStorage(this)"/>Draw Border


				<div>
			</td>
		  </tr>
		  <tr id="hand_fill_point" style="display:none;">
			<td align="right" valign="middle" class="STYLE3" >Points</td>
			<td>
				<div style="position: relative;">
					<input id="point_num" value="" type="text" style="width:100px;"/>
					<input type="button" id="maintain_drawStorage_next" name="Submit2" style="background: url(imgs/normal_green.gif); " value="Next" class="normal-green" >
				<div>
			</td>
		  </tr>
		</table>
		<table width="98%" border="0" cellspacing="5" cellpadding="2" class="maintain_add_storage_latLngs" style="padding-right: 35px;">
			
		</table>
	</form>	
</fieldset>

<table style="width: 100%;">
  <tr style="width: 100%;" align="right">
    <td style="width: 100%">
	  <input type="button" id="maintain_addStorage_btn" name="Submit2"  value="Save" class="btn btn-success disabled" onClick="addMaintainStorage();">
	  <input type="button" id="maintain_addStorage_cancel" name="Submit3" value="Canle" class="btn btn-info disabled" onClick="addStorageCancel();">
	</td>
  </tr>
</table> 

</div>