     <div class="category_icon_collection">
     <div id="storageSecondMenuCon">
      {{#each menus_dt}}
        <div class="category_container category_container_Storage" data-ps_id="{{ps_id}}" data-kml="{{kml}}" data-name="{{title}}" title="{{title}}">
        <div class="storageSecondMenusBtn" data-ps_id="{{ps_id}}" data-kml="{{kml}}" data-name="{{title}}">
			<div class="category_icon_seconde {{title}}" data-ps_id="{{ps_id}}" data-kml="{{kml}}" data-name="{{title}}">
			</div>
			{{title}}
		</div> 
		</div>
		{{/each}}
		<div>
		{{#if pageplus_R}}
		   <div id="second_boxConR_storage" data-pageplus="1" data-num="{{num}}" class="boxCon_base second_boxConR second_boxCon_storage">
		   </div>
	   {{/if}}
	   {{#if pageplus_L}}
		   <div id="second_boxConL_stroage" data-pageplus="-1" data-num="{{num}}" class="boxCon_base second_boxConL second_boxCon_storage">
		   </div>
	   {{/if}}

	 </div>
                       


