<div id="tabs">
	<div style="height:20px;width:98%;background:#aaf;margin:0 1%">
	<ul>
 	  {{#each data}}
			<li>
				<a href="#{{id}}" >
				{{title}}
				</a>
			</li>	
	  {{/each}}
	</ul> 
	</div>
	  {{#each data}}
		    <div id="{{id}}" style="width:98%;margin: 0 1%;">
		    </div>
	  {{/each}}
</div>