
	    <div style="width:98%;margin: 0 1%;height:20px;background: #ccc;">
		  <div class="boxcontent raised floatl">Truck </div>
		  </div>
	     <div class="category_icon_collection_truck_second" style="position: relative;">
	       {{#each menus_dt}}
	        <div class="category_container category_container_truck" data-name="{{group_name}}" data-group_id="{{group_id}}" >
	        	<div class="truck_btn">
					<div class="category_icon_seconde truck_second_menu {{group_name}}" data-name="{{group_name}}" data-group_id="{{group_id}}" ></div>
					{{group_name}}
				</div> 
			</div>
			{{/each}}
			{{#if pageplus_R}}
			   <div id="truck_second_boxConR" data-pageplus="1" data-num="{{num}}" class="boxCon_base second_boxConR">
			   </div>
		   {{/if}}
		   {{#if pageplus_L}}
			   <div id="truck_second_boxConL" data-pageplus="-1" data-num="{{num}}" class="boxCon_base second_boxConL">
			   </div>
		   {{/if}}
			<div style="float: left; width: 96%;bottom: 5px;position: absolute;">
				<input type="button" style='margin: 5px 0 0 45%;height:30px; width:60px;font-size:9px' class="btn btn-success" onclick="addAsset()" value="Add"/>
				<input type="button" style='margin: 5px 0 0 10px;height:30px; width:60px;font-size:9px' class="btn btn-primary" onclick="refreshTruck()" value="Refresh"/>
			</div>
	   </div>

 