<div style="width: 98%;margin: 0 1%;height: 20px;background: #ccc;" >
	<div class="boxcontent raised" data-title="{{title}}">
		{{title}}
	</div>
</div>
<div class="category_icon_collection_truck">
	<div style="background: #FFF;">
		<input id="select_all_truck" type="checkbox" style="margin-left:24px;" onclick="selectAllTruck(this)" data-groupId="{{groupId}}"/>ALL
	</div> 
	<div style="background:white;overflow: auto;"> 
	{{#each menus_dt}}
		<div class="truck_third">
		   <div class="truck_img" >
			   <img src="./imgs/truck.png" style="align:center;" alt="{{asset_name}}" />
			   <span class="truck_tree_title" title="{{asset_name}}">{{asset_name}}</span>
		   </div>
		    <div class="checkbox_truck" >	
				<input type="checkbox" data-asset_def="{{asset_def}}" data-asset_callnum="{{asset_callnum}}" data-group_name="{{group_name}}" name="asset_{{asset_id}}" data-id="asset_{{asset_id}} " data-asset_imei="{{asset_imei}}" data-assetid='{{asset_id}}'  class="select_truck" onclick="selectTruck(this)">&nbsp;&nbsp;
			</div>
		</div>
	{{/each}}
	</div>
<div>