<ul class="truckMarkerMenu_ul" >
    <li class="truckMarkerMenu_li" id="History" >Tracking History
    </li>
    <li class="truckMarkerMenu_li" id="LocFrequency" >Positioning Frequency Set Up
    </li>
    <li class="truckMarkerMenu_li" id="KeyPoint" >Key Point Set Up
    </li>
    <li class="truckMarkerMenu_li" id="Road" >Route Set Up
    </li>
    
    <li class="truckMarkerMenu_li" id="GeoFence" >Geofencing Set Up
    </li> 
</ul>
