<form id="{{formId}}">
 <div class="cam_div"> 
		 <div class="cam_div1">
				<div class="input-group form-group has-feedback cam_div2">
					<span class="input-group-addon" style="width: 42%;">IP:</span>
					<input type="text" class="form-control cam_input" name="ip" id="ip" value="{{data.ip}}" onblur="verifyIP(this)"/>
					<span class="glyphicon form-control-feedback"  style="top:0;"></span>
				</div> 
				<div class="input-group form-group has-feedback cam_div2">
					<span class="input-group-addon" style="width: 42%;">Port:</span>
					<input type="text" class="form-control cam_input" name="port" id="port" value="{{data.port}}" onblur="verifyNumber(this,'verifyPort')" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" />
					<span class="glyphicon form-control-feedback"  style="top:0;">
				</div>
		</div>
		 <div class="cam_div1">
				<div class="input-group form-group has-feedback cam_div2">
					<span class="input-group-addon" style="width: 42%;">Username:</span>
					<input type="text" class="form-control cam_input" name="username" id="username" value="{{data.user}}" />
				</div>
				<div class="input-group form-group has-feedback cam_div2">
					<span class="input-group-addon" style="width: 42%;">Password:</span>
					<input type="text" class="form-control cam_input"  name="password" id="password" value="{{data.password}}" />
				</div>
		</div>
		 <div class="cam_div1">
				<div class="input-group form-group has-feedback cam_div2">
					<span class="input-group-addon" style="width: 42%;">X:</span>
					<input type="text" class="form-control cam_input" name="x" id="x" value="{{data.x}}"  onchange="verifyNumber(this,'verifyX');" readonly="readonly"/>
					<span class="glyphicon form-control-feedback"  style="top:0;"></span>
				</div>
				<div class="input-group form-group has-feedback cam_div2">
					<span class="input-group-addon" style="width: 42%;">Y:</span>
					<input type="text" class="form-control cam_input" name="y" id="y" value="{{data.y}}"  onchange="verifyNumber(this,'verifyY')" readonly="readonly"/>
					<span class="glyphicon form-control-feedback"  style="top:0;"></span>
				</div>
		</div>
		 <div class="cam_div1">
				<div class="input-group form-group has-feedback cam_div2">
					<span class="input-group-addon" style="width: 42%;">Inner_radius:</span>
					<input type="text" class="form-control cam_input" name="inner_radius" id="inner_radius" value="{{data.inner_radius}}" onchange="verifyNumber(this,'verfyInner_radius')" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" readonly="readonly"/>
					<span class="glyphicon form-control-feedback"  style="top:0;"></span>
					
				</div>
				<div class="input-group form-group has-feedback cam_div2">
					<span class="input-group-addon" style="width: 42%;">Outer_radius:</span>
					<input type="text" class="form-control cam_input" name="outer_radius" id="outer_radius" value="{{data.outer_radius}}"   onchange="verifyNumber(this,'verfyOuter_radius')" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" readonly="readonly"/>
					<span class="glyphicon form-control-feedback"  style="top:0;"></span>
					
				</div>
		</div>
		 <div class="cam_div1">
				<div class="input-group form-group has-feedback cam_div2">
					<span class="input-group-addon" style="width: 42%;">S_degree:</span>
					<input type="text" class="form-control cam_input" name="s_degree" id="s_degree" value="{{data.s_degree}}"   onchange="verifyNumber(this,'verfyS_degree')" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" readonly="readonly"/>
					<span class="glyphicon form-control-feedback"  style="top:0;"></span>
					
				</div>
				<div class="input-group form-group has-feedback cam_div2">
					<span class="input-group-addon" style="width: 42%;">E_degree:</span>
					<input type="text" class="form-control cam_input" name="e_degree" id="e_degree" value="{{data.e_degree}}" onchange="verifyNumber(this,'verfyE_degree')" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" readonly="readonly"/>
					<span class="glyphicon form-control-feedback"  style="top:0;"></span>
				</div>
		</div>
		<div> 
			<input name="id" type="hidden" value="{{data.id}}" />
			<input name="ps_id" type="hidden" value="{{data.ps_id}}" />
		</div>
	</div>
</form>