<table id="filtertable" class="filter" >
	<tr>
		<td>
			<div id="send_psid" style="width:200px"></div>
		</td>
		<td>
			<div id="receive_psid" style="width:200px">收货仓库</div>
		</td>
		<td>
			<select id="status" class="form-control">
				<option value="0">货物状态</option>
				{{#product_state}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/product_state}}
			</select>
		</td>
		<td>
			<select id="stock_in_set" class="form-control">
				<option value="0">运费流程</option>
				{{#stock_in_set}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/stock_in_set}}
			</select>
		</td>
		<td colspan="2">
			<div id="create_account_id" style="width:200px">选择职员&nbsp;&nbsp;</div>
		</td>
	</tr>
	<tr>
		<td>
			<select id="declaration" class="form-control">
				<option value="0">出口报关</option>
				{{#declaration}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/declaration}}
			</select>
		</td>
		<td>
			<select id="clearance" class="form-control">
				<option value="0">进口清关</option>
				{{#clearance}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/clearance}}
			</select>
		</td>
		<td>
			<select id="invoice" class="form-control">
				<option value="0">发票流程</option>
				{{#invoice}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/invoice}}
			</select>
		</td>
		<td>
			<select id="drawback" class="form-control">
				<option value="0">退税流程</option>
				{{#drawback}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/drawback}}
			</select>
		</td>
		<td>
			<button id="filter" class="buttons big">filter</button>
		</td>
	</tr>
</table>