<div class="condition">
	<div class="row">
		<div class="form-group col-sm-3">
			<div class="input-group">
				<div class="input-group-addon">From</div>
				<input id="send_psid" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Select Ship From">
			</div>
		</div>
		<div class="form-group col-sm-3"> 
			<div class="input-group">
				<div class="input-group-addon">To</div>
				<input id="receive_psid" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Select Ship To">
			</div>
		</div>
		<div class="form-group col-sm-3">
			<div class="input-group">
				<div class="input-group-addon">Status</div>
				<input id="status" type="text" class="form-control min-200" placeholder="Select Status">
			</div>
		</div>
		<div class="form-group col-sm-3">
			<div class="input-group">
				<div class="input-group-addon">Creater</div>
				<input id="create_account_id" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Select Creater">
			</div>
		</div>
		<div class="form-group col-sm-3">
			<div class="input-group">
				<div class="input-group-addon">P.O No.</div>
				<input id="retail_po" type="text" class="form-control min-150" value="" placeholder="Input P.O No.">
			</div>
		</div>
		<div class="form-group col-md-3">
			<div class="input-group">
				<div class="input-group-addon">ETD</div>
				<input id="ETDMin" type="text" class="form-control min-80" placeholder="Begin Date">
				<div class="input-group-addon">~</div>
				<input id="ETDMax" type="text" class="form-control min-80" placeholder="End Date">
			</div>
		</div>
		<div class="form-group col-sm-3">
			<button id="filter" class="btn btn-default btn-info" style="width:120px">Search</button>
		</div>
	</div>
</div>