<div class="condition">
	<div class="row" style="margin:2px">
		<div class="form-group col-sm-4">
			<div class="input-group">
				<div class="input-group-addon">Hub <font color="red">*</font></div>
				<input id="shipFrom" type="text" class="form-control min-100 immybox immybox_witharrow" placeholder="Hub" title="Please select From">
			</div>
		</div>
		<div class="form-group col-sm-3 hide"> 
			<div class="input-group">
				<div class="input-group-addon">Ship To</div>
				<input id="shipTo" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Ship To">
			</div>
		</div>
		<div class="form-group col-sm-3 hide">
			<div class="input-group">
				<div class="input-group-addon">Status</div>
				<input id="status" type="text" class="form-control min-200" placeholder="Select Status">
			</div>
		</div>
		<div class="form-group col-md-3 hide">
			<div class="input-group">
				<div class="input-group-addon">ETD</div>
				<input id="ETDMin" type="text" class="form-control min-80" placeholder="Begin Date">
				<div class="input-group-addon">~</div>
				<input id="ETDMax" type="text" class="form-control min-80" placeholder="End Date">
			</div>
		</div>
		<!--
		<div class="form-group col-md-3">
			<div class="input-group">
				<div class="input-group-addon">ETA</div>
				<input id="ETAMin" type="text" class="form-control min-80" placeholder="Begin Date">
				<div class="input-group-addon">~</div>
				<input id="ETAMax" type="text" class="form-control min-80" placeholder="End Date">
			</div>
		</div>
		-->
		<div class="form-group col-sm-3 hide">
			<div class="input-group">
				<div class="input-group-addon">FT</div>
				<input id="payment" type="text" class="form-control min-200" placeholder="Select Freight Term">
			</div>
		</div>
		<div class="form-group col-sm-3 hide">
			<div class="input-group">
				<div class="input-group-addon">Creater</div>
				<input id="creater" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Select Creater">
			</div>
		</div>
		<div class="form-group col-sm-3 hide">
			<div class="input-group">
				<div class="input-group-addon">Source</div>
				<input id="source" type="text" class="form-control min-200" placeholder="Select Source">
			</div>
		</div>
		<div class="form-group col-sm-4">
			<div class="input-group">
				<div class="input-group-addon">Customer <font color="red">*</font></div>
				<input id="customer" type="text" class="form-control min-100" placeholder="Select Customer" title="Please select customer">
			</div>
		</div>
		<div class="form-group col-sm-3 hide">
			<div class="input-group">
				<div class="input-group-addon">Load Flag</div>
				<input id="load_flag" type="text" class="form-control min-200" placeholder="Select Load Flag">
			</div>
		</div>
		<div id="div_load_no" class="form-group col-sm-3 hide" style="display:none">
			<div class="input-group">
				<div class="input-group-addon">Load #</div>
				<input id="load_no" type="text" class="form-control min-200" value="" placeholder="Input Load No.">
			</div>
		</div>
		<div class="form-group col-sm-4">
			<div class="input-group">
				<div class="input-group-addon">Retailer</div>
				<input id="retailer" type="text" class="form-control min-100 immybox immybox_witharrow" placeholder="Select Retailer">
			</div>
		</div>
		<div class="form-group col-sm-2">
			<button id="SearchTabBtn" class="btn btn-default btn-info" style="width:120px">Search</button>
		</div>
	</div>
</div>