<div class="row">
	<div class="form-group col-md-6">
		<div class="input-group">
			<input id="Search_Key" type="text" class="form-control min-200" data-ui-autocomplete="">
			<div class="input-group-btn">
				<button id="eso_search" class="btn btn-info" type="button" style="width:120px">Go!</button>
			</div>
		</div>
	</div>
</div>