.ui-jqgrid{
	-moz-box-sizing: content-box;
}
.ui-jqgrid-btable{
	border-collapse: separate;
}
.ui-jqgrid-htable  tr.ui-jqgrid-labels {
	height: 38px;
}
.ui-jqgrid-titlebar{
	height: 40px;
	line-height: 15px;
	color: #999999;
	background-color: #F9F9F9;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.ui-jqgrid .ui-jqgrid-title {
	float: left;
	margin: 1.1em 1em 0.2em;
}
.ui-jqgrid .ui-jqgrid-titlebar { 
	position: relative; 
	border-left: 1 solid;
	border-right: 1 solid; 
	border-top: 1 solid;
}
.ui-widget-header{
	background: none;
	background-image: none;
	background-color: #F9F9F9;
	text-transform: uppercase;
	border-top-left-radius:  6px;
	border-top-right-radius: 6px;
}
.ui-jqgrid tr.ui-row-ltr td {
	border-right-color: inherit;
	border-right-style: solid;
	border-right-width: 1px;
	text-align: left;
	border-color: #DDDDDD;
	background-color: inherit;
}
.ui-search-toolbar input[type="text"]{
	font-size: 12px;
	height: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 0px;                
}                

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {    
	background: #F9F9F9;
	border: 1px solid #D3D3D3;               
	line-height: 15px;
	font-weight: bold;
	color: #777777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.ui-widget-content {
	box-sizing: content-box;
}
.ui-icon-triangle-1-n {
	background-position: 1px -16px;
}
.ui-jqgrid tr.ui-search-toolbar th { 
	border-top-width: 0px !important; 
	border-top-color: inherit !important; 
	border-top-style: ridge !important 
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {  
	background: #dadada;
	border-collapse: separate;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { 
	border: 1px solid #aaaaaa; 
	background: #ffffff; 
	font-weight: normal; color: #212121; 
}
.ui-jqgrid .ui-pg-input {
	font-size: inherit;
	width: 50px;
	border: 1px solid #CCCCCC;
	height: 15px;
}
.ui-jqgrid .ui-pg-selbox {
	display: block;
	font-size: 1em;
	height: 25px;
	line-height: 18px;
	margin: 0;
	width: auto;
}
.ui-jqgrid .ui-pager-control {
	position: relative;
}
.ui-jqgrid .ui-jqgrid-pager {
	height: 32px;
	position: relative;
}
.ui-pg-table .navtable .ui-corner-all{
	border-radius: 0px;
}
.ui-jqgrid .ui-pg-button:hover {
	padding: 1px;
	border: 0px;
}
.ui-jqgrid .loading {
	position: absolute; 
	top: 45%;
	left: 45%;
	width: auto;
	height: auto;
	z-index:101;
	padding: 6px; 
	margin: 5px;
	text-align: center;
	font-weight: bold;
	display: none;
	border-width: 2px !important; 
	font-size:11px;
}
.ui-jqgrid .form-control {
	height: 10px;
	width: auto;
	display: inline;
	padding: 10px 12px;
}
.ui-jqgrid-pager {
	height: 32px;
}
#jqGrid01 table.ui-jqgrid-htable>thead>tr.ui-jqgrid-labels {
	height: 36px;
}