#global{min-width: 900px;}
 .panel{margin-bottom: 0;}
#global fieldset
{
	min-width: 400px;
	border: 2px solid blue;
	line-height: 18px;
	margin-bottom: 10px;
	margin-top: 15px;
	margin-right: 20px;
	padding: 2px;
	width: 400px;
	word-break: break-all;
}
#global legend{font-size: 14px;width:auto;border-bottom:0;margin-bottom:10px;padding-left: 5px;padding-right: 10px}
#global .row{margin-left: 0;margin-right: 0;}
/** ------------------------------------------ **/
.namestyle{width: 120px;padding-right: 8px;text-align: right;float: left;margin-bottom: 10px;}
.valuestyle{text-align: left;}
.opbar-title{position: relative;}
.opbar-buttons{position: absolute;z-index: 222;right: 10px;top: 1px}
.min-120 {
	min-width: 120px;
}
.min-80 {
	min-width: 80px;
}
#tabs .create{float:right; margin-right:20px;}
#palletDetail{height: 300px;overflow-y: scroll;overflow-x: hidden;}
.briefInfo-container{margin-top: 0px;margin-bottom: 10px;}
#deatailInfo{margin-top: -1px;}
#detail{padding:20px;}
.titlesnamestyle{width: 120px;padding-right: 5px;text-align: right;margin-bottom: 10px;}
.titlevaluestyle{text-align: left;padding-right: 15px}
#palletDetail .col-md-4{width: 32%;}
#briefInfo .row {
	width: 99.99%;
}

#detail .panel-heading{height: 44px}
.required:after
{
    position: absolute;
    content: ' *';
    top:5px;
    color: #FF0000;
    right: 5px;
    font-size: 16px;
} 

/**
 * stateBox
*/
.ui-stateBox {
     border:#CCCCCC 1px solid;
     background-color:#EAEAEA;
     width:300px;
     min-height:16px;
     padding:7px;
     line-height:1;
     text-align:center;
     line-height:16px;
     overflow-y:hidden;
     position:absolute;
     top:40%;
     left:50%;
     margin-left:-150px;
     -moz-box-shadow: 0px 0px 4px #cccccc; /* FF3.5+ */
     -webkit-box-shadow: 0px 0px 4px #cccccc; /* Saf3.0+, Chrome */
     box-shadow: 0px 0px 4px #cccccc; /* Opera 10.5, IE9, Chrome 10+ */
     z-index:999;
}
.ui-stateBox-succeed {
    border:#a7d093 1px solid;
    background-color:#ddffd5;
    z-index: 2147483647; 
} 
.ui-stateBox-error {
    border:#e08989 1px solid;
    background-color:#ffdfdf;
    z-index: 2147483647; 
}
.ui-stateBox-alert {
    border:#e1db66 1px solid;
    background-color:#ffffd7;
    z-index: 2147483647;
} 


div.has-error
{
    padding-right: 16px;
    position: relative;
}
div.has-error span.error:before
{
    font-family: 'Glyphicons Halflings';
    content: '\e101';
    position: absolute;
    top: -1px;
    right:-15px;
    font-size: 14px;
    color: #D9534F;
    display: inline-block;
}
#global .width-150
{
    min-width: 150px;
}
#global .width-120
{
    min-width: 120px;
}
#global .table-th-div
{   
    word-break: normal;
}
#global .max-width
{
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
#edit .form-horizontal{
    margin-right: 15px;
}