<div class="condition">
	 <div class="row">
             <div class="col-sm-3">
                <div class="input-group">
                     <span class="input-group-addon form-label min-80" >{{lanModel.so_lable}}</span>
                     <input type="text" class="form-control " placeholder="{{lanModel.so_placeholder}}" id="so_id">
                </div>
            </div> 
            <div class="col-sm-3">
                <div class="input-group">
                     <span class="input-group-addon form-label min-80" >{{lanModel.from_lable}}</span>
                     <input type="text" class="form-control immybox immybox_witharrow " placeholder="{{lanModel.from_placeholder}}" id="shipFrom">
                </div>
            </div>   
            <div class="col-sm-4"> 
                <div class="input-group ">
                     <span class="input-group-addon form-label min-80" >{{lanModel.etd_lable}} </span>
                     <input class="form-control date-input"  placeholder="{{lanModel.etdstart_placeholder}}" id="etd_min">
                     <span class="input-group-addon to" >~</span>
                     <input  class="form-control date-input"  id="etd_max" placeholder="{{lanModel.etdend_placeholder}}">
                </div>
            </div>   
        </div>    
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                     <span class="input-group-addon form-label min-80" >{{lanModel.status_lable}}</span>
                     <input id="status" type="text" class="form-control min-200" placeholder="{{lanModel.status_placeholder}}">
                </div>
            </div> 
            <div class="col-sm-3">
                <div class="input-group">
                     <span class="input-group-addon form-label min-80" id="to">{{lanModel.shipto_lable}}</span>
                     <input type="text" class="form-control immybox immybox_witharrow" placeholder="{{lanModel.shipto_placeholder}}" id="shipTo">
                </div>
            </div>   
            <div class="col-sm-4"> 
                <div class="input-group ">
                     <span class="input-group-addon form-label min-80">{{lanModel.mabd_label}} </span>
                     <input class="form-control date-input"  placeholder="{{lanModel.mabdstart_placeholder}}"  id="mabd_min">
                     <span class="input-group-addon to" >~</span>
                     <input  class="form-control date-input"  id="mabd_max"  placeholder="{{lanModel.mabdend_placeholder}}">
                </div>
            </div>   
            <div class="col-sm-2">
                <button type="button" class="btn btn-info" id="filter" style="width:100px">{{lanModel.search}}</button>
            </div>   
        </div>
</div>
