    <div class="panel-body form-horizontal" id="appointmentContainer" >
        	<div class="form-group">
                <label for="send_psid"class="col-xs-3 control-label required" >{{lanModel.time_lable}}</label>
                <div class="col-xs-9">
                   <input type="text" class="form-control"   placeholder="{{lanModel.time_placeholder}}" id="appointment_time"  style="background-color: #fff !important;cursor: pointer;" readonly value="{{model.appointment.APPOINTMENT_TIME}}"/>
                </div>  
          </div>
          <div class="form-group">
              <label for="send_psid"class="col-xs-3 control-label required" >{{lanModel.scac_lable}}</label>
              <div class="col-xs-9">
                 <input type="text" class="form-control"   placeholder="{{lanModel.scac_placeholder}}" id="carrier" />
              </div>  
          </div>
          <div class="form-group">
              <label for="send_psid"class="col-xs-3 control-label required" >{{lanModel.contact_lable}}</label>
              <div class="col-xs-9">
                 <input type="text" class="form-control"   placeholder="{{lanModel.contact_placeholder}}" id="contact" 
                  value="{{model.appointment.CARRIER_LINKMAN}}"/>
              </div>  
          </div>
          <div class="form-group">
              <label for="send_psid"class="col-xs-3 control-label required" >{{lanModel.phone_lable}}</label>
              <div class="col-xs-9">
                 <input type="text" class="form-control"   placeholder="{{lanModel.phone_placeholder}}" id="phone" 
                 value="{{model.appointment.CARRIER_LINKMAN_TEL}}" />
              </div>  
          </div>
           <div class="form-group">
              <label for="send_psid"class="col-xs-3 control-label " >{{lanModel.driverlicense_lable}}</label>
              <div class="col-xs-9">
                 <input type="text" class="form-control"  placeholder="{{lanModel.driverlicense_placeholder}}" id="driver_license" value="{{model.appointment.DRIVER_LICENSE}}" />
              </div>  
          </div>
           <div class="form-group">
              <label for="send_psid"class="col-xs-3 control-label " >{{lanModel.drivername_lable}}</label>
              <div class="col-xs-9">
                 <input type="text" class="form-control"   placeholder="{{lanModel.drivername_placeholder}}" id="driver_name" 
                 value="{{model.appointment.DRIVER_NAME}}"  />
              </div>  
          </div>
           <div class="form-group">
              <label for="send_psid"class="col-xs-3 control-label " >{{lanModel.licenseplate_lable}}</label>
              <div class="col-xs-9">
                 <input type="text" class="form-control"   placeholder="{{lanModel.licenseplate_placeholder}}" id="licenseplate" 
                 value="{{model.appointment.LICENSEPLATE}}"  />
              </div>  
          </div>
    </div>
