<div class="row">
	<div class="form-group col-md-6">
			<div class="input-group">
			<input id="SearchKey" type="text" class="form-control min-200 ui-autocomplete-input" data-ui-autocomplete="" autocomplete="off">
			<div class="input-group-btn">
				<button id="eso_search" class="btn btn-info" type="button" style="width:120px">Go!</button>
			</div>
		</div>
	</div>
</div>
