<div class="panel panel-default dialogLineContainer" >
      <table class="table  table-striped">
            <th>{{lanModel.operator_title}}</th>
            <th>{{lanModel.operationtime_title}}</th>
            <th>{{lanModel.operate_title}}</th>
            <th>{{lanModel.remarks_title}}</th>
	          {{#each model.LOGS}}
	          <tr>
	                <td>{{this.OPERATOR_NAME}}</td>
	                <td>{{this.OPERATE_TIME}}</td>
	                <td>{{this.OPERATE_NAME}}</td>
	                <td>{{this.REMARKS}}</td>
	          </tr>
	          {{/each}}
      </table>
</div>
