.row {
	margin-top: 10px;
}

.tab-content {
	margin-top: 10px;
}

.line_100 {
	width: 100%;
	border: 1px solid #CFCFCF;
	border-width: 1px 0px 0px 0px;
	margin-top: 8px;
}
#allTableList .table-th-div {
	WORD-BREAK:break-word;
}
.td_name {
	width: 180px;
}

.td_object {
	width: 200px;
}

.filter tr td {
	padding: 5px;
}

.red_star {
	color: #f00f4d;
	font-size: 16px;
	margin: 5px;
	vertical-align: middle;
}

input[readonly="readonly"] {
    background-color: #fff !important;
}

.select_in_line {
	/* display:block; */
	/* width: 100%; */
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.input-group input[type='date'] { border-radius: 0;margin-left: -1px;margin-right: -1px;}
input[type='date'] {width:150px !important;}
.container { width: 100% !important;}
.checkin_box { min-width:0 !important;}
.important { color:#ff0000; padding-right:5px;}
.clear { clear:both;}
.content-tab-pane {border: 1px solid #ddd;margin-top: -1px; }
.ui-app-type {margin: 10px 0 15px;}
.save-handle { margin:15px 0 15px;}
.margin10 { margin:10px 0;}
.minWith350 { width:350px !important;}
.minWith200 { width:200px !important;}

/*.nav-tabs > li > a:hover, .nav-tabs > li > a:hover {border-top: 2px solid #5bd852;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border-top: 2px solid #5bd852;}*/
    

.ui-app-type li {float:left;list-style:none; width:45%;}
.plugin-box .plugin-item {position: relative;display: block;overflow: hidden;margin-right: 24px;margin-bottom: 24px;color: #222;height: 92px;padding-left: 94px;border: 1px solid #e7e7eb;}
.plugin-box .plugin-item:hover { background-color:#e5e5e5; cursor:pointer;}
.plugin-box .plugin-item .plugin-icon {position: absolute;width: 92px;height: 92px;top: 0;left: 0;text-align: center;line-height: 92px; vertical-align:middle;}
.plugin-box .plugin-item .plugin-icon i { font-size:2.3em; color:#fff;margin-top: 25px;}
.plugin-box .plugin-content { margin-left:20px;}
.plugin-box .plugin-status {position: absolute;right: 10px;top: 40px;color: #B8B8B8;}
.plugin-box .plugin-item .title {margin-top: 10px;margin-bottom: 4px;width: 216px;font-size: 14px;font-weight: 400;font-style: normal;}
.plugin-box .plugin-item .desc {color: #8d8d8d;font-size: 12px;line-height: 24px;width: 238px;}

.bgBlue {background-color:#85AECC;}
.bgGreen {background-color:#76CAC3;}
.bgRed { background-color:#EEA97F;}

/**
    *ËÑË÷
*/
#myTab .form-group,#searchSampleTab button[type="button"],#searchAdvancedTab .form-group ,#myTab button[type="submit"] { margin-bottom:10px;}

#searchSampleTab input[type="text"] { width:400px;}
#searchAdvancedTab .btn-group .active {background-color:#5bc0de; color:#fff;}
#searchAdvancedTab input[type="date"],#searchOrders input[type="date"]{ margin:0 -1px;border-radius:0;}

.quick-create { width: 290px;padding: 10px !important;right: 0 !important;left: inherit !important;}

/**
    *ÓÒ²àÔ¤¾¯ÌáÊ¾.
*/
.rightWarning {position: fixed;right: 0;top:200px;}
.rightWarning ul {list-style:none;}
.rightWarning ul li { width:35px; color:#fff;text-align:center;font-size:1.2em; line-height:30px;margin-bottom:2px;cursor:pointer;}
.rightWarning ul li:first-child { background-color:#ff0000;}
.rightWarning ul li:last-child { background-color:#f57f31;}

/**
    *ÓÒ²à»¬³ö
*/
.slide-container {border:4px solid #31b0d5; border-right:0;}
.ifrm { /*background-color:#e7e8eb;*/}
#addAppionmentBox,#addLoadBox { background-color:#fff; border:1px solid #d9dadc;border-top:0;margin:0 20px 20px 20px; position:relative; top:5px;}
.addAppiontmentSave { margin:10px 10px 10px 0;float: right;}
.min-width { width:350px !important;}
.createTitle {background-color: #fff;line-height: 50px;width: 100%;position: fixed;top: 0;padding-left: 30px;z-index: 100;font-size: 1.2em;}
.quick-search {position: absolute;top: -3px;right: 50px;}
.quick-search input[type="text"] { font-weight:100;}
/**
    *¿é×´
*/
.info-box {width:100%;}
.info-box .info-title { line-height:40px;  background-color:#B1AFFC;font-size:1.2em; color:#fff; font-weight:800; position:relative;}
.info-box .info-title .title{ margin-left:20px;}
.info-box .info-title .handle{ margin-right:20px; cursor:pointer;}
.info-box .info-body { padding:10px;}

/**
    *³µÁ¾¹ÜÀí.
*/
.cntr-container{ border:1px solid #D7D7D7; padding:15px;}
.cntr-container .carrier-close { text-align:right; margin:-8px 0 -15px; font-size:1.5em;}
.cntr-body{ }
.cntr-body .cntr-add,.bol-body .bol-add { float:left;line-height:1.5em; border:2px solid #31b0d5;background-color: #FCFCFC; color:#31b0d5; font-size:1.2em;cursor:pointer;padding: 10px;}
.cntr-body .cntr-close { text-align:right;}
.cntr-body .cntr-virtual-form{ border:1px dashed #A8A8A8; background-color:#fff8a9; padding:10px;margin-right: 25px;margin-bottom: 20px; }
.cntr-body .cntr-real-form {border:1px solid #A8A8A8; margin-top:-1px; background-color:#FDFDFD; padding:10px;}
.add-carrier { margin-left:10px;}

/**
    *BOL¹ÜÀí
*/
.bol-body {margin-top: 15px;}
.bol-virtual-form {margin-bottom: 15px !important; padding-left:0 !important;}
.bol-virtual-form .bol-title {border:1px solid #d4d4d4;background-color:#ededed;}
.bol-virtual-form .bol-title h3 {font-size:1.2em; margin-left:10px;font-weight:700;}
.bol-virtual-form .bol-title h3 a{ margin-left:5px; font-size :0.9em; font-weight:100;}
.bol-virtual-form .bol-title .bol-close { margin-top:15px; margin-right:10px;}
.bol-virtual-form .bol-body { border:1px solid #d4d4d4; margin-top:-2px; background-color:#fff;}


/**
    *tableÑùÊ½
*/
.td_Appiontment fieldset{min-width: 300px;border-color:#008000;-webkit-border-radius:3px;border-radius:3px;}
.td_Appiontment .deliverystyle{color:#008000}



/*order*/
.orderNum { padding-left:10px;font-size:1.2em;}
.orderNum i { color:#e68a55;}

#details .form-group { margin-bottom:0;}

.form_datetime { margin-left:-1px; margin-right:-1px;}

.loading { width:30px;height:30px;}
.closeBlock { cursor:pointer;}

.trHidden { display:none;}
.Morestyle { cursor:pointer; float:right;margin-right:15px; margin-bottom:5px; color: #008000;font-size: 1.1em;font-weight: 600;}



/**  购物车样式 **/
.batchContainer{
  position: fixed;
  top: 70px;
  right: -300px;
  z-index: 100;
  cursor: pointer;
  pointer-events:none;
  bottom: 0;
}
.detail{
	width: 300px;
	height: 100%;
	background-color: #eee;
	float: left;
	pointer-events:auto;
	position: relative;
  border: 1px solid #ddd;
}
.batchContainer .brief{
	margin-top: 32px;
	width: 30px;
	height: 30px;	
	float: left;
	/*background-color: pink;*/
	pointer-events:auto;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.batchContainer .detail-header{
	 background-color: #f5f5f5;
  height: 40px;
  position: relative;
  line-height: 30px;
  cursor: auto;
  padding: 5px 10px 5px 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.detail-header .remove{
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 70px;
  text-align: center;
}
.detail-header .reset:hover,.detail-header .closePanel:hover{
	color: red;
}
.remove .reset{
  padding-right: 10px;
}
.detail-header .header-content{
  font-size: 16px;
  font-weight: 700;
  color: #f0ad4e
}
/*.detail .detail-foot{
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	background-color: #f5f5f5;
}*/
.detail .detail-foot{
  position: absolute;
  bottom: 0;
  /*height: 50px;*/
  height: 34px;
  line-height: 34px;
  width: 100%;
  background-color: #f5f6f5;
  border-left: 1px solid #cfcfcf;
  text-align: center;
}

@-webkit-keyframes panel-close
{0%{right:0}100%{right:-300px;}}
@keyframes panel-close{0%{right:0}100%{right:-300px}}
.batchContainer.panel-close{
  -webkit-animation-name:panel-close;
  animation-name:panel-close;
  -webkit-animation-duration:0.8s;
  animation-duration:0.8s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}

@-webkit-keyframes panel-open
{0%{right:-300px}100%{right:0;}}
@keyframes panel-open{0%{right:-300px}100%{right:0}}
.batchContainer.panel-open{
  -webkit-animation-name:panel-open;
  animation-name:panel-open;
  -webkit-animation-duration:0.8s;
  animation-duration:0.8s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;

}
.panel-open .brief{
  display: none;
}
.panel-close .brief{
  display: block;
}

.briefIcon{
  font-size: 25px;
  color: green;
}

.detail-body{
  height: 100%;
  padding-bottom: 80px;
}
.detail-body .table-container{
  height: 100%;
  overflow-y:auto;
}


.detail-table{
  border-collapse: collapse;
  width: 100%;
}
/*table.detail-table th {
  color: #ffffff;
  background-color: #555555;
  border: 1px solid #555555;
  font-size: 12px;
  padding: 3px;
  vertical-align: top;
  text-align: left;
}
table.detail-table td {
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  vertical-align: top;
  cursor: auto;
}*/
table.detail-table th {
  background: #D6D6D6;
  font-size: 14px;
  padding: 3px;
  vertical-align: top;
  text-align: left;
  height: 30px;
  line-height: 30px;
}
table.detail-table td {
  border-bottom: 1px solid #eee;
  height: 30px;
  line-height: 30px;
  cursor: auto;
  padding-left: 29px;
}
table.detail-table .thStyle{
  width:33%;
  text-align:center;
}
table.detail-table .thLast{
  text-align: right;
}
table.detail-table tr:nth-child(even) {
  background-color: #ffffff;
}
table.detail-table tr:nth-child(odd) {
  background-color: #F6F4F0;
}
/*.delBtn{
  display: inline-block;
  color: #ffffff;
  background-color: #FFAD33;
  border: 1px solid #FFAD33;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 2px;
  text-decoration: none;
  margin-left: 1px;
  border-radius: 5px;
  white-space: nowrap;
  font-family: verdana;
   display: none;
}*/
.delBtn{
  display: inline-block;
  color: #ffffff;
  background-color: #FFAD33;
  border: 1px solid #FFAD33;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  margin-left: 1px;
  border-radius: 5px;
  white-space: nowrap;
  font-family: verdana;
  display: none;
}
table.detail-table tr:hover{
  background-color: #d9edf7;
}
table.detail-table tr:hover .delBtn{
	 display: block;

}
.delBtn:hover{
	text-decoration: none;
	cursor: pointer;
	color:#ffffff;
	/**background-color:#ffffff; **/
}

#main_div .loadBlue{
  border-color: blue;
}

.noclick{
  pointer-events: none;
}

/**
 * stateBox
*/
.ui-stateBox {
     border:#CCCCCC 1px solid;
     background-color:#EAEAEA;
     width:300px;
     min-height:16px;
     padding:7px;
     line-height:1;
     text-align:center;
     line-height:16px;
     overflow-y:hidden;
     position:fixed;
     top:40%;
     left:50%;
    margin-left:-150px;
    -moz-box-shadow: 0px 0px 4px #cccccc; /* FF3.5+ */
    -webkit-box-shadow: 0px 0px 4px #cccccc; /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 4px #cccccc; /* Opera 10.5, IE9, Chrome 10+ */
    z-index:999;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-family: Consolas,monaco,monospace
}
.ui-stateBox-succeed {
    border:#a7d093 1px solid;
    background-color:#ddffd5;
    z-index: 2147483647; 

} 
.ui-stateBox-error {
    border:#e08989 1px solid;
    background-color:#ffdfdf;
    z-index: 2147483647; 
}
.ui-stateBox-alert {
    border:#e1db66 1px solid;
    background-color:#ffffd7;
    z-index: 2147483647;
} 

/**  state box end/