<table id="dataTable" width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="zebraTable" isNeed="true" isBottom="true">
	<thead id="tableHead" width="100%">
		<tr>
			<th width="25%" nowrap="nowrap" class="right-title"
						style="vertical-align: center; text-align: center;">转运单基本信息</th>
			<th width="27%" nowrap="nowrap" class="right-title"
						style="vertical-align: center; text-align: center;">库房及运输信息</th>
			<th width="18%" nowrap="nowrap" class="right-title"
						style="vertical-align: center; text-align: center;">流程信息</th>
			<th width="20%" nowrap="nowrap" class="right-title"
						style="vertical-align: center; text-align: center;">跟进</th>
		</tr>
	</thead>
	<tbody>
		{{#transport}}
			<tr height="30px" data-id="{{this.transport_id}}">
				<td>
					{{this.transport_id}}
				</td>
				<td>
					{{this.transport_name}}
				</td>
				<td>
					{{this.transport_name}}
				</td>
				<td>
					{{this.transport_name}}
				</td>
			</tr>
		{{/transport}}
	</tbody>
</table>			
