<div class="panel-body">
	<table> 
		<tr>
			<td>asdasd</td>
			<td>asdasd</td>
			<td>asdasd</td>
			<td>asdasd</td>
			<td>asdasd</td>
		</tr>
	</table>
</div>    
<div class="footer">
	<div class="opbar">
	    <button type="button" class="btn btn-info pull-right">kdkdk</button>
	</div>
    <div class="opbar">
        <button type="button" id="saveLimit" class="btn btn-info pull-right">Save</button>
    </div>
<div>