<div class="container-fluid" id="calendarContainer">
    <div class="panel panel-default panel-signin">
        <div class="panel-heading">
            <div class="clearfix">
                <div class="pull-left text-left prevStep">
                    <i class="fa fa-chevron-left fa-1"></i>
                </div>
                <div class="pull-left text-left">Step 3.</div>
                <div class="pull-right text-right nextStep">
                    <span><i class="fa fa-chevron-right fa-1"></i></span>
                </div>
            </div>
        </div>
        <div class="panel-body">
             <div class="Step3_body_box " id="datetimeContainer">
                  <div class="OnedayTimebox " id="OnedayTimebox1">
                        <div class="date">
                            <div id="datetimepicker12" class="Acars_picke"></div>
                        </div>
                        <div class="time" style="display:none">
                              <table class="table table-bordered" id="time">
                                  <tbody>
                                      <tr>
                                          <td id="time00" data-id="00">00:00</td>
                                          <td id="time01" data-id="01">01:00</td>
                                          <td id="time02" data-id="02">02:00</td>
                                          <td id="time03" data-id="03">03:00</td>
                                      </tr>
                                      <tr class="active">
                                          <td id="time04" data-id="04">04:00</td>
                                          <td id="time05" data-id="05">05:00</td>
                                          <td id="time06" data-id="06">06:00</td>
                                          <td id="time07" data-id="07">07:00</td>
                                      </tr>
                                      <tr>
                                          <td id="time08" data-id="08">08:00</td>
                                          <td id="time09" data-id="09">09:00</td>
                                          <td id="time10" data-id="10">10:00</td>
                                          <td id="time11" data-id="11">11:00</td>
                                      </tr>
                                      <tr class="active">
                                           <td id="time12" data-id="12">12:00</td>
                                           <td id="time13" data-id="13">13:00</td>
                                           <td id="time14" data-id="14">14:00</td>
                                           <td id="time15" data-id="15">15:00</td>
                                      </tr>
                                      <tr>
                                           <td id="time16" data-id="16">16:00</td>
                                           <td id="time17" data-id="17">17:00</td>
                                           <td id="time18" data-id="18">18:00</td>
                                           <td id="time19" data-id="19">19:00</td>
                                      </tr>
                                          <tr>
                                           <td id="time20" data-id="20">20:00</td>
                                           <td id="time21" data-id="21">21:00</td>
                                           <td id="time22" data-id="22">22:00</td>
                                           <td id="time23" data-id="23">23:00</td>
                                      </tr>       
                                  </tbody>
                              </table>
                        </div>
                  </div>
              </div>
        </div>
    </div>
</div>