<div class="container-fluid" id="carrierContainer">
    <div class="panel panel-default panel-signin">
        <div class="panel-heading">
            <div class="clearfix">
                <div class="pull-left text-left prevStep">
                    <i class="fa fa-chevron-left fa-1"></i>
                </div>
               <div class="pull-left text-left">Step 4.</div>
                <div class="pull-right text-right nextStep">
                    <span><i class="fa fa-chevron-right fa-1"></i></span>
                </div>
            </div>
        </div>
        <div class="panel-body scrollWrap">
          <div class="Step4_body_box">
               <ul>
                	<li class="form-group">
                	   <label><b>Appointment</b></label>
                     <input type="text" id="appointmentTime" class="form-control" disabled/>
                  </li>
                  <li class="form-group">
                	     <label><b>SCAC</b> </label>
                       <input type="text" class="form-control " id="appt_carrier" disabled/>
                  </li>
                  <li class="form-group">
                	   <label><b>Contacts</b></label>
                     <input type="text" class="form-control" id="contact"/>
                  </li>
                  <li class="form-group">
                	   <label><b>Phone</b> </label>
                     <input type="text" class="form-control" id="phone"/>
                  </li>
                   <li class="form-group">
                     <label><b>Email</b> </label>
                     <input type="email" class="form-control" id="email"/>
                  </li>
                  <li class="form-group">
                	     <label><b>License Plate</b></label>
                       <input type="text" class="form-control" id="licensePlate"/>
                  </li>
                  <li class="form-group">
                	     <label><b>Driver License</b> </label>
                       <input type="text" class="form-control" id="driverLicense"/>
                  </li>
                  <li class="form-group">
                	   <label><b>Driver Name</b> </label>
                     <input type="text" class="form-control" id="driverName"/>
                  </li>
               </ul>
          </div>
        </div>
    </div>
</div>