<div class="container-fluid" id="inOutContainer">
    <div class="panel panel-default panel-signin">
        <div class="panel-heading">
            <div class="clearfix">
                <div class="pull-left text-left">Step 1.</div>
                <div class="pull-right text-right nextStep hide"><i class="fa fa-chevron-right fa-1"></i></div>
                <div class="pull-right text-right nextStep">
                    <span><i class="fa fa-chevron-right fa-1"></i></span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="selectbox mb15 ">
                <div class="input-group">
                    <span class="input-group-addon hubTitle">Hub</span>
                    <span class="lefttext hide"><select class="js-example-data-array"></select></span>
                 <!--   <input id="hub" type="text"  class="form-control"/> -->
                  <select id="hub"   class="form-control"/>
                </div>
            </div>
            <div class="bottonbox mb15">
                <div class="btn-group" id="inOutBtn">
                    <button type="button" class="btn btn-default" id="inbound" data-value="inbound">Inbound</button>
                    <button type="button" class="btn btn-default" id="outbound"  data-value="outbound">Outbound</button>
                </div>
            </div>
        </div>
    </div>
</div>