<div class="container-fluid" id="loadContainer">
        <div class="panel panel-default panel-signin">
            <div class="panel-heading">
                <div class="clearfix">
                    <div class="pull-left text-left prevStep" >
                        <i class="fa fa-chevron-left fa-1"></i>
                    </div>
                    <div class="pull-left text-left">Step 2.</div>
                    <div class="pull-right text-right nextStep" >
                        <span><i class="fa fa-chevron-right fa-1"></i></span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-1">
                        <div class="ckbox  trunkbox" >
                            <input type="radio" id="oneLoad" name="loadsGroup" >
                            <label for="oneLoad" style="cursor: pointer"><strong>One truck one load</strong></label>
                        </div>
                    </div>
                </div>
                  <div class="row">
                    <div class="col-xs-12 col-xs-offset-1">
                        <div class="ckbox trunkbox" >
                            <input type="radio" id="multiLoad" name="loadsGroup">
                            <label for="multiLoad" style="cursor: pointer"><strong>One truck multiple load</strong></label>
                        </div>
                    </div>
                </div>
                <div class="linebox"></div>
                <div class="row referncobox">
                    <div class="col-xs-9 col-xs-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">Ref. NO.</span>
                            <input type="text" id="refNo" placeholder="{{placeHolder}}" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button id="searchOrder" class="btn btn-default"><i class="fa fa-plus fa-1"></i></button>
                    </div>
                </div>
                <div class="row Slidcontainerpano">
                    <div class="col-xs-1 text-left "><i class="fa fa-angle-left fa-2"></i></div>
                    <div class="Slidcontainer col-xs-10 p_x_box_wrapper" id="loadSilder">
                         <div class="Slidecard_box sub_x_box_scroller clearfix">
                            <div class="panel panel-default pull-left hide orderPanel">
                            </div> 
                        </div>
                    </div>
                    <div class="col-xs-1 text-right ">
                         <i class="fa fa-angle-right fa-2"></i>
                    </div>
                </div>

               <br/>
            </div>
            <div class="panel-footer" id="loadFoot">
                <div class="row">
                    <div class="col-xs-6">Load&nbsp;:<span id="loadCount">0</span></div>
                    <div class="col-xs-6">Order&nbsp;:<span id="orderCount">0</span></div>
                </div>
            </div>    
        </div>
</div>