   <div class="container-fluid">
            <div >
                <div class="panel panel-default panel-signin">
                    <div class="panel-heading">
                    <!--    <i class="fa fa-truck fa-fw"></i> -->
                        <span class="logobox mb10 " style="margin-right:10px"><img src='imgs/logo.png'></span>
                        Appointment System
                    </div>
                    <div class="panel-body">
                        <div class="logobox mb10 hide"><i class="fa fa-paper-plane fa-2"></i></div>
                     <!--   <div class="logobox mb10 "><img src='imgs/logo.png'></div> -->
                        <form  method="post">
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" placeholder="Account" id="userName">
                            </div>
                            <!-- input-group -->
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Password" id="password">
                            </div>
                            <div class="input-group mb15" id="licencebox">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-check"></i>
                                </span>
                                <input class="form-control" placeholder="Verification" name="licence"  id="licence" type="number" style="float:left;width:100%" > 
                                <img id="licenceImg" name="licenceImg" src="/appt/public/loginLicence"  >
                            </div>
                            <!-- input-group -->
                            <div class="panel-flodes">
                                <button type="button" class="btn btn-success btn-block" id="loginBtn">Login <i class="fa fa-angle-right ml5"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>