<div class="panel panel-default pull-left orderPanel {{#if this.isNew}}new{{/if}}">
    <div class="panel-heading">
        <b>{{orderType}}</b><span>{{load_no}}{{order_no}}</span><em><i class="fa fa-remove"></i></em>
    </div>
    <div class="panel-body">
     <ul>
     	<li><span>City :</span><em class="loadInfoStyle">{{city}}</em></li>
        <li><span>State :</span><em class="loadInfoStyle">{{state}}</em></li>
        <li><span>Pallets :</span><em class="loadInfoStyle">{{pallets}}</em></li>
     </ul>                                         
    </div>
</div>
