<div class="container-fluid" id="previewContainer">
  <div class="panel panel-default panel-signin">
      <div class="panel-heading">
          <div class="clearfix">
              <div class="pull-left text-left prevStep">
                  <i class="fa fa-chevron-left fa-1"></i>
              </div>
              <div class="pull-left">
                  <span class="panel_title">Step 5.</span>
              </div>
          </div>
      </div>                  
      <div class="panel-body scrollWrap" >
          <div>
              <div>LR Info</div>
              <div class="linebox"></div>
              <br/>
              <div class="Slidecard_box clearfix">
                  {{#loadData.orders}}   
                 		  <div class="panel panel-default pull-left orderPanel">
                          <div class="panel-heading">
                              <b>Order</b><span>{{order_no}}</span>
                          </div>
                          <div class="panel-body">
                             <ul>
                             	    <li><span>City :</span><em class="loadInfoStyle">{{this.city}}</em></li>
                                  <li><span>State :</span><em class="loadInfoStyle">{{this.state}}</em></li>
                                  <li><span>Pallets :</span><em class="loadInfoStyle">{{this.pallets}}</em></li>
                             </ul>                                         
                          </div>
                      </div>  
                  {{/loadData.orders}}                  	
                  {{#loadData.loads}}   
                      <div class="panel panel-default pull-left orderPanel">
                          <div class="panel-heading">
                              <b>Load</b><span>{{load_no}}</span>
                          </div>
                          <div class="panel-body">
                             <ul>
                                  <li><span>City :</span><em class="loadInfoStyle">{{this.city}}</em></li>
                                  <li><span>State :</span><em class="loadInfoStyle">{{this.state}}</em></li>
                                  <li><span>Pallets :</span><em class="loadInfoStyle">{{this.pallets}}</em></li>
                             </ul>                                         
                          </div>
                      </div>  
                  {{/loadData.loads}}   
              </div>
              <br/>
              <div>Hub & Type</div>
              <div class="linebox"></div>
              <br/>
              <div class="Step4_body_box">
                  <ul>
                      <li class="form-group">
                           <label><b>Hub</b></label>
                           <span class="form-control-static" >{{inOutData.hub_name}}</span>
                      </li>
                      <li class="form-group">
                          <label><b>Type</b></label>
                          <span class="form-control-static" >{{inOutData.type}}</span>
                      </li>
                      <li class="form-group">
                          <label><b>Contacts</b></label>
                          <span class="form-control-static" >{{inOutData.send_contact}}</span>
                      </li>
                      <li class="form-group">
                          <label><b>Phone</b></label>
                          <span class="form-control-static" >{{inOutData.send_phone}}</span>
                      </li>                       
                  </ul>
              </div>
              <br/>
              <div>Appointment</div>
              <div class="linebox"></div>
              <br/>
              <div class="Step4_body_box">
                  <ul>
                  	  <li class="form-group">
                  	      <label><b>Appointment</b></label>
                            <span class="form-control-static">{{calendarData.displayTime}}</span>
                      </li>
                      <li class="form-group">
                  	      <label><b>SCAC</b></label>
                            <span class="form-control-static">{{carrierData.carrier_name}}</span>
                      </li>
                      <li class="form-group">
                  	       <label><b>Contacts</b></label>
                             <span class="form-control-static">{{carrierData.carrier_linkman}}</span>
                      </li>
                      <li class="form-group">
                  	       <label><b>Phone</b></label>
                             <span class="form-control-static">{{carrierData.carrier_linkman_tel}}</span>
                      </li>
                      <li class="form-group">
                  	       <label><b>License Plate</b></label>
                             <span class="form-control-static">{{carrierData.licenseplate}}</span>
                      </li>
                      <li class="form-group">
                  	     <label><b>Driver License</b></label>
                           <span class="form-control-static">{{carrierData.driver_license}}</span>
                      </li>
                      <li class="form-group">
                  	     <label><b>Driver Name</b></label>
                           <span class="form-control-static">{{carrierData.driver_name}}</span>
                      </li>
                      {{#if this.isMobile}}
                      <li class="form-group">
                         <label><b></b></label>
                           <span class="form-control-static"></span>
                      </li>
                      {{/if}}
                       <li class="form-group">
                         <label><b></b></label>
                           <span class="form-control-static"></span>
                      </li>
                       <li class="form-group">
                         <label><b></b></label>
                           <span class="form-control-static"></span>
                      </li>
                     
                  </ul>
              </div>
          </div>    
      </div>
      <div class="panel-footer" id="previewFoot">
          <div class="foormetbox text-right" id="submitBtn">
            <button type="button"  class="btn btn-primary btn-block">Submit</button>
          </div>
      </div>  
  </div> 
</div>