<div class="container-fluid resultContainer" id="resultContainer">
	<div class="panel panel-default panel-signin">
		<div class="panel-heading">
	          <div class="clearfix">
	              <div class="text-left">
	                </i><span class="panel_title">Appointment Result</span>
	              </div>
	          </div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12 text-center result">
					<span class="apptSuccess"><b>Appointment Success !</b></span>
					<span class="failed hide"><b>Appointment failed !</b></span>
				</div>
			</div>
			<div class="row">
				<div class=" text-right name">
					<span class="namestyle">
						Del.Window ：
					</span>
				</div>
				<div class=" text-left value">
					<span class="valuestyle">{{startTime}}~ {{endTime}}</span>
				</div>
			</div>
			<div class="row">
				<div class="text-right name">
					<span class="namestyle">
						Note ：
					</span>
				</div>
				<div class=" text-left value">
					<span class="valuestyle"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center opBtn">
					<button type="button" class="btn btn-info" id="continueAppointment">Continue</button>
					<button type="button" class="btn btn-warning" id="logout" >Logout</button>
				</div>
			<div>
		</div>
	</div>
<div>