.tally_sheet tr:nth-child(odd){background-color: #FFF;}
.tally_sheet tr:nth-child(even){background-color: #999999;}
/* #tally_sheet table td:nth-child(odd){color:#C00;} */
/* table tr:nth-child(5){background:#73B1E0;color:#FFF;} */