<div class="search_result_list">
    <div>
        <div class="search_result_panel_title"><span class="panel-heading"><i class="fa fa-table"></i>&nbsp;Handling SOP</span></div>
        <div class="search_result_body">
            <table class="table table-striped" cellspacing="0" id="table-handling-requirement">
                <thead>
                    <tr>
                        <th width="130px">Title</th>
                        <th width="130px">Customer Id</th>
                        <th width="200px">Ship To</th>
                        <th width="130px">Step</th>
                        <th width="160px">Level</th>
                        <th width="160px">Level Name</th>
                        <th width="460px">
                            Instruction
                        </th>
                        <th width="310px" style="border-right:0px;">
                            Operation
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#if resultList}}
                    {{#each resultList}}
                    <tr data-tstid="{{this.tsc_id}}">
                        <td style="text-align: center;" width="130px">
                            {{#if this.title_name }}
                            {{this.title_name}}
                            {{else}}
                            *
                            {{/if}}
                        </td>
                         <td style="text-align: center;" width="130px">
                            {{#if this.customer_id }}
                            {{this.customer_id}}
                            {{else}}
                            *
                            {{/if}}
                        </td>
                        <td style="text-align: center;" width="200px">
                            {{#if this.ship_to_name }}
                            {{this.ship_to_name}}
                            {{else}}
                            *
                            {{/if}}
                        </td>
                        <td style="text-align: center;" width="130px">
                            {{#if this.process_step_name }}
                            {{this.process_step_name}}
                            {{else}}
                            *
                            {{/if}}
                        </td>
                        <td style="text-align: center;" width="160px">
                            {{#xifCond this.config_type '0' '='}}
                            *
                            {{/xifCond}}
                            {{#xifCond this.config_type '1' '='}}
                            Product
                            {{/xifCond}}
                            {{#xifCond this.config_type '2' '='}}
                            Product Category
                            {{/xifCond}}
                            {{#xifCond this.config_type '3' '='}}
                            Product Line
                            {{/xifCond}}
                        </td>
                        <td style="text-align: center;" width="160px">

                            {{#if this.config }}
                            {{this.config}}
                            {{else}}
                            *
                            {{/if}}
                        </td>
                        <td valign="middle" width="460px">
                            {{#each this.children}}
                            <div style="">
                                <div style="text-align:right;width:100px;display:inline-block">
                                    {{this.requirement_name}} :
                                </div>
                                <div style="text-align:left;display:inline-block">
                                    {{this.display_type_val}}
                                </div>
                                <div>

                                    <!--
                                    <div style="line-height:25px;" class="row">
                                        <div class="col-sm-6" style="text-align:right;padding-right:5px">
                                            <label for="packages_content2" class="control-label">{{this.requirement_name}} :</label>
                                        </div>
                                        <div class="col-sm-6" style="text-align:left;padding-left:5px;">
                                            {{this.display_type_val}}
                                        </div>
                                    </div>
                                -->
                                    {{/each}}


                        </td>


                        </td>
                        <td valign="middle" width="310px" style="text-align: center;">
                            <div class="btn-group" role="group">
                                <a href="javascript:void(0)" name="modRequirement" class="btn btn-default" title="Edit" style="font-size:12px;"><i class="fa fa-pencil"></i>  Edit</a>
                                <a href="javascript:void(0)" name="delRequirement" class="btn btn-default" title="Delete" style="font-size:12px;"><i class="fa fa-remove"></i>  Delete</a>
                            </div>

                        </td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <tr>
                        <td colspan="100%" style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;">No Data.</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
        <ul id="pagination" class="clearfix pagebox" ></ul>
    </div>
</div>
