<style>

	div.box 
	{
        height: 2.85em;
        font-size:12px;
		/*height: 60px;*/
		/*padding: 15px 20px 10px 20px;*/
	}
	div.box.opened
	{
		height: auto;
	}
	div.box .toggle .closed,
	div.box.opened .toggle .open
	{
		display: none;
	}
	div.box .toggle .opened,
	div.box.opened .toggle .closed 
	{
		display: inline;
	}
	
	#search_result_list_content tbody ._desclist{visibility:hidden}
    

</style> 
<div class="search_result_list" style="width:860px;height:400px;overflow:auto;">
    <div>
        <table class="search_result_list_header" cellspacing="0">
            <tr>
				<th width="20%">Instruction Name</th>
				<th width="15%">Display Type</th>
				<th width="35%">Instruction Items</th>
				<th width="20">Description</th>
			</tr>
        </table>
        <div class="search_result_body">
            <table class="search_result_list_content" cellspacing="0" style="cursor:pointer;">
                {{#if resultList}} {{#each resultList}}
                <tr data-ri_id="{{this.ri_id}}">
                    <td style="text-align:center;" width="20%">{{this.requirement_name}}</td>
                    <td style="text-align:center;" width="15%">{{this.display_type_txt}}</td>
                    <td valign="middle" width="35%">
                        {{#each this.children}}
                        <div style="padding-top:10px;">
                            <div style="text-align:right;width:100px;display:inline-block">
                                {{this.item_name}} :
                            </div>
                            <div style="text-align:left;display:inline-block">
                                {{this.item_value}}
                            </div>
                            <div>

                                {{/each}}

                    </td>
                    <td valign="middle" width="30">
                        <div class="_desclist box">{{this.description}}</div>
                    </td>
                </tr>
                {{/each}} {{else}}
                <tr>
                    <td style="text-align: center; line-height: 180px; height: 180px; background: #E6F3C5; border: 1px solid silver;">No Data.</td>
                </tr>
                {{/if}}
            </table>
        </div>
    </div>
</div>
<div class="pagebox_right" style="margin-top:10px;height:10px;display: block;">
    <ul id="pagination" class="clearfix pagebox">
    </ul>
</div>  