<div id="requirement_all_tabs" style="width:860px;">
    <ul>
        <li><a href="#requirement_search_advanced_tab">Advanced Search</a></li>
    </ul>
    <div id="requirement_search_advanced_tab">	
		<div class="form-group" style="clear:both;  margin-bottom: 0px;">
			<div class="col-sm-5">
				<label for="packages_content" class="col-sm-5 control-label">Instruction Name:</label>
	            <div class="col-sm-7">
	                 <input id="_r_name" name="_r_name" type="text" class="form-control " placeholder="" value="">
	            </div>
			</div>
			<div class="col-sm-5">
				<label for="packages_content" class="col-sm-4 control-label">Display Type:</label>
	            <div class="col-sm-8">
	                 <select id="_display_type" name="_display_type" style="width:100%;height:26px;">
						<option value="" ></option>
						{{#each displayTypes}}
	                        <option value="{{this.value}}">{{this.text}}</option>
	                    {{/each}}
					</select>
	            </div>
			</div>
			<div class="col-sm-2">
				<a id="advanced_search_btn" name="advanced_search_btn" href="javascript:void(0)" class="btn btn-default" style="font-size:12px;" style="height:26px;"><i class="fa fa-search"></i>   Search</a>
			</div>
		</div>
    </div>
</div>
<div id="requirement-list-view" style="height:430px;">

</div>
