<div id="addTstCContainer" style="width:760px; max-height:430px;overflow-x: hidden;overflow-y: auto;" >
    <div  class="tab-pane"> 
        <form class="form-horizontal" role="form" id="mod-tstconfig-form">

        <!--error container-->
        <div class="alert alert-danger" role="alert" id="error_warp" style="display:none;padding:10px;">
            
        </div>
    
          <div class="form-group">
              <label for="packages_content" class="col-sm-2 control-label" style=" line-height: 32px; padding-top: 0; margin-top:0;">Title :</label>
                <div class="col-sm-4">
                     <select id="selectTitle" style="width:100%;" name="title">
                        <option value=""></option>
                        {{#each titles}}
                            <option value="{{this.title_id}}">{{this.title_name}}</option>
                        {{/each}}
                    </select>
                </div>
                
                <label for="packages_content" class="col-sm-2 control-label" style=" line-height: 32px; padding-top: 0; margin-top:0;">Customer : </label>
                
                <div class="col-sm-4">
                     <select id="selectCustomer" style="width:100%;" name="customer">
                        <option value=""></option>
                        {{#each customers}}
                            <option value="{{this.customer_key}}">{{this.customer_id}}</option>
                        {{/each}}
                    </select>
                </div>
          </div>
        
        <div class="form-group">
            <label for="packages_content" class="col-sm-2 control-label" style=" line-height: 32px; padding-top: 0; margin-top:0;">Ship To :</label>
            <div class="col-sm-4">
                <select id="selectShipTo" style="width:100%;" name="shipTo">
                    <option value=""></option>
                    {{#each shipTo}}
                        <option value="{{this.ship_to_id}}">{{this.ship_to_name}}</option>
                    {{/each}}
                </select>
            </div>
            <label for="packages_content" class="col-sm-2 control-label" style=" line-height: 32px; padding-top: 0; margin-top:0;">Step :</label>
            <div class="col-sm-4">
                 <select id="selectStep" style="width:100%;" name="step">
                    <option value=""></option>
                    {{#each step}}
                        <option value="{{this.process_step}}">{{this.process_step_name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label for="packages_content" class="col-sm-2 control-label" style=" line-height: 32px; padding-top: 0; margin-top:0;">Level :</label>
            <div class="col-sm-4">
                 <select id="selectConfigType" style="width:100%;" name="configType" >
                    <option value=""></option>
                    {{#each configType}}
                        <option value="{{this.value}}">{{this.text}}</option>
                    {{/each}}
                </select>
            </div>
            <label for="packages_content" class="col-sm-2 control-label" style=" line-height: 32px; padding-top: 0; margin-top:0;">Level Name :</label>

            <div class="col-sm-4" id="config_value" style="/*display:none;*/">
                <input type="text" placeholder="Level Name..." class="form-control" name="config" id="config" style="height:32px;" value={{model.config}}>
                <input type="hidden" id="config_id" value="{{model.config_id}}"/>
                <input type="hidden" id="tsc_id" value="{{model.tsc_id}}"/>
            </div>
        </div>
       
        <!--
            <div class="requirement-box" style="margin-bottom:5px;padding-left:50px;">
                 <strong>Requirement Config</strong>
            </div>
        -->
        <div class="form-group">
              <div class="col-sm-12">  
                    <div class="line"></div>
                </div>
        </div>
         <div id="addBtnCtn" class="form-group requirement-box" style="margin-bottom:5px;">
             <div id="addRcDiv" class="col-sm-11">  
                 <a href="javascript:void(0)" name="addRC_1" class="btn btn-default fa fa-plus pull-right" style="margin-left: 1px;" title="ADD" id="addRC"></a>
            </div>
        </div>
        <div id="requirement-box" class="requirement-box" style="height: 150px;max-height: 150px; overflow-x: hidden;overflow-y: auto;">
            
        </div>
       
        </form>
    </div>
</div>
<div class="clear"></div>