

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td width="10%" height="30px;" align="right" valign="middle">
				<span style="font-weight:bold;font-size:12px;">Product <br /> Catagorys: </span>
			</td>
			<td width="80%" valign="middle">
				<div style="overflow: auto; max-height: 60px;" id="product_productcatagorys_condition">
					{{# if catagorys}}
						{{#each catagorys}}
							<div style="width:140px;float:left;margin-left:10px; height:20px">
								<a href="javascript:void(0)" data-id="{{this.id}}" data-pid="{{this.parentid}}" class="search-item">{{this.name}}</a>
							</div>
						{{/each}}
					{{else}}
						No Product Category
					{{/if}}
				</div>
			</td>
			<td width="10%" height="30px;" align="right" valign="middle">
				
			</td>
		</tr>
	</tbody>
</table>