<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td width="10%" height="30px;" align="right" valign="middle">
				<span style="font-weight:bold;font-size:12px;">Product <br /> Line: </span>
			</td>
			<td width="80%" valign="middle">
				<div style="overflow: auto; max-height: 60px;" id="product_productline_condition">
					{{# if proLines}}
						{{#each proLines}}
							<div style="width:140px;float:left;margin-left:10px; height:20px">
								<a href="javascript:void(0)" data-id="{{this.id}}" class="search-item">{{this.name}}</a>
							</div>
						{{/each}}
					{{/if}}
				</div>
			</td>
			<td width="10%" height="30px;" align="right" valign="middle">
				
			</td>
		</tr>
	</tbody>
</table>
<div class="line"></div>