<div style="padding:0 10px 10px 10px;width:780px;height:400px;" id="pl-box" >
	<table style="width: 100%;">
		<tr>
		{{#if proLines}}
		{{#each proLines}}
			 {{#calculate '(' @index ')%3 == 0'}}
				 </tr>
				 <tr>
					 <td>
					 	<button data-id="{{this.id}}" class="btn btn-default pl" type="button" value="{{this.id}}" title = "{{this.name}}s" style="text-overflow: ellipsis; overflow:hidden;">{{this.name}}</button>
					 </td>	
			 {{/calculate}}
			 
			 {{#calculate '(' @index ')%3 != 0'}}
			 <td>
			 	<button data-id="{{this.id}}" class="btn btn-default pl" type="button" value="{{this.id}}" title = "{{this.name}}s" style="text-overflow: ellipsis; overflow:hidden;">{{this.name}}</button>
			 </td>
			 {{/calculate}}
			 
		{{/each}}
		{{else}}
		<td colspan="100%" style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;">
			No Data.
		</td>
		{{/if}}
		</tr>
	</table>
</div>
<!--
<div class="row-fluid">
  <div class="col-sm-12 btn-list">
    <button type="button" class="btn btn-success pull-right" id="select-config-ok">OK</button>
    <button type="button" class="btn btn-Danger pull-right" id="select-config-cancel">Cancel</button>
  </div>
</div>-->