<!-- 条件 -->
<div id="search-condition">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr>
				<td width="10%" height="30px;" align="right">
					<span style="font-weight:bold;font-size:10px;">Condition:</span>
				</td>
				<td width="80%" valign="middle">
					<div id="condition">
					</div>
				</td>
				<td width="10%">
						<button  type="button" class="btn btn-default" id="product-condition-search-btn"><i class="fa fa-search"></i>   Search</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="line"></div>
</div>
<div id="search-product-title">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr>
				<td width="10%" height="30px;" align="right" valign="middle">
					<span style="font-weight:bold;font-size:12px;">TITLE: </span>
				</td>
				<td width="80%" valign="middle">
					<div style="overflow: auto; height: 40px;" id="product_title_condition">
						{{# if titles}}
							{{#each titles}}
								<div style="width:140px;float:left;margin-left:10px; height:20px">
									<a href="javascript:void(0)" data-id="{{this.title_id}}" class="search-item">{{this.title_name}}</a>
								</div>
							{{/each}}
						{{/if}}
					</div>
				</td>
				<td width="10%" height="30px;" align="center" valign="middle">
					<span style="font-weight:bold;font-size:12px;">Multi </span>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="line"></div>
</div>

<div id="search-product-productline">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr>
				<td width="10%" height="30px;" align="right" valign="middle">
					<span style="font-weight:bold;font-size:12px;">Product <br /> Line: </span>
				</td>
				<td width="80%" valign="middle">
					<div style="overflow: auto; max-height: 40px;" id="product_productline_condition">
						{{# if proLines}}
							{{#each proLines}}
								<div style="width:140px;float:left;margin-left:10px; height:20px">
									<a href="javascript:void(0)" data-id="{{this.id}}" class="search-item">{{this.name}}</a>
								</div>
							{{/each}}
						{{/if}}
					</div>
				</td>
				<td width="10%" height="30px;" align="right" valign="middle">
					
				</td>
			</tr>
		</tbody>
	</table>
	<div class="line"></div>
</div>

<!-- 产品分类 -->

<div id="search-product-productCategory">
	<!-- 选择的产品分类 -->

</div>