<div id="search_command" aria-labelledby="ui-id-1"
			class="ui-tabs-panel ui-widget-content ui-corner-bottom"
			role="tabpanel" aria-hidden="false">
	<div>
		<div>
			<div class="eso_search_parent">
				<div class="eso_search_icon">
					<a> <img style="cursor: pointer;" id="eso_search"
						src="image/easy_search.gif">
					</a>
				</div>
			</div>

			<div class="eso_search_input">

				<input id="search_key" name="search_key" type="text"
					class="ui-autocomplete-input" autocomplete="off" role="textbox"
					aria-autocomplete="list" aria-haspopup="true" style="height: 30px;">
			</div>
		</div>
	</div>
</div>