<div id="product_all_tabs" style="width:820px;">
    <ul>
        
        <li><a href="#product_search_advanced_tab">Advanced Search</a></li>
        <li><a href="#product_search_account_tab">Search</a></li>
    </ul>
    <!--
    
    -->
    <div id="product_search_advanced_tab">
        <div id="product_search_advanced">
            <!-- 条件 -->
            <div id="search-condition" style="display:none;">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td width="10%" height="30px;" align="right">
                                <span style="font-weight:bold;font-size:10px;">Condition:</span>
                            </td>
                            <td width="80%" valign="middle">
                                <div id="condition">
                                </div>
                            </td>
                            <td width="10%">
                                    <button  type="button" class="btn btn-default" id="product-condition-search-btn"><i class="fa fa-search"></i>   Search</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="line"></div>
            </div>
            <!--TITLE BOX -->
            <div id="search-product-title">

            </div>
            <!--Product Line -->
            <div id="search-product-line">
            </div>
            <!--Product Category -->
            <div id="search-product-productCategory">
            </div>
        </div>
    </div>
    <div id="product_search_account_tab">
        <div id="product-list-search-view"></div>
    </div>
</div>
<div id="product-list-view" style="width:100%; height:260px;"></div>
