<!--Title  -->
<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td width="10%" height="30px;" align="right" valign="middle">
				<span style="font-weight:bold;font-size:12px;">TITLE: </span>
			</td>
			<td width="80%" valign="middle">
				<div style="overflow: auto; height: 60px;" id="product_title_condition">
					{{# if titles}}
						{{#each titles}}
							<div style="width:140px;float:left;margin-left:10px; height:20px">
								<a href="javascript:void(0)" data-id="{{this.title_id}}" class="search-item">{{this.title_name}}</a>
							</div>
						{{/each}}
					{{/if}}
				</div>
			</td>
			<td width="10%" height="30px;" align="center" valign="middle">
				<span style="font-weight:bold;font-size:12px;"></span>
			</td>
		</tr>
	</tbody>
</table>
<div class="line"></div>