<div class="search_result_list">
    <div>
        <table class="search_result_list_header" cellspacing="0">
            <tr>
                <th width="140px">Product Name</th>
                <th width="140px">Main Code</th>
                <th width="100px">UPC</th>
                <th width="60px">Length</th>
                <th width="60px">Heigth</th>
                <th width="60px">Width</th>
                <th width="60px" style="border-right:0px;">Weight
                </th>
            </tr>
        </table>

        <table class="search_result_list_content" cellspacing="0">
          {{#if list}}
            {{#each list}}
            <tr data-pc_id="{{this.pc_id}}" style="cursor:pointer;">
                <td valign="middle" width="140px">
                    {{this.p_name}}
                </td>
                <td valign="middle" width="140px">
                    {{this.p_code}}
                </td>
                <td valign="middle" width="120px">
                    {{this.upc}}
                </td>
                <td valign="middle" width="60px">
                    {{this.length}}
                </td>
                <td valign="middle" width="60px">
                    {{this.heigth}}
                </td>
                <td valign="middle" width="60px">
                    {{this.width}}
                </td>
                <td valign="middle" width="60px">
                    {{this.weight}}
                </td>
            </tr>
            {{/each}}
          {{else}}
            <tr>
                <td style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;">No Data.</td>
            </tr>
          {{/if}}  
        </table>
    </div>

    <div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
        <ul id="pagination" class="clearfix pagebox">
        </ul>
    </div>
</div>