 <!--隐藏域RequirementItem ID-->
 <div class="form-group row" id="ri_id_{{model.ri_id}}" >
 <input type="hidden"  value={{model.ri_id}} name="ri_id" data_type="{{model.display_type}}"/>
 {{#xifCond model.display_type '1' '='}}
 <!--TextField-->
    <label for="packages_content" class="col-sm-2 rcitem-label" style="padding-top: 0;font-weight: normal;line-height: 32px;">
    {{model.requirement_name}} :</label>
    <div class="col-sm-7">
        <div class="col-sm-7" style=" padding-left: 0px; ">
            <input  name="ri_val_{{model.ri_id}}" type="text" class="form-control "   style="height: 32px;" />
         </div>
    </div>
 {{/xifCond}}
 {{#xifCond model.display_type '2' '='}}
 <!--TextArea-->
    <label for="packages_content" class="col-sm-2 rcitem-label" style="padding-top: 0;font-weight: normal;">{{model.requirement_name}} :</label>
    <div class="col-sm-7">
        
	   <textarea name="ri_val_{{model.ri_id}}" class="form-control" rows="3" id="ri_val_{{model.ri_id}}"></textarea>
        
    </div>
 {{/xifCond}}

 {{#xifCond model.display_type '3' '='}}
 <!--Radio-->
    <label for="packages_content" class="col-sm-2 rcitem-label" style="padding-top: 0;font-weight: normal;line-height: 32px;">{{model.requirement_name}} :</label>
    <div class="col-sm-7" style="line-height: 32px;">
    	{{#each model.children}}
            <div class="col-sm-3" style=" padding-left: 0px; ">
        	   {{#if @first}}
        		 <strong style="font-weight: normal;"><input type="radio" name="ri_val_{{this.ri_id}}" value={{this.item_value}} checked="checked" id="ri_val_{{this.ri_id}}_{{this.item_value}}"> {{this.item_name}}</strong>
        	   {{else}}
        	   	 <strong style="font-weight: normal;"><input type="radio" name="ri_val_{{this.ri_id}}" value={{this.item_value}} id="ri_val_{{this.ri_id}}_{{this.item_value}}"> {{this.item_name}}</strong>
        	   {{/if}} 
           </div>
    	{{/each}}
    </div>
 {{/xifCond}}
 {{#xifCond model.display_type '4' '='}}
 <!--CHECK_BOX-->
    <label for="packages_content" class="col-sm-2 rcitem-label" style="padding-top: 0;font-weight: normal;line-height: 32px;">{{model.requirement_name}} :</label>
    <div class="col-sm-7" style="line-height: 32px;">
    	{{#each model.children}}
            <div class="col-sm-3" style=" padding-left: 0px; ">
    		 <strong style="font-weight: normal;"><input type="checkbox" name="ri_val_{{this.ri_id}}" value={{this.item_value}} id="ri_val_{{this.ri_id}}_{{this.item_value}}" /> {{this.item_name}}</strong>
             </div>
    	{{/each}}
    </div>
 {{/xifCond}}
 {{#xifCond model.display_type '5' '='}}
 <!--SELECT-->
    <label for="packages_content" class="col-sm-2 rcitem-label" style="padding-top: 0;font-weight: normal;line-height: 32px;">{{model.requirement_name}} :</label>
    <div class="col-sm-7">
        <div class="col-sm-7" style=" padding-left: 0px; ">
        	<select  name="ri_val_{{model.ri_id}}" style="width:100%;">
        	{{#each model.children}}
        	  {{#if @first}}
        		<option value="{{this.item_value}}" selected="selected">{{this.item_name}}</option>
        	  {{else}}
        	    <option value="{{this.item_value}}">{{this.item_name}}</option>
        	  {{/if}}  	
        	{{/each}}
        	</select>
        </div>
    </div>
{{/xifCond}} 
<!--Date-->
{{#xifCond model.display_type '6' '='}}
 <!--SELECT-->
    <label for="packages_content" class="col-sm-2 rcitem-label" style="padding-top: 0;font-weight: normal;line-height: 32px;">{{model.requirement_name}} :</label>
    <div class="col-sm-7">
        <div class="col-sm-7" style=" padding-left: 0px; ">
            <input  name="ri_val_{{model.ri_id}}" type="text" class="form_datetime form-control inconHand bgiconurl_" style="height: 32px;" readonly />
        </div>
    </div>
{{/xifCond}}    
    
<div class="col-sm-2" style="line-height: 32px;">
    <a href="javascript:void(0)" name="delRC" class="btn btn-default fa fa-remove" style="margin-left: 1px;" title="DELETE"></a>
    <a href="javascript:void(0)" name="addRC" class="btn btn-default fa fa-plus" style="margin-left: 1px;" title="ADD"></a>
</div>
</div> 