

<style>
#select2-chosen-2 {text-align:left;}
#select2-chosen-3 {text-align:left;}
</style>

<div id="advanced_search_tab_content">
    <form class="form-inline">

        <div class="form-group col-md-2 cus-style">
            <select id="_title" name="_title" style="width:100%;">
                <option value=""></option>
                {{#each titles}}
                <option value="{{title_id}}">{{title_name}}</option>
                {{/each}}
            </select>
        </div><!-- form-group -->
        
        <div class="form-group col-md-2 cus-style">
            <select id="_customer" name="_customer" style="width:100%;">
                <option value=""></option>
                {{#each customers}}
                <option value="{{customer_key}}">{{customer_id}}</option>
                {{/each}}
            </select>
        </div><!-- form-group -->

        <div class="form-group col-md-2 cus-style">
            <select id="_ship_to" name="_ship_to" style="width:100%;">
                <option value=""></option>
                {{#each shiptos}}
                <option value="{{ship_to_id}}">{{ship_to_name}}</option>
                {{/each}}
            </select>
        </div>
        
        
        <div class="form-group col-md-2 cus-style">
            <select id="selectStep" name="selectStep" style=" width:100%;">
                <option value=""></option>
                {{#each processSteps}}
                <option value="{{process_step}}">{{process_step_name}}</option>
                {{/each}}
            </select>
        </div>
        
        <div class="form-group col-md-2 cus-style" style="clear:left;">
            <select id="selectConfigType" name="_config_type" style=" width:100%;">
                <option value=""></option>
                {{#each configTypes}}
                <option value="{{this.value}}">{{this.text}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group col-md-2 cus-style">
            <input type="text" placeholder="Level Name..." class="form-control" name="config" id="config" style="width:100%;display:inline;" value={{model.config}}>
            <input type="hidden" id="config_id" value="{{model.config_id}}" />
            <input type="hidden" id="tsc_id" value="{{model.tsc_id}}" />
        </div>

        <div class="form-group col-md-2 cus-style">
            <select id="_requirement" name="_requirement" style=" width:100%;">
                <option value=""></option>
                {{#each requirements}}
                <option value="{{ri_id}}">{{requirement_name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group col-md-2 cus-style">
            <select id="_requirement_value" name="_requirement_value" style="width:100%;">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group col-md-1 ">
            <button id="btnLoadFilter" type="button" class="btn btn-primary"><i class="fa fa-search"></i>Search</button>
        </div>
            <button type="button" id="addConfig" class="btn btn-warning"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add SOP</button>
</form>

	<!--<table>
		<tr>
			<td><span class="search_title">Customer:</span></td>

			<td><span class="search_title">Title:</span></td>

			<td style="display:none;">
				<label for="accurately" style="font-weight:normal;margin:0;cursor: pointer;"><span class="search_title">Accurately:</span></label>
				<input type="checkbox" name="accurately" id="accurately" style="position: absolute;margin-top: 2px;margin-left: 5px;cursor: pointer;" checked/>
			</td>
			
			<td><span class="search_title">:</span>
            </td>
		</tr>
		
		<tr>
			<td><span class="search_title">Ship To:</span></td>
			<td><span class="search_title">Requirement:</span></td>
			<td><span class="search_title">Config:</span></td>
			<td id="_r_v" name="_r_v"></td>
			<td></td>
		</tr>
	</table>-->
</div>