
<div id="main" style="width: 950px;">
    <div class="lableinfo" style="background: #EEE;width: 950px;font-size: 12px;">
        <div style="width: 98%;margin-top: 5px">               
                 <div>
                 	 <div style="width:10%;float:left;margin-top: 5px;text-align:right">Label Name:&nbsp;</div>
	               	 <div style="width:17.5%;float:left;margin-top: 5px;text-align:left">
	                 	<input type="text" id="lableName" name="lableName" value="{{model.lable_name}}" size="15">
	                 	<input type="hidden" id="prevLableName" name="prevLableName" value="{{model.lable_name}}" size="15">
	                 </div> 
	                 <div style="width:10%;float:left;margin-top: 5px;text-align:right">Printer Name:&nbsp;</div>
	                 <div style="width:17.5%;float:left;margin-top: 5px;text-align:left">
	                     <input type="text" id="printName" name="printName" value="{{model.print_name}}" size="15">
	                 </div> 
	                 <div style="width:10%;float:left;margin-top: 5px;text-align:right">Label  Type:&nbsp;</div>
	                 <div style="width:35%;float:left;margin-top: 5px;text-align:left">
	                     <input type="text" id="lableType" name="lableType" value="{{model.lable_type}}" size="15">
	                 </div>
                 </div> 
                 
                 <div>
                 	<div style="width:10%;float:left;margin-top: 5px;text-align:right">Label Width:&nbsp;</div>
	                 <div style="width:17.5%;float:left;margin-top: 5px;text-align:left">
	                    <input type="text" id="lableWidth" name="lableWidth" disabled="disabled" value="{{model.lable_width}}" size="5">px
	                 </div>
	                 <div style="width:10%;float:left;margin-top: 5px;text-align:right">Label Height:&nbsp;</div>
	                 <div style="width:17.5%;float:left;margin-top: 5px;text-align:left">
	                 	<input type="text" id="lableHeight" disabled="disabled" name="lableHeight" value="{{model.lable_height}}" size="5">px
	                 </div>
	                 
	                 <div style="width:10%;float:left;margin-top: 5px;text-align:right">type:&nbsp;</div>
	                 <div style="width:14%;float:left;margin-top: 5px;text-align:left">	
							<select id="type">
								{{#each containerTypeKey}}
							      <option value="{{this.key}}" 
							        {{#ifCond this.key ../model.type}}
							          selected="true"
							        {{/ifCond}}
							      > {{this.value}}</option>
							    {{/each}}
							</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                     
	                 </div>
	                 <div style="float:left;margin-top: 5px">
	                    
	                    <input class="short-button" type="button" value="generate" id="generate" name="generate">
	                     <input class="short-button" type="button" value="preview" id="preview" name="preview">
	                     <input class="short-short-button-ok" type="button" value="save" id="create" name="create">
	                 </div>
                 </div>
              
        </div>
    </div>
    <div>

        <div class="container_origin" id="containerContent">
          <p style="margin-top:3px;margin-bottom:3px;">Edit the code:</p>          
          <textarea id="containerText" wrap="logical" onClick>
{{#if model.lable_content}}
  {{{model.lable_content}}}
{{/if}}{{#unless model.lable_content}}
  
	<table style="font-size: 13px;font-family: Arial;text-align:left;vertical-align:center;width:100%;empty-cells:show;border-collapse: collapse; ">
	  <tr style="height:43px;text-align:center;">
	    <td rowspan="2" style="font-size: 100px;border-right:2px solid black;border-bottom:2px solid black;width:40%;">
	    	<center><b>C</b></center>
	    </td>
	    <td colspan="2" style="border-right: 2px solid black;border-bottom: 2px solid black;border-left: 2px solid black;width:20%;">
	    	<h2 style="margin-top:16px;">Date</h2>
	    </td>
	    <td style="border-bottom: 2px solid black;border-left: 2px solid black;width:40%">
		    <h2 style="margin-top:16px;font-weight:bold;">
		    	<span name="dateShow" style="font-weight: bold; font-size:18px;">{DATE}&nbsp;&nbsp; </span>
				<input name="input_date" type="text" class="edit_box" size="10" style="font-weight: bold; font-size:18px;display:none;" value="">
		    </h2>
	    </td>
	  </tr> 
	  <tr>
	    <td colspan="3" style="height:75px;border-bottom: 2px solid black;width:60%">&nbsp;&nbsp;Packaging Type
	    	<div name="show_typeid" style="font-size: 27px;font-weight:bold;"><center>{TYPEID}&nbsp;&nbsp; </center></div>
	    </td>
	  </tr>   
	  <tr style="height:70px;text-align:center">
	  	<td colspan="4" style="border-bottom: 2px solid black;padding-top:5px;">
	  		<img name="pcodeImg" src="/barbecue/barcode?data=$PCODE$&width=1&height=50&type=code39">
	  		<div name="pcodeText" style="font-size: 20px;font-weight:bold;">{PCODE}&nbsp;&nbsp; </div>
	  	</td>
	  </tr>
	  <tr style="min-height:45px"> 
	    <td colspan="4" style="border-bottom: 2px solid black;">&nbsp;&nbsp;LOT 
		    <div name="show_lot" style="font-size: 20px;font-weight:bold;">
		    	<center class="edit_box" contenteditable="true">{LOT}&nbsp;&nbsp; </center>
		    </div>
	    </td>
	  </tr>
	  <tr style="min-height:45px">
	    <td colspan="2" style="border-bottom: 2px solid black;">&nbsp;&nbsp;Title
	    	<div name="show_title" class="edit_box" style="font-size: 20px;font-weight:bold;min-height:30px;" contenteditable="true">
	    		<center>{TITLE}&nbsp;&nbsp; </center>
	    	</div>
	    	<select name="select_title" style="width:98%;height:26px;display: none;">
		    	<option value=""></option>
		    </select>
	    </td>
	    <td colspan="2" style="border-left: 2px solid black;border-bottom: 2px solid black;">&nbsp;&nbsp;Customer
		    <div name="show_customer" class="edit_box" style="font-size: 20px;font-weight:bold;min-height:30px;" contenteditable="true">
		    	<center>{CUSTOMER} &nbsp;&nbsp; </center>
		    </div>
		    <select name="select_customer" style="width:98%;height:26px;display: none;">
		    	<option value=""></option>
		    </select>
	    </td>
	  </tr>
	  <tr style="min-height:45px"> 
	    <td colspan="2" style="border-right: 2px solid black;border-bottom: 2px solid black;">&nbsp;&nbsp;Total-Products
	    	<div name="show_totpdt"  style="font-size: 20px;font-weight:bold;"><center>{TOTPDT}&nbsp;&nbsp; </center></div>
	    </td>
	    <td colspan="2" style="border-bottom: 2px solid black;">&nbsp;&nbsp;Total-Packages
	    	<div name="show_totpkg" style="font-size: 20px;font-weight:bold;"><center>{TOTPKG}  </center></div>
	    </td>
	  </tr> 
	   <tr style="min-height:45px"> 
	    <td colspan="4" style="border-bottom: 2px solid black;">&nbsp;&nbsp;CLP Type
		    <div name="show_clptype" style="font-size: 20px;font-weight:bold;">
		    	<center>{CLPTYPE}&nbsp;&nbsp; </center>
		    </div>
	    </td>
	  </tr>
	  <tr style="height:108px;text-align:center">
	    <td colspan="4"><img src="/barbecue/barcode?data=$CONID$&width=1&height=50&type=code39"><br>
	    <div style="font-size: 30px;font-weight:bold;"><center>{CONID}</center></div></td> 
	  </tr>
	</table>
{{/unless}}</textarea>
        </div>
        
        <div id="clpText" style="display: none;">
        	<table style="font-size: 13px;font-family: Arial;text-align:left;vertical-align:center;width:100%;empty-cells:show;border-collapse: collapse; ">
			  <tr style="height:43px;text-align:center;">
			    <td rowspan="2" style="font-size: 100px;border-right:2px solid black;border-bottom:2px solid black;width:40%;">
			    	<center><b>C</b></center>
			    </td>
			    <td colspan="2" style="border-right: 2px solid black;border-bottom: 2px solid black;border-left: 2px solid black;width:20%;">
			    	<h2 style="margin-top:16px;">Date</h2>
			    </td>
			    <td style="border-bottom: 2px solid black;border-left: 2px solid black;width:40%">
				    <h2 style="margin-top:16px;font-weight:bold;">
				    	<span name="dateShow" style="font-weight: bold; font-size:18px;">{DATE}&nbsp;&nbsp; </span>
						<input name="input_date" type="text" class="edit_box" size="10" style="font-weight: bold; font-size:18px;display:none;" value="">
				    </h2>
			    </td>
			  </tr> 
			  <tr>
			    <td colspan="3" style="height:75px;border-bottom: 2px solid black;width:60%">&nbsp;&nbsp;Packaging Type
			    	<div name="show_typeid" style="font-size: 27px;font-weight:bold;"><center>{TYPEID}&nbsp;&nbsp; </center></div>
			    </td>
			  </tr>   
			  <tr style="height:70px;text-align:center">
			  	<td colspan="4" style="border-bottom: 2px solid black;padding-top:5px;">
			  		<img name="pcodeImg" src="/barbecue/barcode?data=$PCODE$&width=1&height=50&type=code39">
			  		<div name="pcodeText" style="font-size: 20px;font-weight:bold;">{PCODE}&nbsp;&nbsp; </div>
			  	</td>
			  </tr>
			  <tr style="min-height:45px"> 
			    <td colspan="4" style="border-bottom: 2px solid black;">&nbsp;&nbsp;LOT 
				    <div name="show_lot" style="font-size: 20px;font-weight:bold;">
				    	<center class="edit_box" contenteditable="true">{LOT}&nbsp;&nbsp; </center>
				    </div>
			    </td>
			  </tr>
			  <tr style="min-height:45px">
			    <td colspan="2" style="border-bottom: 2px solid black;">&nbsp;&nbsp;Title
			    	<div name="show_title" class="edit_box" style="font-size: 20px;font-weight:bold;min-height:30px;" contenteditable="true">
			    		<center>{TITLE}&nbsp;&nbsp; </center>
			    	</div>
			    	<select name="select_title" style="width:98%;height:26px;display: none;">
				    	<option value=""></option>
				    </select>
			    </td>
			    <td colspan="2" style="border-left: 2px solid black;border-bottom: 2px solid black;">&nbsp;&nbsp;Customer
				    <div name="show_customer" class="edit_box" style="font-size: 20px;font-weight:bold;min-height:30px;" contenteditable="true">
				    	<center>{CUSTOMER} &nbsp;&nbsp; </center>
				    </div>
				    <select name="select_customer" style="width:98%;height:26px;display: none;">
				    	<option value=""></option>
				    </select>
			    </td>
			  </tr>
			  <tr style="min-height:45px"> 
			    <td colspan="2" style="border-right: 2px solid black;border-bottom: 2px solid black;">&nbsp;&nbsp;Total-Products
			    	<div name="show_totpdt" style="font-size: 20px;font-weight:bold;"><center>{TOTPDT}&nbsp;&nbsp; </center></div>
			    </td>
			    <td colspan="2" style="border-bottom: 2px solid black;">&nbsp;&nbsp;Total-Packages
			    	<div name="show_totpkg" style="font-size: 20px;font-weight:bold;"><center>{TOTPKG}  </center></div>
			    </td>
			  </tr> 
			   <tr style="min-height:45px"> 
			    <td colspan="4" style="border-bottom: 2px solid black;">&nbsp;&nbsp;CLP Type
				    <div name="show_clptype" style="font-size: 20px;font-weight:bold;">
				    	<center>{CLPTYPE}&nbsp;&nbsp; </center>
				    </div>
			    </td>
			  </tr>
			  <tr style="height:108px;text-align:center">
			    <td colspan="4"><img src="/barbecue/barcode?data=$CONID$&width=1&height=50&type=code39"><br>
			    <div style="font-size: 30px;font-weight:bold;"><center>{CONID}</center></div></td> 
			  </tr>
			</table>
        </div>
        <div id="tlpText" style="display: none;">
        	<table style="font-size: 13px;font-family: Arial;text-align:left;vertical-align:center;width:100%;empty-cells:show;border-collapse: collapse; ">
			  <tr style="height:43px;text-align:center;">
			    <td rowspan="2" style="font-size: 100px;border-right:2px solid black;border-bottom:2px solid black;width:40%;">
			    	<center><b>T</b></center>
			    </td>
			    <td colspan="2" style="border-right: 2px solid black;border-bottom: 2px solid black;border-left: 2px solid black;width:20%;">
			    	<h2 style="margin-top:16px;">Date</h2>
			    </td>
			    <td style="border-bottom: 2px solid black;border-left: 2px solid black;width:40%">
				    <h2 style="margin-top:16px;font-weight:bold;">
				    	<span name="dateShow" style="font-weight: bold; font-size:18px;">{DATE}&nbsp;&nbsp; </span>
						<input name="input_date" type="text" class="edit_box" size="10" style="font-weight: bold; font-size:18px;display:none;" value="">
				    </h2>
			    </td>
			  </tr> 
			  <tr>
			    <td colspan="3" style="height:75px;border-bottom: 2px solid black;width:60%">&nbsp;&nbsp;Packaging Type
			    	<div name="show_typeid" style="font-size: 27px;font-weight:bold;"><center>{TYPEID}&nbsp;&nbsp; </center></div>
			    </td>
			  </tr>   
			  <tr style="height:70px;text-align:center">
			  	<td style="border-bottom: 2px solid black;padding-top:5px;" colspan="4">
			  		<img name="pcodeImg" src="/barbecue/barcode?data=$PCODE$&amp;width=1&amp;height=50&amp;type=code39">
			  		<div name="pcodeText" align="center" style="font-size: 20px; font-weight: bold;"><center>{PCODE}&nbsp; </center></div>
					<div><input name="pcodeInput" type="text" value="{PCODE}" style=" display: none;font-weight: bold; font-size: 18px;text-transform:uppercase;" class="edit_box"></div>
			  	</td>
			  </tr> 
			  <tr style="min-height:45px"> 
			    <td colspan="4" style="border-bottom: 2px solid black;">&nbsp;&nbsp;LOT 
				    <div name="show_lot" class="edit_box" style="font-size: 20px;font-weight:bold;" contenteditable="true">
				    	<center>{LOT}&nbsp;&nbsp; </center>
				    </div>
			    </td>
			  </tr>
			  <tr style="min-height:45px">
			    <td colspan="2" style="border-bottom: 2px solid black;">&nbsp;&nbsp;Title
			    	<div name="show_title" style="font-size: 20px;font-weight:bold;min-height:30px;" contenteditable="true">
			    		<center>{TITLE}&nbsp;&nbsp; </center>
			    	</div>
			    	<select name="select_title" style="width:98%;height:26px;display: none;">
				    	<option value=""></option>
				    </select>
			    </td>
			    <td colspan="2" style="border-left: 2px solid black;border-bottom: 2px solid black;">&nbsp;&nbsp;Customer
				    <div name="show_customer" class="edit_box" style="font-size: 20px;font-weight:bold;min-height:30px;" contenteditable="true">
				    	<center>{CUSTOMER}&nbsp;&nbsp; </center>
				    </div>
				    <select name="select_customer" style="width:98%;height:26px;display: none;">
				    	<option value=""></option>
				    </select>
			    </td>
			  </tr>
			  
			  <tr style="min-height:45px"> 
			    <td colspan="2" style="border-right: 2px solid black;border-bottom: 2px solid black;">&nbsp;&nbsp;Total-Products
			    	<div name="show_totpdt" class="edit_box" contenteditable="true" style="font-size: 20px;font-weight:bold;">
			    	<center>{TOTPDT}&nbsp; </center></div>
			    </td>
			    <td colspan="2" style="border-bottom: 2px solid black;">&nbsp;&nbsp;Total-Packages
			    	<div name="show_totpkg" class="edit_box" contenteditable="true" style="font-size: 20px;font-weight:bold;">
			    	<center>{TOTPKG}&nbsp; </center></div>
			    </td>
			    
			  </tr> 
			  <tr style="height:108px;text-align:center">
			    <td colspan="4" name="td_conid"><img src="/barbecue/barcode?data=$CONID$&width=1&height=50&type=code39"><br>
			    <div style="font-size: 30px;font-weight:bold;"><center>{CONID}</center></div></td> 
			  </tr>
			</table>
        </div>
        
        
        
        
        <div class="container_button" id="containerButton">
          <img id='upArrow' src="./img/upArrow.jpg" style='disabled:true;'><br>

          <div class='wrap'>
                            
            <div class='inner'>
              <div class='normal'>
                <div style='text-align:left;'  id='brief'><label style='line-height:30px;'>Normal Tag</label></div>
                <input type='button' class='long-button' data-value='DATE' id='date' name='msgInsert' value='date' /><br>
                <input type='button' class='long-button' data-value='TYPEID' id='containerTypeId' name='msgInsert' value='type id' /><br>
                <input type='button' class='long-button' data-value='CONID' id='pid' name='msgInsert' value='con id'/><br>
                <input type='button' class='long-button' data-value='NAME' id='productName' name='msgInsert' value='name'/><br>
                <input type='button' class='long-button' data-value='LOT' id='lot' name='msgInsert' value='lot'/><br>
                <input type='button' class='long-button' data-value='CUSTOMER' id='customer' name='msgInsert' value='customer'/><br>
                <input type='button' class='long-button' data-value='TITLE' id='title' name='msgInsert' value='title'/><br>
                <input type='button' class='long-button' data-value='TOTPDT' id='totalProducts' name='msgInsert' value='tot products'/>
                <input type='button' class='long-button' data-value='TOTPKG' id='totalPackages' name='msgInsert' value='tot packages'/>
                <input type='button' class='long-button' data-value='PIECE' id='piece' name='msgInsert' value='piece'/><br>
                <input type='button' class='long-button' data-value='PACKAGES' id='packages' name='msgInsert' value='packages'/><br>
                <input type='button' class='long-button' data-value='PCODE' id='pcode' name='msgInsert' value='pcode'/><br>                
              </div>
              <div class='barcode'>    
                <div style='text-align:left;'  id='brief'><label style='line-height:30px;'>Barcode Tag</label></div>            
                <input type='button' class='long-button' data-value='DATE' id='dateBarcode' name='barcodeInsert' value='date'/><br>
                <input type='button' class='long-button' data-value='TYPEID' id='containerTypeIdBarcode' name='barcodeInsert' value='type id'/><br>
                <input type='button' class='long-button' data-value='PID' id='pidBarcode' name='barcodeInsert' value='pid'/><br>
                <input type='button' class='long-button' data-value='NAME' id='productNameBarcode' name='barcodeInsert' value='name'/><br>
                <input type='button' class='long-button' data-value='LOT' id='lotBarcode' name='barcodeInsert' value='lot'/><br>
                <input type='button' class='long-button' data-value='CUSTOMER' id='customerBarcode' name='barcodeInsert' value='customer'/><br>
                <input type='button' class='long-button' data-value='TITLE' id='titleBarcode' name='barcodeInsert' value='title'/><br>
                <input type='button' class='long-button' data-value='TOTPDT' id='totalProductsBarcode' name='barcodeInsert' value='tot products'/>
                <input type='button' class='long-button' data-value='TOTPKG' id='totalPackagesBarcode' name='barcodeInsert' value='tot packages'/>
                <input type='button' class='long-button' data-value='PIECE' id='pieceBarcode' name='barcodeInsert' value='piece'/><br>
                <input type='button' class='long-button' data-value='PACKAGES' id='packagesBarcode' name='barcodeInsert' value='packages'/><br>
                <input type='button' class='long-button' data-value='PCID' id='pcidBarcode' name='barcodeInsert' value='pcid'/><br>
              </div>              
            </div>
          </div>
           <img id='downArrow' src="./img/downArrow.jpg">
        </div>
        <div class="container_compile" id="containerCompile">
            <p style="margin-top:3px;margin-bottom:4px;">Result:</p>            
            <div id="containerPreview" class="container_preview">
              {{#if model.lable_content}}
                {{{model.lable_content}}}
              {{/if}}
            </div>            
       </div>
  </div>
</div>  
