<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="table table-striped table-bordered ">
<thead>
    <tr> 
        <th class="left-title" style="text-align: center;">Template Name</th>
        <th class="right-title" style="vertical-align: center;text-align: center;">Printer Name</th>
        <th align="left"  class="right-title" style="vertical-align: center;text-align: center;">Paper Type</th>
		<th align="center"  class="right-title" style="vertical-align: center;text-align: center;">Template Type</th>
   {{!--<th align="center"  class="right-title" style="vertical-align: center;text-align: center;">Width</th>
     	<th  class="right-title" style="vertical-align: center;text-align: center;">Height</th> --}}
        
        <th width="165"  class="right-title" style="vertical-align: center;text-align: center;">Operation</th>
    </tr>
  </thead>
  <tbody>
  {{#each lables}}
    <tr> 
      <td align="center" valign="middle"  style='word-break:break-all;padding-top:10px;padding-bottom:10px;' >{{this.lable_name}}</td>
      <td align="center" valign="middle" style='word-break:break-all;' >{{this.print_name}}</td>
      <td align="center" valign="middle" style="line-height:20px;">{{this.lable_type}}</td>
	  <td align="center" valign="middle">
	  	{{#xifCond ./this.lable_template_type 1 '='}}
			PCTemplate
		{{/xifCond}}
	  	{{#xifCond ./this.lable_template_type 2 '='}}
			ContainerTemplate
		{{/xifCond}}
	  </td>
{{!-- 	  <td align="center" valign="middle">{{this.lable_width}}</td>
      <td align="center" valign="middle">{{this.lable_height}}</td>--}}

      <td align="center" valign="middle" nowrap="nowrap">
       {{!-- <input name="Submit1" type="button" class="short-short-button-mod"  templateTypeValue="{{this.lable_template_type}}" id="{{this.lable_id}}" value="Edit" >--}}
         <button type="button" class="btn btn-default btn-sm" id="{{this.lable_id}}" name="Submit1" templateTypeValue="{{this.lable_template_type}}">
			<span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
		</button>
          &nbsp;&nbsp;
       {{!--  <input name="Submit2" type="button" class="short-short-button-del" id="{{this.lable_id}}" value="Del" >--}}
        <button type="button" class="btn btn-default btn-sm" id="{{this.lable_id}}" name="Submit2">
			<span class="glyphicon glyphicon-remove"></span>&nbsp;Del
		</button>
		&nbsp;&nbsp;
        <button type="button" class="btn btn-default btn-sm" id="{{this.lable_id}}" name="showTemp" data-height="{{this.lable_height}}" data-width="{{this.lable_width}}" lablename="{{this.lable_name}}" lableContent="{{this.lable_content}}">
			<span class="glyphicon glyphicon-eye-open"></span>&nbsp;Preview
		</button>
          
        {{!-- <input name="showTemp" type="button" class="short-button" data-height="{{this.lable_height}}" data-width="{{this.lable_width}}" lablename="{{this.lable_name}}" lableContent="{{this.lable_content}}" value="Preview" />--}}

      </td>
    </tr>
    {{/each}}
    {{#unless lables}}
    <tr>
      <td style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;" colspan="6">NO Data</td>
    </tr>
  {{/unless}}
  </tbody>
  </table>

  <table width="100%" align="center" cellspacing="0" cellpadding="3" border="0">
     <tr>
        <td colspan="6" class="turn-page-table" valign="middle" height="28" align="right" style="font-family: Verdana,Geneva,sans-serif;
    font-size: 8pt;"> 
            Page: {{pageCtrl.pageNo}}/{{pageCtrl.pageCount}}&nbsp;&nbsp;
            Total：{{pageCtrl.allCount}}&nbsp;&nbsp; 
            
            {{#if pageCtrl.first}} <a class="gop" style="cursor:pointer" data-pageno="1" >First</a>&nbsp;&nbsp;{{/if}}
            {{#unless pageCtrl.first}} <font color="#AAAAAA">First</font>{{/unless}}

            {{#if pageCtrl.fornt}} <a class="gop" style="cursor:pointer" data-pageplus="-1">Previous</a>&nbsp;&nbsp;{{/if}}
            {{#unless pageCtrl.fornt}} <font color="#AAAAAA">Previous</font>{{/unless}}

            {{#if pageCtrl.next}} <a class="gop" style="cursor:pointer" data-pageplus="1">Next</a>&nbsp;&nbsp; {{/if}}
            {{#unless pageCtrl.next}} <font color="#AAAAAA">Next</font>{{/unless}}

            {{#if pageCtrl.last}} <a class="gop" style="cursor:pointer" data-pageno="{{pageCtrl.pageCount}}">Last</a>{{/if}}
            {{#unless pageCtrl.last}} <font color="#AAAAAA">Last</font>{{/unless}}

            Goto<input id="jump_p2" type="text" value="{{pageCtrl.pageNo}}" style="width:28px;" name="jump_p2">
            <button class="gop" data-pageto="1" >GO</button>
        </td>
    </tr>  
</table>