<div class="col-md-3">
	<input class="form-control" placeholder="Template Name" name="input_lableName" type="text" id="input_lableName" size="20" value=""/> 
</div>
<div class="col-md-2">
	<select id="input_templateType" style="width:100%;" tabindex="-1">
	<option value="" ></option>
	<option value="0" > All Templates</option>
	<option value="1" > PCTemplate </option>
	<option value="2" > ContainerTemplate </option>
	</select>
</div>
<div class="col-md-2"></div>
<div class="col-md-3">
	<button id="search" data-submit="1" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>Search</button>
</div>