<div class="panel panel-default">
  	<div id="progress_task_header" class="panel-heading">
      <div class="left">Task Progress</div>
      <div id="progress-back-buttons-div"><a href="#" id="task_progress_back" class="btn btn-warning">
      <span class="glyphicon glyphicon-list-alt"></span> Manage Tasks List</a></div>
      <div class="clear"></div>
  	</div>
  	<div class="panel-body">
  			<table class="info_table">
  				<tr>
  					<td class="labele">Warehouse</td>
  					<td class="val">{{task.WAREHOUSE_NAME}}</td>
            {{#if task.PRODUCT_LINE_NAME}}
  					<td class="labele">Product Line</td>
  					<td class="val">{{task.PRODUCT_LINE_NAME}}</td>
            {{/if}}
            {{#if task.PRODUCT_CATEGORY_NAME}}
            <td class="labele">Category</td>
            <td class="val">{{task.PRODUCT_CATEGORY_NAME}}</td>
            {{/if}}
  					<td class="labele">Created By</td>
  					<td class="val">{{task.CREATED_BY_NAME}}</td>
  				</tr>
  				<tr >
  					<td class="labele">Repeating</td>
  					<td class="val">{{task.IS_REPEAT}}</td>
  					<td class="labele">Type</td>
  					<td class="val">{{task.TYPE}}</td>
  					<td class="labele">Start Date</td>
  					<td class="val">{{task.STARTS_ON}}</td>
  					{{#if task.ENDS_ON}}
  						<td class="labele">End Date</td>
  						<td class="val">{{task.ENDS_ON}}</td>
  					{{else}}
  						<td class="labele">End After</td>
  						<td class="val">{{task.ENDS_OCCURRENCE}} Occurrences</td>
  					{{/if}}
  				</tr>
          <tr>
            <td class="labele">Priority</td>
            <td class="val">{{task.PRIORITY}}</td>
            <td class="labele">Code</td>
            <td class="val">{{task.CODE}}</td>
            {{#if task.STATUS}}
            <td class="labele">Status</td>
            <td class="val">{{task.STATUS}}</td>
            {{/if}}
            {{#if task.LP_TYPE}}
            <td class="labele">LP Type</td>
            <td class="val">{{task.LP_TYPE_NAME}}</td>
            {{/if}}
          </tr>
          {{#if task.TITLES}}
          <tr>
            <td class="labele">Title</td>
            <td class="val" colspan="4">{{task.TITLE}}</td>
          </tr>
          {{/if}}
          {{#if task.MODEL_NUMBERS}}
          <tr>
            <td class="labele">Model #</td>
            <td class="val" colspan="4">{{task.MODELS}}</td>
          </tr>
          {{/if}}
          {{#if task.LOT_NUMBERS}}
          <tr>
            <td class="labele">Lot #</td>
            <td class="val" colspan="4">{{task.LOTS}}</td>
          </tr>
          {{/if}}
  				{{#if repeating}}
  				<tr>
  					<td class="labele">Repeat By</td>
  					<td class="val">{{task.REPEAT_BY}}</td>
  					<td class="labele">Repeat Every</td>
  					<td class="val">{{task.REPEAT_EVERY}}</td>
  					<td class="labele">Duration</td>
  					<td class="val">{{task.DURATION}}</td>
  					
  				</tr>
  				{{/if}}
  			</table>
        <div id="progress_user_area_location_header">
        <span class="glyphicon glyphicon-plus"></span> Area / Location Assignments</div>	
        <div id="progress_user_area_location"></div>

			<div id="second_level_progress_wrapper">
  			<div id="second_level_progress">
  				<div id="instances_progress"></div>
  				<div id="instances_area_progress"></div>
  				<div id="location_differences_container"></div>
          <div class="clear"></div>
  			</div>
      </div>

	</div>
</div>