<div id="reassign_view_table_wrapper">
	<div class="div-table" id="reassign_view_table">
		<div class="div-table-row">

			<div class="div-table-cell left_side">
				<div id="reassign_view_area_locations">
					<div id="reassign_view_users_name_list">
						<div class="employee_box" id="reassign_select_all_users_div">
							<input type="checkbox" id="reassign_select_all_users"/>
							<span>Select All</span>
						</div>
						
					</div>
					<div id="reassign_assign_user_button_div">
						<a class="btn btn-primary disabled" id="reassign_assign_user_button">Reassign User</a>
						<div class="clear"></div>
					</div>
					<div id="reassign_view_areas_place"></div>
				</div>
			</div>

			<div class="div-table-cell right_side">
				<div id="reassign_view_users_side"  class="panel panel-default">
					{{#if users.length}}
					<div class="body panel-body">
						<div class="employee_box_div">
						{{#each users}}
							<div class="employee_box" >
								<div class="employee_name" id="{{this.user_id}}">{{this.user_name}}</div>
								<div class="count">{{this.count}}</div>
								<div class="clear"></div>
							</div>
						{{/each}}
						</div>
						<div class="clear"></div>
					</div>
					{{/if}}
					<div class="panel-footer">
						<a  id="reassign_assign_user_ok" class="btn btn-primary disabled">
						<span class="glyphicon glyphicon-ok"></span> Ok</a>
						<a  id="reassign_assign_user_cancel" class="btn btn-warning">
						<span class="glyphicon glyphicon-cancel"></span> Cancel</a>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>




