<div class="div-table-cell" id="reassign_areas_{{areaId}}" data-area_id="{{areaId}}">
	<div class="panel panel-default">
		<div class="panel-heading header">
			<input type="checkbox" name="area_selection_checkbox" id="select_all_loc_{{areaId}}"/>
			<span>{{areaName}}</span>
		</div>
		<div class="body panel-body">
			<div class="locations_block" >
				<ul id="reassign_locations_{{areaId}}" class="list-unstyled">
				</ul>	
			</div>

		</div>
	</div>
</div>