
<li id="reassign_location_{{locationId}}" class="assigned">
	<label>
		<input type="checkbox" data-location_id="{{locationId}}" id="loc_{{locationId}}"/>
		<span>{{locationName}}</span>
		<div class='assigned_user' data-assigned_user_id="{{userId}}" id="reassign_location_user_{{userId}}" title="{{userName}}">&nbsp;</div>
		
	</label>
	
</li>