<div class="div-table">
	<div class="div-table-row">
		<div class="div-table-cell">
			<div class="input-group" id="search_warehouse_list_view">
				
			</div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="search_title_list_view"></div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="search_product_line_list_view"></div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="search_product_cat_list_view"></div>
		</div>
		
		
	</div>
	<div class="div-table-row">
		<div class="div-table-cell">
			<div class="input-group" id="search_model_list_view"></div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="search_lot_list_view"></div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="search_lp_type_list_view"></div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="search_task_number_div">
				<div class="input-group-addon">Task Code</div><input type="hidden" id="search_selected_task_number"/>
				<input type="text" id="search_task_number" class="form-control" maxlength="30"/>
			</div>
		</div>
	</div>
	<div class="div-table-row">
		<div class="div-table-cell">
			<div class="input-group" id="search_priority_list_view"></div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="search_user_list_view"></div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="search_created_by_list_view"></div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="search_type_list_view"></div>
		</div>
		
		
	</div>
	
	<div class="div-table-row">
		<div class="div-table-cell">
			<div class="input-group" id="search_repeat_list_view"></div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="search_status_list_view"></div>
		</div>
		<div class="div-table-cell">
			<div class="input-group" id="search_start_date_view">
				<div class="input-group-addon">Start Date</div>
				<input type="text" id="search_start_date" />
			</div>
		</div>
		<div class="div-table-cell" id="search_end_date_view">
			<div class="input-group" >
				<div class="input-group-addon">End Date</div>
				<input type="text" id="search_end_date" />
			</div>
		</div>
		
		
	</div>
	<div class="div-table-row">	
		<div class="div-table-cell"></div>
		<div class="div-table-cell"></div>
		<div class="div-table-cell"></div>
		<div class="div-table-cell" id="search_btn_div">
			<a href="#" id="search_task_btn" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Search</a>
			<a href="#" id="manage_clear_btn" class="btn btn-info"> Clear</a>
		</div>
	</div>
	
</div>