﻿<table id="filtertable" class="filter">
    <tr>
        <td align="left" width="230px;">
            <div class="input-group">
                <span class="input-group-addon">Hub</span>
                <input id="searchOrderCompany" type="text" class="form-control immybox immybox_witharrow"  placeholder="Hub" />
            </div>
        </td>
        <td align="left" colspan="2">
            <div class="input-group">
                <span class="input-group-addon"> MABD </span>
                <input id="searchOrderBeginRequest" type="text" placeholder="Start Date" class="form_datetime form-control select_in_line" style="width:150px;cursor: pointer;" readonly="readonly" />
                <span class="input-group-addon">~</span>
                <input id="searchOrderEndRequest" type="text" placeholder="End Date" class="form_datetime form-control select_in_line" style="width:150px;cursor: pointer;" readonly="readonly" />
            </div>
        </td>
        
       
    </tr>
    <tr>
        <td align="left" width="230px;">
            <div class="input-group">
                <span class="input-group-addon">Customer</span>
                <input id="searchOrderCustomer" type="text" class="form-control immybox immybox_witharrow" placeholder="Customer" />
            </div>
        </td>
        <td align="left">
            <div class="input-group" style="float:left;">
                <span class="input-group-addon">Order NO.</span>
                <input id="searchOrderPoNo" type="text" placeholder="Order NO." class="form-control" style="width:150px;" />

            </div>
            
           
        </td>
        <td width="120px;">
            <button type="button" id="btnOrderFilter" class="btn btn-info" style="margin-left: 20px;">Search</button>
        </td>
    </tr>
</table>
<div id="allTableList"></div>