﻿<div class="form-group col-sm-3">
    <div class="input-group">
        <label for="newAddress">New Address</label>&nbsp;
        <input id="newAddress" type="radio" name="addressSelect"  checked="checked" />
    </div>
</div>

<div class="form-group col-sm-3">
    <div class="input-group">
        <label for="oldAddress">Old Address</label>&nbsp;
        <input id="oldAddress" type="radio" name="addressSelect" />
    </div>
</div>

<div class="form-group col-sm-12">
    <div class="input-group">
        <span class="input-group-addon">Address</span>
        <input id="address" type="text" class="form-control" maxlength="200" placeholder="Address" />
    </div>
</div>

<div class="form-group col-sm-12">
    <div class="input-group">
        <span class="input-group-addon">ZipCode</span>
        <input id="zipCode" type="text" class="form-control" maxlength="8" placeholder="ZipCode"/>
    </div>
</div>


<!--hyq has add city and status-->
<div class="form-group col-sm-12">
    <div class="input-group">
        <span class="input-group-addon">Country</span>
        <input id="country" type="text" data-value="11036" placeholder="Country" class="form-control immybox immybox_witharrow" placeholder=""/>
    </div>
</div>
<div class="form-group col-sm-12">
    <div class="input-group">
        <span class="input-group-addon">Ship-to State</span>
        <input id="shipState" type="text" class="form-control immybox immybox_witharrow" maxlength="50" data-value="" placeholder="Ship-to State"/>
    </div>
</div>
<div class="form-group col-sm-12">
    <div class="input-group">
        <span class="input-group-addon">Ship-to City</span>
        <input id="shipCity" type="text" data-value="" class="form-control" maxlength="50" placeholder="Ship-to City"/>
    </div>
    </div>
</div>
