<div id="details" class="tab-pane">
	<form class="form-horizontal" role="form">
	<input type="hidden" id="loadId">
	  <div class="form-group">
	    <label for="packages_content" class="col-sm-2 control-label"><span class="red_star">*</span>Load NO.:</label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" placeholder="Load NO." id="addLoadNo">
	    </div>
		<label for="packages_content2" class="col-sm-2 control-label"><span class="red_star">*</span>SCAC<!-- Carrier -->:</label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control immybox immybox_witharrow" placeholder="SCAC" id="addCarrier" >
	    </div>
	    <div class="col-sm-2">
	      <button type="button" class="btn btn-info pull-right" id="btnSaveInfo">Submit</button>
	    </div>
	  </div>
	</form>
</div>