﻿<div class="form-inline quick-search" role="form" >
    <div class="form-group">
        <div class="">
            <button type="button" id="btnAddOrder" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>Select</button>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">Order NO.</div>
            <input class="form-control minWith200" type="text" placeholder="Order NO." id="inputQuickOrder">
        </div>
    </div>
</div>