<div class="form-inline">
    <div class="form-group col-sm-4">
        <div class="input-group">
            <span class="input-group-addon"  style="width:87px;">Hub</span>
            <input id="searchLoadCompany" type="text" class="form-control immybox immybox_witharrow" placeholder="Hub" />
        </div>
    </div>
	
    <div class="form-group col-sm-5">
        <div class="input-group">
            <span class="input-group-addon">MABD</span>
            <input id="searchLoadBeginMABD" type="text" placeholder="Start Date" class="form_datetime form-control select_in_line" style="width:150px;cursor: pointer;" readonly="readonly" />
            <span class="input-group-addon">~</span>
            <input id="searchLoadEndMABD" type="text" placeholder="End Date" class="form_datetime form-control select_in_line" style="width:150px;cursor: pointer;" readonly="readonly" />
        </div>
    </div>

    <div class="form-group col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">Customer</span>
            <input id="searchLoadCustomer" type="text" class="form-control immybox immybox_witharrow" placeholder="Customer" />
        </div>
    </div>

    <div class="form-group col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">Load NO.</span>
            <input id="searchLoadPoNo" type="text" placeholder="Load NO." class="form-control" style="width:150px" />
        </div>
    </div>

    <div class="col-sm-3">
        <button id="btnLoadFilter" type="button" class="btn btn-info">Search</button>
        <button id="btnReset" type="button" class="btn btn-default">Reset</button>
    </div>
</div>
