
<div class="panel panel-default">
	<div class="panel-heading header">
		<a class="previous" id="back_date_selection">Back</a>
		<div class="clear"></div>
	</div>

	<div class="body panel-body">
		<div class="div-table" >
			<div class="div-table-row">
				<div class="div-table-cell">
					<div class="div-table">
						<div class="div-table-row">
							<div class="div-table-cell right"><label>Warehouse:</label></div>
							<div class="div-table-cell">{{warehouse}}</div>
						</div>
						{{#if title}}
						<div class="div-table-row">
							<div class="div-table-cell right"><label>Title:</label></div>
							<div class="div-table-cell">{{title}}</div>
						</div>
						{{/if}}
						{{#if user}}
						<div class="div-table-row">
							<div class="div-table-cell right"><label>User:</label></div>
							<div class="div-table-cell">{{user}}</div>
						</div>
						{{/if}}
						<div class="div-table-row">
							<div class="div-table-cell right"><label>is Repeating:</label></div>
							<div class="div-table-cell">{{isRepeat}}</div>
						</div>
						<div class="div-table-row">
							<div class="div-table-cell right"><label>Type:</label></div>
							<div class="div-table-cell">{{type}}</div>
						</div>
					</div>
				</div>
				<div class="div-table-cell">
					<div class="div-table">
						
						
					</div>
				</div>	

				<div class="div-table-cell">
					<div class="div-table">
					{{#if scheduled}}
						<div class="div-table-row">
							<div class="div-table-cell right"><label>Duration:</label></div>
							<div class="div-table-cell">{{duration}}</div>
						</div>
						<div class="div-table-row">
							<div class="div-table-cell right"><label>Repeats:</label></div>
							<div class="div-table-cell">{{repeatOptions}}</div>
						</div>
						<div class="div-table-row">
							<div class="div-table-cell right"><label>Repeat every:</label></div>
							<div class="div-table-cell">{{repeatEvery}}</div>
						</div>
						{{#if dayOfWeek}}
						<div class="div-table-row">
							<div class="div-table-cell right"><label>Repeat on:</label></div>
							<div class="div-table-cell">{{dayOfWeek}}</div>
						</div>
						{{/if}}
						<div class="div-table-row">
							<div class="div-table-cell right"><label>Starts on:</label></div>
							<div class="div-table-cell">{{startsOn}}</div>
						</div>
						<div class="div-table-row">
							<div class="div-table-cell right"><label>Ends:</label></div>
							<div class="div-table-cell">{{endsOn}}</div>
						</div>
					{{else}}
						<div class="div-table-row">
							<div class="div-table-cell right"><label>Start Date:</label></div>
							<div class="div-table-cell">{{start_date}}</div>
						</div>
						<div class="div-table-row">
							<div class="div-table-cell right"><label>End Date:</label></div>
							<div class="div-table-cell">{{end_date}}</div>
						</div>
					{{/if}}
					</div>
				</div>
				<div class="div-table-cell" >
					&nbsp;
				</div>
				<div class="div-table-cell" >
					<div class="div-table" >
						<div class="div-table-row">
							<div class="div-table-cell" >&nbsp;</div>
							<div class="div-table-cell" id="create_btn_div">
								<a href="#" id="create_task_btn" class="btn btn-primary">{{buttonTitle}}</a>
							</div>
						</div>
					</div>			
				</div>
			</div>
		</div>
		
		<div id="selected_areas_create"></div>
		
	</div>
</div>
