
<div class="panel panel-default">
  <div id="inventory_task_header" class="panel-heading">
      <div class="left">{{heading}}</div>
      <div id="back-buttons-div"><a href="#" id="back" class="btn btn-warning">Back</a></div>
      <div class="clear"></div>
    </div>
  <div id="filter_box" class="panel-body">
    <input type="hidden" name="create_task_type" id="create_task_type" value="{{taskType}}"/>
    <input type="hidden" name="task_id" id="task_id" value="{{id}}"/>
    <div id="toc_warehouse"></div>
    <div id="toc_title"></div>
    
    <div class="clear"></div>
    <div id="error_block"></div>
    <div id="all_container">
      <div id="all_container2">
        <div id="toc_area"></div>
        <div id="toc_selected_area"></div>
        <div id="users_body"></div>
        <div id="deadline_body"></div>
        <div id="create_task_body"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>  