<div class="task_box_unselected task_box" id="task_box_{{area.area_id}}" >

	<div class="task_header" id="header_{{area.area_id}}">{{area.name}}</div>
	<div class="select_all">
		<input type="checkbox" name="select_all_{{area.area_id}}" id="area_{{area.area_id}}_select_all"/><label for="area_{{area.area_id}}_select_all">Whole Area</label>
		</div>
	<div class="task_body">
		{{#each area.locations}}
			<div class="loc">
				<input type="checkbox" name="location" id="location_{{this.SLC_ID}}" value="{{this.SLC_ID}}"/><label for="location_{{this.SLC_ID}}">{{this.SLC_POSITION_ALL}}</label>
			</div>
		{{/each}}
	</div>
	
</div>
	