<div class="input-group" id="create_title_div">
<div class="input-group-addon" >Title</div><input id="selected_title_id" type="hidden" value="0"/>
<input id='title_list_box' type='text' class='form-control' />
</div>

