<div class="panel panel-default">
   <div class="panel-body">
       <div class="text-center">
          {{#if this.fileId}}
            <span>For details, please download the result file: </span><span ><a href="{{this.download}}/{{this.fileId}}" class="">{{this.filename}}</a></span>
          {{/if}}
          {{#if this.downloadtemplte}}
            <span>Download template file: </span><span ><a href="{{this.downloadtemplte}}" class="">template</a></span>
          {{/if}}
      </div>
   </div>
</div>