<br>
<table class="table table-bordered">
	<th class="text-center">Total DNs</th>
    <th class="text-center">Imported Count</th>
    <!-- th class="text-center">Hanging Count</th -->
    <th class="text-center">Fail Count</th>
    <th class="text-center">Result File</th>
    <tr>
    	<td class="text-center">{{this.total}}</td>
    	<td class="text-center">{{this.successCount}}</td>
    	<!-- td class="text-center invalidateCount">{{this.invalidateCount}}</td -->
		<td class="text-center invalidateCount">{{this.failCount}}</td>
    	<!-- td class="text-center moreCount">{{this.moreCount}}</td -->
    	<td class="text-center">
    		<button type="button" id="downloadbtn" class="btn btn-success " >download</button>
    	</td>
    </tr>
</table>