<div  class="panel panel-default">  
	 	<div class="panel-body">
		    <div class="form-horizontal">
		        <div class="form-group">
		            <label for="customer" class="control-label col-sm-3 required hide ">Customer </label>
		            <div class="col-sm-6 ">
		                  <select id="customerid"  class="form-control vr hide">
			             </select>
		            </div>
		            <div class="col-sm-3 error hidden" >
		                <span class="error" title="Customer  is reuqired."></span>
		            </div>
		        </div>
		    </div>
	 <!--  	    
		    <div class="form-horizontal">
		        <div class="form-group">
		            <label for="carrier" class="control-label col-sm-3">Carrier</label>
		            <div class="col-sm-6" >
		                <select id="carrier"  class="form-control vr">
		                	<option value="" ></option>
			             	<option value="CC">CC</option>
			             	<option value="CA">CA</option>
			            </select>
		            </div>
		            <div class="col-sm-3 error hidden" >
               		 	<span class="error">Carrier is reuqired.</span>
            		</div>
		        </div>
		    </div>
		  
	 		<div class="form-horizontal">
		        <div class="form-group">
		            <label for="receiveCountry" class="control-label col-sm-3">Receive Country</label>
		            <div class="col-sm-6" >
		            
		             <select id="receiveCountry"  class="form-control vr">
		             	<option value="11036" selected>America</option>
		             	<option value="11036">China</option>
		             </select>

		            </div>
		            <div class="col-sm-3 error hidden" >
               		 	<span class="error">Please choose country.</span>
            		</div>
		        </div>
		    </div> 
		 -->
		    <div class="line">
		    </div>
		    <div class="importAre">
		    </div>
		</div>    
</div>  
<div class="opbar">
	<button type="button" id="comfirm" class="btn btn-info">Confirm</button>
</div>
