﻿
<div class="panel-body form-horizontal" id="destinationForm">
	<div class="form-group">
		<input type="hidden" id="dest_id_" value=""/>	
        <label class="col-xs-2 control-label required" >{{lanModel.ROUTE_LINE.destination_title}}</label>
        <div class="col-xs-4">
           <input type="text" class="form-control immybox immybox_witharrow"   placeholder="{{lanModel.ROUTE_LINE.destination_placeholder}}" id="permit_ps_id_0"/>
        </div>
        <label for="send_psid"class="col-xs-2 control-label required" >{{lanModel.ROUTE.stauts_lable}}</label>
        <div class="col-xs-3">
      	 <label class="radio-inline">
  			<input type="radio" name="dest_status_0" id="enable_type" value="1" checked> {{lanModel.ROUTE.enable_lable}}
		</label>
		<label class="radio-inline">
  			<input type="radio" name="dest_status_0" id="disable_type" value="0"> {{lanModel.ROUTE.disable_labe}}
		</label>
      </div>
      <label class="col-xs-1 control-label" style="text-align: left;">
      	<span name="delDest" class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="cursor: pointer;" title="删除"></span>
      </label>
    </div> 
</div>

<div class="footer">
	<div class="opbar">
		<button type="button" id="addDest" class="btn btn-info">{{lanModel.ROUTE_LINE.add_btn}}</button>	
		<button type="button" id="destination_pre" class="btn btn-info">{{lanModel.ROUTE_LINE.prev_btn}}</button>
		<button type="button" id="destination_next" class="btn btn-info">{{lanModel.ROUTE.view_lable}}</button>
	</div>	
</div>