<div class="td_Route">
{{#if result}}
	{{#each result}}
	<fieldset class="RouteLineBlue" >
		<legend>
			<span style="padding: 0 5px;" class="Sub_line">
				{{this.LINE_NAME}}
				{{#if this.WARNINGMSG}}
					<font style='color:red'>{{../../lanModel.ROUTE_LINE.nocar}}</font>
				{{/if}}	
				</span>	
				
		</legend>
		<div>
		{{#xif 'this.SHIFT_TYPE==3'}}
			<div class="lineItem">
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.car_type_title}}</strong>
				</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.stop_name_title}}</strong>
				</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.must_arrive_time_title}}</strong>
				</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.must_leave_time_title}}</strong>
				</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.destination_title}}</strong>
				</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.arrive_time_title}}</strong>
				</div>
				
			</div>
			<div class="lineItem">
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.CAR_TYPE}}">{{this.CAR_TYPE}}米</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.STOP_NAME}}">{{this.STOP_NAME}}</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.MUST_ARRIVE_TIME}}">{{this.MUST_ARRIVE_TIME}}</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.MUST_LEAVE_TIME}}">{{this.MUST_LEAVE_TIME}}</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.END_PS_NAME}}">{{this.END_PS_NAME}}</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.ARRIVE_TIME}}">{{this.ARRIVE_TIME}}</div>
			</div>
			{{/xif}}
			{{#xif 'this.SHIFT_TYPE==1'}}
			<div class="lineItem">
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.car_type_title}}</strong>
				</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.depart_title}}</strong>
				</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.starting_time_title}}</strong>
				</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.destination_title}}</strong>
				</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.arrive_time_title}}</strong>
				</div>
				
			</div>
			<div class="lineItem">
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.CAR_TYPE}}">{{this.CAR_TYPE}}米</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.STARTING_PS_NAME}}">{{this.STARTING_PS_NAME}}</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.STARTING_TIME}}">{{this.STARTING_TIME}}</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.END_PS_NAME}}">{{this.END_PS_NAME}}</div>
				<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.ARRIVE_TIME}}">{{this.ARRIVE_TIME}}</div>
			</div>
			{{/xif}}
			<div class="lineItem" style="padding:0px;padding-top:0px;">
				<div class="col-xs-2" style="padding:0px;padding-top:8px;padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.line_use_cycle_title}}</strong>
				</div>
				<div class="col-xs-6" style="padding-left: 10px;">
					<ul style="padding:0px"> 
					{{#if this.CYCLE_MONDAY}}
					<li class="cycleday">一</li> 
					{{/if}}
					{{#if this.CYCLE_TUESDAY}}
					<li class="cycleday">二</li>
					{{/if}} 
					{{#if this.CYCLE_WEDNESDAY}}
					<li class="cycleday">三</li>
					{{/if}}
					{{#if this.CYCLE_THURSDAY}} 
					<li class="cycleday">四</li>
					{{/if}}
					{{#if this.CYCLE_FRIDAY}} 
					<li class="cycleday">五</li>
					{{/if}}
					{{#if this.CYCLE_SATURDAY}} 
					<li class="cycleday">六</li>
					{{/if}}
					{{#if this.CYCLE_SUNDAY}} 
					<li class="cycleday">日</li>
					{{/if}}
					</ul>
				</div>
				<div class="col-xs-2" style="padding:0px;padding-top:8px;padding-left: 10px;">
					<strong>{{../../lanModel.ROUTE_LINE.line_type_title}}</strong>
				</div>
				{{#xif 'this.SHIFT_TYPE==3'}}
					<div class="col-xs-2" style="padding:0px;padding-top:8px;padding-left: 10px;" title="{{../../../lanModel.ROUTE_LINE.stop_type_lable}}">{{../../../lanModel.ROUTE_LINE.stop_type_lable}}</div>
				{{/xif}}
				{{#xif 'this.SHIFT_TYPE==1'}}
					<div class="col-xs-2" style="padding:0px;padding-top:8px;padding-left: 10px;" title="{{../../../lanModel.ROUTE_LINE.origination_type_lable}}">{{../../../lanModel.ROUTE_LINE.origination_type_lable}}</div>
				{{/xif}}	
			</div>
			<span class="total col-xs-12">
			</span>
		</div>
	</fieldset>
{{/each}}	
{{/if}}		
</div>	