<div class="panel panel-default dialogLineContainer" >
      <table class="table  table-striped">
            <th>{{lanModel.operator_title}}</th>
            <th>{{lanModel.operationtime_title}}</th>
            <th>{{lanModel.operate_title}}</th>
            <th>{{lanModel.remarks_title}}</th>
	        {{#each resultList}}
	          <tr>
	                <td>{{this.OPERATOR_NAME}}</td>
	                <td>{{this.OPERATE_TIME}}</td>
	                <td>{{#xif 'this.OPERATE_TYPE==1'}}{{../../lanModel.createKey}}{{else}}{{../../lanModel.updateKey}}{{/xif}}</td>
	                <td>{{this.DATA}}</td>
	          </tr>
	        {{/each}} 
      </table>
</div>
