<table class="checkin_box">
	<thead>
		<tr>
			<th>{{lanModel.ROUTE.tabtitle}}</th>
			<th>{{lanModel.ROUTE_LINE.tabtitle}}</th>
			<th>{{lanModel.LOG.tabtitle}}</th>
		</tr>
	</thead>
	<tbody>
		{{#if resultList}}
      	{{#each resultList}}
		<tr class="tr_itme_style">
			<td width="18%" class="td_Route" valign="center">
			<fieldset class="RouteGreen">
					<legend>
						<span style=" padding: 0 5px;" class="Sub_route">{{this.route.ROUTE_PS_NAME}}</span>
					</legend>
					<div class="Tractor_ulitme">
						<ul>
							<li><span class="namestyle">{{../lanModel.ROUTE.currentInventory}}：</span>
								<span class="valstyle">{{this.route.INVENTORY.IDCOUNT}}件</span>
								<span class="namestyle">{{../lanModel.ADVANCESEARCH.status_lable}}：</span>
								<span class="valstyle">{{#xif 'this.route.STATUS==1'}}启用{{else}}停用{{/xif}}</span> 
							</li>
							<li><span class="namestyle">{{../lanModel.ROUTE.currentPiao}}：</span>
								<span class="valstyle">{{this.route.WAYBILLCOUNT}}票</span>
								<span class="namestyle">{{../lanModel.ADVANCESEARCH.routeType_lable}}：</span>
								<span class="valstyle">{{#xif 'this.route.ROUTE_TYPE==1'}}永久{{else}}临时{{/xif}}</span>
							</li>
							<li><span class="namestyle">{{../lanModel.ROUTE.currentWeight}}：</span>
							<span class="valstyle">{{this.route.INVENTORY.WEIGHT}}吨</span></li>
						</ul> 
					</div> 
				</fieldset>				
				<fieldset class="RouteOrange" id="DEST{{this.route.ID}}" >
					<legend>
						<span style=" padding: 0 5px;" 
							class="Sub_desc" >{{../lanModel.ROUTE_LINE.dest_title}}</span>
					</legend>
					{{#if this.route.DESTINATION}}	
						<div class="row" style="margin: 9px 1px;">
								<div>
									{{#each this.route.DESTINATION}}
									<div class="col-xs-4" style="padding: 0px;text-align: center;border-bottom: dashed 1px #ccc;">
										{{this.PERMIT_PS_NAME}}
									</div>
									{{/each}}
								</div>
						</div>
						{{else}}
						<div class="row" style="margin: 9px 1px;">
							<span class="totalItem" style="color:red;">{{../../lanModel.ROUTE.nodata}}</span>
						</div>
					{{/if}}
				</fieldset>	
			</td>
			<td width="65%" class="td_Route" valign="inherit">
				{{#if this.route_lines}}
				{{#foreach this.route_lines}}
				{{#xif 'this.$index<3'}} <!--只显示三条-->
				<fieldset class="RouteLineBlue" >
					<legend>
						<span style="padding: 0 5px;" class="Sub_line">
							{{this.LINE_NAME}}
							{{#if this.WARNINGMSG}}
								<font style='color:red'>{{../../../../../lanModel.ROUTE_LINE.nocar}}</font>
							{{/if}}	
							</span>	
							
					</legend>
					<div>
					{{#xif 'this.SHIFT_TYPE==3'}}
						<div class="lineItem">
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
								<strong>{{../../../../../lanModel.ROUTE_LINE.car_type_title}}</strong>
							</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
								<strong>{{../../../../../lanModel.ROUTE_LINE.stop_name_title}}</strong>
							</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
								<strong>{{../../../../../lanModel.ROUTE_LINE.must_arrive_time_title}}</strong>
							</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
								<strong>{{../../../../../lanModel.ROUTE_LINE.must_leave_time_title}}</strong>
							</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
								<strong>{{../../../../../lanModel.ROUTE_LINE.destination_title}}</strong>
							</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
								<strong>{{../../../../../lanModel.ROUTE_LINE.arrive_time_title}}</strong>
							</div>
							
						</div>
						<div class="lineItem">
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.CAR_TYPE}}">{{this.CAR_TYPE}}米</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.STOP_NAME}}">{{this.STOP_NAME}}</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.MUST_ARRIVE_TIME}}">{{this.MUST_ARRIVE_TIME}}</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.MUST_LEAVE_TIME}}">{{this.MUST_LEAVE_TIME}}</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.END_PS_NAME}}">{{this.END_PS_NAME}}</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.ARRIVE_TIME}}">{{this.ARRIVE_TIME}}</div>
						</div>
						{{/xif}}
						{{#xif 'this.SHIFT_TYPE==1'}}
						<div class="lineItem">
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
								<strong>{{../../../../../lanModel.ROUTE_LINE.car_type_title}}</strong>
							</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
								<strong>{{../../../../../lanModel.ROUTE_LINE.depart_title}}</strong>
							</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
								<strong>{{../../../../../lanModel.ROUTE_LINE.starting_time_title}}</strong>
							</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
								<strong>{{../../../../../lanModel.ROUTE_LINE.destination_title}}</strong>
							</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;">
								<strong>{{../../../../../lanModel.ROUTE_LINE.arrive_time_title}}</strong>
							</div>
							
						</div>
						<div class="lineItem">
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.CAR_TYPE}}">{{this.CAR_TYPE}}米</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.STARTING_PS_NAME}}">{{this.STARTING_PS_NAME}}</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.STARTING_TIME}}">{{this.STARTING_TIME}}</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.END_PS_NAME}}">{{this.END_PS_NAME}}</div>
							<div class="col-xs-2" style="padding: 0px;  padding-left: 10px;" title="{{this.ARRIVE_TIME}}">{{this.ARRIVE_TIME}}</div>
						</div>
						{{/xif}}
						<div class="lineItem" style="padding:0px;padding-top:0px;">
							<div class="col-xs-2" style="padding:0px;padding-top:8px;padding-left: 10px;">
								<strong>{{../../../../lanModel.ROUTE_LINE.line_use_cycle_title}}</strong>
							</div>
							<div class="col-xs-6" style="padding-left: 10px;">
								<ul> 
								{{#if this.CYCLE_MONDAY}}
								<li class="cycleday">一</li> 
								{{else}}
								<li class="cycleday">&nbsp;</li>
								{{/if}}
								{{#if this.CYCLE_TUESDAY}}
								<li class="cycleday">二</li>
								{{else}}
								<li class="cycleday">&nbsp;</li>
								{{/if}} 
								{{#if this.CYCLE_WEDNESDAY}}
								<li class="cycleday">三</li>
								{{else}}
								<li class="cycleday">&nbsp;</li>
								{{/if}}
								{{#if this.CYCLE_THURSDAY}} 
								<li class="cycleday">四</li>
								{{else}}
								<li class="cycleday">&nbsp;</li>
								{{/if}}
								{{#if this.CYCLE_FRIDAY}} 
								<li class="cycleday">五</li>
								{{else}}
								<li class="cycleday">&nbsp;</li>
								{{/if}}
								{{#if this.CYCLE_SATURDAY}} 
								<li class="cycleday">六</li>
								{{else}}
								<li class="cycleday">&nbsp;</li>
								{{/if}}
								{{#if this.CYCLE_SUNDAY}} 
								<li class="cycleday">日</li>
								{{else}}
								<li class="cycleday">&nbsp;</li>
								{{/if}}
								</ul>
							</div>
							<div class="col-xs-2" style="padding:0px;padding-top:8px;padding-left: 10px;">
								<strong>{{../../../../lanModel.ROUTE_LINE.line_type_title}}</strong>
							</div>
							{{#xif 'this.SHIFT_TYPE==3'}}
								<div class="col-xs-2" style="padding:0px;padding-top:8px;padding-left: 10px;" title="{{../../../../../lanModel.ROUTE_LINE.stop_type_lable}}">{{../../../../../lanModel.ROUTE_LINE.stop_type_lable}}</div>
							{{/xif}}
							{{#xif 'this.SHIFT_TYPE==1'}}
								<div class="col-xs-2" style="padding:0px;padding-top:8px;padding-left: 10px;" title="{{../../../../../lanModel.ROUTE_LINE.origination_type_lable}}">{{../../../../../lanModel.ROUTE_LINE.origination_type_lable}}</div>
							{{/xif}}	
						</div>
						
						<span class="total col-xs-12">
							
						</span>
					</div>
				</fieldset>
				{{/xif}}
				{{/foreach}}
				{{else}}
				<div class="Tractor_ulitme nodata"><div style="text-align:center"><b>{{../../lanModel.ROUTE_LINE.nodata}}</b></div></div>
				{{/if}}
			</td>
			<td width="17%" class="td_OPTION" valign="center">
				<div class="Log_container">
					{{#if this.logs}}
					{{#foreach this.logs}}
					{{#xif 'this.$index<4'}}
					<ul>
						<li>
							<span class="opreationName">{{this.OPERATOR_NAME}}</span>
							<span class="logvaluestyle " >{{#xif 'this.OPERATE_TYPE==1'}}{{../../../../../lanModel.LOG.createKey}}{{else}}{{../../../../../lanModel.LOG.updateKey}}{{/xif}}</span>
						</li>
						<li>
							<span class="rightstyle opreationTime">{{this.OPERATE_TIME}}</span>
						</li>
					</ul>
					<div class="box1px"></div>
					{{/xif}}
					{{/foreach}}
					{{/if}}
				</div>
			</td>
		</tr>
		<tr class="TFOOTbutton" data-trid="{{this.trId}}">
			<td  align="right">
			<div class="buttons-group">
					<a href="javascript:void(0)" name="editRoute" class="buttons">{{../lanModel.BUTTONS.editroute_btn}}</a>
					<a href="javascript:void(0)" style="display:none" name="deleteRoute" class="buttons">{{../lanModel.BUTTONS.deleteroute_btn}}</a>
				</div>
			</td>
				<td  align="right"><div  class="buttons-group">
				{{#xif 'this.route_lines.length>3'}}
					<a href="javascript:void(0)" name="moreLines" class="buttons">{{../../lanModel.BUTTONS.moreline_btn}}</a>
				{{/xif}}
				</div>
				</td>
				<td  align="right">
				<div class="buttons-group">
					{{#xif 'this.logs.length>4'}}
						<a href="javascript:void(0)" name="moreLogs" class="buttons">{{../../lanModel.BUTTONS.morelog_btn}}</a>
					{{/xif}}
				</div></td>
		</tr>
		{{/each}}{{/if}}
	</tbody>
</table>
<div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
        <ul id="pagination" class="clearfix pagebox"></ul>
</div>
<div class="topthead" style="left: 1px; display: none;">
<table class="checkin_box">
<thead>
	<tr>
		<th>{{lanModel.ROUTE.tabtitle}}</th>
		<th>{{lanModel.ROUTE_LINE.tabtitle}}</th>
		<th>{{lanModel.LOG.tabtitle}}</th>
	</tr>
</thead>
</table>
</div>