.rbottom0{position: fixed; right: 3px; bottom: 0%;z-index: 1000; }

.WB_webimbtn{
cursor: pointer; 	
width: 172px;
height: 24px;
line-height: 24px;
overflow: hidden;
border: solid 1px #ABABAB;
display: block;
color: #ccc;
background: #fff
}

.WB_webimbtn i{margin-left: 10px;margin-right: 10px;}
.WB_webimbtn span{display: inline-block;}

.WB_webimbox{
overflow: hidden;
width: 200px;
border: solid 1px #969696;
box-shadow: 0 0 5px rgba(0, 0, 75, 0.2);
background: #FFF;
-moz-transition: opacity .4s ease;
-webkit-transition: opacity .4s ease;
transition: opacity .4s ease 0s;
padding:5px 6px;
display: none;
}

.WB_webimbox .userliste ul{

	list-style: none;
	padding:0px;
	margin:0px;
}
.userliste ul li{margin:0px;cursor: pointer;padding:5px 0px;}

.userliste li .fa-6{font-size:3em;}

.userliste li .u_itmename{display: table;height: 42px}

.userliste li .u_itmename div{display: table-cell;vertical-align: middle;}

.WB_webimbox .input-group-addon{

	background: #fff;
}

.WB_webimbox .input-group{margin-bottom: 10px}

.chatbox .art-dialog-body,.chatbox .ui-dialog-autofocu{padding:0px;}

.chatbox .ui-dialog-autofocus{padding:0px;}
.chatbox .ui-dialog-autofocus span{display: inline-block;
width: 40px;
height: 30px;
line-height: 30px;
}

.chatbox .ui-dialog-autofocus em{display: inline-block;font-style: normal;
height: 26px;margin:0px 3px;
vertical-align:middle;}

.boxleft1px{line-height: 0px;border-left: 1px solid #ccc;font-size:0px;width: 1px;}

.iconsbtn{cursor: pointer;line-height: 26px;width: 12px;text-align: center;margin-right: 5px}

.setenter__box{position: absolute;width: 160px;border:1px solid #ccc;background: #fff}
.setenter__box ul{list-style: none;padding: 0px;width: 100%;}
.setenter__box ul li{cursor: pointer;background: #fff;padding:4px 0px;text-align: center;}
.setenter__box ul li:hover{background: #aaa; }
.setenter__box li i{color: #3AFD00}
.chatbox .chatshowbox{width: 98%;margin:0px auto;}

.chatbox .chattootms{width: 100%;border-bottom: 1px solid #ccc;display: block;font-size: 0px;line-height: 0px;height: 2px;}

.chatbox .inputbox{width: 98%;margin:0px auto;}

.chatbox .inputbox textarea{max-width: 100%;max-height:180px; visibility:visible; resize:none;height: 100%;width: 100%;border-width: 0px}

.chatbox .art-dialog-footer{padding:0 20px 10px 20px}

.chatbox .ui_close:hover,.chatbox .ui_close:focus{text-decoration:inherit;}

.chatbox .ui_title{height: 40px;line-height: 40px}

.chatbox .dropdown-toggle{height: 34px}

.userliste .children{display: none;}

.userliste .nav > li {
margin: 0 1px 0 0;
font-size: 14px;
font-weight: 500;
border-top: 1px solid #E7E7E7;
position: relative;
}

.userliste > li.active + li {
border-top: 0;
}

.userliste .nav > li > a {
color: #555;
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0;
-moz-transition: all 0.2s ease-out 0s;
-webkit-transition: all 0.2s ease-out 0s;
transition: all 0.2s ease-out 0s;
padding: 12px 15px;
}

.userliste .nav > li.parent:after {
font-family: 'FontAwesome';
content: '\f107';
display: block;
position: absolute;
top: 18px;
left: 15px;
color: #CCC;
}

.userliste .nav > li.parent span{display: inline-block;margin-left: 12px}

.chatshowbox .inforow{display: block;line-height: 20px;padding:0px 10px;margin: 3px 0px}
.chatshowbox .time{text-align: center;color: #ccc}
.chatshowbox .msgleft{text-align: left; }
.chatshowbox .msgright{text-align: right;color: #ccc}
.chatshowbox .msgright .fa-warning{color: #FCF8E3}
.nav-stacked .children .col-md-1{line-height: 42px;height: 42px}

.WB_webimbox .bottombox a,.WB_webimbox .bottombox a:hover,.WB_webimbox .bottombox a:link,.WB_webimbox .bottombox a:visited{color: #ccc;text-align: center;width: 18px;height: 18px;border:1px solid #fff;vertical-align: middle;display: inline-block;margin: 5px 8px;-webkit-box-sizing:initial;box-sizing:initial;text-decoration:initial;display: inline-table;position: relative;}
.WB_webimbox .bottombox a i{vertical-align: middle;display: table-cell;}
.WB_webimbox .bottombox a:hover{border-color:#ccc}

.userliste .nav-stacked .available,.WB_webimbox .bottombox .fa-users{color: #001DFF}
.WB_webimbox .bottombox div{width: 100%}
.userliste .nav-stacked .unavailable{color: #ccc}
.bottombox .Anglebox{position: absolute;top:-13px;right:-13px;color: #fff;background:red;width:18px;height:18px;line-height:18px;display: inline-block;text-align: center;font-size: 10px;border-radius: 9px 9px;visibility:hidden;}

.errorinfobox{position:relative;left: -0px;display: inline-block;width: 200px;color: red}

.insertImagebox{display: inline-block;width: 37px;height: 30px;position: relative;}

.insertImage{opacity: 0; position: absolute; top: 0px; left: 0px; width: 34px; height: 30px;cursor: pointer;}

.usernamestyle{display: block;line-height: 15px;height: 15px;text-align: left;color: #ccc;font-size: 10px;}
#progressBar{visibility: hidden;height: 4px;margin:0;width: 98%;color: #7FFF00;margin: 0px auto;background-color: #eee;}
.proresbox{height: 4px;display: block;width: 100%;text-align: center;font-size: 0px;line-height: 0px}
.nicEdit-panel .fa-dot-circle-o{color: red}

#alertsactionbox{position: absolute;z-index: 1200;bottom: 1px;right: 0px;border:1px solid #ccc;width: 350px;display: none;background:#fff;}
#alertsactioncenet{height: 200px;width: 100%;overflow-y:auto;border-top: 1px solid #ccc;}
#alertsactionbox .alertfoome{position: relative;border-bottom: 1px dashed #ccc;
height: 48px;}
#alertsactionbox .alertfoome button{position: absolute;right:10px;}

#alertsactionbox .msxbox{list-style:none;width:90%;margin:10px auto 0px auto;padding:0px;}
.toptitlebox,.alerttitlebox{width: 100%;display: block;position: relative;height: 20px}
.alerttitlebox{margin: 5px 0px}
.toptitlebox span,.alerttitlebox span{cursor: pointer; position: absolute;right: 4px;font-size: 20px}
