<div class="panel panel-default">
  <div  class="panel-heading">
      <div class="left" id="difference_heading_panel">Cycle Count Difference</div>
      <div id="back-buttons-div" class="right"><a href="#" id="back_btn_view_detail" class="btn btn-warning">Back</a></div>
      <div class="clear"></div>
    </div>
  <div class="panel-body">

        {{#if differences.length}}
            <ul class="nav nav-tabs" id="containerTabs">
            {{#each differences}}
                <li id="{{this.CONTAINER_ID}}">
                    <a href="#{{this.CONTAINER}}" data-toggle="tab" >
                        {{this.CONTAINER}}
                        <span class="" >&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </a>
                </li>
            {{/each}}
            </ul>
            <div class="tab-content">
            {{#each differences}}
                <div class="tab-pane" id="{{this.CONTAINER}}">
                   
                </div>
            {{/each}}
            </div>
        {{else}}
        <div class="alert alert-info" role="alert">
          
          No Difference found.
        </div>
        {{/if}}
    </div>
</div>