
{{#if differences.length}}

<table class="table table-striped" width="100%" >
<thead>
	<th>Area</th>
  <th>Location</th>
  <th>Title</th>
  <th class="sort_link"><a class="{{post_date_css}}" href="#"  name="created_at">Scanned Date</a></th>
  <th>Scanned by</th>
   <th> Status</th>
   <th>Reviewer</th>
   <th class="sort_link"><a class="{{approve_date_css}}" href="#"  name="processed_at">Reviewed Date</a></th>
   <th></th>

</thead>
<tbody>
{{#each differences}}
   <tr>

   		   <td>{{this.AREA_NAME}}</td>
         <td>{{this.LOCATION_NAME}}</td>
         <td>{{this.TITLE_NAME}}</td>
         <td>{{this.CREATED_AT}}</td>
         <td>{{this.USER_NAME}}</td>
         <td>{{this.STATUS_STRING}}</td>
         <td>{{this.PROCESSED_BY_NAME}}</td>
         <td>{{this.PROCESSED_AT}}</td>
         <td><button type="button" ="review_btn" class="review_btn_difference btn btn-default btn-sm" title="Review" name="{{this.ID}}">Review</button></td>
   </tr>
{{/each}}
</tbody>
</table>

{{else}}
<div class="no_data">
   No differences found
</div>
{{/if}}
<div id="pagination" class="pagebox">
   
</div>