<div class="input-group">
<div class="input-group-addon" >Location</div><input id="selected_location_id" type="hidden" value="0"/>
<input id='location_list_box' type='text' class='form-control' />
</div>

