﻿<div class="form-horizontal" role="form">
    <div class="form-group">
        <div class="">
            <label class="col-sm-2 control-label"><font class="important">*</font>SCAC<!-- Carrier --></label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input1" placeholder="SCAC">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label"><font class="important">*</font>Appointment</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input2" placeholder="Appointment">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label">Contacts</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input1" placeholder="Contacts">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input2" placeholder="Phone">
            </div>
        </div>
    </div>
</div>