﻿<div class="cntr-virtual-form col-sm-4">
    <div class="cntr-close"><i class="glyphicon glyphicon-remove"></i></div>
    <div class="form-horizontal" role="form">
        <div class="form-group">
            <div class="has-feedback">
                <label class="col-sm-5 control-label"><font class="important">*</font>货柜尺寸</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="input1" placeholder="货柜尺寸">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="has-feedback">
                <label class="col-sm-5 control-label"><font class="important">*</font>Appionment Date</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="input1" placeholder="Appionment Date">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="has-feedback">
                <label class="col-sm-5 control-label">License plate</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="input1" placeholder="License plate">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="has-feedback">
                <label class="col-sm-5 control-label">DriverName</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="input1" placeholder="DriverName">
                </div>
            </div>
        </div>
    </div>
</div>
