﻿<div class="form-horizontal" role="form">
    <div class="form-group">
        <div class="has-error has-feedback">
            <label class="col-sm-2 control-label"><font class="important">*</font>收货仓库</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input1" placeholder="收货仓库">
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">收货地址门牌号</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input2" placeholder="收货地址门牌号" disabled>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label">收货国家</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input1" placeholder="收货国家" disabled>
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">收货地址邮编</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input2" placeholder="收货地址邮编" disabled>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">收货省份</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="input1" placeholder="收货省份" disabled>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label"><font class="important">*</font>收货联系人</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input1" placeholder="收货联系人">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">联系人电话</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="input2" placeholder="联系人电话">
            </div>
        </div>
    </div>
</div>