﻿<div class="col-lg-12">
    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li role="presentation"><a href="#addAppionmentAddress" role="tab" data-toggle="tab">提收货地址</a></li>
        <li role="presentation"><a href="#addAppionmentCNTR" role="tab" data-toggle="tab">预约仓位</a></li>
        <li role="presentation"><a href="#addAppionmentBOL" role="tab" data-toggle="tab">关联单据</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="addAppionmentAddress">
            <div id="DeliveryAddress"></div>
            <div id="ReceivingAddress"></div>
            <div class="pull-right save-handle">
                <button type="button" class="btn btn-default">下一步</button>
                <button type="button" class="btn btn-info">保存</button>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="addAppionmentCNTR">
            <div id="initCarrier"></div>

            <div class="pull-right save-handle">
                <button type="button" class="btn btn-default">上一步</button>
                <button type="button" class="btn btn-default">下一步</button>
                <button type="button" class="btn btn-info">保存</button>
            </div>
        </div>


        <div role="tabpanel" class="tab-pane" id="addAppionmentBOL">
            <div id="addBol"></div>
            <div class="clear"></div>
            <div class="pull-right save-handle">
                <button type="button" class="btn btn-default">上一步</button>
                <button type="button" class="btn btn-info">保存</button>
            </div>
        </div>
    </div>
</div>