<div class="form-inline">
    <div class="form-group  col-sm-12"> 
        <div class="input-group">
            <div class="input-group-addon" id="hubTitle" style="">Hub</div>
            <input id="searchCustomer" type="text" class="form-control immybox immybox_witharrow" autocomplete="off" placeholder="Hub">
        </div>
    </div>
    <div class="form-group  col-sm-5">
    <div id="calendar" class="Acars_picke"></div> 
    </div>
    <div class="form-group col-sm-6" style="padding:0px;"> 
    

    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li role="presentation" class="active min-120" style="position: relative;"><a href="#appiontmentTotalTab" role="tab" data-toggle="tab" class="Total">Total </a></li>
        <li role="presentation" class="min-120" style="position: relative;"><a href="#appiontmentInBoundTab" role="tab" data-toggle="tab" class="InBound">InBound </a></li>
        <li role="presentation" class="min-120" style="position: relative;"><a href="#appiontmentOutBoundTab" role="tab" data-toggle="tab" class="OutBound">OutBound </a></li>
       
    </ul>
    <div id="tab_content" class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="appiontmentTotalTab" style="border: 1px solid #ddd;border-top-width: 0px;">
		<table class="calendar-time" style="width:100%;">
			<tbody style="padding-top: 10px;padding-bottom: 10px; ">
			<tr><td class="time" data-id="0" id="time0"><a data-id="0" class="timeText timeTextAllbound" href="#">00:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge0"></span></td> <td class="time" data-id="1" id="time1"><a data-id="1" class="timeText timeTextAllbound" href="#">01:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge1"></span></td> <td class="time" data-id="2" id="time2"><a data-id="2" class="timeText timeTextAllbound" href="#">02:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge2"></span></td> <td class="time" data-id="3" id="time3"><a data-id="3" class="timeText timeTextAllbound" href="#">03:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge3"></span></td></tr>
			<tr><td class="time" data-id="4" id="time4"><a data-id="4" class="timeText timeTextAllbound" href="#">04:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge4"></span></td> <td class="time" data-id="5" id="time5"><a data-id="5" class="timeText timeTextAllbound" href="#">05:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge5"></span></td> <td class="time" data-id="6" id="time6"><a data-id="6" class="timeText timeTextAllbound" href="#">06:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge6"></span></td> <td class="time" data-id="7" id="time7"><a data-id="7" class="timeText timeTextAllbound" href="#">07:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge7"></span></td></tr>
			<tr><td class="time" data-id="8" id="time8"><a data-id="8" class="timeText timeTextAllbound" href="#">08:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge8"></span></td> <td class="time" data-id="9" id="time9"><a data-id="9" class="timeText timeTextAllbound" href="#">09:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge9"></span></td> <td class="time" data-id="10" id="time10"><a data-id="10" class="timeText timeTextAllbound" href="#">10:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge10"></span></td> <td class="time" data-id="11" id="time11"><a data-id="11" class="timeText timeTextAllbound" href="#">11:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge11"></span></td></tr>
			<tr><td class="time" data-id="12" id="time12"><a data-id="12" class="timeText timeTextAllbound" href="#">12:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge12"></span></td> <td class="time" data-id="13" id="time13"><a data-id="13" class="timeText timeTextAllbound" href="#">13:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge13"></span></td> <td class="time" data-id="14" id="time14"><a data-id="14" class="timeText timeTextAllbound" href="#">14:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge14"></span></td> <td class="time" data-id="15" id="time15"><a data-id="15" class="timeText timeTextAllbound" href="#">15:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge15"></span></td></tr>
			<tr><td class="time" data-id="16" id="time16"><a data-id="16" class="timeText timeTextAllbound" href="#">16:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge16"></span></td> <td class="time" data-id="17" id="time17"><a data-id="17" class="timeText timeTextAllbound" href="#">17:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge17"></span></td> <td class="time" data-id="18" id="time18"><a data-id="18" class="timeText timeTextAllbound" href="#">18:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge18"></span></td> <td class="time" data-id="19" id="time19"><a data-id="19" class="timeText timeTextAllbound" href="#">19:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge19"></span></td></tr>
			<tr><td class="time" data-id="20" id="time20"><a data-id="20" class="timeText timeTextAllbound" href="#">20:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge20"></span></td> <td class="time" data-id="21" id="time21"><a data-id="21" class="timeText timeTextAllbound" href="#">21:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge21"></span></td> <td class="time" data-id="22" id="time22"><a data-id="22" class="timeText timeTextAllbound" href="#">22:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge22"></span></td> <td class="time" data-id="23" id="time23"><a data-id="23" class="timeText timeTextAllbound" href="#">23:00</a><span class="timeBadge timeBadgeAllbound" id="timeBadge23"></span></td></tr>
			</tbody>
		</table>

        </div> 
        <div role="tabpanel" class="tab-pane" id="appiontmentInBoundTab" style="border: 1px solid #ddd;border-top-width: 0px;">
        	
        	<table class="calendar-time" style="width:100%;">
        	<tbody style="padding-top: 10px;padding-bottom: 10px;">
        		<tr><td class="time" data-id="0" id="time0"><a data-id="0" class="timeText timeTextInbound" href="#">00:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound0"></span></td> <td class="time" data-id="1" id="time1"><a data-id="1" class="timeText timeTextInbound" href="#">01:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound1"></span></td> <td class="time" data-id="2" id="time2"><a data-id="2" class="timeText timeTextInbound" href="#">02:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound2"></span></td> <td class="time" data-id="3" id="time3"><a data-id="3" class="timeText timeTextInbound" href="#">03:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound3"></span></td></tr>
        		<tr><td class="time" data-id="4" id="time4"><a data-id="4" class="timeText timeTextInbound" href="#">04:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound4"></span></td> <td class="time" data-id="5" id="time5"><a data-id="5" class="timeText timeTextInbound" href="#">05:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound5"></span></td> <td class="time" data-id="6" id="time6"><a data-id="6" class="timeText timeTextInbound" href="#">06:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound6"></span></td> <td class="time" data-id="7" id="time7"><a data-id="7" class="timeText timeTextInbound" href="#">07:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound7"></span></td></tr>
        		<tr><td class="time" data-id="8" id="time8"><a data-id="8" class="timeText timeTextInbound" href="#">08:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound8"></span></td> <td class="time" data-id="9" id="time9"><a data-id="9" class="timeText timeTextInbound" href="#">09:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound9"></span></td> <td class="time" data-id="10" id="time10"><a data-id="10" class="timeText timeTextInbound" href="#">10:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound10"></span></td> <td class="time" data-id="11" id="time11"><a data-id="11" class="timeText timeTextInbound" href="#">11:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound11"></span></td></tr>
        		<tr><td class="time" data-id="12" id="time12"><a data-id="12" class="timeText timeTextInbound" href="#">12:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound12"></span></td> <td class="time" data-id="13" id="time13"><a data-id="13" class="timeText timeTextInbound" href="#">13:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound13"></span></td> <td class="time" data-id="14" id="time14"><a data-id="14" class="timeText timeTextInbound" href="#">14:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound14"></span></td> <td class="time" data-id="15" id="time15"><a data-id="15" class="timeText timeTextInbound" href="#">15:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound15"></span></td></tr>
        		<tr><td class="time" data-id="16" id="time16"><a data-id="16" class="timeText timeTextInbound" href="#">16:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound16"></span></td> <td class="time" data-id="17" id="time17"><a data-id="17" class="timeText timeTextInbound" href="#">17:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound17"></span></td> <td class="time" data-id="18" id="time18"><a data-id="18" class="timeText timeTextInbound" href="#">18:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound18"></span></td> <td class="time" data-id="19" id="time19"><a data-id="19" class="timeText timeTextInbound" href="#">19:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound19"></span></td></tr>
        		<tr><td class="time" data-id="20" id="time20"><a data-id="20" class="timeText timeTextInbound" href="#">20:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound20"></span></td> <td class="time" data-id="21" id="time21"><a data-id="21" class="timeText timeTextInbound" href="#">21:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound21"></span></td> <td class="time" data-id="22" id="time22"><a data-id="22" class="timeText timeTextInbound" href="#">22:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound22"></span></td> <td class="time" data-id="23" id="time23"><a data-id="23" class="timeText timeTextInbound" href="#">23:00</a><span class="timeBadge timeBadgeInbound" id="timeBadgeInbound23"></span></td></tr>
			</tbody>
        	</table>
        </div>
        <div role="tabpanel" class="tab-pane" id="appiontmentOutBoundTab" style="border: 1px solid #ddd;border-top-width: 0px;">
        	<table class="calendar-time" style="width:100%;">
        	<tbody style="padding-top: 10px;padding-bottom: 10px; ">
        		<tr><td class="time" data-id="0" id="time0"><a data-id="0" class="timeText timeTextOutbound" href="#">00:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound0"></span></td> <td class="time" data-id="1" id="time1"><a data-id="1" class="timeText timeTextOutbound" href="#">01:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound1"></span></td> <td class="time" data-id="2" id="time2"><a data-id="2" class="timeText timeTextOutbound" href="#">02:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound2"></span></td> <td class="time" data-id="3" id="time3"><a data-id="3" class="timeText timeTextOutbound" href="#">03:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound3"></span></td></tr>
        		<tr><td class="time" data-id="4" id="time4"><a data-id="4" class="timeText timeTextOutbound" href="#">04:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound4"></span></td> <td class="time" data-id="5" id="time5"><a data-id="5" class="timeText timeTextOutbound" href="#">05:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound5"></span></td> <td class="time" data-id="6" id="time6"><a data-id="6" class="timeText timeTextOutbound" href="#">06:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound6"></span></td> <td class="time" data-id="7" id="time7"><a data-id="7" class="timeText timeTextOutbound" href="#">07:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound7"></span></td></tr>
        		<tr><td class="time" data-id="8" id="time8"><a data-id="8" class="timeText timeTextOutbound" href="#">08:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound8"></span></td> <td class="time" data-id="9" id="time9"><a data-id="9" class="timeText timeTextOutbound" href="#">09:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound9"></span></td> <td class="time" data-id="10" id="time10"><a data-id="10" class="timeText timeTextOutbound" href="#">10:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound10"></span></td> <td class="time" data-id="11" id="time11"><a data-id="11" class="timeText timeTextOutbound" href="#">11:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound11"></span></td></tr>
        		<tr><td class="time" data-id="12" id="time12"><a data-id="12" class="timeText timeTextOutbound" href="#">12:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound12"></span></td> <td class="time" data-id="13" id="time13"><a data-id="13" class="timeText timeTextOutbound" href="#">13:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound13"></span></td> <td class="time" data-id="14" id="time14"><a data-id="14" class="timeText timeTextOutbound" href="#">14:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound14"></span></td> <td class="time" data-id="15" id="time15"><a data-id="15" class="timeText timeTextOutbound" href="#">15:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound15"></span></td></tr>
        		<tr><td class="time" data-id="16" id="time16"><a data-id="16" class="timeText timeTextOutbound" href="#">16:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound16"></span></td> <td class="time" data-id="17" id="time17"><a data-id="17" class="timeText timeTextOutbound" href="#">17:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound17"></span></td> <td class="time" data-id="18" id="time18"><a data-id="18" class="timeText timeTextOutbound" href="#">18:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound18"></span></td> <td class="time" data-id="19" id="time19"><a data-id="19" class="timeText timeTextOutbound" href="#">19:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound19"></span></td></tr>
        		<tr><td class="time" data-id="20" id="time20"><a data-id="20" class="timeText timeTextOutbound" href="#">20:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound20"></span></td> <td class="time" data-id="21" id="time21"><a data-id="21" class="timeText timeTextOutbound" href="#">21:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound21"></span></td> <td class="time" data-id="22" id="time22"><a data-id="22" class="timeText timeTextOutbound" href="#">22:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound22"></span></td> <td class="time" data-id="23" id="time23"><a data-id="23" class="timeText timeTextOutbound" href="#">23:00</a><span class="timeBadge timeBadgeOutbound" id="timeBadgeOutbound23"></span></td></tr>
			</tbody>
        	</table>
        </div>
    </div>
    </div>
</div>

