﻿<div class="box-panel bol-virtual-form col-sm-4 fadeInLeft animated">
    <div class="bol-title">
        <h3></h3>
        <div class="clear"></div>
    </div>
    <div class="bol-body form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-5 control-label">SCAC<!-- Carrier -->:</label>
            <div class="col-sm-7">
                <p class="form-control-static to"></p>
            </div>
            <label class="col-sm-5 control-label">Pallets<!-- 总托盘数 -->:</label>
            <div class="col-sm-7">
                <p class="form-control-static plateNum"></p>
            </div>
            <label class="col-sm-5 control-label" style="display:none;">Volume<!-- 总体积 -->:</label>
            <div class="col-sm-7"  style="display:none;">
                <p class="form-control-static volume"></p>
            </div>
            <label class="col-sm-5 control-label">Weight(LBS)<!-- 总重量 -->:</label>
            <div class="col-sm-7">
                <p class="form-control-static weight"></p>
            </div>
            <!--增加city和state-->
            <!--
            <label class="col-sm-5 control-label">State:</label>
            <div class="col-sm-7">
                <p class="form-control-static state"></p>
            </div>
            <label class="col-sm-5 control-label">City:</label>
            <div class="col-sm-7">
                <p class="form-control-static city"></p>
            </div>-->
            <label class="col-sm-5 control-label">State,City:</label>
            <div class="col-sm-7">
                <p class="form-control-static stateCity" title=""></p>
            </div>
        </div>
    </div>
</div>