﻿
<div class="form-horizontal" role="form">
    <div class="form-group">
        <div class="">
            <label class="col-sm-2 control-label"><font class="important">*</font>SCAC</label>
            <div class="col-sm-4">
                <input type="text" class="form-control immybox immybox_witharrow" id="inputAddCarrier" placeholder="SCAC">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label"><font class="important">*</font>Appointment</label>
            <div class="col-sm-4">
                <input type="text" readonly="readonly" class="form_datetime form-control" id="inputAddAppointmentTime" placeholder="Appointment">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label">Contacts</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddCarrierLinkman" placeholder="Contacts">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddCarrierTel" placeholder="Phone">
            </div>
        </div>
    </div>
    <div class="form-group hide">
        <div class="">
            <label class="col-sm-2 control-label">ETD</label>
            <div class="col-sm-4">
                <input type="text" readonly="readonly" class="form_datetime form-control" id="inputAddETD" placeholder="ETD">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">ETA</label>
            <div class="col-sm-4">
                <input type="text" readonly="readonly" class="form_datetime form-control" id="inputAddETA" placeholder="ETA">
            </div>
        </div>
    </div>
	<div class="form-group">
        <div class="">
            <label class="col-sm-2 control-label"><font class="important">*</font>Type</label>
            <div class="col-sm-4">
                <input type="text" class="form-control immybox immybox_witharrow" id="inputAddType" placeholder="Appointment Type" data-value="Outbound">
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <hr />
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label">License Plate</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddLicensePlate" placeholder="License plate">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label">Driver License</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddDriverLicense" placeholder="Driver License">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">Driver Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddDriverName" placeholder="Driver Name">
            </div>
        </div>
    </div>
</div>



<!--
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-xs-7">
            <div class="row">
                <label class="col-xs-3" id="scac"><font class="important">*</font>SCAC</label>

                <div class="col-xs-7">
                    <input type="text" class="form-control immybox immybox_witharrow" id="inputAddCarrier" placeholder="SCAC">
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <label class="col-xs-3" style="position:relative;left:-45px;"><font class="important" >*</font>Appointment</label>
                <div class="col-xs-7">
                    <input type="text" readonly="readonly" class="form_datetime form-control" id="inputAddAppointmentTime" placeholder="Appointment">
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-7">
            <div class="row">
                <label class="col-xs-3 control-label" id="contacts1">Contacts</label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" id="inputAddCarrierLinkman" placeholder="Contacts">
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <label class="col-xs-3 control-label">Phone</label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" id="inputAddCarrierTel" placeholder="Phone">
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-7">
            <div class="row">
                <label class="col-xs-3 control-label" id="type"><font class="important">*</font>Type</label>
                <div class="col-xs-7">
                    <input type="text" class="form-control immybox immybox_witharrow" id="inputAddType" placeholder="Appointment Type" data-value="Outbound">
                </div>
            </div>
        </div>
    </div>


    <div class="row clearfix">
        <div class="col-xs-7">
            <div class="row">
                <label class="col-xs-3 control-label" id="lincenseplate">License Plate</label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" id="inputAddLicensePlate" placeholder="License plate">
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-7">
            <div class="row">
                <label class="col-xs-3 control-label">Driver License</label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" id="inputAddDriverLicense" placeholder="Driver License">
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <label class="col-xs-3 control-label" style="padding:0px;padding-top:4px;position:relative;left:-12px;">Driver Name</label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" id="inputAddDriverName" placeholder="Driver Name">
                </div>
            </div>
        </div>
    </div>
</div>-->
