﻿
<div class="form-horizontal" role="form">
    <div class="form-group">
        <div class="" style="">
            <label class="col-sm-2 control-label"><font class="important">*</font>Hub</label>
            <div class="col-sm-4">
                <input type="text" class="form-control immybox immybox_witharrow" id="inputAddWareHourse" placeholder="Hub">
            </div>
        </div> 
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label">Contacts</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddWareHourseLinkman" placeholder="Contacts">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddWareHourseTel" placeholder="Phone">
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<!--
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-xs-7">
            <div class="row">
                <label class="col-xs-3" id="hub">
                    <font class=important>*</font>Hub
                </label>
                <div class="col-xs-7">
                    <input type="text" class="form-control immybox immybox_witharrow" id="inputAddWareHourse" placeholder="Hub">
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-xs-7">
            <div class="row">
                <label class="col-xs-3" id="contacts">Contacts</label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" id="inputAddWareHourseLinkman" placeholder="Contacts">
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <label class="col-xs-3" id="phone">Phone</label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" id="inputAddWareHourseTel" placeholder="Phone">
                </div>
            </div>
        </div>
    </div>
</div>-->









