﻿<div class="form-inline quick-search" role="form" >
    <div class="form-group">
        <div class="">
            <button type="button" id="btnAddOrder" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>Select</button>
        </div>
    </div>
    <div class="form-group hide">
        <div class="input-group">
            <div class="input-group-addon">Quick Search</div>
            <input class="form-control minWith350" id="inputQuickLoadNo" type="text" placeholder="Load \ Order \ Po \ CNTR \ BOL">
        </div>
    </div>
</div>