﻿<div class="form-inline margin10">
<!--hyq has changed code as follows(2015-4-10)-->
<!--
    <div class="form-group width200">
        <div class="input-group">
            <div class="input-group-addon">Order NO.</div>
            <input id="searchOrderNo" type="text" class="form-control" autocomplete="off" placeholder="Order NO.">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">MABD</div>
            <input id="searchBeginOrderMABD" type="text" class="form-control" autocomplete="off" placeholder="Start" style="width:150px;margin-right: -1px;" readonly="readonly">
            <span class="input-group-addon">~</span>
            <input id="searchEndOrderMABD" type="text" class="form-control" autocomplete="off" placeholder="End" style="width:150px;margin-left:-1px;" readonly="readonly">
        </div>
    </div>
    -->
<!--hyq has canceled code(2015-4-14)-->
<!--
    <div class="form-group width200">
        <div class="input-group" style="width:224px;">
            <input id="selectType" type="text" class="form-control immybox immybox_witharrow" style="margin-left: 1px !important;" autocomplete="off" placeholder="Order NO.">
            <div class="input-group-addon">&nbsp;</div>
            <input id="searchOrderNo" style="margin-left:-1px !important;" type="text" class="form-control" autocomplete="off" placeholder="Order NO.">

        </div>
    </div>-->
    <!--hyq has canceled code as follows(2015-4-13)-->
    <!--<div class="form-group"> 
        <div class="input-group" style="margin-left:24px;">
            <div class="input-group-addon">MABD</div>
            <input id="searchBeginOrderMABD" type="text" class="form-control" autocomplete="off" placeholder="Start" style="width:150px;margin-right: -1px;" readonly="readonly">
            <span class="input-group-addon">~</span>
            <input id="searchEndOrderMABD" type="text" class="form-control" autocomplete="off" placeholder="End" style="width:150px;margin-left:-1px;" readonly="readonly">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" id="btnSearchOrder" class="btn btn-info">Search</button>
    </div>
    -->
    <!--hyq has canceled code(2015-4-14)-->
    <!--
    <div class="form-group" style="margin-left:20px;">
        <button type="submit" id="btnSearchOrder" class="btn btn-info">Search</button>
    </div>
    -->
   
</div>