<!--
<div id="btn-group1" class="row">
	<div class="col-lg-12 btn-group" role="group">     
		<button type="button" data-value="out" class="btn btn-default">Outbound</button>
		<button type="button" data-value="in" class="btn btn-default">Inbound</button>
	</div>
</div>--> 
<div class="row" style="padding-top:10px;">
	<div class="col-lg-12">
		<div class="form-group width200" style="float:left;">
			<div class="input-group">
				<div class="input-group-addon">Reference NO.</div>
				<input id="searchNo" type="text" class="form-control" autocomplete="off" placeholder="Load/Order" style="width:150px;">  
			</div>
		</div>
		<div class="form-group" style="float:left;position:relative;left:80px;">
			<button type="submit" id="typeSearch" class="btn btn-info">Search</button>
		</div>
	</div>
</div>
<div class="row" style="padding-top:10px;">
	<div class="col-lg-12">
		<div id="tabSelectOrder" style="margin-top:10px;">
			<div id="tabSelectOrderList"></div>
		</div>
	</div>
</div>