/* .search_top_div{ 
	border-bottom:1px #CCC dashed;
	display:none;
}

.search_button{
    font-weight:bold;
    font-size:12px;                    
}
.search_condition{
	min-width; float:left
}
.search_float{
	float:left
}


.search_model_01{border-bottom:1px #CCC dashed; display:block;}
.search_model_02{font-weight:bold;font-size:12px;}
.search_model_03{overflow:auto;}
.search_model_04{width:200px;float:left;margin-left:10px; height:20px}
.search_model_05{font-size:13px;text-decoration:none;outline:none;color:#069;}
.search_model_06{padding-left:10px}

.serch_conditions_01{border:1px #090 solid;float:left;min-width;font-size:13px;cursor:pointer;margin-left:10px;padding-left:2px;}
.serch_conditions_02{color:red;font-weight: bold;}

.multiple_condition-01{font-size:13px;color:#069;text-decoration:none;outline:none;}
.multiple_condition-02{clear:left;background-color:#F0F0F0;height:26px;padding-top:2px} */

/* table{
	border-collapse:separate;
	border-spacing:2px;
} */


.template_button{
	width:100%;
	/* margin:0px auto;
	text-align:left; */ 
	margin-top:3px;
	border:2px #dddddd solid;
	background:#eeeeee;
	padding:5px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}

.list_table_th{
	height:30px;
	background-color: #e5e5e5;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #bbbbbb;
	border-right-color: #bbbbbb;
	border-bottom-color: #bbbbbb;
	border-left-color: #bbbbbb;
	font-weight:bold;
	color:#333333;
	padding:5px;
	font-size:12px;
	vertical-align:center;
	text-align:center;
}
.common-element-button{background: url("/Sync10/administrator/imgs/button_short.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
border-style: solid;color: #000000;border-width: 0;height: 20px;width:80px;}
.common-element-td{font-size:10px;}
.tag_font{font-weight:bold;}

.lableinfo{background:  #FFF;width:750px;height: 60px;font-size: 12px;}
.lablebackground{background: #aaa;width:750px;height: 460px;padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;font-size: 12px;}

.lablebackground .tablecloth{
	background: #aaa;
	margin-left:2px;
	margin-top: 20px;
	float: left;
	position:relative;
	text-align:center;
	width: 565px;
	height: 435px;
 	overflow-y:auto;
	}
.lablebackground .btns{background: #EEE;width: 183px;height: 460px;margin: 0px ;border-left: 1px #111;float: right;}
.lablebackground .btns .turn{width:183px;margin-left: 0px;float: left;}
.lablebackground .btns .elements{width: 183px;height: 350px;margin-left: 0px;overflow-y:auto;border-bottom:1px solid #aaa;}

.turn .controler{float: right;height: 20px;}
.turn .controlerBut{width:100px;margin-left: 50px;float: left;}

.controlerBut .turnTop{height: 20px;margin: 0px;padding:0;padding-left: 38px;}
.controlerBut .leftRight{width: 90px;height: 20px;margin: 0px;padding:0px;}
.controlerBut .turnBottom{height: 20px;margin: 0px;padding:0px;padding-left: 38px;}

.leftRight .turnLeft{width: 20px;height: 20px;margin-left: 5px;padding:0px;float: left;}
.leftRight .turnRight{width: 20px;height: 20px;margin: 0px;padding:0px;float: right;}

textarea{
	margin-left:auto;
	margin-right:auto;
	font-size: 12px;
	width:390px;
	height: 426px;
}
.container_origin{
	text-align:left;
	background: #FFF;
	width: 400px;
	height: 455px;
	margin: 0px ;
	border-left: 1px #111;
	float: left;
	padding: 7;
}
.container_button{	
	margin-top: 25px;
	display:inline;
	vertical-align:center; 
	text-align:center;
	background: #FFF;	
	width: 140px;
	height: 425px;
	margin-left: 0px ;
	border-left: 0px #111;
	float: left;	
}
.container_compile{
	text-align:left;
	background: #FFF;	
	width: 400px;
	height: 455px;
	margin-left: 0px ;
	border-left: 0px #111;
	float: right;	
}
.container_preview{
	overflow:auto;
	font-size: 12px;
	width:390px;
	height: 426px;
	margin-left:0px;
	margin-right:auto;
	border: 1px solid #999;
}
.wrap{
	background: #EEE;
	overflow:hidden;	
	height:340px;
	margin-bottom: 3px;
}

.inner .long-button{
	margin-top: 5px;
}
.normal{
	height:340px;
}
.barcode{
	height:340px;
}
.upload{
	height:340px;
}
.showPicUp{
	height: 300px;
	width: 350px;
	margin: 5px 10px 5px 5px;
	float: left;
}
.controlUp{
	width: auto;
	margin: 5px;
	float: left;
}

.photo_basic_layout{float:left;width:550px;height:530px;margin-right: 50px;}
.photo_basic_layout div:nth-child(1) span{font-weight:bold;}
.photo_basic_layout_select{margin-top: 10px;height: 20px;}
.photo_basic_layout_header{background-color: #e5e5e5;border:1px solid #bbbbbb;width:100%;margin-top: 20px;height: 28px;font-weight: bold;position: relative; display:block;}
.photo_basic_layout div:nth-child(2) span{display: inline-block;left: 5px;position: absolute;margin-top: 4px;}
.photo_basic_layout div:nth-child(2) label{display: inline-block;right: 5px;position: absolute;margin-top: 2px;}
.photo_basic_layout_context{width:538px;margin-top:2px; height:400px;border:2px #dddddd solid;background:#eeeeee;padding:5px; }
/*:first-line*/
.photo_basic_layout_edge{float:left;width:200px;height:400px;margin-right: 50px;}
.photo_basic_layout_edge div:nth-child(1) span{font-weight:bold;}
.photo_basic_layout_edge div:nth-child(2){margin-top: 10px;height: 30px;}
.photo_basic_layout_edge div:nth-child(3){background-color: #e5e5e5;border:1px solid #bbbbbb;width:100%;margin-top: 20px;height: 28px;font-weight: bold;position: relative; display:block;}
.photo_basic_layout_edge div:nth-child(3) span{display: inline-block;left: 0px;position: absolute;margin-top: 4px;margin-left: 4px;}
.photo_basic_layout_edge div:nth-child(3) label{display: inline-block;right: 0px;position: absolute;margin-top: 2px;margin-right: 2px;}
.photo_basic_layout_edge div:nth-child(4){width:100%;height:530px;overflow:auto;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-right-color: #bbbbbb;border-bottom-color: #bbbbbb;border-left-color: #bbbbbb;}
input[type=button].normal,button.normal{width:80px;height:23px;cursor: pointer;}

