 <fieldset>
     <legend>
         {{#xif "this.error && this.errorThrown"}}
            <span class="error-message">错误信息</span>
         {{else}}
             <span class="response-message">响应内容</span>
         {{/xif}}
    </legend>
    {{#if error }}
        <pre><code>{{ error }}</code></pre>
    {{else}}
        <pre><code class="json">{{ response }}</code></pre>
    {{/if }}
</fieldset>
