<table>
<tbody>
    <tr>
        <th>请求URI</th>
        <td colspan="3">
            <input type="text" id="params-uri" class="uri-input"/>         
        </td>
    </tr>
    <tr>
        <th>请求METHOD</th>
        <td colspan="3">
            <select id="params-method">
                 <option value="GET" selected>GET</option> 
                 <option value="POST" >POST</option>
                 <option value="PUT">PUT</option>
                 <option value="DELETE">DELETE</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>请求BODY<br/>(JSON编辑器)</th>
        <td>
            <div id="params-body" style="width: 550px; height: 300px;"></div>
        </td>
        <th>
            <button id="clear-req">清除</button><br/>
        </th>
        <th>
            <button id="submit-req">提交</button>
        </th>
    </tr>
</tbody>
</table>
