﻿body {
}
.container { width:98%;}
.btn-group {margin-bottom:0;}

/**列表弹出框*/
fieldset { border:solid;}
.rb-grid { padding:0;text-align:left;} 
.rb-grid li:nth-child(1) {background:none;}
.rb-grid li {width: 100%;height: auto;background:none;color:#000;padding:0;}

.rb-overlay {background:#f1f1f1;}

.rb-title { height:45px; background-color:#428bca;}
.rb-close { color:#fff;font-size:0.9em;}

.rb-grid li:nth-child(1) { background: none; }
.rb-grid li:nth-child(2) { background: none; }
.rb-grid li:nth-child(3) { background: none; }
.rb-grid li:nth-child(4) { background: none; }
.rb-grid li:nth-child(5) { background: none; }
.rb-grid li:nth-child(6) { background: none; }
.rb-grid li:nth-child(7) { background: none; }
.rb-grid li:nth-child(8) { background: none; }
.rb-grid li:nth-child(9) { background: none; }
.rb-grid li:nth-child(10) { background: none; }
.rb-grid li:nth-child(11) { background: none; }

.product-list tbody tr td { vertical-align:middle;}

/**图片*/
.ch-img-1 {background-image: url(../img/vizio.jpg); background-size: 200px; height: 150px;width: 150px; margin: auto;}
.ch-img-2 {background-image: url(../img/unable_to_provide_photo.jpg); background-size: 200px; height: 150px;width: 150px; margin: auto;}
.ch-info p {  padding: 5px 5px;  margin: 0 45px;border-top:0;}


