﻿body {
}
h3, h2 {
    margin:0px;
    padding:0px;
}

.version-content div h2, .version-content h3{
    color:#000000;
}
.version-content ul li {
    padding-top:5px;
}
.version-content ol li {
    color:#878787;
}

.version-content div h2 {
    padding:10px 0;
    font-size:20px;
    display: block;   
    border-bottom: solid 1px #000; 
    padding-bottom: 3px;
}

.version-content h3 {
    padding:10px 0;
    font-size:16px;
}
