.dataTable 
{
	width: 100%;
	min-width: 1240px;
	border: 0px;
	border-width: 0px;
}

.dataTable td fieldset
{
	border-width: 2px;
	padding-bottom: 5px;
	border-style: solid;
	margin: 0px;
	padding: 0px;
}
.dataTable .ulDiv
{
	width: 97%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.dataTable .namestyle
{
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	text-align: right;
	margin-right: 3px;
}

.dataTable ul
{

	list-style-type: none;
	padding: 0px;
	margin: 0px;

}