.basicTable ,.basicInfoTable,#productListTable
{
	border: 0;
	width: 100%;
} 
.basicTable  td
{
	width: 33%;
}
.basicTable .nameClass 
{
	width: 40%;
	min-width: 80px;
	text-align: right;
	margin-right: 3px;
}

#basicTable .valueClass
{
	min-width: 120px;
	text-align: left;
} 

.basicInfoTable td fieldset
{
	border-width: 2px;
	padding-bottom: 5px;
	border-style: solid;
	margin: 0px;
	padding: 0px;
}

.basicInfoTable ul
{

	list-style-type: none;
	padding: 0px;
	margin: 0px;

}

div.tabup 
{
	background-attachment: fixed;
	background: url(../imgs/tabup.png);
	background-repeat: no-repeat;background-position: center center;height: 15px;width: 79px;color: #000000;border: 0px;
	position:relative;
}

div.tabdown {
	background-attachment: fixed;
	background: url(../imgs/tabdown.png);
	background-repeat: no-repeat;background-position: center center;height: 15px;width: 79px;color: #000000;border: 0px;
	position:relative;
}


#productListTable .tcaption
{
	background-color: #CCCCCC;
	border-color: #bbbbbb;
	border-width: 1px 1px 1px 0;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	padding: 5px;
	text-align: left;
};