<div id="categoryForm">
		<input type="text" placeholder="Search"  style="padding: 6px;border-radius: 4px;border: 1px solid silver;font-family: inherit;font-size: inherit;line-height: inherit;width:68%;" id="search">
  		<a href="javascript:void(0)" id="filter-clear" class="fa fa-times clear" style="display: none;left:200px;width:10px;color:#5e5e5e"></a>
  		<a href="javascript:void(0)" class="buttons add" style="height:16px;width:36px;left:10px;" title="Add">Add</a>		
</div>

