               <ul>
                    {{#each this}}
                        <li><span data-id="{{this.id}}">{{this.text}}</span>
                            {{#if this.children}}
                                {{{tree this.children}}}
                            {{/if}}
                        </li>
                    {{/each}}
               </ul>