	  		<div id="category" class="dialog_update_content">
		  		<form id="categoryForm" method="post" onkeydown="if(event.keyCode==13) return false;">
		  			<table>
			            <tr>
			                <td>
			                    <b class="require_property">*</b>
			                    <span>Title</span>
			                </td>
			                <td>&nbsp;</td>
			            </tr>
			            <tr>
			                <td>
			                    <input type="text" class="input_text_password_select" name="title" id="title" maxlength="50" value="{{title}}"/>
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>
		  			</table>
				</form>   
			</div> 