<div class="row">
	<div class="col-md-6">
		<form >
		<div class="row">
			<div class="form-group col-sm-5">
				<div class="input-group">
					<input id="DeadlineMin" type="text" maxlength="4" class="form-control min-70" placeholder="Min">
					<div class="input-group-addon">Deadline(H)</div>
					<input id="DeadlineMax" type="text" maxlength="4" class="form-control min-70" value="24" placeholder="Max" required>
				</div>
			</div>
			<div class="form-group col-sm-10">
				<div class="input-group">
					<div class="input-group-addon">To</div>
					<input id="shipTo" type="text" class="form-control min-200" placeholder="Ship To" />
				</div>
			</div>
			<div class="form-group col-sm-2">
				<button id="Search" class="btn btn-default btn-info" type="button" style="width:100px">Search</button>
			</div>
		</div>
		</form>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<div class="row">
			<div class="form-group col-sm-10">
				<div class="input-group">
					<div class="input-group-addon">MABD</div>
					<input id="mabd" type="text" class="form-control fa-calendar" >
					<span class="mabd input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
				</div>
			</div>
			<div class="form-group col-sm-10">
				<div class="input-group">
					<div class="input-group-addon">Plan Time</div>
					<input id="plantime" type="text" class="form-control">
					<span class="plantime input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading row">
				<div class="form-group col-sm-3">
					<div class="input-group">
						<label class="form-control">
							<input id="sall1" type="checkbox">
						</label>
						<div class="input-group-addon">Select All</div>
					</div>
				</div>
			</div>
			<div id="listDetail" class="min-h300 Express"></div>
			<div class="panel-heading row">
				<div id="LPallets" class="col-sm-6">Pallets:0</div>
				<div id="LPackages" class="col-sm-6">packages:0</div>
				
			</div>
		</div>
	</div>
	<div class="col-md-6" >
		<div class="row">
			<div class="col-md-1">
				<div style="display:table;height:413px;">
					<div style="vertical-align: middle; display:table-cell;">
						<button id="btn_gt" class="color-red"><i class="fa fa-arrow-right fa-2x"></i></button>
						<button id="btn_lt" class="color-red"><i class="fa fa-arrow-left fa-2x"></i></button>
					</div>
				</div>
			</div>
			<div class="col-md-11">
				<div class="panel panel-default">
					<div class="panel-heading row">
						<div class="form-group col-sm-4">
							<div class="input-group">
								<label class="form-control">
									<input id="sall2" type="checkbox">
								</label>
								<div class="input-group-addon">Select All</div>
							</div>
						</div>
					</div>
					<div id="selectDetail" class="min-h300"></div>
					<div class="panel-heading row">
						<div class="SPallets col-sm-6">Select Pallets:0</div>
						<div class="SPackages col-sm-6">Select packages:0</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" >
	<div class="pull-right" style="margin:15px;">
		<button id="btn_next" class="btn btn-default" style="width:120px">Next</button>
	</div>
</div>