<div class="row">
	<div class="form-group col-md-4">
		<div class="input-group">
			<div class="input-group-addon">{{soI18n.To}}</div>
			<input id="shipTo" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder={{soI18n.To}} required>
		</div>
	</div>
	<div class="form-group col-md-4 hide">
		<div class="input-group">
			<input id="DeadlineMin" type="text" class="form-control" placeholder="Min">
			<div class="input-group-addon">Deadline(H)</div>
			<input id="DeadlineMax" type="text" class="form-control" placeholder="Max" required>
		</div>
	</div>
	<div class="form-group col-md-4">
		<div class="input-group">
			<div class="input-group-addon">{{soI18n.Status}}</div>
			<input id="status" type="text" class="form-control min-200" placeholder="{{soI18n.SelectStatus}}">
		</div>
	</div>
</div>
<div class="row hide">
	
	<div class="form-group col-md-4" >
		<div class="input-group">
			<div class="input-group-addon">From</div>
			<input id="shipFrom" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Ship From" required>
		</div>
	</div>
	<div class="form-group col-md-4">
		<div class="input-group">
			<span class="input-group-addon form-label min-80">Progress(%) </span>
            <input id="ProgressMin" type="number" class="form-control" placeholder="Min 0" min="0" max="100">
            <span class="input-group-addon to" >~</span>
            <input id="ProgressMax" type="number" class="form-control" placeholder="Max 100" min="0" max="100">
		</div>
	</div>
	</div>
	<div class="row">

	<div class="form-group col-md-4">
             


		<div class="input-group">
			 <span class="input-group-addon form-label" >{{soI18n.DeadlineDay}}</span>
                 <input class="form-control hours" type="number"  min="0" step="1" id="deadLineStartDay" placeholder={{soI18n.day}}>
                 <span class="input-group-addon to" >~</span>
                 <input  class="form-control hours"  type="number" min="0" step="1" id="deadLineEndDay" placeholder={{soI18n.day}}>
		</div>
	</div>
	<!--
	<div class="form-group col-md-4">
		<div class="input-group">
			<div class="input-group-addon">CreateTime</div>
			  <input type="text" class="form-control" id="createTime" placeholder="CreateTime"
            value="{{CREATETIME}}">
            <span class="error" title="Please pick a time"></span>
		</div>
	</div>
	-->
	<div class="form-group col-md-4">
		<button id="SearchTabBtn" class="btn btn-default btn-info" style="width:120px">{{soI18n.Search}}</button>
	</div>
</div>