{{#each detail}}
<tr>
    <td class="text-center"><span class="J-line-no">{{LINE_NO}}</span></td>
    <td><input class="form-control J-service-id" placeholder="Service ID" value="{{SERVICE_ID}}"/></td>
    <td><input class="form-control J-des" placeholder="Description" value="{{DESCRIPTION}}"/></td>
    <td>
    	<select class="form-control J-unit">
            <option value="" selected></option>
    		<option value="1" {{#xif "this.UNIT_PRICE == 1"}}selected{{/xif}}>Squara Feet</option>
    		<option value="2" {{#xif "this.UNIT_PRICE == 2"}}selected{{/xif}}>Cubic Feet</option>
            <option value="3" {{#xif "this.UNIT_PRICE == 3"}}selected{{/xif}}>CWT</option>
            <option value="4" {{#xif "this.UNIT_PRICE == 4"}}selected{{/xif}}>Long Ton</option>
            <option value="5" {{#xif "this.UNIT_PRICE == 5"}}selected{{/xif}}>Short Ton</option>
            <option value="6" {{#xif "this.UNIT_PRICE == 6"}}selected{{/xif}}>Metric Ton</option>
            <option value="7" {{#xif "this.UNIT_PRICE == 7"}}selected{{/xif}}>Invoice</option>
            <option value="8" {{#xif "this.UNIT_PRICE == 8"}}selected{{/xif}}>Package</option>
            <option value="9" {{#xif "this.UNIT_PRICE == 9"}}selected{{/xif}}>Pallet</option>
            <option value="10" {{#xif "this.UNIT_PRICE == 10"}}selected{{/xif}}>Piece</option>
            <option value="11" {{#xif "this.UNIT_PRICE == 11"}}selected{{/xif}}>Receipt</option>
            <option value="12" {{#xif "this.UNIT_PRICE == 12"}}selected{{/xif}}>Release</option>
            <option value="13" {{#xif "this.UNIT_PRICE == 13"}}selected{{/xif}}>Period</option>
            <option value="14" {{#xif "this.UNIT_PRICE == 14"}}selected{{/xif}}>Day</option>
            <option value="15" {{#xif "this.UNIT_PRICE == 15"}}selected{{/xif}}>Hour</option>
    	</select>
    </td>
    <td><input class="form-control J-quantity" placeholder="0.0000" value="{{QUANTITY}}"/></td>
    <td><input class="form-control J-rate" placeholder="0.0000" value="{{RATE}}"/></td>
    <td><span class="J-amount">{{AMOUNT}}</span></td>
    <td><i class="icon icon-remove"></i></td>
</tr>
{{/each}}