<div class="container-fluid task-invoice add-invoice">
    <div role="tabpanel" class="panel panel-default">
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <span class="check"></span>
                    <a href="#template" aria-controls="template" role="tab" data-toggle="tab">Customer Info</a>
                </li>
                <li role="presentation">
                    <span  id="check_detail" class="check"></span>
                    <a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Bill Detail</a>
                </li>
                <!-- <li role="presentation">
                    <a href="#browse" aria-controls="browse" role="tab" data-toggle="tab">Preview</a>
                </li> -->
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active panel-body" id="template"></div>
                <div role="tabpanel" class="tab-pane panel-body" id="detail"></div>
                <div role="tabpanel" class="tab-pane panel-body" id="browse"></div>
                <div class="modal"><div class="loading"></div></div>
            </div>
        </div>
    </div>
</div>