<table class="table table-bordered add-task">
    <tbody>
        <tr> 
            <td>To</td>
            <td>
                <select style='width:350px;' multiple="multiple" name="schedule_execute_id" id="schedule_execute_id"> </select>
				<input type="hidden" id="deleteusers" name="deleteusers" value='{{model.SCHEDULE_EXECUTE_ID}}'/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="checkbox" id="is_additional_Task" name="is_additional_Task" style="display:none;"/>
				
				<input type="hidden" id="assign_user_id" name="assign_user_id" value='{{model.ASSIGN_USER_ID}}'/>
	    		<input type="hidden" id="parent_schedule_id" name="parent_schedule_id" value='{{model.PARENT_SCHEDULE_ID}}'/>
	    		<input type="hidden" id="schedule_id" name="schedule_id" value='{{model.SCHEDULE_ID}}'/>
	    		<input type="hidden" id="task_number" name="task_number" value='{{model.TASK_NUMBER}}'/>
            </td>
        </tr>
        <tr>
            <td>Task</td>
            <td> 
                <textarea class="form-control" name="schedule_detail" id="schedule_detail" placeholder="Description..." >{{model.SCHEDULE_DETAIL}}</textarea>
            	<div class="submit"><button class="btn btn-default" type="button" id="save_sub_task">Submit</button></div>
            </td>
        </tr>
    </tbody>
</table>

