<!--<div class="add-replay"> -->
<!-- <fieldset> -->
	<legend id="showAddReplayUserInfo">{{ASSEMPLOYNAME}}</legend>
	<!-- <form id="addform" action=""> -->
		<input type="hidden" id="schedule_id" name="schedule_id"  value="{{SCHEDULE_ID}}"/>
		<input type="hidden" id="sch_replay_id" name="sch_replay_id"  value="{{SCH_REPLAY_ID}}"/>
		<input type="hidden" name="employe_name" id="employe_name" value="{{EMPLOYE_NAME}}"/>
		<input type="hidden" name="adid" id="adid" value="{{ADID}}"/>
		<input type="hidden" name="sch_state" id="sch_state" value="{{SCH_STATE}}"/>
		<!-- <input type="hidden" name="schedule_sub_id" id="schedule_sub_id" value="{{SCHEDULE_SUB_ID}}"/> -->
		<!-- <input type="hidden" name="total_state" id="total_state" value="{{TOTAL_STATE}}"/> -->
		<table class="table">
			<tr>
				<td class="info">Remark Type &nbsp;</td>
				<td width="80%">
					<select class="form-control" name="sch_replay_type" id="sch_replay_type" style="float:left;">
						{{#xif "this.SCH_REPLAY_TYPE == 0"}}
							<option value="1">Normal0</option>
							<option value="0" selected="selected">Replay0</option>
						 {{else}}
							<option value="1" selected="selected">Normal</option>
							<option value="0">Replay</option>
						 {{/xif}}
					</select>
				</td>
			</tr>
			<tr>
				<td  class="info"><span id="contentName">Remark </span>&nbsp;</td>
				<td>
					<textarea  class="form-control" style="height:232px;width:445px" id="sch_replay_context" name="sch_replay_context">{{SCH_REPLAY_CONTEXT}}</textarea>
				</td>
			</tr>
			<tr>
				<td  class="info">Submitter &nbsp;</td>
				<td><span style="color:green;">{{EMPLOYE_NAME}}&nbsp;</span></td>
			</tr>
		</table>
	<!-- </form> -->
	<!-- </fieldset> -->
<!-- </div>