<div class="add-task-div">
<table class="table table-bordered add-task">
    <tbody>
        <tr>
            <td>From</td>
            <td>{{model.ASSEMPLOYNAME}}
	    	<input type="hidden" id="assign_user_id" name="assign_user_id" value='{{model.ASSIGN_USER_ID}}'/>
	    	<input type="hidden" id="schedule_id" name="schedule_id" value='{{model.SCHEDULE_ID}}'/>
	    </td>
        </tr> 
        <tr>
            <td>To</td>
            <td>
				<input type="text" class="form-control" id="exe_employ_name" name="exe_employ_name" value="{{model.EXEEMPLOYNAME}}" placeholder="To..." readonly="readonly"/>
				<input type="hidden" id="schedule_execute_id" name="schedule_execute_id" value='{{model.SCHEDULE_EXECUTE_ID}}'/>
				<input type="hidden" id="deleteusers" name="deleteusers" value='{{model.SCHEDULE_EXECUTE_ID}}'/>
				<font>*</font>
            </td>
        </tr>
        <tr> 
            <td>CC</td>
            <td>
				<input type="text" class="form-control" id="join_employ_name" name="join_employ_name" value='{{model.JOINEMPLOYNAME}}' placeholder="CC..." readonly="readonly"/>
				<input type="hidden" id="schedule_join_execute_id" name="schedule_join_execute_id" value='{{model.SCHEDULE_JOIN_EXECUTE_ID}}'/>
				<input type="hidden" id="del_join_user_id" name="del_join_user_id" value='{{model.SCHEDULE_JOIN_EXECUTE_ID}}'/>
            </td>
        </tr>
         <tr>
            <td>Time</td>
            <td class="js-date-task">
			  <div class="input-append form-group add-task_form-group1">
			 {{!-- <span>Start</span> --}}
    			<input class="form_datetime form-control inconHand bgiconurl_" type="text" id="start_time" name="start_time" value="{{model.START_TIME}}" size="20" readonly="readonly" placeholder="start time">
			  </div>
			  <b>To</b>
			  <div class="input-append form-group add-task_form-group2">
			  {{!-- <span>End</span> --}}
    			<input class="form_datetime form-control inconHand bgiconurl_" type="text" id="end_time" name="end_time" value="{{model.END_TIME}}" size="20" readonly="readonly" placeholder="end time">
			  	<font>*</font>
			  </div>
			  
            </td>
        </tr>
        <tr>
            <td>Subject</td>
            <td>
                <input class="form-control" type="text"  name="schedule_overview" value="{{model.SCHEDULE_OVERVIEW}}" id="schedule_overview" placeholder="Subject..." />
            	<font>*</font>
            </td>
        </tr>
         <!--
        <tr>
            <td>LR No.</td>
            <td>
    			<dt>
    			 	<i class="icon icon-add hid_lr" name="addLR" ></i>
    			</dt>
    			<dt name="lr_no">
				  	<div class="project_lr_no_left">
	        			<select class="form-control selectpicker"" id="lr_type" name="lr_type">
		                	<option value=""></option>
		                	{{#each LRTypeKey}}
		                		<option value="{{key}}" {{#xifCond ../model.LR_TYPE key "="}} selected='selected' {{/xifCond}}>{{value}}</option>
		                	{{/each}}
		                </select>
		             </div>
		             <div class="project_lr_no_right">
						<div class="project_lr_no"> <input class="form-control" type="text" id="lr_no" name="lr_no" placeholder="No." value="{{model.LR_NO}}"/></div>
						<div class="project_lr_no_del"> <i class="icon icon-remove" name="delLR"></i></div>
					</div>
            	</dt>
            </td>
        </tr>
         -->
        <tr>
            <td>Description</td>
            <td> 
                <textarea class="form-control" placeholder="Description..." name="schedule_detail" id="schedule_detail">{{model.SCHEDULE_DETAIL}}</textarea>
            </td>
        </tr>
        
        <!--
        <tr>
            <td>Invoice</td>
            <td>
        		<dl id="showInvoice">
        			<dd><i class="icon icon-add" name="addInvoice" ></i></dd>
        			{{#each model.SUBINVOICE}}
        				<dd>
	        				<span name="billId">{{BILL_ID}}</span> <div class="invoice_del"><i class="icon icon-remove" name="delInvoice" data-invoice="{{BILL_ID}}"></i></div>
	        			</dd>
        			{{/each}}
        		</dl>
            </td>
        </tr>
        -->
        
        <tr>
            <td>Document</td>
            <td>
        		
        			<div style="float:left;min-width:80%;">
        				<dl id="showFile">
	        			{{#each model.SUBFILE}}
		        			<dd>
		        				<span name="fileId">
		        					<a href="/Sync10/_fileserv/file/{{FILE_ID}}" title="{{ORIGINAL_FILE_NAME}}" download="{{ORIGINAL_FILE_NAME}}" data-gallery="">
		        						{{ORIGINAL_FILE_NAME}}
		        					</a>
		        				</span>
		        				<div class="file_del"><i class="icon icon-remove" name="delFile" data-filename="{{ORIGINAL_FILE_NAME}}" data-fileid="{{FILE_ID}}"></i></div>
	        				</dd>
	        			{{/each}}
	        			</dl>	
	        		</div>
	        		
	        		<div style="float:right;max-width:15%;">
	        			<i class="icon icon-upload" name="uploadSOP" ></i>
	        		</div>
        		
            </td>
        </tr>
    </tbody>
</table>
</div>