<div class="download-content">
	<table class="table table-striped">
	<thead>
		<tr>
			<th>File Name</th>
			<th>Operation</th>
		</tr>
	</thead>
	<tbody>
		{{#each this}}
			<tr>
				<td>
					<span name="fileId">
	        			<a href="/Sync10/_fileserv/file/{{FILE_ID}}" title="{{ORIGINAL_FILE_NAME}}" download="{{ORIGINAL_FILE_NAME}}" data-gallery="">
	        				{{ORIGINAL_FILE_NAME}}
	        			</a> &nbsp;
	        		</span>
	        	</td>
				<td class="text-center">
					<a href="/Sync10/_fileserv/file/{{FILE_ID}}" class="glyphicon glyphicon-download-alt"title="{{ORIGINAL_FILE_NAME}}" download="{{ORIGINAL_FILE_NAME}}"></a>
				</td>
			</tr>
		{{/each}}
		{{#unless this}}
		    <tr>
		      <td class="no-data" colspan="6">NO Data</td>
		    </tr>
		{{/unless}}
		</tbody>
	</table>
</div>