<table class="mytable">
	{{#each list}}
		<tr>
			<td class="left">
				<span class="span_checkBox" style="margin-top:-4px;">
					<input type="checkbox" class="J-adgid_check_checked" target="ul_{{@index}}" id="adgid_{{@index}}" value="{{deptId}}"/>
				</span>&nbsp;
				<label class="span_name" for="adgid_{{@index}}">{{deptName}}</label>
			</td>
			<td>
				<ul class="myul" id="ul_{{@index}}" target="adgid_{{@index}}">
	 				{{#each values}}
	 					{{#xifCond ./../../admin_id ADID "!="}}
								<li><span class="span_checkBox"><input type="checkbox" class="J-user_check_checked" name="user_{{EMPLOYE_NAME}}" id="user_{{ADID}}"  {{#if checked}}checked="checked" {{/if}}  value="{{ADID}}"/></span>&nbsp;
									<label class="span_name" for="user_{{ADID}}">{{EMPLOYE_NAME}}</label>
								</li>
						{{/xifCond}}
					{{/each}}
				</ul>
			</td>
		</tr>
	{{/each}}
	{{#unless list}}
		<tr>
			<td class="no-data" style="height: 180px;" colspan="2">NO Data</td>
		</tr>
	{{/unless}}
</table>
