<div style="text-align: right; margin-top: 20px;margin-bottom: 20px;">
  {{#unless noBtn}}
  <button type="button" class="btn btn-primary">Save</button>
  {{/unless}}
  {{#if noBtn}}
  <button type="button" class="btn btn-default J-print">PDF</button>
  {{/if}}
</div>
<div id="browseTable_container">
  <table id="browseTable" border="0" cellspacing="0" cellpadding="5" style="width:740px; margin:10px auto;">
    <style type="text/css" media="screen">
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      :before, :after{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .clearfix:before, .clearfix:after{
        display: table;
        content: " ";
      }
      .clearfix:after{
        clear: both;
      }
      .clearfix .col-md-5, .clearfix .col-md-7{
        float: left;
      }
      .clearfix .col-md-5{
        width: 42%;
        font-weight: bold;
      }
      .clearfix .col-md-7{
        width: 58%;
        text-align: left;
      }
      label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
      }
      p {
        line-height: 1.6em;
        margin: 0;
      }
      .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .dl-horizontal dd{
        text-align: left;
      }
      #browseTable{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 12px;
        line-height: 1.6;
        color: #333;
        background-color: #fff;
      }
      #browseTable dd, #browseTable dt{
        line-height: 1.6em;
      }
      #browseTable td, #browseTable th{
        border-right: 2px solid #333;
        border-bottom: 2px solid #333;
      }
      #browseTable thead td{
        border-top: 2px solid #333;
      }
      #browseTable tbody td{
        border-bottom-width: 0;
      }
      #browseTable .header{
        font-weight: bold;
      }
      #browseTable th, #browseTable td{
        padding: 5px;
      }
      #browseTable th{
        text-align: center;
      }
      #browseTable td{
        text-align: right;
      }
      #browseTable tfoot label{
        padding-left: 10px;
        margin-bottom: 0;
        white-space: nowrap;
      }
      #browseTable .caption{
        text-align: center;
        text-shadow: #f3f3f3 0px 0px 1px, #D1D1D1 0px 0px 1px;
        color: #333;
        border-width: 0;
      }
      #browseTable .caption p{
        font-weight: bold;
        line-height: 1.6em;
      }
      #browseTable .caption label{
        font-size: 1.2em;
      }
      #browseTable tfoot .col-md-5{
        text-align: center;
        letter-spacing: 1px;
      }
      #browseTable tfoot .col-md-5 p{
        font-weight: bold;
      }
      #browseTable .bill-to .dl-horizontal.first, #browseTable .bill-to .dl-horizontal.last{
        float: left;
        padding: 0 15px;
        margin: 0;
      }
      #browseTable .bill-to .dl-horizontal.first{
        width: 58%;
      }
      #browseTable .bill-to .dl-horizontal.last{
        width: 42%;
      }
      #browseTable .bill-to .dl-horizontal.first dt{
        width: 70px;
        font-weight:bold;
      }
      #browseTable .bill-to .dl-horizontal.first dd{
        margin-left: 75px
      }
      #browseTable .bill-to .dl-horizontal.last dt{
        width: 105px;
        font-weight:bold;
      }
      #browseTable .bill-to .dl-horizontal.last dd{
        margin-left: 110px
      }
    </style>
    <thead>
      <tr>
        <td colspan="5" class="caption">
          <label>Logistics Team</label>
          <p>Location: (Valley) 15930 Valley Blvd. City of Industry CA 91744</p>
          <p>TEL: 909-598-7268 FAX: 909-598-7216</p>
          <p style="margin-top: 10px;">INVOICE</p>
        </td>
      </tr>
      <tr>
        <td colspan="5" class="bill-to" style="border-left: 2px solid #333;">
          <div class="content clearfix">
            <dl class="dl-horizontal first">
              <dt>Bill To:</dt>
              <dd>{{ADDRESS_NAME}}</dd>
              <dt>Address:</dt>
              <dd>
              {{ADDRESS_STREET}}<br/>
              {{ADDRESS_CITY}}, {{ADDRESS_STATE}} {{ADDRESS_ZIP}}
              </dd>
              <dt>Attention:</dt>
              <dd>{{ATTENTION}}</dd>
              <dt>Tel:</dt>
              <dd>{{TEL}}</dd>
              <dt>Fax:</dt>
              <dd>{{FAX}}</dd>
              <dt>Note:</dt>
              <dd></dd>
            </dl><dl class="dl-horizontal last">
            <dt>Date:</dt>
            <dd>{{CREATE_DATE}}</dd>
            <dt>Invoice No.:</dt>
            <dd>{{#if BILL_ID}}{{BILL_ID}}{{else}}XXXXXX{{/if}}</dd>
            <dt>Payment Term:</dt>
            <dd style="margin-bottom: 40px;">{{PAYMENT_TERM}}</dd>
            <dt>Reference No.:</dt>
            <dd style="word-break: break-word;">{{REFERENCE_NO}}</dd>
          </dl>
        </div></td>
      </tr>
      <tr class="header">
        <th colspan="2" style="border-left: 2px solid #333; width: 25%;">Quantity</th>
        <th style="width:50%;">Description</th>
        <th>Rate</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.BILL_DETAIL}}
      <tr>
        <td style="border-right-width:0; border-left: 2px solid #333;">{{this.QUANTITY}}</td>
        <td style="border-left-width: 0; ">
          {{#xif "this.UNIT_PRICE == 1"}}Squara Feet{{/xif}}
          {{#xif "this.UNIT_PRICE == 2"}}Cubic Feet{{/xif}}
          {{#xif "this.UNIT_PRICE == 3"}}CWT{{/xif}}
          {{#xif "this.UNIT_PRICE == 4"}}Long Ton{{/xif}}
          {{#xif "this.UNIT_PRICE == 5"}}Short Ton{{/xif}}
          {{#xif "this.UNIT_PRICE == 6"}}Metric Ton{{/xif}}
          {{#xif "this.UNIT_PRICE == 7"}}Invoice{{/xif}}
          {{#xif "this.UNIT_PRICE == 8"}}Package{{/xif}}
          {{#xif "this.UNIT_PRICE == 9"}}Pallet{{/xif}}
          {{#xif "this.UNIT_PRICE == 10"}}Piece{{/xif}}
          {{#xif "this.UNIT_PRICE == 11"}}Receipt{{/xif}}
          {{#xif "this.UNIT_PRICE == 12"}}Release{{/xif}}
          {{#xif "this.UNIT_PRICE == 13"}}Period{{/xif}}
          {{#xif "this.UNIT_PRICE == 14"}}Day{{/xif}}
          {{#xif "this.UNIT_PRICE == 15"}}Hour{{/xif}}
        </td>
        <td><div style=" max-width: 450px; word-break: break-all; text-align: left;">{{DESCRIPTION}}</div></td>
        <td>{{RATE}}</td>
        <td>{{AMOUNT}}</td>
      </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" style="border-right-width:0; border-left: 2px solid #333; border-top: 2px solid #333;"></td>
        <td colspan="3" style="border-left-width: 0; border-top: 2px solid #333;text-aglin:right;">
            <label>Total Amount Due =>&nbsp;&nbsp;</label>
            
            <span style="margin-left: 20px; display: inline-block; width:120px;">$ 
            {{#if this.TOTAL}}{{TOTAL}}
            {{else}}
            {{SAVE}}
            {{/if}}
            </span>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="border-left: 2px solid #333;">
          <div class="clearfix">
            <div class="col-md-5">
              <small>Please remit payment to</small>
              <p>Logistics Team</p>
              <p>218Machlin Ct.#A</p>
              <p>Walnut,CA91789</p>
              <p>Attn:Accounting Department</p>
            </div>
            <div class="col-md-7">
              5% late service fee per month will be added to amounts past due. if the account is turned over for collection, the prevailing party shall be entitled to obtain reasonable attorneys fees and costs.
            </div>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>    
</div>