<fieldset>
    <legend>
        <span>Bill To</span>
    </legend>
    <dl class="dl-horizontal">
        <dt>Client ID&nbsp;:</dt>
        <dd style="width: 196px;float: left;margin-left: 20px;">
            <div class="sel_client">
                <select id="sel_client" class="form-control"></select>
                <input class="validate sel-input" required id="client_id" value="{{CLIENT_ID}}"/>
            </div>
        </dd>
        <dt style="clear: none;width: 138px;">Payment Term&nbsp;:</dt>
        <dd style="width: 100px;float: left;margin-left: 20px;"><select id="paymentTerm" class="form-control">
            <option value="COD">COD</option>
            <option value="N15">N15</option>
            <option value="NET30">NET30</option>
            <option value="NET40">NET40</option>
            <option value="NET45">NET45</option>
            <option value="NET60">NET60</option>
        </select></dd>
        <dt>Customer Name&nbsp;:</dt>
        <dd><input class="form-control" id="name" value="{{ADDRESS_NAME}}"/></dd>
        <dt>Street&nbsp;: </dt>
        <dd><input class="form-control" id="street" value="{{ADDRESS_STREET}}"/></dd>
        <dt>City&nbsp;: </dt>
        <dd><input class="form-control" id="city" value="{{ADDRESS_CITY}}"/></dd>
        <dt>Zip&nbsp;: </dt>
        <dd><input class="form-control" id="zip" value="{{ADDRESS_ZIP}}"/></dd>
        <dt>Country&nbsp;:</dt>
        <dd>
            <div class="sel_country">
                <select id="sel_country" class="form-control"></select>
                <input class="validate sel-input" required id="sel_country_val" value="{{ADDRESS_COUNTRY_CODE}}"/>
                <input type="hidden" id="sel_country_ccid" value="{{CCID}}" />
                <input type="hidden" id="sel_country_name" value="{{ADDRESS_COUNTRY}}" />
            </div>
        </dd>
        <dt>State&nbsp;:</dt>
        <dd>
            <div class="sel_state">
                <select id="sel_state" class="form-control"></select>
                <input class="validate sel-input" required id="sel_state_val" value="{{PRO_ID}}"/>
                <input type="hidden" id="sel_state_name" value="{{ADDRESS_STATE}}" />
            </div><input class="form-control validate" id="state_input" required value="{{ADDRESS_STATE}}"/>
        </dd>
        <dt>Attention&nbsp;: </dt>
        <dd><input class="form-control" id="attention" value="{{ATTENTION}}"/></dd>
        <dt>Payer Email&nbsp;: </dt>
        <dd><input class="form-control validate" validType="email" id="email" value="{{PAYER_EMAIL}}"/></dd>
        <dt>Tel&nbsp;:</dt>
        <dd><input class="form-control" id="tel" value="{{TEL}}"/></dd>
        <dt>Fax&nbsp;:</dt>
        <dd><input class="form-control" id="fax" value="{{FAX}}"/></dd>
    </dl>
</fieldset>
<div class="text-right mt20">
    <button type="button" class="btn btn-primary" id="goToNext">Next</button>
</div>