{{#each list}}
<tr>
    <td>
        <fieldset>
            <legend>
                <span class="fc-green J-bill-id">{{this.BILL_ID}}&nbsp;&nbsp;{{#xif "this.INVOICE_STATUS == 1"}}IMPORTED{{else}}{{#xif "this.INVOICE_STATUS == 3"}}CLOSED{{else}}OPEN{{/xif}}{{/xif}}</span>
            </legend>
            <ul class="list-unstyled" style="margin-bottom:0;">
                <li><span>Reference No&nbsp;:</span>
                	{{#each ../LRTypeKey}}
                  {{#xifCond ../LR_TYPE key "="}}
                  {{value}}&nbsp;{{../../LR_NO}}
                  {{/xifCond}}
                  {{/each}} &nbsp;
              </li>
              <li><span>Invoice Amount&nbsp;:</span>$&nbsp;{{SAVE}}&nbsp;</li>
              <li><span>User&nbsp;:</span>{{ADMIN_NAME}}&nbsp;</li>
              <li><span>Create Time&nbsp;:</span>{{CREATE_DATE}}&nbsp;</li>
          </ul>
      </fieldset>
  </td>
  <td>
    <dl class="dl-horizontal">
        <dt>Client ID&nbsp;:&nbsp;</dt>
        <dd class="bold">{{CUSTOMER_ID}}</dd>
        <dt>Customer Name&nbsp;:&nbsp;</dt>
        <dd>{{ADDRESS_NAME}}</dd>
        <dt>Payment Term&nbsp;:&nbsp;</dt>
        <dd>{{PAYMENT_TERM}}</dd>
        <dt>Street&nbsp;:&nbsp;</dt>
        <dd>
          {{ADDRESS_STREET}}<br/>
          {{ADDRESS_CITY}}, {{ADDRESS_STATE}} {{ADDRESS_ZIP}}
      </dd>

      <dt>Country&nbsp;:&nbsp;</dt>
      <dd>{{ADDRESS_COUNTRY}}</dd>
      <dt>Attention&nbsp;:&nbsp;</dt>
      <dd>{{ATTENTION}}</dd>
      <dt>Payer Email&nbsp;:&nbsp;</dt>
      <dd>{{PAYER_EMAIL}}</dd>
      
      <dt>Tel&nbsp;:&nbsp;</dt>
      <dd>{{TEL}}</dd>
      <dt>Fax&nbsp;:&nbsp;</dt>
      <dd>{{FAX}}</dd>

  </dl>
</td>
<td>
    {{#each this.SCHEDULE}}
    <fieldset>
        <legend>
           <span>PROJECT</span> <a href="javascript:void(0);" class="fc-green underline J-goto-task" data-task="{{SCHEDULE_ID}}">{{SCHEDULE_ID}}</a>
           {{!--  <span>TASK</span><i class="icon icon-add J-add-task"></i> --}}
       </legend>

       <dl>
        <div class="header">
          {{#each SUBSCHEDULE}}
          {{#xifCond @index 4 "<"}}
          {{!--  
          <dt>
            <label>
              {{#xif "this.TASK_STATUS == 1"}}
              Pending&nbsp;
              {{else}}
              {{#xif "this.TASK_STATUS == 2"}}
              Processing&nbsp;
              {{else}}
              {{#xif "this.TASK_STATUS == 3"}}
              Closed&nbsp;
              {{else}}
              Open&nbsp;
              {{/xif}}
              {{/xif}}
              {{/xif}}
          </label>
      </dt>
      --}}
      <dd>
       {{math @index '+' '1'}}.&nbsp; {{SCHEDULE_DETAIL}}
   </dd>
   {{/xifCond}}
   {{/each}}
</div>
{{#xifCond SUBSCHEDULE.length 4 ">"}}
<div class="content">
  {{#each SUBSCHEDULE}}
  {{#xifCond @index 3 ">"}}
  {{!--  
  <dt>
    <label>
      {{#xif "this.TASK_STATUS == 1"}}
      Pending&nbsp;
      {{else}}
      {{#xif "this.TASK_STATUS == 2"}}
      Processing&nbsp;
      {{else}}
      {{#xif "this.TASK_STATUS == 3"}}
      Closed&nbsp;
      {{else}}
      Open&nbsp;
      {{/xif}}
      {{/xif}}
      {{/xif}}
  </label>
</dt>
--}}
<dd>
 {{math @index '+' '1'}}.&nbsp; {{SCHEDULE_DETAIL}}
</dd>
{{/xifCond}}
{{/each}}
</div>
{{/xifCond}}
</dl>

</fieldset>
{{/each}}
{{#unless this.SCHEDULE}}
<fieldset>
    <legend>
     <span>PROJECT</span>
 </legend>
</fieldset>
{{/unless}}
</td>
<td>
    <dl>
        <dt>name&nbsp;
            <a href="javascript:void(0);" class="fc-green underline log-detail">do something</a>
        </dt>
        <dd><small>06/09/15 18:04</small></dd>
    </dl>
</td>
</tr>
{{#unless noBtnGroup}}
<tr>
    <td colspan="5" class="text-right tr-btn">
        {{#xif "this.INVOICE_STATUS == 3"}}{{else}}
        <div class="btn-group btn-group-sx" role="group">
            <button type="button" data-bill="{{this.BILL_ID}}" class="btn btn-default btn-edit"><i class="glyphicon glyphicon-pencil"> Edit</i></button>
            <button type="button" data-bill="{{this.BILL_ID}}" class="btn btn-default btn-del"><i class="glyphicon glyphicon-trash">  Del</i></button>
            <button type="button" data-bill="{{this.BILL_ID}}" class="btn btn-default btn-close"><i class="glyphicon glyphicon-ban-circle">  Close</i></button>
            <button type="button" data-bill="{{this.BILL_ID}}" class="btn btn-default btn-browse"><i class="glyphicon glyphicon-eye-open">  Preview</i></button>
            <!--  <button type="button" data-bill="{{this.BILL_ID}}" class="btn btn-default btn-pdf"><i class="glyphicon glyphicon-file">  PDF</i></button> -->
        </div>
        {{/xif}}
    </td>
</tr>
{{/unless}}
{{/each}}