<div style="min-height:450px;">
<div class="text-left clearfix">
{{!-- Reference No : <input class="form-control" type="text" id="reference_no" value="{{REFERENCE_NO}}"> --}}
	<div class="lr_no_left">LR No.</div>
	<div class="lr_no_left">
		<select class="form-control selectpicker"" id="lr_type" name="lr_type">
	    	<option value=""></option>
	    	{{#each LRTypeKey}}
	    		<option value="{{key}}" {{#xifCond ../LR_TYPE key "="}} selected='selected' {{/xifCond}}>{{value}}</option>
	    	{{/each}}
	    </select>
	 </div>
	 <div class="lr_no_right">
		<div class="lr_no"> <input class="form-control" type="text" id="lr_no" name="lr_no" placeholder="No." value="{{LR_NO}}"/></div>
	</div>
</div>
<table class="table table-bordered">
    <thead>
        <tr class="success">
            <th>Line</th>
            <th>Service ID</th>
            <th>Description</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Amount</th>
            <th><i class="icon icon-add"></i></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8" class="text-right">
                Total&nbsp;:<span class="text-left J-total">{{SAVE}}</span>
            </td>
        </tr>
    </tfoot>
</table>
</div>
<div class="clearfix mt20">
    <div class="pull-left">
        <span>Currency&nbsp;:</span>USD
        <!--<select class="form-control" id="sel_cur"></select>-->
    </div>
    <div class="pull-right">
        <!-- <button type="button" class="btn btn-primary" id="goToSave">Save/Preview</button> --><button type="button" class="btn btn-primary ml10" id="goToBrowse">Save</button>
    </div>
</div>