<fieldset>
    <legend>
        <a href="javascript:;" class="fc-green underline">{{SCHEDULE_ID}}</a>
        <i class="icon icon-remove J-remove-task"></i>
    </legend>
    <dl>
      <dt>{{SCHEDULE_OVERVIEW}}</dt>
      <dd class="ellipsis">
        <p>{{SCHEDULE_DETAIL}}</p>
        <div>{{SCHEDULE_DETAIL}}</div>
      </dd>
    </dl>
</fieldset>