<div class="task-invoice">
    <div role="tabpanel" class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-tasks" aria-hidden="true">&nbsp;Invoice</span></div>
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#common" aria-controls="common" role="tab" data-toggle="tab">Common Tools</a></li>
                <li role="presentation"><a href="#advanced" aria-controls="advanced" role="tab" data-toggle="tab">Advanced Search</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active panel-body" id="common">
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control J-search-common" placeholder="Search for..." value="{{query}}">
                            <span class="input-group-btn">
                                <button class="btn btn-info J-btn-search" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <button class="btn btn-default" type="button" id="add_invoice">Add Invoice</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane panel-body" id="advanced">
                    <!-- todo -->
                </div>
            </div>
        </div>
        <div class="modal-container">
            <table class="table table-hover table-condensed" id="invoice_table">
                <thead>
                <tr>
                    <th>Invoice Information</th>
                    <th>Customer Information</th>
                    <th>Relation</th>
                    <th>Log</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="modal"><div class="loading"></div></div>
        </div>
        <ul id="pagebox_invoice" class='clearfix pagebox mb20 mt20'></ul>
    </div>
</div>