<div class="task-invoice">
    <div role="tabpanel" class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-tasks" aria-hidden="true">&nbsp;Task</span></div>
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#common" aria-controls="common" role="tab" data-toggle="tab">Common Tools</a></li>
                <li role="presentation"><a href="#advanced" aria-controls="advanced" role="tab" data-toggle="tab">Advanced Search</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active panel-body" id="common">
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control J-search-common" placeholder="Search for..." value="{{query}}">
                            <span class="input-group-btn">
                                <button class="btn btn-info J-btn-search" type="button"><span class="glyphicon glyphicon-search J-btn-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <button class="btn btn-default" type="button" id="add_task">Add Project</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane panel-body" id="advanced">
                    <div class="col-md-9">
                    	 <div class="div-form-group">
							<span>Time:</span>	
    						<input class="form_datetime form-control inconHand bgiconurl_" type="text" id="j_start_time" value="{{start_time}}" size="20" readonly="readonly" placeholder="start time">
							<span>To</span>			  			
						</div>
			  			<div class= "div-form-group">
    						<input class="form_datetime form-control inconHand bgiconurl_" type="text" id="j_end_time" value="{{end_time}}" size="20" readonly="readonly" placeholder="end time">
			  			</div>
						<div class="div-form-group">
							<span>Project Status:</span>
    						<select class="form-control selectpicker"" id="j_task_status">
								<option value="-1">ALL</option>
		                		<option value="1">Pending</option>
		                		<option value="4">Open</option>
		                		<option value="2">Processing</option>
		                		<option value="3">Closed</option>
		                	</select>
			  			</div>
                    </div>
					<div class="col-md-2">
						<button class="btn btn-primary J-advanced-search"><i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;Search</button>
                   </div>
				</div>
            </div>
        </div>
        <div class="modal-container">
            <table class="table table-hover table-condensed" id="task_table">
                <thead>
                <tr>
                    <th>Project Information</th>
                    <th>Content</th>
                    <th>Task</th>
                    <th>Invoice</th>
                    <th>Log</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="modal"><div class="loading"></div></div>
        </div>
        <ul id="pagebox_task" class='clearfix pagebox mb20 mt20'></ul>
    </div>
</div>