{{#each SUBSCHEDULE}}
<tr {{#if isEdit}}class="editing"{{/if}} data-task={{../SCHEDULE_ID}} data-status="{{TASK_STATUS}}" id="sub_task_{{SCHEDULE_ID}}">
	<td>	
		<span class="J-sub-lineNo">{{#if lineNo}}
		{{this.lineNo}}
		{{else}}
		{{math @index '+' '1'}}
		{{/if}}</span>
		<input type="hidden" class="J-sub-Id" value="{{SCHEDULE_ID}}"/>
		<input type="hidden" class="J-sub_number" value="{{TASK_NUMBER}}"/>
	</td>
	<td>
		<span class="info">{{SCHEDULE_DETAIL}}</span>
		<input class="form-control edit-form J-sub_detail" value="{{SCHEDULE_DETAIL}}"  placeholder="Subtask..."/>
	</td>
	<td>
		<span class="info">{{EXEEMPLOYNAME}}</span>
		<input class="form-control edit-form J-select-user" value="{{EXEEMPLOYNAME}}" placeholder="To..."/>
		<input type="hidden" class="J-sub_execute_id" value='{{SCHEDULE_EXECUTE_ID}}'/>
		<input type="hidden" class="J-sub_deleteusers" value='{{SCHEDULE_EXECUTE_ID}}'/>
	</td>
	<td class="J-sub_status {{#xifCond this.TASK_STATUS ../taskStateKey.Open "="}} 
	 status-open"> Open&nbsp;{{/xifCond}}
	{{#xifCond TASK_STATUS ../taskStateKey.Pending "="}}
	"> Pending&nbsp;
	{{/xifCond}}
	{{#xifCond TASK_STATUS ../taskStateKey.Processing "="}}
	"> Processing&nbsp;
	{{/xifCond}}
	{{#xifCond TASK_STATUS ../taskStateKey.Closed "="}}
	 status-closed"> Closed&nbsp;
	{{/xifCond}}
</td>
<td>
	<span class="operate-btns">
		{{#xifCond TASK_STATUS ../taskStateKey.Closed "="}}&nbsp;{{/xifCond}}
		{{#xifCond TASK_STATUS ../taskStateKey.Closed "!="}}
		<i class="icon icon-edit J-sub-edit" title="edit"></i>
		<i class="icon icon-remove J-sub-remove" title="del"></i>
		<i class="icon icon-close J-sub-close" title="close"></i> 
		{{/xifCond}}
	</span>
	<span class="editing-btn">
		<i class="fa fa-check-circle fc-green J-sub-ok"></i>
		<i class="fa fa-times-circle fc-red J-sub-cancel"></i>
	</span>
</td>
</tr>
{{/each}}