<div class="panel" id="newAddTask">
	<div class="panel-heading">
		<a class="panel-title collapsed editing" style="  background-color: #fcf8e3;">
			<div>
			</div>
			<div>
				<div>
					<input class="form-control edit-form J-schedule_detail" value=""  placeholder="Task..."/>
				</div>
			</div>
			<div>
			<div>
				<input class="form-control edit-form J-select-user" name="exe_employ_name" value="{{model.EXEEMPLOYNAME}}" placeholder="To..." readonly/>
				<input type="hidden" class="J-schedule_execute_id" name="schedule_execute_id" value='{{model.SCHEDULE_EXECUTE_ID}}'/>
			</div>
			</div>
			<div>
			<div>
				<input class="form_datetime start-time form-control edit-form J-start_time"  size="16" type="text" value="{{model.START_TIME}}" readonly>
			</div>
			</div>
			<div><div>
				<input class="form_datetime end-time form-control edit-form J-end_time"  size="16" type="text" value="{{model.END_TIME}}" readonly>
			</div></div>
			<div> </div>
			<div><div>
				<span class="edit-form edit-invoice editing">
					<span class="sel-invoice">
						{{#if invoices}}
						<select class="form-control">
							<option value=""> </option>
							{{#each invoices}}
							<option value="{{BILL_ID}}">{{BILL_ID}}</option>
							{{/each}}
						</select>{{/if}}<i class="icon icon-add J-add-invoice" title="add invoice"></i>
					</span>
					<span class="selcted-invoice">
							<span></span><!--
						--><i class="icon icon-remove J-del-invoice" title="del"></i>
					</span>
				</span>
			</div>
			</div>
			<div>
			<div>
				<span class="editing-btn">
					<i class="fa fa-check-circle fc-green J-newAddTask"></i>
					<i class="fa fa-times-circle fc-red J-newAddTask-cancel"></i>
				</span>
			</div></div>
		</a>
	</div>
</div>