{{#xif "this.TASK_STATUS == 3"}}
{{#each SUBINVOICE}} 

<dd>
	<fieldset class="invoice">
		<legend>
			<a href="javascript:void(0);" data-invoice="{{BILL_ID}}" class="fc-green underline J-goto-invoice">&nbsp;{{BILL_ID}}&nbsp;&nbsp;</a>
			<span class="J-invoice-status">{{#xif "this.INVOICE_STATUS == 1"}}IMPORTED{{else}}{{#xif "this.INVOICE_STATUS == 3"}}CLOSED{{else}}OPEN{{/xif}}{{/xif}}</span>
		</legend>
		<dl>
			<dt>&nbsp;{{ACCOUNT}}</dt>
			<dd><span>Create Time&nbsp;:</span>&nbsp;{{CREATE_DATE}}</dd>
		</dl>
	</fieldset>
</dd>

{{/each}}

{{else}}

{{#each SUBINVOICE}} 
<dd>
	<fieldset class="invoice">
		<legend>
			<a href="javascript:void(0);" data-invoice="{{BILL_ID}}" class="fc-green underline J-goto-invoice">&nbsp;{{BILL_ID}}&nbsp;&nbsp;</a>
			<span class="J-invoice-status">{{#xif "this.INVOICE_STATUS == 1"}}IMPORTED{{else}}{{#xif "this.INVOICE_STATUS == 3"}}CLOSED{{else}}OPEN{{/xif}}{{/xif}}</span>
			<!-- <i class="icon icon-remove" title="del invoice" name="delInvoice" data-invoice="{{BILL_ID}}" data-task={{../SCHEDULE_ID}}></i> -->
		</legend>
		<dl>
			<dt><span>Reference No&nbsp;:</span>&nbsp;
				{{#each ../LRTypeKey}}
				{{#xifCond ../LR_TYPE key "="}}
				{{value}}&nbsp;{{../LR_NO}}
				{{/xifCond}}
				{{/each}}
				<button class="btn btn-default btn-xs J-pdf" data-invoice="{{this.BILL_ID}}" data-task="{{../SCHEDULE_ID}}" type="button">Preview</button></dt>
				<dd><span>Create Time&nbsp;:</span>&nbsp;{{CREATE_DATE}}</dd>
			</dl>
		</fieldset>
	</dd>

	{{/each}}
	{{/xif}}