<div class="select-user">
	<div class="select-condition">
		WareHouse:<select name="ps_id" id="ps_id">admin
		 			{{#each productCatelog}}
						<option value='{{ps_id}}' {{#xifCond ../admin.ps_id ps_id "="}} selected='selected' {{/xifCond}}>{{ps_name}}</option>
					{{/each}}
		 		</select>
				
		Group:<select name="group" id="group">
					{{#each groupJson}}
					<option value="{{key}}" {{#xifCond ../admin.dept_id key "="}} selected="selected" {{/xifCond}}>{{value}}</option>
					{{/each}}
				</select>
		User:<select name="proJsId" id="proJsId">
			{{#each userJson}}
				<option value="{{key}}" {{#xifCond ../admin.post_id key "="}} selected="selected" {{/xifCond}}>{{value}}</option>
			{{/each}}
				 
			</select>
		<div class="div-btn text-center">
	        <button class="btn btn-info J-user-search" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	    </div> 
    </div>
    <div class="user-info"><div>
</div>
