{{#if isProto}}
{{else}}
<option value=""></option>
{{/if}}
{{#if isCanEnter}}
<option value="-1" {{#if isHand}}selected{{/if}}>by-hand input</option>
{{/if}}
{{#each f}}
<option value="{{ID}}" {{#if sel}}selected{{/if}}>{{TEXT}}</option>
{{/each}}
{{#each p}}
<option data-id="{{ID}}" value="{{ACCOUNT}}">{{ACCOUNT_NAME}}</option>
{{/each}}
{{#each country}}
<option value="{{C_CODE}}" data-ccid="{{CCID}}" {{#if sel}}selected{{/if}}>{{C_COUNTRY}}</option>
{{/each}}
{{#each s}}
<option value="{{PRO_ID}}" {{#if sel}}selected{{/if}}>{{PRO_NAME}}</option>
{{/each}}
{{#each cur}}
<option data-target="{{TARGET}}" value="{{VALUE}}" {{#if sel}}selected{{/if}}>{{TARGET}}</option>
{{/each}}
{{#each client}}
<option value="{{CUSTOMER_KEY}}" {{#if sel}}selected{{/if}}>{{CUSTOMER_ID}}</option>
{{/each}}
{{#each invoices}}
<option value="{{BILL_ID}}">{{BILL_ID}}</option>
{{/each}}