<div class="clearfix sort-sub">
	<div class="list-group pull-left">
		{{#each list}}
	  	<a href="javascript:void(0);" class="list-group-item J-sort-item" data-schedule="{{SCHEDULE_ID}}"><span class="J-note">{{math @index '+' '1'}}</span>.&nbsp;{{SCHEDULE_DETAIL}}</a>
		{{/each}}
	</div>
	<div class="pull-right">
		<div class="sort-btn">
			<button class="btn btn-default J-btn-up"><i class='glyphicon glyphicon-arrow-up'></i></button>
			<button class="btn btn-default J-btn-down"><i class='glyphicon glyphicon-arrow-down'></i></button>
		</div>
	</div>
</div>