{{#each SUBSCHEDULE}} 
	{{#xifCond @index 4 "<"}}
        <dd>
            <div class="header">
               <a href="javascript:void(0);" data-sub="{{SCHEDULE_ID}}" data-task="{{../../SCHEDULE_ID}}" class="J-sub-detail
               	{{#xif "this.TASK_STATUS == 1"}}
         			 fc-green   
         		{{else}}
         			{{#xif "this.TASK_STATUS == 3"}}
         				 fc-gray 
         			{{else}}
         				fc-red
         			{{/xif}}
           		{{/xif}}
           	">
                {{math @index '+' '1'}}.&nbsp; {{SCHEDULE_DETAIL}}
               </a>
            </div>
            
        </dd>
    {{/xifCond}}
{{/each}}