{{#each list}}
<div class="panel">
	<div class="panel-heading" role="tab" id="heading_{{this.SCHEDULE_ID}}">
		<span class="panel-title collapsed" data-toggle="collapse" data-number="{{this.TASK_NUMBER}}" data-parent="#accordionSubTaskList" data-schedule={{this.SCHEDULE_ID}} href="#collapse_{{this.SCHEDULE_ID}}" aria-expanded="true" aria-controls="collapse_{{this.SCHEDULE_ID}}">
			<div>
				<div>
					<label class="checkbox {{#xifCond this.TASK_STATUS ../taskStateKey.Closed "!="}} checked {{else}} disabled {{/xifCond}}">
						<input type="checkbox" value="{{this.SCHEDULE_ID}}" name="check-tack" {{#xifCond this.TASK_STATUS ../taskStateKey.Closed "!="}} checked {{else}} disabled="disabled" {{/xifCond}}>
						<span class="text"></span>
					</label>
				</div>
			</div>
			<div>
				<div>
					<span class="info">{{this.SCHEDULE_DETAIL}}</span>
					<input class="form-control edit-form J-schedule_detail" value="{{this.SCHEDULE_DETAIL}}" />
				</div>
			</div>
			<div>
				<div>
					<span class="info">{{this.EXEEMPLOYNAME}}</span>
					<input class="form-control edit-form J-select-user" name="exe_employ_name" value="{{this.EXEEMPLOYNAME}}" readonly/>
					<input type="hidden" class="J-schedule_execute_id" name="schedule_execute_id" value='{{this.SCHEDULE_EXECUTE_ID}}'/>
					<input type="hidden" class="J-deleteusers" name="deleteusers" value='{{this.SCHEDULE_EXECUTE_ID}}'/>
				</div>
			</div>
			<div>
				<div>
					<span class="info">{{this.START_TIME}}</span>
					<input class="form_datetime form-control edit-form J-start_time"  size="16" type="text" value="{{this.START_TIME}}" readonly>
				</div>
			</div>
			<div>
				<div>
					<span class="info">{{this.END_TIME}}</span>
					<input class="form_datetime form-control edit-form J-end_time"  size="16" type="text" value="{{this.END_TIME}}" readonly>
				</div>
			</div>
			<div>
				<div class="J-task_status
				{{#xifCond this.TASK_STATUS ../taskStateKey.Open "="}}
					status-open"> Open&nbsp;
				{{/xifCond}}
				{{#xifCond this.TASK_STATUS ../taskStateKey.Pending "="}}
					"> Pending&nbsp;
				{{/xifCond}}
				{{#xifCond this.TASK_STATUS ../taskStateKey.Processing "="}}
					"> Processing&nbsp;
				{{/xifCond}}
				{{#xifCond this.TASK_STATUS ../taskStateKey.Closed "="}}
					status-closed"> Closed&nbsp;
				{{/xifCond}}
				</div>
			</div>
			<div>
				<div>
					<span class="info info-invoice" style="color: #269ABC; font-weight: bold;">{{BILL_ID}}</span>
				<span class="edit-form edit-invoice">
					<span class="sel-invoice">
						<select class="form-control">
							<option value=""></option>
							{{#each ../invoices}}
							<option value="{{BILL_ID}}">{{BILL_ID}}</option>
							{{/each}}
						</select><i class="icon icon-add J-add-invoice" title="add invoice"></i>
					</span>
					<san class="selcted-invoice">
							<span>{{BILL_ID}}</span><!--
						--><i class="icon icon-remove J-del-invoice" title="del"></i>
					</span>
				</span>
				</san>
				</div>
			</div>
			<div>
				<div>
					<span class="operate-btns">
						{{#xifCond this.TASK_STATUS ../taskStateKey.Closed "="}}
						&nbsp;
						{{/xifCond}}
						{{#xifCond this.TASK_STATUS ../taskStateKey.Closed "!="}}
						<i class="icon icon-edit J-task-edit" title="edit" name="editSubTask" data-task="{{this.SCHEDULE_ID}}"></i>
						<i class="icon icon-remove J-task-del" title="del" name="delSubTask" data-task={{this.SCHEDULE_ID}}></i>
						<i class="icon icon-close J-task-close" title="close"  name="closeSubTask" data-task={{this.SCHEDULE_ID}}></i> 
						{{/xifCond}}
					</span>
					<span class="editing-btn">
						<i class="fa fa-check-circle fc-green J-ok" data-subtask="{{this.SCHEDULE_ID}}" data-task={{this.SCHEDULE_ID}}></i>
						<i class="fa fa-times-circle fc-red J-cancel"></i>
					</span>
				</div>
			</div>
		</span>
	</div>
	<div id="collapse_{{this.SCHEDULE_ID}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{this.SCHEDULE_ID}}">
		<div class="panel-body">
			<table class="table table-bordered table-striped table-condensed table-hover">
				<thead>
					<tr>
						<th>Line No.</th>
						<th>Subtask</th>
						<th>To</th>
						<th>Status</th>
						<th>
							{{#xifCond this.TASK_STATUS ../taskStateKey.Closed "="}}&nbsp;{{/xifCond}}
							{{#xifCond this.TASK_STATUS ../taskStateKey.Closed "!="}}
							<i class="icon icon-add J-subTask-add" title="add" data-task="{{this.SCHEDULE_ID}}"></i>
							<i class="icon icon-sort J-subTask-sort" title="sort" data-task="{{this.SCHEDULE_ID}}"></i>
							{{/xifCond}}
						</th>
					</tr>
				</thead>
				<tbody class="J-sub-list">
					{{#each SUBSCHEDULE}}
					<tr data-task={{../SCHEDULE_ID}} data-status="{{TASK_STATUS}}" id="sub_task_{{SCHEDULE_ID}}">
						<td>	
							<span class="J-sub-lineNo">{{math @index '+' '1'}}</span>
							<input type="hidden" class="J-sub-Id" value="{{SCHEDULE_ID}}"/>
							<input type="hidden" class="J-sub_number" value="{{TASK_NUMBER}}"/>
						</td>
						<td>
							<span class="info">{{SCHEDULE_DETAIL}}</span>
							<input class="form-control edit-form J-sub_detail" value="{{SCHEDULE_DETAIL}}"  placeholder="Subtask..."/>
						</td>
						<td>
							<span class="info">{{EXEEMPLOYNAME}}</span>
							<input class="form-control edit-form J-select-user" value="{{EXEEMPLOYNAME}}" placeholder="To..."/>
							<input type="hidden" class="J-sub_execute_id" value='{{SCHEDULE_EXECUTE_ID}}'/>
							<input type="hidden" class="J-sub_deleteusers" value='{{SCHEDULE_EXECUTE_ID}}'/>
						</td>
						<td class="J-sub_status
							{{#xifCond this.TASK_STATUS ./../../taskStateKey.Open "="}} 
							 status-open"> Open&nbsp;{{/xifCond}}
							{{#xifCond TASK_STATUS ./../../taskStateKey.Pending "="}}
							">Pending&nbsp;
							{{/xifCond}}
							{{#xifCond TASK_STATUS ./../../taskStateKey.Processing "="}}
							">Processing&nbsp;
							{{/xifCond}}
							{{#xifCond TASK_STATUS ./../../taskStateKey.Closed "="}}
							 status-closed"> Closed&nbsp;
							{{/xifCond}}
						</td>
						<td>
							<span class="operate-btns">
								{{#xifCond TASK_STATUS ./../../taskStateKey.Closed "="}}&nbsp;{{/xifCond}}
								{{#xifCond TASK_STATUS ./../../taskStateKey.Closed "!="}}
								<i class="icon icon-edit J-sub-edit" title="edit"></i>
								<i class="icon icon-remove J-sub-remove" title="del"></i>
								<i class="icon icon-close J-sub-close" title="close"></i> 
								{{/xifCond}}
							</span>
							<san class="editing-btn">
								<i class="fa fa-check-circle fc-green J-sub-ok"></i>
								<i class="fa fa-times-circle fc-red J-sub-cancel"></i>
							</span>
						</td>
					</tr>
					{{/each}}
					{{#unless SUBSCHEDULE}}
					<tr class="no-data" style="height: 70px;">
						<td style="height: 70px; vertical-align: middle;" colspan="5">NO Data</td>
					</tr>
					{{/unless}}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{/each}}