<div class="subtask-list" id="subtask-list">
	<div class="panel-group" id="accordionSubTaskList" role="tablist" aria-multiselectable="true">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title collapsed">
					<div>
						<label class="checkbox J-checkbox-all checked">
							<input type="checkbox" checked />
							<span class="text"></span>
						</label>
					</div>
					<div>Task</div>
					<div>To</div>
					<div>Start</div>
					<div>End</div>
					<div>Status</div>
					<div>Invoice</div>
					<div><i class="icon icon-add J-addTask" title="add"></i></div>
				</div>
			</div>
		</div>
	</div>
</div>
