{{#each list}}

{{#if SCHEDULE_ID}}
<tr>
    <td>
        <fieldset> 
            <legend>
                <span class="blod">{{SCHEDULE_ID}}&nbsp;&nbsp;
                {{#xif "this.TASK_STATUS == 1"}}Pending {{/xif}}
                {{#xif "this.TASK_STATUS == 2"}}Processing {{/xif}}
                {{#xif "this.TASK_STATUS == 3"}}Closed {{/xif}}
                {{#xif "this.TASK_STATUS == 4"}}Open {{/xif}}
               </span>
            </legend>
            <dl class="dl-horizontal">
                <dt>From&nbsp;:</dt>
                <dd>{{ASSEMPLOYNAME}}</dd>
                <dt>To&nbsp;: </dt>
                <dd class="ellipsis">
                    <p>
                     {{EXEEMPLOYNAME}}
                    </p>
                    <div>
                      {{EXEEMPLOYNAME}}
                    </div>
                </dd>
                <dt>Start&nbsp;: </dt>
                <dd>{{START_TIME}}</dd>
                <dt>Deadline&nbsp;: </dt>
                <dd>{{END_TIME}}</dd>
                <dt>Create Time&nbsp;:</dt>
                <dd>{{CREATE_TIME}}</dd>
                <dt>Finish Time&nbsp;: </dt>
                <dd>{{CLOSE_TIME}}</dd>
               {{!-- 
               <dt>{{#each ../../LRTypeKey}}
               			{{#xifCond ../LR_TYPE key "="}}
                			{{value}}&nbsp;:
                		{{/xifCond}}
                	{{/each}}
                </dt>
                <dd style="color:blue;">{{LR_NO}}</dd>
                --}}
            </dl>
        </fieldset>
    </td>
    <td>
        <dl>
            <dt>Subject</dt>
            <dd>{{SCHEDULE_OVERVIEW}}</dd>
            <dt>Description</dt>
            <dd class="ellipsis">
                <p>
                 {{SCHEDULE_DETAIL}}
                </p>
                <div>
                  {{SCHEDULE_DETAIL}}
                </div>
            </dd>
        </dl>
    </td>
    
    <td>
        <fieldset>
        	{{#xif "this.TASK_STATUS == 3"}}
        		<legend>
                	<span>Task</span>
            	</legend>
        	{{else}}
        		<legend>
	                <span>Add Task</span>
	                <i class="icon icon-add" name="addSubTask" title="add" data-task="{{SCHEDULE_ID}}" data-subject="{{SCHEDULE_OVERVIEW}}"></i>
	                <i class="icon icon-sort J-sub-sort" title="sort" data-task="{{SCHEDULE_ID}}"></i>
	            </legend>
        	{{/xif}}
            
            <dl id="sub_task_list_{{SCHEDULE_ID}}">
               
             {{#each SUBSCHEDULE}} 
               
               {{#xifCond @index 4 "<"}}
                <dd>
                    <div class="header">
                       <a href="javascript:void(0);" data-sub="{{SCHEDULE_ID}}" data-task="{{../../SCHEDULE_ID}}" class="J-sub-detail
                       	{{#xif "this.TASK_STATUS == 1"}}
                 			 fc-green   
                 		{{else}}
                 			{{#xif "this.TASK_STATUS == 3"}}
                 				 fc-gray 
                 			{{else}}
                 				fc-red
                 			{{/xif}}
                   		{{/xif}}
                   	">
                        {{math @index '+' '1'}}.&nbsp; {{SCHEDULE_DETAIL}}
                       </a>
                    </div>
                    
                </dd>
                
                {{/xifCond}}
            {{/each}}
            </dl>
            
            {{#xifCond SUBSCHEDULE.length 4 ">"}}
        		<a href="javascript:void(0);" data-task="{{../SCHEDULE_ID}}" class="fc-orange fc-right underline J-sub-detail">More...</a>
        	{{/xifCond}}
        </fieldset>
    </td>
    <td>
        {{#xif "this.TASK_STATUS == 3"}}
	    		<fieldset>
		            <legend>
		                <span>Add Invoice</span>
		            </legend>
		             <dl id="invoice_list_{{SCHEDULE_ID}}">
		               
		               {{#each SUBINVOICE}} 
		                
		                <dd>
		                    <fieldset class="invoice">
		                        <legend>
		                           <a href="javascript:void(0);" data-invoice="{{BILL_ID}}" class="fc-green underline J-goto-invoice">&nbsp;{{BILL_ID}}&nbsp;&nbsp;</a>
		                        	<span class="J-invoice-status">{{#xif "this.INVOICE_STATUS == 1"}}IMPORTED{{else}}{{#xif "this.INVOICE_STATUS == 3"}}CLOSED{{else}}OPEN{{/xif}}{{/xif}}</span>
		                        </legend>
		                        <dl>
		                            <dt>&nbsp;{{ACCOUNT}}</dt>
		                            <dd><span>Create Time&nbsp;:</span>&nbsp;{{CREATE_DATE}}</dd>
		                        </dl>
		                    </fieldset>
		                </dd>
		                
		                {{/each}}
		            </dl>
		        </fieldset>
    
	    {{else}}
	    	<fieldset>
	        	 <legend>
	                <span>Invoice</span>
	            </legend>
	            <dl id="invoice_list_{{SCHEDULE_ID}}">
	               {{#each SUBINVOICE}} 
	                <dd>
	                    <fieldset class="invoice">
	                        <legend>
	                            <a href="javascript:void(0);" data-invoice="{{BILL_ID}}" class="fc-green underline J-goto-invoice">&nbsp;{{BILL_ID}}&nbsp;&nbsp;</a>
	                        	<span class="J-invoice-status">{{#xif "this.INVOICE_STATUS == 1"}}IMPORTED{{else}}{{#xif "this.INVOICE_STATUS == 3"}}CLOSED{{else}}OPEN{{/xif}}{{/xif}}</span>
	                        </legend>
	                        <dl>
	                            <dt><span>Reference No&nbsp;:</span>&nbsp;
	                            {{#each ../../../../LRTypeKey}}
               						{{#xifCond ../LR_TYPE key "="}}
                						{{value}}&nbsp;{{../../LR_NO}}
                					{{/xifCond}}
                				{{/each}}
                				<button class="btn btn-default btn-xs J-pdf" data-invoice="{{this.BILL_ID}}" data-task="{{../SCHEDULE_ID}}" type="button">Preview</button></dt>
	                            <dd><span>Create Time&nbsp;:</span>&nbsp;{{CREATE_DATE}}</dd>
	                        </dl>
	                    </fieldset>
	                </dd>
	                
	                {{/each}}
	            </dl>
	        </fieldset>
	     {{/xif}}
    </td>
    <td>
        <dl>
        	{{#each SUBLOG}}
        		{{#xifCond @index 3 "<"}}
	            	<dt><span>{{ACCOUNT}} </span>
	            		<a href="javascript:void(0);" data-task="{{../../SCHEDULE_ID}}" data-logid="{{ID}}"  class="fc-green underline log-detail">{{OPERATION_NOTE}}</a>
	            	</dt>
	            	<dd><span>{{POST_DATE}}<span></dd>
	            {{/xifCond}}
            {{/each}}
            {{#unless SUBLOG}}
            	<dt>&nbsp;</dt> 
            	<dd></dd>
            {{/unless}}
        </dl>
        {{#xifCond SUBLOG.length 3 ">"}}
        <a href="javascript:void(0);" data-task="{{../SCHEDULE_ID}}" class="fc-orange fc-right underline log-detail">More...</a>
        {{/xifCond}}
    </td>
</tr>
<tr> 
    <td colspan="5" class="text-right tr-btn">
        <div class="btn-group btn-group-sx" role="group">
        {{#xif "this.TASK_STATUS == 3"}}
        &nbsp;
        {{else}}
            <button type="button" name="editTask" class="btn btn-default" data-task={{SCHEDULE_ID}}>
            	<i class="glyphicon glyphicon-pencil"> Edit</i>
            </button>
            <button type="button" name="delTask" data-task={{SCHEDULE_ID}} class="btn btn-default">
            	<i class="glyphicon glyphicon-trash">  Del</i>
            </button>
            <button type="button" name="closeTask" data-task={{SCHEDULE_ID}} class="btn btn-default">
            	<i class="glyphicon glyphicon-ban-circle">  Close</i>
           </button>
           {{#xifCond SUBFILE.length 0 '>'}}
            <button type="button" name="downloadSOP" data-task={{SCHEDULE_ID}} class="btn btn-default
             btn-warning">
            	<i class="glyphicon glyphicon-download-alt"> SOP</i>
            </button>
            {{/xifCond}}
           <!--  <button type="button" name="addLog" class="btn btn-default" data-task={{SCHEDULE_ID}}>
            	<i class="glyphicon glyphicon-bookmark"> Log</i>
            </button> -->
        {{/xif}}
        </div>
    </td>
</tr>
{{/if}}
{{#unless SCHEDULE_ID}}
	{{#xifCond @index 0 "="}}
	<tr>
		<td class="no-data" style="height: 180px;" colspan="5">NO Data</td>
	</tr>
	{{/xifCond}}
{{/unless}}
{{/each}}
