<div class="condition">
	<div class="row">
		<div class="form-group col-sm-3">
			<div class="input-group">
				<div class="input-group-addon" >Hub</div>
				<input id="shipFrom" type="text" class="form-control  immybox immybox_witharrow" placeholder="Select Hub">
			</div>
		</div>
		<div class="form-group col-sm-3"> 
			<div class="input-group">
				<div class="input-group-addon">Retailer</div>
				<input id="retailer" type="text" class="form-control immybox immybox_witharrow" placeholder="Select Retailer">
			</div>
		</div>
		<div class="form-group col-sm-3">
			<div class="input-group">
				<div class="input-group-addon">Freight Term</div>
				<input id="payment" type="text" class="form-control immybox immybox_witharrow" placeholder="Select Freight Term">
			</div>
		</div>
		<div class="form-group col-sm-3">
			<div class="input-group">
				<div class="input-group-addon">Status</div>
				<input id="status" type="text" class="form-control immybox immybox_witharrow" placeholder="Select Status">
			</div>
		</div>
		<!--
		<div class="form-group col-md-3">
			<div class="input-group">
				<div class="input-group-addon">ETD</div>
				<input id="ETDMin" type="text" class="form-control " placeholder="Begin Date">
				<div class="input-group-addon">~</div>
				<input id="ETDMax" type="text" class="form-control " placeholder="End Date">
			</div>
		</div>
		<div class="form-group col-md-3">
			<div class="input-group">
				<div class="input-group-addon">ETA</div>
				<input id="ETAMin" type="text" class="form-control " placeholder="Begin Date">
				<div class="input-group-addon">~</div>
				<input id="ETAMax" type="text" class="form-control " placeholder="End Date">
			</div>
		</div>
		-->
		<!--
		<div class="form-group col-sm-3">
			<div class="input-group">
				<div class="input-group-addon">Source</div>
				<input id="source" type="text" class="form-control" placeholder="Select Source">
			</div>
		</div>
		-->
	</div>
	<div class="row">
		<div class="form-group col-sm-3">
			<div class="input-group">
				<div class="input-group-addon">Customer</div>
				<input id="customer" type="text" class="form-control immybox immybox_witharrow" placeholder="Select Customer">
			</div>
		</div>
<!-- 		<div class="form-group col-sm-3">
			<div class="input-group">
				<div class="input-group-addon">DN</div>
				<input id="customer_dn" type="text" class="form-control " value="" placeholder="Input Reference No.">
			</div>
		</div>
		<div class="form-group col-sm-3">
			<div class="input-group">
				<div class="input-group-addon">PO</div>
				<input id="retail_po" type="text" class="form-control " value="" placeholder="Input P.O No.">
			</div>
		</div>
		<div class="form-group col-sm-3">
			<div class="input-group">
				<div class="input-group-addon">Load#</div>
				<input id="load_no" type="text" class="form-control" value="" placeholder="Input Load No.">
			</div>
		</div> -->
		<div class="form-group col-sm-3 hide">
			<div class="input-group">
				<div class="input-group-addon">Creater</div>
				<input id="creater" type="text" class="form-control immybox immybox_witharrow" placeholder="Select Creater">
			</div>
		</div>
		
		<div class="form-group col-sm-5">
			<div class="input-group">
				<div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle longButton" data-toggle="dropdown" aria-expanded="false"><span id="timeType" data-value="orderDate">Order Date</span> <span class="caret"></span></button>
			        <ul class="dropdown-menu" role="menu">
			          <li><a href="javascript:void(0)" class="timeTyleItem" data-value="orderDate">Order Date</a></li>
			          <li class="divider"></li>
			          <li><a href="javascript:void(0)" class="timeTyleItem" data-value="mabd">MABD</a></li>
			          <li class="divider"></li>
			          <li><a href="javascript:void(0)" class="timeTyleItem" data-value="reqShipDate">Req.Ship Date</a></li>
			        </ul>
			     </div>
				<input id="startTime" type="text" class="form-control " placeholder="Start Time" style="border-right:0;background-color: #fff !important;cursor: pointer;" value="{{startTime}}" readonly/>
				<div class="input-group-addon">~</div>
				<input id="endTime" type="text" class="form-control " placeholder="End Time" style="border-left:0;background-color: #fff !important;cursor: pointer;" value="{{endTime}}" readonly>
			</div>
		</div>  
		<div class="form-group col-sm-4">
			<button id="SearchTabBtn" type="button" class="btn btn-default btn-info" >Search</button>
			<button id="exportBtn"  type="button" class="btn btn-default btn-info" >Export</button>
		</div>
	</div>
</div>