<div class="panel panel-default dialogLineContainer" >
	<table class="table">
		<th>Title</th><th>Model</th><th>Order Qty</th>
		{{#this.LINES}}
      		<tr>
      			<td>{{TITLE}}</td>
      			<td>{{B2B_P_NAME}}</td>
      			<td>{{B2B_COUNT}}</td>
      		</tr>
      	{{/this.LINES}}
	</table>
</div>
