<table id="selfworkTable" class="filter">
	<tr>
		<td>
			<select id="self_status" class="form-control">
				<option value="0">货物状态</option>
				{{#product_state}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/product_state}}
			</select>
		</td>
		<td>
			<select id="self_stock_in_set" class="form-control">
				<option value="0">运费流程</option>
				{{#stock_in_set}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/stock_in_set}}
			</select>
		</td>
		<td colspan="2">
			<div id="self_create_account_id" style="width:200px"></div>
		</td>
		<td>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<select id="self_declaration" class="form-control">
				<option value="0">出口报关</option>
				{{#declaration}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/declaration}}
			</select>
		</td>
		<td>
			<select id="self_clearance" class="form-control">
				<option value="0">进口清关</option>
				{{#clearance}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/clearance}}
			</select>
		</td>
		<td>
			<select id="self_invoice" class="form-control">
				<option value="0">发票流程</option>
				{{#invoice}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/invoice}}
			</select>
		</td>
		<td>
			<select id="self_drawback" class="form-control">
				<option value="0">退税流程</option>
				{{#drawback}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/drawback}}
			</select>
		</td>
		<td>
			<button id="filter" class="buttons big">filter</button>
		</td>
	</tr>
</table>