<div style="width:500px;">
	<div>
		<form id="createClassifyForm">
			<table>
				<tr>
					<td>
						<b class="require_property">*</b>
						Classify Name
					</td>
					<td>
						<input type="text" id="classifyName" name="classifyName" class="input_text_password_select" style="margin-left: 10px;">
					</td>
					<td class="status validator_style">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td>
						<b class="require_property">*</b>
						Belong Classify
					</td>
					<td>
						<div class="systemconfig_classify_tree_small">
							<div id="configClassifyTree"></div>
						</div>
						<input type="hidden" id="parentClassifyId" name="parentClassifyId">
					</td>
					<td class="status validator_style">&nbsp;</td>
				</tr>
			</table>
		</form>
	</div>
</div>