<div class="content_add_config">
<form id="addClassifyForm">
	<table>
		<tr>
			<td>
				<span>Location</span>
			</td>
			<td>
				{{classify}}
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<b class="require_property">*</b>
				<span>Option Id</span>
			</td>
			<td>
				<input type="text" class="input_text_password_select" id="classifyId" name="classifyId" maxlength="30" />
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
		<tr>
			<td>
				<b class="require_property">*</b>
				<span>Option Name</span>
			</td>
			<td>
				<input type="text" class="input_text_password_select" id="classifyName" name="classifyName" maxlength="200"/>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>

		<tr>
			<td>
				<b class="require_property">*</b>
				<span>Option Type</span>
			</td>
			<td>
				<select class="input_text_password_select" id="classifyType">
					<option value="textbox">
						文本框
					</option>
					<option value="textfield">
						文本域
					</option>
					<option value="text">
						只读文本
					</option>
					<option value="radio">
						单选框
					</option>
					<option value="checkbox">
						复选框
					</option>
					<option value="select">
						下拉列表
					</option>
				</select>
			</td>
			<td>&nbsp;</td>
		</tr>

		<tr>
			<td>
				<div id="changeTypeTitle">
					Option Value
				</div>
			</td>
			<td colspan="2">
				<div id="changeTypeContent">
					<input id="classifyValue" type="text" class="input_text_password_select"/>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<span>Pre Description</span>
			</td>
			<td>
				<input type="text" class="input_text_password_select" id="preDescription" name="preDescription" maxlength="200"/>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
		<tr>
			<td>
				<span>Post Description</span>
			</td>
			<td>
				<input type="text" class="input_text_password_select" id="postDescription" name="postDescription" maxlength="200"/>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
	</table>
</form>
</div>