<div id="cci_tmpMultipleContent" style="border:1px dotted #bbbbbb;width:400px;">
	<table style="width:100%;border:1px;">
		<tr style="line-height:20px;background-color:#eeeeee;">
			<td style="text-align: center;">
				KEY
			</td>
			<td style="text-align: center;">
				VALUE
			</td>
			<td style="text-align:left;padding-left:2px;">
				<input class="normal" type="button" id="cci_complete" value="Complete"/>
			</td>
		</tr>
		{{#each choiseCollection}}
		<tr style="line-height:20px;background-color:#eeeeee;">
			<td style="text-align:left;padding-left:2px;">
				{{this.choiseKey}}
			</td>
			<td style="text-align:left;padding-left:2px;">
				{{this.choiseValue}}
			</td>
			<td style="text-align:left;padding-left:2px;">
				<input class="normal" type="button" name="cci_del" data-key="{{this.choiseKey}}" value="del"/>
			</td>
		</tr>
		{{/each}}
		<tr style="line-height:20px;background-color:#eeeeee;">
			<td style="text-align:left;padding-left:2px;">
				<input type="text" id="cci_key"/>
			</td>
			<td style="text-align:left;padding-left:2px;">
				<input type="text" id="cci_value"/>
			</td>
			<td style="text-align:left;padding-left:2px;">
				<input class="normal" type="button" id="cci_add" value="Add"/>
			</td>
		</tr>
	</table>
</div>