<div class="content_add_config">
<form id="editItemForm">
	<table>
		<tr>
			<td>
				<span>Location</span>
			</td>
			<td>
				{{classify}}
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<span>Option Id</span>
			</td>
			<td>
				{{model.CONFNAME}}
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<b class="require_property">*</b>
				<span>Option Name</span>
			</td>
			<td>
				<input type="text" class="input_text_password_select" id="classifyName" name="classifyName" value="{{model.DESCRIPTION}}" maxlength="200"/>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
		<tr>
			<td>
				<b class="require_property">*</b>
				<span>Option Type</span>
			</td>
			<td>
				<select class="input_text_password_select" id="classifyType">
					<option value="textbox" {{#sif model.CONFIG_TYPE 'textbox'}} selected="selected" {{/sif}}>
						文本框
					</option>
					<option value="textfield" {{#sif model.CONFIG_TYPE 'textfield'}} selected="selected" {{/sif}}>
						文本域
					</option>
					<option value="text" {{#sif model.CONFIG_TYPE 'text'}} selected="selected" {{/sif}}>
						只读文本
					</option>
					<option value="radio" {{#sif model.CONFIG_TYPE 'radio'}} selected="selected" {{/sif}}>
						单选框
					</option>
					<option value="checkbox" {{#sif model.CONFIG_TYPE 'checkbox'}} selected="selected" {{/sif}}>
						复选框
					</option>
					<option value="select" {{#sif model.CONFIG_TYPE 'select'}} selected="selected" {{/sif}}>
						下拉列表
					</option>
				</select>
			</td>
			<td>&nbsp;</td>
		</tr>

		<tr>
			<td>
				<div id="changeTypeTitle">
					Option Value
				</div>
			</td>
			<td colspan="2">
				<div id="changeTypeContent">
					<input id="classifyValue" type="text" class="input_text_password_select"/>
				</div>
			</td>
		</tr>

		<tr>
			<td>
				<span>Pre Description</span>
			</td>
			<td>
				<input type="text" class="input_text_password_select" id="preDescription" name="preDescription" maxlength="200" 
				value="{{model.PRE_DESCRIPTION}}"/>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
		<tr>
			<td>
				<span>Post Description</span>
			</td>
			<td>
				<input type="text" class="input_text_password_select" id="postDescription" name="postDescription" maxlength="200"
				value="{{model.POST_DESCRIPTION}}"/>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
	</table>
</form>
</div>