<div>
	<table>
		<tr>
			<td valign="top">
				<div>
					<div></div>
					<div class="systemconfig_classify_tree">
						<table>
							{{#each configClassify}}
							<tr>
								<td style="height:24px;">
									{{this.DESCRIPTION}}
								</td>
							</tr>
							{{/each}}
						</table>
					</div>
				</div>
			</td>
			<td>
				<div>
					MOVE TO
				</div>
			</td>
			<td>
				<div>
					<div></div>
					<div class="systemconfig_classify_tree">
						<div id="configClassifyTree"></div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>