<div style="width:400px;">
<select name="choice_box" class="input_text_password_select">
	{{#each choiceBox}}
	<option value="{{this.choiseKey}}" {{#if this.checked}}selected{{/if}}>
		{{this.choiseValue}}
	</option>
	{{/each}}
</select>

<input id="cci_edit" type="button" class="normal" value="Edit"/>
</div>