<div style="width:400px;">
{{#each choiceBox}}
<input type="radio" name="choice_box" value="{{this.choiseKey}}"
	{{#if this.checked}}checked="checked"{{/if}}/>
{{this.choiseValue}}
&nbsp;&nbsp;
{{/each}}

<input id="cci_edit" type="button" class="normal" value="Edit"/>
</div>