<div class="config_content" data-tabid="{{tabId}}">
    <table class="systemconfig_title" cellspacing="0">
        <tr>
            <td>
                <input name="checkbox_{{tabId}}_all" type="checkbox" />
            </td>
            <td>
                <button name="moveConfigAll" id="moveConfigAll_{{tabId}}" class="normal" style="display:none">
                    Move
                </button>
                Option Name
            </td>
            <td>
                Option Value
            </td>
            <td>
                Operation
            </td>
        </tr>
    </table>
    <form id="form_{{tabId}}" data-tabid="{{tabId}}">
    <table class="systemconfig_description" cellspacing="0">
        {{#each configContent}}
        <tr name="configRow" data-id="{{this.ID}}">
            <td>
                <input name="checkbox_{{../tabId}}" type="checkbox" value="{{this.ID}}"/>
            </td>
            <td>
                <div class="both_sides">
                    <span>
                        {{this.CONFIG_NAME}}
                    </span>
                    <span id="move_{{this.ID}}">
                        {{#if @first}}
                            <input type="button" name="downConfigOption" style="width:20px;" class="normal" value="D"/>
                        {{else}}
                            {{#if @last}}
                                <input type="button" name="upConfigOption" style="width:20px;" class="normal" value="U"/>
                            {{else}}
                                <input type="button" name="upConfigOption" style="width:20px;" class="normal" value="U"/>
                                <input type="button" name="downConfigOption" style="width:20px;" class="normal" value="D"/>
                            {{/if}}
                        {{/if}}

                        &nbsp;
                        <input type="button" name="moveConfigOption" class="normal" value="Move">
                    </span>
                </div>
            </td>
            <td>
                <span>
                    {{this.PRE_DESCRIPTION}}
                </span>

                {{#sif this.CONFIG_TYPE 'text'}}
                    {{this.CONFIG_VALUE}}
                {{/sif}}

                {{#sif this.CONFIG_TYPE 'textbox'}}
                    <input name="{{this.CONFIG_ID}}" style="width:362px;height:20px;" type="text" value="{{this.CONFIG_VALUE}}"/>
                {{/sif}}

                {{#sif this.CONFIG_TYPE 'textfield'}}
                    <textarea name="{{this.CONFIG_ID}}" rows="5" cols="50">{{this.CONFIG_VALUE}}</textarea>
                {{/sif}}

                {{#sif this.CONFIG_TYPE 'radio'}}

                    {{#each this.OPTION}}

                        {{#sif ../this.CONFIG_VALUE this.OPTION_KEY}}
                            <input type="radio" name="{{../../this.CONFIG_ID}}" checked="checked" value="{{this.OPTION_KEY}}">
                        {{else}}
                            <input type="radio" name="{{../../this.CONFIG_ID}}" value="{{this.OPTION_KEY}}">
                        {{/sif}}
                        {{this.OPTION_VALUE}}
                        &nbsp;&nbsp;&nbsp;
                    {{/each}}

                {{/sif}}

                {{#sif this.CONFIG_TYPE 'checkbox'}}

                    {{#each this.OPTION}}

                        <input name="{{../../this.CONFIG_ID}}" type="checkbox" {{this.CHECKED}} value="{{this.OPTION_KEY}}">
                        {{this.OPTION_VALUE}}
                        &nbsp;&nbsp;&nbsp;
                    {{/each}}
                {{/sif}}

                {{#sif this.CONFIG_TYPE 'select'}}
                    
                    <select style="width:220px;" name="{{this.CONFIG_ID}}" id="option_{{this.ID}}">
                        {{#each this.OPTION}}

                            {{#sif ../this.CONFIG_VALUE this.OPTION_KEY}}
                                <option selected value="{{this.OPTION_KEY}}">{{this.OPTION_VALUE}}</option>
                            {{else}}
                                <option value="{{this.OPTION_KEY}}">{{this.OPTION_VALUE}}</option>
                            {{/sif}}

                        {{/each}}
                    </select>

                {{/sif}}

                <span>
                    {{this.POST_DESCRIPTION}}
                </span>
            </td>
            <td>
                {{#sif this.CONFIG_TYPE 'text'}}
                    &nbsp;
                {{else}}
                    <input type="button" name="editConfigOption" class="normal" value="Edit"/>
                {{/sif}}
            </td>
        </tr>
        {{/each}}
    </table>
    </form>
    {{#if configContent}}
    <div style="margin-top:10px;">
        <input type="button" name="saveConfig" class="normal" data-tabid="{{tabId}}" value="Save">
    </div>
    {{/if}}
</div>