<div class="toolbar">

    <button class="normal" id="addConfigTab">
    	Add Tab
    </button>

    <button class="normal" id="addConfigOption" style="width:115px;">
    	Add Tab Item
    </button>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <button class="normal" id="folloWaybill">
    	运单追踪
    </button>
</div>