<div name="all_tabs">

    <ul>
        {{#each configMenu}}
            <li>
                <a href="#tab_{{this.TAB_ID}}">
                    {{this.TAB_NAME}}
                </a>
            </li>
        {{/each}}
    </ul>

    {{#each configMenu}}
    <div id="tab_{{this.TAB_ID}}" data-classifyid="{{this.TAB_ID}}" data-name="{{this.TAB_NAME}}">
        <div>
            <div id="id_{{this.TAB_ID}}"></div>

            <div>
                {{#if this.CHILDREN}}
                    {{{tree this.CHILDREN}}}
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</div>

            