{{#if isDel}}
<label>{{model.name}}</label>
{{else}}
<input name="name" value="{{model.name}}"/>
{{/if}}
<input name="pid" value="{{model.pid}}" type="hidden"/>
<input name="id" value="{{model.id}}" type="hidden"/>