
{{#if differences.length}}
	<ul class="nav nav-tabs" id="containerTabs">
    {{#each differences}}
        <li id="{{this.CONTAINER_ID}}">
            <a href="#{{this.CONTAINER}}" data-toggle="tab" >
                {{this.CONTAINER}}
                <span class="" >&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </a>
        </li>
 	{{/each}}
 	</ul>
 	<div class="tab-content">
 	{{#each differences}}
		<div class="tab-pane" id="{{this.CONTAINER}}">
           
		</div>
    {{/each}}
    </div>
{{else}}
<div class="alert alert-info" role="alert">
  
  No Difference found.
</div>
{{/if}}