
<div class="count_container">
    <div id="container_count_dif_div">
        <div class="username">
           <b>Scanned By:</b> {{containerDifference.USERNAME}}
        </div>
        <div id="system_physical_div">
          <div class="system_div">
            <h5>System Containers</h5>
            {{#if systemTree}} 
               <span class="parent">{{systemTree.CONTAINER}}</span>
               {{#if systemTree.P_NAME}}
                    <span class="child product">{{systemTree.P_NAME}}&nbsp;&nbsp;&nbsp;x&nbsp;{{systemTree.QUANTITY}}</span>
               {{else}}
                   {{#each systemTree.CHILDREN}}
                        <span class="child">{{this.CONTAINER}}</span>
                        {{#if this.P_NAME}}
                            <span class="child1 product">{{this.P_NAME}}&nbsp;&nbsp;&nbsp;x&nbsp;{{this.QUANTITY}}</span>
                         {{else}} 
                            {{#each this.CHILDREN }}
                                <span class="child1">{{this.CONTAINER}}</span>
                                {{#if this.P_NAME}}
                                    <span class="child2 product">{{this.P_NAME}}&nbsp;&nbsp;&nbsp;x&nbsp;{{this.QUANTITY}}</span>
                                 {{else}}
                                    {{#each this.CHILDREN }}
                                        <span class="child3">{{this.CONTAINER}}</span>
                                        {{#if this.P_NAME}}
                                            <span class="child3 product">{{this.P_NAME}}&nbsp;&nbsp;&nbsp;x&nbsp;{{this.QUANTITY}}</span>
                                         {{else}}
                                            
                                         {{/if}}
                                    {{/each}}     
                                 {{/if}}
                            {{/each}}
                          {{/if}}
                   {{/each}}
                {{/if}}  
             {{else}}
               <span class="new">New to system</span>
             {{/if}}
          </div>   
          <div class="physical_div">
            <h5>Physical Containers</h5>
            {{#if physicalTree}} 
               <span class="parent">{{physicalTree.CONTAINER}}</span>
               {{#if physicalTree.P_NAME}}
                  <span class="child product">{{physicalTree.P_NAME}}&nbsp;&nbsp;&nbsp;x&nbsp;{{physicalTree.QUANTITY}}</span>
               {{else}} 
                   {{#each physicalTree.CHILDREN}}
                        <span class="child">{{this.CONTAINER}}</span>
                       {{#if this.P_NAME}}
                          <span class="child1 product">{{this.P_NAME}}&nbsp;&nbsp;&nbsp;x&nbsp;{{this.QUANTITY}}</span>
                       {{else}} 
                         {{#each this.CHILDREN}}
                              <span class="child1">{{this.CONTAINER}}</span>
                              {{#if this.P_NAME}}
                                <span class="child2 product">{{this.P_NAME}}&nbsp;&nbsp;&nbsp;x&nbsp;{{this.QUANTITY}}</span>
                             {{else}}
                               {{#each this.CHILDREN}}
                                  <span class="child2">{{this.CONTAINER}}</span>
                                  {{#if this.P_NAME}}
                                      <span class="child3 product">{{this.P_NAME}}&nbsp;&nbsp;&nbsp;x&nbsp;{{this.QUANTITY}}</span>
                                   {{else}}
                                      
                                   {{/if}}   
                               {{/each}}
                              {{/if}}
                         {{/each}}
                       {{/if}}
                   {{/each}}
              {{/if}}
            {{else}}
              <span class="missing">Missing now</span>
            {{/if}}
          </div>   
          <div class="clear"></div>
        </div>

    </div>



  {{#if calculatedDiffs}}
  <table class="table table-striped" class="count_diff_table" >
        <thead>
            <th>Product Name</th>
            <th>System Count</th>
            <th>Physical Count</th>
            
        </thead>
        <tbody >
         {{#calculatedDiffs}}
    
          <tr >
            <td>{{P_NAME}}</td>
            <td>{{systemCount}}</td>
            <td class="difference">{{physicalCount}}</td>
                  
          </tr>
        {{/calculatedDiffs}}
        </tbody>
  </table>      
  {{/if}}
{{#ifCond status 1}}
    <div class="approval_div">
          <div class="comments_div">
          <input type="hidden" name="diff_id" value="{{conDiffId}}"/>
              <label>Comments</label>
              <textarea  name="comments"></textarea>
              <br><span class="text-danger hidden" name="validation_msg"></span>
          </div>
          <div class="approve_btn_div">
          <a name="approve_btn" class="btn btn-success" href="#" title="Approve">
            <span class="glyphicon glyphicon-ok">
            Approve
          </a>
          <a name="reject_btn" class="btn btn-danger" href="#" title="Reject">
            <span class="glyphicon glyphicon-remove">
            Reject
          </a> 
          </div>
    </div>
  {{else}}
  <div class="processed_div">

    <div class="username">
       <b>{{containerDifference.PROCESSED_TITLE}}</b>&nbsp;{{containerDifference.PROCESSED_BY_NAME}}
    </div>
    <div class="username">
       <b>Comments:</b> {{containerDifference.COMMENTS}}
    </div>
  </div>  
  {{/ifCond}}
</div>