
{{#if productDifferences.length }}
<div class="count_container">
  <div class="username">
     <b>Scanned By:</b> {{username}}
  </div>
  <table class="table table-striped" class="count_diff_table" >
      <thead>
          <th>Product Name</th>
          <th>System Count</th>
          <th>Physical Count</th>
          
      </thead>
      <tbody >
       {{#productDifferences}}
  
        <tr >
          <td>{{P_NAME}}</td>
          <td>{{SYSTEM_COUNT}}</td>
          <td class="difference">{{PHYSICAL_COUNT}}</td>
        </tr>
      {{/productDifferences}}
      </tbody>
  </table>
 {{#ifCond status 1}}
    <div class="approval_div">
          <div class="comments_div">
              <input type="hidden" name="diff_id" value="{{productDiffId}}"/>
              <label>Comments</label>
              <textarea  name="comments"></textarea>
              <br><span class="text-danger hidden" name="validation_msg"></span>
          </div>
          <div class="approve_btn_div">
            <a name="approve_btn" class="btn btn-success" href="#" title="Approve">
              <span class="glyphicon glyphicon-ok">{{ID}}
              Approve
            </a>
            <a name="reject_btn" class="btn btn-danger" href="#" title="Reject">
              <span class="glyphicon glyphicon-remove">
              Reject
            </a> 
          </div>
    </div>
  {{else}}
    <div class="processed_div">

      <div class="username">
         <b>{{processed_by_title}}</b>&nbsp;{{processed_by}}
      </div>
      <div class="username">
         <b>Comments:</b> {{comments}}
      </div>
    </div>  
  {{/ifCond}}
</div>
{{/if}}
            

