<div id="back_btn_view_detail_div">
  <a href="#" id="back_btn_view_detail" class="btn btn-default btn-sm">Back to Areas</a>
</div>
{{#if differences.length}}
  <div id="location_differences_scroll_container">
    <div class="panner scroll_up" data-scroll-modifier='-1'>&nbsp;</div>
    <div id="location_differences_scroll">
      
      <div id="location_differences">
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs" id="locationTabs">
            {{#each differences}}
              <li id="{{this.LOCATION_ID}}">
                <a href="#{{this.LOCATION_NAME}}" data-toggle="tab" name="{{this.LOCATION_ID}}">
                  {{this.LOCATION_NAME}}
                  <span class="" name="{{this.LOCATION_NAME}}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </a>
              </li>
          {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="panner scroll_down" data-scroll-modifier='1'>&nbsp;</div>
  </div>
  <div id="container_differences">  
    <div class="tab-content">
      {{#each differences}}
        
        <div class="tab-pane" id="{{this.LOCATION_NAME}}" >
            {{this.LOCATION_NAME}}
        </div>
        
      {{/each}}
    </div>
  </div>
  <div class="clear"></div>

{{else}}

    <div class="no_data">
       No Data
    </div>

{{/if}}