body{padding:5px;}
label{cursor: pointer;}
#storage_list_box, #title_list_box,#user_list_box{display: inline;width:auto;}

#toc_warehouse{float:left;width:350px;margin-bottom: 10px;}
#toc_warehouse label{width:140px;text-align: right;padding-right: 5px;}
#toc_title label{width:100px;text-align: right;padding-right: 5px;}
#toc_title{float:left;width:300px;margin-bottom: 10px;}
.clear{clear: both;}
#toc_area, #users_body,#deadline_body,#create_task_body {padding-top: 20px;}
.task_box{width:240px;float:left;margin:5px;padding:5px;}
.task_box_unselected{background-color: #e5e5e5;border: 1px solid #c9d2dc;}
.task_box_selected{background-color: #E6F3C5;border: 1px solid #c9d2dc;}
.task_header{color:#444;text-align: center;padding:5px; font-weight: bold;}
.task_body{padding:5px 10px;border: 1px solid #b3b6ba;background-color: #fff;height:300px; overflow-y:scroll; }
.task_box label{padding-left: 5px;font-weight: normal;}
.select_all {text-align: left;padding-left: 10px;}
.select_all label{margin:0px;}
#error_block{margin:5px;padding:10px; text-align:center;background-color:#eee;border:1px solid #444;display: none;}
.no_data{margin:5px;padding:10px; text-align:center;background-color:#eee;border:1px solid #444;}
#area_filter_box {/*border:1px solid #666;background-color: #efefef;*/}
#area_filter_box .header{padding: 4px; text-align: center;vertical-align: middle;}
#area_filter_box input{color:#444;}
#area_filter_box .header label{margin: 0px;}
#area_filter_box .body{padding:10px;}


.disabled a{color:#ccc;cursor:default;text-decoration: none;}
.disabled a:hover{color:#ccc;cursor:default;text-decoration: none;}

#deadline_body input[type="text"]{height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;
background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}

#selected_area_header{background-color: #545a5f; border:1px solid #80878e ; color:#fff;padding:5px;text-align: center;}
#selected_user_area_header{background-color: #545a5f; border:1px solid #80878e ; color:#fff;padding:5px;text-align: center;}
#nav_wizard{padding:2px; text-align: center; vertical-align: middle; margin-bottom: 5px;}
#nav_wizard a{display: inline-block;padding:5px 10px; border:1px solid #dcdcdc; text-decoration: none; background-color: #eaeaea;color:#999;}
.wizard_arrow{vertical-align:middle;background: url('../img/arrow.png') left center; width: 25px;height: 25px;display: inline-block;}
#nav_wizard a.selected{cursor:text; background-color:#E6F3C5;border-color:#9FB95E; color: #9FB95E;}
#nav_wizard a.visited{border-color: #398439;color:#fff;background-color: #449d44;cursor: text;}
#nav_wizard a.inactive{cursor: not-allowed;}


#inventory_task_header{/*background-color: #f5f5f5;padding:10px 15px;border-color: #ddd;*/font-weight: bold;}

.ui-widget-header{background: #f5f5f5;border-color:#ddd;}
/*.ui-widget-content{box-shadow: 3px 3px 4px #888888;}*/
.Inventory_body .panel{box-shadow: 2px 2px 4px #888888;}
.Inventory_body .panel-heading{padding:5px 15px;}

#users_body .header, #deadline_body .header{font-size: 14px;font-weight: bold;}

#toc_area .panel-heading .titleinputlable{width:300px;}
#start_date, #end_date{cursor: pointer;}
#toc_area .panel-heading .row{width:auto;}
#toc_area .ptopfoot5px{text-align: center;}
#toc_area .ptopfoot5px .panel_topleft_box{float:left;}
#next_assign_user_div,#back_area_selection, #create_task_link,#back_date_selection,
#next_date_selection_div,#back_user_selection{font-weight:bold;display:inline-block;
	float:right;line-height: 25px;height:25px;vertical-align: middle; width:150px;text-align: right;text-decoration: none; }
#back_area_selection,#back_user_selection,#back_date_selection{float:left;text-align: left;text-decoration: none;vertical-align: middle;}
.assign_user_header{float:left; margin-right: auto;margin-left: auto;width:200px;}
#next_assign_user_div{margin-top: 5px;}

.selected_employee {
border-color: #ccc;
border-color: rgba(82,168,236,.8);
outline: 0;
outline: thin dotted \9;
-webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
box-shadow: 0 0 8px rgba(82,168,236,.6);
}
.employee_box{display: inline-block; background:#f5f5f5 url('../img/user.png') left center no-repeat; cursor:pointer; 
			border: 1px solid #c9d2dc;padding:5px;padding-left: 30px;width:230px;float:left;margin:5px;}
.group_box{background:#f5f5f5 url('../img/group.png') left center no-repeat;}
.group_box_div{border-bottom: 1px solid #bbb;padding-bottom: 5px;margin-bottom: 5px;}
.employee_name{padding:5px;background-color: #fefefe;}
#users_body .employee_box_div{max-height: 250px; overflow-y:auto;}
.selected_employee .employee_name{background-color: #f5f5f5;color:#000;}

.next{background: url('../img/arrow-next.png') right center no-repeat;height:25px;padding-right:30px;color:#225485; cursor:pointer;text-decoration: none;}
.disabled .next{background: url('../img/arrow-next-disabled.png') right center no-repeat;height:25px;padding-right:30px;}
.previous{background: url('../img/arrow-prev.png') left center no-repeat;height:25px;padding-left:30px; color:#225485;cursor: pointer;text-decoration: none;}
.next:hover{text-decoration: none;}
#deadline_body dt,dd{font-size: normal,line-height:normal;}
#deadline_body button{padding:0px;margin:2px;}
#deadline_body .ui-widget-content{box-shadow: none;}
#ui-datepicker-div dt,dd,.ui-widget {font-size: normal;font-weight: normal}

#show_selected_areas_only, #show_all_areas_only{margin-left: 20px; margin-top: 5px;float:left;}

#areas_in_selection {padding-top: 20px;}
#areas_in_selection .panel{float:left; width: 200px; margin-right: 10px;}
#areas_in_selection .panel-heading{font-weight: bold;}
#areas_in_selection .panel-body{padding:5px 20px;}
#areas_in_selection .locations_block{height: 250px;overflow-y:auto;line-height: 25px;}
#block1, #block2{float:left; width:300px;}
.title{width: 100px; float: left;font-weight: bold;}
#create_btn_div{padding-left: 100px;}


.div-table{display: table;}
.div-table-row{display: table-row;}
.div-table-cell{display: table-cell;padding:2px 10px;}
.div-table-row .right{text-align: right;width:130px;background-color: #f5f5f5;border:1px solid #fff;}

#date_table input[type="text"]{height: 24px;padding: 1px 2px;width:100px; font-size: 12px;line-height: 1;color: #555;background-color: #fff;
background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
#date_table #occ input[type="text"]{width:40px;}
#repeating_div, #Weekly_table, #Monthly_table{display: none;}
#repeating_div select, #task_duration_div select{height: 24px;padding: 1px 2px;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
#repeat_options{width:100px;}
#ends_table label,#name_of_date_table label,#is_blind_checkbox_div label{font-weight: normal;font-size: normal}
input[type="radio"]{padding-right: 5px;}

.Inventory_filter .btn-primary{margin-top: 5px; padding:2px 6px;}
.iToggle span.label{font-size: 14px;font-weight: 100;border-radius: 0px;background-color: #eaeaea; color:#999;}
.iToggle span.selected{ color:#fff;background-color: #2a6496;
}
.iToggle .slider {background-image: none;background-color: none;}
#task_order_content{width:1050px;overflow: hidden;}
#all_container{width:1020px;overflow:hidden;}
#all_container2{width:5000px;position: relative;}
#toc_area, #toc_selected_area, #users_body, #deadline_body, #create_task_body{float:left;width:1020px;position: relative;left:0px; top:0px;}


