.min-1080 {
	min-width: 1080px;
}
.ui-corner-all {
-moz-border-radius: 4px/*{cornerRadius}*/;
-webkit-border-radius: 4px/*{cornerRadius}*/;
}
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(/Sync10/administrator/js/jquery/ui/themes/base/images/ui-bg_flat_75_ffffff_40x100.png)  50% 50% repeat-x ; color: #222222; }

* {
padding: 0;
margin: 0;
}

#tabs  {
	padding: 0;
}

#ui-tabs-1,#ui-tabs-2,#ui-tabs-3 {
	max-height: 385px;
	overflow: auto;
}