#dialogplaybox{position: absolute;z-index: 800;margin: 0px auto;border-radius:6px;border:1px solid #ccc;background: #fff;}
#progressBar{visibility:visible;height: 2px;margin:0;width: 100%;color: #7FFF00;margin: 0px auto;background-color: #fff;border:0px;}
#dialogplaybox .objectbox{display: block;width: 100%;}
.playhead{border-bottom: 1px solid #ccc;}
.playhead .titles{border-width: 0px;padding-left: 6px;font-weight: bold;}
.playhead .close{margin-right: 6px}
#dialogplaybox .progressbox{display: block;width: 100%;height: 2px;line-height: 0px;font-size: 0px;overflow: hidden;}
#dialogplaybox .titlebox{display: 100%;display: block;margin-top: 2px;height: 32px;line-height: 32px}
#playlodingbox{visibility: visible;vertical-align: middle;}
#playlodingbox span{vertical-align: middle;}
#playlodingbox i{display: inline-block;height: 16px;font-style: normal;vertical-align: middle;}
#playlodingbox i{width: 30px;background: url(/Sync10-ui/lib/videolanrtsp/MSzY4fK.gif);}
