<div class="content_add_account" style="/*height:508px;*/height:100%;overflow-y:auto;">
<form id="addAdminForm"> 
	<table>
		<tr>
			<td>
				<b class="require_property">*</b>
				<span>Account Number</span>
			</td>
			<td>&nbsp;</td>
			<td>
				<input value="" class="input_text_password_select" name="account" id='account' type='text' maxlength="18" title="" placeholder="eg.  1、_、a, at least five"/>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
		<tr>
			<td>
				<b class="require_property">*</b>
				<span>Password</span>
			</td>
			<td>&nbsp;</td>
			<td>
				<input value="" class="input_text_password_select" name='pwd' id='pwd' type="password" maxlength="12" title="" placeholder="eg.  1、_、a, at least five"/>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
		
		<tr>
			<td>
				<b class="require_property">*</b>
 				<span>Confirm Password</span>
			</td>
			<td>&nbsp;</td>
			<td>
				<input class="input_text_password_select" name='confirmPwd' id='confirmPwd' type='password' maxlength="12" title=""/>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
	</table>
	<table style="margin-top: 20px;">
		<tr>
			<td>
				<b class="require_property">*</b>
				<span>Full Name</span>
			</td>
			<td>&nbsp;</td>
			<td>
				<input class="input_text_password_select" name='employeName' id='employeName' type='text' size="20" maxlength="30" />
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
		<tr>
			<td>
				<span>Telephone</span>
			</td>
			<td>&nbsp;</td>
			<td>
				<input class="input_text_password_select" name="mobilePhone" id="mobilePhone" type="text" maxlength="30" />
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
		
		<tr>
			<td>
 				<span>E-Mail</span>
			</td>
			<td>&nbsp;</td>
			<td>
				<input class="input_text_password_select" name="email" id="email" type="text" maxlength="320" />
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
		<tr>
			<td>
				<!-- <b class="require_property">*</b> -->
 				Hiredate
			</td>
			<td>&nbsp;</td>
			<td>
				<input class="input_text_password_select" name="entryDate" id="entryDate" type="text" size="20" maxlength="10" title="" placeholder="eg. 2014-08-12"/>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
	</table>
	<table style="margin-top: 20px;">
		<tr>
			<td>
				<b class="require_property">*</b>
 				Department/Post
			</td>
			<td>&nbsp;</td>
			<td>
				<input class="input_text_password_select" id="department" name="department" type="text" readonly="readonly" title="" >
				<input id="department_id" name="department_id" type="hidden">
				
		   		<div id="department_menuContent" class="content_add_account_select">
					<ul id="department_tree" class="ztree"></ul>
				</div>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>

		<tr id="customer_tr" name="customer_tr">
			<td>
			<b class="require_property">*</b>
 				Customer
			</td>
			<td>&nbsp;</td>
			<td>
				<select id="customer_id" name="customer_id" style="width:242px;" >
                    <option value=""></option>
                    {{#each customers}}
                        <option value="{{this.customer_key}}">{{this.customer_id}}</option>
                    {{/each}}
                </select>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>

		<tr id="carrier_tr" name="carrier_tr">
			<td>
			<b class="require_property">*</b>
 				Carrier
			</td>
			<td>&nbsp;</td>
			<td>
				<select id="carrier_id" name="carrier_id" style="width:242px;" >
                    <option value=""></option>
                    {{#each carriers}}
                        <option value="{{this.id}}">{{this.carrier}}</option>
                    {{/each}}
                </select>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>

		<tr>
			<td>
 				Office Location
			</td>
			<td>&nbsp;</td>
			<td>
				<input class="input_text_password_select" id="officeLocation" name="officeLocation" type="text" readonly="readonly" >
				<input id="officeLocation_id" name="officeLocation_id" type="hidden">
				
		   		<div id="officeLocation_menuContent" class="content_add_account_select">
					<ul id="officeLocation_tree" class="ztree"></ul>
				</div>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<b class="require_property">*</b>
 				Warehouse Type
			</td>
			<td>&nbsp;</td>
			<td>
				<select id="warehouseType" name="warehouseType" style="width:242px;" >
                    <option value=""></option>
                    {{#each waretype}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
		<tr>
			<td>
				<b class="require_property">*</b>
				Warehouse
			</td>
			<td>&nbsp;</td>
			<td>
				<select id="warehouse" name="warehouse" style="width:242px;" >
					<option value=""></option>
                </select>

				<input id="warehouse_id" name="warehouse_id" type="hidden">
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>

		<tr style="line-height:30px;">
			<td>
 				Area
			</td>
			<td>&nbsp;</td>
			<td>
                <select id="area" style="width:242px;" multiple="multiple">
                	<option value=""></option>
            	</select>
				<input id="area_id" name="area_id" type="hidden">
			</td>
			<td class="status validator_style">&nbsp;</td>
		</tr>
	</table>
</form>
</div>