<div class="title_basic_layout">
	<div class="title_basic_layout_header">
		<span>
			Linked TITLE&nbsp;&nbsp;(&nbsp;<em style="font-size: 14px;color: red;">{{context.hasTitle.length}}</em>&nbsp;)
		</span>	    		
		<label>
			No Linked TITLE&nbsp;&nbsp;(&nbsp;<em style="font-size: 14px;color: red;">{{context.unhasTitle.length}}</em>&nbsp;)
		</label>
	</div>
	<div class="title_basic_layout_content">
		<table> 
			<tr>
			    <td>
				    <div class="double_title_list">
		        		<table>
		        		 	{{#each context.hasTitle}}
							<tr>
								<td name="_hasTitle" data-id="{{this.title_id}}" data-sort="{{this.title_admin_sort}}">
							 		{{this.title_admin_sort}}.{{this.title_name}}
							 	</td>
							</tr>
							{{/each}}
						 </table>
						 <input type="hidden" id="has_title" value=","/>
		      		</div>
			    </td>
			    <td valign="top">
                    <div>
                        <a id="moveTitleLeft" class="buttons icon arrowleft disabled"  title="Linked"></a>
                    </div>
                    <div style="margin-top: 6px;">
                        <a id="moveTitleRight" class="buttons icon arrowright disabled" title="Cancel Linked"></a>
                    </div>

                    <div style="margin-top: 100px;">
                        <a id="moveTitleUp" class="buttons icon arrowup disabled" title="Up Priority"></a>
                    </div>
                    <div style="margin-top: 6px;">
                        <a id="moveTitleDown" class="buttons icon arrowdown disabled" title="Down Priority"></a>
                    </div>
			    </td>
			    <td>
			   	    <div class="double_title_list">
		        		<table>
				       		{{#each context.unhasTitle}}
							<tr>
								<td name="_unhasTitle" data-id="{{this.title_id}}">
									{{this.title_name}}
								</td>
							</tr>
							{{/each}}
						</table>
						<input type="hidden" id="unhas_title" value=","/>
		    		</div>
				</td>
			</tr>
		</table>
	</div>
</div>