
<div style="padding: 10px;box-shadow: 0 0 5px #ccc;margin-bottom: 8px;">
	<input type="text" id="permissionTreeSearch" style="padding: 6px;border-radius: 4px;border: 1px solid silver;font-family: inherit;font-size: inherit;line-height: inherit;width: 200px;" placeholder="Search">
</div>

<div class="permission_basic_layout">
	<div>
		<div id="permission_tree"></div>
	</div>
</div>

<!-- margin: 0em auto 1em auto; --> 