<div class="manage_photo">

    <div style="padding: 10px;box-shadow: 0 0 5px #ccc;margin-bottom: 8px;">
        <span>
            <select id="image_flag" style="width:120px;height:24px">
            <option value="finger">
                Fingerprint
            </option>
            <option value="portrait">
                Head Portrait
            </option>
            <option value="token">
                Token 
            </option>
            </select>
        </span>
        <span style="margin-left: 4px;">
            <button class="normal" id="upload_image">Upload</button>
        </span>
    </div>
    

    
    <div class="manage_photo_content">
        <table cellspacing="0">
            <tr>
                {{#each photoList}}
                {{#calculate '(' @index '+1)%3 == 1'}}
                </tr>
                <tr>
                <td data-id="{{../this.id}}">
<div style="height:220px;width:210px;">
<div style="width:200px;height:200px;border:1px #bdbdbd solid;position:relative;border-radius:5px;">
    
    <img style="max-width:100%;max-height:100%;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto" src="{{../this.file_path}}"/>
   
    <div style="position:absolute; width:200px; height:200px;box-shadow:0 0 5px #ccc;">
        
        <div style="height:25px;width:100%;">
            <div style="position:relative;">
                <span class="align-width-span-right">
                    {{#if ../this.activity}}
                        <img src="image/default.png" title="DEFAULT" name="cancelDefaultPhoto">
                    {{else}}
                        <img src="image/select.png" title="SET DEFAULT" name="setDefaultPhoto">
                    {{/if}}
                </span>
            </div>
        </div>

        <a class="fancybox-thumb" rel="fancybox-thumb" href="{{../this.file_path}}" title="{{this.file_flag}}">
            <div style="height:150px;width:100%"></div>
        </a>

        <div style="background-color:rgba(208,208,208,0.9);height:25px;width:100%;">
        <div style="position:relative;">
            <span class="align-width-span-left">
                <b>
                    {{#sif this.file_flag 'portrait'}}

                        Head Portrait

                    {{/sif}}

                    {{#sif this.file_flag 'finger'}}

                        Fingerprint

                    {{/sif}}

                    {{#sif this.file_flag 'token'}}

                        Token

                    {{/sif}}
                </b>
            </span>
            <span class="align-width-span-right">
                <img src="image/delete.png" title="DELETE" name="delPhoto">
            </span>
        </div>
        </div>
    </div>
</div>
</div>
                </td>
                {{else}}
                <td data-id="{{../this.id}}">
<div style="height:220px;width:210px;">
<div style="width:200px;height:200px;border:1px #bdbdbd solid;position:relative;border-radius:5px;">
    
    <img style="max-width:100%;max-height:100%;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto" src="{{../this.file_path}}"/>

    <div style="position:absolute; width:200px; height:200px;box-shadow:0 0 5px #ccc;">
        <div style="height:25px;width:100%;">
            <div style="position:relative;">
                <span class="align-width-span-right">
                    {{#if ../this.activity}}
                        <img src="image/default.png" title="DEFAULT" name="cancelDefaultPhoto">
                    {{else}}
                        <img src="image/select.png" title="SET DEFAULT" name="setDefaultPhoto">
                    {{/if}}
                </span>
            </div>
        </div>

        <a class="fancybox-thumb" rel="fancybox-thumb" href="{{../this.file_path}}" title="{{this.file_flag}}">
            <div style="height:150px;width:100%"></div>
        </a>

        <div style="background-color:rgba(208,208,208,0.9);height:25px;width:100%;">
        <div style="position:relative;">
            <span class="align-width-span-left">
                <b>
                    {{#sif this.file_flag 'portrait'}}

                        Head Portrait

                    {{/sif}}

                    {{#sif this.file_flag 'finger'}}

                        Fingerprint

                    {{/sif}}

                    {{#sif this.file_flag 'token'}}

                        Token

                    {{/sif}}
                </b>
            </span>
            <span class="align-width-span-right">
                <img src="image/delete.png" title="DELETE" name="delPhoto">
            </span>
        </div>
        </div>
    </div>
</div>
</div>
                </td>
                {{/calculate}}
                {{/each}}
            </tr>
        </table>
    </div>
</div>