<div style="width:180px;text-align:center;">
	<div style="margin-bottom:10px;">
		Please enter your fingerprints within 10 seconds
	</div>
    <form id="fingerprintFrom">
        <object id="ZAZFingerActivex" type="application/x-itst-activex"
            clsid="{87772C8D-3C8C-4E55-A886-5BA5DA384424}">
        </object>
        <object id="Splugin" type="application/x-text-plugin-demo" width=0 height=0></object>
    </form>
</div> 
