<div class="dialog_update_content">
<form id="modifyTokenForm" >
<table>
	<tr>
		<td>
			<b class="require_property">*</b>
			<span>SN</span>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td> 
			<input class="input_text_password_select" name='tokenId' id='tokenId' type='text'/>
		</td>
		<td class="status validator_style">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<b class="require_property">*</b>
			<span>Key</span>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<input class="input_text_password_select" name='tokenKey' id='tokenKey' type='text'>
		</td>
		<td class="status validator_style">&nbsp;</td>
	</tr>
</table>
</form>
</div>