<div class="dialog_update_content">
<form id="modifyPasswordForm" >
<table>
	<tr>
		<td>
			<b class="require_property">*</b>
			<span>Password</span>
		</td>
		<td>&nbsp;</td>
	</tr> 
	<tr>
		<td>
			<input class="input_text_password_select" name='pwd' id='pwd' type="password" maxlength="12"/>
		</td>
		<td class="status validator_style">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<b class="require_property">*</b>
			<span>Confirm Password</span>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<input class="input_text_password_select" name='confirmPwd' id='confirmPwd' type='password' maxlength="12"/>
		</td>
		<td class="status validator_style">&nbsp;</td>
	</tr>
</table>
</form>
</div>