<div>
    <table style="width:85%">
    
        <tr>
            <td valign="top">
                <div>
                    <div>
                        <select id="selectDeptment" style="width:260px;">
                            <option value=""></option>
                            {{#each deptments}}
                                <option value="{{this.adgid}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div> 
                    <div style="margin-top: 10px;">
                        <select id="selectPost" style="width:260px;">
                            <option value=""></option>
                            {{#each posts}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </td>
            <td valign="top">
                <div>
                    <div>
                        <select id="selectWarehouse" style="width:260px;">
                            <option value=""></option>
                            {{#each warehouses}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div style="margin-top: 10px;">
                        <select id="selectArea" style="width:260px;">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </td>
            <td valign="top">
                <div>
                    <div STYLE="position: relative">

                        <input class="input_text_password_select" id="selectOfficeLocation" name="officeLocation" type="text" readonly="readonly">
                        <input id="selectLocation" name="selectLocation" type="hidden">

                        <div id="select_officeLocation_menuContent" class="content_add_account_select">
                            <ul id="select_officeLocation_tree" class="ztree"></ul>
                        </div>

                    </div>
                </div>
            </td>
            <td valign="top">
                <div class="advanced_search_checked">
                    <div>
                        <input id="unFingerprintFlag" type="checkbox">
                        <span id="unFingerprintFlagTxt">
                            No Fingerprint
                        </span>
                    </div>
                    <div>
                        <input id="unTokenFlag" type="checkbox">
                        <span id="unTokenFlagTxt">
                            No Token
                        </span>
                    </div>
                    <div>
                        <input id="unShieldFlag" type="checkbox">
                        <span id="unShieldFlagTxt">
                            Locked
                        </span>
                    </div>
                </div>
            </td>
            <td valign="top">
                <div class="advanced_search_checked">
                    <div>
                        <input id="unPermissionFlag" type="checkbox">
                        <span id="unPermissionFlagTxt">
                            No Permissions
                        </span>
                    </div>
                    <!-- <div>
                        <input id="unTitleFlag" type="checkbox">
                        <span id="unTitleFlagTxt">
                            No Title
                        </span>
                    </div> -->
                    <div>
                        <input id="unUploadPhotoFlag" type="checkbox">
                        <span id="unUploadPhotoFlagTxt">
                            No Images
                        </span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
