<div class="title_account">
    <table>
        <tr>
            <th>
                <div>
                    <span>
                        Account Information
                    </span>
                    <span> 
                        <!-- <button class="normal" id="exportTitle">Export Title</button> -->
                        &nbsp;&nbsp;
                        <button class="normal" id="addAdmin">Add Account</button>
                    </span>
                </div> 
            </th>
        </tr>
    </table>
</div>
<div style="margin-left: 1px;">
    <table cellspacing="0" width="100%">
      {{#if resultList}}
        {{#each resultList}}
        <tr data-adid="{{this.adid}}" class="content_account_text">
        
            <td class="content_account_text_td1">
                <fieldset class="set" style="border: 2px solid green;">
                <legend>
                    <span class="title" style="font-weight: bold;">{{this.employe_name}}</span>
                </legend>

                    <table style="width:100%;height:100%">
                            <tr>
                                <td style="width:100%;">

                    <table style="border-spacing: 0px;">
                        <tr>
                            <td>
                                Account:&nbsp;
                            </td>
                            <td style="padding-left:5px;position: relative;height:20px;">
                                {{this.account}}
                                 <span style="display: inline-block;right: 0px;position: absolute">
                                    {{#if this.llock}}
                                        <img src="image/lockadmin.gif">&nbsp;&nbsp;
                                    {{else}}
                                        &nbsp;
                                    {{/if}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Token:&nbsp;
                            </td>
                            <td style="padding-left:5px;height:20px;">
                                {{this.register_token}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone:&nbsp;
                            </td>
                            <td style="padding-left:5px;height:20px;">
                                {{this.mobilephone}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                E-Mail:&nbsp;
                            </td>
                            <td style="padding-left:5px;height:20px;">
                                {{this.email}}
                            </td>
                        </tr>
                    </table>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
            </td>
            <td class="content_account_text_td1">
              {{#each this.warearea}}
                    <fieldset class="set" style="border: 1px #999 solid;">
                    <legend>
                        <span>
                            {{this.warename}} 
                            {{#xifCond this.area_name_array.length '4' '>'}}
                            &nbsp;|&nbsp;
                                <span name="displayArea" data-flag="more" style="text-decoration:underline;cursor:pointer;color:#00F">More...
                                </span>
                            
                            {{/xifCond}}
                        </span>
                    </legend>
                        <table style="width:100%;height:100%">
                            <tr>
                                <td style="width:100%;padding-left:10px;" valign="top">
                                    <table style="border-spacing: 0px;">
                                        {{#each this.area_name_array}}
                                            {{#xifCond @index '3' '>'}}

                                                <tr name="displayArea_{{../../../this.adid}}" style="display:none">
                                                    <td style="text-align:left;height:20px;">
                                                        {{this.area}} 
                                                    </td>
                                                </tr>
                                            {{else}}
                                                <tr>
                                                    <td style="text-align:left;height:20px;">
                                                        {{this.area}}
                                                    </td>
                                                </tr>
                                            {{/xifCond}}
                                        {{/each}}

                                        {{#xifCond this.area_name_array.length '2' '<'}}
                                            {{#times '2-this.area_name_array.length'}}
                                            <tr>
                                                <td style="text-align:left;height:20px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            {{/times}}
                                        {{/xifCond}}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                {{/each}}
            </td>
            <td class="content_account_text_td1">

                <fieldset class="set" style="border: 1px #ff6600 solid;">
                    <legend>
                        <span>
                            Department / Post
                            {{#xifCond this.deptpost.length '4' '>'}}
                                &nbsp;|&nbsp;
                                <span name="displayDept" data-flag="more" style="text-decoration:underline;cursor:pointer;color:#00F">More...</span>
                            {{/xifCond}}
                        </span>
                    </legend>

                    <table style="width:100%;height:100%">
                        <tr>
                        <td style="width:95%;" valign="center">
                        <table style="border-spacing: 0px;">
                        
                        {{#each this.deptpost}}
                            <tr>
                                <td style="text-align:left;">
                                <table style="border-spacing: 0px;">
                                    <tr>
                                    <td style="text-align:right;height:20px;">{{this.deptname}}</td>
                                    <td style="text-align:left;height:20px;">&nbsp;»&nbsp;{{this.postname_str}}</td>
                                    </tr>
                                </table>
                                </td>
                            </tr>
                        {{/each}}

                        {{#xifCond this.deptpost.length '2' '<'}}
                            {{#times '2-this.deptpost.length'}}
                            <tr>
                                <td style="text-align:left;height:20px;">
                                    &nbsp;
                                </td>
                            </tr>
                            {{/times}}
                        {{/xifCond}}

                        </table>
                        </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
            <!-- <td class="content_account_text_td1">

                <fieldset class="set" style="border: 1px #999 solid;">
                    <legend>
                        <span name="displayTitle" >
                            
                            <span style="text-decoration:underline;cursor:pointer;">
                                Linked Title
                            </span>
                            {{#xifCond this.titles.length '4' '>'}}
                                &nbsp;|&nbsp;
                                <span style="text-decoration:underline;cursor:pointer;color:#00F">      More...
                                </span>
                            {{/xifCond}}
                        </span>
                    </legend>

                    <table style="width:100%;height:100%">
                        <tr>
                        <td style="width:85%;padding-left: 5px;" valign="center">
                        <table style="border-spacing: 0px;">
                        
                        {{#each this.titles}}
                            {{#xifCond @index '3' '>'}}
                                <tr name="displayTitle_{{../../this.adid}}" style="display:none">
                            {{else}}
                                <tr>
                            {{/xifCond}}
                                <td style="text-align:left;">
                                <table style="border-spacing: 0px;">
                                    <tr>
                                    <td style="text-align:left;height:20px;">&nbsp;{{this.title_name}}</td>
                                    </tr>
                                </table>
                                </td>
                            </tr>
                        {{/each}}

                        {{#xifCond this.titles.length '2' '<'}}
                            {{#times '2-this.titles.length'}}
                            <tr>
                                <td style="text-align:left;height:20px;">
                                    &nbsp;
                                </td>
                            </tr>
                            {{/times}}
                        {{/xifCond}}

                        </table>
                        </td>
                        </tr>
                    </table>

                </fieldset>
            </td> -->
            <td class="content_account_text_td1">

                <fieldset class="set" style="border: 1px #ff6600 solid;">

                    <legend>
                        <span>
                            Office Location
                        </span>
                    </legend>

                    <table class="detailed_location">
                        <tr>
                            <td>
                                Office:
                            </td>
                            <td>
                                &nbsp;
                                {{this.office_all_name}}
                            </td>
                        </tr>
                        <tr>
                            <td>Area:</td>
                            <td>
                                &nbsp;
                                {{this.nation_name}}
                                {{this.provinces_name}}
                                {{this.city}}
                            </td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>
                                &nbsp;
                                {{this.house_number}}
                                {{this.street}}
                            </td>
                        </tr>
                        <tr>
                            <td>Zip Code:</td>
                            <td>
                                &nbsp;
                                {{this.zip_code}}
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
            <!-- <td class="content_account_text_td2">
                <table>
                    <tr>
                        <td>
                            Hiredate:
                        </td>
                        <td>
                            &nbsp;{{this.entrytime}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Login Date:
                        </td>
                        <td>
                            &nbsp;{{this.last_login_date}}
                        </td>
                    </tr>
                </table>
            </td> -->
        </tr>

        <tr data-adid="{{this.adid}}" class="content_account_button">
            <td colspan="5">

            <!--    <input name="manageTitle" type="button" class="lighter" value="Title" /> -->
                <input name="managePermission" type="button" class="lighter" value="Authority" />
                <input name="modifyAdmin" type="button" class="lighter" value="Edit" />
                <input name="managePhoto" type="button" class="lighter" value="Images" />

                <!-- <input name="modifyFingerprint" type="button" class="lighter" value="Fingerprint" /> -->
                <input name="modifyPassword" type="button" class="lighter" value="Password" />
                <input name="modifyToken" type="button" class="lighter" value="Token" />
                <input name="shieldAdmin" type="button" class="lighter" value="{{#if this.llock}}UnLock{{else}}Lock{{/if}}" />
                <!-- <input name="deleteAdmin" type="button" class="lighter" value="Delete" /> -->
            </td>
        </tr>
        {{/each}}
      {{else}}
        <tr>
            <td style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;">No Data.</td>
        </tr>
      {{/if}}  
    </table>
</div>
<div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
    <ul id="pagination" class="clearfix pagebox">
    </ul>
</div>