<div style="margin-left: 1px;margin-top: 10px;">

<style type="text/css">

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ddd; 
}

.table thead tr{

    height: 35px;
}

.table tbody tr{

    cursor: pointer;
    height: 35px;
}

.table tr:nth-child(2n) {

    background: #f9f9f9;
}

.table tbody tr:hover{

    background: #E6F3C5;
}

.table td{

    border-top: 1px solid #ddd;
    border: 1px solid #ddd;
    padding:5px;
}

.table th{

    border-top: 1px solid #ddd;
    border: 1px solid #ddd;
    padding:5px;
}

.bg-info {
    background-color: #e5e5e5;
}
</style>

    <table class="table">
        <thead>
            <tr class="bg-info">
                <th>
                    Index
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Account
                </th>
                <th>
                    Mobilephone
                </th>
                <th>
                    Email
                </th>
                <th>
                    Last Login Date
                </th>
            </tr>
        </thead>
        {{#each resultList}}
        <tr name="basicInfo" data-adid="{{this.adid}}">
            <td>
                {{math @index '+' '1'}}
            </td>
            <td>
                {{this.employe_name}}
            </td>
            <td>
                {{this.account}}
            </td>
            <td>
                {{this.mobilephone}}
            </td>
            <td>
                {{this.email}}
            </td>
            <td>
                {{this.last_login_date}}
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div style="margin: 10px;display:none;" name="detailInfo_{{this.adid}}">
                    <table style="width:100%">
                        <tr>
                            <td>
                                Full Name
                            </td>
                            <td>
                                {{this.employe_name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Account
                            </td>
                            <td>
                                {{this.account}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mobilephone
                            </td>
                            <td>
                                {{this.mobilephone}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email
                            </td>
                            <td>
                                {{this.email}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Token ID
                            </td>
                            <td>
                                {{this.register_token}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Last Login Date
                            </td>
                            <td>
                                {{this.last_login_date}}
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        {{/each}}
    </table>
    
</div>

<div class="pagination">
<table>
	<tr>
        <th>
            Pages：{{pageCtrl.pageNo}}/{{pageCtrl.pageCount}}
            &nbsp;&nbsp;
           	Total：{{pageCtrl.allCount}}
            &nbsp;&nbsp;
            <button class="normal" data-pageno="1" {{#unless pageCtrl.first}}disabled{{/unless}} >First</button> 
            <button class="normal" data-pageplus="-1" {{#unless pageCtrl.fornt}}disabled{{/unless}} >Previous</button>
            <button class="normal" data-pageplus="1" {{#unless pageCtrl.next}}disabled{{/unless}} >Next</button>
            <button class="normal" data-pageno="{{pageCtrl.pageCount}}" {{#unless pageCtrl.last}}disabled{{/unless}} >Last</button>
        </th>
    </tr>
</table>
</div>