<div>
    <div>
        <div class="eso_search_parent">
            <div class="eso_search_icon">
                <a>
                    <img style="cursor:pointer;" id="eso_search" src="image/easy_search_2.png">
                </a>
            </div>
        </div>
        <div class="eso_search_input">
            <input id="search_key" name="search_key" type="text" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
        </div> 
    </div>
</div>