<div class="photo_basic_layout">
	<div class="photo_basic_layout_select">
		<div id="selectFile" style="position:relative;height:20px;width:238px;border: 1px solid #999999;display: inline-block;padding: 2px;background-color: #fff;">
			<input id="_upload_photo" title="No Choose File" name="_upload_photo" type="file" accept="image/*" /  style="position:absolute;opacity: 0;height:20px;width:238px;top:-1px;left:-1px;" hidefocus>
			<button>Select File...&nbsp;</button>
			<input id="selectFile_text" readonly style="color:#3e3e3e;border:none" placeholder="No Choose File"/>
		</div>
	</div> 

	<div class="photo_basic_layout_context">
	
		<img src="image/upload_image_t.gif" id="jcrop_target" style="width:541px;height:472px;">
		 
		<input type="hidden" id="jcrop_has_img_flag" value="0"/>
	</div>

    <form id="crop_image_coordinate">

        <input type="hidden" id="adid" name="adid" />
        <input type="hidden" id="flag" name="flag" />

        <input type="hidden" id="x" name="x" />
        <input type="hidden" id="y" name="y" />
        <input type="hidden" id="w" name="w" />
        <input type="hidden" id="h" name="h" />

        <input type="hidden" id="bigImage" name="bigImage" value=""/>

    </form>
</div>