<div class="show-import-title">

	<table>
		<tr>
			<td style="width:5%">
				No
			</td>
			<td style="width:25%">
				Account
			</td>
			<td style="width:25%">
				Title
			</td>
			<td style="width:10%">
				Status
			</td>
			<td style="width:35%">
				Error Info
			</td>
		</tr>
	</table> 

	<table>
		{{#each titleList}}
		<tr>
			<td style="width:5%">
				{{math @index '+' '1'}}
			</td>
			<td style="width:25%">
				{{this.account}}
			</td>
			<td style="width:25%">
				{{this.title}}
			</td>
			<td style="width:10%">
				<img style="width:20px;height:20px;" src="image/{{this.status}}.png">
			</td>
			<td style="width:35%">
				{{this.error}}
			</td>
		</tr>
		{{/each}}
	</table>
</div>
