<div class="condition">
	 <div class="row">
	 		<div class="col-sm-4"> 
                <div class="input-group">
                     <span class="input-group-addon form-label min-120" >{{model.documentno_lable}}</span>
                     <input id="pallet_id" type="text" class="form-control min-200" placeholder="{{model.documentno_placeholder}}">
                </div>
            </div>
            <div class="col-sm-4"> 
                <div class="input-group ">
                     <span class="input-group-addon form-label min-120" >{{model.documenttype_lable}} </span>
                     <input class="form-control min-200"  placeholder="{{model.documenttype_placeholder}}" id="pallet_type">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                     <span class="input-group-addon form-label min-120" >{{model.process_lable}}</span>
                     <input type="text" class="form-control min-200"  placeholder="{{model.process_placeholder}}" id="happn_link">
                </div> 
            </div> 
        </div> 
        <div class="row">
        	<div class="col-sm-4">
                <div class="input-group">
                     <span class="input-group-addon form-label min-120" >{{model.exceptiontype_lable}}</span>
                     <input type="text" class="form-control min-200" placeholder="{{model.exceptiontype_placeholder}}" id="exception_type">
                </div>
            </div>  
            <div class="col-sm-4">
                <div class="input-group">
                     <span class="input-group-addon form-label min-120" >{{model.status_lable}}</span>
                     <input id="status" type="text" class="form-control min-200" placeholder="{{model.status_placeholder}}">
                </div>
            </div>
        	<div class="col-sm-3">
                <button type="button" class="btn btn-info" id="filter" style="width:100px;float:right;">{{model.search}}</button>
            </div>  
        </div>   
</div>
