<table class="table">
      <tbody>
        <tr class="active">
          <th scope="row">{{lanModel.bol_lable}}</th>
          <td style="text-align: left;">{{model.BOL_ID}}
          	<input type="hidden" id="damage_id" name="damage_id" value="{{model.ID}}"> 
          </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th scope="row">{{lanModel.process_lable}}</th>
          <td style="text-align: left;">{{model.HAPPEN_LINK}}</td>
          <td></td>
          
        </tr>
        <tr class="success">
          <th scope="row">{{lanModel.exceptiontype_lable}}</th>
          <td style="text-align: left;">{{model.EXCEPTION_TYPE}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">{{lanModel.documenttype_lable}}</th>
          <td style="text-align: left;">{{model.PALLET_TYPE}}</td>
          <td></td>
          
        </tr>
        <tr class="info">
          <th scope="row">{{lanModel.documentno_lable}}</th>
          <td style="text-align: left;">{{model.PALLET_ID}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">{{lanModel.status_lable}}</th>
          <td style="text-align: left;">{{model.STATUSNAME}}</td>
          <td></td>
        </tr>
        <tr class="warning">
          <th scope="row">{{lanModel.timeremaining_lable}}</th>
          <td style="text-align: left;">{{model.REMAININGDAY}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">{{lanModel.operatorname_lable}}</th>
          <td style="text-align: left;">{{model.OPERATOR_NAME}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">{{lanModel.operatordate_lable}}</th>
          <td style="text-align: left;">{{model.OPERATOR_TIME}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">{{lanModel.remark_lable}}</th>
          <td style="text-align: left;">{{model.DESCRIPTION}}</td>
          <td></td>
        </tr>
        
      </tbody>
    </table>

