
<div class="panel-body form-horizontal">
	<div class="form-group">
		<label for="etd" class="col-xs-3 control-label required">{{lanModel.responsible_lable}}</label>
		<div class="col-xs-6">
			<input type="text" class="form-control" id="responsible" name="responsible" placeholder="{{model.responsible_placeholder}}"/>
			<input type="hidden" id="responsible_id" name="responsible_id" />
			<input type="hidden" id="id" name="id" value="{{model.ID}}"> 
		</div>
	</div>
	<div class="form-group">
		<label for="etd" class="col-xs-3 control-label">{{lanModel.dealWithResult_lable}}</label>
		<div class="col-xs-6">
			<label class="radio-inline">
			  <input type="radio" name="status" id="resulet1" checked value="0">{{lanModel.dealWithResult_0}} 
			</label>
			<label class="radio-inline">
			  <input type="radio" name="status" id="resulet2" value="1" title="">{{lanModel.dealWithResult_1}} 
			</label>
			<label class="radio-inline">
			  <input type="radio" name="status" id="resulet3" value="2" title="">{{lanModel.dealWithResult_2}} 
			</label>
		</div>
	</div>
	
	<div class="form-group">
		<label for="etd" class="col-xs-3 control-label">{{lanModel.remark_lable}}</label>
		<div class="col-xs-6">
		<textarea class="form-control" rows="2" cols="10" id="result_content" name="result_content">{{model.RESULT_CONTENT}}</textarea>
		</div>
	</div>
</div>
<div class="footer">
	<div class="opbar">
		<button type="button" id="submit" class="btn btn-info">{{lanModel.submit}}</button>
	</div>
</div>