<table class="table">
      <tbody>
        <tr >
          <th scope="row">{{lanModel.responsible_lable}}</th>
          <td style="text-align: left;">{{model.RESPONSIBLE_NAME}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row" class="warning">{{lanModel.dealWithResult_lable}}</th>
          <td style="text-align: left;" class="warning">{{model.STATUSNAME}}</td>
          <td class="warning"></td>
        </tr>
        <tr> 
          <th scope="row">{{lanModel.operatorname_lable}}</th>
          <td style="text-align: left;">{{model.OPERATOR_NAME}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">{{lanModel.operatordate_lable}}</th>
          <td style="text-align: left;">{{model.OPERATOR_TIME}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">{{lanModel.remark_lable}}</th>
          <td style="text-align: left;">{{model.RESULT_CONTENT}}</td>
          <td></td>
        </tr>
        
      </tbody>
    </table>