<div>
<table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th >{{resultTitle.bol_title}}</th>
            <th >{{resultTitle.documentno_title}}</th>
            <th >{{resultTitle.process_title}}</th>
            <th >{{resultTitle.exceptiontype_title}}</th>
            <th >{{resultTitle.documenttype_title}}</th>
            <th style="display:none">{{resultTitle.files_title}}</th>
            <th >{{resultTitle.status_title}}</th>
            <th >{{resultTitle.timeremaining_title}}</th>
            <th>{{resultTitle.operatorname_title}}</th> 
            <th>{{resultTitle.operatordate_title}}</th>
            <th>{{resultTitle.operation_title}}</th>
          </tr>
        </thead>
        <tbody>
          {{#if resultList}}
            {{#each resultList}}
            <tr data-id="{{this.ID}}">
            	<td>
                   {{this.BOL_ID}}
                </td>
                <td >
                    {{this.PALLET_ID}}
                </td>
                <td>
                    {{this.HAPPEN_LINK}}
                </td>
                <td>
                    {{this.EXCEPTION_TYPE}}
                </td>
                <td >
                    {{this.PALLET_TYPE}}
                </td>
                
                <td  style="display:none">
                    
                </td>
                <td >
                    {{this.STATUSNAME}}
                </td>
                
                <td >
                 	{{this.REMAININGDAY}}  
                </td>
                 <td >
                 	{{this.OPERATOR_NAME}}  
                </td>
                <td >
                 	{{this.OPERATOR_TIME}}  
                </td>
               
                <td >
                    <button type="button" name="detailException" {{#xif "this.STATUS==3"}}{{else}}disabled{{/xif}} title="Result" style="padding: 3px 7px;" class="btn btn-default" aria-label="Center Align"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>
                    <button type="button" name="dealwith" title="DealWith" {{#xif "this.STATUS!=3"}}{{else}}disabled{{/xif}} style="padding: 3px 7px;" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                    <button type="button" style="padding: 3px 7px;display:none" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                    <button type="button" title="Delete" name="delException" style="padding: 3px 7px;display:none" class="btn btn-default" {{#xif "this.STATUS!=3"}}{{else}}disabled{{/xif}} aria-label="Left Align"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
                </td>
            </tr> 
            {{/each}}
          {{else}}
	        <tr>
	            <td colspan="9" style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;">No Data.</td>
	        </tr>
	      {{/if}} 
        </tbody>
      </table>
      </div>
      <div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
        <ul id="pagination" class="clearfix pagebox">
        </ul>
    </div>
