<ul class="nav nav-tabs">
    <li class="active"><a href="#advanced_search" data-toggle="tab">Advanced Search</a></li>
    <li><a href="#common_tools" data-toggle="tab">Common Tools</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="advanced_search">
        <form class="form-horizontal">
            <div class="col-sm-3">
                <input type="email" class="form-control" id="search" placeholder="">
            </div>
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search
            </button>     
            <div class="btn-group"> 
                <button type="button" class="btn btn-warning">
                   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add
                </button>               
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
            </div>
        </form>
    </div>
    <div class="tab-pane active" id="common_tools"></div>   
</div>
