<div class="container">
    <div class="row row-dashboard" style="margin-top: 20px;">
        <div class="tab-content">
	        <div role="tabpanel" class="tab-pane active panel panel-default" id="update_supplier">
			  <div class="panel-body">
			    	<div class="col-md-2"></div>
			        <div class="col-md-7">
			            <form class="form-horizontal" name="update_supplier_from">
						    <div class="form-group">
							    <label for="supplier_id" class="col-sm-2 control-label">SupplierID</label>
							    <div class="col-sm-7">
							      	<input type="text" class="form-control input-length" id="supplier_id" name="supplier_id" placeholder="PHILIPS32PHF3056/T3">
							      	<div style="display:none">
										<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
										<span class="sr-only">(error)</span>
										<span class="help-block alert-error"></span>
									</div>
							    </div>
						    </div>
						    <div class="form-group">
							    <label for="supp_name" class="col-sm-2 control-label">Supplier Name</label>
							    <div class="col-sm-7">
							      	<input type="text" class="form-control input-length" id="supp_name" name="supp_name" placeholder="PHILIPS32PHF3056/T3">
							      	<div style="display:none">
										<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
										<span class="sr-only">(error)</span>
										<span class="help-block alert-error"></span>
									</div>
							    </div>
						    </div>
							<div class="form-group">
							    <label for="price" class="col-sm-2 control-label">Description</label>
							    <div class="col-sm-7">
							      <textarea class="form-control" rows="3" id="description" name="description"></textarea>
							    </div>
							</div>
							<div class="form-group">
								<div class="col-sm-2"></div>
							    <div class="col-sm-7">
							      <button type="button" class="btn btn-primary" name="submit" > Submit </button>
							    </div>
							</div>
						</form>
			        </div>
			        <div class="col-md-3">
			    	</div>
			  </div>
			  <div class="panel-footer">Panel footer</div>
			</div>
			</div>
		</div>
    </div>
</div>