<div data-example-id="bordered-table">
    <table class="table table-bordered table-striped table-hover product-list">
        <thead>
            <tr>
                <th style="width:25%;">Picture</th>
                <th style="width:35%;">Supplier</th>
                <th style="width:40%;">Log</th>
            </tr>
        </thead>
        <tbody>
            {{#each suppliers}}
            <tr style="height: 200px;" data-id="{{this.supp_id}}">          
                <td class="grid_items" id="a_{{this.supp_id}}">
                    <ul name="supplier_pic">
                        <li>
                            <div class="ch-item ch-img-1" 
                            {{#if this.cover}} 
                                style="background-image: url(/Sync10/_fileserv/file/{{this.cover}});"
                            {{/if}}>                           
                                <div class="ch-info">
                                    {{#each this.filecnt}}
                                    <p>{{this.name}}:{{this.cnt}}</p>
                                    {{/each}}
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="rb-overlay" style="z-index: 10;">
                        <span class="rb-close">close</span>
                        <div class="rb-title"></div> 
                        <div style="overflow: auto;" class="rb-product-info rb-week" id="supplier_pic_{{this.supp_id}}">
                            <!--supplier picture-->
                        </div>
                    </div>
                </td>
                <td class="grid_items" id="b_{{this.supp_id}}">
                    <ul name="supplier_update">
                        <li class="td_TRAILER" >
                            <fieldset class="TRAILER">
                                <legend class="td_legend">
                                    <span class="E_DLO_ID">{{this.supplier_id}}</span>
                                </legend>
                                <div class="fieldset_itme">
                                    <div class="fieldsetconte">
                                        <ul>
                                            <li>
                                                <span class="NUMBERTYPE">Supplier Name : </span>
                                                <span class="NUMBER">{{this.supp_name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </fieldset>
                        </li>
                    </ul>

                    <div class="rb-overlay">
                        <span class="rb-close">close</span>
                        <div class="rb-title"></div>
                        <div class="rb-product-info rb-week" id="supplier_update_{{this.supp_id}}">
                              <!-- supplier info -->
                        </div>
                    </div>
                </td>
                <td class="grid_items" id="c_{{this.supp_id}}">
                    <ul name="supplier_log">
                        <li class="td_TRACTOR">
                            
                        </li>
                    </ul>
                    <div class="rb-overlay">
                        <div class="rb-title"></div>
                        <span class="rb-close">close</span>
                        <div class="rb-product-info rb-week" id="supplier_log_{{this.supp_id}}">
                            <!-- log -->
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
    <ul id="pagination" class="pagebox">
    </ul>
</div>