<!-- upload photo modal -->
<div class="modal fade bs-example-modal-lg" id="upload_picture_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload File</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<!--delete photo modal-->
<div style="display:none;" id="alert_confirm_content">
    
    <div style="position: absolute;width:100%;height:100%;top:0;cursor:default;background-color: #000;opacity: .5;-webkit-border-radius: 5px;">
    </div>

    <div class="alert alert-dismissible fade in" role="alert" style="position: absolute;width:100%;top: 30%;;cursor:default;text-align: center;">
        
        <h4 style="color: white;">Confirm Delete?</h4>

            <div class="col-md-12">
                <button type="button" class="btn btn-warning btn-sm" name="yes" data-loading-text="Deleting..." style="margin-right: 5px;">YES</button>
                <button type="button" class="btn btn-default btn-sm" name="no" data-loading-text="NO">NO</button>
            </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" name="picture_tabs">
                <li class="active" data-class="2"><a href="#tab_pic_logo" data-toggle="tab">Logo</a></li>
           <!--     <li data-class="3"><a href="#tab_pic_other" data-toggle="tab">Other</a></li>-->
            </ul>
            <!-- Tab panes -->
            <div class="tab-content mb30">
                <div class="tab-pane active" id="tab_pic_logo">
                    <div class="row" style="margin-top: 10px;"> 
                        <div class="col-md-1">
                            <button type="button" class="btn btn-info" name="upload_picture_btn">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Photo
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" name="capture_picture_btn">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Capture Online
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        {{#each file_logo}}
                        <div class="col-md-2" style="margin-top: 20px;">
                            <div class="thumbnail" >
                                <div style="position: relative;">
                                    <div class="img-rel-block" data-fileid="{{this.file_id}}">
                                        <a class="various" rel="fancybox-thumb-sku" href="/Sync10/_fileserv/file/{{this.file_id}}">
                                            <img class="img-responsive" style="max-width:99%;max-height:99%;display:inline-block;" src="/Sync10/_fileserv/file/{{this.file_id}}" /><span style="display:inline-block;vertical-align: middle;height: 100%;width: 0;"></span>
                                        </a>
                                        <div style="position: absolute;top:0;right: 2px;">
                                            <button name="deletePicture" type="button" class="btn btn-default btn-sm" style="display: none;" aria-label="Left Align" data-fileid="{{this.file_id}}">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                            </button>
                                        </div>
                                        <div style="position: absolute;top:0;">
                                        {{#if this.file_cover}}
                                            <span class="label label-success">Cover</span>
                                        {{else}}
                                            <button name="coverPicture" type="button" class="btn btn-default btn-sm" style="display: none;" aria-label="Left Align" data-fileid="{{this.file_id}}" data-loading-text="Cover...">
                                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Make Cover
                                            </button>
                                        {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>