/**
#data fieldset
{
	min-width: 200px;
	border: 2px solid blue;
	line-height: 18px;
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 2px;
	width: 90%;
	word-break: break-all;
}
#data legend{font-size: 12px;width: auto;padding-left: 5px;padding-right: 5px;}

.form-label{width: 120px;padding-right: 5px;text-align: right;}

#data select{width: 180px;height: 30px; border-radius: 4px;border: 1px solid #ccc;}
**/


#global{min-width: 750px;}
#data .form-group{margin-bottom: 5px;margin-right: 0;margin-left: 0}
.opbar{float: right;margin-right: 20px;height: 40px;margin-top: 5px;}

/**表单字体不加粗**/
#data label{font-weight: 500;}

.opbar-title{position: relative;}
.opbar-buttons{position: absolute;z-index: 222;right: 10px;top: 3px}

/** **/
.label-group{margin-left: 20px;}

#palletBody{height: 370px;}
#palletDetail{height: 350px;overflow-y: scroll;overflow-x: hidden;margin-bottom: 5px; }
#palletsInfo{padding-top: 10px;}
.titlenamestyle{width: 120px;padding-right: 5px;text-align: right;margin-bottom: 10px;}
.titlevaluestyle{text-align: left;padding-right: 15px}

#global .block{margin-top: 10px}
#global .footer{border-top: 1px solid #ddd;height: 50px;margin-bottom: 0;padding-top: 5px;}

.namestyle{width: 90px;padding-right: 8px;text-align: right;float: left;margin-bottom: 10px;margin-left: 5px}
.valuestyle{text-align: left;}
/**
#preview{margin-top: 10px;height: 490px;overflow-y: scroll;overflow-x: hidden;} **/
#global .no-margin{margin: 0}
#address{padding-top: 5px;}
#previewLink{display: none}
.createBOL{cursor: pointer;text-decoration: none}

