<div class="row form-inline">
    <div class="form-group col-xs-3">
        <input type="hidden" id="soId" value="{{SO_ID}}"/>
	    <label for="shipFrom">{{soI18n.ShipFrom}}</label>
	    <input type="text" class="form-control" id="shipFrom" value="{{data.SHIPPER_WHS_NAME}}" data-val="{{data.SHIPPER_WHS_ID}}" readonly/>
    </div>
    <div class="form-group col-xs-3">
	    <label for="shipTo">{{soI18n.ShipTo}}</label>
        <div class="" style="display:inline">
	       <input type="text" class="form-control" id="shipTo" placeholder="To WHS" value="{{CONSIGNEE_WHS_NAME}}" data-val="{{CONSIGNEE_WHS_ID}}" >
           <span class="error" title="Please select ship to whs"></span>
        </div>  
    </div>
    <div class="form-group col-xs-3">
	    <label for="deadLine">{{soI18n.DeadLine}}</label>
         <div class="" style="display:inline">
	       <!-- <input type="text" class="form-control" id="deadLine" placeholder="DeadLine"
            value="{{formatDate DEADLINE}}"> -->
            <input type="text" class="form-control" id="deadLine" placeholder="DeadLine"
            value="{{DEADLINE}}">
            <span class="error" title="Please pick a time"></span>
        </div> 
    </div>
     <div class="form-group col-xs-3">
     	 <a title="Save basic info" class="tabel-tool-icon btn" href="javascript:void(0)" id="saveBasicInfoBtn"><i class="glyphicon glyphicon-ok" ></i></a>
	    <a title="Edit basic info" class="tabel-tool-icon btn" href="javascript:void(0)" id="editBasicInfoBtn"><i class="glyphicon glyphicon-cog"></i></a>
    </div>
 </div>