<table class="filter" >
	<tr>
		<td>
			<select >
				<option>转运仓库</option>
				{{#send_ps}}
    				<option value="{{this.key}}">{{this.name}}</option>
				{{/send_ps}}
			</select>
		</td>
		<td>
			<select >
				<option>目的仓库</option>
				{{#recive_ps}}
    				<option value="{{this.key}}">{{this.name}}</option>
				{{/recive_ps}}
			</select>
		</td>
		<td>
			<select >
				<option>货物状态</option>
				{{#product_state}}
    				<option value="{{this.key}}">{{this.name}}</option>
				{{/product_state}}
			</select>
		</td>
		<td>
			<select >
				<option>运费流程</option>
				{{#stock_in_set}}
    				<option value="{{this.key}}">{{this.name}}</option>
				{{/stock_in_set}}
			</select>
		</td>
		<td>
			<select >
				<option>选择部门</option>
				{{#stock_in_set}}
    				<option value="{{this.key}}">{{this.name}}</option>
				{{/stock_in_set}}
			</select>
		</td>
		<td>
			<select >
				<option>选择职员</option>
				{{#stock_in_set}}
    				<option value="{{this.key}}">{{this.name}}</option>
				{{/stock_in_set}}
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<select >
				<option>出口报关</option>
				{{#stock_in_set}}
    				<option value="{{this.key}}">{{this.name}}</option>
				{{/stock_in_set}}
			</select>
		</td>
		<td>
			<select >
				<option>进口清关</option>
				{{#stock_in_set}}
    				<option value="{{this.key}}">{{this.name}}</option>
				{{/stock_in_set}}
			</select>
		</td>
		<td>
			<select >
				<option>发票流程</option>
				{{#stock_in_set}}
    				<option value="{{this.key}}">{{this.name}}</option>
				{{/stock_in_set}}
			</select>
		</td>
		<td>
			<select >
				<option>退税流程</option>
				{{#stock_in_set}}
    				<option value="{{this.key}}">{{this.name}}</option>
				{{/stock_in_set}}
			</select>
		</td>
		<td>
			<button id="filter">filter</button>
		</td>
	</tr>
</table>