<table width="100%" height="61" border="0" cellpadding="0"cellspacing="0">
	<tr>
		<td width="30%" style="padding-top: 3px;">
			<div id="easy_search_father"> 
				<div id="easy_search">
					<img id="eso_search" src="./imgs/easy_search.gif" width="70" height="29" border="0" />  
				</div>
			</div>
				<table width="485" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="418">
							<div class="search_shadow_bg">
								<input name="search_key" type="text" class="search_input" style="font-size: 17px; font-family: Arial; color: #333333" id="search_key" />
							</div>
						</td>
						<td width="67"></td>
					</tr>
				</table> 
		</td>
		<td width="33%"></td>
		<td width="24%"></td>
	</tr>
</table>