/* 分页 */
#pagination {
  magin-top: 6px;
}

#pagination .Gotopage label input {
  height: 27px;
}

#pagination .Gotopage span {
  width: 30px;
  height: 27px;
  vertical-align: top;
}

.error{
  color: #FF0000;
  line-height: 34px;
  margin-bottom: 0px;
}

#display_type-error.error{
  line-height: 25px;
}

.center{
  width: 50% !important;
}

.vcenter{
  vertical-align: middle;	
}
.tcenter{
  text-align: center;
}

.right {
  float: right;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.search_result_list_header {
  width: 100%;
  height: 100%;
  border: 1px solid #bbbbbb;
  background: #e5e5e5;
}

.search_result_list_header th {
  height: 34px;
  border-right: 1px solid #bbbbbb;
  font-size: 14px;
  text-align: center;
}

.search_result_body {
  
}

.search_result_list_content {
  width: 100%;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.search_result_list_content tr {
  border-bottom: 1px solid #dddddd;
}

.search_result_list_content tr:nth-child(2n) {
  background: #f9f9f9;
}

.card-style {
  background-color: #79c3d2;
  color: #1f4c7a;
  background-color: #ffffff;
  border-color: #d9eef2;
  border-width: 2px;
  /* border-width: 1px; */
  border-style: dashed;
  /* padding: 15px; */
  margin: 15px 0;
  overflow: auto;
}

.item {
  margin-right: 17px;
  /* width: 207px;
  height: 207px; */
  width: 248px;
  height: 280px;
  margin-right: 17px;
  margin-top: 22px;
  float: left;
  border: 1px solid #ededed;
  -webkit-transition: border-color .2s;
  -moz-transition: border-color .2s;
  -o-transition: border-color .2s;
  transition: border-color .2s;
}

.item div:hover{
	backg-ground:blue;
}

.attr-box {
  width: 248px;
  height: 190px;
}

.attr-name {
  text-align: center;
  background-color: #f5f5f5;
  height: 34px;
  font-size: 24px;
  font-weight: bolder;
}

.attr-content {
  margin-top: 5px;
}

.attr-vbox {
  float: left;
  /* width: 66%; */
  width: 40%;
  line-height: 32px;
}

.lable {
  line-height: 32px !important;
  text-align: right;
}

.attr-box lable {
	width: 54.1%;
}

.ops-box {
  text-align: right;
  vertical-align: middle;
}

.ops-box:hover{
  display: block;
}

.cbtn {
  line-height: 13px;
  border-radius: 13px;
  background: #999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  
  padding: 0;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  
  float: right;  
  margin-top: -49px;
  margin-right: -5px;
  position: relative !important;
}

.cbtn_add {
  width: 13px;
  hight: 13px;
  margin-top: -41px;
  background:;
}

.nodata {
  text-align: center;
  line-height: 180px;
  height: 180px;
  background: #E6F3C5;
  border: 1px solid silver;
}

.gray { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  	
  filter: grayscale(100%);
  	
  filter: gray;
  opacity: 0.9;
  background-color: lightgray;
}

/* mod.css */
.fieldset {
  box-sizing: border-box;
  border: 2px red solid;
  padding: 7px;
  /* width: 90%; */
  word-break: break-all;
  line-height: 18px;
  min-height: 85px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.legend {
  color: green;
  font-weight: bold;
  /* text-decoration: underline; */
  cursor: pointer;
  width: inherit;
  margin-bottom: 5px;
  border:0;
}

.const-box {
  float: left;
  padding-left: 500px;
  margin-top: -102px;
}

.f-normal {
  font-weight: normal;
}