#pagebox .disable {
    color:#ccc;
    font-weight:bold;
    cursor: default;
}
#pagebox .select {
    color:#fff;
    font-weight:bold;
    cursor: default;
    background: #4183C4;
    border-color: #4183C4
}

/*--------------*/
#pagebox{list-style-type:none;padding: 0px;margin: 0px}
#pagebox .clearfix:after{content:"\0020";display:block;visibility:hidden;height:0;clear:both;}
#pagebox li{display: inline-block;margin:0px 3px;text-align:center;float: left;border: 1px solid #ccc;cursor: pointer;padding:3px 8px;}
#pagebox li:hover{background: #ccc;color: #fff}
/*#pagebox .prev,#pagebox .next*/
#pagebox .dosring{border-width: 0px}
#pagebox .dosring{cursor: default;}
#pagebox .Gotopage{margin:0px;border-width: 0px;padding:1px 0px 0px 0px;}
#pagebox .Gotopage label,#pagebox .Gotopage span{display: inline-block;vertical-align: middle;}
#pagebox .Gotopage label input{margin:0px;padding: 0px;width: 32px;height:22px;border: 1px solid #ccc;vertical-align: middle;}

#pagebox .Gotopage span{cursor: pointer;border-radius: 3px;width: 20px;height: 20px;line-height: 20px;text-align: center;margin-left: 4px;border: 1px solid #ccc;margin-top:-3px;}


#pagebox .select:hover{color:#fff;background: #4183C4;}
#pagebox .disable:hover{background: #fff;color: #ccc}
#pagebox .dosring:hover,#pagebox .Gotopage:hover{background: #fff;color: #000}