#worktable select{outline:none}
.filter {
	border: 0 0 0 0;
}
#worktable td{padding: 4px 4px}
#worktable button {margin:5px 5px}
.filter select, .filter button, #worktable .send_psid {
	width: 200px;
}