<table>
<tbody>
   
	    
    <tr>
        <th>office_name</th>
        <td>
            <input type="text" name="office_name" value="{{model.name}}" />
        </td>
            <input type="text" name="id" style="display:none" value="{{model.id}}" />
            <input type="text" name="parentid" 	style="display:none" value="{{model.pid}}" />
       
</tbody>
</table>