<table class="zebraTable">
    <tbody>
     	<div class="content_wrap" id="officeTree">
			<div class="zTreeDemoBackground left">
				<ul id="treeDemo" class="ztree"></ul>
			</div>	
		</div>
       
    	<div id="rMenu"> 
			<ul>
				<li id="m_add">增加节点</li>
				<li id="m_update">修改节点</li>
				<li id="m_del">删除节点</li>
			</ul>
		</div>
    </tbody>
</table>
