 <table class="zebraTable">
    <tbody>
  
        {{#each Address}}
         <tr data-id="{{this.id}}">
         <td id="id1">
		         	{{this.id}}</br>
		            {{this.office_name}}</br>
		            {{this.house_number}}</br>
					{{this.street}}</br>
					{{this.city}}</br>
					{{this.zip_code}}</br>
					{{this.provinces}}</br>
					{{this.nation}}</br>
					{{this.contact}}</br>
					{{this.phone}}</br>
			</td>	
			 
        </tr>
        <tr>
        <td data-id="{{this.id}}">
         <button id="button1">编辑</button>
        </td>
        </tr>
        
       
        {{/each}}
        
    </tbody>
   
</table>
		