﻿<div class="form-inline">
    <div class="form-group col-sm-4"> 
        <div class="input-group">
            <input id="selectOrderType" type="text" class="form-control immybox immybox_witharrow" style="margin-left: 1px !important;" autocomplete="off" placeholder="Order Type">
            <div class="input-group-addon">&nbsp;</div>
            <input id="inputOrder" style="margin-left:-1px !important;" type="text" class="form-control" readonly="true" autocomplete="off" placeholder="">
        </div>
    </div>
    <div class="form-group col-sm-4">
        <div class="input-group">
            <div class="input-group-addon">Appointment</div>
            <input id="inputAppointmentTime" type="text" class="form-control" autocomplete="off" placeholder="Appointment" />
        </div>
    </div>
    
    <div class="form-group col-sm-4">
        <div class="input-group">
            <div class="input-group-addon">SCAC<!-- Carrier --></div>
            <input id="inputCarrier" type="text" class="form-control immybox immybox_witharrow" autocomplete="off" placeholder="SCAC">
        </div>
    </div>

    <div class="form-group  col-sm-4">
        <div class="input-group">
            <div class="input-group-addon">HUB</div>
            <input id="searchFrom" type="text" class="form-control immybox immybox_witharrow" autocomplete="off" placeholder="HUB" >
        </div>
    </div>

    <div class="col-sm-3">
        <button type="submit" id="btnListSearch" class="btn btn-info">Search</button>
        <button id="btnReset" type="button" class="btn btn-default">Reset</button>
    </div>
</div>