﻿<div class="ui-app-type col-lg-12">
    <ul class="plugin-box">
        <li class="plugin-item" id="appType1tab">
            <div class="plugin-icon bgBlue"><i class="glyphicon glyphicon-time"></i></div>
            <div class="plugin-content">
                <div class="title">约车发货</div>
                <div class="desc">您需要填写收取货地址、填写卡车公司信息、关联单据</div>
            </div>
            <div class="plugin-status"><i class="glyphicon glyphicon-chevron-right"></i></div>
        </li>
        <li class="plugin-item" id="appType2tab">
            <div class="plugin-icon bgGreen"><i class="glyphicon glyphicon-check"></i></div>
            <div class="plugin-content">
                <div class="title">Receiving</div>
                <div class="desc">您需要填写卡车公司信息、关联单据</div>
            </div>
            <div class="plugin-status"><i class="glyphicon glyphicon-chevron-right"></i></div>
        </li>
        <li class="plugin-item" id="appType3tab">
            <div class="plugin-icon bgRed"><i class="glyphicon glyphicon-road"></i></div>
            <div class="plugin-content">
                <div class="title">Pick Up</div>
                <div class="desc">查询单据，并填写卡车公司信息、关联单据</div>
            </div>
            <div class="plugin-status"><i class="glyphicon glyphicon-chevron-right"></i></div>
        </li>
        <li class="plugin-item" id="appType4tab">
            <div class="plugin-icon bgRed"><i class="glyphicon glyphicon-inbox"></i></div>
            <div class="plugin-content">
                <div class="title">预约车头</div>
                <div class="desc">查询集装箱信息、填写卡车公司信息、关联单据</div>
            </div>
            <div class="plugin-status"><i class="glyphicon glyphicon-chevron-right"></i></div>
        </li>
        <li class="plugin-item" id="appType5tab">
            <div class="plugin-icon bgGreen"><i class="glyphicon glyphicon-tags"></i></div>
            <div class="plugin-content">
                <div class="title">第三方取件</div>
                <div class="desc">根据order预约第三方取件</div>
            </div>
            <div class="plugin-status"><i class="glyphicon glyphicon-chevron-right"></i></div>
        </li>
    </ul>
</div>