﻿<div class="box-panel bol-virtual-form col-sm-4 fadeInLeft animated">
    <div class="bol-title">
        <h3></h3>
        <div class="clear"></div>
    </div>
    <div class="bol-body form-horizontal" role="form">
        <div class="form-group">
            <!-- Carrier -->

<!--             <label class="col-sm-4 control-label">SCAC:</label>
            <div class="col-sm-8">
                <p class="form-control-static to"></p>
            </div> -->
            <label class="col-sm-4 control-label">Pallets/Packages<!-- 总托盘数/总包裹数 -->:</label>
            <div class="col-sm-8">
                <p class="form-control-static plateNum"></p>
            </div>
            <label class="col-sm-4 control-label" style="display:none;">Volume<!-- 总体积 -->:</label>
            <div class="col-sm-8"  style="display:none;">
                <p class="form-control-static volume"></p>
            </div>
            <label class="col-sm-4 control-label">Weight<!-- 总重量 -->:</label>
            <div class="col-sm-8">
                <p class="form-control-static weight"></p>
            </div>
        </div>
    </div>
</div>