﻿<div class="form-horizontal" role="form">
    <div class="form-group">
        <div class="">
            <label class="col-sm-2 control-label"><font class="important">*</font>HUB<!-- 预约仓库 --></label>
            <div class="col-sm-4">
                <input type="text" class="form-control immybox immybox_witharrow" id="inputAddWareHourse" placeholder="HUB">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label">Contacts</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddWareHourseLinkman" placeholder="Contacts">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddWareHourseTel" placeholder="Phone">
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>