﻿<div class="col-lg-12">
    <ul class="nav nav-tabs" role="tablist" id="tabsSelectOrder">
        <li role="presentation"><a href="#tabSelectLoad" role="tab" data-toggle="tab">Load&nbsp;<span class="badge loadBadge"></span></a></li>
        <li role="presentation"><a href="#tabSelectOrder" role="tab" data-toggle="tab">Order&nbsp;<span class="badge orderBadge"></span></a></li>
        <li class="hide" role="presentation"><a href="#tabPO" role="tab" data-toggle="tab">PO&nbsp;<span class="badge poBadge"></span></a></li>
        <li role="presentation"><a href="#tabSelectBOL" role="tab" data-toggle="tab">BOL&nbsp;<span class="badge bolBadge"></span></a></li>

    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="tabSelectLoad">
            <div id="tabSelectLoadList"></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tabSelectOrder">
            <div id="tabSelectOrderList"></div>
        </div>

        <div role="tabpanel" class="tab-pane hide" id="tabPO">
            <div id="tabPOList"></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tabSelectBOL">
            <div id="tabSelectBOLList"></div>
        </div>
    </div>
</div>