﻿<div class="form-inline margin10">
    <div class="form-group width200">
        <div class="input-group">
            <div class="input-group-addon">PO</div>
            <input id="searchPoNo" type="text" class="form-control" autocomplete="off" placeholder="PO">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" id="btnSearchPO" class="btn btn-info">Search</button>
    </div>
</div> 