﻿<div class="form-inline margin10">
    <div class="form-group width200">
        <div class="input-group">
            <div class="input-group-addon">Load NO.</div>
            <input id="searchLoadNo" type="text" class="form-control" autocomplete="off" placeholder="Load NO.">  
        </div> 
    </div> 

    <!--hyq has canceled code(2015-4-13)-->
    <!--
    <div class="form-group"> 
        <div class="input-group">
            <div class="input-group-addon">MABD</div>
            <input id="searchBeginLoadMABD" type="text" class="form-control" autocomplete="off" placeholder="Begin" style="width:150px;margin-right: -1px;" readonly="readonly">
            <span class="input-group-addon">~</span>
            <input id="searchEndLoadMABD" type="text" class="form-control" autocomplete="off" placeholder="End" style="width:150px;margin-left: -1px;" readonly="readonly">
        </div>
    </div>-->
    <div class="form-group">
        <button type="submit" id="btnSearchLoad" class="btn btn-info">Search</button>
    </div>
</div>