 <div class="form-inline margin10">
    <div class="form-group width200">
        <div class="input-group">
            <div class="input-group-addon">BOL NO.</div>
            <input id="searchBOLNo" type="text" class="form-control" autocomplete="off" placeholder="BOL NO.">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" id="btnSearchBOL" class="btn btn-info">Search</button>
    </div>
</div>