	  		<div id="menu" class="dialog_update_content">
		  		<form id="menuForm" method="post" >
		  			<table>
			            <tr>
			                <td>
			                    <b class="require_property">*</b>
			                    <span>Title</span>
			                </td>
			                <td>&nbsp;</td>
			            </tr>
			            <tr>
			                <td>
			                    <input type="text" class="input_text_password_select" name="title" id="title" maxlength="50" />
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>
			            <tr>
			                <td>
			                    <span>Uri</span>
			                </td>
			                <td>&nbsp;</td>
			            </tr>
			            <tr>
			                <td>
			                    <input type="text" class="input_text_password_select" name="link" id="link" />
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>				            
			            <tr>
			                <td>
			                    <span>Type</span>
			                </td>
			                <td>&nbsp;</td>
			            </tr>
			            <tr>
			                <td>
									<input type="radio" name="application_type" value="1" checked="true">Web &nbsp;
					  	  		    <input type="radio" name="application_type" value="2" >App
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>				            					  	  				  	  
		  			</table>
				</form>   
			</div> 