	  		<div id="menu" class="dialog_update_content">
		  		<form id="menuForm" method="post" >
		  			<input type="hidden" name="id" id="id" value="{{id}}"/>
		  			<table>
			            <tr>
			                <td>
			                    <b class="require_property">*</b>
			                    <span>Title</span>
			                </td>
			                <td>&nbsp;</td>
			            </tr>
			            <tr>
			                <td>
			                    <input type="text" class="input_text_password_select" name="title" id="title" value="{{text}}" maxlength="50" />
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>
			            <tr>
			                <td>
			                    <span>Uri</span>
			                </td>
			                <td>&nbsp;</td>
			            </tr>
			            <tr>
			                <td>
			                    <input type="text" class="input_text_password_select" name="link" id="link" value="{{link}}" />
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>				            
		  			</table>
				</form>   
			</div> 			