	  	<div id="resource" class="dialog_update_content">
	  		<form id="resourceForm" method="post" >
	  				<input type="hidden" name="page" id="page" value="{{page}}" />
		  			<table>
			            <tr>
			                <td>
			                    <b class="require_property">*</b>
			                    <span>Description</span>
			                </td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>
			                    <input type="text" class="input_text_password_select" name="description" id="description" value="{{description}}" maxlength="50" />
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>
			            <tr>
			                <td>
			                    <span>Action</span>
			                </td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>
			                    <input type="text" class="input_text_password_select"  name="action" id="action" value="{{action}}" />
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>	
			            <tr>
			                <td>
			                    <b class="require_property">*</b>
			                    <span>Uri</span>
			                </td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>
			                    <input type="text" class="input_text_password_select" name="url" id="url" value="{{url}}"/>
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>	
			            		            
			            <tr>
			                <td>
			                    <b class="require_property">*</b>
			                    <span>Method</span>
			                </td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>
								<select name="method" id="method">
									<option value="">Please Select</option>
									<option value="GET">GET</option>
									<option value="POST">POST</option>
									<option value="PUT">PUT</option>
									<option value="DELETE">DELETE</option>	
								</select>		
			                </td>
			                <td class="status validator_style"></td>
			            </tr>	
		  			</table>				  
			</form>   
		 </div> 		 
		 