	  	<div id="resource" class="dialog_update_content">
	  		<form id="resourceForm" method="post" >
		  			<table>
			            <tr>
			                <td>
			                    <b class="require_property">*</b>
			                    <span>Description</span>
			                </td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>
			                    <input type="text" class="input_text_password_select" name="description" id="description" maxlength="50" />
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>
			            <tr>
			                <td>
			                    <span>Action</span>
			                </td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>
			                    <input type="text" class="input_text_password_select" name="action" id="action" />
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>	
			            <tr>
			                <td>
			                    <b class="require_property">*</b>
			                    <span>Uri</span>
			                </td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>
			                    <input type="text" class="input_text_password_select" name="url" id="url" />
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>	
			            		            
			            <tr>
			                <td>
			                    <b class="require_property">*</b>
			                    <span>Method</span>
			                </td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>
								<select name="method" id="method">
									<option value="">Please Select</option>
									<option value="GET">GET</option>
									<option value="POST">POST</option>
									<option value="PUT">PUT</option>
									<option value="DELETE">DELETE</option>	
								</select>		
			                </td>
			                <td class="status validator_style"></td>
			            </tr>	

			            <tr>
			                <td>
			                    <span>Authorization</span>
			                </td>
			                <td></td>
			            </tr>
			            <tr>
			                <td>
								<input type="radio" name="auth"  value="1">Required  &nbsp;
								<input type="radio" name="auth" value="0" checked="true"/> Not Required
			                </td>
			                <td class="status validator_style">&nbsp;</td>
			            </tr>	
		  			</table>				  
			</form>   
		 </div> 