<div class="search_result_list">
    <div>
        <table class="search_result_list_header" cellspacing="0">
            <tr>
                <th width="330px">Role Name</th>
                <th width="330px">Default Home</th>
                <th width="460px">Description</th>
                <th width="200px" style="border-right:0px;">
                    Operation
                </th>
            </tr>
        </table>

        <table class="search_result_list_content" cellspacing="0">
          {{#if resultList}}
            {{#each resultList}}
            <tr data-adgid="{{this.adgid}}">
                <td valign="middle" width="330px">
                    {{this.name}}
                </td>
                <td valign="middle" width="330px">
                    {{this.index_page}}
                </td>
                <td valign="middle" width="460px">
                    {{this.description}}
                </td>
                <td valign="middle" width="200px" style="text-align: center">
                    <a href="javascript:void(0)" name="setPermission" class="buttons icon settings" style="margin-left: 1px;" title="Config"></a>
                    <a href="javascript:void(0)" name="modRole" class="buttons icon edit" style="margin-left: 1px;" title="Edit"></a>
                    <a href="javascript:void(0)" name="delRole" class="buttons icon remove" style="margin-left: 1px;" title="Delete"></a>
                    <a href="javascript:void(0)" name="relationRole" class="buttons icon user" style="margin-left: 1px;" title="Relation"></a>
                </td>
            </tr>
            {{/each}}
          {{else}}
	        <tr>
	            <td style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;">No Data.</td>
	        </tr>
	      {{/if}}  
        </table>
    </div>

    <div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
        <ul id="pagination" class="clearfix pagebox">
        </ul>
    </div>
</div>