<ul class="nav nav-tabs" role="tablist" id="tabbody">
	<li role="presentation">
		<a id="tprv" aria-controls="home" role="tab" data-toggle="tab">&nbsp;&lt;&nbsp;</a>
	</li>
	<li role="presentation" class="active">
		<a href="#home" aria-controls="home" role="tab" data-toggle="tab">&nbsp;Week&nbsp;</a>
	</li>
	<li role="presentation">
		<a id="tnext" aria-controls="home" role="tab" data-toggle="tab">&nbsp;&gt;&nbsp;</a>
	</li>
	<li role="presentation" style="float:right">
		<a id="tsetup" href="#setup1" aria-controls="setup1" role="tab" data-toggle="tab">Setup</a>
	</li>
</ul>
<div class="tab-content" style="margin-top:10px;">
	<div role="tabpanel" class="tab-pane active" id="home">
	
	</div>
	<div role="tabpanel" class="tab-pane" id="setup1">
		
	</div>
</div>