<div class="header">
	<div class="form-group content">
		<div class="input-group">
			<div class="input-group-addon" style="width:20%;" id="titleHub">Hub</div>
			<input type="text" class="form-control immybox immybox_witharrow" autocomplete="off" placeholder="Select Hub" data-value="1000005" id="shipFrom"/>
		</div>
	</div>
</div>