<div class="form-inline pageContainer" id="clearSp">
	<!--头部开始-->
	<div class="header">
		<div class="title"></div>
		<div class="form-group content"> 
			<div class="input-group disabled">
				<div class="input-group-addon startDate">Start Date</div>
				<input type="text" class="form-control" autocomplete="off" placeholder="Select Date" id="selectStartDate" title="Select Date"/>
			</div>
			<div class="input-group disabled" style="margin-left:40px;">
				<div class="input-group-addon endDate">End Date</div>
				<input type="text" class="form-control" autocomplete="off" placeholder="Select Date" id="selectEndDate" title="Select Date"/>
			</div>
			<div class="input-group" id="lastGroup" style="">
				<span style="" id="default">Repeat</span>
				<div class="onoffswitch" style="">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
					<label class="onoffswitch-label" for="myonoffswitch">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<!--头部结束-->

	<!--主体部分开始-->
	<div class="main_body">
		<div class="" style="">
			<ul class="dates">
				<li class="ckbox ckbox-success all">
					<input type="checkbox" id="all" />
					<label for="all" title="Please select" >ALL</label>
				</li>
				<li class="ckbox ckbox-success" data-value="0" style="border-right:none;">
					<input type="checkbox" data-value="0" id="sun" />
					<label for="sun" title="Please select" >Sun</label>
				</li>
				<li class="ckbox ckbox-success" data-value="1">
					<input type="checkbox"  data-value="1" id="mon"/>
					<label for="mon" title="Please select" >Mon</label>
				</li>
				<li class="ckbox ckbox-success" data-value="2">
					<input type="checkbox" data-value="2" id="tue"/>
					<label for="tue" title="Please select" >Tue</label>
				</li>
				<li class="ckbox ckbox-success" data-value="3">
					<input type="checkbox" data-value="3" id="wed" />
					<label for="wed" title="Please select" >Wed</label>
				</li>
				<li class="ckbox ckbox-success" data-value="4">
					<input type="checkbox" data-value="4" id="thu" />
					<label for="thu" title="Please select" >Thu</label>
				</li>
				<li class="ckbox ckbox-success" data-value="5">
					<input type="checkbox" data-value="5" id="fri" />
					<label for="fri" title="Please select" >Fri</label>
				</li>
				<li class="ckbox ckbox-success" data-value="6">
					<input type="checkbox" data-value="6" id="sat" />
					<label for="sat" title="Please select" >Sat</label>
				</li>
			</ul>
		</div>
		<div class="hours container" id="intTime">
			<div class="hourCondition" style="border-bottom: 1px solid #eee;">
				<div class="row">
					<div class="col-sm-3 form-group setTimes">
						<div class="input-group">
							<input type="number" class="form-control" min="0" max="23" id="setStartTime" value="00" placeholder="Time" title="Please input time"/>
							<span class="input-group-addon">~</span>
							<input type="number" class="form-control" id="setEndTime" max="23" min="0" value="23" placeholder="Time" title="Please input time"/>
						</div>
					</div>
					<div id="checkboxButtons" class="col-sm-3 btn-group checkboxButton" data-toggle="buttons">
						<label class="btn btn-primary1" name="inbound">Inbound</label>
						<label class="btn btn-primary1" name="outbound">Outbound</label>
					</div>
					<div class="form-group col-sm-3">
						<div class="input-group setallinputgroup">
							<input class="form-control" min="0" type="number" id="allvalue" placeholder="Value" title="Please input value">
							<div class="input-group-btn set">
								<button id="setAll" class="btn btn-default" style="background-color:#DDD">&nbsp;Set&nbsp;Selected&nbsp;</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="initHour" id="initHour" >
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time0"/>
							<label for="time0">00:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="00" class="inboundInput"/>
							<input type="number" name="00" class="outboundInput"/>
						</div>
					</div> 
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time1"/>
							<label for="time1">01:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="01" class="inboundInput"/>
							<input type="number" name="01" class="outboundInput"/>
						</div>
					</div> 
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time2"/>
							<label for="time2">02:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="02" class="inboundInput"/>
							<input type="number" name="02" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time3"/>
							<label for="time3">03:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="03" class="inboundInput"/>
							<input type="number" name="03" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time4"/>
							<label for="time4">04:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="04" class="inboundInput"/>
							<input type="number" name="04" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time5"/>
							<label for="time5">05:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="05" class="inboundInput"/>
							<input type="number" name="05" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time6"/>
							<label for="time6">06:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="06" class="inboundInput"/>
							<input type="number" name="06" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time7"/>
							<label for="time7">07:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="07" class="inboundInput"/>
							<input type="number" name="07" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time8"/>
							<label for="time8">08:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="08" class="inboundInput"/>
							<input type="number" name="08" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time9"/>
							<label for="time9">09:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="09" class="inboundInput"/>
							<input type="number" name="09" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time10"/>
							<label for="time10">10:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="10" class="inboundInput"/>
							<input type="number" name="10" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time11"/>
							<label for="time11">11:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="11" class="inboundInput"/>
							<input type="number" name="11" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time12"/>
							<label for="time12">12:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="12" class="inboundInput"/>
							<input type="number" name="12" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time13"/>
							<label for="time13">13:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="13" class="inboundInput"/>
							<input type="number" name="13" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time14"/>
							<label for="time14">14:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="14" class="inboundInput"/>
							<input type="number" name="14" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time15"/>
							<label for="time15">15:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="15" class="inboundInput"/>
							<input type="number" name="15" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time16"/>
							<label for="time16">16:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="16" class="inboundInput"/>
							<input type="number" name="16" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time17"/>
							<label for="time17">17:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="17" class="inboundInput"/>
							<input type="number" name="17" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time18"/>
							<label for="time18">18:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="18" class="inboundInput"/>
							<input type="number" name="18" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time19"/>
							<label for="time19">19:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="19" class="inboundInput"/>
							<input type="number" name="19" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time20"/>
							<label for="time20">20:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="20" class="inboundInput"/>
							<input type="number" name="20" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time21"/>
							<label for="time21">21:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="21" class="inboundInput"/>
							<input type="number" name="21" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time22"/>
							<label for="time22">22:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="22" class="inboundInput"/>
							<input type="number" name="22" class="outboundInput"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="ckbox ckbox-success labelInput f_left">
							<input type="checkbox" id="time23"/>
							<label for="time23">23:00</label>
						</div>
						<div class="f_left"> 
							<input type="number" name="23" class="inboundInput"/>
							<input type="number" name="23" class="outboundInput"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--主体内容结束-->
	<!--尾部开始-->
	<div class="footer">
		<a id="save" class="btn btn-primary pull-right">Save</a>
	</div>
	<!--尾部结束-->
</div>