﻿input[type='date'] {width:150px !important;}
.container { width:1240px;}
.checkin_box { min-width:0 !important;}
.important { color:#ff0000; padding-right:5px;}
.clear { clear:both;}
.content-tab-pane {border: 1px solid #ddd;margin-top: -1px; }
.ui-app-type {margin: 10px 0 15px;}
.save-handle { margin:15px 0 15px;}
.margin10 { margin:10px 0;}
.minWith350 { width:350px !important;}
input[readonly="readonly"] {background-color:#fff !important;}

/*.nav-tabs > li > a:hover, .nav-tabs > li > a:hover {border-top: 2px solid #5bd852;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border-top: 2px solid #5bd852;}*/
    

.ui-app-type li {float:left;list-style:none; width:45%;}
.plugin-box .plugin-item {position: relative;display: block;overflow: hidden;margin-right: 24px;margin-bottom: 24px;color: #222;height: 92px;padding-left: 94px;border: 1px solid #e7e7eb;}
.plugin-box .plugin-item:hover { background-color:#e5e5e5; cursor:pointer;}
.plugin-box .plugin-item .plugin-icon {position: absolute;width: 92px;height: 92px;top: 0;left: 0;text-align: center;line-height: 92px; vertical-align:middle;}
.plugin-box .plugin-item .plugin-icon i { font-size:2.3em; color:#fff;margin-top: 25px;}
.plugin-box .plugin-content { margin-left:20px;}
.plugin-box .plugin-status {position: absolute;right: 10px;top: 40px;color: #B8B8B8;}
.plugin-box .plugin-item .title {margin-top: 10px;margin-bottom: 4px;width: 216px;font-size: 14px;font-weight: 400;font-style: normal;}
.plugin-box .plugin-item .desc {color: #8d8d8d;font-size: 12px;line-height: 24px;width: 238px;}

.bgBlue {background-color:#85AECC;}
.bgGreen {background-color:#76CAC3;}
.bgRed { background-color:#EEA97F;}

/**
    *搜索
*/
#searchAppiontmentTab .form-group,#searchAdvancedTab .form-group ,#searchAdvancedTab button[type="submit"] { margin:10px 0 0;}
#searchAppiontmentTab button[type="button"], #searchAdvancedTab button[type="submit"] { margin-bottom:10px;}
#searchAppiontmentTab input[type="text"] { width:400px;}
#searchAdvancedTab .btn-group .active {background-color:#5bc0de; color:#fff;}
.quick-create { width:290px;padding:10px !important;right: 0 !important;left: inherit !important;}

/**
    *右侧预警提示.
*/
.rightWarning {position: fixed;right: 0;top:200px;}
.rightWarning ul {list-style:none;}
.rightWarning ul li { width:35px; color:#fff;text-align:center;font-size:1.2em; line-height:30px;margin-bottom:2px;cursor:pointer;}
.rightWarning ul li:first-child { background-color:#ff0000;}
.rightWarning ul li:last-child { background-color:#f57f31;}

/**
    *右侧滑出
*/
.slide-container {border:4px solid #31b0d5; border-right:0;}
.ifrm { /*background-color:#e7e8eb;*/}
#addAppionmentBox { background-color:#fff; border:1px solid #d9dadc;margin:55px 20px 20px 20px; position:relative;}
.addAppiontmentSave { margin:10px 10px 10px 0;float: right;}
.min-width { width:350px !important;}
.createTitle {background-color: #fff;line-height: 50px;width: 100%;position: fixed;top: 0;padding-left: 30px;z-index: 100;font-size: 1.2em;}
.quick-search {position: absolute;top: -3px;right: 50px;}
.quick-search input[type="text"] { font-weight:100;}
/**
    *块状
*/
.info-box {width:100%;}
.info-box .info-title { line-height:40px;  background-color:#B1AFFC;font-size:1.2em; color:#fff; font-weight:800; position:relative;}
.info-box .info-title .title{ margin-left:20px;}
.info-box .info-title .handle{ margin-right:20px; cursor:pointer;}
.info-box .info-body { padding:10px;}

/**
    *车辆管理.
*/
.cntr-container{ border:1px solid #D7D7D7; padding:15px;}
.cntr-container .carrier-close { text-align:right; margin:-8px 0 -15px; font-size:1.5em;}
.cntr-body{ }
.cntr-body .cntr-add,.bol-body .bol-add { float:left;line-height:1.5em; border:2px solid #31b0d5;background-color: #FCFCFC; color:#31b0d5; font-size:1.2em;cursor:pointer;padding: 10px;}
.cntr-body .cntr-close { text-align:right;}
.cntr-body .cntr-virtual-form{ border:1px dashed #A8A8A8; background-color:#fff8a9; padding:10px;margin-right: 25px;margin-bottom: 20px; }
.cntr-body .cntr-real-form {border:1px solid #A8A8A8; margin-top:-1px; background-color:#FDFDFD; padding:10px;}
.add-carrier { margin-left:10px;}

/**
    *BOL管理
*/
.bol-body {/*margin-top: 15px;*/}
.bol-virtual-form {margin-bottom: 15px !important; padding-left:0 !important;}
.bol-virtual-form .bol-title {border:1px solid #d4d4d4;background-color:#ededed;}
.bol-virtual-form .bol-title h3 {font-size:1.2em; margin-left:10px;font-weight:700;}
.bol-virtual-form .bol-title h3 a{ margin-left:5px; font-size :0.9em; font-weight:100;}
.bol-virtual-form .bol-title .bol-close { margin-top:15px; margin-right:10px;}
.bol-virtual-form .bol-body { border:1px solid #d4d4d4; margin-top:-2px; background-color:#fff;}


/**
    *table样式
*/
.td_Appiontment fieldset{min-width: 300px;border-color:#008000;-webkit-border-radius:3px;border-radius:3px;}
.td_Appiontment .deliverystyle{color:#008000}


