/* 全局样式 */
body {
	font-size: 12px;
	font-family: Verdana,Geneva,sans-serif;
	color: #333333;
}


/* 列表容器 */
#excellList {
	width: 98%;
	margin: 20px auto;	
}

table#uploadExcel tr th{
	text-align: center;
}

table#uploadExcel tr td{
	text-align: center;
}




