#addAppionmentBox{
	width:75%;height:auto;border:1px solid #d9dadc;position:relative;border-radius: 4px;
}
#hubDiv .title,#buttonDiv .title,#calendarDiv .title{
	height:40px;line-height:40px;background:#f4f5f9;padding-left:20px;font-weight:bold;border-top:1px solid #d9dadc;
}
#hubDiv .content,#buttonDiv .content,#calendarDiv .content{
	padding-left:40px;padding-top:14px;padding-bottom: 14px;
}
#buttonDiv .content{
	padding-left: 30px;
}
.aStyle{text-align:center;border-radius:4px;}
.aStyle:link{display: inline-block;text-decoration: none;width: 80px;line-height: 35px;height: 35px;margin: 0px 10px;border:1px solid #ccc;}
.aStyle:hover{background: #e6e6e6}
.aStyle:active{background: #ccc;}
.aStyle:visited{background: #fff000,color:white;}
.active:hover,.active:active,.active:visited,.active:link{/*background:#5bc0de*/background:#337ab7;}
.active:link{color:white;}
#calendar{width:400px;}
#calendar,#calendarTime{display:inline-block;}
#calendarTime{border:1px solid #ccc;margin-left:50px;}
/*#calendarTime td{text-align: center;}*/

#calendar .table-condensed tbody td{border-collapse:separate};