<table class="basicTable">
	<tr>
		<td>
			<span class="nameClass">运单号:</span>
			<span class="valueClass">{{transportDetail.TRANSPORT_ID}}</span>
		</td>
		<td>
			<span class="nameClass">TITLE:</span>
			<span class="valueClass">{{transportDetail.TRANSPORT_ID}}</span>
		</td>
		<td>
			<span class="nameClass">货物状态:</span>
			<span class="valueClass">{{transportDetail.TRANSPORT_ID}}</span>
		</td>
	</tr>
</table>
<table class="basicInfoTable" id="basicInfoTable">
	<tr>
		<td >
			<fieldset>
				<legend>运单基础信息</legend>
				<ul>
					<li>
						<span class="nameClass">运单号:</span>
						<span class="valueClass">{{transportDetail.TRANSPORT_ID}}</span>
					</li>
					<li>
						<span class="nameClass">TITLE:</span>
						<span class="valueClass">{{transportDetail.TITLE_NAME}}</span>
					</li>
					<li>
						<span class="nameClass">创建人:</span>
						<span class="valueClass">{{transportDetail.CREATE_ACCOUNT}}</span>
					</li>
					<li>
						<span class="nameClass">创建时间:</span>
						<span class="valueClass">{{transportDetail.TITLE_NAME}}</span>
					</li>
					<li>
						<span class="nameClass">ETD:</span>
						<span class="valueClass">{{transportDetail.ETD}}</span>
					</li>
					<li>
						<span class="nameClass">允许装箱:</span>
						<span class="valueClass">{{transportDetail.TITLE_NAME}}</span>
					</li>
				</ul>
			</fieldset>
		</td>
		<td >
			<fieldset>
				<legend>运输基础信息</legend>
				<ul>
					<li>
						<span class="nameClass">货物状态:</span>
						<span class="valueClass">{{transportDetail.TRANSPORT_ID}}</span>
					</li>
					<li>
						<span class="nameClass">出口报关:</span>
						<span class="valueClass">{{transportDetail.TITLE_NAME}}</span>
					</li>
					<li>
						<span class="nameClass">进口清关:</span>
						<span class="valueClass">{{transportDetail.CREATE_ACCOUNT}}</span>
					</li>
					<li>
						<span class="nameClass">运费状态:</span>
						<span class="valueClass">{{transportDetail.TITLE_NAME}}</span>
					</li>
				</ul>
			</fieldset>
		</td>
		<td >
			<fieldset>
				<legend>流程基础信息</legend>
				<ul>
					<li>
						<span class="nameClass">制签流程:</span>
						<span class="valueClass">{{transportDetail.TRANSPORT_ID}}</span>
					</li>
					<li>
						<span class="nameClass">第三方标签:</span>
						<span class="valueClass">{{transportDetail.TITLE_NAME}}</span>
					</li>
					<li>
						<span class="nameClass">实物图片:</span>
						<span class="valueClass">{{transportDetail.CREATE_ACCOUNT}}</span>
					</li>
					<li>
						<span class="nameClass">质检流程:</span>
						<span class="valueClass">{{transportDetail.TITLE_NAME}}</span>
					</li>
					<li>
						<span class="nameClass">单证流程:</span>
						<span class="valueClass">{{transportDetail.TITLE_NAME}}</span>
					</li>
				</ul>
			</fieldset>
		</td>
	</tr>
</table>