/*index.html样式*/
/*内容容器样式*/
.pageContainer{width:100%;height:auto;margin:auto;padding:10px;padding-bottom:60px;}
.pageContainer{
    background:#efefef;
}
#selectALL{background:#eee;}
.header{margin-left:30px;}
/*开关样式*/
.onoffswitch,.onoffswitch1 {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch{
    dispaly:inline-block;float:left;margin-left:25px;
}
.onoffswitch1{
    dispaly:inline-block;float:left;margin-left:16px;
}
.onoffswitch-checkbox,.onoffswitch-checkbox1 {
    display: none;
}
.onoffswitch-label {
    border: 1px solid #999;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    overflow: hidden;height:34px;margin-top:2px;
}
.onoffswitch-label1{
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    height:34px;
}
.onoffswitch-inner,.onoffswitch-inner1 {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,.onoffswitch-inner1:before, .onoffswitch-inner:after,.onoffswitch-inner1:after {
    display: block; float: left; width: 50%; height: 34px; padding: 0; line-height: 34px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner1:after {

}
.onoffswitch-inner:before {
   
    background-color: #59E076;
    color: #ffffff;
    content: "On";
    padding-left: 10px;
}
.onoffswitch-inner1:before{
    background-color: #59E076;
    color: #ffffff;
    content: "In";
    padding-left: 20px;
}
.onoffswitch-inner:after {
    
    background-color: #c9c9c9;
    color: white;
    content: "Off";
    padding-right: 10px;
    text-align: right;
}
.onoffswitch-inner1:after{
    /*background-color: #c9c9c9;*/
    background:#1479fb;
    color: white;
    content: "Out";
    padding-right: 20px;
    text-align: right;
    font-weight: normal;
}
.onoffswitch-switch,.onoffswitch-switch1 {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #999999;
    border-radius: 4px;
    bottom: 0;
    display: block;
    height: 34px;
    position: absolute;
    right: 60px;
    top: 0;
    transition: all 0.3s ease-in 0s;
    width: 30px;
}
.onoffswitch-switch{margin-top:2px;}
.onoffswitch-switch1{border:1px solid #ccc;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner,.onoffswitch-checkbox1:checked + .onoffswitch-label1 .onoffswitch-inner1 {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch,.onoffswitch-checkbox1:checked + .onoffswitch-label1 .onoffswitch-switch1 {
    right: 0px; 
}
.hourCondition{margin-bottom: 10px;}
#lastGroup{
    /*background:#c6c6c6;*/background:#ccc;color:white;border-radius:6px;width:172px;height:37px;line-height:37px;display:inline-block;margin-left:30px;
}
#lastGroup span{color:white;}
#default{padding-left:10px;float:left;color:grey;}
/*.dates{
    border-top:1px solid #7396B5;border-bottom:1px solid #7396B5;width:100%;height:40px;line-height:40px;margin-top:40px;
}
ul li{
    height:38px;line-height:38px;list-style: none;display: inline-block;width:12%;border-right:1px solid #7396B5;text-align: center;color:#1479fb;font-weight: bold;
}*/
.dates{
    width:100%;height:40px;line-height:40px;margin-top:40px;
}
.pageContainer ul li{
    margin-left: -5px;border:1px solid #7396B5;height:40px;line-height:40px;list-style: none;display: inline-block;width:12%;border-right:1px solid #7396B5;text-align: center;color:#1479fb;font-weight: bold;
}
#clearSp .hours{
    background:white;border-top:2px solid #6D88A8;margin-top:20px;
	padding:10px;position:relative;
}
#clearSp .hours .form-group{
    margin-bottom: 10px;width:24%;
}
/*.hours .form-group input[type="number"]{
    width:50%;float:left;
}*/
/*尾部样式*/
.footer{
    clear:both;margin-top:15px;text-align:right;margin-right:50px;
}
/*
.footer a{
    text-decoration: none;
    background:#478dcd;display:inline-block;width:150px;margin:auto;height:35px;line-height:35px;color:white;border-radius:6px;text-align:center;margin-bottom:30px;
}
*/
/*.setup:hover{
    text-decoration: none;color:white;cursor: pointer;margin-bottom: 30px;
}
.setup{float:right;}*/
.footer a:hover{cursor: pointer;text-decoration: none;color:white;}
.dates .ckbox label:before{
    position: absolute;
    top: 15px;
    left: 3px;
}
.header .content .input-group-addon{color:grey;}
.startDate,.endDate{background:white;}
/*#clearSp .header .form-control{color:black;}*/
.initHour .ckbox label:before{position: absolute;top:8px;left:6px;}
.ckbox input[type="checkbox"]:checked + label:after{font-family: 'FontAwesome';
    content: "\F00C";
    position: absolute;
    top: 1px;
    left: 9px;
    display: inline-block;
    font-size: 11px;
    width: 16px;
    height: 16px;
    color: #fff;
}
.setTimes{margin-left: 0px;}
.setTimes span{margin-left: 5px;margin-right: 5px;}
#setStartTime,#setEndTime{width:73px;text-align: center;}
/*#setStartTime,#setEndTime{border-radius:4px;border-left:1px solid #ccc;}*/
.initHour .outboundInput,.hourCondition .setinboundInput{
    text-align:center;margin-left: -5px;width:52px;height:34px;border:1px solid #ccc;border-top-right-radius:4px;border-bottom-right-radius:4px;}
.initHour .inboundInput,.hourCondition .setoutboundInput{
    text-align:center;width:52px;height:34px;border:1px solid #ccc;border-left:none;}
.f_left{float:left;}
.labelInput{float:left;width:77px;height:34px;line-height:34px;background:#eee;border-radius:4px;border:1px solid #ccc;color:#555;border-top-right-radius:0px;border-bottom-right-radius:0px;font-weight: normal;}
.labelInput label{font-weight: normal;}
#allvalue{text-align: center;}
.dates .ckbox label:before {
    position: absolute;
    top: 11px;
    left: 30px;
}
.dates .ckbox input[type="checkbox"]:checked + label:after {
    font-family: 'FontAwesome';
    content: "\F00C";
    position: absolute;
    top: 1px;
    left: 31px;
    display: inline-block;
    font-size: 11px;
    width: 16px;
    height: 16px;
    color: #fff;
}


/*index1.html样式*/
.timeTable .form-group{
    position: relative;
}
.timeTable{
    width:99%;padding:20px;
}
.timeTable table{border-collapse:inherit;border:1px solid #ccc;width:100%;}   /*覆盖bootstrap.css中border-collapse:collapse;*/
.timeTable .main_body table th{
    background:#E3E2E7;
    color:#5A9DFF;
    height:30px;
    line-height:30px;
    border:1px solid #ccc;
    text-align: center;
}
.timeTable .main_body table td{
    width:80px;
    height:15px;
    line-height:15px;
    text-align:center;
    border:1px solid #ccc;
    color:#59E076;
    /*border:1px solid #ececec;*/
}
.timeTable .main_body .clickStyle{     /*表头点击中样式*/
    color:#2EB44D;
    background:#F2F4F4;
    border:1px solid #5C8BA6;
}
.timeTable .main_body .selectCols{
    /*border-left:1px solid #5FB1D6;
    border-right:1px solid #5FB1D6;*/
    border-left:1px solid #0E6BF7;
    border-right:1px solid #0E6BF7;
    border-collapse: collapse;
    /*background:#A8A8A8;*/
    /*background:#efefef;*/
}
.timeTable .main_body .selectTd,.timeTable .main_body .selectTr{
    background:#478dcd;
}
.timeTable .main_body .selectRows{
    /*border-top:1px solid #5FB1D6;
    border-bottom:1px solid #5FB1D6;*/
    border-top:1px solid #0E6BF7;
    border-bottom:1px solid #0E6BF7;
    /*background:#A8A8A8;*/
    /*background:#efefef;*/
}
.timeTable .main_body .clickTd{
    /*border:1px solid #5FB1D6; 两个像素会使得表格抖动*/
    /*border:1px solid #5FB1D6;*/
    border:1px solid red;

}
.timeTable .main_body .bg{background:red;}
.nav-tabs > li > a{border:none}
#setup{
    margin-right:0px;
    float:right;
    height:38px;
    width:105px;
    text-align:center;
    color:white;
    background:#478dcd;
    border-radius:4px;
    padding-top:-5px;
    padding-bottom:4px;
}
.tdstyle{
    border:none;
}
#clearSp .btn-primary1{
    background:#eee;color:#333;border:1px solid #ccc;
}
#clearSp .checkboxButton .btn-primary.active{
    background:#1479fb,color:white,border:1px solid #ccc
}
.input-group-addon:not(:first-child):not(:last-child) {
	border-left: 0 none;
	border-right: 0 none;
}
input.has-error {
  color: #a94442;
  background-color: #f2dede;
}