.scrolltool{position: fixed;}
.scrolltool .backtotop, .scrolltool .gotobottom{display: none;width: 42px;height: 42px;background: url("img/down.png") #e0e0e0 no-repeat center center;cursor: pointer;margin-top: 8px;border-color: #c6c6c6;border-radius: 4px;box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);}
.scrolltool .backtotop{background-image: url("img/top.png");}
.scrolltool .backtotop:hover, .scrolltool .gotobottom:hover{background-color: #c5c5c5;box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}