<script type="text/javascript" >
function initFormComponent(radio) {
    $('.validator_style').text('');
    $("#addCode").text("AddCode");
    $("#addCode").attr("title","AddCode");
    $("#p_code").val("");
    $("#retailer_id").select2("val","");
    $("#retailer_id").val("");
    $("#retailer_id").attr("oldretailer_id","");
    $("#p_code").attr("oldp_code","");
    radio.parentNode.parentNode.dataset.pcode_id="";
    if(radio.id=='upc_type') {
        $('#retaileTd').css("opacity",0);
    } else if(radio.id=='retaile_type') {
        $('#retaileTd').css("opacity",1);
    }
}

</script>

<div align="left" style="border:2px #dddddd solid;background:#eeeeee;padding:5px;;margin-bottom:10px;">
    <form id="addCodeForm">
     <table width="100%">
        <tr data-pcode_id="">
            <td  id="upc" style="width: 30%;">
                <b class="require_property">*</b>Code:&nbsp;&nbsp;
                <input type="input" style="width:120px" id="p_code" name="p_code" class="input_text_password_select" maxlength="20" onkeyup="this.value=this.value.toUpperCase()" >
            </td>
            <td  id="retaileTd" style="opacity:0;width: 30%;"> 
                <b class="require_property">*</b>Retailer:&nbsp;&nbsp;
                <select id="retailer_id" name="retailer_id"  style="width:120px;">
                        <option value="" ></option>
                        {{#each retailers}}
                            <option value="{{this.ship_to_id}}" >{{this.ship_to_name}}</option>
                        {{/each}}
                </select>
            </td>
            
            
            <td  valign="middle"  style="width: 40%;  text-align: right;">
                <input type="radio" checked="checked" id="upc_type" onclick="initFormComponent(this)" name="code_type" value="2">
                <label for="upc_type">UPC Code</label>
                <input type="radio" id="retaile_type"  onclick="initFormComponent(this)" name="code_type" value="5">
                <label for="retaile_type">Retailer Code</label>         
                                                 
           <a href="javascript:void(0)"  class="buttons icon add" style="margin-left: 1px;width:55px" data-pc_id="{{pc_id}}" id="addCode" title="AddCode">AddCode</a>
            </td>
        </tr>
        <tr> 
            <td class="status validator_style"></td>
            <td class="status validator_style"></td>
            <td class="status validator_style"></td>
        </tr>
     </table>
     </form>
</div>
<div class="search_result_list">
    <div>
        <table class="search_result_list_header" cellspacing="0">
            <tr>
                <th width="330px" style="text-align: center">Code</th>
                <th width="330px" style="text-align: center">Type</th>
                <th width="330px" style="text-align: center">Retailer</th>
                <th width="200px" style="text-align: center">
                    Operation
                </th>
            </tr>
        </table>

        <table class="search_result_list_content" cellspacing="0">
          {{#if result}}
            {{#each result}} 
            <tr data-pcode_id="{{this.pcode_id}}">
                <td valign="middle" width="330px">
                    {{this.p_code}}
                </td>
                <td valign="middle" width="330px">
                    {{#ifCond this.code_type 2}}UPC{{/ifCond}}
                    {{#ifCond this.code_type 5}}Retailer{{/ifCond}}
                    
                </td>
                <td valign="middle" width="330px">
                    {{this.ship_to_name}}
                </td>
                <td valign="middle" width="200px" style="text-align: center">
                {{#ifCond this.code_type 5}}
                      <a href="javascript:void(0)" name="modCode" class="buttons icon edit" style="margin-left: 1px;" title="Edit"></a>{{/ifCond}}
                    <!--<a href="javascript:void(0)" name="delCode" class="buttons icon remove" style="margin-left: 1px;" title="Delete"></a>-->
                </td>
            </tr>
            {{/each}}
          
          {{/if}}  
        </table>

        
    </div>

    
</div>


