body{text-align: center;}
ul li{text-align: left;}
.network {
    background: white;
    display: inline-block;
    margin: auto auto;
}

#network1 {
    width: 50%;
    height: 70%;
}
#network2 {
    width: 200px;
    height: 100px;
}
#network3 {
    width: 700px;
    height: 700px;
}
