
#storage_3d #info {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	font-weight: bold;
	z-index: 1;
}
#storage_3d #info1 {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	font-weight: bold;
	z-index: 1;
}
.store_3d{
	position: relative;
	/* background-color: #FFFFFF; */
	width: 100%;
	height: 100%;
 	filter:alpha(opacity=90);  /* 支持 IE 浏览器 */
	-moz-opacity:0.90; /* 支持 FireFox 浏览器 */
	opacity:0.90; /*  支持 Chrome, Opera, Safari 等浏览器  */
}
.store_3d canvas{
	position: absolute;
	left: 0px;
	top: 0px;
}

.element {
	margin: 5px;
	padding: 5px;
	width: 200px;
	color:#fff;
	box-shadow: 0px 0px 12px rgba(21, 158, 137, 0.8);
  	border: 1px solid rgba(41, 209, 231, 0.8);
	background-color: rgba(9, 139, 124, 0.8);
	cursor: default;
}
.element:hover {
	box-shadow: 0px 0px 15px rgba(0, 140, 120, 1);
	border: 1px solid rgba(41, 255, 255, 0.8);
	background-color: rgba(0, 110, 100, 0.8);
}
.element .top_title{
	height:20px;
	line-height:20px;
	font-size:12px;
}
.element h1{
	clear:both;
	font-size: 22px;
	text-align: center;
	font-weight:bold;
	margin: 0 0 5px 0;
	color: rgb(237, 234, 12);
}
.element ._title{
	float: right;
}
.element .con_type{
	float:left;
}
.element .uls{
	margin:0;
}
.element .uls ul{
	padding:0;
	margin:0;
}
.element .uls li{
	list-style:none;
	height:20px;
	line-height:20px;
	font-size:13px;
	font-weight:bold;
}
.element .uls li span{
	float:left;
}
.element .uls li p{
	float:right;
}
/* 
button {
	color: rgba(127, 255, 255, 0.75);
	background: transparent;
	outline: 1px solid rgba(127, 255, 255, 0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}

button:hover {
	background-color: rgba(0, 255, 255, 0.5);
}

button:active {
	color: #000000;
	background-color: rgba(0, 255, 255, 0.75);
}
 */