{{#each list}}
<tr>
    <td>{{template_name}}</td>
    <td>{{printer}}</td>
    <td>{{paper}}</td>
    <td>{{print_range_width}}</td>
    <td>{{print_range_height}}</td>
    <td>{{template_path}}</td>
    <td>
    	<button type="button" class="btn btn-default J-btn-edit" data-id="{{lable_template_id}}">
        	<i class="glyphicon glyphicon-pencil"> Edit</i>
        </button>
        <button type="button" data-id="{{lable_template_id}}" data-name="{{template_name}}" class="btn btn-default J-btn-del">
        	<i class="glyphicon glyphicon-trash">  Del</i>
        </button>
        <button type="button" data-src="{{img_path}}" class="btn btn-default J-btn-preview">
        	<i class="glyphicon glyphicon-eye-open">  Preview</i>
       </button>
    </td>
</tr> 
{{/each}}
{{#unless list}}
<tr class="no-data" style="height: 70px;">
	<td class="no-data" colspan="7">NO Data</td>
</tr>
{{/unless}}