<div class="bol">
    <div role="tabpanel" class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-tasks" aria-hidden="true">&nbsp;BOL Maintain</span></div>
        <div class="panel-body">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active panel-body" id="common">
                    <div >
                        <button class="btn btn-default" type="button" id="add_task">Add Template</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane panel-body" id="advanced">
                    <!-- todo -->
                </div>
            </div>
        </div>
        <div class="modal-container">
            <table class="table table-hover table-condensed" id="bol_table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Printer</th>
                    <th>Paper</th>
                    <th>Paper Width</th>
                    <th>Paper Height</th>
                    <th>File</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="modal"><div class="loading"></div></div>
        </div>
        <!-- <ul id="pagebox_task" class='clearfix pagebox mb20 mt20'></ul> -->
    </div>
</div>