i.tree-base{
  height: 24px;
  line-height: 24px;
  width: 24px;
  background-image: url("../img/base.gif");
  background-position: center center;
  background-size: auto auto;
  background-color: transparent;
  background-repeat: no-repeat;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  margin-top: -5px;
}
.main-node{text-decoration: none;}
.zebraTable{width:100%;}

#mainContent{
  height: 700px;
}
.zebraTable tr td{ border-bottom-style: dotted; }
.zebraTable tr td:first-child{width: 15%;height: 35px;}
.zebraTable tr td:nth-first-child(1){width: 70%;height: 35px;}

#sidebar {
float: left;
width: 30%;
height: 90%;
overflow: auto;
} 
#content {
margin-left: 31% !important;
margin-left: 202px;
width: 68%;
height: 420px;
}

.require_property{
  
  color: red;
  font-size:5px;
}
