<table class="table table-condensed table-bordered table-hover no-margin">
	<tbody>
		<tr><th class="bg-info text-right col-sm-5">姓名</th><td class="col-sm-7">{{ this.employe_name }}</td></tr>
    	<tr><th class="bg-info text-right">编号</th><td>{{ this.adid }}</td></tr>
		<tr><th class="bg-info text-right">组号</th><td>{{ this.adgid }}</td></tr>
		<tr><th class="bg-info text-right">仓库号</th><td>{{ this.ps_id }}</td></tr>
		<tr><th class="bg-info text-right">邮箱</th><td>{{ this.email }}</td></tr>
		<tr><th class="bg-info text-right">最近登录时间</th><td>{{ this.last_login_date }}</td></tr>
	</tbody>
</table>