<div class="accordion-list">
{{#each items}}
	<h3 data-id="{{ this.adid }}" class="show-detail">
		{{ this.employe_name }}({{ this.account }})
	</h3>
	<div class="detail-view">
	</div>
{{/each}}
</div>
<table class="table table-condensed no-margin bg-info">
  	<thead>
  			<tr>
	    		<th>
	    			
	                <button class="page-ctrl btn btn-default btn-xs" data-pageno="1" {{#unless pageCtrl.first}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-step-backward"></span>
	                	首页
	                </button>&nbsp;&nbsp; 
	                <button class="page-ctrl btn btn-default btn-xs" data-pageplus="-1" {{#unless pageCtrl.fornt}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-chevron-left"></span>
	                	上一页
	                </button>&nbsp;&nbsp; 
	                <button class="page-ctrl btn btn-default btn-xs" data-pageplus="1" {{#unless pageCtrl.next}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-chevron-right"></span>
	                	下一页
	                </button>&nbsp;&nbsp; 
	                <button class="page-ctrl btn btn-default btn-xs" data-pageno="{{pageCtrl.pageCount}}" {{#unless pageCtrl.last}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-step-forward"></span>
	                	末页
	                </button>
	            </th>
	            <th>
	                <span class="pull-right small">
	    			当前：{{pageCtrl.pageNo}}&nbsp;&nbsp;
	                页数：{{pageCtrl.pageCount}}&nbsp;&nbsp;
	                总数：{{pageCtrl.allCount}}&nbsp;&nbsp;  
	                </span>
	    		</th>
	    	</tr>
	</thead>
</table>