<div class="table-responsive">
  <table class="table table-condensed table-bordered table-hover no-margin">
    <thead>
      <tr class="bg-info">
      	<th>姓名</th>
      	<th>账号</th>
      	<th>最近登录时间</th>
      </tr>
    </thead>
    <tbody>
    	{{#each items}}
    		<tr data-id="{{ this.adid }}" class="show-detail">
    			<td>{{ this.employe_name }}</td>
    			<td>{{ this.account }}</td>
    			<td>{{ this.last_login_date}}</td>
    		</tr>
    	{{/each}}
    </tbody>
  </table>
  <table class="table table-condensed no-margin bg-info">
  	<thead>
  			<tr>
	    		<th>
	    			
	                <button class="page-ctrl btn btn-default btn-xs" data-pageno="1" {{#unless pageCtrl.first}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-step-backward"></span>
	                	首页
	                </button>&nbsp;&nbsp; 
	                <button class="page-ctrl btn btn-default btn-xs" data-pageplus="-1" {{#unless pageCtrl.fornt}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-chevron-left"></span>
	                	上一页
	                </button>&nbsp;&nbsp; 
	                <button class="page-ctrl btn btn-default btn-xs" data-pageplus="1" {{#unless pageCtrl.next}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-chevron-right"></span>
	                	下一页
	                </button>&nbsp;&nbsp; 
	                <button class="page-ctrl btn btn-default btn-xs" data-pageno="{{pageCtrl.pageCount}}" {{#unless pageCtrl.last}}disabled{{/unless}} >
	                	<span class="glyphicon glyphicon-step-forward"></span>
	                	末页
	                </button>
	            </th>
	            <th>
	                <span class="pull-right small">
	    			当前：{{pageCtrl.pageNo}}&nbsp;&nbsp;
	                页数：{{pageCtrl.pageCount}}&nbsp;&nbsp;
	                总数：{{pageCtrl.allCount}}&nbsp;&nbsp;  
	                </span>
	    		</th>
	    	</tr>
	</thead>
  </table>  
</div>