body{color: red;text-align: center;padding-top: 15px;}

#pepo_nuberof{text-align: center;height: 32px;line-height: 32px;}

#runptopbox{text-align: center;}
#runptopbox .row{margin:0px auto;width: 75%;}

#photobox,#photobox1,#photobox2,#photobox3{height: 295px;}

#photobox img,#photobox1 img,#photobox2 img,#photobox3 img{width: 250px;max-width:250px;}

#winningbox{margin:0px;width: 100%}

#winningbox img{width: 150px;max-width: 150px;}

.brebox{width: 100%;border-bottom: 1px solid #ccc;margin:10px 0px;}

label{display:block;width: 100%;text-align: left;}
h4{width: 100%;position: relative;height: 20px;margin:0px;padding: 0px}
h4 a{position: absolute;right: 5px;}
h2{font-size: 20px}

