<div class="form-inline">
    <div class="form-group col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">{{model.routeName_lable}}</span>
            <input id="route_name" type="text" placeholder="{{model.routeName_placeholder}}" class="form-control"  autocomplete="off" >
        </div>
    </div>
    
    <div class="form-group col-sm-4" style="display:none">
        <div class="input-group">
            <span class="input-group-addon">{{model.currentpsid_lable}}</span>
            <input id="currentPsId" type="text" placeholder="{{model.currentpsid_placeholder}}" class="form-control immybox immybox_witharrow"  autocomplete="off" >
        </div>
    </div>
    <div class="form-group col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">{{model.permitPsId_lable}}</span> 
            <input id="permitPsId" type="text" placeholder="{{model.permitPsId_placeholder}}" class="form-control immybox immybox_witharrow" >
        </div>
    </div>
	
    
    <div class="form-group col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">{{model.routeType_lable}}</span>
            <input id="routeType" placeholder="{{model.routeType_placeholder}}" type="text" class="form-control"  autocomplete="off">
        </div>
    </div>
	
    <div class="form-group col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">{{model.status_lable}}</span>
            <input id="status" type="text" placeholder="{{model.status_placeholder}}" class="form-control">
        </div>
    </div>
	<div class="form-group col-sm-4"></div>
    <div class="col-sm-3" >
        <button id="btnLoadFilter" type="button" class="btn btn-info" style="width:100px">{{model.search_btn}}</button>
        <button id="btnReset" type="button" class="btn btn-default" style="width:100px">{{model.reset_btn}}</button>
    </div>
</div>