<div class="panel-body form-horizontal" id="routeinfoForm">
	<div class="form-group">
        <label for="send_psid"class="col-xs-3 control-label required" >{{lanModel.route_name}}</label>
        <div class="col-xs-6">
           <input type="text" class="form-control" oldData=""   placeholder="{{lanModel.routeName_placeholder}}" id="route_name"/>
        </div>
        <label class="col-xs-3 control-label validator_style" style="text-align: left;padding-left: 0px;"></label> 
    </div>
	<div class="form-group" style="display:none"> 
        <label for="send_psid"class="col-xs-3 control-label required" >{{lanModel.route_store}}</label>
        <div class="col-xs-6">
           <input type="text" class="form-control immybox immybox_witharrow"   placeholder="{{lanModel.routeStore_placeholder}}" id="route_ps_id"/>
           <input type="hidden" value="{{model.ID}}" id="route_id">
           <input type="hidden" value="{{model.CURRENT_PS_ID}}" id="current_ps_id">
        </div>
        <label class="col-xs-3 control-label validator_style" style="text-align: left;padding-left: 0px;"></label> 
    </div>
    <div class="form-group"> 
      <label for="send_state" class="col-xs-3 control-label">{{lanModel.stauts_lable}}</label>
      <div class="col-xs-6">
      	<label class="radio-inline">
  			<input type="radio" name="route_status" id="status_1" checked="checked"  value="1" > {{lanModel.enable_lable}}
		</label>
		<label class="radio-inline">
  			<input type="radio" name="route_status" id="status_0"   value="0"> {{lanModel.disable_labe}}
		</label>
      </div>
   </div>
   <div class="form-group">
      <label for="send_city" class="col-xs-3 control-label">{{lanModel.linetype_lable}}</label>
      <div class="col-xs-6">
        <label class="radio-inline">
  			<input type="radio" name="line_type" id="line_type_1" checked="checked" value="1"> {{lanModel.forever_lable}}
		</label>
		<label class="radio-inline">
  			<input type="radio" name="line_type" id="line_type_0" value="0"> {{lanModel.provisional_lable}}
		</label>
      </div>
   </div>
   <div class="form-group hidenContent" >
      <label for="send_city" class="col-xs-3 control-label required" >{{lanModel.uesStartTime_lable}}</label>
      <div class="col-xs-6">
          <input type="text" class="form-control"  style="display:none;"   placeholder="{{lanModel.uesStartTime_placeholder}}" id="use_startTime"/>
      </div>
   </div>
   <div class="form-group hidenContent">
      <label for="send_city" class="col-xs-3 control-label required">{{lanModel.uesEndTime_lable}}</label>
      <div class="col-xs-6">
          <input type="text" class="form-control"  style="display:none;"  placeholder="{{lanModel.uesEndTime_placeholder}}" id="use_endTime" />
      </div>
   </div>

</div>
<div class="footer">
	<div class="opbar">
		<button type="button" id="route_next" class="btn btn-info">{{lanModel.next_btn}}</button>
	</div>	
</div>
