<table class="checkin_box">
	<thead>
		<tr>
			<th>{{lanModel.ROUTE.tabtitle}}</th>
			<th>{{lanModel.BRANCH.tabtitle}}</th>
			<th>{{lanModel.LOG.tabtitle}}</th>
		</tr>
	</thead>
	<tbody>
		{{#if resultList}}
      	{{#each resultList}}
		<tr class="tr_itme_style">
			<td width="18%" class="td_Route" valign="center">
			<fieldset class="RouteGreen">
					<legend>
						<span style=" padding: 0 5px;" class="Sub_route">{{this.route.ROUTE_NAME}}</span>
					</legend>
					<div class="Tractor_ulitme">
						<ul>
							<li>
								<span class="namestyle">{{../lanModel.ROUTE.currentPiao}}：</span>
								<span class="valstyle">{{this.route.WAYBILLCOUNT}}票</span>
								<span class="namestyle">{{../lanModel.ADVANCESEARCH.status_lable}}：</span>
								<span class="valstyle">{{#xif 'this.route.STATUS==1'}}启用{{else}}停用{{/xif}}</span> 
							</li>
							<li>
								<span class="namestyle">{{../lanModel.ROUTE.currentInventory}}：</span>
								<span class="valstyle">{{this.route.INVENTORY.IDCOUNT}}件</span>
								<span class="namestyle">{{../lanModel.ADVANCESEARCH.routeType_lable}}：</span>
								<span class="valstyle">{{#xif 'this.route.ROUTE_TYPE==1'}}永久{{else}}临时{{/xif}}</span>
							</li>
							<li><span class="namestyle">{{../lanModel.ROUTE.currentWeight}}：</span>
							<span class="valstyle">{{this.route.INVENTORY.WEIGHT}}吨</span></li>
						</ul> 
					</div> 
				</fieldset>				
			</td>
			<td width="65%" class="td_Route" valign="inherit">
				{{#if this.branchs}}
				<table class="table table-bordered">
					<tr>
						<th style="width:20%">{{../../lanModel.BRANCH.listtable_name}}</th>
						<th style="width:20%">{{../../lanModel.BRANCH.listtable_waybillcount}}</th>
						<th style="width:20%">{{../../lanModel.BRANCH.listtable_idcount}}</th>
						<th style="width:20%">{{../../lanModel.BRANCH.listtable_weight}}</th>
						<th style="width:20%">{{../../lanModel.ROUTE.stauts_lable}}</th>
					<tr>
				{{#foreach this.branchs}}
					<tr>
						<td>{{this.BRANCH_NAME}}</td>
						<td>{{this.WAYBILLCOUNT}}</td>
						<td>{{this.IDCOUNT}}</td>
						<td>{{this.WEIGHT}}</td>
						<td>{{#xif 'this.STATUS==1'}}{{../../../../lanModel.ROUTE.enable_lable}}{{else}}{{../../../../lanModel.ROUTE.disable_labe}}{{/xif}}</td>
					</tr>
				{{/foreach}}
				</table>
				{{else}}
				<div class="Tractor_ulitme nodata"><div style="text-align:center"><b>{{../../lanModel.BRANCH.nodata}}</b></div></div>
				{{/if}} 
			</td>
			<td width="17%" class="td_OPTION" valign="center">
				<div class="Log_container">
					{{#if this.logs}}
					{{#foreach this.logs}}
					{{#xif 'this.$index<4'}}
					<ul>
						<li> 
							<span class="opreationName">{{this.OPERATOR_NAME}}</span>
							<span class="logvaluestyle " >{{#xif 'this.OPERATE_TYPE==1'}}{{../../../../../lanModel.LOG.createKey}}{{else}}{{../../../../../lanModel.LOG.updateKey}}{{/xif}}</span>
						</li>
						<li>
							<span class="rightstyle opreationTime">{{this.OPERATE_TIME}}</span>
						</li>
					</ul>
					<div class="box1px"></div>
					{{/xif}}
					{{/foreach}}
					{{/if}}
				</div>
			</td>
		</tr>
		<tr class="TFOOTbutton" data-trid="{{this.trId}}">
			<td  align="right">
			<div class="buttons-group">
					<a href="javascript:void(0)" name="editRoute" class="buttons">{{../lanModel.BUTTONS.editroute_btn}}</a>
					<a href="javascript:void(0)" style="display:none" name="deleteRoute" class="buttons">{{../lanModel.BUTTONS.deleteroute_btn}}</a>
				</div>
			</td>
				<td  align="right">
				</td>
				<td  align="right">
				<div class="buttons-group">
					{{#xif 'this.logs.length>4'}}
						<a href="javascript:void(0)" name="moreLogs" class="buttons">{{../../lanModel.BUTTONS.morelog_btn}}</a>
					{{/xif}}
				</div></td>
		</tr>
		{{/each}}{{/if}}
	</tbody>
</table>
<div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
        <ul id="pagination" class="clearfix pagebox"></ul>
</div>
<div class="topthead" style="left: 1px; display: none;">
<table class="checkin_box">
<thead>
	<tr>
		<th>{{lanModel.ROUTE.tabtitle}}</th>
		<th>{{lanModel.BRANCH.tabtitle}}</th>
		<th>{{lanModel.LOG.tabtitle}}</th>
	</tr>
</thead>
</table>
</div>