﻿<div id="formToInfo" >
		<div class="col-sm-6"> 
			<div class="panel panel-info">
				<div class="panel-heading">
			      {{lanModel.ROUTE.view_route_title}}： {{routeInfo.ROUTE_NAME}}
			    </div>
			    <div class="panel-body">
			   		<div class="form-group">
       			 		<label class="col-xs-6 control-label" style="text-align: right;">{{lanModel.ROUTE.linetype_lable}}：</label>
        				<label class="col-xs-6 control-label" >
        					{{routeInfo.ROUTE_TYPE_NAME}}
        				</label> 
    		   		</div>
    		   		{{#if routeInfo.use_startTime}}
		    		   <div class="form-group">
		       			 	<label class="col-xs-4 control-label" style="text-align: right;">{{lanModel.ROUTE.uesStartTime_lable}}：</label>
		        			<label class="col-xs-6 control-label" >{{routeInfo.USE_STARTTIME}}</label> 
		    		   </div>
		    		   <div class="form-group">
		       			 	<label class="col-xs-4 control-label" style="text-align: right;">{{lanModel.ROUTE.uesEndTime_lable}}：</label>
		        			<label class="col-xs-6 control-label" >{{routeInfo.USE_ENDTIME}}</label> 
		    		   </div>
		    		{{/if}}  
		    		   <div class="form-group">
		       			 	<label class="col-xs-6 control-label" style="text-align: right;">{{lanModel.ROUTE.operatBy}}：</label>
		        			<label class="col-xs-6 control-label" >{{currentLogin.employe_name}}</label> 
		    		   </div>
		    		   <div class="form-group">
		       			 	<label class="col-xs-6 control-label" style="text-align: right;">{{lanModel.ROUTE.operatDate}}：</label>
		        			<label class="col-xs-6 control-label" >{{currentLogin.opreateTime}}</label> 
		    		   </div>
		    		   <!--<div class="form-group">
		       			 	<label class="col-xs-6 control-label" style="text-align: right;">{{lanModel.ROUTE.remark}}：</label>
		        			<label class="col-xs-6 control-label" ></label> 
		    		   </div>-->
			    </div>
			</div>
		</div>
		<div class="col-sm-6"> 
			<div class="panel panel-info">
				<div class="panel-heading">
			      	{{lanModel.BRANCH.dest_title}}
			    </div>
			    <div class="panel-body">
			    {{#each destinationInfo}}
			    	<div class="form-group">
		       			 	<label class="col-xs-6 control-label" style="text-align: right;">{{../lanModel.BRANCH.destination_title}}：</label>
		        			<label class="col-xs-6 control-label" >{{this.BRANCH_NAME}}</label> 
		    		</div>
			    {{/each}} 
			    </div>
			</div>
		</div>	    
			    
			    	
</div>
<div class="opbar">
		<button type="button" id="preview_pre" class="btn btn-info">{{lanModel.BRANCH.prev_btn}}</button>
	<button type="button" id="save" class="btn btn-info">{{lanModel.BRANCH.save_btn}}</button>
</div>