
/*=======================ei8+ media quire===========================*/

/*styles for 300 and up @ 16px!*/
/* | ==#1 i9020 g9200*/
@media only screen and (min-width: 18.75em){

    .Step3_body_box .col-xs-5,
    .Step3_body_box .col-xs-7 {
        width: 296px;
    }
   
    .Step4_body_box ul label {
        width: 25%;
        min-width: 100px;
    }
    .Step4_body_box ul input {
        width: 58%
    }

}


/*styles for 480px - 620px @ 16px!*/
/* -  小屏的横屏 ===#2*/
@media only screen and (min-width: 30em) and (max-width: 38.75em) {

    .Step4_body_box ul label {
        width: 25%;
    }
    .Step4_body_box ul input {
        width: 70%
    }

}
/*pc > 1100px and up @ 16px!*/
@media screen and (max-width: 56.25em){
 
}

/* -  大屏的横屏--和pc > 900  ===#3*/
@media screen and (min-width:  56.25em),only print,projector{


   /**  .Step3_body_box .col-xs-5 {
        width: 41.6%;
    }
    .Step3_body_box .col-xs-7 {
        width: 58.3%;
    }
    **/

}



/*pc > 1100px and up @ 16px!*/
@media screen and (min-width: 68.75em){
 
}

/*pc > 1200! */
@media screen and (min-width: 1200px){

}

/* 全屏 pc>1250px !*/
@media only screen and (min-width: 1250px) and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-width: 1250px) and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (min-width: 1250px) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-width: 1250px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-width: 1250px) and (min-device-pixel-ratio: 1.5),
  only screen and (min-width: 1250px) and (min-resolution: 1.5dppx),
  screen and (min-width: 1250px) {
   /*二红
  body {
    background-color: pink;
  }*/
}




/*=====================================================================*/

#Step5 .Step5body_box {
   
    position: relative;
    -ms-touch-action: none;
    /* Prevent the callout on tap-hold and text selection */
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Prevent text resize on orientation change, useful for web-apps */
    
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    padding-bottom: 30px;
}

#scroller {
    position: absolute;
    /* Prevent elements to be highlighted on tap */
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* Put the scroller into the HW Compositing layer right from the start */
    
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.slide {
    margin-top: 0px
}
/**********  ie  #####   **********/
/************************************/

a:focus,
*:focus,
button,
button:focus {
    outline: none
}
/**********  icon size     **********/
/************************************/

.fa-1 {
    font-size: 1.5em;
}

.fa-2 {
    font-size: 2em;
}

.fa-3 {
    font-size: 4em;
}

.fa-4 {
    font-size: 7em;
}

.fa-5 {
    font-size: 12em;
}

.fa-6 {
    font-size: 20em;
}

.fa-1,
.fa-2,
.fa-3,
.fa-4,
.fa-5,
.fa-6 {
    margin-right: 0.07142857em;
}
/********** 12. CUSTOM STYLES **********/
/***************************************/

.mt0 {
    margin-top: 0 !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt42{
  margin-top: 40px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mb5 {
    margin-bottom: 5px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb9 {
    margin-bottom: 9px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0;
}

.padding10 {
    padding: 10px;
}

.padding15 {
    padding: 15px;
}

.padding20 {
    padding: 20px;
}

.noborder {
    border: 0;
}

.height200 {
    height: 200px;
}

.height300 {
    height: 300px;
}

.width100p {
    width: 100%;
}

.width300 {
    width: 300px;
}

/**********      logdin    **********/

/************************************/



.panel-body .referncobox .col-xs-9 {
    top: 2px;
}


.panel-body .truck_selectbox {
    display: inline-block;
    margin-right: 5px
}

.panel-body .truck_selectbox i {
    font-size: 24px
}

.panel-body .truck_selectbox .fa-dot-circle-o {
    color: #0000D9
}

.panel-body .truck_selectbox .fa-circle-o {
    color: #000
}

.panel-body .truckbox {
    padding: 15px 0px
}

.panel-body .linebox {
    border-bottom: 1px solid #ddd;
    display: block;
    height: 1px;
    line-height: normal;
}

.panel-body .referncobox {
    padding: 20px 0px
}


.selectbox .lefttext select{width: 50%;line-height: 30px;height: 30px}



.Slidecard_box .panel-default {
    width: 250px;
}

.Slidecard_box .panel-default {
    margin: 0px 6px
}

.Slidecard_box .panel-default .panel-heading {
    position: relative;
    padding: 6px 10px;
}

.Slidecard_box .panel-heading span {
    display: inline-block;
    margin-left: 5px;
    color: #0000D9
}

.Slidecard_box .panel-heading em {
    display: inline-block;
    position: absolute;
    right: 7px;
    cursor: pointer;
    list-style: none;
    width: 20px;
}

/** load start**/
.panel-heading em i {
    font-size: 18px
}

.panel-body ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.panel-body ul li {
    height: 23px;
}


.panel-body ul li em {
    display: inline-block;
    max-width: 140px;
    text-align: left;
    font-style: normal;
}

/** load end**/

.Step3_body_box {
    width: 100%;
    overflow: hidden;
}


.OnedayTimebox .Available td {
    color: #0000D9;
}

.Step4_body_box ul label {
    display: inline-block;
    text-align: right;
    margin-right: 10px
}

.Step4_body_box ul label i {
    color: red;
    vertical-align: middle;
}

.Step4_body_box ul input {
    display: inline-block;
}


.slide label {
    font-weight: normal;
}

.selectbox .input-group,
.Step5body_box {
    text-align: left;
}

.container-fluid {
    padding: 15px 0px 0px 0px
}

.fa-chevron-right,
.fa-chevron-left {
    cursor: pointer;
}


.fp-controlArrow {
    display: none;
}



.Step4_body_box ul label{font-weight:400;}
.prevStep span,.prev span{margin-left: 12px}
.prevStep i,.prevStep span,.prev i,.prev span{vertical-align: middle;display: inline-block;}