/*styles for 300 and up @ 16px!*/
/* The max-width declaration below blocks this from ever working */
@media only screen and (min-width: 18.75em){
    /*黄*/
    body {
        background: yellow;
    }
}


/*styles for 480px - 620px @ 16px!*/
@media only screen and (min-width: 30em) and (max-width: 38.75em) {
    /*深绿*/
    body {
        background: green;
    }
}



/*小于 800px and up @ 16px!*/
@media screen and (min-width: 38.75em),only print,projector{
    body{background:red;}
}

/*styles for 800px and up @ 16px!*/
@media screen and (min-width: 50em){
    /*蓝*/
    body {
        background: blue;
    }
}

/*styles for 1100px and up @ 16px!*/
@media screen and (min-width: 68.75em){
    /*洋红*/
    body {
        background: orange;
    }
}

/*one with pixels too! */
/* NOTE - if the user were to increase his browser font size to 20px (chrome: Large), 
            the above (68.75em) media query will be incorrectly ignored!!!
            
            Assuming 20px browser setting, we would expect to see this progression:
            yellow > green > red > blue > NAVY > orange
            
            However, the orange never kicks in... which seems like a browser bug!
            Here's the math (assuming 20px browser setting):
            1200/20 = 60em     <     68.75em
*/
@media screen and (min-width: 1200px){
    /*深蓝*/
    body {
        background: navy;
    }
}

/*styles for 全屏 >1250px !*/
@media only screen and (min-width: 1250px) and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-width: 1250px) and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (min-width: 1250px) and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-width: 1250px) and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-width: 1250px) and (min-device-pixel-ratio: 1.5),
    only screen and (min-width: 1250px) and (min-resolution: 1.5dppx),
    screen and (min-width: 1250px) {
   /*二红*/
    body {
        background-color: pink;
    }
}