
/*=======================ei8+ media quire===========================*/


/*styles for 300 and up @ 16px!*/
/* | ==#1 i9020 g9200*/
@media only screen and (min-width: 18.75em){
  /*黄 大屏小屏的竖屏*/
  body {
    background: yellow;
  }
 #Step0 .container-fluid{width: 90%}

    .Step3_body_box .col-xs-5,
    .Step3_body_box .col-xs-7 {
        width: 296px;
    }

  
    .bootstrap-datetimepicker-widget .topavlbox .picker-switch {
        width: 153px
    }
    .Step4_body_box ul label {
        width: 38%;
    }
    .Step4_body_box ul input {
        width: 58%
    }
    .Step4_body_box .Hublibox label {
        width: 18%
    }
    .Hublibox .ringinputbox {
        width: 78%
    }

}


/*styles for 480px - 620px @ 16px!*/
/* -  小屏的横屏 ===#2*/
@media only screen and (min-width: 30em) and (max-width: 38.75em) {
  /*深绿*/
  body {
    background: green;
  }
   #Step0 .container-fluid{width: 90%;}
   
       .Step4_body_box ul label {
        width: 25%;
    }
    .Step4_body_box ul input {
        width: 70%
    }


}




/* -  大屏的横屏--和pc < 800px  ===#3*/
@media screen and (min-width: 38.75em),only print,projector{
  body{background:red;}

    .Step3_body_box .col-xs-5 {
        width: 41.6%;
    }
    .Step3_body_box .col-xs-7 {
        width: 58.3%;
    }


}


/* -  pc > 800px  ===#4*/
@media screen and (min-width: 50em){
  /*蓝*/
  body {
    background: blue;
  }
}

/*pc > 1100px and up @ 16px!*/
@media screen and (min-width: 68.75em){
  /*洋红*/
  body {
    background: orange;
  }
}

/*pc > 1200! */
@media screen and (min-width: 1200px){
  /*深蓝*/
  body {
    background: navy;
  }
}

/* 全屏 pc>1250px !*/
@media only screen and (min-width: 1250px) and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-width: 1250px) and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (min-width: 1250px) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-width: 1250px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-width: 1250px) and (min-device-pixel-ratio: 1.5),
  only screen and (min-width: 1250px) and (min-resolution: 1.5dppx),
  screen and (min-width: 1250px) {
   /*二红*/
  body {
    background-color: pink;
  }
}




/*=====================================================================*/

#Step5 .Step5body_box {
   
    position: relative;
    -ms-touch-action: none;
    /* Prevent the callout on tap-hold and text selection */
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Prevent text resize on orientation change, useful for web-apps */
    
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    padding-bottom: 30px;
}

#scroller {
    position: absolute;
    /* Prevent elements to be highlighted on tap */
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* Put the scroller into the HW Compositing layer right from the start */
    
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.slide {
    margin-top: 0px
}
/**********  ie  #####   **********/
/************************************/

a:focus,
*:focus,
button,
button:focus {
    outline: none
}
/**********  icon size     **********/
/************************************/

.fa-1 {
    font-size: 1.5em;
}

.fa-2 {
    font-size: 2em;
}

.fa-3 {
    font-size: 4em;
}

.fa-4 {
    font-size: 7em;
}

.fa-5 {
    font-size: 12em;
}

.fa-6 {
    font-size: 20em;
}

.fa-1,
.fa-2,
.fa-3,
.fa-4,
.fa-5,
.fa-6 {
    margin-right: 0.07142857em;
}
/********** 12. CUSTOM STYLES **********/
/***************************************/

.mt0 {
    margin-top: 0 !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt42{
  margin-top: 40px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mb5 {
    margin-bottom: 5px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb9 {
    margin-bottom: 9px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0;
}

.padding10 {
    padding: 10px;
}

.padding15 {
    padding: 15px;
}

.padding20 {
    padding: 20px;
}

.noborder {
    border: 0;
}

.height200 {
    height: 200px;
}

.height300 {
    height: 300px;
}

.width100p {
    width: 100%;
}

.width300 {
    width: 300px;
}
/********** 7. FORM STYLES **********/
/************************************/

.ckbox,
.rdio {
    position: relative;
}

.ckbox input[type="checkbox"],
.rdio input[type="radio"] {
    opacity: 0;
}

.ckbox label,
.rdio label {
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 7px !important;
}

.ckbox label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #bbb;
    background: #fff;
}

.ckbox input[type="checkbox"]:disabled + label {
    color: #999;
}

.ckbox input[type="checkbox"]:disabled + label:before {
    background-color: #eee;
}

.ckbox input[type="checkbox"]:checked + label:after {
    font-family: 'FontAwesome';
    content: "\F00C";
    position: absolute;
    top: 2.5px;
    left: 3.5px;
    display: inline-block;
    font-size: 11px;
    width: 16px;
    height: 16px;
    color: #fff;
}

.ckbox-default input[type="checkbox"]:checked + label:before {
    border-color: #999;
}

.ckbox-default input[type="checkbox"]:checked + label:after {
    color: #333;
}

.ckbox-primary input[type="checkbox"]:checked + label:before {
    border-color: #357EBD;
    background-color: #428BCA;
}

.ckbox-warning input[type="checkbox"]:checked + label:before {
    border-color: #EEA236;
    background-color: #F0AD4E;
}

.ckbox-success input[type="checkbox"]:checked + label:before {
    border-color: #5cb85c;
    background-color: #5cb85c;
}

.ckbox-danger input[type="checkbox"]:checked + label:before {
    border-color: #D43F3A;
    background-color: #D9534F;
}
/**********      logdin    **********/
/************************************/

#Step0 .logobox {
    text-align: center;
}

#Step0 .panel-heading{text-align: left;}

.slide .form-control {
    line-height: normal
}

.slide .panel-signin,
.slide .panel-signup {
    margin: 0 auto;
}

.slide .panel-signin .panel-body {
    padding: 15px;
}

.slide .panel-signin .panel-flodes {
    margin: auto auto;
    width: 100%;
}
/**********      Step    **********/
/************************************/

.slide .container-fluid {
    padding: 0px;
}

.section .mt42 .container-fluid{
  height: 98%;
  background: #fff;
}

.panel-body .referncobox .col-xs-9 {
    top: 2px;
}

.slide .referncobox .col-xs-1 .fa-plus {
    margin-top: 2px;
}

.slide .panel-heading .clearfix .pull-left i,
.slide .panel-heading .clearfix .pull-left span {
    vertical-align: middle;
}

.slide .panel-heading .clearfix .pull-left span {
    margin-left: 12px;
}

.panel-body .truck_selectbox {
    display: inline-block;
    margin-right: 5px
}

.panel-body .truck_selectbox i {
    font-size: 24px
}

.panel-body .truck_selectbox .fa-dot-circle-o {
    color: #0000D9
}

.panel-body .truck_selectbox .fa-circle-o {
    color: #000
}

.panel-body .truckbox {
    padding: 15px 0px
}

.panel-body .linebox {
    border-bottom: 1px solid #ddd;
    display: block;
    height: 1px;
    line-height: normal;
}

.panel-body .referncobox {
    padding: 20px 0px
}

.mediaStepwindow .panel-heading .fa-chevron-right,
.mediaStepwindow .panel-heading .fa-chevron-left {
    cursor: pointer;
}

.mediaStepwindow .selectbox .lefttext {
    width: 80%;
    display: inline-block;
}

.selectbox .lefttext select{width: 50%;line-height: 30px;height: 30px}


.mediaStepwindow .selectbox .input-group-addon,
.mediaStepwindow .selectbox .lefttext {
    height: 34px;
}

.mediaStepwindow .select2-container--default .select2-selection--single {
    border-radius: inherit;
}

.mediaStepwindow .select2-container--default .select2-selection--single {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 34px;
}

.mediaStepwindow .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

.Slidecard_box .panel-default {
    width: 200px;
}

.Slidecard_box .panel-default {
    margin: 0px 6px
}

.Slidecard_box .panel-default .panel-heading {
    position: relative;
    padding: 6px 10px;
}

.Slidecard_box .panel-heading span {
    display: inline-block;
    margin-left: 5px;
    color: #0000D9
}

.Slidecard_box .panel-heading em {
    display: inline-block;
    position: absolute;
    right: 7px;
    cursor: pointer;
    list-style: none;
}

.panel-heading em i {
    font-size: 18px
}

.panel-body ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.panel-body ul li {
    height: 23px;
}

.panel-body ul li span {
    display: inline-block;
    width: 30%;
    text-align: right;
}

.panel-body ul li em {
    display: inline-block;
    width: 69%;
    text-align: left;
    font-style: normal;
}

.Slidcontainer {
    max-width: 83.3%;
    overflow: hidden;
}
/*测试数字要改*/

.Slidcontainer .Slidecard_box {
    width: 700px;
}

.Slidcontainerpano .col-xs-1 {
    padding: 52px 10px;
}

.Slidbootmebox .col-xs-6 {
    text-align: center;
}

.Step3_body_box {
    width: 100%;
    overflow: hidden;
}

.Step3_body_box .col-xs-7 {
    padding-left: 0px
}

.Step3_body_box .col-xs-7 table {
    height: 297px;
    margin-bottom: 0px
}

.Step3_body_box .col-xs-7 table td {
    text-align: center;
}

.OnedayTimebox .Available td {
    color: #0000D9;
}

.Step4_body_box ul label {
    display: inline-block;
    text-align: right;
    margin-right: 3px
}

.Step4_body_box ul label i {
    color: red;
    vertical-align: middle;
}

.Step4_body_box ul input {
    display: inline-block;
}
/*.Step5box .panel{margin-bottom: 0px;}

.Step5box .panel-heading{border-bottom-width: 0px}*/

.Step5box .foormetbox {
    width: 90%;
    margin: 0px auto;
}

.foormetbox button {}

.Step4_body_box .Hublibox label {
    vertical-align: middle;
    margin-right: 0px
}

.ringinputbox {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}

.slide label {
    font-weight: normal;
}

.selectbox .input-group,
.Step5body_box {
    text-align: left;
}

.container-fluid {
    padding: 15px 0px 0px 0px
}

#Step2 .panel-body {
    padding: 15px 15px;
}

#Step5 .foormetbox {
    margin-top: 8px
}

.fa-chevron-right,
.fa-chevron-left {
    cursor: pointer;
}

#Step3 .OnedayTimebox {
    width: 595px;
    height: 300px
}

#Step3 .OnedayTimebox,
.#Step2 .Slidecard_box {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.fp-controlArrow {
    display: none;
}


/* Centered texts in each section
  * --------------------------------------- */
  .section{
    text-align:center;
  }

  /* Fixed header and footer.
  * --------------------------------------- */
  #header, #footer{
    position:fixed;
    width: 100%;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
  }

  #header{
    top:0px;
  }


#header .pull-left i,#header .pull-left span{vertical-align: middle;}
#header .pull-left span{margin-left: 5px}

  #footer{
    bottom:0px;
    background: #fff;    
    border-top:solid 1px #ccc;
  }

  #footef_Step1{height: 30px;line-height: 30px;color: #000}

  #footef_Step3{padding: 5px 0px;text-align: center;}

  #footef_Step3 .foormetbox{width:80%;margin: 0px auto}


  /* Bottom menu
  * --------------------------------------- */
  #infoMenu {
    bottom: 80px;
  }
  #infoMenu li a {
    color: #fff;
    z-index: 999;
  }


  .Step_panel{

  background-color: #fff; 

  }

.slide .col-xs-12{padding: 0px}

/*-------刘毅专版-补丁5-11---------*/

.Step4_body_box ul label{font-weight:400;}
.prevStep span,.prev span{margin-left: 12px}
.prevStep i,.prevStep span,.prev i,.prev span{vertical-align: middle;display: inline-block;}

