@-webkit-keyframes right-in {
  0% {
    -webkit-transform: translate3d(2000px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes right-in {
  0% {
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}


@-webkit-keyframes right-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(2000px, 0, 0);
  }
}
@keyframes right-out {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(2000px, 0, 0);
  }
}

@-webkit-keyframes left-in {
  0% {
    -webkit-transform: translate3d(-2000px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes left-in {
  0% {
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes left-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-2000px, 0, 0);
  }
}
@keyframes left-out {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-2000px, 0, 0);
  }
}


@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale(1,1);
  }

  100% {
    -webkit-transform: scale(0.1, 0.1);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1,1);
  }

  100% {
    transform: scale(0.1, 0.1);
  }
}