.nextStep, .prevStep{
   cursor: pointer;
   width: 30px;
}
.nextStep{text-align: right;}
.prevStep{text-align: left;}

.nextStep:hover, .prevStep:hover{
  color: #00FF99  
}

#loading{
	margin-top: 50px
}

#preview .form-control-static{
	text-align: left;
	margin-left: 10px;
}
#time .timeEnable{
	cursor: pointer;
	color: #1479fb;
	font-size: 20px;
	text-align: center;
}
#time tr td{
	text-align: center;
	color: gray;
	font-size: 20px;
}

#datetimeContainer{
	width: 100%;
	height: 350px;
}

#time{
	height: 300px;
}

.trunkbox{
	text-align: left;
	padding-left: 15px;
}

#licenceImg{
	position: absolute;
	width: 60px;
	height: 100%;
	right: 0;
	border: 0;
    z-index: 2;
}
#login{
	 margin: 10px auto;
}
/** inout **/
.hubTitle{
	/**
  color: #1479fb;
  font-weight: bold;
  border-top: 1px solid #1479fb;
  border-left: 1px solid #1479fb;
  border-bottom: 1px solid #1479fb; **/
  min-width: 100px;
}
#hub{/**
/**
  background-color: #1479fb !important;
  border: 1px solid #1479fb;
  color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;**/
}

.trunkbox{
		height: 40px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
}

/** 0~500px **/
@media screen and (max-width: 31.25em){
	#previewContainer .orderPanel{
		width: 98%;
	}
	#resultContainer .name{
		text-align: left;
		margin-left: 15px;
	}
	#resultContainer .value{
		text-align: left;
		margin-left: 15px;
	}
}

/** 500px ~  **/
@media screen and (min-width: 31.25em){
	#login{
	 width: 500px;
	 margin: 20px auto;
	}
	#resultContainer .name{
		text-align: right;
		padding-right: 5px;
		width: 40%;
		float: left;
	}
	#resultContainer .value{
		text-align: left;
		width: 58%;
		float: left;
	}
	

}


/** ~900px**/
@media screen and (max-width: 56.25em){
	#inOutBtn
	{
		display: block;
		width: 100%;
		text-align: center;
	}	
	#inOutBtn .btn{
	  	width: 50%;
	}
	
	#calendarContainer .return
	{
	  position: absolute;
	  height: 100%;
	  width: 20px;
	  left: 0;
	  padding-top:150px;
	  cursor: pointer;
	}

    #calendarContainer .time
	{
		position: relative;
		float: left;
		padding-left: 20px;
	}


	/**  日历小屏幕下样式 start **/
  	#calendarContainer .showDate .date
	{
		position: relative;
		width: 100%;
		height: 100%;
		float: left;
		-webkit-animation-name: left-in;
 	 	animation-name: left-in;
	}

	#calendarContainer .showDate .time
	{
		width: 98%;
		height: 100%;
		position: absolute;
		/**left: 100%; **/
		left: 0;
		-webkit-animation-name: right-out;
 	 	animation-name: right-out;
	}

	#calendarContainer .showTime .date
	{
		position: absolute;
		width: 100%;
		height: 100%;
		/**left: 100%; **/
		left: 0;
		-webkit-animation-name: left-out;
 	 	animation-name: left-out;
	}

	#calendarContainer .showTime .time
	{
		position: relative;
		width: 100%;
		height: 100%;
		float: left;
		padding-left: 20px;
		-webkit-animation-name: right-in;
 	 	animation-name: right-in;
	}
	/** IE下 小屏幕样式 **/
	#calendarContainer .showIEDate .date
	{
		position: relative;
		width: 100%;
		height: 100%;
		float: left;
	}
	#calendarContainer .showIEDate .time
	{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 100%;
	}
	#calendarContainer .showIETime .date
	{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 100%;
	}

	#calendarContainer .showIETime .time
	{
		position: relative;
		width: 95%;
		height: 100%;
		float: left;
	}
	.time , .date{
		-webkit-animation-duration: 800ms;
		animation-duration:800ms;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	/**  日历控制 end **/

} 

/** 900px ~**/
@media screen and (min-width: 56.25em){
	#inOutBtn .btn{
	  	width: 200px;
	}
	#hub{
		width: 300px;
	}

	#calendarContainer .date{
		width: 40%;
		float: left;
	}
	#calendarContainer .time
	{
		width: 60%;
		float: left;
		padding-left: 15px;
		padding-left: 20px;
		/**
		position: absolute;
		margin-left: 9999px; **/
	}
	#calendarContainer .return
	{
		position: absolute;
		left: 9999px;
	}

	/** **/
	#pageContain{
		max-width: 990px;
		position:relative;
		margin: 0 auto;
	}

	#submitBtn{
	  width: 100px;
	  float: right;
	  margin-right: 25px;
	}

} 

#datetimepicker12{
	margin-right: 0;
	margin-bottom: 15px;
}

.shrink
{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: shrink;
  animation-name: shrink;
  /**
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;  **/
}
/**  animation **/


/**
 * stateBox
*/
.ui-stateBox {
     border:#CCCCCC 1px solid;
     background-color:#EAEAEA;
     width:300px;
     min-height:16px;
     padding:7px;
     line-height:1;
     text-align:center;
     line-height:16px;
     overflow-y:hidden;
     position:absolute;
     top:40%;
    left:50%;
    margin-left:-150px;
    -moz-box-shadow: 0px 0px 4px #cccccc; /* FF3.5+ */
    -webkit-box-shadow: 0px 0px 4px #cccccc; /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 4px #cccccc; /* Opera 10.5, IE9, Chrome 10+ */
    z-index:999;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-family: Consolas,monaco,monospace
}
.ui-stateBox-succeed {
    border:#a7d093 1px solid;
    background-color:#ddffd5;
    z-index: 2147483647; 

} 
.ui-stateBox-error {
    border:#e08989 1px solid;
    background-color:#ffdfdf;
    z-index: 2147483647; 
}
.ui-stateBox-alert {
    border:#e1db66 1px solid;
    background-color:#ffffd7;
    z-index: 2147483647;
} 

/**  state box end/

/**  checkbox **/

.ckbox,
.rdio {
    position: relative;
}

.ckbox input[type="radio"],
.rdio input[type="radio"] {
    opacity: 0;
}

.ckbox label {
    margin-bottom: 7px !important;
    font-size: 700;
}

.ckbox label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #bbb;
    background: #fff;
}

.ckbox input[type="radio"]:disabled + label  {
    color: #999;
}

.ckbox input[type="radio"]:disabled + label:before  {
    background-color: #eee;
}

.ckbox input[type="radio"]:checked + label:after  {
    font-family: 'FontAwesome';
    content: "\F00C";
    position: absolute;
    top: 4px;
    left: 3.5px;
    display: inline-block;
    font-size: 11px;
    width: 16px;
    height: 16px;
    color: #fff;
}

.ckbox-default input[type="radio"]:checked + label:before {
    border-color: #999;
}

.ckbox-default input[type="radio"]:checked + label:after {
    color: #333;
}

.ckbox-primary input[type="radio"]:checked + label:before {
    border-color: #357EBD;
    background-color: #428BCA;
}

.ckbox-warning input[type="radio"]:checked + label:before {
    border-color: #EEA236;
    background-color: #F0AD4E;
}

.ckbox-success input[type="radio"]:checked + label:before {
    border-color: #5cb85c;
    background-color: #5cb85c;
}

.ckbox-danger input[type="radio"]:checked + label:before {
    border-color: #D43F3A;
    background-color: #D9534F;
}


.has-error label:before{border-color: red}
/**  checkbox **/

/** fullpage**/
html { overflow: hidden;}
body { width: 100%;overflow: hidden;}
#pageContain { overflow: hidden;}
.page { display: none; width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0;}
.contain { width: 100%; height: 100%; display: none; position: relative; z-index: 0;}
.current .contain, .slide .contain { display: block;}
.current { display: block; z-index: 1;}
.slide { display: block; z-index: 2;}
.swipe { display: block; z-index: 3; transition-duration: 0ms !important; -webkit-transition-duration: 0ms !important;}

/**  fullpage**/
/** **/
#pageContain .container-fluid{
	padding: 0;
	height: inherit;
}

#pageContain .container-fluid .panel{
	height: inherit;
	margin-bottom: 10px;
}

#loadContainer .panel ,#preview .container-fluid{
	position: relative;
}
/** 页脚 **/
#loadFoot,#previewFoot{
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 3
}
#previewFoot{
	padding: 0;
}  
/** 页脚 **/
/** 图标 **/
.logobox{
	text-align: center;
	height: 40px;
}
.logobox img{
	height: 40px;
	width: 40px;
}
/** 图标 **/

/**  fullpage**/

/** load 
.ckbox-success input[type="radio"]:checked + label{
	color: green;
}**/
.ckbox-success label{
	color: green;
}
#loadFoot span{
	margin-left: 10px;
}
.Slidcontainerpano .new{
	/** #F00 **/
	border:1px dashed blue;
}
.orderPanel .panel-body{
	padding-left: 0;
	padding-right: 0;
}
.orderPanel li span{
	min-width: 60px;
	margin-right: 5px;
	text-align: right;
	display: inline-block;
	overflow: hidden;
}
.orderPanel li .loadInfoStyle{
	display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 130px;
    overflow: hidden;
}
.orderPanel .panel-heading em:hover{
	color: red;
}

.Slidcontainerpano .col-xs-1 {
  padding: 52px 10px;
  cursor: pointer;
  -moz-user-select: none;  
  -webkit-user-select: none;  
  -ms-user-select: none;  
}
.Slidcontainerpano .col-xs-1:hover{
	color: #00FF99
}
.p_x_box_wrapper {
  position: relative;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
}
.Slidcontainer {
  max-width: 83.3%;
  margin: 0;
  height: 135px;
}
 .Slidcontainer .Slidecard_box {
  height: 135px;
  width: 0;
  left: 0;
}
.sub_x_box_scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
/** load **/

/** preview **/
#carrierContainer .scrollWrap{
  overflow-y: auto;
  height: 100%;
  padding:10px 0 80px 0;
}



/**  preview **/


/** result **/
.result{
	margin-bottom: 20px;
}
.apptSuccess{
	color: green;
}
.namestyle{
	font-weight: 700;
}
.opBtn .btn{
	width: 170px;
}

/** calendar **/
#OnedayTimebox1{
	height: 300px;
	min-width: 620px;
	width: 100%;
}
#OnedayTimebox1 .date{
	width: 50%;
	float: left;
}
#OnedayTimebox1 .time{
	width: 50%;
	float: left;
	padding-left: 20px;
}
/** carrierContainer**/
#carrierContainer ul li{
	min-width: 320px;
}
/**  **/
#resultContainer .name ,#resultContainer .value{
	padding-left: 0;
	padding-right:0;
	padding-bottom: 15px;
}
#time .timeBorder{
	border: 2px solid red;
}
.opBtn .btn{
	margin-bottom: 20px;
}

/** dialog 拓展**/
.waring .art-dialog-header{
	  background-color: #eaeaea;
}
.waring .art-dialog-footer{
	background-color: #eaeaea;
	padding-bottom: 10px;
	padding-top: 10px;
}
.waring .art-dialog-content .fa{
  color: rgb(250, 97, 97);
  margin-right: 5px;
  font-size: 20px
}
.waring .art-dialog-content .waring-content{
 /**	font-family: "lucida Grande",Verdana,"Microsoft YaHei"; **/
 	font-family: Consolas,monaco,monospace
}
/** login 拓展**/
 .validate.art-dialog{
 	border-radius: 4px;
 	border: 1px solid #ccc
 }
.validate .art-dialog-body{
	padding: 10px 7px 10px 7px;
	font-family: consolas;
}
.validate .valiIcon{
  color: RGB(250 ,171 ,32);
  font-size: 20px;
  padding-right: 7px;
  vertical-align: middle
}
/** dialog 拓展 **/
