#preview .form-control-static{
	text-align: left;
	margin-left: 10px;
}
#time .timeEnable{
	cursor: pointer;
	color: #1479fb;
	font-size: initial;
	text-align: center;
}
#time td{
	font-size: initial;
	text-align: center;
	color: "grey";
}

#datetimeContainer{
	/*width: 100%;
	height: 350px;*/
}

#time{
	/*height: 300px;*/
}

#trunkbox{
	/*text-align: left;
	margin-left: 15px;*/
}


#licenceImg{
	position: absolute;
	width: 60px;
	height: 100%;
	right: 0;
	border: 0;
    z-index: 2;
}

@media only screen and (max-width: 900px){
	#inOutBtn
	{
		display: block;
		width: 98%;
		text-align: center;
	}	
	#inOutBtn .btn{
	  	width: 49%;
	}

	
	#calendarContainer .return
	{
	  position: absolute;
	  height: 100%;
	  width: 20px;
	  left: 0;
	  padding-top:150px;
	  cursor: pointer;
	}

    #calendarContainer .time
	{
		position: relative;
		float: left;
	/*	margin-left: 20px;*/
	}


	/**  日历小屏幕下样式 start **/
  	#calendarContainer .showDate .date
	{
		position: relative;
		width: 100%;
		height: 100%;
		float: left;
		-webkit-animation-name: left-in;
 	 	animation-name: left-in;
	}

	#calendarContainer .showDate .time
	{
		/*width: 98%;
		height: 100%;*/
		position: absolute;
		/**left: 100%; **/
	/*	left: 0;*/
		-webkit-animation-name: right-out;
 	 	animation-name: right-out;
	}

	#calendarContainer .showTime .date
	{
		position: absolute;
		width: 100%;
		height: 100%;
		/**left: 100%; **/
		left: 0;
		-webkit-animation-name: left-out;
 	 	animation-name: left-out;
	}

	#calendarContainer .showTime .time
	{
		position: relative;
		width: 95%;
		height: 100%;
		float: left;
		-webkit-animation-name: right-in;
 	 	animation-name: right-in;
	}
	/** IE下 小屏幕样式 **/
	#calendarContainer .showIEDate .date
	{
		position: relative;
		width: 100%;
		height: 100%;
		float: left;
	}
	#calendarContainer .showIEDate .time
	{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 100%;
	}
	#calendarContainer .showIETime .date
	{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 100%;
	}

	#calendarContainer .showIETime .time
	{
		position: relative;
		width: 95%;
		height: 100%;
		float: left;
	}
	.time , .date{
		-webkit-animation-duration: 800ms;
		animation-duration:800ms;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	/**  日历控制 end **/


} 

/** 横排效果**/
@media only screen and (min-width: 900px){
	#calendarContainer .date{
		/*width: 40%;*/
	}
	#calendarContainer .time
	{
		/*width: 60%;*/
		/*float: left;*/
		/**
		position: absolute;
		margin-left: 9999px; **/
	}
	#calendarContainer .return
	{
		position: absolute;
		left: 9999px;
	}


	/** **/
	#pageContain{
		max-width: 990px;
		position:relative;
		margin: 0 auto;
	}

	
} 

#datetimepicker12{
	/*margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;*/
}


.shrink
{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: shrink;
  animation-name: shrink;
  /**
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;  **/
}
/**  animation **/


/**
 * stateBox
*/
.ui-stateBox {
     border:#CCCCCC 1px solid;
     background-color:#EAEAEA;
     width:300px;
     min-height:16px;
     padding:7px;
     line-height:1;
     text-align:center;
     line-height:16px;
     overflow-y:hidden;
     position:absolute;
     top:40%;
     left:50%;
     margin-left:-150px;
     -moz-box-shadow: 0px 0px 4px #cccccc; /* FF3.5+ */
     -webkit-box-shadow: 0px 0px 4px #cccccc; /* Saf3.0+, Chrome */
     box-shadow: 0px 0px 4px #cccccc; /* Opera 10.5, IE9, Chrome 10+ */
     z-index:999;
}
.ui-stateBox-succeed {
    border:#a7d093 1px solid;
    background-color:#ddffd5;
    z-index: 2147483647; 
} 
.ui-stateBox-error {
    border:#e08989 1px solid;
    background-color:#ffdfdf;
    z-index: 2147483647; 
}
.ui-stateBox-alert {
    border:#e1db66 1px solid;
    background-color:#ffffd7;
    z-index: 2147483647;
} 

/**  state box end/

/**  checkbox **/

.ckbox,
.rdio {
    position: relative;
}

.ckbox input[type="checkbox"],
.rdio input[type="radio"] {
    opacity: 0;
}

.ckbox label,
.rdio label {
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 7px !important;
    font-size: 300;
}

.ckbox label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #bbb;
    background: #fff;
}

.ckbox input[type="checkbox"]:disabled + label  {
    color: #999;
}

.ckbox input[type="checkbox"]:disabled + label:before  {
    background-color: #eee;
}

.ckbox input[type="checkbox"]:checked + label:after  {
    font-family: 'FontAwesome';
    content: "\F00C";
    position: absolute;
    top: 4px;
    left: 3.5px;
    display: inline-block;
    font-size: 11px;
    width: 16px;
    height: 16px;
    color: #fff;
}

.ckbox-default input[type="checkbox"]:checked + label:before {
    border-color: #999;
}

.ckbox-default input[type="checkbox"]:checked + label:after {
    color: #333;
}




.ckbox-primary input[type="checkbox"]:checked + label:before {
    border-color: #357EBD;
    background-color: #428BCA;
}

.ckbox-warning input[type="checkbox"]:checked + label:before {
    border-color: #EEA236;
    background-color: #F0AD4E;
}

.ckbox-success input[type="checkbox"]:checked + label:before {
    border-color: #5cb85c;
    background-color: #5cb85c;
}

.ckbox-danger input[type="checkbox"]:checked + label:before {
    border-color: #D43F3A;
    background-color: #D9534F;
}


.has-error label:before{border-color: red}
/**  checkbox **/

/** fullpage**/
html { overflow: hidden;}
body { width: 100%;  *cursor: default;
overflow: hidden; font: 16px/1.5 "Microsoft YaHei", Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;}
#pageContain { overflow: hidden;}
.page { display: none; width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0;}
.contain { width: 100%; height: 100%; display: none; position: relative; z-index: 0;}
.current .contain, .slide .contain { display: block;}
.current { display: block; z-index: 1;}
.slide { display: block; z-index: 2;}
.swipe { display: block; z-index: 3; transition-duration: 0ms !important; -webkit-transition-duration: 0ms !important;}

/**  fullpage**/
/** **/
#pageContain .container-fluid{
	padding: 0;
	height: inherit;
}
#pageContain .container-fluid .panel{
	height: inherit;
}
#pageContain .container-fluid .panel{
	height: inherit;
}

#loadContainer .panel ,#preview .container-fluid{
	position: relative;
}
#loadFoot,#submitBtn{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.logobox{
	text-align: center;
	height: 50px;
}


