 <!-- 修改--> 
 <div id="addExtAttrContainer" style="width:780px; max-height: 482px;
  overflow-x: hidden;overflow-y: auto;">
    <div id="" class="tab-pane">
        <form class="form-horizontal" role="form" id="eidt-extattr-form">
          <div class="form-group">
            <label for="packages_content" class="col-sm-3 control-label"><span class="red_star">*&nbsp;</span>Attribute Name:</label>
            <div class="col-sm-5">
                 <input id="attr_name" name="attr_name" type="text" class="form-control " style=" width: 272px; "  placeholder="Attribute Name" value="{{model.attr_name}}" />
            </div>
        </div>
        <div class="form-group">
            <label for="packages_content" class="col-sm-3 control-label"><span class="red_star">*&nbsp;</span>Display Type:</label>
            <div class="col-sm-5">
                 <select id="display_type" style=" width: 272px; "  name="display_type" >
                 <option value=""></option>
                    {{#each model.displayTypes}}
                        <option value="{{this.display_type}}"
                            {{#ifCond this.value  ./model.display_type }}
                                selected = "true"
                            {{/ifCond}}>
                            {{this.display_type_name}}
                        </option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div id="const-box" class="const-box">
        	<fieldset class="fieldset">
        		<legend class="legend">constraint</legend>
        	{{#each model.basicRules}}
        		<label class="f-normal"><input name="const" type="checkbox" value="{{this.rule_id}}">{{this.rule_name}}</label>
        	{{/each}}
        	</fieldset>
        </div>
        <div class="form-group" id="extattr-value-list">
            <!-- 添加值信息 表格形式 -->
        </div>
        <div class="form-group">
            <label for="packages_content2" class="col-sm-3 control-label"><span class=""></span>Description :</label>
            <div class="col-sm-7">
                <textarea class="form-control" rows="3" id="description" name="description">{{model.description}}</textarea>
            </div>
        </div>
        <input id="attr_id" type="hidden" value="{{model.attr_id}}"/>
        </form>
    </div>
</div>
<div class="clear"></div>