<style>

	div.box 
	{
		height: 2.85em;
		/*padding: 15px 20px 10px 20px;*/
	}
	div.box.opened
	{
		height: auto;
	}
	div.box .toggle .closed,
	div.box.opened .toggle .open
	{
		display: none;
	}
	div.box .toggle .opened,
	div.box.opened .toggle .closed 
	{
		display: inline;
	}

	#search_result tbody ._desc{visibility:hidden}
    .search_result_list .search_result_body { border:solid 1px #ddd; text-align:center;}

</style>
<div class="search_result_list">
	<div>
		<div class="search_result_panel_title">
			<span class="panel-heading"><i class="fa fa-table"></i>&nbsp;Attributes</span>
			<a id="cardView" name="switchView" class="right pointer"><i class="fa fa-th-large fa-2x" style="margin-top:8px;margin-right:8px;"></i></a>
			<a id="listView" name="switchView" class="right pointer"><i class="fa fa-th-list fa-2x" style="margin-top:8px;margin-right:8px;"></i></a>
		</div>
		<div id="list" class="search_result_body ">
			<table class="table table-striped" cellspacing="0">
				<thead>
					<tr>
						<th width="20%">Attribute Name</th>
						<th width="15%">Display Type</th>
						<th width="25%">Attribute Values</th>
						<th width="20%">Description</th>
						<th width="20%">Operation</th>
					</tr>
				</thead>
				<tbody>
				{{#if resultList}}
					{{#each resultList}}
					<tr class="attr_id" data-attr_id="{{this.attr_id}}">
						<td style="text-align: center;">{{this.attr_name}}</td>
						<td style="text-align: center;">{{this.display_type_name }}</td>
						<td valign="middle">
						{{#each this.attrvalues}}
							<div style="">
								<div class="center" style="text-align: right; width: 100px; display: inline-block">{{this.item_name}} :</div>
								<div style="text-align: left; display: inline-block">{{this.item_value}}</div>
							</div>
						{{/each}}
						</td>
						<td valign="middle">
							<div class="_desc tcenter box">{{this.description}}</div>
						</td>
						<td valign="middle" style="text-align: center">

							<div class="btn-group" role="group">

							{{#xifCond this.disabled 1 '='}}
								<a href="javascript:void(0)" is_used="true" name="modify" class="btn btn-default disabled" title="Edit" style="font-size: 12px; height: 28px; opacity: 0; cursor: default;"> <i class="fa fa-pencil" style="cursor: default;"></i> Edit</a> 
								<a href="javascript:void(0)" name="enable" class="btn btn-default " title="Enable" style="font-size: 12px; height: 28px;"> <i class="fa fa-check-circle"></i> Enable</a> 
							{{/xifCond}}
							{{#xifCond this.disabled 0 '='}}
								{{#xifCond this.is_used true '='}}
								<a href="javascript:void(0)" is_used="true" name="modify" class="btn btn-default disabled" title="Edit" style="font-size: 12px; height: 28px; opacity: 0; cursor: default;"> <i class="fa fa-pencil" style="cursor: default;"></i> Edit</a>
								{{/xifCond}}
								{{#xifCond this.is_used true '!='}}
								<a href="javascript:void(0)" is_used="false" name="modify" class="btn btn-default" title="Edit" style="font-size: 12px; height: 28px;"> <i class="fa fa-pencil"></i> Edit</a> 
								{{/xifCond}}
								<a href="javascript:void(0)" name="disable" class="btn btn-default" title="Disable" style="font-size: 12px; height: 28px;"> <i class="fa fa-minus-circle"></i> Disable</a> 
							{{/xifCond}}

							</div>
						</td>
					</tr>
					{{/each}}
				{{else}}
					<tr>
						<td class="nodata" colspan="100%">No Data.</td>
					</tr>
				{{/if}}
				</tbody>
			</table>
		</div>
	</div>
	
	<div id="card" class="card-style hidden">
	{{#if resultList}}
		{{#each resultList}}
		{{#xifCond this.disabled 0 '='}}
		<div data-attr_id="{{this.attr_id}}" class="item attr_id pointer hvr-curl-top-left editable">
		{{/xifCond}}
		{{#xifCond this.disabled 1 '='}}
		<div data-attr_id="{{this.attr_id}}" class="item attr_id hvr-curl-top-left gray">
		{{/xifCond}}
		    <div class="attr-box" >	
				<div id="title">
					<div class="attr-name" >{{this.attr_name}}</div>
				{{#xifCond this.disabled 0 '='}}
					<a class="aui_close cbtn" name="disable" title="Disable">-</a>
				{{/xifCond}}
				{{#xifCond this.disabled 1 '='}}
					<a class="cbtn cbtn_add pointer" name="enable" title="Enable"><i class="fa fa-plus"></i></a>
				{{/xifCond}}	
				</div>
				<div class="attr-content hidden">
					<lable class="tcenter col-sm-4 control-label lable">{{this.description}}: </lable>
					<div class="attr-vbox">
					{{#xifCond this.display_type 5 '='}}
						<select id="selAttr-{{this.attr_id}}" class="select2" style="width:100%;">
						{{#each this.attrvalues}}
			                <option value="{{this.item_value}}">{{this.item_name}}</option>
						{{/each}}
						</select>
					{{/xifCond}}
					{{#xifCond this.display_type 2 '='}}
						<textarea rows="1" cols="16" style="height:32px;"></textarea>
					{{/xifCond}}
					</div>
					<div class="_desc tcenter box">{{this.description}}</div>
				</div>
				<div>
					<lable class="tcenter col-sm-7 control-label lable">Display Type: </lable>
					<div class="attr-vbox">{{this.display_type_name}}</div>
					<lable class="tcenter col-sm-7 control-label lable">Attribute Values: </lable>
					<div class="attr-vbox">
					{{#xifCond this.display_type 5 '='}}
						<select id="selAttr-{{this.attr_id}}" class="select2" style="width:100%;">
						{{#each this.attrvalues}}
			                <option value="{{this.item_value}}">{{this.item_name}}</option>
						{{/each}}
						</select>
					{{/xifCond}}
					{{#xifCond this.display_type 2 '='}}
						<textarea rows="1" cols="11" style="height:32px;"></textarea>
					{{/xifCond}}
					</div>
					<lable class="tcenter col-sm-7 control-label lable">Description: </lable>
					<div class="attr-vbox">{{this.description}}</div>
				</div>
			</div>
			<div class="ops-box hidden" >
				<div class="btn-group" role="group">
				{{#xifCond this.disabled 1 '='}}
					<a href="javascript:void(0)" is_used="true" name="modify" class="btn btn-default disabled" title="Edit" style="font-size: 12px; height: 28px; opacity: 0; cursor: default;"> <i class="fa fa-pencil" style="cursor: default;"></i></a> 
					<a href="javascript:void(0)" name="enable" class="btn btn-default " title="Enable" style="font-size: 12px; height: 28px;"> <i class="fa fa-check-circle"></i></a> 
				{{/xifCond}}
				{{#xifCond this.disabled 0 '='}}
					{{#xifCond this.is_used true '='}}
					<a href="javascript:void(0)" is_used="true" name="modify" class="btn btn-default disabled" title="Edit" style="font-size: 12px; height: 28px; opacity: 0; cursor: default;"> <i class="fa fa-pencil" style="cursor: default;"></i></a>
					{{/xifCond}}
					{{#xifCond this.is_used true '!='}}
					<a href="javascript:void(0)" is_used="false" name="modify" class="btn btn-default" title="Edit" style="font-size: 12px; height: 28px;"> <i class="fa fa-pencil"></i></a> 
					{{/xifCond}}
					<a href="javascript:void(0)" name="disable" class="btn btn-default" title="Disable" style="font-size: 12px; height: 28px;"> <i class="fa fa-minus-circle"></i></a> 
				{{/xifCond}}
				</div>
			</div>
		</div>
		{{/each}}
	{{else}}
		<tr>
			<td class="nodata" colspan="100%">No Data.</td>
		</tr>
	{{/if}}
	</div>
	
	<div class="pagebox_right" style="margin-top: 10px; height: 40px; display: block;">
		<ul id="pagination" class="clearfix pagebox"></ul>
	</div>

</div>
