<div id="advanced_search_tab_content">

    <form class="form-inline">
        <div class="form-group col-md-3">
            <input id="attr_name" value="" type="text" class="form-control" placeholder="Attribution Name" style="width:100%;" />
        </div>

        <div class="form-group col-md-2"><select id="display_type" name="display_type" style="width:100%;">
            <option value=""></option>
            {{#each displayTypes}}
            <option value="{{this.display_type}}">{{this.display_type_name}}</option>
            {{/each}}
        </select></div>

        <div class="form-group col-md-2">
            <select id="status" name="status" style="width:100%;">
                <option value=""></option>
                <option value="1">Disabled</option>
                <option value="0" selected>Enabled</option>

            </select>
        </div>

        <div class="form-group col-md-2"><a id="advanced_search_btn" name="advanced_search_btn" href="javascript:void(0)" class="btn btn-primary"><i class="fa fa-search"></i>   Search</a></div>

        <a id="addExtAttr" href="javascript:void(0)" class="btn btn-warning" ><i class="fa fa-plus"></i>   Add Attribution</a>
    </form>
    
</div>


