<table class="zebraTable">
    <thead>
        <tr>
            <th>ACCOUNT</th>
            <th>ADID</th>
            <th>EMPLOYE_NAME</th>
            <th>EMAIL</th>
            <th>SELECT</th>
        </tr>
    </thead>
    <tbody>
        {{#each admins}}
        <tr data-adid="{{this.adid}}">
            <td>{{this.account}}</td>
            <td>{{this.adid}}</td>
            <td>{{this.employe_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.ps_id}}</td>
        </tr>
        {{/each}}
        <tr>
            <th colspan="4">
                当前：{{pageCtrl.pageNo}}&nbsp;&nbsp;
                页数：{{pageCtrl.pageCount}}&nbsp;&nbsp;
                总数：{{pageCtrl.allCount}}&nbsp;&nbsp;    
                <button data-pageno="1" {{#unless pageCtrl.first}}disabled{{/unless}} >首页</button>&nbsp;&nbsp; 
                <button data-pageplus="-1" {{#unless pageCtrl.fornt}}disabled{{/unless}} >上一页</button>&nbsp;&nbsp; 
                <button data-pageplus="1" {{#unless pageCtrl.next}}disabled{{/unless}} >下一页</button>&nbsp;&nbsp; 
                <button data-pageno="{{pageCtrl.pageCount}}" {{#unless pageCtrl.last}}disabled{{/unless}} >末页</button>
            </th>
        </tr>
    </tbody>
</table>
