<table>
<tbody>
    <tr>
        <th>ADID</th>
        <td>
            <input type="number" name="adid" value="{{ model.adid }}" disabled="disabled" />
        </td>
    </tr>
    <tr>
        <th>ps_id</th>
        <td>
         <select name="ps_id">
            {{#each model.selectdata}}            
             <option {{#sif ../model.ps_id this.ps_id}} selected="selected" {{/sif}} value="{{this.ps_id}}">{{this.title}}</option>
            {{/each}}
         </select>
        </td>
    </tr>
    <tr>
        <th>ACCOUNT</th>
        <td>
            <input type="text" name="account" value="{{model.account}}"/>
        </td>
    </tr>
    <tr>
        <th>EMPLOYE_NAME</th>
        <td>
            <input type="text" name="employe_name" value="{{model.employe_name}}"/>
        </td>
    </tr>
    <tr>
        <th>EMAIL</th>
        <td>
            <input type="email" name="email" value="{{model.email}}"/>
        </td>
    </tr>
    {{#if submitBtn}}
        <tr>
            <td colspan="2">
                <button class="normal-green">提交</button>
            </td>
        </tr>
    {{/if}}
</tbody>
</table>
