body{color: red;text-align: center;padding-top: 15px;}

#photobox{height: 265px;}

#photobox img{width: 200px;max-width:200px;}

#winningbox{margin:0px;width: 100%}

#winningbox img{width: 150px;max-width: 150px;}

.brebox{width: 100%;border-bottom: 1px solid #ccc;margin:10px 0px;}

label{display:block;width: 100%;text-align: left;}
h4{width: 100%;position: relative;height: 20px;margin:0px;padding: 0px}
h4 a{position: absolute;right: 5px;}