ul li{list-style-type:none;}

.container { width:98% !important;}
.btn-group {margin-bottom:0;}

td ul{
	padding: 0;
}

.nav-tabs {
  background: #eee;
  border: 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid #ddd;
  border-bottom: 0;
}

.tab-content {
  padding: 15px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #ddd;
  border-top: 0;
}

.nav-tabs > li > a {
  border: 0;
  padding: 14px 20px;
  color: #666;
  font-weight: 500;
  font-size: 14px;
}

h4, .h4 {
  line-height: 24px;
}

.nav-wizard > li.active a, .nav-wizard > li.active a:hover, .nav-wizard > li.active a:focus, .nav-wizard > li.active a:active {
  background-color: #4e5154;
  color: #fff;
}

.panel-wizard .tab-content {
  border: 1px solid #ddd;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border-bottom: 0;
}

.img-rel-block{
  height:260px;
  width:260px;
  text-align:center;
  position: relative;
}

.tab-content {
  padding: 15px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #ddd;
  border-top: 0;
}

.nav-wizard {
  background-color: #ddd;
  margin-bottom: 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 5px;
}

/**列表弹出框*/
fieldset { border:solid;}
.rb-grid { padding:0;text-align:left;} 

.rb-overlay {background:#fff;}

.rb-title { height:45px; background-color:#428bca;}
.rb-close { color:#fff;font-size:0.9em;}

.product-list tbody tr td { vertical-align:middle;}

/**图片*/
.ch-img-1 {
  background-size: 200px; 
  height: 150px;
  width: 150px; 
  margin: auto;
}

.ch-img-2 {background-image: url(../img/unable_to_provide_photo.jpg); background-size: 200px; height: 150px;width: 150px; margin: auto;}
.ch-info p {  padding: 5px 5px;  margin: 0 45px;border-top:0;}



.product-list legend{
display: block;
 width: auto; 
 padding: 0;
 margin-bottom: 0px; 
 font-size:normal;
 line-height: normal;
 color: none; 
 border: none; 
 border-bottom:none; 
}

.fieldsetconte ul { padding:0;}

.checkin{margin:0px;padding: 0px;max-width:100%;}
.checkin,.SelectMorebox{font-size: 12px;font-family:Tahoma, Helvetica,"Microsoft Yahei","微软雅黑", Arial, STHeiti;margin:0px;padding: 0px;}

.checkin .clearfix:after{content:"\0020";display:block;visibility:hidden;height:0;clear:both;}
.checkin .fl{display:inline-block; float:left;}
.checkin .fr{display:inline-block; float:right;}

.checkin span,.checkin i,.checkin em,.checkin label,.checkin button{display: inline-block;vertical-align: middle;}
.checkin_box,.topthead table{border-spacing: 0px;}
.checkin_box th,.topthead table th{border: 1px solid #CFCFCF;border-width: 0px 1px 1px 0px;text-align: center; }
.checkin_box th:last-child,.topthead table th:last-child{border-right: 0px;}
.checkin_box td,.checkin_box th,.checkin_box,.topthead table th{margin: 0px}
.checkin_box th,.topthead table th{padding:0px;}
.checkin_box tr.tr_itme_style > td{padding: 10px;}

.checkin_box .trOn td,.trOn td .ring_title em,.trOn .fieldset_tfoot em{background: #F5F5F5}
.checkin_box .trOff td,.trOff td .ring_title em,.trOff .fieldset_tfoot em{background:transparent;}


.checkin_box .TFOOTbutton td{padding:0px;height: 35px;}
.checkin_box .TFOOTbutton td div{margin-right: 20px;margin-top:3px}
.checkin_box ul,.checkin_box dl{list-style-type:none;padding: 0px;margin: 0px}
.checkin_box{width: 100%;border:0px;border-width: 0px;}
.checkin_box thead th,.topthead table thead th{height: 35px;color: #353F42;}

.checkin_box button{cursor: pointer;}
/*.topthead .checkin_box{min-width: 1238px}*/

.td_TRAILER span,.td_TRAILER i,.td_TRAILER em,.td_TRACTOR legend span,.td_TRACTOR legend i{font-style: normal;margin: 0px;}
.td_TRAILER fieldset,.td_TRACTOR fieldset,.td_TIME .Time fieldset,.td_TIME .Time{border-width: 2px;padding-bottom: 5px;border-style: solid;margin: 0px;padding: 0px;}
.td_legend{margin-left: 20px;margin-right: auto;}

.E_DLO_ID { color:red;}

.td_legend,.ring_title em,.fieldset_tfoot em,.td_TRACTOR legend,.Time .E_DLO_ID{font-size: 14px}

.fieldset_itme,.Time_fieldset{margin-bottom: 22px;width: 98%;margin-left: auto;margin-right: auto;}
.fieldset_itme{margin-top: 6px;}
.fieldset_itme fieldset,.Time_fieldset fieldset{text-align: center;margin-bottom: 10px;padding: 0px; text-align: -moz-center;}
.fieldset_itme fieldset legend{margin-left: auto;margin-right: auto}
.td_TRACTOR fieldset legend{margin-right: auto;margin-left: 20px}

.td_TRAILER fieldset legend i,.td_TRACTOR legend i{font-size: 100%;width: 20px;text-align: center;}
.td_TRAILER fieldset legend i{color: #00F}
.td_TRACTOR legend i{color: #008000}


.ring_title,.fieldset_tfoot{position: absolute;width: 100%;text-align: right;}

.ring_title em,.fieldset_tfoot em{padding-left: 5px;background: #FCFCFC;padding-right: 5px;}

.fieldset_tfoot em{margin-right: 12px}
.ring_title em{margin-right: 5px}

.td_TRAILER .ring_title{top:-2px;}
.td_TRAILER .fieldset_tfoot{bottom: -8px}

.td_TRAILER .E_DLO_ID,.td_TRACTOR .Sub_trailer,.Time .E_DLO_ID{color: red}

.td_TRAILER .Sub_trailer{color: #00F}



/*xx*/
.TRAILER{border-color:#00F;position: relative;border-radius:3px;-webkit-border-radius:3px}

.fieldset_itme fieldset,.Time_fieldset fieldset{border-color: #930}

.itme_legend .DOOR,.itme_legend .Reserved{padding-right: 5px;padding-left:5px; }
.itme_legend .Reserved{margin:0px 6px}

.TRAILER .itme_legend span,.TRAILER .itme_legend button{font-size: 12px}

.TRAILER .itme_legend span,.Time .Time_fieldset .td_legend span{color: #930}

.fieldsetconte,.Tractor_ulitme{width:97%;margin-left: auto;margin-right: auto;margin-bottom: 10px }
.fieldsetconte{margin-top: 8px;}
.fieldsetconte .fl,.fieldsetconte .fr{width: 50%;}

.Tractor_ulitme{margin-top: 10px}

.fieldsetconte .fl span,.fieldsetconte .fr span,.Tractor_ulitme span,.Time_fieldset span,.Log_container span{line-height: 22px}

.fieldsetconte .NUMBERTYPE{width:100px;text-align: right;margin-right: 3px;display:inline-block;}
.fieldsetconte .NUMBER{text-align: left;}

.fieldsetconte .fr .select{margin-right: 8px}

.fieldsetconte .blue{color:#00F}
.fieldsetconte .red{color: red}


.fieldsetconte .select span,.fieldsetconte .select em{border:1px solid #DADADA;background: #F1F1F1;}

.fieldsetconte .select span{height: 22px;line-height: 22px;margin-right: 0px;text-align: center;padding:0px 6px;border-top-left-radius:4px;-webkit-border-top-left-radius:4px;border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px;border-right-width:0px;}


.fieldsetconte .select em{font-style: normal; border-top-right-radius:4px;-webkit-border-top-right-radius:4px;border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px;cursor: pointer;height: 22px;width: 16px;border-left:solid 1px #DADADA; }

.td_TRAILER em .button-dropdown{
display: inline-block;
border-color: #777 rgba(0, 0, 0, 0);
border-style: solid;
border-width: 4px 4px 0 4px;
height: 0;
width: 0;
margin-left: 3px;
margin-top: 4px;
}




/*2*/

.td_TRACTOR fieldset{border-color:#008000;-webkit-border-radius:3px;border-radius:3px;}
/*.Tractor_ulitme ul li,.Log_container ul li{margin:4px 0px;}*/

.td_TRACTOR .deliverystyle{color:#008000}
.Tractor_ulitme .namestyle{width: 120px;text-align: right;margin-right: 3px}
.Tractor_ulitme .valstyle{text-align: left;}



/*3*/
.td_TIME .Time{border-color:#00F;border-radius:3px;-webkit-border-radius:3px}
.Time_fieldset .detail{color: #008000;margin-left: 5px;text-decoration: underline;cursor: pointer;}
.Timetitle{width: 97%;text-align: right;margin: 12px auto;padding-right: 12px}
.Time_fieldset ul{width: 90%;margin-left: auto;margin-right: auto;margin-bottom: 10px}



/*4*/
.Log_container .Morestyle,.Log_container .valuestyle{cursor: pointer;text-decoration: underline;text-align: center;}
.Log_container label{width: 100%;text-align: right;}

.Log_container .Morestyle{color: #008000;width: }
.Log_container .valuestyle{margin-left: 5px;color: #F60}
.Log_container .box1px{border-bottom: 1px dashed #ccc;line-height: 0px;margin:8px 0px;}

/*---*/
.TFOOTbutton td{border-bottom: 1px solid #ccc}

.SelectMorebox{position: absolute;display: none;background: #F0F0F0 url(img/menu.gif) repeat-y;border: 1px solid #ccc;padding:3px;}

.SelectMorebox a:link,.SelectMorebox a:visited{display:block;text-decoration:none;height: 26px;line-height: 26px;text-align: left;text-indent: 28px;color: #000;width: 120px}
.SelectMorebox a:hover{border: 1px solid #7EABCD;height: 24px;line-height: 24px;background: #FAFAFA;border-radius: 3px;-webkit-border-radius: 3px}

.tfootpage{width: 100%;margin:20px 0px;}
.tfootpage #pagebox{margin-left: auto;width: 660px;}
.LodingModal{position: absolute;top:0px;left: 0px;display:none;margin:0px;border-width: 0px;z-index: 499}
.loding{position: fixed;display: none;background: url(img/dy_loading.gif) no-repeat;width: 124px;height: 124px;z-index: 500}

.td_Options .Edit{border: 0px;border-style: none;background: url(img/Edit_bg.png) no-repeat;width: 60px;height: 22px;text-indent: 16px;padding: 0px;font-size: 12px;}
.td_Options .Edit:hover{background: url(img/Edit_bg_hover.png) no-repeat;color: #7F7F7F}

.td_Options .Print{border: 0px;border-style: none;background: url(img/printer_bg.png) no-repeat;width: 60px;height: 22px;text-indent: 16px;padding: 0px;margin-top: 10px;font-size: 12px}
.td_Options .Print:hover{background: url(img/printer_bg_hover.png) no-repeat;color: #7F7F7F};

#wrapper .navbar-default{background-color: #F8F8F8;border-bottom:  #E7E7E7}

.topthead{position: fixed;top:0px;margin:0px auto;display: none;background: #fff;}

.fieldset_itme fieldset legend { margin:10px;}
.field_customer_title_shipto span { width:30%;text-align:center;display:inline-block;}
fieldset+fieldset {margin-top:10px !important;}

.content-panel{

	margin-top: 30px;
}

.search-panel{
	margin-top: 30px;
}


.left-title {
border: 1px solid #bbbbbb;
background-color: #e5e5e5;
height: 30px;
font-weight: bold;
color: #333333;
padding: 5px;
font-size: 12px;
text-align: left;
}

.highlight{
	background-color:#f9f9f9;
}

.over{
	background-color:#E6F3C5;
}	

.input-length{

  height: 40px !important;
}

.form-group {
  margin-bottom: 17px !important;
}

.alert-error{

    margin-top: 10px !important;
    margin-bottom:0px !important;
}

