<div  class="panel panel-default">  
 	<div class="panel-body">
 		<div>
 			<button type="button" class="btn btn-info"  id='importDN'><span class='glyphicon glyphicon-plus'/> Import DN</button>
 			<button type="button" class="btn btn-warning"  id='updateSO'><span class='glyphicon glyphicon-plus'/> Update SO</button>
 			 &nbsp; &nbsp; &nbsp; &nbsp;<span class="download"><i> download template here :&nbsp;&nbsp;</i><a id="downloadtemplate" href="{{url}}"><i class="glyphicon glyphicon-download-alt"></i></a><span> 
 		</div>
	    <div class="line">
	    </div>
	    <div class="importAre">
	    </div>
	</div>    
</div>  
