<div class="panel-body form-horizontal" id="formAddressForm">
    <div class="form-group">
		<label for="etd" class="col-xs-3 control-label required">{{bolI18n.ETD}}</label>
		<div class="col-xs-6">
			<input type="text" class="form-control" id="etd" value="{{param.bolInfo.ETD}}"/>
		</div>
	</div>
    <div class="form-group">
        <label for="send_psid"class="col-xs-3 control-label required" >{{bolI18n.Warehouse}}</label>
        <div class="col-xs-6">
           <input type="text" class="form-control"   placeholder="From Wharehourse" id="send_psid" />
        </div>  
    </div>
    <div class="form-group">
      <label for="send_country" class="col-xs-3 control-label ">{{bolI18n.Country}}</label>
      <div class="col-xs-6">
         <select id="send_country"  class="form-control">
					{{#param.country}}
						<option value="{{this.C_ID}}">{{this.C_NAME}}</option>
					{{/param.country}}
			</select>
      </div>
   </div>
    <div class="form-group">
      <label for="send_state" class="col-xs-3 control-label">{{bolI18n.State}}</label>
      <div class="col-xs-6">
         <select id="send_state"  class="form-control">
			   </select>
      </div>
   </div>
   <div class="form-group">
      <label for="send_city" class="col-xs-3 control-label">{{bolI18n.City}}</label>
      <div class="col-xs-6">
          <select id="send_city"  class="form-control">
          </select>
      </div>
   </div>
   <div class="form-group">
      <label for="send_address" class="col-xs-3 control-label">{{bolI18n.Address}}</label>
      <div class="col-xs-6">
         <input type="text" class="form-control" id="send_address" />
      </div>
   </div>
   <div class="form-group">
      <label for="send_zipcode" class="col-xs-3 control-label">{{bolI18n.ZipCode}}</label>
      <div class="col-xs-6">
         <input type="text" class="form-control" id="send_zipcode"/> 
      </div>
   </div>
   <div class="form-group">
      <label for="send_linkman" class="col-xs-3 control-label">{{bolI18n.Contact}}</label>
      <div class="col-xs-6">
         <input type="text" class="form-control" id="send_linkman" />
      </div>
   </div>
   <div class="form-group">
      <label for="send_linkman_phone" class="col-xs-3 control-label">{{bolI18n.Phone}}</label>
      <div class="col-xs-6">
         <input type="text" class="form-control" id="send_linkman_phone" />
      </div>
   </div>
   
</div> 
<div class="footer">
	<div class="opbar">
		<button type="button" id="fromAddress_next" class="btn btn-info">{{bolI18n.Next}}</button>
	</div>	
</div>
