<br/>
<br/>
<div id="formToInfo" >
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading">
			      {{lanModel.From}}  : {{fromAddress.send_whs}}
			    </div>
			   <div class="panel-body">
					<address>
						{{fromAddress.send_address}}<br>
						{{fromAddress.send_city_name}}, {{fromAddress.send_state_name}} ,{{fromAddress.send_country_name}} {{fromAddress.send_zipCode}}<br>
						<strong><abbr title="Phone">{{lanModel.Phone}}:</abbr> {{fromAddress.send_linkman_phone}}</strong
					</address>

					<address>
						 <strong>{{fromAddress.send_linkman}}</strong><br>
						 <strong>{{lanModel.ETD}}:{{fromAddress.etd}}</strong>
					</address>
				</div>	
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-info">
			   <div class="panel-heading">
			     {{lanModel.To}}  : {{toAddress.receive_whs}}
			   </div>
			   <div class="panel-body">
					<address>
						{{toAddress.receive_address}}<br>
						{{toAddress.receive_city_name}}, {{toAddress.receive_state_name}} ,{{toAddress.receive_country_name}} {{toAddress.receive_zipCode}}<br>
						<strong><abbr title="Phone">{{lanModel.Phone}}:</abbr> {{toAddress.receive_linkman_phone}}</strong
					</address>

					<address>
						 <strong>{{toAddress.receive_linkman}}</strong><br>
						 <strong>MABD:{{toAddress.mabd}}</strong>
					</address>
			   </div>
			</div>
		</div>
</div>
<div class="opbar">
		<button type="button" id="preview_pre" class="btn btn-info">{{lanModel.Prev}}</button>
	<button type="button" id="save" class="btn btn-info">{{lanModel.Save}}</button>
</div>