<div class="panel-body form-horizontal" id="toAddressForm">
    <div class="form-group">
		<label for="mabd" class="col-xs-3 control-label required">{{bolI18n.MABD}}</label>
		<div class="col-xs-6">
			<input type="text" class="form-control" id="mabd" value="{{param.bolInfo.MABD}}" />
		</div>
	</div>
    <div class="form-group">
        <label for="receive_psid"class="col-xs-3 control-label required">{{bolI18n.Warehouse}}</label>
        <div class="col-xs-6">
          <input type="text" class="form-control " placeholder="To Wharehourse" id="receive_psid">
        </div>  
    </div>
    <div class="form-group">
      <label for="receive_country" class="col-xs-3 control-label">{{bolI18n.Country}}</label>
      <div class="col-xs-6">
         <select id="receive_country"  class="form-control">
					 {{#param.country}}
            <option value="{{this.C_ID}}">{{this.C_NAME}}</option>
           {{/param.country}}
			</select>
      </div>
   </div>
    <div class="form-group">
      <label for="receive_state" class="col-xs-3 control-label">{{bolI18n.State}}</label>
      <div class="col-xs-6">
         <select id="receive_state"  class="form-control">
			   </select>
      </div>
   </div>
   <div class="form-group">
      <label for="receive_city" class="col-xs-3 control-label">{{bolI18n.City}}</label>
      <div class="col-xs-6">
          <select id="receive_city"  class="form-control">
          </select>
      </div>
   </div>
   <div class="form-group">
      <label for="receive_address" class="col-xs-3 control-label">{{bolI18n.Address}}</label>
      <div class="col-xs-6">
         <input type="text" class="form-control" id="receive_address" />
      </div>
   </div>
   <div class="form-group">
      <label for="receive_zipcode" class="col-xs-3 control-label">{{bolI18n.ZipCode}}</label>
      <div class="col-xs-6">
         <input type="text" class="form-control" id="receive_zipcode"/> 
      </div>
   </div>
   <div class="form-group">
      <label for="receive_linkman" class="col-xs-3 control-label">{{bolI18n.Contact}}</label>
      <div class="col-xs-6">
         <input type="text" class="form-control" id="receive_linkman" />
      </div>
   </div>
   <div class="form-group">
      <label for="receive_linkman_phone" class="col-xs-3 control-label">{{bolI18n.Phone}}</label>
      <div class="col-xs-6">
         <input type="text" class="form-control" id="receive_linkman_phone" />
      </div>
   </div>
</div>  
<div class="footer">
	<div class="opbar">
		<button type="button" id="toAddress_pre" class="btn btn-info">{{bolI18n.Prev}}</button>
		<button type="button" id="toAddress_next" class="btn btn-info">{{bolI18n.Preview}}</button>
	</div>
</div>