﻿<table id="filtertable" class="filter">
    <tr>
        <td align="left">
            <div class="input-group">
                <span class="input-group-addon">Company</span>
                <input id="searchOrderCompany" type="text" class="form-control immybox immybox_witharrow" readonly="readonly" placeholder="Company" />
            </div>
        </td>
        <td align="left">
            <div class="input-group">
                <span class="input-group-addon"> MABD </span>
                <input id="searchOrderBeginRequest" type="text" placeholder="2014-11-13" class="form_datetime form-control select_in_line" style="width:150px" readonly="readonly" />
                <span class="input-group-addon">~</span>
                <input id="searchOrderEndRequest" type="text" placeholder="2014-11-13" class="form_datetime form-control select_in_line" style="width:150px" readonly="readonly" />
            </div>
        </td>
        
        <td width="120px;" align="right"></td>
    </tr>
    <tr>
        <td align="left">
            <div class="input-group">
                <span class="input-group-addon">Customer</span>
                <input id="searchOrderCustomer" type="text" class="form-control immybox immybox_witharrow" readonly="readonly" placeholder="Customer" />
            </div>
        </td>
        <td align="left">
            <div class="input-group" style="float:left;">
                <span class="input-group-addon">Order No</span>
                <input id="searchOrderPoNo" type="text" placeholder="Order No" class="form-control" style="width:150px;" />
            </div>
            
            <button type="button" id="btnOrderFilter" class="btn btn-info" style="margin-left: 20px;">Filter</button>
        </td>
        <td width="120px;" align="right">
            
        </td>
    </tr>
</table>
<div id="allTableList"></div>