<div id="details" class="tab-pane">
	<form class="form-horizontal" role="form">
	  <div class="form-group">
	    <label for="packages_content" class="col-sm-2 control-label"><span class="red_star">*</span>Load No:</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control" id="addLoadNo">
	    </div>
	  </div>
	</form>
</div>