﻿<div class="form-inline quick-search" role="form">
    <div class="form-group">
        <div class="">
            <button type="button" id="btnAddOrder" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>从列表中添加</button>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">快速检索</div>
            <input class="form-control minWith200" type="text" placeholder="请输入Order号码进行检索" id="inputQuickOrder">
        </div>
    </div>
</div>