<div class="form-inline">
    <div class="form-group col-sm-5">
        <div class="input-group">
            <span class="input-group-addon">Company</span>
            <input id="searchLoadCompany" type="text" class="form-control immybox immybox_witharrow" readonly="readonly" placeholder="Company" />
        </div>
    </div>

    <div class="form-group col-sm-5">
        <div class="input-group">
            <span class="input-group-addon">MABD</span>
            <input id="searchLoadBeginMABD" type="text" placeholder="2014-11-13" class="form_datetime form-control select_in_line" style="width:150px" readonly="readonly" />
            <span class="input-group-addon">~</span>
            <input id="searchLoadEndMABD" type="text" placeholder="2014-11-13" class="form_datetime form-control select_in_line" style="width:150px" readonly="readonly" />
        </div>
    </div>

    <div class="form-group col-sm-5">
        <div class="input-group">
            <span class="input-group-addon">Customer</span>
            <input id="searchLoadCustomer" type="text" class="form-control immybox immybox_witharrow" readonly="readonly" placeholder="Customer" />
        </div>
    </div>

    <div class="form-group col-sm-5">
        <div class="input-group">
            <span class="input-group-addon">Load No</span>
            <input id="searchLoadPoNo" type="text" placeholder="Load No" class="form-control" style="width:150px" />
        </div>
    </div>

    <div class="col-sm-2">
        <button id="btnLoadFilter" type="button" class="btn btn-info">Filter</button>
        <button id="btnReset" type="button" class="btn btn-default">Reset</button>
    </div>
</div>
