<div class="panel panel-default">
	<div class="panel-body">
		<div class="panel panel-default" id="searchOrders">
			<table id="filtertable" class="filter">
				<tr>
					<td align="left">
						<div class="input-group">
						  <span class="input-group-addon">Company</span>
                            <input id="searchCompany" type="text" class="form-control immybox immybox_witharrow" readonly="readonly" placeholder="Company" />
						</div>
					</td>
					<td align="left">
						<div class="input-group">
						  <span class="input-group-addon">PO No</span>
						  <input id="searchPoNo" type="text" placeholder="Po No" class="form-control" style="width:150px" />
						</div>
					</td>
					<td width="120px;" align="right">
					</td>
				</tr>
				<tr>
					<td align="left">
						<div class="input-group">
						  <span class="input-group-addon">Customer</span>
                            <input id="searchCustomer" type="text" class="form-control immybox immybox_witharrow" readonly="readonly" placeholder="Customer" />
						</div>
					</td>
					<td align="left">
						<div class="input-group">
						  <span class="input-group-addon"> Request </span>
                            <input id="searchBeginRequest" type="text" placeholder="2014-11-13" class="form_datetime form-control select_in_line" style="width:150px" readonly="readonly" />
						  <span class="input-group-addon">~</span>
                            <input id="searchEndRequest" type="date" placeholder="2014-11-13" class="form_datetime form-control select_in_line" style="width:150px" readonly="readonly" />
						</div>
					</td>
					<td width="120px;" align="right">
						<button id="btnSearchFilter" type="button" class="btn btn-primary">Filter</button>
					</td>
				</tr>
			</table>	
		</div>
		<div id="table2"></div>
	</div>
</div>