/*
* ESO 搜索
*/

.eso_search_parent{

    position:absolute;
    width:0px;
    height:0px;
    z-index:1;
}

.eso_search_icon{

    position:absolute;
    left:318px;
    top:13px;
    width:55px;
    height:30px;
    z-index:1;
    visibility: visible;
}

.eso_search_icon img{

    width:70px;
    height:29px;
    border:0;
}

.eso_search_input{

    background:url(../image/search_shadow_bg2.jpg) no-repeat 1 0;
    width:408px;
    height:36px;
    padding-top:13px;
    padding-left:3px;
    margin-bottom:5px;
}

.eso_search_input input{

    background:url(../image/search_bg.jpg) repeat 0 0;
    width:400px;
    height:24px;
    font-weight:bold;
    border:1px #bdbdbd solid;
    font-size:17px;
    font-family:Arial;
    color:#333333;
}


.search_result_list{

    width:100%;
    margin-left: 1px;
    margin-top: 10px;
}

.search_result_list_header{

    width:100%;
    height:100%;
    border: 1px solid #bbbbbb;
    background: #e5e5e5;
}

.search_result_list_header th{

    height: 34px;
    border-right: 1px solid #bbbbbb;
    font-size: 14px;
}

.search_result_list_content{

    width:100%;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.search_result_list_content td{

    border-bottom: 1px solid #dddddd;
    height: 36px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: left;
}



.search_result_list_content tr:nth-child(2n){

    background:#f9f9f9;
}

.search_result_list_content tr:hover{

    background: #E6F3C5;
}

/* 分页 */
.pagination{
    padding-top: 6px;
}

.pagination table{
    width:100%;
}

.pagination th{
    padding-top:5px;
    padding-bottom:5px;
    text-align:right;
    font-size:11px;
}

input[type=button].normal,button.normal{
    width:80px;
    height:23px;
    cursor: pointer;
}

input[type=button].bold,button.bold{
    width:160px;
    height:23px;
    cursor: pointer;
}

input[type=button]:HOVER,button:HOVER{

    background-color: #e5e5e5;

}

img.small_img_button{

    width:50px;
    height:50px;
    cursor: pointer;
}

.search_result_list_content .buttons{

    height: 12px;
}

.search_result_list_content .buttons{

    width:8px;
}

.dialog_update_content table tr td:FIRST-CHILD{

    height:30px;
    text-align: left;
    width:250px;
}

.dialog_update_content table tr td:nth-child(2){

    width:200px;
}

.dialog_update_content table tr td span{

    font-weight:bold;
}

.input_text_password_select{

    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    height: 29px;
    width:250px;
    margin: 0;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.require_property{

    color: red;
}

.validator_style{

    color:Chocolate;
    font-weight:bold;
}

.delete_country_dialog{

    margin-top: 5px;
    font-weight: bold;
    height:26px;
    width:215px;
}

.delete_country_dialog span{
    color:#993300;
    text-decoration: underline;
}

.button_add_country{
    left:420px;
    top:13px;
    width:80px;
    height:16px;
    z-index:1;
    visibility: visible;
}