.colorblue {color: blue;}
.colorred {color: red;}
.colorgreen{color: green;}
.fontSilver{color:silver;}
.fontBold{font-weight:bold;}
#data .TRAILER
{
	min-width: 250px
}

#data span .valstyle
{
	margin-right: 5px;
}

#data .valuestyle
{
	margin-left: 5px;
	color: #F60;
	text-decoration: underline;
	cursor: pointer;
}

#data .logvaluestyle
{
	text-decoration: inherit;
	margin-left: 5px;
	color: #F60;
}

#data .namestyle
{
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	text-align: right;
	margin-right: 5px;
}

#data .td_TRAILER .namestyle 
{
 	width: 80px;
}

.spanBold{font-weight:bold;} 

/** 运费**/
.stockInSet
{
	min-width: 150px;
	border: 2px solid green;
	line-height: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 2px;
    width: 90%;
    word-break: break-all;
}
#data .td_FLOWS .namestyle{width: 60px;}
#data .td_FLOWS .valstyle{width: 120px;}
#data .rightstyle{float:right;}

#data .flows {min-width: 220px;}
#data  .applyMoney{min-width: 150px;}