﻿.systemconfig_description{

	width:100%;
}

.systemconfig_description tr{

	line-height: 30px;
}

.systemconfig_description tr:nth-child(2n+1){

    background:#f9f9f9;
}

.systemconfig_description tr:hover{

	background: #E6F3C5;
}

.systemconfig_description tr td:nth-child(1){

	width:1%;
	padding-left: 5px;
}

.systemconfig_description tr td:nth-child(2){

	width:26%;
	padding-left: 5px;
}

.systemconfig_description tr td:nth-child(3){

	width:50%;
}

.systemconfig_description tr td:nth-child(4){

	width:23%;
}

.toolbar{

	height:30px;
	padding-left: 5px;
}

.content{

	padding-left: 5px;
	padding-right: 5px;
}

.config_content{

	margin-bottom: 10px;
}

/* 按钮 */
input[type=button].lighter,button.lighter{
	
	background-attachment: fixed;
	background: url(../image/button_short.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 70px;
	color: #000000;
	cursor:pointer;
	border:0px solid;
}

input[type=button].normal,button.normal{
	width:80px;
	height:23px;
	cursor: pointer;
}

input[type=button].bold,button.bold{
	width:160px;
	height:23px;
	cursor: pointer;
}

input[type=button]:HOVER,button:HOVER{
	
	background-color: #e5e5e5;
	
}

.both_sides{
    position: relative;
    display:block;
    width:100%;
    height: 30px;	
}

.both_sides span:nth-child(2){
    display: none;
    right: 0px;
    position: absolute;
    margin-right: 20px;
}

.both_sides span:nth-child(1){
    display: inline-block;
    left: 0px;
    position: absolute;
}

.systemconfig_title{

	width:100%;
    border:1px solid #bbbbbb;
    background-color: #e5e5e5;
}

.systemconfig_title tr{

	line-height: 30px;
}

.systemconfig_title tr td:nth-child(1){

	width:1%;
	padding-left: 5px;
}

.systemconfig_title tr td:nth-child(2){

	width:26%;
	padding-left: 5px;
	border-right: 1px solid #bbbbbb;
}

.systemconfig_title tr td:nth-child(3){

	width:50%;
	border-right: 1px solid #bbbbbb;
	padding-left: 5px;
}

.systemconfig_title tr td:nth-child(4){

	width:23%;
	padding-left: 5px;
}

.systemconfig_classify_tree{

	border:1px #bdbdbd solid;
	width:300px;
	height:350px;
    overflow:auto;
}

.systemconfig_from{

	border:1px #bdbdbd solid;
	width:300px;
	height:350px;
    overflow:auto;
}

/*添加系统配置*/

.content_add_config{
	
	width:600px;
}

.content_add_config table{
	
	border:0px;
}

.content_add_config table tr{
	
	line-height:35px;
}

.content_add_config table tr td:FIRST-CHILD{
	
	width:100px;
	height:30;
	text-align: right;
	padding-right: 7px;
}

.content_add_config table tr td:nth-child(2){
	
	width:150px;
}

/*文本框*/
.input_text_password_select{

    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    height: 29px;
    width:240px;
    margin: 0;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.require_property{
	
	color: red;
}

.validator_style{
	
	color:Chocolate;
	font-weight:bold;
}

.systemconfig_classify_tree_small{

	border:1px #bdbdbd solid;
	width:240px;
	height:260px;
    overflow:auto;
    margin-left: 10px;
}
