<!DOCTYPE html>
<html>
    <head>
        <title>Backbone+JsTree</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="bower_components/jqueryui/themes/base/minified/jquery-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/jstree/dist/themes/default/style.min.css" />

        <script data-main="js/page4" src="bower_components/requirejs/require.js"></script>
    </head>
    <body>
        <script id="view-template" type="office_name/x-handlebars-template">
               <ul>
                   {{#each result}}
                        <li>
							<span data-id="{{this.id}}">{{this.office_name}}</span>				
                            {{#if this.logs}}
								<ul>
								{{#each this.logs}}
									<li>{{this.office_name}}</li>
								{{/each}}
								</ul>          
                            {{/if}}
                        </li>
                    {{/each}}
               </ul>				
        </script>
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >
            <tr>
                 <td style="width:19%;" valign="top" algin="left">
                    <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0"  class="zebraTable">
                        <tr>
                            <td>
                                 <h1>Backbone+JsTree</h1>
                                    <div id="view-panel">
                                    </div> 
                            </td>
                        </tr>
                        
                    </table>
                    
                </td>
                 <td valign="top" algin="center">
                    <div style="width:97%; margin:0px auto; border:2px #dddddd solid;background:#eeeeee;padding:5px;-webkit-border-radius:7px;-moz-border-radius:7px;">
                   <table width="100%" height="30" border="0" cellpadding="0" cellspacing="0">
                     <tr><td colspan="2" width="420px;" style=" padding-left:6px; font-size:12px; font-weight: bold;" id="pLineClick">
                        详细地址
                      </td>
                     </tr>  

                    </table>
                       
                    </div>
                    <div style="width:97%; margin:0px auto; border:2px #dddddd solid;padding:5px;-webkit-border-radius:7px;-moz-border-radius:7px;">
                        <table align="center">
                            <tr>
                                <td valign="middle" align="left">
                                   <fieldset  style="border:1px red solid;padding:70px;width:380px; word-break:break-all;margin-top:10px;margin-bottom:10px;line-height:18px;font-weight:bold;-webkit-border-radius:5px;-moz-border-radius:5px;">
                                        <legend>
                                            <span>
                                            <a onclick="morePcTitles('1075447', 'M551D-A2/10248260045')" style="color:green" href="javascript:void(0)">管理 | 更多</a>
                                            </span>
                                        </legend>
                                                <ul id="myulPcTitles_1075447" class="myulPcTitles">
                                                    <div style="margin-left:1px; height:20px">{{this.text}}</div>
                                                </ul>
                                    </fieldset>
                                </td> 
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>     
     </body>
</html>
