*{padding: 0;margin: 0;box-sizing: border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
body{font-size: 12px;font-family: Arial;color: #333333;}
.tag-container{border: 1px solid #666;width: 386px; height:575px;padding:15px;text-align: left;font-weight: bold;word-break: break-word;}
.tag-container h2{text-align: center;}
.tag-container .tag-module{line-height: 25px;padding: 10px;border-top: 1px solid #333;position: relative;}
.tag-module dt{font-size: 14px;}
.tag-module .module-name{width: 205px;}
.tag-module .module-tel{width: 134px; position: absolute;right: 0;top: 35px;}
.tag-module.info-module:before, .tag-module.main-module:before, .tag-module.info-module:after, .tag-module.main-module:after{ content: " "; display: table;}
.tag-module.info-module:after, .tag-module.main-module:after{clear: both;}
.tag-module.main-module{border: none;padding: 25px 10px 15px;font-size: 14px;}
.tag-module.main-module div{float: right;}
.tag-module.main-module div dd{display: block;width: auto;}
.main-module .tag-count{position: absolute;right: 10px;top: 0;font-size: 28px;}
.main-module .module-right{width:200px;}
.main-module .module-left{width: 134px;}
.main-module .module-left dd:nth-child(1){font-size: 20px;}
.tag-module.info-module div{width: 49%; float: left;}
.tag-module.info-module div dd{font-weight: normal;display: block;width: auto;line-height: 18px;}