{{#if datas}}
<div style="width:210mm;border:1px #dddddd solid;background:#eeeeee;-webkit-border-radius:7px;-moz-border-radius:7px;margin:0 auto;text-align:right;">
	<input class="short-short-button-print" type="button" value="Print" id="printInfo">
</div>
{{#each datas}}
    <div style="border:1px red solid; width:210mm; margin:0 auto; margin-top:3px;" name="printHtml">
    	<input type="hidden" id="orderItemLength" value="{{this.orderItemLength}}"/>
		<div id="a1">
		<!-- 头 -->
		<div style="border:1px red solid; width:210mm;  margin:0 auto; margin-top:3px;display:none;" id="top">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr>
		   		 <td colspan="6" style="border-top: 1px solid black; border-left: 1px solid black;border-right: 1px solid black;border-bottom:1px solid black;" align="center">
		   		 	 <table cellpadding="0" cellspacing="0" border="0" width="100%">
					  <tbody><tr>
					    <td style="font-size:12px; font-family:Arial;" align="center" height="39" width="17%"><b>Date:</b><span style="font-style: italic;">{{this.nowDate}}</span></td>
					    <td align="center" width="72%">
					    	<div style="font-size:18px; font-family:Arial;" align="center">NON NEGOTIABLE BILL OF LADING</div>
					        <div style="font-size:14px; font-family:Arial;" align="">&nbsp;&nbsp;&nbsp;&nbsp;<b>BILL OF Lading Number:</b><span style="font-style: italic;">{{this.orderInfoRow.orderno}}</span></div>
					    </td>
					    <td align="center" width="11%">&nbsp;</td>
					  </tr>
					</tbody></table>
		   		 </td>
			   	</tr>
			   </tbody>
			</table>
		</div>
		
	  <table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody>
	       <tr>
	         <td style="border-bottom: 1px solid black; border-left: 1px solid black; border-top: 1px solid black; font-size: 12px; font-family: Arial;" align="center" height="36" width="15%"><b>Date:</b><span style="font-style: italic;">{{this.nowDate}}</span></td>
	         <td style="border-bottom: 1px solid black; border-top: 1px solid black; font-size: 18px; font-weight: bold; font-family: Arial;" align="center" width="74%">NON NEGOTIABLE BILL OF LADING</td>
	         <td style="border-bottom: 1px solid black; border-top: 1px solid black; border-right: 1px solid black; font-size: 12px; font-family: Arial;" align="center" width="11%">&nbsp;</td>
	       </tr>
		</tbody>
	</table>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody>
		      <tr>
		        <td style="border-bottom: 1px solid black; border-right: 1px solid black; border-left: 1px solid black; font-size: 12px; font-family: Arial; " align="left" height="48" width="55%">
		          <div style="background-color:#000; color: #FFF; font-weight:bold;" align="center">SHIP FROM</div>
		          <div style="padding-left: 2px;">&nbsp;<b>Name:</b>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.shipfromname}}</span></div>
		          <div style="padding-left: 2px;">&nbsp;<b>Address:</b>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.address1}}&nbsp;{{this.orderInfoRow.address2}}</span></div>
		          <div style="padding-left: 2px;">&nbsp;<b>City/State/Zip:</b>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.city}},{{this.orderInfoRow.state}}&nbsp;{{this.orderInfoRow.zipcode}}</span></div>
		          <div style="padding-left: 2px;">&nbsp;<b>Phone:</b>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.phone}}</span></div>
		          <div>
		            <table cellpadding="0" cellspacing="0" border="0" width="100%">
					  <tbody><tr>
					    <td style="font-size: 12px; font-family: Arial;padding-left: 2px;">&nbsp;<b>SID#:</b>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.loadno}}</span></td>
					    <td style="font-size: 12px; font-family: Arial;width:80px;margin-right:10px;"><b>FOB: </b><input style="text-align: center; width: 14px; height: 14px; background: #FFF; border: 2px solid #000;" type="text"></td>
					  </tr>
					</tbody></table>
		          </div>
		          <div style="background-color:#000; color: #FFF;font-weight:bold; clear: left" align="center">SHIP TO</div>
		        </td>
		        <td style=" border-bottom: 1px solid black; border-right: 1px solid black; font-size: 12px; font-family: Arial;" align="left" valign="top" width="45%">
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight: bold">Bill of Lading Number:</span>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.orderno}}</span></div>
		          <div>&nbsp;</div>
				  <div>&nbsp;</div>
				  <div style="padding-left: 2px;">&nbsp;<span style="font-weight: bold">Reference No.:</span>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.referenceno}}</span></div>
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight: bold">Load No.:</span>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.loadno}}</span></div>
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight: bold">Appointment Date:</span>&nbsp;&nbsp;<span style="font-style: italic;">{{this.APPOINTMENTDATE}}</span></div>
		        </td>
		      </tr>
		      <tr>
		        <td style="border-right:1px solid black;border-left:1px solid black;font-size:14px;font-family:Arial;" align="left">
		          <div style="padding-left: 2px; width:425px; border:red solid 0px;white-space:nowrap;overflow:hidden;">
		          &nbsp;<b>Name:</b>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.shiptoname}}</span>
		         &nbsp;<b>Location&nbsp;#:</b>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.ShipToNameNo}}</span></div>
		          
		          <div style="padding-left: 2px;">&nbsp;<b>Address:</b>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.shiptoaddress1}}&nbsp;{{this.orderInfoRow.shiptoaddress2}}</span></div>
		          <div style="padding-left: 2px;">&nbsp;<b>City/State/Zip:</b>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.shiptocity}},{{this.orderInfoRow.shiptostate}}&nbsp;{{this.orderInfoRow.shiptozipcode}}</span></div>
		          <div>
		            <table cellpadding="0" cellspacing="0" border="0" width="100%">
					  <tbody><tr>
					    <td style="font-size: 12px;font-family: Arial;padding-left: 2px;">&nbsp;<b>CID#:</b>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.shiptoid}}&nbsp;{{this.orderInfoRow.shiptophone}} </span></td>
					    <td style="font-size: 12px;font-family: Arial; width: 80px; margin-right: 10px;"><b> FOB: </b>
					      <input style="text-align: center; width: 14px; height: 14px; background: #FFF; border: 2px solid #000;" type="text"></td>
					  </tr>
					</tbody></table>
		          </div>
		          <div style="border-bottom:1px solid black;background-color:#000; color:#FFF;font-family:Arial; clear: left" align="center">THIRD PARTY FREIGHT CHARGES BILL TO:</div>
		        </td>
		        <td rowspan="2" style="border-bottom:1px solid black;font-size:13px;font-family:Arial;border-right:1px solid black;" align="left" valign="top">
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight:bold">CARRIER NAME: </span>&nbsp;&nbsp;<span style="font-style: italic;">{{this.carrier.carrierName}}</span></div>
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight:bold">Trailer Number:</span>&nbsp;&nbsp;<span style="font-style: italic;">{{this.mainModel.gate_container_no}}</span></div>
		          <div style="border-bottom:1px solid black;padding-left: 2px;">&nbsp;</div>
		          
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight:bold">SCAC:</span>&nbsp;&nbsp;
					<span style="font-style: italic;">
						{{this.carrier.SCACCode}}
				    </span>
				  </div>
		          <div style="padding-left: 2px;">&nbsp;<span style="font-weight: bold">Pro number:</span>&nbsp;&nbsp;<span style="font-style: italic;">{{this.mainModel.imei}}</span></div>
		          <div style="border-bottom: 1px solid black" align="center">  
		          	<font style="FONT-SIZE: 18px; font-family: time Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman'; WIDTH: 100%; COLOR: #B4B4B4; LINE-HEIGHT: 150%;">
		          		BAR CODE SPACE
		          	</font>
		          	<div style="padding-left: 2px;">&nbsp;</div>
		          	<div style="padding-left: 2px;">&nbsp;</div>
		          </div>
		          <div style="font-size: 11px;font-weight: bold;margin-left:5px;text-align:left;">Freight Charge Terms:<span style="font-style: italic;">(freight charges are prepaid unless marked otherwise)</span></div>
		          <div style="padding-left:2px; border-bottom:1px solid black;font-weight:bold;padding-bottom:5px; ">
		            Prepaid&nbsp;
			            {{#xifCond this.orderInfoRow.freightterm 'Prepaid' '='}}_X_{{/xifCond}}
		        		{{#xifCond this.orderInfoRow.freightterm 'Prepaid' '!='}}____{{/xifCond}}
		        		Collect&nbsp;
		        		{{#xifCond this.orderInfoRow.freightterm 'Collect' '='}}_X_{{/xifCond}}
		        		{{#xifCond this.orderInfoRow.freightterm 'Collect' '!='}}____{{/xifCond}}
			            3rd Party&nbsp;
			            {{#xifCond this.orderInfoRow.freightterm 'Third Party' '='}}_X_{{/xifCond}}
		        		{{#xifCond this.orderInfoRow.freightterm 'Third Party' '!='}}____{{/xifCond}}
		          </div>
		          <div style="clear:both">
		          	<div style="float:left;margin-left:5px;">
		          		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		          		<input style="text-align:center;width:12px;height:12px;background:#FFF;border:2px solid #000; margin-top:1px;" type="text">
		            	<br><span style="font-size:12px;">(check box)</span>
		            </div>
		            <div style="float:right;margin-bottom:5px; margin-right:30px;">
		            	Master Bill of Lading:width attached<br>underlying  Bills of lading
		            </div>
		          </div>
		        </td>
		      </tr>
		      <tr>
		        <td style="border-bottom:1px solid black;border-left:1px solid black; border-right:1px solid black;font-size:12px;font-family:Arial;" align="left" valign="top">
		          <div style="padding-left: 2px;">&nbsp;<b>Name:</b>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.billtoname}}</span></div>
		          <div style="padding-left: 2px;">&nbsp;<b>Address:</b>&nbsp;&nbsp;<span style="font-style: italic;">{{this.orderInfoRow.billtoaddress1}}&nbsp;{{this.orderInfoRow.billtoaddress2}}</span></div>
		          <div style="padding-left: 2px;">&nbsp;</div>
		          <div style="border-bottom:1px solid black;"></div>
		          <div style="font-weight: bold;padding-left: 2px;">SPECIAL INSTRUCTIONS:</div>
		          <div style="font-style:italic;">
		          	{{{this.orderInfoRow.bolnote}}}
		          </div>
		        </td>
		      </tr>
		</tbody>
	</table>

	  {{!-- CUSTOMER ORDER INFORMATION --}}
	  <table cellpadding="0" cellspacing="1" bgcolor="#000000" border="0" width="100%">
	      <tbody><tr>
	        <td colspan="6" align="left" valign="top">
	          <div style="background-color:#000; color:#FFF;font-size:12px;font-family:Arial; font-weight:bold;" align="center">CUSTOMER ORDER INFORMATION</div>
	        </td>
	      </tr>
	      <tr>
	        <td style="font-size:12px;font-family:Arial;font-weight:bold;" align="center" bgcolor="#FFFFFF" width="24%">CUSTOMER ORDER NUMBER</td>
	        <td style="font-size:12px;font-family:Arial;font-weight:bold;" align="center" bgcolor="#FFFFFF" width="12%">#PKGS</td>
	        <td style="font-size:12px;font-family:Arial;font-weight:bold;" align="center" bgcolor="#FFFFFF" width="12%">WEIGHT</td>
	        <td colspan="2" style="font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF"><span style="font-weight:bold;">PALLET/SLIP</span><br><span style="font-size: 9px;">(CIRCLE ONE)</span></td>
	        <td colspan="3" style="font-size:12px;font-weight:bold;font-family:Arial;" align="center" bgcolor="#FFFFFF">ADDITIONAL SHIPPER INFO</td>
	      </tr>
	      <tr>
	        <td style="font-size:12px;font-family:Arial;font-style: italic;" align="center" bgcolor="#FFFFFF" width="24%">{{this.orderPONoRow.pono}}</td>
	        <td style="font-size:12px;font-family:Arial;font-style: italic;" align="center" bgcolor="#FFFFFF" width="12%">{{this.orderPONoRow.orderlinecasesum}}</td>
	        <td style="font-size:12px;font-family:Arial;font-style: italic;" align="center" bgcolor="#FFFFFF" width="12%">{{this.orderPONoRow.weightitemandpallet}}</td>
	        <td style="font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF" width="6%">Y</td>
	        <td style="font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF" width="6%">N</td>
	        <td colspan="3" style="font-size:12px;font-weight:bold;font-family:Arial;" align="center" bgcolor="#FFFFFF">&nbsp;</td>
	      </tr>	  
	      <tr>
	        <td style="font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF" width="24%">&nbsp;</td>
	        <td style="font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF" width="12%">&nbsp;</td>
	        <td style="font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF" width="12%">&nbsp;</td>
	        <td style="font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF" width="6%">Y</td>
	        <td style="font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF" width="6%">N</td>
	 		<td colspan="3" style="font-size:12px;font-weight:bold;font-family:Arial;" align="center" bgcolor="#FFFFFF">&nbsp;</td>
	      </tr>			      	      
	      <tr>
	        <td style="font-weight:bold;font-size:12px;font-family:Arial;" align="center" bgcolor="#FFFFFF" height="15">GRAND TOTAL</td>
	        <td style="font-size:12px;font-family:Arial;font-style: italic;" align="center" bgcolor="#FFFFFF">{{this.orderPONoRow.orderlinecasesum}}</td>
	        <td style="font-size:12px;font-family:Arial;font-style: italic;" align="center" bgcolor="#FFFFFF">{{this.orderPONoRow.weightitemandpallet}}</td>
	        <td colspan="5" style="font-size:12px;font-family:Arial;" bgcolor="#999999">&nbsp;</td>
	      </tr>
	    </tbody></table>
    </div>
    
    <div id="a2">
      <!-- CARRIER INFORMATION -->
      
       <table cellpadding="0" cellspacing="0" border="0" width="100%">
	     <thead>
	      <tr>
	        <td colspan="9" style="color:#FFF;font-size:12px;font-family:Arial;" align="center" bgcolor="#000000" height="19" valign="top">
	            CARRIER INFORMATION
	        </td>
	      </tr>     
	      <tr>
	        <td colspan="2" style="font-weight:bold;font-size:12px;font-family:Arial;border-left:1px black solid;border-bottom:1px black solid;" align="center">HANDLING <br>UNIT</td>
	        <td colspan="2" style="font-weight:bold;font-size:12px;font-family:Arial;border-left:1px black solid;border-bottom:1px black solid;" align="center">PACKAGE</td>
	        <td rowspan="2" style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%"><span style="font-weight:bold"><span style="font-weight:bold">WEIGH</span>T</span></td>
	        <td rowspan="2" style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%">H.M.<br>(X)</td>
	        <td rowspan="2" style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial; " align="center" width="38%"><span style="font-weight:bold">COMMODITY DESCRIPTION</span><br>
	        <span style="font-family:Arial;font-size:7px; padding-left:5px;padding-right:5px;">Commodities requiring special or 
additional care or attention in handling or stowing must be so marked and
 packaged as to ensure safe transportation with ordinary care.See 
Section 2(e) of NMFC Item 360</span></td>
	        <td colspan="2" style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center">LTL ONLY</td>
	      </tr>
	      <tr>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="7%">QTY</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%">TYPE</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="7%">QTY</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%">TYPE</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="9%">NMFC#</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center" width="9%">CLASS</td>
	      </tr>
	     </thead>  
	      <tbody>
	      {{#xifCond this.orderItemLength '7' '<'}}
	      	{{#each this.orderItemRows}}
		      <tr>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">{{this.palletcount}}</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">Plts</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.orderlinecase}}</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.orderLineCaseType}}</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.weightitemandpallet}}</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
		       	<td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
		       	({{this.orderedqty}}&nbsp;{{this.unit}}){{this.commoditydescription}}&nbsp;
		       	</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.nmfc}}&nbsp;</td>
		        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.freightclass}}&nbsp;</td>
		      </tr>
	     {{/each}} 	 
	    {{/xifCond}}
	    
	    {{#times this.blankCount}}
	      <tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	      </tr>
	    {{/times}}
	    
	    {{!--GRAND TOTAL--}}
	      
	      <tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">{{this.palletCountSum}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.caseCountSum}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.weightSum}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-weight: bold;" align="center">GRAND TOTAL</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	      </tr>
	    </tbody>
	 </table>
	</div>
    <!-- end -->
    <div id="a3">
	 <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tbody><tr>
	        <td style="border-bottom:1px solid black;border-top:3px solid black; border-right:1px solid black;border-left:1px solid black; font-size:10px;font-family:Arial;" align="left" height="20" valign="top" width="55%">
            	<div style="margin-left:5px;margin-right:5px;margin-bottom:3px;">Where
 the rate is dependent on value, shippers are required to state 
specifically in writing the agreed or declared value of the property as 
follows:<br>
            "The agreed or declared value of the property is specifically stated by the shipper to be not exceeding"<br>
           		 ________________________per________________________
                </div>
            </td>
	        <td style="border-bottom:3px solid black;border-right:3px solid black;border-left:3px solid black; border-top:3px solid black;font-family:Arial; font-size:15px;" align="left" valign="top" width="45%">
	          <div><span style="font-weight:bold; padding-left:2px; margin-bottom:10px;">COD Amount:</span> $___________________________</div>
	          <div style="font-weight:bold;text-align:center;margin-top:2px;">Fee Terms:&nbsp;Collect:
	          
	            <input style="text-align:center;width:12px;height:12px;background:#FFF;border:2px solid #000;" type="text">
				&nbsp;Prepaid:
	          
	            <input style="text-align:center;width:12px;height:12px;background:#FFF;border:2px solid #000;" type="text">
	          </div>
	          <div style="font-weight:bold;text-align:center;margin-top:2px;">
	          	<div style="float: left;margin-left:20%;"> <label for="customer">Customer check acceptable:</label> </div>
	          	<div style="float: left;width:12px;height:12px;background:#FFF;border:2px solid #000;font-weight: bold;font-size:10px;">X</div>
	            {{!-- <input style="text-align:center;width:12px;height:12px;background:#FFF;border:2px solid #000;font-weight: bold;font-size:8px;" type="text" value="X"> --}}
	          </div>
	        </td>
	      </tr>
	      <tr>
	        <td colspan="2" style="font-size:12px;font-family:Arial;border-bottom:1px solid black;border-left:1px solid black;border-right:1px solid black;font-weight:bold;" align="left" height="20" valign="top">
	        	<div style="margin-left:5px;margin-right:5px;">NOTE Liability Limitation for loss or damage in this shipment may be applicable. See 49 U.S.C. §14706(c)(1)(A)and (B). </div></td>
	      </tr>
	      <tr>
	        <td style="border-bottom:1px solid black;border-left:1px solid black;border-right:1px solid black;font-size:10px;font-family:Arial;" align="left" height="20" valign="top">
            	<div style="margin-left:5px;margin-right:5px;">RECEIVED.subject to individually determined rates or contracts that have been agreed upon in writing between the carrier and shipper, if applicable, otherwise to the rates, classifications and rules that have been established by the carrier and are available to the shipper, on request, and to all applicable state and federal regulations.
              	</div>
            </td>
            <td style="border-bottom:1px solid black; font-family:Arial; border-left:0px solid black;border-right:1px solid black;" align="left" height="20" valign="top">
            	<div style="margin-left:5px;margin-right:5px;font-family:Arial;font-size: 10px;">
                	The carrier shall not make delivery of this shipment without payment of freight and all other lawful charges.<br>
                    ________________________________________<span style="font-weight:bold;font-size:12px;">Shipper</span><br>
                    <span style="font-weight:bold;font-size:12px;">Signature</span>
                </div>
            </td>
	      </tr>          
	      <tr>
	        <td colspan="2">
	        		<table cellpadding="0" cellspacing="0" border="0" width="100%">
				      <tbody><tr>
				        <td style="border-bottom:1px solid black; border-right:1px solid black;border-left:1px solid black;font-size:12px;font-family:Arial;" height="180" valign="top" width="34%">
				          <div style="font-weight:bold; padding-left: 5px;margin-top:5px;">SHIPPER SIGNATURE/DATE</div>
				          <div style="font-size: 9px; padding-left: 5px;">This is to certify that the 
above named materials are properly classified,packaged,marked and 
labeled, and are in proper condition for transportation according to the 
applicable regulations of the DOT.</div>
				          <br>
				          <div>&nbsp;</div>
				          <div>&nbsp;</div>
				          <div style="padding-left: 5px;">X</div>
				          <div style="padding-left: 5px; border-bottom:1px solid black;font-family:Arial;font-size:12px;"></div>
				          <div style="padding-left: 5px; font-family:Arial;font-size:12px;">
				          	<div style="float: left;"> Signature/Print Name</div>
							<div style="float: right;padding-right: 50px;">Date</div>
						  </div>
				        </td>
				        <td style="border-bottom:1px solid black; border-right:1px solid black;text-align:center;font-size:12px;font-family:Arial;" valign="top" width="14%">
				          <div style="text-decoration:underline;font-family:Arial;font-size:12px;margin-top:5px;">Trailer Loader:</div>
				          <div style="margin-top:5px;margin-left:5px;text-align:left;font-size:12px;">
				          	<div style="margin-top:5px;margin-left:5px;text-align:left;font-size:12px;"></div>
				          	<div style="margin-top:5px;margin-left:5px;text-align:left;font-size:12px;"></div>
				          	<img alt="" src="/Sync10/administrator/imgs/print/cha.jpg">By Shipper
				          </div>
				          <div style="margin-top:5px;margin-left:5px;text-align:left;font-family:Arial;font-size:12px;">
				            <p>
				              <img alt="" src="/Sync10/administrator/imgs/print/kongcha.jpg"> 
				              By Driver				          </p>
				          </div>
				        </td>
				        <td style="border-bottom:1px solid black; border-right:1px solid black;text-align:center;font-size:12px;font-family:Arial;" valign="top" width="16%">
				          <div style="text-decoration:underline;font-family:Arial;font-size:12px;margin-top:5px;">Freight Counted:</div>
				          <div style="margin-top:5px;margin-left:5px;text-align:left;font-family:Arial;font-size:12px;">
				            <img alt="" src="/Sync10/administrator/imgs/print/kongcha.jpg">
				          	By Shipper
				          </div>
				          <div style="margin-top:5px;margin-left:5px;text-align:left;font-family:Arial;font-size:12px;">
				            <img alt="" src="/Sync10/administrator/imgs/print/kongcha.jpg">
				          	By Driver/pallets said to contain
				          </div>
				          <div style="margin-top:5px;margin-left:5px;text-align:left;font-family:Arial;font-size:12px;">
				            <img alt="" src="/Sync10/administrator/imgs/print/kongcha.jpg">
				          By Driver/Pieces</div>
				         <!--  <div style="margin-left:5px;margin-top:12px;font-family:Arial;font-size:12px;">NO SHIPPER LOADER COUNT</div> -->
				        </td>
				        <td style="border-bottom:1px solid black;border-right:1px solid black;" valign="top" width="36%">
				          <div style="font-weight: bold;font-family:Arial;font-size:12px;margin-left:5px;margin-top:5px;">CARRIER SIGNATURE/PICKUP DATE</div>
				          <div style="font-size:7px;font-family:Arial;margin-left:5px;margin-right:5px;">Carrier 
acknowledges receipt of packages and required placards.Carrier certifies
 emergency response information was made available and/or carrier has 
the DOT emergency response guidebook or equivalent  documentation in the
 vehicle.</div>
				          <div style="font-style: italic;font-size:9px;font-weight: bold;margin:5px 5px 0px 5px;font-family:Arial;">Property described above is received in good order, except as noted.</div>
				          <div>&nbsp;</div>
				          <div>&nbsp;</div>
				          <div style="font-size:10px;font-family:Arial;margin-left:5px;">X&nbsp;</div>
				          <div style="border-bottom:1px solid black;font-family:Arial;font-size:12px;"></div>
				          <div style="font-size:10px;font-family:Arial;margin-left:5px;">
				          	<div style="float: left;">Signature/Print Name</div>
				          	<div style="float: right;padding-right: 60px;">Date</div>
				          </div>
				          <div>&nbsp;</div>
				        </td>
				      </tr>
				    </tbody></table>
	        </td>
	      </tr>
	    </tbody>
	</table>
   </div>
   
{{#xifCond this.orderItemLength '6' '>'}}
    <div id="a4">
      {{!-- CARRIER INFORMATION --}}
      
       <table cellpadding="0" cellspacing="0" border="0" width="100%">
	     <thead>
	      <tr>
	        <td colspan="9" style="color:#FFF;font-size:12px;font-family:Arial;" align="center" bgcolor="#000000" height="19" valign="top">
	            CARRIER INFORMATION
	        </td>
	      </tr>     
	      <tr>
	        <td colspan="2" style="font-weight:bold;font-size:12px;font-family:Arial;border-left:1px black solid;border-bottom:1px black solid;" align="center">HANDLING <br>UNIT</td>
	        <td colspan="2" style="font-weight:bold;font-size:12px;font-family:Arial;border-left:1px black solid;border-bottom:1px black solid;" align="center">PACKAGE</td>
	        <td rowspan="2" style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%"><span style="font-weight:bold"><span style="font-weight:bold">WEIGH</span>T</span></td>
	        <td rowspan="2" style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%">H.M.<br>(X)</td>
	        <td rowspan="2" style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial; " align="center" width="38%"><span style="font-weight:bold">COMMODITY DESCRIPTION</span><br>
	        <span style="font-family:Arial;font-size:7px; padding-left:5px;padding-right:5px;">Commodities requiring special or 
additional care or attention in handling or stowing must be so marked and
 packaged as to ensure safe transportation with ordinary care.See 
Section 2(e) of NMFC Item 360</span></td>
	        <td colspan="2" style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center">LTL ONLY</td>
	      </tr>
	      <tr>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="7%">QTY</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%">TYPE</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="7%">QTY</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="8%">TYPE</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" width="9%">NMFC#</td>
	        <td style="font-weight:bold;border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center" width="9%">CLASS</td>
	      </tr>
	     </thead>  
	    {{#each this.orderItemRows}} 
	      <tbody><tr>
	       <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">{{this.palletcount}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">Plts</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.orderlinecase}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.orderLineCaseType}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.weightitemandpallet}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">&nbsp;</td>
	       	<td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">
	       	({{this.orderedqty}}&nbsp;{{this.unit}}){{this.commoditydescription}}&nbsp;
	       	</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.nmfc}}&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.freightclass}}&nbsp;</td>
	      </tr>
	     {{/each}}
	    
	    {{!--GRAND TOTAL--}}
	      <tr>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center">{{this.palletCountSum}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.caseCountSum}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-style: italic;" align="center">{{this.weightSum}}</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;font-weight: bold;" align="center">GRAND TOTAL</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	        <td style="border-left:1px black solid;border-bottom:1px black solid;border-right:1px black solid;font-size:12px;font-family:Arial;" align="center" bgcolor="#999999">&nbsp;</td>
	      </tr>
	    </tbody>
	 </table>
	</div>
	{{/xifCond}}
    {{!-- end --}}
    
  </div>
 	{{/each}}
{{/if}} 

