{{!-- US letter 标准 216mm X 279mm--}}
   <div style="width: 216mm;border: 1px #dddddd solid; background: #eeeeee; -webkit-border-radius: 7px; -moz-border-radius: 7px; margin: 0 auto; text-align: right;">
      <input class="short-short-button-print" type="button" id="printInfo" value="Print" />
   </div>
{{#each datas}}
   <div style="border: 1px red solid; width: 210mm; margin: 0 auto; margin-top: 3px;" name="printHtml">
     <div id="a1" style="width: 210mm";>
       <table width="100%" border="0" cellspacing="0" cellpadding="0" border-collapse="collapse">
      	<tr>
      		<td width="50%" height="30px" valign="middle" align="left" style="font-size: 12px; font-family: Verdana; font-weight: bold; text-decoration: underline;">{{number_type}}&nbsp;#<span>{{number}}</td>
      		<td width="50%" height="30px" valign="middle" align="right" style="font-size: 12px; font-family: Verdana; font-weight: bold; text-decoration: underline;">DOCK:&nbsp;#{{door_name}}</td>
      	</tr>
      	<tr>
  		<td width="50%" height="30px" valign="middle" align="left" style="font-size: 12px; font-family: Verdana; font-weight: bold; text-decoration: underline;">Trailer Number:&nbsp;#{{mainRow.gate_container_no}}</td>
  		<td width="50%" height="30px" valign="middle" align="right" style="font-size: 12px; font-family: Verdana; font-weight: bold; text-decoration: underline;">Appointment Date:&nbsp;{{mainRow.appointment_time}}</td>
  	</tr>
  </table>
  <div style="height: 5px; width: 210mm; clear: both;">&nbsp;</div>
    <div style="text-align: center;">
      <span style="font-size: 14px; font-family: Verdana; font-weight: bold">Carrier/Drivers Tally Sheet<br />
      Tally Sheet Count is Mandatory</span> 
    </div>
  </div>
<div id="a2" style="margin-top: 3px; width: 210mm;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" border-collapse="collapse">
	<thead>
       	<tr>
         	<td width="8%" height="19" align="center" style="font-size: 12px; font-family: Verdana; border-left:3px solid black;border-top:3px solid black; border-bottom: 3px solid black; border-right: none;">OrderNo</td>
         	<td width="8%" height="19" align="center" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black;border-top:3px solid black; border-bottom:3px solid black; border-right: none;">Pallets</td>  
         	<td width="9%" height="19" align="center" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black; border-top: 3px solid black; border-bottom: 3px solid black; border-right: none;">Pieces</td>  
        	<td width="8%" height="19" align="center" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black; border-top: 3px solid black; border-bottom: 3px solid black; border-right: none;">Model</td>  
         	<td width="8%" height="19" align="center" style="font-size: 12px; font-family: Verdana; border-top: 3px solid black;border-left: 3px solid black; border-bottom: 3px solid black; border-right: none;">OrderNo</td>
         	<td width="8%" height="19" align="center" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black;border-top: 3px solid black; border-bottom: 3px solid black; border-right: none;">Pallets</td>  
         	<td width="9%" height="19" align="center" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black;border-top:3px solid black; border-right: none; border-bottom: 3px solid black;">Pieces</td> 
         	<td width="8%" height="19" align="center" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black; border-top: 3px solid black; border-bottom: 3px solid black; border-right: none;">Model</td> 	          
			<td width="8%" height="19" align="center" style="font-size: 12px; font-family: Verdana; border-top: 3px solid black; border-left: 3px solid black; border-bottom: 3px solid black; border-right: none;">OrderNo</td>
         	<td width="8%" height="19" align="center" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black;border-top: 3px solid black; border-bottom: 3px solid black; border-right: none;">Pallets</td>  
         	<td width="9%" height="19" align="center" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black;border-top: 3px solid black; border-bottom: 3px solid black; border-right: none;">Pieces</td>  
         	<td width="9%" height="19" align="center" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black; border-top: 3px solid black; border-bottom: 3px solid black; border-right: 3px solid black;">Model</td> 	         
		</tr>
     </thead>
	<tr>
		<td colspan="4">
		{{#xifCond itemCount 21 '<'}}
			<table class="tally_sheet" width="100%" border="0" cellspacing="0" cellpadding="0" border-collapse="collapse">
			{{#foreachCS ../orderItemRows}}
     	 		<tr height="22px" align="center">
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 3px solid black; border-bottom: {{$bottom}}">
           				{{$orderno}}&nbsp;
           			</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black; border-bottom:{{$bottom}}">
						{{#xifCond palletCountToInt 0 '='}}
							<span style="font-style: italic; font-weight: bold;">{{$index}}&nbsp;</span><input type="text" style="text-align: center; width: 10px; height: 10px; background: #000; border: 1px solid #000;" value="" />
						{{/xifCond}}
						{{#xifCond palletCountToInt 0 '>'}}
							<span style="font-style: italic; font-weight: bold;">{{$index}}&nbsp;</span><input type="text" style="text-align: center; width: 10px; height: 10px; background: #FFF; border: 1px solid #000;" value="" />
						{{/xifCond}}
					</td>
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black; border-bottom:{{$bottom}}">&nbsp;</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black;border-right: none; border-bottom:{{$bottom}}">&nbsp;</td>	                 
         		</tr>
       		{{/foreachCS}}
			{{#times ../count}}
				<tr height="22px" align="center">
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 3px solid black;">&nbsp;</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;">&nbsp;</td>
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;">&nbsp;</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;border-right: none;">&nbsp;</td>	                 
         		</tr>
			{{/times}}
				</table>
			</td>

			<td colspan="4">
			<table class="tally_sheet" width="100%" border="0" cellspacing="0" cellpadding="0" border-collapse="collapse">
			{{#times 20}}
				<tr height="22px" align="center">
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 3px solid black;">&nbsp;</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;">&nbsp;</td>
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;">&nbsp;</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;border-right: none;">&nbsp;</td>	                 
           		</tr>
			{{/times}}
			</table>
		</td>

		<td colspan="4">
			<table class="tally_sheet" width="100%" border="0" cellspacing="0" cellpadding="0" border-collapse="collapse">
			{{#times 20}}
				<tr height="22px" align="center">
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 3px solid black; border-bottom: 1px solid black;">&nbsp;</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;">&nbsp;</td>
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black;border-left: 1px solid black;">&nbsp;</td>  
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;border-right: 3px solid black;">&nbsp;</td>	                 
         		</tr>
			{{/times}}
			</table>
	{{/xifCond}}
	
	{{#xifCond itemCount 20 '>'}}
		{{#xifCond itemCount 41 '<'}}
			<table class="tally_sheet" width="100%" border="0" cellspacing="0" cellpadding="0" border-collapse="collapse">
			{{#foreachCS orderItemRows}}
				<tr height="22px" align="center">
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 3px solid black; border-bottom: {{$bottom}}">
           				{{$orderno}}&nbsp;
           			</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black; border-bottom:{{$bottom}}">
						{{#xifCond palletCountToInt 0 '='}}
							<span style="font-style: italic; font-weight: bold;">{{$index}}&nbsp;</span><input type="text" style="text-align: center; width: 10px; height: 10px; background: #000; border: 1px solid #000;" value="" />
						{{/xifCond}}
						{{#xifCond palletCountToInt 0 '>'}}
							<span style="font-style: italic; font-weight: bold;">{{$index}}&nbsp;</span><input type="text" style="text-align: center; width: 10px; height: 10px; background: #FFF; border: 1px solid #000;" value="" />
						{{/xifCond}}
					</td>
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black; border-bottom:{{$bottom}}">&nbsp;</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black;border-right: none; border-bottom:{{$bottom}}">&nbsp;</td>	                 
         		</tr>
				{{#xifCond $index 20 '='}}
						</table>
					</td>
					<td colspan="4">
						<table class="tally_sheet" width="100%" border="0" cellspacing="0" cellpadding="0" border-collapse="collapse">
				{{/xifCond}}
       		{{/foreachCS}}
			{{#times ../count}}
				<tr height="22px" align="center">
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 3px solid black;">&nbsp;</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;">&nbsp;</td>
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;">&nbsp;</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;border-right: none;">&nbsp;</td>	                 
         		</tr>
			{{/times}}
				</table>
			</td>

		<td colspan="4">
			<table class="tally_sheet" width="100%" border="0" cellspacing="0" cellpadding="0" border-collapse="collapse">
			{{#times 20}}
				<tr height="22px" align="center">
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 3px solid black; border-bottom: 1px solid black;">&nbsp;</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;">&nbsp;</td>
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black;border-left: 1px solid black;">&nbsp;</td>  
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;border-right: 3px solid black;">&nbsp;</td>	                 
         		</tr>
			{{/times}}
		</table>
		{{/xifCond}}
	{{/xifCond}}
	
	{{#xifCond itemCount 40 '>'}}
		{{#xifCond itemCount 61 '<'}}
			<table class="tally_sheet" width="100%" border="0" cellspacing="0" cellpadding="0" border-collapse="collapse">
			{{#foreachCS orderItemRows}}
				{{#xifCond $index 41 '<'}}
				<tr height="22px" align="center">
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 3px solid black; border-bottom: {{$bottom}}">
           				{{$orderno}}&nbsp;
           			</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black; border-bottom:{{$bottom}}">
						{{#xifCond palletCountToInt 0 '='}}
							<span style="font-style: italic; font-weight: bold;">{{$index}}&nbsp;</span><input type="text" style="text-align: center; width: 10px; height: 10px; background: #000; border: 1px solid #000;" value="" />
						{{/xifCond}}
						{{#xifCond palletCountToInt 0 '>'}}
							<span style="font-style: italic; font-weight: bold;">{{$index}}&nbsp;</span><input type="text" style="text-align: center; width: 10px; height: 10px; background: #FFF; border: 1px solid #000;" value="" />
						{{/xifCond}}
					</td>
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black; border-bottom:{{$bottom}}">&nbsp;</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black;border-right: none; border-bottom:{{$bottom}}">&nbsp;</td>	                 
         		</tr>
         		{{/xifCond}}
				{{#xifCond $index 20 '='}}
						</table>
					</td>
					<td colspan="4">
						<table class="tally_sheet" width="100%" border="0" cellspacing="0" cellpadding="0" border-collapse="collapse">
				{{/xifCond}}
				{{#xifCond $index 40 '='}}
						</table>
					</td>
					<td colspan="4">
						<table class="tally_sheet" width="100%" border="0" cellspacing="0" cellpadding="0" border-collapse="collapse">
				{{/xifCond}}
				{{#xifCond $index 40 '>'}}
					<tr height="22px" align="center">
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 3px solid black; border-bottom: {{$bottom}}">
           				{{$orderno}}&nbsp;
           			</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 1px solid black; border-bottom:{{$bottom}}">
						{{#xifCond palletCountToInt 0 '='}}
							<span style="font-style: italic; font-weight: bold;">{{$index}}&nbsp;</span><input type="text" style="text-align: center; width: 10px; height: 10px; background: #000; border: 1px solid #000;" value="" />
						{{/xifCond}}
						{{#xifCond palletCountToInt 0 '>'}}
							<span style="font-style: italic; font-weight: bold;">{{$index}}&nbsp;</span><input type="text" style="text-align: center; width: 10px; height: 10px; background: #FFF; border: 1px solid #000;" value="" />
						{{/xifCond}}
					</td>
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-bottom: {{$bottom}} border-left: 1px solid black;">&nbsp;</td>  
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-bottom: {{$bottom}} border-left: 1px solid black;border-right: 3px solid black;">&nbsp;</td>	                 
         		</tr>
				{{/xifCond}}
       		{{/foreachCS}}
			{{#times ../count}}
				<tr height="22px" align="center">
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-left: 3px solid black; border-bottom: 1px solid black;">&nbsp;</td>  
           			<td  width="8%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;">&nbsp;</td>
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black;border-left: 1px solid black;">&nbsp;</td>  
           			<td  width="9%" style="font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-left: 1px solid black;border-right: 3px solid black;">&nbsp;</td>	                 
         		</tr>
			{{/times}}
		</table>
		{{/xifCond}}
	{{/xifCond}}
		</td>
	</tr> 
	     
     <tfoot>
       <tr>
         <td height="45" colspan="6" align="left" style="padding-left: 7px; font-size: 14px; font-family: Verdana; border: 3px solid black; border-right: none;">
         	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Pallets:&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-style: italic; font-weight: bold;">{{palletCountSum}}</span>
         </td>   
         <td height="45" colspan="6" align="left" style="padding-left: 7px; font-size: 14px; font-family: Verdana; border: 3px solid black;">
         	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Case:&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-style: italic; font-weight: bold;">{{caseCountSum}}</span>
         </td>               
       </tr>
       <tr>
         <td height="45" colspan="6" align="left" style="padding-left: 5px; font-size: 14px; font-family: Verdana; border:3px solid black; border-right: none; border-top: none;">
		   Confirmed Pallets:&nbsp;<input type="text" style="width: 200px; border-left: none; border-top:none; border-right: none; border-bottom: 1px solid #000;" value=""/>
         </td>   
         <td height="45" colspan="6" align="left" style="padding-left: 5px; font-size: 14px; font-family: Verdana; border:3px solid black; border-top:none;">
           Confirmed Case:&nbsp;<input type="text" style="width: 200px; border-left: none; border-top: none; border-right: none; border-bottom: 1px solid #000;" value=""/>
         </td>               
       </tr>
     </tfoot>          
   </table>
</div>

{{!-- end --}}
<div id="a3" style="margin-top: 10px; width: 210mm;">
  <div>
    <span style="font-size: 14px; font-family: Verdana; text-decoration: underline; font-weight: bold;">ATTENTION DRIVERS/PIECE COUNT REQUIRED:</span><br />
    <span style="font-size: 12px; font-family: Verdana;">This shipment is being tendered to you as a "Live Load" which required the carrier, driver<br /> and or their agents physical count pieces and pallets as the freight is being loaded<br /> onto the Carriers Equipment. Any piece count discrepancy must be brought to the shippers<br /> attention & Corrected prior to leaving the facility.</span>
  </div>
  <div style="height: 5px; width: 210mm; clear: both;">&nbsp;</div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" border-collapse="collapse">
  	<tr>
  		<td width="20%" height="50px" valign="middle" style="padding-left: 15px; font-size: 12px; font-family: Verdana; border: 1px solid black;">Driver's Signature</td>
  		<td width="30%" height="50px" valign="bottom" align="right" style="padding-right:10px; padding-bottom: 5px; border-top: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" >
  			<input type="text" style="width: 160px; height: 10px; border-left: none; border-top: none; border-right: none; border-bottom: 1px solid #000;" value="" /><img border='0' src='/Sync10/administrator/imgs/print/sign-up-here_1.jpg' />
  		</td>
  		<td width="20%" height="50px" valign="middle" align="center" style="padding-top: 5px; padding-left: 15px; font-size: 12px; font-family: Verdana; border-top: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;">Date</td>
  		<td width="30%" height="50px" valign="bottom" align="right"  style="padding-bottom: 5px;padding-right: 15px; border-top: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;"><span style="font-size: 14px;font-style: italic; font-weight: bold;">{{nowDate}}</span></td>
  	</tr>
  	<tr>
  		<td width="20%" height="50px" valign="middle" style="padding-top: 5px; padding-left: 15px; font-size: 12px; font-family: Verdana;border-left: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;">Printed Name</td>
  		<td width="30%" height="50px" valign="bottom" align="right" style="padding-right:10px; padding-bottom: 5px; border-bottom: 1px solid black; border-right: 1px solid black;" >
  			<input type="text" style="width: 160px; height: 10px; border-left: none; border-top: none; border-right: none; border-bottom: 1px solid #000;" value="" /><img border='0' src='/Sync10/administrator/imgs/print/sign-up-here_1.jpg' />
  		</td>
  		<td width="20%" height="50px" valign="middle" align="center" style="padding-top: 5px; padding-left: 15px; font-size: 12px; font-family: Verdana; border-bottom: 1px solid black; border-right: 1px solid black;">Carrier Name</td>
  		<td width="30%" height="50px" valign="bottom" align="right" style="padding-right: 15px; border-bottom: 1px solid black; border-right: 1px solid black;"><span style="font-size: 14px;font-style: italic; font-weight: bold;">{{mainRow.company_name}}</span></td>
  	</tr>
  </table>
  <div style="height: 1px; width: 210mm; clear: both;">&nbsp;</div>
  <div>
 	 <table width="100%" border="0" cellspacing="0" cellpadding="0">
	   <tr>
	     <td align="left" valign="top" style="font-size: 12px; font-family:Arial;font-weight: bold;" width="400px;">DESTINATION:</td>
	     <td align="left">
	     	<div style="font-size: 15px; font-family:Arial;font-weight: bold;">All Pallets In Good Condition</div>
	     	<div style="height:30px;">&nbsp;</div>
		    <div style="font-size: 12px; font-family:Arial;font-weight: bold;"><span>Driver's Signature:__________________</span></div>
		    <div style="height:25px;">&nbsp;</div>
		    <div style="font-size: 12px; font-family:Arial;font-weight: bold;"><span style="margin-left:55px;">Quantity:__________________</span></div>
	     </td>
	   </tr>
	 </table>
  </div>
</div>

{{/each}} 