{{#if datas}}
	<div style="width:210mm;border:1px #dddddd solid;background:#eeeeee;-webkit-border-radius:7px;-moz-border-radius:7px;margin:0 auto;text-align:right;">
		<input class="short-short-button-print" type="button" value="Print" id="PrintInfo">
	</div>
	{{#each datas}}
		{{#if orderInfo}}
	<div style="border:1px red solid; width:210mm; height:297mm;margin:0 auto;" name="printPackingListHtml" >
	<table width="100%" border="0" cellspacing="0" cellpadding="0"  style="font-size:12px;font-family:Arial;" >
	  <thead>
	    <tr>
	    	<td colspan="11">
	  			<table  width="100%" style="font-size:12px;font-family:Arial;">
	            	<tr>
	                	<td width="30%" height="83" align="left" valign="top">
	                        PRINT DATE:{{this.nowDate}}
	                    </td>
	                    <td width="35%" valign="top">
	                      <div align="center" style="height:20px;">{{this.orderInfo.customerid}}</div>
	                        <div align="center">
	                       {{this.orderInfo.address1}}&nbsp;{{this.orderInfo.address2}}&nbsp;{{this.orderInfo.city}}&nbsp;{{this.orderInfo.state}}&nbsp;{{this.orderInfo.zipcode}}
	                        </div>
	                        <div align="center" style="height:20px;">TEL: {{this.orderInfo.phone}} FAX:{{this.orderInfo.fax}}</div>
	                    </td>
	                    <td width="35%" align="right" valign="top">
	                        <span>PAGE:</span>&nbsp;&nbsp;
	                        <span tdata='pageNO'>#</span>&nbsp;
	                        <span>/</span>&nbsp;&nbsp;
	                        <span tdata='PageCount'>#</span>
	                    </td>
	                </tr>
	            </table>
	        </td>
	  	</tr>
	    <tr>
	    	<td height="48px" colspan="11" align="center">PACKING LIST</td>
	    </tr>
	    <tr>
	    	<td colspan="11">
	        	 <table width="100%" style="font-size:12px;font-family:Arial;">
	             	<tr>
	                	<td>
	                    	 <table width="224px"  style="font-size:12px;font-family:Arial;">
	                            <tr>
	                                <td height="20px" align="right">ORDERNO.:</td>
	                                <td height="20px" align="left">{{this.orderInfo.orderno}}</td>
	                            </tr>
	                            <tr>
	                                <td height="20px" align="right">ORDERED DATE:</td>
	                                <td height="20px" align="left">{{this.orderInfo.ordereddate}}</td>
	                            </tr>
	                            <tr>
	                                <td height="20px" align="right">REQUESTED DATE:</td>
	                                <td height="20px" align="left">{{this.orderInfo.requesteddate}}</td>
	                            </tr>
	                            <tr>
	                                <td height="20px" align="right">SHIPPED DATE:</td>
	                                <td height="20px" align="left">{{this.orderInfo.shippeddate}}</td>
	                            </tr>
	                            <tr>
	                                <td height="20px" align="right">PO NO.:</td>
	                                <td height="20px" align="left">{{this.orderInfo.pono}}</td>
	                            </tr>
	                            <tr>
	                                <td height="20px" align="right">CUSTOMER ID:</td>
	                                <td height="20px" align="left">{{this.orderInfo.customerid}}</td>
	                            </tr>
	                        </table>
	                    </td>
	                    <td>
	                    	<table  style="font-size:12px;font-family:Arial;">
	                            <tr>
	                                <td height="20px" align="right">BOL NO.:</td>
	                                <td height="20px" align="left">{{this.orderInfo.orderno}}</td>
	                            </tr>
	                            <tr>
	                                <td height="20px" align="right">REFERERNCE NO.:</td>
	                                <td height="20px" align="left">{{this.orderInfo.referenceno}}</td>
	                            </tr>
	                            <tr>
	                                <td height="20px" align="right">CARRIER:</td>
	                                <td height="20px" align="left">{{this.orderInfo.carrierid}}</td>
	                            </tr>
	                            <tr>
	                                <td height="20px" align="right">FREIGHT TERM:</td>
	                                <td height="20px" align="left">{{this.orderInfo.freightterm}}</td>
	                            </tr>
	                            <tr>
	                                <td height="20px" align="right">PRO NO.:</td>
	                                <td height="20px" align="left">{{this.orderInfo.prono}}</td>
	                            </tr>
	                            <tr>
	                                <td height="20px" align="right">TOTAL UNIT:</td>
	                                <td height="20px" align="left"><span id="unitTotals">{{../unitTotal}}</span></td>
	                            </tr>
	                        </table>
	                    </td>
	                    <td>
	                    	<table style="font-size:12px;font-family:Arial;">
	                            <tr>
	                                <td width="91px;" align="right" valign="top">SHIP TO:</td>
	                                <td width="160px;" align="left">
	                                	{{this.orderInfo.shiptoname}}&nbsp;{{this.orderInfo.shiptoaddress1}}&nbsp;{{this.orderInfo.shiptoaddress2}}&nbsp;{{this.orderInfo.shiptocity}}&nbsp;{{this.orderInfo.shiptostate}}&nbsp;{{this.orderInfo.shiptozipcode}}
	                                </td>
	                          </tr>
	                            <tr>
	                                <td height="20px;" align="right">SHIP TO ID:</td>
	                                <td height="20px;" align="left">{{this.orderInfo.shiptoid}}</td>
	                            </tr>
	                            <tr>
	                                <td height="20px;" align="right">TOTAL CFT:</td>
	                                <td height="20px;" align="left"><span id="volumeTotals">{{../volumeTotal}}</span></td>
	                            </tr>
	                            <tr>
	                                <td height="20px" align="right">TOTAL CASES:</td>
	                                <td height="20px" align="left"><span id="caseTotals">{{../caseTotal}}</span></td>
	                            </tr>
	                        </table>
	                    </td>
	                </tr>
	             </table>
	        </td>
	    </tr>
	  </thead>
	  	<tr>
	    	<td height="30px" style="border-top:2px solid black; border-bottom:2px solid black;">ITEM ID</td>
	        <td height="30px" style="border-top:2px solid black; border-bottom:2px solid black;">DESCRIPTION</td>
	        <td height="30px" style="border-top:2px solid black; border-bottom:2px solid black;">BUYER ITEM ID</td>
	        <td height="30px" style="border-top:2px solid black; border-bottom:2px solid black;">UPC</td>
	        <td height="30px" style="border-top:2px solid black; border-bottom:2px solid black;">STYLE</td>
	        <td height="30px" style="border-top:2px solid black; border-bottom:2px solid black;">SIZE</td>
	        <td height="30px" style="border-top:2px solid black; border-bottom:2px solid black;">UNIT</td>
	        <td height="30px" style="border-top:2px solid black; border-bottom:2px solid black;">ORDER QTY</td>
	        <td height="30px" style="border-top:2px solid black; border-bottom:2px solid black;">SHIP QTY</td>
	        <td height="30px" style="border-top:2px solid black; border-bottom:2px solid black;">CASE PACK</td>
	        <td height="30px" style="border-top:2px solid black; border-bottom:2px solid black;">NUM OF CASES</td>
	    </tr>
	  {{#each orderItems}}
	    <tr>
	      <td height="30px" align="left" style=" border-bottom:2px solid black;">{{this.itemid}}&nbsp;</td>
	      <td height="30px" align="left" style=" border-bottom:2px solid black;">{{this.commoditydescription}}&nbsp;</td>
	      <td height="30px" align="center" style=" border-bottom:2px solid black;">{{this.buyeritemid}}&nbsp;</td>
	      <td height="30px" align="center" style=" border-bottom:2px solid black;">{{this.upc}}&nbsp;</td>
	      <td height="30px" align="center" style=" border-bottom:2px solid black;">{{this.styleno}}&nbsp;</td>
	      <td height="30px" align="center" style=" border-bottom:2px solid black;">{{this.size}}&nbsp;</td>
	      <td height="30px" align="center" style=" border-bottom:2px solid black;">{{this.unit}}&nbsp;</td>
	      <td height="30px" align="center" style=" border-bottom:2px solid black;">{{this.orderedqty}}&nbsp;</td>
	      <td height="30px" align="center" style=" border-bottom:2px solid black;">{{this.shippedqty}}&nbsp;</td>
	      <td height="30px" align="center" style=" border-bottom:2px solid black;">{{this.unitsperpackage}}&nbsp;</td>
	      <td height="30px" align="center" style=" border-bottom:2px solid black;">{{this.orderlinecase}}&nbsp;</td>
	    </tr>
	  {{/each}}
	</table>
	</div>
		{{/if}}
	{{/each}}
{{/if}}
