{{#if datas}}
<div class="ui-tabs-panel ui-widget-content ui-corner-bottom" align="center" style="overflow:auto;dispaly:none">
	<div align="right" style="border:2px #dddddd solid;background:#eeeeee;padding:5px;-webkit-border-radius:7px;-moz-border-radius:7px;">
		<input class="short-short-button-print" type="button" value="Print" id="printInfo">
	</div>
<div id="receiptWms" align="center" style="width:368px; display:block; border:0px solid red;" name="receiptWms">
{{#each datas}}
{{#each receipts}}
	<div id="printWmsReceipt" name="printWmsReceipt" style="width:363px">
		<table width="368px;" border="0" align="left" cellpadding="0" cellspacing="0">
			<thead>
			  <tr style="width:100%;">
			  	<td style="width:100%;" colspan="7">
					<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
							<td width="40%" align="left">
								<span style="font-size: 8px;font-weight: bold;font-family: Verdana;" >
									{{../nowDate}}&nbsp;(&nbsp;{{this.companyid}}&nbsp;)
								</span>
							</td>
							<td width="42%" align="left">
								<span style="font-size: 10px;font-weight: bold;font-family: Verdana;">RECEIPTS  TICKET</span>
							</td>
							<td width="18%" align="left">
								<span style="font-size: 8px;font-family:Verdana;">PAGE:</span>
								<span style="font-size: 8px;font-family:Verdana;" tdata='pageNO'>#</span>
								<span style="font-size: 8px;font-family:Verdana;">/</span>
								<span style="font-size: 8px;font-family:Verdana;" tdata='PageCount'>#</span>
							</td>
						</tr>
					</table>
				</td>
			  </tr>
			  <tr style="width: 100%;">
				<td style="width: 100%;" colspan="7">
					<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
							<td width="31%" align="left">
								<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">ENTRY ID:&nbsp;{{../entryId}}</span>
							</td>
							<td colspan="2" align="left">
								<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">DOCK:&nbsp;{{../door_name}}</span>
							</td>
						 </tr>
						<tr>
							<td width="31%" align="left">
								<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">CUSTOMER:&nbsp;{{this.customerid}}</span>
							</td>
							<td width="32%" align="left">
								<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">PO NO.:&nbsp;{{this.pono}}</span>
							</td>
							<td width="37%" align="right">
								<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">DEVANNED DATE:&nbsp;{{this.devanneddate}}</span>&nbsp;&nbsp;
							</td>
						 </tr>
					</table>
				</td>
			  </tr>
			  <tr style="width: 100%;">
				<td style="width: 100%;" colspan="7">
					<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
							<td colspan="2" align="left">
								<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">RECEIPT NO:&nbsp;{{this.receiptno}}</span>
							</td>
						</tr>
						<tr>
							<td width="55%" align="left">
								<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">REFERENCE NO:&nbsp;{{this.referenceno}}</span>
							</td>
							<td width="45%" rowspan="2" align="right">
								<img src="/barbecue/barcode?data=90{{this.receiptnoBar}}&width=1&height=20&type=code39" />&nbsp;&nbsp;
							</td>
						</tr>
						<tr>
							<td width="55%" align="left">
								<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">CONTAINER NO:&nbsp;{{this.containerno}}</span>
							</td>
						</tr>
					 </table>
				</td>
			  </tr>
			  <tr style="width: 100%;">
				 <td style="width: 9%;border-top: 1px solid black; border-bottom: 1px solid black;" align="left"><span style="font-size: 8px;font-weight: bold;font-family: Verdana;">LINE</span></td>
			     <td style="width: 24%;border-top: 1px solid black;border-bottom: 1px solid black;" align="left"><span style="font-size: 8px;font-weight: bold;font-family: Verdana;">ITEM ID</span></td>
			     <td style="width: 14%;border-top: 1px solid black;border-bottom: 1px solid black;" align="left"><span style="font-size: 8px;font-weight: bold;font-family: Verdana;">SUPPLIER</span></td>
			     <td style="width: 20%;border-top: 1px solid black;border-bottom: 1px solid black;" align="left"><span style="font-size: 8px;font-weight: bold;font-family: Verdana;">LOT NO.</span></td>
			     <td style="width: 10%;border-top: 1px solid black;border-bottom: 1px solid black;" align="left"><span style="font-size: 8px;font-weight: bold;font-family: Verdana;">PLATE</span></td>
			     <td style="width: 14%;border-top: 1px solid black;border-bottom: 1px solid black;" align="left"><span style="font-size: 8px;font-weight: bold;font-family: Verdana;">LOCATION</span></td>
			     <td style="width: 9%;border-top: 1px solid black;border-bottom: 1px solid black;" align="right"><span style="font-size: 8px;font-weight: bold;font-family: Verdana;">QTY</span></td>
			 </tr>
			</thead>
			 {{#each receiptLines}}
			  <tr style="width: 100%;">
			    <td align="left" colspan="7" style="padding-top: 3px;">
			    &nbsp;<img src="/barbecue/barcode?data=96{{../receiptnoBar}}{{this.lineBar}}&width=1&height=20&type=code39" />
			    </td>
			  </tr>
			  <tr style="width: 100%;">
			    <td align="left" width="9%">
			    	<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">{{this.count}}</span>
			    </td>
			    <td align="left" width="24%">
			    	<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">{{this.itemid}}</span>
			    </td>
			    <td align="left" width="14%">
			    	<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">{{this.supplierid}}</span>
			    </td>
			    <td align="left" width="20%">
			    	<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">{{this.lotno}}</span>
			    </td>
			    <td align="left" width="10%">
			    	<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">{{this.plateno}}</span>
			    </td>
			    <td align="left" width="14%">
			    	{{#if locationID}}
			    	<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">{{this.locationID}}</span>
			    	{{/if}}&nbsp;
			    </td>
			    <td align="right" width="9%">
			    	<span style="font-size: 8px;font-weight: bold;font-family: Verdana;">{{this.expectedqty}}</span>
			    </td>
			  </tr>
		</table>
	</div>
{{/each}}
{{/each}}
{{/each}}
</div>
</div>
{{/if}}