{{#if datas}}
	<div align="right" style="border:2px #dddddd solid;background:#eeeeee;padding:5px;-webkit-border-radius:7px;-moz-border-radius:7px;">
		<input class="short-short-button-print" type="button" id="printInfo" value="Print">
	</div>
	
{{/if}}
{{#each datas}}
	{{#each loadInfoRows}}
		{{#xifCond loadInfoRow.error_order_status 1 '>'}}
			<span style="font-size: 10;font-family:Verdana;">OrderNo:{{loadInfoRow.error_order_no}},{{loadInfoRow.error_order_item}}:{{loadInfoRow.error_order_status_key}}</span><br>
		{{/xifCond}}	
	 	
	 	{{#xifCond loadInfoRow.error_order_status 2 '<'}}
	 		<div id="printWms" name="printWms" style="border: 0px solid red; width:363px;margin:0 auto;">
	 			<div id="a1">
		 			<table width="368px" border="0" align="left" cellpadding="0" cellspacing="0">
						<thead>
						  <tr>
						  	<td style="border-bottom:2px solid black;width: 100%;" colspan="6">
								<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
									<tr>
										<td width="115px">
											<span style="font-size:8px;font-weight:bold;font-family:Verdana;" >{{../../nowDate}}</span>&nbsp;
										</td>
										<td colspan="3">
											<span style="font-size:10px;font-weight: bold;font-family:Verdana;">MASTER  LOADING  TICKET</span>&nbsp;&nbsp;
											<span style="font-size:8px;font-family:Verdana;">PAGE:</span>
											<span style="font-size:8px;font-family:Verdana;" tdata='pageNO'>#</span>
											<span style="font-size:8px;font-family:Verdana;">/</span>
											<span style="font-size:px8;font-family:Verdana;" tdata='PageCount'>#</span>
										</td>
									</tr>
									<tr>
										<td width="115px">	
											<span style="font-size:8px;font-weight: bold;font-family:Verdana;">ENTRY ID:&nbsp;{{../../entryId}}</span>&nbsp;
										</td>
										<td colspan="3">
											<span style="font-size:8px;font-weight: bold;font-family:Verdana;">LOAD NO:&nbsp;{{loadInfoRow.loadno}}</span>
										</td>
									 </tr>
									<tr>
										<td width="115px">
											<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">WAREHOUSE:&nbsp;{{loadInfoRow.companyid}}</span>&nbsp;
										</td>
										<td>
											<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{loadInfoRow.customerid}}</span>
										</td>
										<td colspan="2" align="right">
											<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">MASTER BOL NO:&nbsp;{{loadInfoRow.masterbolno}}</span>
										</td>
									 </tr>
									 <tr>
										<td width="115px">
											<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">SHIP  TO:&nbsp;{{loadInfoRow.shiptoid}}</span>&nbsp;
										</td>
										<td>
											<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{loadInfoRow.accountid}}</span>
										</td>
										<td colspan="2" rowspan="2" align="right">
											<img src="/barbecue/barcode?data=89{{masterBOLNo}}&width=1&height=20&type=code39" />
										</td>
									</tr>
									<tr>
										<td width="115px">
											<span style="font-size:8px;font-weight: bold;font-family:Verdana;">SHIP  DATE:&nbsp;{{../window_check_in_time}}</span>&nbsp;
										</td>
										<td>
											<span style="font-size:8px;font-weight: bold;font-family:Verdana;">DOCK:&nbsp;{{../../dockID}}</span>
										</td>
									 </tr>
									 <tr>
										<td width="115px">
											<span style="font-size:8px;font-weight: bold;font-family:Verdana;">CARRIER:&nbsp;{{../../company_name}}</span>&nbsp;
										</td>
										<td colspan="2">
											<span style="font-size:8px;font-weight: bold;font-family:Verdana;">VEHICLENO:&nbsp;{{../../gate_container_no}}</span>
										</td>
										<td align="center">
											<span style="font-size:8px;font-weight: bold;font-family:Verdana;">SEALS:&nbsp;{{../../seal}}</span>
										</td>
									 </tr>
									 <tr width="100%">
										<td colspan="4">
											<span style="font-size:8px;font-weight: bold;font-family:Verdana;">PalletTypeID:&nbsp;{{loadInfoRow.pallettypeid}}</span>
										</td>
									 </tr>
								 </table>
							</td>
						  </tr>
						  <tr style="width: 100%;">
							 <td style="width: 12%;border-bottom: 1px solid black;" align="left"><span style="font-size:8px;font-weight: bold;font-family:Verdana;">LINE</span></td>
						     <td style="width: 28%;border-bottom: 1px solid black;" align="left"><span style="font-size:8px;font-weight: bold;font-family:Verdana;">ITEM ID</span></td>
						     <td style="width: 12%;border-bottom: 1px solid black;" align="center"><span style="font-size:8px;font-weight: bold;font-family:Verdana;">STAGING</span></td>
						     <td style="width: 18%;border-bottom: 1px solid black;" align="center"><span style="font-size:8px;font-weight: bold;font-family:Verdana;">PLATE NO.</span></td>
						     <td style="width: 13%;border-bottom: 1px solid black;" align="center"><span style="font-size:8px;font-weight: bold;font-family:Verdana;">QTY</span></td>
						     <td style="width: 17%;border-bottom: 1px solid black;" align="right"><span style="font-size:8px;font-weight: bold;font-family:Verdana;">CASE</span></td>
						 </tr>
						</thead>
						  {{#each loadOrderRows}}
						  {{!-- 不同Order，加Order信息 --}}
						  	{{#unless isSameOrder}}
							  <tr style="width: 100%;">
							  	<td colspan="6" align="left">
								  	<table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
								  		<tr>
										  	<td align="left" style="vertical-align: middle;border-top: 1px solid black;;width:45%;" rowspan="2" valign="middle">
										  		&nbsp;<img src="/barbecue/barcode?data=98{{this.OrderNo}}&width=1&height=20&type=code39" />
										  	</td>
										  	<td align="left" style="border-top: 5px;vertical-align: middle;border-top: 1px solid black;" valign="bottom" >
										  		<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">ORDER NO:</span>&nbsp;
										  		<span style="font-size: 9px;font-weight: bold;font-family:Verdana;">{{this.orderno}}</span>
										  	</td>
										  	<td align="left" style="border-top: 5px;vertical-align: middle;border-top: 1px solid black;" valign="bottom" >
										  		<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{this.pickingtype}}</span>
										  	</td>
										 </tr>
										 <tr style="width: 100%;">
										  	<td align="left" valign="top" >
										 		<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">PLT Type:</span>&nbsp;
										 		<span style="font-size: 9px;font-weight: bold;font-family:Verdana;">{{this.pallettypeid}}</span>
										  	</td>
										  	<td align="left" valign="top" >
												<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">PLTS:&nbsp;{{this.loadPalletNum}}</span>										  	
										  	</td>
										 </tr>
									 </table>
								 </td>
							  </tr>
							 {{/unless}} 
						  <tr align="center" valign="middle" style="width: 100%;">
						    <td align="left">
						    	<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{indexTo4Str @index}}</span>
						    </td>
						    <td align="left">
						    	<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{this.itemid}}</span>
						    </td>
						   <td align="center">
						    	<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{this.stagingareaid}}</span>
						    </td>
						    <td align="center">
						    	<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{this.plateno}}</span>
						    </td>
						    <td align="center">
						    	<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{this.shippedqty}}({{this.unit}})</span>
						    </td>
						    <td align="right">
						    	<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{this.caseSumQty}}(Case)</span>
						    </td>
						  </tr>
						  {{#xifCond caseSumQty qtyInfoRow.case_qty '!='}}
						  	<tr><td colspan="6" align="right" style="border-bottom: 1px dotted black;"><span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{../caseQtyStr}}</span></td></tr>
						  {{/xifCond}}
						{{/each}}
						   <tfoot>
						</tfoot>
					</table>
		 		</div>
	 			
		 		<br/>
		 		<div id="av2" style="clear: left">
		 			<table width="100%" border="0" cellspacing="0" cellpadding="0">
					   {{#xifCond ../../loadOrderRowsLength 0 '>'}}
							<tr>
							 	<td colspan="6">
							 		<table style="width: 100%;">
									  <tr>
									 	<td width="178px;">
									 		<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">TOTAL PLTS:{{../palletTotal}}</span>
										</td>
										<td align="right" width="100px;">
											<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">TOTAL QTY:&nbsp;{{../itemTotal}}</span>
										</td>
										<td align="right"  width="90px;">
											<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">TOTAL CASE:&nbsp;{{../caseTotal}}</span>
										</td>
								  	  </tr>
							 		</table>
							 	</td>
							 </tr>
					{{/xifCond}}
					</table>
		 		</div>
		 	</div>
	 	{{/xifCond}}
	 	
	{{/each}}
{{/each}}
{{!--loadInfoRows end--}}

