{{#if datas}}
	<div align="right" style="border:2px #dddddd solid;background:#eeeeee;padding:5px;-webkit-border-radius:7px;-moz-border-radius:7px;">
		<input class="short-short-button-print" type="button" id="printInfo" value="Print">
	</div>
	
{{/if}}
{{#each datas}}
	{{#if orderInfoRows}}
		<div id="printWms" name="printWms" style="border: 0px solid red; width:363px;margin:0 auto;">
			<div id="a1">
				<table width="368px" border="0" align="left" cellpadding="0" cellspacing="0">
				<thead>
				  <tr style="width: 100%;">
				  	<td style="border-bottom:2px solid black;width: 100%;" colspan="6">
						<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;" >{{nowDate}}</span>&nbsp;
								</td>
								<td colspan="2">
									<span style="font-size: 10px;font-weight: bold;font-family:Verdana;">ORDER  LOADING  TICKET</span>
								</td>
								<td>
									<span style="font-size: 8px;font-family:Verdana;">PAGE:</span>
									<span style="font-size: 8px;font-family:Verdana;" tdata='pageNO'>#</span>
									<span style="font-size: 8px;font-family:Verdana;">/</span>
									<span style="font-size: 8px;font-family:Verdana;" tdata='PageCount'>#</span>
								</td>
							</tr>
							
							<tr>
								<td>	
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">ENTRY ID&nbsp;:&nbsp;{{entryId}}</span>
								</td>
								<td colspan="3">
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">LOAD NO&nbsp;:&nbsp;{{orderInfoRows.0.orderInfoRow.loadno}}</span>
								</td>
							 </tr>
							<tr>
								<td>
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">WAREHOUSE&nbsp;:&nbsp;{{orderInfoRows.0.orderInfoRow.companyid}}</span>
								</td>
								<td>
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{orderInfoRows.0.orderInfoRow.customerid}}</span>
								</td>
								<td>
									&nbsp;
								</td>
							 </tr>
							 <tr>
								<td>
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">SHIP  TO&nbsp;:&nbsp;{{orderInfoRows.0.orderInfoRow.shiptoid}}</span>
								</td>
								<td>
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{orderInfoRows.0.orderInfoRow.accountid}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">SHIP  DATE&nbsp;:&nbsp;{{orderInfoRows.0.window_check_in_time}}</span>
								</td>
								<td>
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">DOCK&nbsp;:&nbsp;{{dockID}}</span>
								</td>
							 </tr>
							 <tr>
								<td>
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">CARRIER&nbsp;:&nbsp;{{company_name}}</span>
								</td>
								<td>
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">VEHICLENO&nbsp;:&nbsp;{{gate_container_no}}</span>
								</td>
								<td>
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">SEALS&nbsp;:&nbsp;{{seal}}</span>
								</td>
								<td colspan="2">
								
								</td>
							 </tr>
							 <tr>
								<td colspan="5">
									<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">PalletTypeID&nbsp;:&nbsp;{{orderInfoRows.0.orderInfoRow.pallettypeid}}</span>
								</td>
							 </tr>
						 </table>
					</td>
				  </tr>
				  <tr style="width: 100%;">
					<td style="width: 12%;border-bottom: 1px solid black;" align="left"><span style="font-size: 8px;font-weight: bold;font-family:Verdana;">LINE</span></td>
				     <td style="width: 28%;border-bottom: 1px solid black;" align="left"><span style="font-size: 8px;font-weight: bold;font-family:Verdana;">ITEM ID</span></td>
				     <td style="width: 12%;border-bottom: 1px solid black;" align="center"><span style="font-size: 8px;font-weight: bold;font-family:Verdana;">STAGING</span></td>
				     <td style="width: 18%;border-bottom: 1px solid black;" align="center"><span style="font-size: 8px;font-weight: bold;font-family:Verdana;">PLATE NO.</span></td>
				     <td style="width: 13%;border-bottom: 1px solid black;" align="center"><span style="font-size: 8px;font-weight: bold;font-family:Verdana;">QTY</span></td>
				     <td style="width: 17%;border-bottom: 1px solid black;" align="right"><span style="font-size: 8px;font-weight: bold;font-family:Verdana;">CASE</span></td>
				 </tr>
				</thead>
				  {{#each orderInfoRows}}
				  	 <tr style="width: 100%;">
					  	<td colspan="6" align="left">
						  	<table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
						  		<tr>
								  	<td align="left" style="border-top: 5px;vertical-align: middle;border-top: 1px solid black;width:45%;" rowspan="2" valign="middle">
								  		&nbsp;<img src="/barbecue/barcode?data=98{{orderNo}}&width=1&height=20&type=code39" />&nbsp;&nbsp;&nbsp;
								  	</td>
								  	<td align="left" style="border-top: 5px;vertical-align: middle;border-top: 1px solid black;" valign="bottom" height="25px">
								  		<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">ORDER NO:</span>
								  		<span style="font-size: 9px;font-weight: bold;font-family:Verdana;">{{orderInfoRow.orderno}}</span>
								  	</td>
								  	<td align="left" style="border-top: 5px;vertical-align: middle;border-top: 1px solid black;" valign="bottom" height="25px">
									  	<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{orderInfoRow.pickingtype}}</span>
								  	</td>
								  </tr>
								  <tr style="width: 100%;">
								  	<td align="left" valign="top" height="25px">
								  		<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">PLT Type:</span>
								 		<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{orderInfoRow.pallettypeid}}</span>
								  	</td>
								  	<td align="left" valign="top" height="25px">
									  	<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">PLTS&nbsp;:&nbsp;{{loadPalletNum}}</span>
								  	</td>
								  </tr>
								 </table>
							</td>
						</tr>
						{{#each orderItemRows}}
						  <tr align="center" valign="middle" style="width: 100%;">
						    <td align="left">
						    	<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{this.count}}</span>
						    </td>
						    <td align="left">
						    	<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{this.itemid}}</span>
						    </td>
						   <td align="left">
						    	<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{../orderInfoRow.stagingareaid}}</span>
						    </td>
						    <td align="right">
						    	<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{this.plateno}}</span>
						    </td>
							<td align="center">
							   <span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{this.shippedqty}}({{this.unit}})</span>
							</td>
							<td align="right">
							    <span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{this.caseSumQty}}(Case)</span>
							</td>
						  </tr>
						 {{#xifCond this.caseSumQty qtyInfoRow.case_qty '!='}}
						  	<tr><td colspan="6" align="right" style="border-bottom: 1px dotted black;"><span style="font-size: 8px;font-weight: bold;font-family:Verdana;">{{../caseQtyStr}}</span></td></tr>
						  {{/xifCond}}
					   {{/each}}
					{{/each}}			
				   <tfoot></tfoot>
				</table>
	 		</div>
	 		<br/>
	 		<div id="av2" style="clear: left">
	 			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				   {{#xifCond ../orderItemRowsLength '0' '>'}}
						<tr>
						 	<td colspan="6">
						 		<table style="width: 100%;">
								  <tr>
								 	<td width="178px;">
								 		<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">TOTAL PLTS:{{palletTotal}}</span>
									</td>
									<td align="right" width="100px;">
										<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">TOTAL QTY:&nbsp;{{itemTotal}}</span>
									</td>
									<td align="right"  width="90px;">
										<span style="font-size: 8px;font-weight: bold;font-family:Verdana;">TOTAL CASE:&nbsp;{{caseTotal}}</span>
									</td>
							  	  </tr>
						 		</table>
						 	</td>
						 </tr>
					{{/xifCond}}
				</table>
	 		</div>
		</div>
	{{/if}}
{{/each}}