<div align="right" style="border:2px #dddddd solid;background:#eeeeee;padding:5px;-webkit-border-radius:7px;-moz-border-radius:7px;">
	<input type="button" class="short-short-button-print" value="Print" id="printInfo">
</div><br>
{{#each datas}}
<div align="center">
	{{!-- live load--}}
 {{#xifCond key.ISLIVE 1 '='}}
	<div id="avg" name="avg" style="width:368px; display:block; border:1px solid red">
		<div style="border-bottom:2px solid black;height:30px;padding-top:10px;font-size:20px;font-weight:bold;font-family:Verdana;" align="center">
			Check Out with this Label
		</div>

		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="35%" rowspan="2" align="center" style="border-bottom:2px solid black;border-right:2px solid black;"><span style="font-weight:bold; font-family:Verdana">{{value.REL_TYPE_SHOW}}</span><br>
				<span style="font-family:Verdana">Live Load</span><br>
				<span style="font-weight:bold;font-size:17px;font-family:Verdana;">Entry ID</span></td>

				<td width="60%" align="center" colspan="3" style="border-bottom:2px solid black;">
					<div>
						<span style="font-weight: bold;font-family:Verdana;" id="dateShow">Gate Check In Time</span>
					</div>

					<div>
						{{value.GATE_CHECK_IN_TIME}}
					</div>
				</td>
			</tr>
			<tr>
				<td height="58" colspan="3" align="center" style="border-bottom:2px solid black;">
					<div align="center">
						<span style="font-weight: bold;"><img src="/barbecue/barcode?data={{value.ENTRY_ID}}&amp;resolution=203&amp;type=Code39"></span>
					</div>

					<div align="center">
						<span style="font-weight: bold;"><span style="font-size:12px;font-family:Verdana;">{{value.ENTRY_ID}}</span></span>
					</div>
				</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">License Plate</td>

				<td colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div align="center" style="margin-top: 5px;"><img src="/barbecue/barcode?data={{value.LISCENSE_PALTE}}&amp;width=1&amp;height=20&amp;type=Code39"></div>

					<div align="center">
						<span style="font-size:12px;">{{value.LISCENSE_PALTE}}</span>
					</div>
				</td>
			</tr>

			<tr>
				<td align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Container No</td>

				<td colspan="3" align="center" style="border-bottom:2px solid black;">
					<div align="center" style="margin-top: 5px;"><img src="/barbecue/barcode?data={{value.CONTAINER_NO}}&amp;width=1&amp;height=20&amp;type=Code39"></div>

					<div align="center">
						<span style="font-size:12px;">{{value.CONTAINER_NO}}</span>
					</div>
				</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black; border-right:2px solid black;font-family:Verdana;">{{value.NUMBER_TYPE_SHOW}}</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.NUMBER}}</td>
			</tr>
			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">MC / DOT</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.MC_DOT}}&nbsp;</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Company Name</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.COMPANY_NAME}}</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Company Phone</td>

				<td colspan="3" style="border-bottom:2px solid black;" align="center">&nbsp;</td>
			</tr>

			<tr>
				<td height="30" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black; border-right:2px solid black;">{{value.PARK_DOOR_TITLE}}</td>

				<td height="30" colspan="3" align="center" style="font-size: 16px; font-family: Verdana;font-weight: bold; border-bottom:2px solid black;">{{value.PARK_DOOR_VAL}}</td>
			</tr>
		
			{{#xifCond value.DETAIL_LENGTH 1 '='}}
			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">AccountID</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.ACCOUNT_ID}}&nbsp;</td>
			</tr>
			{{/xifCond}}
			<tr>
				<td height="83" colspan="4" align="center" valign="bottom">
					&nbsp;

					<div style="height:40px;line-height:40px;font-size:13px;font-weight:bold;font-family:Verdana;" align="center">
						Must Window CheckIn
					</div>
				</td>
			</tr>
		</table>
	</div>
	 {{/xifCond}}
	 
	{{!-- drop of--}}
	{{#xifCond key.ISLIVE 2 '='}}
		{{!--trailer puller--}} 
	{{#unless value.CONTAINER_NO}}
	<div id="avg" name="avg" style="width:368px; display:block; border:1px solid red">
		<div style="border-bottom:2px solid black;height:30px;padding-top:10px;font-size:20px;font-weight:bold;font-family:Verdana;" align="center">
			Check Out with this Label
		</div>

		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="33%" rowspan="2" align="center" style="border-bottom:2px solid black;border-right:2px solid black;"><span style="font-weight:bold;font-family:Verdana;">{{value.REL_TYPE_SHOW}}</span><br>
				<span style="font-family:Verdana;">Drop Off</span><br>
				<span style="font-weight:bold;font-size:17px;font-family:Verdana;">Entry ID</span></td>

				<td height="36" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div>
						<span style="font-weight: bold;font-family:Verdana;" id="dateShow">Gate Check In Time</span>
					</div>

					<div>
						{{value.GATE_CHECK_IN_TIME}}
					</div>
				</td>
			</tr>

			<tr>
				<td height="58" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div align="center">
						<span style="font-weight: bold;"><img src="/barbecue/barcode?data={{value.ENTRY_ID}}&amp;resolution=203&amp;type=Code39"></span>
					</div>

					<div align="center">
						<span style="font-weight: bold;"><span style="font-size:12px;">{{value.ENTRY_ID}}</span></span>
					</div>
				</td>
			</tr>

			<tr>
				<td align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">License Plate</td>

				<td colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div align="center" style="margin-top:5px;"><img src="/barbecue/barcode?data={{value.LISCENSE_PALTE}}&amp;width=1&amp;height=23&amp;type=Code39"></div>

					<div align="center" style="font-size:12px;">
						{{value.LISCENSE_PALTE}}
					</div>
				</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">{{value.NUMBER_TYPE_SHOW}}</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.NUMBER}}</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">MC / DOT</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.MC_DOT}}&nbsp;</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Company Name</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.COMPANY_NAME}}</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Company Phone</td>

				<td colspan="3" style="border-bottom:2px solid black;" align="center">&nbsp;</td>
			</tr>

			<tr>
				<td height="30" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black; border-right:2px solid black;">{{value.PARK_DOOR_TITLE}}</td>

				<td height="30" colspan="3" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;">{{value.PARK_DOOR_VAL}}</td>
			</tr>
			{{#xifCond value.DETAIL_LENGTH 1 '='}}
			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">AccountID</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.ACCOUNT_ID}}&nbsp;</td>
			</tr>
			{{/xifCond}}
			<tr>
				<td height="83" colspan="4" align="center" valign="bottom">
					&nbsp;

					<div style="height:40px;line-height:40px;font-size:13px;font-weight:bold;font-family:Verdana;" align="center">
						Must Window CheckIn
					</div>
				</td>
			</tr>
		</table>
	</div>
{{/unless}}

	{{!--trailer--}}
{{#if this.value.CONTAINER_NO}}
	{{!--<div style="border:1px solid blue;"> 
		Drop of &#232;&#189;&#166;&#229;&#164;&#180;+&#232;&#189;&#166;&#229;&#176;&#190;
	</div>--}}

	<table>
		<tr>
			<td width="50%">
				<div id="avg" name="avg" style="width:368px; height:450px; display:block; border:1px solid red">
					<div style="border-bottom:2px solid black;height:30px;padding-top:10px;font-size:20px;font-weight:bold;font-family:Arial;" align="center">
						Check Out with this Label
					</div>

					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="33%" rowspan="2" align="center" style="border-bottom:2px solid black;border-right:2px solid black;"><span style="font-weight:bold;font-family:Verdana;">{{value.REL_TYPE_SHOW}}</span><br>
							<span style="font-family:Verdana;">Drop Off</span><br>
							<span style="font-weight:bold;font-size:17px;font-family:Verdana;">Entry ID</span></td>

							<td height="36" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div>
									<span style="font-weight: bold;font-family:Verdana;" id="dateShow">Gate Check In Time</span>
								</div>

								<div>
									{{value.GATE_CHECK_IN_TIME}}
								</div>
							</td>
						</tr>

						<tr>
							<td height="58" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div align="center">
									<span style="font-weight: bold;"><img src="/barbecue/barcode?data={{value.ENTRY_ID}}&amp;resolution=203&amp;type=Code39"></span>
								</div>

								<div align="center">
									<span style="font-weight: bold;"><span style="font-size:12px;">{{value.ENTRY_ID}}</span></span>
								</div>
							</td>
						</tr>

						<tr>
							<td align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">License Plate</td>

							<td colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div align="center" style="margin-top:5px;"><img src="/barbecue/barcode?data={{value.LISCENSE_PALTE}}&amp;width=1&amp;height=23&amp;type=Code39"></div>

								<div align="center" style="font-size:12px;">
									{{value.LISCENSE_PALTE}}
								</div>
							</td>
						</tr>

						<tr>
							<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">{{value.NUMBER_TYPE_SHOW}}</td>

							<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.NUMBER}}</td>
						</tr>

						<tr>
							<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">MC / DOT</td>

							<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.MC_DOT}}&nbsp;</td>
						</tr>

						<tr>
							<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Company Name</td>

							<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.COMPANY_NAME}}</td>
						</tr>

						<tr>
							<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Company Phone</td>

							<td colspan="3" style="border-bottom:2px solid black;" align="center">&nbsp;</td>
						</tr>

						<tr>
							<td height="30" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;border-right:2px solid black;">{{value.PARK_DOOR_TITLE}}</td>

							<td height="30" colspan="3" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;">{{value.PARK_DOOR_VAL}}</td>
						</tr>
					{{#xifCond value.DETAIL_LENGTH 1 '='}}
						<tr>
							<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">AccountID</td>

							<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.ACCOUNT_ID}}&nbsp;</td>
						</tr>
					{{/xifCond}}
						<tr>
							<td height="70" colspan="4" align="center" valign="bottom" style="padding-bottom: 5px;">
								&nbsp;

								<div style="height:40px;line-height:40px;font-size:13px;font-weight:bold;font-family:Verdana;" align="center">
									Must Window CheckIn
								</div>
							</td>
						</tr>
					</table>
				</div>
			</td>

			<td>
				<div id="avg" name="avg" style="width:368px; height:450px; display:block; border:1px solid red">
					<div style="border-bottom:2px solid black;height:30px;padding-top:10px;font-size:20px;font-weight:bold;font-family:Verdana;" align="center">
						Trailer/CTNR Release Code
					</div>

					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="33%" rowspan="2" align="center" style="border-bottom:2px solid black;border-right:2px solid black;"><span style="font-weight:bold;font-family:Verdana;">{{value.REL_TYPE_SHOW}}</span><br>
							<span style="font-family:Verdana;">Drop Off</span><br>
							<span style="font-weight:bold;font-size:12px;font-family:Verdana;">Release Code</span></td>

							<td height="36" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div>
									<span style="font-weight: bold;font-family:Verdana;" id="dateShow">Gate Check In Time</span>
								</div>

								<div>
									{{value.GATE_CHECK_IN_TIME}}
								</div>
							</td>
						</tr>

						<tr>
							<td height="58" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div align="center">
									<span style="font-weight: bold;"><img src="/barbecue/barcode?data={{value.ENTRY_ID}}&amp;resolution=203&amp;type=Code39"></span>
								</div>

								<div align="center">
									<span style="font-weight: bold;"><span style="font-size:12px;">{{value.ENTRY_ID}}</span></span>
								</div>
							</td>
						</tr>

						<tr>
							<td align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">License Plate</td>

							<td colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div align="center" style="margin-top:5px;"><img src="/barbecue/barcode?data={{value.LISCENSE_PALTE}}&amp;width=1&amp;height=23&amp;type=Code39"></div>

								<div align="center" style="font-size:12px;">
									{{value.LISCENSE_PALTE}}
								</div>
							</td>
						</tr>

						<tr>
							<td align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Trailer/CTNR</td>

							<td colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div align="center" style="margin-top: 5px;"><img src="/barbecue/barcode?data={{value.CONTAINER_NO}}&amp;width=1&amp;height=23&amp;type=Code39"></div>

								<div align="center" style="font-size:12px;">
									{{value.CONTAINER_NO}}
								</div>
							</td>
						</tr>

						<tr>
							<td height="30" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;border-right:2px solid black;">{{value.PARK_DOOR_TITLE}}</td>

							<td height="30" colspan="3" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;">{{value.PARK_DOOR_VAL}}</td>
						</tr>
					{{#xifCond value.DETAIL_LENGTH 1 '='}}
						<tr>
							<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">AccountID</td>

							<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.ACCOUNT_ID}}&nbsp;</td>
						</tr>
					{{/xifCond}}
						<tr>
							<td align="center" style="font-family:Verdana;">&nbsp;</td>

							<td colspan="3" align="center" style="font-family:Verdana;">&nbsp;</td>
						</tr>

						<tr>
							<td height="35" colspan="2" align="center">&nbsp;</td>

							<td colspan="2">&nbsp;</td>
						</tr>
					</table>

					<div style="height:40px;line-height:40px;font-size:13px;font-weight:bold; padding-bottom: 20px; font-family:Verdana;" valign="top" align="center">
						Passcode is Required for Picking Up CTNR/Trailer
					</div>
				</div>
			</td>
		</tr>
	</table>
		{{/if}}
	{{/xifCond}}

	{{!--<div style="border:1px solid blue;">
		swap &#232;&#189;&#166;&#229;&#164;&#180;
	</div>--}}
	 {{!-- swap--}}
	{{#xifCond key.ISLIVE 3 '='}}
	<div id="avg" name="avg" style="width:368px; display:block; border:1px solid red">
		<div style="border-bottom:2px solid black;height:30px;padding-top:10px;font-size:20px;font-weight:bold;font-family:Verdana;" align="center">
			Check Out with this Label
		</div>

		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="33%" rowspan="2" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;"><span style="font-weight:bold;">{{value.REL_TYPE_SHOW}}</span><br>
				<span style="font-family:Verdana;">Swap CTNR</span><br>
				<span style="font-weight:bold;font-size:17px;font-family:Verdana;">Entry ID</span></td>

				<td height="36" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div>
						<span style="font-weight: bold;font-family:Verdana;" id="dateShow">Gate Check In Time</span>
					</div>

					<div>
						{{value.GATE_CHECK_IN_TIME}}
					</div>
				</td>
			</tr>

			<tr>
				<td height="58" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div align="center">
						<span style="font-weight: bold;"><img src="/barbecue/barcode?data={{value.ENTRY_ID}}&amp;resolution=203&amp;type=Code39"></span>
					</div>

					<div align="center">
						<span style="font-weight: bold;"><span style="font-size:12px;">{{value.ENTRY_ID}}</span></span>
					</div>
				</td>
			</tr>

			<tr>
				<td align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">License Plate</td>

				<td colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div align="center" style="margin-top: 5px;"><img src="/barbecue/barcode?data={{value.LISCENSE_PALTE}}&amp;width=1&amp;height=23&amp;type=Code39"></div>

					<div align="center" style="font-size:12px;">
						{{value.LISCENSE_PALTE}}
					</div>
				</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">{{value.NUMBER_TYPE_SHOW}}</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.NUMBER}}</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">MC / DOT</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.MC_DOT}}&nbsp;</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Company Name</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.COMPANY_NAME}}</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Company Phone</td>

				<td colspan="3" style="border-bottom:2px solid black;" align="center">&nbsp;</td>
			</tr>

			<tr>
				<td height="30" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;border-right:2px solid black;">{{value.PARK_DOOR_TITLE}}</td>

				<td height="30" colspan="3" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;">{{value.PARK_DOOR_VAL}}</td>
			</tr>
			{{#xifCond value.DETAIL_LENGTH 1 '='}}
			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Title</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.TITLE}}&nbsp;</td>
			</tr>
			{{/xifCond}}
			<tr>
				<td height="83" colspan="4" align="center" valign="bottom">
					&nbsp;

					<div style="height:40px;line-height:40px;font-size:13px;font-weight:bold;font-family:Verdana;" align="center">
						Must Window CheckIn
					</div>
				</td>
			</tr>
		</table>
	</div>

	{{!--<div style="border:1px solid blue;">
		swap &#232;&#189;&#166;&#229;&#164;&#180;+&#232;&#189;&#166;&#229;&#176;&#190;
	</div>--}}

	<table>
		<tr>
			<td width="50%">
				<div id="avg" name="avg" style="width:368px; display:block; border:1px solid red">
					<div style="border-bottom:2px solid black;height:30px;padding-top:10px;font-size:20px;font-weight:bold;font-family:Verdana;" align="center">
						Check Out with this Label
					</div>
 
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="33%" rowspan="2" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;"><span style="font-weight:bold;">{{value.REL_TYPE_SHOW}}</span><br>
							<span style="font-family:Verdana;">Swap CTNR</span><br>
							<span style="font-weight:bold;font-size:17px;font-family:Verdana;">Entry ID</span></td>

							<td height="36" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div>
									<span style="font-weight: bold;font-family:Verdana;" id="dateShow">Gate Check In Time</span>
								</div>

								<div>
									{{value.GATE_CHECK_IN_TIME}}
								</div>
							</td>
						</tr>

						<tr>
							<td height="58" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div align="center">
									<span style="font-weight: bold;"><img src="/barbecue/barcode?data={{value.ENTRY_ID}}&amp;resolution=203&amp;type=Code39"></span>
								</div>

								<div align="center">
									<span style="font-weight: bold;"><span style="font-size:12px;">{{value.ENTRY_ID}}</span></span>
								</div>
							</td>
						</tr>

						<tr>
							<td align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">License Plate</td>

							<td colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div align="center" style="margin-top: 5px;"><img src="/barbecue/barcode?data={{value.LISCENSE_PALTE}}&amp;width=1&amp;height=23&amp;type=Code39"></div>

								<div align="center" style="font-size:12px;">
									{{value.LISCENSE_PALTE}}
								</div>
							</td>
						</tr>

						<tr>
							<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">{{value.NUMBER_TYPE_SHOW}}</td>

							<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.NUMBER}}</td>
						</tr>

						<tr>
							<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">MC / DOT</td>

							<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.MC_DOT}}&nbsp;</td>
						</tr>

						<tr>
							<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Company Name</td>

							<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.COMPANY_NAME}}</td>
						</tr>

						<tr>
							<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Company Phone</td>

							<td colspan="3" style="border-bottom:2px solid black;" align="center">&nbsp;</td>
						</tr>

						<tr>
							<td height="30" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;border-right:2px solid black;">{{value.PARK_DOOR_TITLE}}</td>

							<td height="30" colspan="3" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;">{{value.PARK_DOOR_VAL}}</td>
						</tr>
					{{#xifCond value.DETAIL_LENGTH 1 '='}}
						<tr>
							<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Title</td>

							<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.TITLE}}&nbsp;</td>
						</tr>
					{{/xifCond}}
						<tr>
							<td height="70" colspan="4" align="center" valign="bottom">
								&nbsp;

								<div style="height:40px;line-height:40px;font-size:13px;font-weight:bold;font-family:Verdana;" align="center">
									Must Window CheckIn
								</div>
							</td>
						</tr>
					</table>
				</div>
			</td>

			<td>
				<div id="avg" name="avg" style="width:368px; height:460px; display:block; border:1px solid red">
					<div style="border-bottom:2px solid black;height:30px;padding-top:10px;font-size:20px;font-weight:bold;font-family:Verdana;" align="center">
						Trailer/CTNR Release Code
					</div>

					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="33%" rowspan="2" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;"><span style="font-weight:bold;">{{value.REL_TYPE_SHOW}}</span><br>
							<span style="font-family:Verdana;">Swap CTNR</span><br>
							<span style="font-weight:bold;font-size:12px;font-family:Verdana;">Release Code</span></td>

							<td height="36" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div>
									<span style="font-weight: bold;font-family:Verdana;" id="dateShow">Gate Check In Time</span>
								</div>

								<div>
									{{value.GATE_CHECK_IN_TIME}}
								</div>
							</td>
						</tr>

						<tr>
							<td height="58" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div align="center">
									<span style="font-weight: bold;"><img src="/barbecue/barcode?data={{value.ENTRY_ID}}&amp;resolution=203&amp;type=Code39"></span>
								</div>

								<div align="center">
									<span style="font-weight: bold;"><span style="font-size:12px;">{{value.ENTRY_ID}}</span></span>
								</div>
							</td>
						</tr>

						<tr>
							<td align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">License Plate</td>

							<td colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
								<div align="center" style="margin-top:5px;"><img src="/barbecue/barcode?data={{value.LISCENSE_PALTE}}&amp;width=1&amp;height=23&amp;type=Code39"></div>

								<div align="center" style="font-size:12px;">
									{{value.LISCENSE_PALTE}}
								</div>
							</td>
						</tr>

						<tr>
							<td align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Trailer/CTNR</td>

							<td colspan="3" align="center" style="border-bottom:2px solid black;">
								<div align="center" style="margin-top: 5px;"><img src="/barbecue/barcode?data={{value.CONTAINER_NO}}&amp;width=1&amp;height=23&amp;type=Code39"></div>

								<div align="center" style="font-size:12px;">
									{{value.CONTAINER_NO}}
								</div>
							</td>
						</tr>

						<tr>
							<td height="30" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;border-right:2px solid black;">{{value.PARK_DOOR_TITLE}}</td>

							<td height="30" colspan="3" align="center" style="font-size: 16px; font-weight: bold; font-family:Verdana; border-bottom:2px solid black;">{{value.PARK_DOOR_VAL}}</td>
						</tr>
						{{#xifCond value.DETAIL_LENGTH 1 '='}}
						<tr>
							<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Title</td>

							<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.TITLE}}&nbsp;</td>
						</tr>
						{{/xifCond}}
						<tr>
							<td height="35" colspan="4">&nbsp;</td>
						</tr>

						<tr>
							<td colspan="2">&nbsp;</td>

							<td width="5%">&nbsp;</td>

							<td>&nbsp;</td>
						</tr>
					</table>

					<div style="height:40px;line-height:40px;font-size:13px;font-weight:bold;font-family:Verdana;" align="center">
						Passcode is Required for Picking Up CTNR/Trailer
					</div>
				</div>
			</td>
		</tr>
	</table>

	{{!--<div style="border:1px solid blue;">
		pick up &#232;&#189;&#166;&#229;&#164;&#180;
	</div>--}}
	{{/xifCond}}
	 {{!-- swap--}}
	{{#xifCond key.ISLIVE 4 '='}}
	<div id="avg" name="avg" style="width:368px; display:block; border:1px solid red">
		<div style="border-bottom:2px solid black;height:30px;padding-top:10px;font-size:15px;font-weight:bold;font-family:Verdana;" align="center">
			Check Out with this Label
		</div>

		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="33%" rowspan="2" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;"><span style="font-weight:bold;">{{value.REL_TYPE_SHOW}}</span><br>
				<span style="font-family:Verdana;">PickUp CTNR</span><br>
				<span style="font-weight:bold;font-size:17px;font-family:Verdana;">Entry ID</span></td>

				<td height="36" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div>
						<span style="font-weight: bold;font-family:Verdana;" id="dateShow">Gate Check In Time</span>
					</div>

					<div>
						{{value.GATE_CHECK_IN_TIME}}
					</div>
				</td>
			</tr>

			<tr>
				<td height="58" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div align="center">
						<span style="font-weight: bold;"><img src="/barbecue/barcode?data={{value.ENTRY_ID}}&amp;resolution=203&amp;type=Code39"></span>
					</div>

					<div align="center">
						<span style="font-weight: bold;"><span style="font-size:12px;">{{value.ENTRY_ID}}</span></span>
					</div>
				</td>
			</tr>

			<tr>
				<td align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">License Plate</td>

				<td colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div align="center" style="margin-top: 5px;"><img src="/barbecue/barcode?data={{value.LISCENSE_PALTE}}&amp;width=1&amp;height=20&amp;type=Code39"></div>

					<div align="center">
						<span style="font-size:12px;">{{value.LISCENSE_PALTE}}</span>
					</div>
				</td>
			</tr>

			<tr>
				<td align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">CTNR</td>

				<td colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">{{value.SEARCH_CONTAINER_NO}}</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">{{value.NUMBER_TYPE_SHOW}}</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.NUMBER}}</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">MC / DOT</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.MC_DOT}}&nbsp;</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Company Name</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.COMPANY_NAME}}</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Company Phone</td>

				<td colspan="3" style="border-bottom:2px solid black;" align="center">&nbsp;</td>
			</tr>

			<tr>
				<td height="30" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;border-right:2px solid black;">{{value.SEARCH_PARK_DOOR}}</td>

				<td height="30" colspan="3" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;">{{value.SEARCH_PARK_DOOR_VAL}}</td>
			</tr>
			{{#xifCond value.DETAIL_LENGTH 1 '='}}
			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Title</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.TITLE}}&nbsp;</td>
			</tr>
			{{/xifCond}}
			<tr>
				<td height="83" colspan="4" align="center" valign="bottom">&nbsp;</td>
			</tr>
		</table>
	</div>
{{/xifCond}}
	{{!--<div style="border:1px solid blue;">
		pick up &#232;&#189;&#166;&#229;&#164;&#180;c&#232;&#189;&#166;&#229;&#176;&#190;
	</div>--}}
{{#xifCond key.ISLIVE 0 '='}}
	<div id="avg" name="avg" style="width:368px; display:block; border:1px solid red">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="33%" rowspan="2" align="center" style="border-bottom:2px solid black;border-right:2px solid black;"><span style="font-weight:bold;font-family:Verdana;">{{value.REL_TYPE_SHOW}}</span><br>
				<span style="font-weight:bold;font-size:22px;font-family:Verdana;">Entry ID</span></td>

				<td height="36" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div>
						<span style="font-weight: bold;font-family:Verdana;" id="dateShow">Gate Check In Time</span>
					</div>

					<div>
						{{value.GATE_CHECK_IN_TIME}}
					</div>
				</td>
			</tr>

			<tr>
				<td height="58" colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div align="center">
						<span style="font-weight: bold;"><img src="/barbecue/barcode?data={{value.ENTRY_ID}}&amp;resolution=203&amp;type=Code39&amp;height=30"></span>
					</div>

					<div align="center">
						<span style="font-weight: bold;"><span style="font-size:12px;">{{value.ENTRY_ID}}</span></span>
					</div>
				</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;font-family:Verdana;border-right:2px solid black;">License Plate</td>

				<td colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div align="center" style="margin-top: 5px;"><img src="/barbecue/barcode?data={{value.LISCENSE_PALTE}}&amp;width=1&amp;height=20&amp;type=Code39"></div>

					<div align="center">
						<span style="font-size:12px;">{{value.LISCENSE_PALTE}}</span>
					</div>
				</td>
			</tr>

			<tr>
				<td align="center" style="border-bottom:2px solid black;font-family:Verdana;border-right:2px solid black;">Container No</td>

				<td colspan="3" align="center" style="border-bottom:2px solid black;font-family:Verdana;">
					<div align="center" style="margin-top: 5px;"><img src="/barbecue/barcode?data={{value.CONTAINER_NO}}&amp;width=1&amp;height=20&amp;type=Code39"></div>

					<div align="center">
						<span style="font-size:12px;">{{value.CONTAINER_NO}}</span>
					</div>
				</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;font-family:Verdana;border-right:2px solid black;">{{value.NUMBER_TYPE_SHOW}}</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.NUMBER}}</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;font-family:Verdana;border-right:2px solid black;">MC / DOT</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.MC_DOT}}&nbsp;</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;font-family:Verdana;border-right:2px solid black;">Company Name</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.COMPANY_NAME}}</td>
			</tr>

			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;font-family:Verdana;border-right:2px solid black;">Company Phone</td>

				<td colspan="3" style="border-bottom:2px solid black;" align="center">&nbsp;</td>
			</tr>

			<tr>
				<td height="30" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;border-right:2px solid black;">{{value.PARK_DOOR_TITLE}}</td>

				<td height="30" colspan="3" align="center" style="font-size: 16px; font-family:Verdana; font-weight: bold; border-bottom:2px solid black;">{{value.PARK_DOOR_VAL}}</td>
			</tr>
			{{#xifCond value.DETAIL_LENGTH 1 '='}}
			<tr>
				<td height="30" align="center" style="border-bottom:2px solid black;border-right:2px solid black;font-family:Verdana;">Title</td>

				<td colspan="3" style="border-bottom:2px solid black;font-family:Verdana;" align="center">{{value.TITLE}}&nbsp;</td>
			</tr>
			{{/xifCond}}
			<tr>
				<td height="83" colspan="4" align="center" valign="bottom">&nbsp;</td>
			</tr>
		</table>
	</div>
	{{/xifCond}}
</div>
{{/each}}