
<div class="panel panel-default">
	<div class="panel-heading header">
		<a class="previous" id="task_preview_back">Back</a>
		<div class="clear"></div>
	</div>

	<div class="body panel-body">
		<table class="create_task_table">
			<tr>
				
					<td class="labele">Warehouse</td>
					<td class="val">{{warehouse}}</td>
				
					<td class="labele">Task Code</td>
					<td class="val">{{taskName}}</td>
				 
				 	<td class="labele">Task Priority</td>
					<td class="val">{{taskPriority}}</td>
				
				<td colspan="2"><a href="#" id="create_task_btn" class="btn btn-primary">{{buttonTitle}}</a></td>
			</tr>
			
			<tr>
				
					<td class="labele">Repeat Task</td>
					<td class="val">{{isRepeat}}</td>
				
				{{#if scheduled}}
					
						<td class="labele">Starts on</td>
						<td class="val">{{startsOn}}</td>
					
				{{else}}
					
						<td class="labele">Starts Date</td>
						<td class="val">{{start_date}}</td>
					
						<td class="labele">End Date</td>
						<td class="val">{{end_date}}</td>
					
				{{/if}}
				
				<td></td><td></td>
			</tr>
			{{#if title}}
			<tr>
				
					<td class="labele">Title</td>
					<td colspan="8" class="val">{{title}}</td>
				
			</tr>
			{{/if}}	
			{{#if modelNumber}}
			<tr>
				
					<td class="labele">Model Number</td>
					<td colspan="8" class="val">{{modelNumber}}</td>
				
			</tr>
			{{/if}}
			{{#if lotNumber}}
			<tr>
				
					<td class="labele">Lot Number</td>
					<td colspan="8" class="val">{{lotNumber}}</td>
				
			</tr>

			{{/if}}
			<tr>
				{{#if productLine}}
					
						<td class="labele">Product Line</td>
						<td class="val" >{{productLine}}</td>
					
				{{/if}}
				{{#if productCat}}
					
						<td class="labele">Category</td>
						<td class="val">{{productCat}}</td>
					
				{{/if}}
				{{#if lpType}}
					
						<td class="labele">LP Type</td>
						<td class="val">{{lpType}}</td>
					
				{{/if}}
				
					<td class="labele">Type</td>
					<td class="val">{{type}}</td>
					
				
			</tr>
			
			{{#if scheduled}}
			<tr>
				
					<td class="labele">Duration</td>
					<td class="val">{{duration}}</td>
				
					<td class="labele">Repeats</td>
					<td class="val">{{repeatOptions}}</td>
				
					<td class="labele">Repeat every</td>
					<td class="val">{{repeatEvery}}</td>
				
					<td class="labele">Ends</td>
					<td class="val">{{endsOn}}</td>
				
			</tr>
			{{/if}}
		</table>
		
		<div >
				<div class="div-table" id="selected_areas_create"></div>
		</div>
		
	</div>
</div>
