<div class="panel panel-default">
		<div class="panel-heading header">
			
			<div id="next_area_selection_div"><a class="next" id="area_link">Area Selection</a></div>
			<div class="clear"></div>
		</div>
		
		<div class="body panel-body" >	

		<div class="div-table">
			<div class="div-table-row" >
				<div class="div-table-cell" id="is_repeating_checkbox_div">
					<div class="input-group" id="create_is_repeat_view">
						
						<input type="checkbox" name="is_repeating" id="is_repeating" style="" data-label-on="Repeat Task" data-label-off="Non-repeat" class="iToggle"/>
					</div>
				</div>
				<div class="div-table-cell">
					<div class="input-group" id="create_is_blind_view">
						<input type="checkbox" name="is_blind" id="is_blind"  data-label-on="Blind Task" data-label-off="Verify Task" class="iToggle"/>
					</div>
				</div>
				<div class="div-table-cell">
					<div class="input-group required" >
						<div class="input-group-addon">Task Code</div>
						<input type="text" name="create_task_name" id="create_task_name" class="form-control" maxlength="30"/>
					</div>
				</div>
				<div class="div-table-cell">
		          <div class="input-group required" id="create_task_priority_view"></div>
		        </div>
				
			</div>
		</div>

		<div class="div-table" id="non-repeating-div">
			<div class="div-table-row" >
				<div class="div-table-cell" id="start_date_box">
					<div class="input-group required" >
						<div class="input-group-addon">Start Date</div>
						<input type="text" name="start_date" id="start_date" class="form-control" readonly="readonly"/>
					</div>
				</div>
			
				<div class="div-table-cell"  id="end_date_box">
					<div class="input-group required" >
						<div class="input-group-addon">End Date</div>
						<input type="text" name="end_date" id="end_date" class="form-control" readonly="readonly"/>
					</div>
				</div>
				<div class="div-table-cell"><div class="input-group" ></div></div>
				<div class="div-table-cell">
					
				</div>
			</div>
		</div>

		<div id="repeating_div">
			<div class="div-table">
				<div class="div-table-row" id="task_duration_div">
					<div class="div-table-cell">
						<div class="input-group" >
							<div class="input-group-addon">Duration</div>
							<select id="task_duration" name="task_duration" class="form-control">
								<option value="1">1 Day</option>
								<option value="2">2 Days</option>
								<option value="3">3 Days</option>
								<option value="4">4 Days</option>
								<option value="5">5 Days</option>
								<option value="6">6 Days</option>
								<option value="7">7 Days</option>
							</select> 
						</div>	
							
					</div>
					<div class="div-table-cell">
						<div class="input-group" >
							<div class="input-group-addon">Repeats</div>
							<select id="repeat_options" name="repeat_options" class="form-control">
								<option value="Daily">Daily</option>
								<option value="Weekly">Weekly</option>
								<option value="Monthly">Monthly</option>
							</select>
						</div>	
					</div>
					<div class="div-table-cell">
						<div id="Weekly_table" class="div-table">
							<div class="div-table-row">
								<div class="div-table-cell">
										<div class="input-group" >
										<div class="input-group-addon">Repeat every</div>
										<select id="repeat_options_weekly" name="repeat_options_weekly" class="form-control">
											<option value="1">1 Week</option>
											<option value="2">2 Weeks</option>
											<option value="3">3 Weeks</option>
											<option value="4">4 Weeks</option>
											<option value="5">5 Weeks</option>
											<option value="6">6 Weeks</option>
											<option value="7">7 Weeks</option>
											<option value="8">8 Weeks</option>
											<option value="9">9 Weeks</option>
											<option value="10">10 Weeks</option>
										</select>
									</div>
								</div>
							</div>
							
						</div>
						<div id="Daily_table" class="div-table">
							<div class="div-table-row">
								<div class="div-table-cell">
									<div class="input-group" >
										<div class="input-group-addon">Repeat every</div>
										<select id="repeat_options_daily" name="repeat_options_daily" class="form-control">
											<option value="1">1 Day</option>
											<option value="2">2 Days</option>
											<option value="3">3 Days</option>
											<option value="4">4 Days</option>
											<option value="5">5 Days</option>
											<option value="6">6 Days</option>
											<option value="7">7 Days</option>
											<option value="8">8 Days</option>
											<option value="9">9 Days</option>
											<option value="10">10 Days</option>
											<option value="11">11 Days</option>
											<option value="12">12 Days</option>
											<option value="13">13 Days</option>
											<option value="14">14 Days</option>
											<option value="15">15 Days</option>
											<option value="16">16 Days</option>
											<option value="17">17 Days</option>
											<option value="18">18 Days</option>
											<option value="19">19 Days</option>
											<option value="20">20 Days</option>
											<option value="21">21 Days</option>
											<option value="22">22 Days</option>
											<option value="23">23 Days</option>
											<option value="24">24 Days</option>
											<option value="25">25 Days</option>
											<option value="26">26 Days</option>
											<option value="27">27 Days</option>
											<option value="28">28 Days</option>
											<option value="29">29 Days</option>
											<option value="30">30 Days</option>
											
										</select>
									</div>
								</div>
							</div>
						</div>
						<div id="Monthly_table" class="div-table">
							<div class="div-table-row">
								<div class="div-table-cell">
									<div class="input-group" >
										<div class="input-group-addon">Repeat every</div>
										<select id="repeat_options_monthly" name="repeat_options_monthly" class="form-control">
											<option value="1">1 Month</option>
											<option value="2">2 Months</option>
											<option value="3">3 Months</option>
											<option value="4">4 Months</option>
											<option value="5">5 Months</option>
											<option value="6">6 Months</option>
											<option value="7">7 Months</option>
											<option value="8">8 Months</option>
											<option value="9">9 Months</option>
											<option value="10">10 Months</option>
											<option value="11">11 Months</option>
											<option value="12">12 Months</option>
										</select>
									
									</div>
								</div>
							</div>
						</div>
					
					</div>

					<div class="div-table-cell">
						<div class="input-group required" >
							<div class="input-group-addon">Starts on</div>
							<input type="text" id="starts_on" value="" class="form-control"/>
						</div>
					</div>	
				</div>
				

			</div>
			<div class="div-table" style="width:98%">
				<div class="div-table-row">
					
					<div class="div-table-cell" id="date_table" style="width:75%">
						<div class="input-group required" >
							<div class="input-group-addon">Ends</div>
							<div class="div-table" id="ends_table">
								<div class="div-table-row">
									<div class="div-table-cell">
										<input type="radio" id="ends_on_never" name="ends_on" value="never" checked="checked">
										<label for="ends_on_never">Never</label>
									</div>
								
									<div class="div-table-cell" id="occ">
										<input type="radio" id="ends_on_after" name="ends_on" value="after">
										<label for="ends_on_after">After <input type="text" id="occurances" maxlength="3"/> occurrences</label>
									</div>
								
									<div class="div-table-cell">
										<input type="radio" name="ends_on" id="ends_on_on" value="on">
										<label for="ends_on_on">On <input type="text" id="ends_on_date" value="" /></label>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				
				</div>
			</div>
			
		</div>
	</div>
</div>	
