
<div class="panel panel-default">
  <div id="inventory_task_header" class="panel-heading">
      <div class="left">{{heading}}</div>
      <div id="back-buttons-div"><a href="#" id="back" class="btn btn-warning">
      <span class="glyphicon glyphicon-list-alt"></span> Manage Tasks List</a></div>
      <div class="clear"></div>
    </div>
  <div  class="panel-body">
    <input type="hidden" name="create_task_type" id="create_task_type" value="{{taskType}}"/>
    <input type="hidden" name="task_id" id="task_id" value="{{id}}"/>
    <div id="filter_box" class="div-table">
      <div class="div-table-row">
        <div class="div-table-cell">
          <div class="input-group required" id="create_warehouse_view"></div>
        </div>
        <div class="div-table-cell">
          <div class="input-group" id="create_title_view"></div>
        </div>
        <div class="div-table-cell">
          <div class="input-group" id="create_product_line_view"></div>
        </div>
        <div class="div-table-cell">
          <div class="input-group" id="create_product_cat_view"></div>
        </div>
        
        
      </div>
      <div class="div-table-row">
        <div class="div-table-cell">
          <div class="input-group" id="create_model_view">
            
          </div>
        </div>
        <div class="div-table-cell">
          <div class="input-group" id="create_lot_view">
            
          </div>
        </div>
        <div class="div-table-cell">
          <div class="input-group" id="create_lp_type_view"></div>
        </div>
        
        
      </div>
      
    </div>
    
    <div class="clear"></div>
    <div id="error_block" class="alert alert-danger"></div>
    
    <div id="all_container">
      <div id="all_container2">
        <div id="deadline_body"></div>
        <div id="toc_area" class="toc_area"></div>
        <div id="users_body" class="users_body"></div>
        <div id="create_task_body"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>  