
	
<div class="div-table-row" id="users_{{userId}}" data-user-id="{{userId}}">
	<div class="div-table-cell user_name">{{userName}}</div>
	<div class="div-table-cell areas" >
		<div class="div-table">
			<div class="div-table-row" id="areas_{{userId}}"></div>
		</div>
	</div>
</div>
	
