<div class="div-table-cell" id="areas_{{userId}}_{{areaId}}">
	<div class="panel panel-default">
		<div class="panel-heading header">
			<div>{{areaName}}</div>
		</div>
		<div class="body panel-body">
			<div class="locations_block" id="locations_{{userId}}_{{areaId}}">	
			</div>

		</div>
	</div>
</div>