<div class="input-group-addon" >{{name}}</div>
<select id="{{id}}" style="width:206px;display:none" class="js-example-tags form-control select2-hidden-accessible" multiple="" tabindex="-1" aria-hidden="true">
	{{#each list}}
		<option value="{{this.value}}">{{this.text}}</option>
	{{/each}}
</select>
