{{#if users.length}}
<div class="panel panel-default">
		
	<div class="body panel-body">	
		<div class="employee_box_div">
		{{#each users}}
			<div class="employee_box">
				<div class="employee_name" data-user_id="{{this.user_id}}">{{this.user_name}}</div>
				<div class="count">{{this.count}}</div>
				<div class="clear"></div>
			</div>
		{{/each}}
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel-footer">
		<a  id="assign_user_ok" class="btn btn-primary">
		<span class="glyphicon glyphicon-ok"></span> Ok</a>
		<a  id="assign_user_cancel" class="btn btn-warning">
		<span class="glyphicon glyphicon-cancel"></span> Cancel</a>
	</div>
</div>
{{else}}


{{/if}}