
.pagebox{max-width: 780px}

.pagebox .disable {
    color:#ccc;
    font-weight:bold;
    cursor: default;
}
.pagebox .select {
    color:#fff;
    font-weight:bold;
    cursor: default;
    background: #4183C4;
    border-color: #4183C4

}

.pagebox_right{position: relative}

.pagebox_right .pagebox{

 position: absolute;
 margin-left: auto;
 margin-right:0px;
 right: 0px;

}

.pagebox *{box-sizing: border-box;line-height: 1.42857143;}

.Gotopage input{
font-family: inherit;
font-size: inherit;
line-height: inherit;
font: inherit;
color: inherit;
}

.Gotopage label{
max-width: 100%;
font-weight: 700;
margin-bottom:0px;
}



.pagebox .pageinfo{border-color: transparent;padding: 0px;cursor: default;}
.pagebox .pageinfo:hover{background:transparent;color: #000;cursor: default;}

.pagebox .pageinfo span{display: inline-block;vertical-align: middle;line-height: 25px;margin:0px;padding: 0px}

/*--------------*/
.pagebox{list-style-type:none;padding: 0px;margin: 0px;}
.pagebox .clearfix:after{content:"\0020";display:block;visibility:hidden;height:0;clear:both;}
.pagebox li{display: inline-block;margin:0px 3px;text-align:center;float: left;border: 1px solid #ccc;cursor: pointer;padding:3px 8px;}
.pagebox li:hover{background: #ccc;color: #fff}

/*#pagebox .prev,#pagebox .next*/
.pagebox .dosring{border-width: 0px}
.pagebox .dosring{cursor: default;}
.pagebox .Gotopage,.pagebox .Setpagesize{margin:0px;border-color: #fff;padding:0px;}
.pagebox .Setpagesize select{vertical-align: middle;height: 23px}
.pagebox .Setpagesize{margin-left: 5px;margin-right: 5px}
.pagebox .Gotopage label,.pagebox .Gotopage span{display: inline-block;vertical-align: middle;}
.pagebox .Gotopage label input{margin:0px;padding: 0px;width: 32px;height:23px;border: 1px solid #ccc;vertical-align: middle;}

.pagebox .Gotopage span{cursor: pointer;border-radius: 3px;width: 24px;height: 23px;line-height: 23px;text-align: center;margin-left: 4px;border: 1px solid #ccc;display:inline-block;}

.pagebox .select:hover{color:#fff;background: #4183C4;}
.pagebox .disable:hover{background: #fff;color: #ccc}
.pagebox .dosring:hover,.pagebox .Gotopage:hover,.pagebox .Setpagesize:hover{background: #fff;color: #000}
.pagebox .pageinfo .mr_15{margin-right: 15px}

  