	.clearfix:after {  content: "."; display:block; font-size:0; line-height:0; height:0; clear:both; visibility:hidden; }
	.clearfix { display:inline-block; }		
	* html .clearfix { height:1%; }
	.clearfix { display:block; }

	body {margin:0; background:#FFF; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; padding:10px 2%; font:14px/24px 'Open Sans', Helvetica, Arial, sans-serif  ; color:#000;}	
	#wrapper { background:#FFF; width:1200px; margin:0 auto; border:solid 0px #E7E7E7; border-top:5px solid #0088cc; border-radius:6px; box-shadow:0 0 3px rgba(0,0,0,0.2), inset 0 4px 0 #ededed }
	#header { padding:30px 20px; border-bottom:solid 1px #e0e0e0; margin-bottom:20px; text-align:center; font-family:'Open Sans', sans-serif;}
	#logo { display:inline-block; font-weight:300;  margin:0 0 0px; font-size:30px; line-height:24px;  color:#000; text-decoration:none; position:relative;  }
	#logo span{ color:#0088cc;}
	.clearfix{height: 500px}
	
	section { padding:0 20px 20px}
	h2{ font:300 22px/30px 'Open Sans', sans-serif;  margin:0 0 10px 0; padding:0}
	h2 span{color:#0088cc;}
	.classname { display:block;  padding:20px;  border:solid 2px #CCC; text-align:center;}