<table width="100%" height="61" border="0" cellpadding="0" cellspacing="0">
	<tr>
   		<td width="30%" style="padding-top:3px;">
			<div id="easy_search_father">
				<div id="easy_search"><a href=""><img id="eso_search" src="../../lib/autocomplete/imgs/easy_search.gif" width="70" height="29" border="0"/></a></div>
			</div>
			<table width="485" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="418">
						<div  class="search_shadow_bg">
						 	<input name="search_key" type="text" class="search_input" id="search_key" value=""/>
						</div>
					</td>
					<td width="67">
						
					</td>
				</tr>
			</table>
		</td>
	    <td width="33%"></td>
	    <td width="24%" align="right" valign="middle">
		</td>
	</tr>
</table>