.modal{position: absolute;top:0px;left: 0px;display:none;margin:0px;border-width: 0px;z-index: 499; width: 100%;height: 100%;background-color: #fff;opacity: 0.35;}
.modal .loading{background: url(img/dy_loading.gif) no-repeat;width: 124px;height: 124px;margin: auto;z-index: 500;position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
.tabel-sort-icon{position: absolute;top: 0;right: 2px;height: 32px;bottom: 0;margin: auto;}
.tabel-icon-up, .tabel-icon-down{display: block;width: 16px;height: 16px;background: url(img/icon.png) no-repeat 0 0;cursor: pointer;}
.tabel-icon-down{background-position: -16px 0;}
.table-panel-body{padding: 8px;}
.tabel-tool-icon:hover{text-decoration: none;color: #fff;background: #4183C4;border-color: #4183C4;}
.tabel-tool-icon i{margin-right: 5px;}
.table-content.panel{overflow: auto; border-top: 1px solid #ddd;margin: 0;padding: 0; border-top-left-radius: 0;border-top-right-radius: 0;}
.panel table{margin: 0 1px;}
.table-content table{margin: 0;}
.table-content>.table>tbody>tr>td{vertical-align:middle;}
.panel>.panel-body+.table, .panel>.panel-body+.table-responsive, .panel>.table+.panel-body, .panel>.table-responsive+.panel-body{border-top : 0;}
.table-panel-body{border-bottom: 1px solid #ddd;}
.table-panel>.table>thead>tr:first-child>th{word-break: normal;background-color: #fff;padding: 0;margin: 0;}
.table-panel>.table>thead>tr:first-child>th .table-th-div{padding: 8px;}
.table-panel>.table>thead>tr:first-child>th:last-child .table-th-div{border: 0;}
.table-nodata-msg{text-align: center;margin-top: 15px;}
.bg-d9edf7{background-color: #d9edf7;}
.table-content>.table>tbody>tr>td.bg-d9edf7.bg-c4e3f3, .table-content>.table>tbody>tr.info.bg-c4e3f3>td{background-color: #c4e3f3;}
.table-tip{position: absolute; display: none;color: #31708f;background-color: #fff;border: 1px solid #bce8f1;padding: 15px;border-radius: 4px;}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.table-panel>.table>thead>tr:first-child>th .table-th-div{margin-right: 1px;}
}