.text-green{color: #00BB00;}
.text-red{color: #EA0000;}
.fieldset-ul{margin-top: 10px; width: 97%;margin-left: auto;margin-right: auto;margin-bottom: 5px;padding-left: 3px}
.morelink{float: right;margin-right: 10px;}
