#tabs {
	width:99%;
	margin-left:auto;
	margin-right:auto;
}
#tabs > ul {
	margin-top: 15px;
}
.colorblue {color: blue;}
.colorred {color: red;}
.colorgreen{color: green;}
.fontSilver{color:silver;}
.fontBold{font-weight:bold;}
#data legend{font-size: 12px;}
#data .applyMoney a,.Log_container a{text-decoration: underline;cursor: pointer;}
#data .TRAILER
{
	min-width: 250px
}

#data span .valstyle
{
	margin-right: 5px;
}

#data .lightlink
{
	margin-left: 5px;
	color: #F60;
	text-decoration: underline;
	cursor: pointer;
}

#data .logvaluestyle
{
	text-decoration: inherit;
	margin-left: 5px;
	margin-right: 5px;
	color: #F60;
}

#data .namestyle
{
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	text-align: right;
	margin-right: 5px;
}

#data .td_TRAILER .namestyle 
{
 	width: 80px;
}


/** 运费**/
#data .stockInSet
{
	min-width: 150px;
	border: 2px solid green;
	line-height: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 2px;
    width: 90%;
    word-break: break-all;
}
#data .td_FLOWS .namestyle{width: 60px;}
#data .td_FLOWS .valstyle{width: 120px;}
#data .rightstyle{float:right;}

#data .flows {min-width: 220px;}
#data  .applyMoney {min-width: 150px;}

.main .create{float: right;margin-right: 20px}
#data {border-top: 1px solid #cfcfcf;}
#data .status{margin-right: 5px;margin-left: 10px;}