
<div class="panel panel-default">
  
  <div class="panel-heading">Title Customer Product Category Line Relation</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-lg-2">

          <select id="searchType" class="form-control">
            <option value="title">Title</option>
            <option value="customer">Customer</option>
            <option value="product">Product</option>
            <option value="category">Category</option>
            <option value="line">Line</option>
          </select>
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." id="searchKey" value="{{searchKey}}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="search">Go!</button>
          </span>
        </div>
      </div>
    </div>

  </div>
<table class="table table-striped">
  
  <caption></caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Customer</th>
      <th>Product</th>
      <th>Category</th>
      <th>Line</th>
    </tr>
  </thead>
  <tbody>
    {{#each resultList}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.title_name}}</td>
      <td>

        {{#each this.customer}}

          <p>{{this.customer_id}}</p>

        {{/each}}
        <ul>
      </td>
      <td>

        {{#each this.customer}}

          <p>{{this.p_name}}</p>

        {{/each}}
        </ul>
      </td>
      <td>

        {{#each this.category}}

          <p>{{this.title}}</p>


        {{/each}}

      </td>
      <td>

        {{#each this.line}}

          <p>{{this.name}}</p>
 
        {{/each}}

      </td>
    </tr>
    {{/each}}

  </tbody>
</table>

</div>