﻿<div class="bol-body">
    <div class="col-sm-12 bol-virtual-form">
        <div class="bol-title">
            <h3 class="pull-left">合计</h3>
            <div class="clear"></div>
        </div>
        <div class="bol-body form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">BOL数</label>
                <div class="col-sm-2">
                    <p class="form-control-static">9</p>
                </div>
                <label class="col-sm-2 control-label">总托盘数</label>
                <div class="col-sm-2">
                    <p class="form-control-static">9</p>
                </div>
                <label class="col-sm-2 control-label">托盘型包裹</label>
                <div class="col-sm-2">
                    <p class="form-control-static">1</p>
                </div>
                <label class="col-sm-2 control-label">托盘</label>
                <div class="col-sm-2">
                    <p class="form-control-static">8</p>
                </div>
                <label class="col-sm-2 control-label">总体积</label>
                <div class="col-sm-2">
                    <p class="form-control-static">28平方米</p>
                </div>
                <label class="col-sm-2 control-label">总重量</label>
                <div class="col-sm-2">
                    <p class="form-control-static">28KG</p>
                </div>
            </div>
        </div>
    </div>
    <div id="boxBol"></div>
    <div class="col-sm-4 bol-virtual-form">
        <span id="btnAddBol" class="bol-add"><i class="glyphicon glyphicon-plus"></i></span>
    </div>
    <div class="col-sm-12"></div>
</div>