﻿<div class="box-panel bol-virtual-form col-sm-4 fadeInLeft animated">
    <div class="bol-title">
        <h3>Order<a href="#">123213</a></h3>
        <div class="clear"></div>
    </div>
    <div class="bol-body form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-4 control-label">From</label>
            <div class="col-sm-8">
                <p class="form-control-static">北京北七家仓库</p>
            </div>
            <label class="col-sm-4 control-label">To</label>
            <div class="col-sm-8">
                <p class="form-control-static">广东家乐福</p>
            </div>
            <label class="col-sm-4 control-label">总托盘数</label>
            <div class="col-sm-8">
                <p class="form-control-static">9</p>
            </div>
            <label class="col-sm-4 control-label">总体积</label>
            <div class="col-sm-8">
                <p class="form-control-static">28平方米</p>
            </div>
            <label class="col-sm-4 control-label">总重量</label>
            <div class="col-sm-8">
                <p class="form-control-static">28KG</p>
            </div>
        </div>
    </div>
</div>