﻿<div class="form-horizontal" role="form">
    <div class="form-group">
        <div class="">
            <label class="col-sm-2 control-label"><font class="important">*</font>预约仓库</label>
            <div class="col-sm-4">
                <input type="text" class="form-control immybox immybox_witharrow" id="inputAddWareHourse" placeholder="预约仓库" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label">联系人</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddWareHourseLinkman" placeholder="联系人">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">联系人电话</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddWareHourseTel" placeholder="联系人电话">
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>