﻿<div class="form-horizontal" role="form">
    <div class="form-group">
        <div class="">
            <label class="col-sm-2 control-label"><font class="important">*</font>Carrier</label>
            <div class="col-sm-4">
                <input type="text" class="form-control immybox immybox_witharrow" id="inputAddCarrier" placeholder="Carrier" readonly="readonly">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label"><font class="important">*</font>Appointment Time</label>
            <div class="col-sm-4">
                <input type="text" readonly="readonly" class="form-control" id="inputAddAppointmentTime" placeholder="预约时间">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label">联系人</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddCarrierLinkman" placeholder="联系人">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">联系电话</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddCarrierTel" placeholder="联系电话">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <label class="col-sm-2 control-label">ETD</label>
            <div class="col-sm-4">
                <input type="text" readonly="readonly" class="form-control" id="inputAddETD" placeholder="预计离开本城市的时间">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">ETA</label>
            <div class="col-sm-4">
                <input type="text" readonly="readonly" class="form-control" id="inputAddETA" placeholder="预计到达目标城市的时间">
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <hr />
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label">License Plate</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddLicensePlate" placeholder="License plate">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label">Driver License</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddDriverLicense" placeholder="Driver License">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">Driver Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAddDriverName" placeholder="Driver Name">
            </div>
        </div>
    </div>
</div>