﻿<div class="col-lg-12">
    <ul class="nav nav-tabs" role="tablist" id="tabsSelectOrder">
        <li role="presentation"><a href="#tabSelectLoad" role="tab" data-toggle="tab">Load</a></li>
        <li role="presentation"><a href="#tabSelectOrder" role="tab" data-toggle="tab">Order</a></li>
        <li role="presentation"><a href="#tabPO" role="tab" data-toggle="tab">PO</a></li>
        <li role="presentation"><a href="#tabBOL" role="tab" data-toggle="tab">BOL</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="tabSelectLoad">
            <div id="tabSelectLoadList"></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tabSelectOrder">
            <div id="tabSelectOrderList"></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tabPO">
            <div id="tabPOList"></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tabBOL">
            <div id="tabBOLList"></div>
        </div>
    </div>
</div>