.panel.panel-select{
	font-size:13px;
	margin-bottom:0px;
}
.panel-select dl{
	margin-left: 180px;
	margin-right: 80px;
	margin-bottom: 0;
	max-height: 80px;
	overflow-y: auto ;
}
.panel-select dt{
	position: absolute;
	text-align: right;
	left: 15px;
	width: 170px;
}
.panel-select dd{
	height:17px;
}
.panel-select dd, .panel-select-dialog.list-inline>li{
	display: inline-block;
	width:200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.panel-select li .mulit{
	position: absolute;
	right: 15px;
	padding: 2px 8px;
}
.panel-select dd a:visited, .art-dialog-content .list-inline a:visited{
	text-decoration: none;
}
.panel-select dd a:hover, .art-dialog-content .list-inline a:hover{
 	text-decoration: none;
}
.panel-select a, .art-dialog-content .list-inline a{
	color:#428bca;
	display: inline-block;
	padding: 0 5px;
	border: 1px solid transparent;
}
.art-dialog-content{
	overflow:auto;
}
.art-dialog-content .list-inline .selected{
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.panel-select .condition .btn{
	margin-left: 10px; 
}
.panel-select .condition dl{
	margin-right: 180px; 
}
.panel-select .condition dd{
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: auto;
}
.ui-tabs-panel .panel-select .condition dd{
	height:24px;
}
.panel-select .condition a{
	display: inline-block;
	padding: 2px 5px;
	margin-right: 8px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.panel-select .condition a .selected-text{
	color: gray; 
}
.panel-select .condition a .close{
	margin-left: 3px;
}
.panel-select .condition .glyphicon-search{
	margin-right: 3px;
}
.panel-select .condition .search-btns{
	position: absolute;
	bottom: 10px;
	right: 15px;
}