#deatailInfo{
	perspective: 800px;
	-webkit-perspective: 800px;
	background: radial-gradient(#e0e0e0, #aaa);
	width: 100%;
	height: 100%;
	min-height: 450px;
	border-radius: 6px;
	position: relative;
}

.box-front,
.box-back{

	/* Enable 3D transforms */
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;

	width:100%;
	height:100%;

	position:absolute;
	

	/* Animate the transitions */
	transition:1.2s; 
}

.box-front{
	/* background:#90EE90; */
	background-color:#FFFFFF;
}
.box-back{

	/* The back side is flipped 180 deg by default */
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	background-color:#FFFFFF;
}
/*
#deatailInfo:hover .box-front{
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
}

#deatailInfo:hover .box-back{
	
	transform:rotateY(360deg);
	-webkit-transform:rotateY(360deg);
}
 */
#deatailInfo .front{
	/* .. at the same time flip the back side into visibility */
	transform:rotateY(360deg);
	-webkit-transform:rotateY(360deg);
}
#deatailInfo .back{
	/* flip the front side and hide it .. */
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
}