<div class="panel-body appointmentLimit">
	<table id="appointmentLimitTable" class="appointmentLimitTable"> 
		<tr id="date" class="appointmentLimitTr even">

		{{#each dateArr}}
				<th data-date="{{this}}" class="appointmentLimitTime" align="center">
<!-- 		   			<span class="appointmentLimitLabel "><b>date</b></span> -->
					<span><b>{{this}}</b></span>
	  			</th>
		{{/each}}
		</tr>
		{{#each data}}
		  <tr id="{{this.hour}}" class="appointmentLimitTr">
			{{#each this.value}}

				{{#sif ../hour "sum"}}
			 			<th data-date="{{this.work_date}}" class="appointmentLimitTd" align="center">
				{{else}}
						<td data-date="{{this.work_date}}" class="appointmentLimitTd" align="center">
				{{/sif}}
		   		{{#unless @index}}
			   		<span class="appointmentLimitLabel "><b>{{../../hour}}</b></span>
				{{/unless}}

				{{#sif ../hour "date"}}
						<span class=" "><b>{{this.work_date}}</b></span>
				{{else}}
<input type="text" name="{{this.index}}{{../../hour}}sumin" data-sumtype="sumin" index="{{this.index}}" data-hour="{{../../hour}}" data-date="{{this.work_date}}" class="appointmentLimitInput inBound" value="{{this.sumin}}" />
<input type="text" name="{{this.index}}{{../../hour}}sumout" data-sumtype="sumout" index="{{this.index}}" data-hour="{{../../hour}}" data-date="{{this.work_date}}" class="appointmentLimitInput outBound" value="{{this.sumout}}" />
				{{/sif}}
		  			</td>
		  	{{/each}} 
		  </tr>
		{{/each}} 



	</table>
</div>    
<div class="footer">
    <div class="opbar">
        <button type="button" id="saveLimit" class="btn btn-info pull-right">Save</button>
    </div>
<div>