<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="form-group col-sm-4">
				<div class="input-group">
					<div class="input-group-addon">Type</div>
					<input id="limitType" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Select Type">
				</div>
			</div>
			<div class="form-group col-sm-4" style="display:none">
				<div class="input-group">
					<div class="input-group-addon">AppointmentType</div>
					<input id="boundType" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Select Type" data-value="Inbound">
				</div>
			</div>
			<div class="form-group col-sm-4">
				<div class="input-group">
					<div class="input-group-addon">HUB</div>
					<input id="company" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Select Hub">
				</div>
			</div>
			<div class="form-group col-sm-4" style="display:none">
				<div class="input-group">
					<div class="input-group-addon">Start Date</div>
					<input id="startdate" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Select Date">
				</div>
			</div>
			<div class="form-group col-sm-4" style="display:none">
				<div class="input-group">
					<div class="input-group-addon">End Date</div>
					<input id="enddate" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Select Date">
				</div>
			</div>
			<div class="form-group col-sm-4" style="display:none">
				<div class="input-group">
					<div class="input-group-addon">Date</div>
					<input id="byday" type="text" class="form-control min-200 immybox immybox_witharrow" placeholder="Select Date">
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="form-group col-sm-3">
				<div class="input-group">
					<div class="input-group-addon"><button id="setAll" class="">Set ALL </button></div>
					<input class="form-control" min="0" type="number" id="allvalue"/>
				</div>
			</div>
			<div class="btn-group col-sm-4">
				<button type="button" id="selectALL" class="btn btn-default">Select ALL</button>
				<button type="button" id="selectInvert" class="btn btn-default">Select Invert</button>
			</div>
		<!-- 	<div class="form-group col-sm-2">
				<div class="input-group">
					<label for="selectInvert" class="input-group-addon"> Select Invert  </label>
					<div class="form-control"><input id="selectInvert"  type="checkbox" checked="checked" /></div>
				</div>
			</div> -->
		</div>
		<div class="row">

		
			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 00:00</label>
					<input class="form-control min-50 value" type="number" data-hour="0" name="0" id="time_0" value="{{time_0}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 01:00</label>
					<input class="form-control min-50 value" type="number" data-hour="1" name="1" id="time_1" value="{{time_1}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 02:00</label>
					<input class="form-control min-50 value" type="number" data-hour="2" name="2" id="time_2" value="{{time_2}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 03:00</label>
					<input class="form-control min-50 value" type="number" data-hour="3" name="3" id="time_3" value="{{time_3}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 04:00</label>
					<input class="form-control min-50 value" type="number" data-hour="4" name="4" id="time_4" value="{{time_4}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 05:00</label>
					<input class="form-control min-50 value" type="number" data-hour="5" name="5" id="time_5" value="{{time_5}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 06:00</label>
					<input class="form-control min-50 value" type="number" data-hour="6" name="6" id="time_6" value="{{time_6}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 07:00</label>
					<input class="form-control min-50 value" type="number" data-hour="7" name="7" id="time_7" value="{{time_7}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 08:00</label>
					<input class="form-control min-50 value" type="number" data-hour="8" name="8" id="time_8" value="{{time_8}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 09:00</label>
					<input class="form-control min-50 value" type="number" data-hour="9" name="9" id="time_9" value="{{time_9}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 10:00</label>
					<input class="form-control min-50 value" type="number" data-hour="10" name="10" id="time_10" value="{{time_10}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 11:00</label>
					<input class="form-control min-50 value" type="number" data-hour="11" name="11" id="time_11" value="{{time_11}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 12:00</label>
					<input class="form-control min-50 value" type="number" data-hour="12" name="12" id="time_12" value="{{time_12}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 13:00</label>
					<input class="form-control min-50 value" type="number" data-hour="13" name="13" id="time_13" value="{{time_13}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 14:00</label>
					<input class="form-control min-50 value" type="number" data-hour="14" name="14" id="time_14" value="{{time_14}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 15:00</label>
					<input class="form-control min-50 value" type="number" data-hour="15" name="15" id="time_15" value="{{time_15}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 16:00</label>
					<input class="form-control min-50 value" type="number" data-hour="16" name="16" id="time_16" value="{{time_16}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 17:00</label>
					<input class="form-control min-50 value" type="number" data-hour="17" name="17" id="time_17" value="{{time_17}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 18:00</label>
					<input class="form-control min-50 value" type="number" data-hour="18" name="18" id="time_18" value="{{time_18}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 19:00</label>
					<input class="form-control min-50 value" type="number" data-hour="19" name="19" id="time_19" value="{{time_19}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 20:00</label>
					<input class="form-control min-50 value" type="number" data-hour="20" name="20" id="time_20" value="{{time_20}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 21:00</label>
					<input class="form-control min-50 value" type="number" data-hour="21" name="21" id="time_21" value="{{time_21}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 22:00</label>
					<input class="form-control min-50 value" type="number" data-hour="22" name="22" id="time_22" value="{{time_22}}" />
				</div>
			</div>

			<div class="form-group col-sm-3">
				<div class="input-group">
					<label class="input-group-addon"><input class="setvalue"  type="checkbox" checked="checked" /> 23:00</label>
					<input class="form-control min-50 value" type="number" data-hour="23" name="23" id="time_23" value="{{time_23}}" />
				</div>
			</div>





		</div>
	</div>
	<div class="panel-footer" style="height:60px"><button type="button" id="saveDefaultLimit" class="btn btn-info pull-right">Save</button></div>
</div>