body{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
textarea{resize:none;}
.modal-container{position: relative;padding: 0;margin: 0;}
.modal-container .table{  border-bottom: 1px solid #ddd;border-top: 1px solid #ddd;}
.modal{position: absolute;top:0px;left: 0px;display:none;margin:0px;border-width: 0px;z-index: 499; width: 100%;height: 100%;background-color: #fff;opacity: 0.35;}
.modal .loading{background: url(img/dy_loading.gif) no-repeat;width: 124px;height: 124px;margin: auto;z-index: 500;position: fixed;top: 0;bottom: 0;left: 0;right: 0;}
.pl20{padding-left: 20px !important;}
.pr20{padding-right: 20px !important;}
.mb20{margin-bottom: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt20{margin-top: 20px !important;}
.ml10{margin-left: 10px !important;}
.mb10{margin-bottom: 10px !important;}
.mt10{margin-top: 10px !important;}
.mr10{margin-right: 10px !important;}
.underline{text-decoration: underline !important;}
.bold{font-weight: bold !important;}
.alert-danger{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999;
	display: none;
	box-shadow: inset 0 1px 1px rgba(255,255,255,.075), 2px 2px 8px rgba(231, 195, 195, .6);
}
.J-search-list{
	z-index: 99;
	position: absolute;
	border-radius: 4px;
	font-size: 13px;
}
.J-search-list .list-group-item{
	border-top: none;
	border-bottom: none;
	padding: 3px 5px; 
	margin: 0;
}
.list-group-item:first-child{
	border-top: 1px solid #ddd;
}
.list-group-item:last-child{
	border-bottom: 1px solid #ddd;
}
.J-search-list .list-group-item:first-child.hover{
	margin-top: 0;
}
.J-search-list .list-group-item:last-child.hover{
	margin-bottom: 0;
}
.J-search-list .list-group-item.hover{
	z-index: 2;
	color: #FFFEFE;
	background-color: #71D0FF;
	text-shadow: 0 -1px 0 #5bc0de;
	background-image: -webkit-linear-gradient(top,#71D0FF 0,#5bc0de 100%);
	background-image: -o-linear-gradient(top,#71D0FF 0,#5bc0de 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#71D0FF),to(#5bc0de)); 
	background-image: linear-gradient(to bottom,#71D0FF 0,#5bc0de 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71D0FF', endColorstr='#5bc0de', GradientType=0);
	background-repeat: repeat-x;
	border: 1px solid #5bc0de;
	margin: -1px 0;
}
.art-dialog-body{padding: 0 !important;}
.add-invoice>.panel{border: none;box-shadow:none;}
.task-invoice .panel>.panel-body{
	padding: 5px;
}
/* Advanced Search tab style */
.task-invoice .tab-content .div-form-group{
	float:left;
	margin-right: 10px;
}
.task-invoice .tab-content .div-form-group:last-child{
	margin-left: 20px;
}
.tab-content .div-form-group .form-control {
  	display: inline;
  	width: initial;
}
.tab-content .div-form-group .form-control[readonly]{
  cursor: pointer;
  background-color: white;
}
.tab-content .div-form-group>span{
	font-weight:bold;
	margin-left: 10px;
}
/* Advanced Search tab style END*/
.task-invoice .table{
	font-size: 12px;
}
.task-invoice p {
	position:relative;
	line-height:1.4em;
	max-height:2.8em;
	overflow:hidden;
	margin-bottom: 0;
}
.ellipsis-p:hover{
	position: relative;
}
.ellipsis-p div{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f8f8f8;
	border: 1px solid #9acfea;
	padding: 5px;
	border-radius: 5px;
	z-index: 9999;
}
.ellipsis div{
	display: none;
}
.ellipsis-p:hover div{
	display: block;
}
/*图标*/
.task-invoice .icon{
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	height: 20px;
	width: 20px;
	background: url(img/icon.png) no-repeat;
}
.icon.icon-add{background-position: -20px -90px;}
.icon.icon-remove{background-position: 0px -90px;}
.icon.icon-edit{background-position: -60px -90px;}
.icon.icon-sort{background-position: -40px -90px;}
.icon.icon-close{background-position: -80px -90px;}
/*颜色*/
.fc-red{color: #fb2600;}
.fc-green{color: #009934;}
.fc-mazarine{color: #000bff;}
.fc-tint{color: #999aff;}
.fc-orange{color: #ff6600;}
.fc-gray{color: #808080;}


/*end*/
.tr-btn{
	padding: 1px 30px !important;
	background-color: #F4FBE9;
	text-shadow: 0 1px 0 rgba(255,255,255,.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
	background-image: -webkit-linear-gradient(top,#F4FBE9 0,#E5ECD7 100%);
	background-image: -o-linear-gradient(top,#F4FBE9 0,#E5ECD7 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F4FBE9),to(#E5ECD7));
	background-image: linear-gradient(to bottom,#F4FBE9 0,#E5ECD7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #b2dba1;
}
.tr-btn .btn-default, .task-invoice .btn-xs{
	padding: 1px 10px;
	font-size: 12px;
}
.task-invoice .btn-default{
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
	background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
	background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #dbdbdb;
	border-color: #ccc;
}
.task-invoice .btn-default:hover,
.task-invoice .btn-default:focus {
	background-color: #e0e0e0;
	background-position: 0 -15px;
}
.task-invoice .btn-warning {
	background-image: -webkit-linear-gradient(top,#f0ad4e 0,#eb9316 100%);
	background-image: -o-linear-gradient(top,#f0ad4e 0,#eb9316 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f0ad4e),to(#eb9316));
	background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #e38d13;
}
.task-invoice .btn-warning:hover,
.task-invoice .btn-warning:focus {
	background-color: #eb9316;
	background-position: 0 -15px;
}
.task-invoice .tab-content{
	position: relative;
}
.task-invoice .table td{
	vertical-align: middle;
	padding-right: 10px;
	padding-left: 10px;
	height: 24px;
}
.table>thead>tr>th{
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #333;
	background-color: #f5f5f5;
}
.task-invoice .table>thead>tr>th:last-child{
	border-right:none;
}
.task-invoice fieldset{
	border-style: solid;
	border-width: 3px;
	padding: 5px;
	border-radius: 7px;
}
.task-invoice legend{
	margin-bottom: 0;
	border: none;
	font-size: 14px;
	width: auto;
	height: 18px;
	position: relative;
}
.task-invoice legend span:only-child, .task-invoice legend a:only-child{
	padding-right: 5px !important;
}
.task-invoice legend span, .task-invoice legend a{
	background-color: #fff;
	white-space: nowrap;
	padding: 0 25px 0 5px;
	font-weight: bold;
	font-size: 12px;
}
.task-invoice .table tr:hover legend span, .task-invoice .table tr:hover legend a{
	background-color: #f5f5f5;
}
.task-invoice .table>tbody>tr>td:nth-child(3) legend span{
	padding: 0 0 0 5px;
}
.task-invoice .table>tbody>tr>td:nth-child(3) legend a{
	padding: 0 5px 0 5px;
}
.task-invoice legend .icon{
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 2px;
}
.task-invoice dl{
	margin-bottom: 0;
}
.task-invoice dt{
	font-weight: normal;
}
/*task list*/
#task_table td:nth-child(1) fieldset{
	border-color: #cd0000;
} 
#task_table td:nth-child(1) dt{
	color: #990000;
	width: 95px;
}
#task_table td:nth-child(1) dd{
	margin-left: 100px;
	max-width: 250px;
}
#task_table td:nth-child(2) dt{
	color: #ff6600;
}
#task_table td:nth-child(2) p{
	max-height: 5.6em;
}
#task_table td:nth-child(2) dd{
	word-wrap: break-word;
	border-bottom: 1px dashed #999;
	max-width: 200px;
	padding-bottom: 5px;
	margin-bottom: 5px; 
}
#task_table td:nth-child(3) fieldset{
	border-color: #999;
}
#task_table td:nth-child(3) dd{
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-left: none;
	border-bottom: 1px dashed #999;
	position: relative;
}
#task_table td:nth-child(3) dd .opr-btns{
	width: 75px;
	position: absolute;
	right: 0;
	top: 2px;
	height:20px;
	white-space: nowrap;
}
#task_table td:nth-child(3) dd a.fc-gray{
	/* text-decoration: line-through; */
}
#task_table td:nth-child(3) dd .header{
	position: relative;
	/* 	padding-right: 75px; */
	padding-left: 10px;
	border-left: 1px solid transparent;
	margin-left: -1px;
	line-height: 2em;
	z-index: 9;
}
#task_table td:nth-child(3) dd .content{
	position: absolute;
	display: none;
	background: #f8f8f8;
	z-index: 8;
	padding: 10px;
	border-radius: 5px 0 5px 5px;
	right: 100%;
	top: -1px;
	border: 1px solid #9acfea;
}
#task_table td:nth-child(3) dd .content dt{
	width: 70px;
}
#task_table td:nth-child(3) dd .content dd{
	margin-left: 80px;
	border: none;
}
#task_table td:nth-child(3) dd:hover .header{
	border-left-color: #f8f8f8;
	margin-top: -2px;
	padding-top: 2px;
}
#task_table td:nth-child(3) dd:hover .opr-btns{
	top:4px;
}
#task_table td:nth-child(3) dd:hover .content{
	display: block;
}
#task_table td:nth-child(3) .icon-add{
	right: 20px;
}
#task_table td:nth-child(3) legend span{
	padding-right: 45px;
}
#task_table td:nth-child(4)>fieldset{
	border-color: #6632cd;
}
#task_table td:nth-child(4) .invoice{
	border-color: #990000;
	border-width: 2px;
}
#task_table td:nth-child(4) .invoice dt{
	position: relative;
	padding-right: 50px;
	min-height: 22px;
	word-break: break-word;
	min-width: 220px;
}
#task_table td:nth-child(4) .invoice dt .btn-xs{
	position: absolute;
	right: 0;
}
#task_table td:nth-child(4) .invoice dl span{
	color: #990000;
	white-space: nowrap;
}
#task_table td:nth-child(4) .invoice legend a{
	padding: 0 5px 0 5px;
}
#task_table td:nth-child(4) .invoice legend a + span{
	padding: 0 5px 0 0;
}

#task_table td:nth-child(1){
	width: 18%;
}
#task_table td:nth-child(5){
	width: 18%;
}

#task_table td:nth-child(5) dd span{
	color: #999;
	font-weight: normal;
}
#task_table td:nth-child(5) .fc-right{
	margin-left: 140px;
}
#task_table td:nth-child(5) dt, .task-invoice td:nth-child(5) dd{
	line-height: 25px;
	height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 180px;
}
.task-invoice td:nth-child(5) dd{
	border-bottom: 1px dashed #999;
}
.task-invoice td:nth-child(5) dt span{
	font-weight: bold;
  	font-size: 10px;
  	font-family: Verdana, Geneva, sans-serif;
}
/*task list end*/
/*task end*/

/*invoice list start*/
#invoice_table th{
	width: 25%;
}
#invoice_table td:nth-child(1) fieldset{
	border-color: #990000;
}
#invoice_table td:nth-child(1) li span, #invoice_table td:nth-child(2) dt{
	color: #990000;
}
#invoice_table td:nth-child(1) li{
	position: relative;
	padding-left: 105px;
}
#invoice_table td:nth-child(1) li span{
	display: inline-block;
	width: 100px;
	text-align: right;
	position: absolute;
	left: 0;
}
#invoice_table td:nth-child(2) dt{
	width: 105px;
}
#invoice_table td:nth-child(2) dd{
	margin-left: 110px;
}
#invoice_table td:nth-child(3)>fieldset{
	border-color: #999;
}
#invoice_table td:nth-child(3) dd fieldset{
	border-color: #990000;
	border-width: 2px;
}
#invoice_table td:nth-child(3) dl{
	position: relative;
	/*border: 1px solid transparent;*/
}
#invoice_table td:nth-child(3) dl .header{
	position: relative;
	padding-left: 10px;
	border: 1px solid transparent;
	border-bottom-width: 0;
	margin-left: -1px;
	line-height: 2em;
	/* 	z-index: 9; */
}
#invoice_table td:nth-child(3) dl .content{
	position: absolute;
	display: none;
	background: #f8f8f8;
	z-index: 8;
	padding-left: 10px;

}

#invoice_table td:nth-child(3) dl:hover .header{
	border-radius: 5px 5px 0 0;
	border-color: #9acfea;
	background: #f8f8f8;
}

#invoice_table td:nth-child(3) dl:hover .header:only-child{
	border-radius: 5px;
	border-bottom-width: 1px;
	margin-bottom: -1px;
}

#invoice_table td:nth-child(3) dl:hover .content{
	display: block;
	width:100.5%;
	border-radius: 0 0 5px 5px;
	border: 1px solid #9acfea;
	border-top: none;
	left: -1px;
}


#invoice_table td:nth-child(4){
	text-align: center;
}
#invoice_table td:nth-child(4) dl{
	display: inline-block;
}
#invoice_table td:nth-child(4) dt, #invoice_table td:nth-child(4) dd{
	text-align: left;
}
/*add page*/
.add-invoice{padding: 0;}
.add-invoice .tab-pane{padding: 5px;}
.alert-warning{
	position: fixed;
	top: 50%;
	z-index: 9999;
	display: none;
	box-shadow: inset 0 1px 1px rgba(255,255,255,.075), 2px 2px 8px rgba(250, 235, 204, .6);
}
.add-invoice .checkerror {
	background: transparent url(img/error.png) no-repeat top left;
	position: absolute;
	top: 0px;
	left: 1px;
	height: 20px;
	z-index: 1000;
	width: 20px !important;
}
.add-invoice .checked {
	background: transparent url(img/checked.png) no-repeat top left;
	position: absolute;
	top: 0px;
	left: 1px;
	width: 20px;
	height: 20px;
	z-index: 1000;
	width: 20px !important;
}
.add-invoice .panel{
	margin-bottom: 0;
}
.add-invoice .tab-pane{
	max-height: 520px;
	overflow-y: auto; 
}
/*template*/
#template{
	padding-bottom: 0;
	overflow: hidden;
}
#template .dl-horizontal{
	padding-right: 170px;
}
#template .form-control{
	height: 30px;
	display: inline-block;
}
#template fieldset{
	border-width: 2px;
	padding: 10px;
	border-color: #990000; 
}
#template .dl-horizontal dt{
	color: #0066ff;
	line-height: 34px;
	width: 115px;
}
#template .dl-horizontal dd{
	margin-left: 135px;
}
#template .col-md-12 textarea{
	height: 40px;
}
#template .select2-container{
	z-index: 9;
	width: 100%;
}
#template .sel-input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
}
#template .sel_country, #template .sel_client{
	width: 100%;
	position: relative;
}
#template .sel_state{
	width: 40%;
	position:relative;
	display: inline-block;
	margin-right: 2%;
}
#template #state_input{
	width: 58%;
	display: none;
}
#template textarea.form-control{
	height: 40px;
}
/*template end*/
/*browse*/
/*#browse .table{
	margin-bottom: 0;
}
#browse .col-md-6:first-child li{
	padding-left: 3px;
	margin-bottom: 5px;
}
#browse .bg-blue{
	padding: 10px;
	background-color: #d9edf7;
	margin: 10px 0;
	border-radius: 3px;
}
#browse .col-md-6:nth-child(2) label{
	width: 160px;
	margin-right: 20px;
	text-align: right; 
}
#browse .table th:first-child{
	width: 25%;
}
#browse .table td:first-child{
	border-right-width: 0; 
}
#browse .table td:nth-child(2){
	border-left-width: 0; 
}
#browse .table th:nth-child(2){
	width: 50%;
}
#browse .table td{
	text-align: right;
}
#browse .table td:nth-child(3) div{
	max-width: 450px;
  	word-break: break-all;
  	text-align: left;
}
#browse tfoot td{
	padding: 0; 
}
#browse tfoot label{
	width: 100px;
	padding-left: 10px;
	margin-bottom: 0;
}
#browse .list-unstyled{
	margin-bottom: 0;
}
#browse tfoot .list-unstyled li{
	line-height: 2.3em;
	height: 2.3em;
}
#browse .list-unstyled .info{
	background-color: #d9edf7;
	text-align: left;
}
#browse section, #browse footer, #browse header{
	margin: 10px;
}
#browse header{
	text-align: center;
	text-shadow: #f3f3f3 0px 0px 1px, #D1D1D1 0px 0px 1px;
}
#browse header label{
	font-size: 1.2em;
}
#browse .content{
	border: 1px solid #ddd;
	padding-top: 5px;
	padding-bottom: 5px;
}
#browse footer .col-md-5{
	text-align: center;
	letter-spacing: 1px;
}
#browse footer .col-md-5 p:first-child{
	font-size: 14px;
}
#browse .bill-to .dl-horizontal:first-child{
	width: 58%;
	float: left;
	padding: 0 15px;
}
#browse .bill-to .dl-horizontal:last-child{
	width: 42%;
	float: left;
	padding: 0 15px;
}
#browse .bill-to .dl-horizontal:first-child dt{
	width: 70px;
	font-weight:bold;
}
#browse .bill-to .dl-horizontal:first-child dd{
	margin-left: 75px
}
#browse .bill-to .dl-horizontal:last-child dt{
	width: 105px;
	font-weight:bold;
}
#browse .bill-to .dl-horizontal:last-child dd{
	margin-left: 110px
	}*/
	/*end browse*/
	/*detail*/
	#detail .table td{
		padding: 5px;
	}
	#detail .table td:nth-last-child(2){
		text-align: center;
	}
	#detail .form-control{
		font-size: 12px;
		height: 26px;
		padding: 3px 6px;
	}
	#detail .icon{
		display: block;
		margin-left: auto;
		margin-right: auto;
		vertical-align: middle;
	}
	#detail .table tfoot .text-left{
		display: inline-block;
		margin-left: 5px;
		margin-right: 15px;
		padding: 3px 6px;
	}
	#detail .pull-left{
		line-height: 34px;
		height: 34px;
		width: 150px;
	}
	#detail .pull-left .form-control{
		display: inline-block;
		width: 70px;
		margin-left: 5px;
	}
	#detail .J-unit{
		min-width: 70px;
		padding-right: 0;
	}
	#detail .J-service-id{
		min-width: 70px;
	}
	#detail .J-des{
		min-width: 270px;
	}
	#detail div.text-left{
		padding: 5px 0;
		line-height: 24px;
	}
	div.text-left .lr_no_left{
		padding: 5px 0;
		line-height: 24px;
		float: left;
		padding-right: 10px;
	}
	div.text-left .lr_no_right{
		padding: 5px 0;
		line-height: 24px;
		float: left;
		padding-right: 10px;
	}
	#reference_no{
		display: inline-block;
		width: 200px;
	}
	/*end detail*/
	/*add page end*/
	/*invoice end*/

	/*sort-sub*/
	.sort-sub{
		height: 380px;
		padding: 5px 10px;
		width: 500px;
	}
	.sort-sub .pull-left{
		width: 430px;
		height: 100%;
		border: 1px solid #ddd;
		border-radius: 4px;
		overflow-y: auto;
	}
	.sort-sub .btn{
		display: inline-block;
		margin-bottom: 10px;
	}
	.sort-sub .list-group-item{
		border-radius: 0;
		border-left: none;
		border-right: none;
		padding: 5px 10px;
	}
	.sort-sub .list-group-item:first-child{
		border-top: none;
	}
	.sort-sub .pull-right{
		width: 40px;
		height: 100%;
		display: table;
	}
	.sort-sub .sort-btn{
		text-align: center;
		vertical-align: middle;
		display: table-cell;
	}
	.sort-sub .list-group-item.active{
		z-index: 2;
		color: #FFFEFE;
		background-color: #71D0FF;
		text-shadow: 0 -1px 0 #5bc0de;
		background-image: -webkit-linear-gradient(top,#71D0FF 0,#5bc0de 100%);
		background-image: -o-linear-gradient(top,#71D0FF 0,#5bc0de 100%);
		background-image: -webkit-gradient(linear,left top,left bottom,from(#71D0FF),to(#5bc0de)); 
		background-image: linear-gradient(to bottom,#71D0FF 0,#5bc0de 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71D0FF', endColorstr='#5bc0de', GradientType=0);
		background-repeat: repeat-x;
		border: 1px solid #5bc0de;
		margin: -1px 0;
	}
	/*end*/


	/*upload SOP*/
	.download-container{
		height: 100%;
		overflow: hidden;
		padding: 10px;
	}
	.download-container .download-content{
		border: 1px solid #ddd;
		height: 100%;
		overflow-y: auto;
	}
	.download-content>.table{
		margin-bottom: none;
	}
	.download-content>.table>thead>tr>th:last-child{
		border-right: none;
	}
	.download-content>.table .glyphicon{
		text-decoration: none !important;
	}
