<div  class="panel panel-default">  
	 	<div class="panel-body">
		    <div class="form-horizontal">
		        <div class="form-group">
		            <label for="customer" class="control-label col-sm-3 required hide ">Customer </label>
		            <div class="col-sm-6 ">
		                  <select id="customerid"  class="form-control vr hide ">
			             </select>
		            </div>
		            <div class="col-sm-3 error hidden" >
		                <span class="error" title="Customer  is reuqired."></span>
		            </div>
		            <div class="col-sm-3 hide" id="validating">
		                 <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		                   width="25px" height="25px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
		                  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
		                    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
		                    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
		                  <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
		                    C22.32,8.481,24.301,9.057,26.013,10.047z">
		                    <animateTransform attributeType="xml"
		                      attributeName="transform"
		                      type="rotate"
		                      from="0 20 20"
		                      to="360 20 20"
		                      dur="0.5s"
		                      repeatCount="indefinite"/>
		                    </path>
		                  </svg>
		            </div>
		        </div>
		    </div>
	 <!--  	    
		    <div class="form-horizontal">
		        <div class="form-group">
		            <label for="carrier" class="control-label col-sm-3">Carrier</label>
		            <div class="col-sm-6" >
		                <select id="carrier"  class="form-control vr">
		                	<option value="" ></option>
			             	<option value="CC">CC</option>
			             	<option value="CA">CA</option>
			            </select>
		            </div>
		            <div class="col-sm-3 error hidden" >
               		 	<span class="error">Carrier is reuqired.</span>
            		</div>
		        </div>
		    </div>
		  
	 		<div class="form-horizontal">
		        <div class="form-group">
		            <label for="receiveCountry" class="control-label col-sm-3">Receive Country</label>
		            <div class="col-sm-6" >
		            
		             <select id="receiveCountry"  class="form-control vr">
		             	<option value="11036" selected>America</option>
		             	<option value="11036">China</option>
		             </select>

		            </div>
		            <div class="col-sm-3 error hidden" >
               		 	<span class="error">Please choose country.</span>
            		</div>
		        </div>
		    </div> 
		 -->

		    <div class="line">
		    </div>
		    <div class="importAre">
		    </div>
		</div>    
</div>  
<div class="opbar">
	<ul class="label-group pull-right">
		<li><input type="radio" name="radio" data-labelauty="Update SO" class="confirm" value="1"></li>
		<li><input type="radio" name="radio" data-labelauty="Import DN" class="confirm" value="2" checked></li>
	</ul>
	<!--<button type="button" id="comfirm" class="btn btn-info">Confirm</button> -->
</div>
