<div  class="panel panel-default" style="margin-bottom: 0">  
	<div class="panel-body">
		<div class="row">
			<div class="text-center" id="loading">
				 <img src="./imgs/loading.gif"><br/>
				<label class="import-success">loading...</label>
			</div>
		</div>
		<div class="text-center hidden" id="success">
			<img src="./imgs/success.png"><br>
			<label class="import-success">Import Successed</label>
		</div>
		<div class="status hidden" id="warning">
			<img src="./imgs/warning.png" class="breathing"><br/>
			<label class="import-finish">Import Finisned</label>
		</div>
		<div id="restultDetail">
		</div>
	</div>
</div>	
<div class="opbar">
	<button type="button" id="continueImport" class="btn btn-info" style="display:none" disabled>Import</button>
	<button type="button" id="close" class="btn btn-info">Close</button>
</div>