<table>
	<tr>
		<td>
			当前状态：
		</td>
		<td>
			运输中
		</td>
		<td colspan="4"></td>
	</tr>
	<tr>
		<td>
			跟进流程：
		</td>
		<td>
			<select>
				<option>货物状态</option>
			</select>
		</td>
		
		<td>
			预计本阶段完成时间：
		</td>
		<td>
			<input/>
		</td>
	</tr>
	<tr>
		<td >
			备注
		</td>
		<td colspan="5">
			<textarea rows="5" cols="60" ></textarea>
		</td>
	</tr>
</table>