<table id="uploadExcel" class="table table-hover">
    <thead>
      <tr>
         <th>ReportExcel</th>
         <th>Edit</th>
      </tr>
    </thead>
    <tbody>
        {{#each excels}}
        <tr data-fileid="{{this.file_id}}">
            <td>{{this.original_file_name}}</td>
            <td><button class="btn btn-primary" type="button" name="delBtn">Delete</button></td>
        </tr>
        {{/each}}      
    </tbody>
</table>