﻿<style>
*{box-sizing: border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
body{font-size: 12px;font-family: Arial;color: #333333;}
.tag-container{ height:575px;padding:0px;text-align: left;font-weight: bold;word-break: break-word;margin: 0px;position: relative;}
.tag-container h2{text-align: center;font-size: 24px;}
.tag-container .tag-module{line-height: 25px;padding: 0px;border-top: 1px solid #333;position: relative;}
.tag-module dt{font-size: 18px;}
.tag-module .module-name{width: 205px;margin-left:0px;}
.tag-module .module-address{margin-left:0px;}
.tag-module .module-tel{width: 134px; margin-left:0px}
.tag-module.info-module:before, .tag-module.main-module:before, .tag-module.info-module:after, .tag-module.main-module:after{ content: " "; display: table;}
.tag-module.info-module:after, .tag-module.main-module:after{clear: both;}
.tag-module.main-module{border-top-color: #fff;font-size: 14px;}
.tag-module.main-module div.module-left{float: left;height: 100px;width:180px;}
.tag-module.main-module div.module-right{float: left;height: 100px;}
.tag-module.main-module div dd{display: block;width: auto;}
.tag-module dl{
  margin-left: 20px;
}

.tag-module dl dd{
  margin-left: 0px;
}
.main-module .module-right{width:200px;}
/*.main-module .module-left{width: 134px;}*/
.main-module .module-left dd:nth-child(1){font-size: 20px;}
.tag-module.info-module div{width: 49%; float: left;}
.tag-module.info-module div dd{font-weight: normal;display: block;width: auto;line-height: 18px;}
</style>
{{#each details.ITEMS}}
<div class="tag-container">
    <h2>Track No <span style="position:absolute;top:2px;left:420px">{{addOne @index}}/{{../details.ITEMS.length}}</span></h2>
    <div class="tag-module main-module" style="border:none;border-top:1px solid #333">
        <div class="module-left">
            <dl>
              <dd style="font-size: 20px;">TO: {{../waybillInfo.CONSIGNEE.CONSIGNEE_WHS_NAME}}</dd>
              <dd>FROM: {{../waybillInfo.SHIPPER.SHIPPER_WHS_NAME}}</dd>
              <dd>{{#formatDate ../waybillInfo.CONSIGNEE.CREATE_TIME}}{{/formatDate}}</dd>
            </dl>
        </div>      
        <div class="module-right">
            <dl>
              <dd>TN: {{this.WAYBILL_ITEM_ID}}</dd>
              <dd><img src="/barbecue/barcode?data={{../waybillInfo.WAYBILL.waybill_id}}&width=1&height=50&type=code39"/></dd>
            </dl>
        </div>

    </div>
    <div class="tag-module" style="position:relative;">
        <dl>
          <dt>Shipper</dt>
          <dd class="module-name">Contanct: {{../waybillInfo.SHIPPER.SHIPPER_NAME}}</dd>
          <dd class="module-tel">Tel: {{../waybillInfo.SHIPPER.SHIPPER_TEL}}</dd>
          <dd class="module-address">Address: {{../waybillInfo.SHIPPER.SHIPPER_ADDRESS}}</dd>
        </dl>
    </div>
    <div class="tag-module">
        <dl>
          <dt>Consignee</dt>
          <dd class="module-name">Contanct: {{../waybillInfo.CONSIGNEE.CONSIGNEE_NAME}}</dd>
          <dd class="module-tel">Tel: {{../waybillInfo.CONSIGNEE.CONSIGNEE_TEL}}</dd>
          <dd class="module-address">Address: {{../waybillInfo.CONSIGNEE.CONSIGNEE_ADDRESS}}</dd>
        </dl>
    </div>
    <div class="tag-module info-module">
        <div>
            <dl>
              <dt>货物信息</dt>
              <dd>货物内容: {{this.CONTENT}}</dd>
              <dd>数量: {{../details.QUANTITY}}</dd>
              <dd>体积: {{#formatVolume this.LENGTH this.WIDTH this.HEIGHT this.VOLUME_UNIT_NAME}}{{/formatVolume}}</dd>
            </dl>
        </div>
        <div>
            <dl>
              <dt>费用信息</dt>
              <dd>运费: {{../waybillInfo.FEE.FEE_WAYBILL}}</dd>
              <dd>声明价值: {{../waybillInfo.FEE.DECLARED_VALUE}}</dd>
              <dd>保价费用: {{../waybillInfo.FEE.FEE_INSURED}}</dd>
              <dd>费用合计: {{../waybillInfo.FEE.FEE_TOTAL}}</dd>
              <dd>付款方式: {{../waybillInfo.FEE.FEE_PAYMENT_NAME}}</dd>
              <dd>月结账号: {{../waybillInfo.FEE.MONTHLY_PAYMENT}}</dd>
            </dl>
        </div>
    </div>
    <div class="tag-module">
        <dl>
          <dt>不可多层码放</dt>
        </dl>
    </div>
</div>
{{/each}}