.row {
	margin-top: 10px;
}

.tab-content {
	margin-top: 10px;
}

.line_100 {
	width: 100%;
	border: 1px solid #CFCFCF;
	border-width: 1px 0px 0px 0px;
	margin-top: 8px;
}
#allTableList .table-th-div {
	WORD-BREAK:break-word;
}
.td_name {
	width: 180px;
}

.td_object {
	width: 200px;
}

.filter tr td {
	padding: 5px;
}

.red_star {
	color: #f00f4d;
	font-size: 16px;
	margin: 5px;
	vertical-align: middle;
}

input[readonly="readonly"] {
    background-color: #fff !important;
}

.select_in_line {
	/* display:block; */
	/* width: 100%; */
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.input-group input[type='date'] { border-radius: 0;margin-left: -1px;margin-right: -1px;}
input[type='date'] {width:150px !important;}
.container { width: 100% !important;}
.checkin_box { min-width:0 !important;}
.important { color:#ff0000; padding-right:5px;}
.clear { clear:both;}
.content-tab-pane {border: 1px solid #ddd;margin-top: -1px; }
.ui-app-type {margin: 10px 0 15px;}
.save-handle { margin:15px 0 15px;}
.margin10 { margin:10px 0;}
.minWith350 { width:350px !important;}
.minWith200 { width:200px !important;}

/*.nav-tabs > li > a:hover, .nav-tabs > li > a:hover {border-top: 2px solid #5bd852;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border-top: 2px solid #5bd852;}*/
    

.ui-app-type li {float:left;list-style:none; width:45%;}
.plugin-box .plugin-item {position: relative;display: block;overflow: hidden;margin-right: 24px;margin-bottom: 24px;color: #222;height: 92px;padding-left: 94px;border: 1px solid #e7e7eb;}
.plugin-box .plugin-item:hover { background-color:#e5e5e5; cursor:pointer;}
.plugin-box .plugin-item .plugin-icon {position: absolute;width: 92px;height: 92px;top: 0;left: 0;text-align: center;line-height: 92px; vertical-align:middle;}
.plugin-box .plugin-item .plugin-icon i { font-size:2.3em; color:#fff;margin-top: 25px;}
.plugin-box .plugin-content { margin-left:20px;}
.plugin-box .plugin-status {position: absolute;right: 10px;top: 40px;color: #B8B8B8;}
.plugin-box .plugin-item .title {margin-top: 10px;margin-bottom: 4px;width: 216px;font-size: 14px;font-weight: 400;font-style: normal;}
.plugin-box .plugin-item .desc {color: #8d8d8d;font-size: 12px;line-height: 24px;width: 238px;}

.bgBlue {background-color:#85AECC;}
.bgGreen {background-color:#76CAC3;}
.bgRed { background-color:#EEA97F;}


#myTab .form-group,#searchSampleTab button[type="button"],#searchAdvancedTab .form-group ,#myTab button[type="submit"] { margin-bottom:10px;}

#searchSampleTab input[type="text"] { width:400px;}
#searchAdvancedTab .btn-group .active {background-color:#5bc0de; color:#fff;}
#searchAdvancedTab input[type="date"],#searchOrders input[type="date"]{ margin:0 -1px;border-radius:0;}

.quick-create { width: 290px;padding: 10px !important;right: 0 !important;left: inherit !important;}
.fieldsetboot{ 
  width: 100%;
  position: absolute;
  bottom: -12px;
  margin: 0px 0px;
  padding: 0px 0px;
  height: 22px;
}
.fieldsetboot .footright{
  position: absolute;
  right: 11px;
  margin: 0px 0px;
  padding: 0px 0px;
  background: #fff;
  display: inline-block;
}
.opbar{float: right;margin-right: 20px;height: 40px;margin-top: 5px}

#data .form-group {
  margin-bottom: 5px;
  margin-right: 0;
  margin-left: 0;
}

.checked {
  background: transparent url(../image/checked.png) no-repeat top left;
  position: absolute;
  top: 0px;
  left: 1px;
  width: 20px;
  height: 20px;
  z-index: 1000;
  width: 20px !important;
}
#data label {
  font-weight: 500;
}
.required:after {
  position: absolute;
  content: ' *';
  top: 5px;
  color: #FF0000;
  right: 5px;
  font-size: 16px;
}

#global {
  min-width: 750px;
}

#global .footer {
  border-top: 1px solid #ddd;
  height: 50px;
  margin-bottom: 0;
  padding-top: 5px;
}

.hidenContent{
	opacity:0;
	margin-top: 13px;
}

