
.checkin legend,legend{
display: block;
 width: auto; 
 padding: 0;
 margin-bottom: 0px; 
 margin-left:10px;
 font-size:normal;
 line-height: normal;
 color: none; 
 border: none; 
 border-bottom:none; 
}

.Log_container .box1px { width:100%;
border-bottom: 1px dashed #ccc;
	line-height: 0px;
	margin: 0px 0px;
}

.Tractor_ulitme ul{list-style-type:none;padding: 0px;margin: 0px}

.checkin{margin:0px;padding: 0px;max-width:100%;}
.checkin,.SelectMorebox{font-size: 12px;font-family:Tahoma, Helvetica,"Microsoft Yahei","微软雅黑", Arial, STHeiti;margin:0px;padding: 0px;}

.checkin .clearfix:after{content:"\0020";display:block;visibility:hidden;height:0;clear:both;}
.checkin .fl{display:inline-block; float:left;}
.checkin .fr{display:inline-block; float:right;}

.checkin span,.checkin i,.checkin em,.checkin label,.checkin button{display: inline-block;vertical-align: middle;}
.checkin_box,.topthead table{border-spacing: 0px;}
.checkin_box th,.topthead table th{border: 1px solid #CFCFCF;border-width: 0px 1px 1px 0px;text-align: center; }
.checkin_box th:last-child,.topthead table th:last-child{border-right: 0px;}
.checkin_box td,.checkin_box th,.checkin_box,.topthead table th{margin: 0px}
.checkin_box th,.topthead table th{padding:0px;}
.checkin_box .tr_itme_style td{padding: 10px;}

.checkin_box .trOn td,.trOn td .ring_title em,.trOn .fieldset_tfoot em{background: #F5F5F5}
.checkin_box .trOff td,.trOff td .ring_title em,.trOff .fieldset_tfoot em{background:transparent;}


.checkin_box .TFOOTbutton td{padding:0px;height: 35px;}
.checkin_box .TFOOTbutton td div{margin-right: 20px;margin-top:3px}
.checkin_box ul,.checkin_box dl{list-style-type:none;padding: 0px;margin: 0px}
.checkin_box{width: 100%;min-width: 1240px;border:0px;border-width: 0px;}
.checkin_box thead th,.topthead table thead th{height: 35px;color: #353F42;}

.checkin_box button{cursor: pointer;}

.topthead,.topthead .checkin_box{min-width: 1238px}

.td_Route span,.td_Route i,.td_Route em,.td_ORDER legend span,.td_ORDER legend i{font-style: normal;margin: 0px;}
.td_Route fieldset,.td_ORDER fieldset,.td_TIME .Time fieldset,.td_TIME .Time{border-width: 2px;padding-bottom: 5px;border-style: solid;margin: 0px;padding: 0px;}
.td_legend{margin-left: 20px;margin-right: auto;}

.td_legend,.ring_title em,.fieldset_tfoot em,.td_ORDER legend,.Time .E_DLO_ID{font-size: 14px}

.fieldset_itme,.Time_fieldset{margin-bottom: 22px;width: 98%;margin-left: auto;margin-right: auto;}
.fieldset_itme{margin-top: 6px;}
.fieldset_itme fieldset,.Time_fieldset fieldset{text-align: center;margin-bottom: 10px;padding: 0px; text-align: -moz-center;}
.fieldset_itme fieldset legend{margin-left: auto;margin-right: auto}
.td_ORDER fieldset legend{margin-right: auto;margin-left: 20px}
.td_Route fieldset legend{margin-right: auto;margin-left: 20px;width: auto;border: 0px;  margin-bottom: 0px;}

.td_Route fieldset legend i,.td_ORDER legend i,.tableBlue legend i{font-size: 100%;width: 20px;text-align: center;}
.td_Route fieldset legend i{color: #00F}
.td_ORDER legend i{color: #008000}

.tableBlue legend i,.tableBlue legend .Sub_Customer {color: #008000;font-size: 14px;margin-bottom: 3px;font-style: inherit;max-width: 300px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.ring_title,.fieldset_tfoot{position: absolute;width: 100%;text-align: right;}

.ring_title em,.fieldset_tfoot em{padding-left: 5px;background: #FCFCFC;padding-right: 5px;}

.fieldset_tfoot em{margin-right: 12px}
.ring_title em{margin-right: 5px}

.td_Route .ring_title{top:-2px;}
.td_Route .fieldset_tfoot{bottom: -8px}

.td_Route .E_DLO_ID,.td_ORDER .Sub_trailer,.Time .E_DLO_ID{color: red}

.td_Route .Sub_route{font-size: 14px;color: #00F}

/*xx*/
.ORDER{min-width: 370px;border-color:#00F;position: relative;border-radius:3px;-webkit-border-radius:3px}

.fieldset_itme fieldset,.Time_fieldset fieldset{border-color: #930}

.itme_legend .DOOR,.itme_legend .Reserved{padding-right: 5px;padding-left:5px; }
.itme_legend .Reserved{margin:0px 6px}

.ORDER .itme_legend span,.ORDER .itme_legend button{font-size: 12px}

.ORDER .itme_legend span,.Time .Time_fieldset .td_legend span{color: #930}

.RouteGreen{min-width: 370px;border-color:#008000;position: relative;border-radius:6px;-webkit-border-radius:6px}
.RouteGreen .itme_legend span,.RouteGreen .itme_legend button{font-size: 12px}
.RouteGreen .itme_legend span{color: #008000}
.RouteGreen .Sub_route{font-size: 14px;color: rgb(255,128,0);margin-bottom: 3px;}


.RouteOrange{min-width: 370px;border-color:rgb(255,128,0);position: relative;border-radius:6px;-webkit-border-radius:6px}
.RouteOrange .itme_legend span,.RouteOrange .itme_legend button{font-size: 12px}
.RouteOrange .itme_legend span{color: rgb(255,128,0)}
.RouteOrange .Sub_desc{font-size: 14px;color: #0000ff;margin-bottom: 3px;}


.RouteLineBlue{min-width: 370px;border-color:#0000ff;position: relative;border-radius:6px;-webkit-border-radius:6px}
.RouteLineBlue .itme_legend span,.RouteLineBlue .itme_legend button{font-size: 12px}
.RouteLineBlue .itme_legend span{color: #008000}
.RouteLineBlue .Sub_line{font-size: 14px;color: rgb(255,128,0);margin-bottom: 3px;}

.tableBlue{min-width: 370px;border:2px solid; border-color:#00F;position: relative;border-radius:3px;-webkit-border-radius:3px; padding:5px 0 0 !important;}
.tableBlue .itme_legend span,.RouteGreen .itme_legend button{font-size: 12px}
.tableBlue .itme_legend span{color: #00F}
.tableBlue .Sub_order{font-size: 14px;color: red;margin-bottom: 3px;}
.tableBlue .table { margin-bottom:5px;}
.moreContainer {text-align: right;margin-right: 10px;}
.moreContainer .Morestyle {color: #008000;}

.fieldsetconte,.Tractor_ulitme{width:97%;margin-left: auto;margin-right: auto;margin-bottom: 10px }
.fieldsetconte{margin-top: 8px;}
.fieldsetconte .fl,.fieldsetconte .fr{width: 50%;}

.Tractor_ulitme{margin-top: 0 !important;}

.fieldsetconte .fl span,.fieldsetconte .fr span,.Tractor_ulitme span,.Time_fieldset span,.Log_container span{line-height: 22px}

.fieldsetconte ul li,.Time_fieldset ul li{text-align: left;margin:4px 0px;}

.fieldsetconte .NUMBERTYPE{width:80px;text-align: right;margin-right: 3px }
.fieldsetconte .NUMBER{text-align: left;}

.fieldsetconte .fr .select{margin-right: 8px}

.fieldsetconte ul li .LOAD{color: #00F}

.fieldsetconte .blue{color:#00F}
.fieldsetconte .red{color: red}


.fieldsetconte .select span,.fieldsetconte .select em{border:1px solid #DADADA;background: #F1F1F1;}

.fieldsetconte .select span{height: 22px;line-height: 22px;margin-right: 0px;text-align: center;padding:0px 6px;border-top-left-radius:4px;-webkit-border-top-left-radius:4px;border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px;border-right-width:0px;}


.fieldsetconte .select em{font-style: normal; border-top-right-radius:4px;-webkit-border-top-right-radius:4px;border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px;cursor: pointer;height: 22px;width: 16px;border-left:solid 1px #DADADA; }



/*2*/

/*.td_ORDER fieldset{min-width: 300px;border-color:#008000;-webkit-border-radius:3px;border-radius:3px;}*/
/*.Tractor_ulitme ul li,.Log_container ul li{margin:4px 0px;}*/

/*.td_ORDER .deliverystyle{color:#008000}*/
.Tractor_ulitme .namestyle{width: 60px;text-align: right;margin-right: 3px}
.Tractor_ulitme .valstyle{text-align: left;width: 100px;}


/*---*/
.TFOOTbutton td{border-bottom: 1px solid #ccc}

.SelectMorebox{position: absolute;display: none;background: #F0F0F0 url(img/menu.gif) repeat-y;border: 1px solid #ccc;padding:3px;}

.SelectMorebox a:link,.SelectMorebox a:visited{display:block;text-decoration:none;height: 26px;line-height: 26px;text-align: left;text-indent: 28px;color: #000;width: 120px}
.SelectMorebox a:hover{border: 1px solid #7EABCD;height: 24px;line-height: 24px;background: #FAFAFA;border-radius: 3px;-webkit-border-radius: 3px}

.tfootpage{width: 100%;margin:20px 0px;}
.tfootpage #pagebox{margin-left: auto;width: 660px;}
.LodingModal{position: absolute;top:0px;left: 0px;display:none;margin:0px;border-width: 0px;z-index: 499}
.loding{position: fixed;display: none;background: url(img/dy_loading.gif) no-repeat;width: 124px;height: 124px;z-index: 500}

.td_OPTION .Edit{border: 0px;border-style: none;background: url(img/Edit_bg.png) no-repeat;width: 60px;height: 22px;text-indent: 16px;padding: 0px;font-size: 12px;}
.td_OPTION .Edit:hover{background: url(img/Edit_bg_hover.png) no-repeat;color: #7F7F7F}

.td_OPTION .Print{border: 0px;border-style: none;background: url(img/printer_bg.png) no-repeat;width: 60px;height: 22px;text-indent: 16px;padding: 0px;margin-top: 10px;font-size: 12px}
.td_OPTION .Print:hover{background: url(img/printer_bg_hover.png) no-repeat;color: #7F7F7F};

#wrapper .navbar-default{background-color: #F8F8F8;border-bottom:  #E7E7E7}

.topthead{position: fixed;top:0px;margin:0px auto;display: none;background: #fff;}


.checkin_box .nodata {
  min-width: 300px;
  border: 2px solid blue;
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  color: red;
}

.cycleday{
  list-style: none;
  float: left;
  border: 1px solid #0000ff;
  width: 28px;
  height: 28px;
  line-height: 27px;
  text-align: center;
  border-radius: 14px;
  margin-right: 5px;
}
.checkin_box .logvaluestyle {
	text-decoration: inherit;
	margin-left: 5px;
	color: #F60;
}
.validator_style{
  text-align: left;
  padding-left: 0px;
  color: red;
}
.contentBody{
	min-width: 1315px;
}
.tr_itme_style:hover{
	/*background: #e6f3c5;*/
}
  