<div class="count_container_content">
	<div class="count_container">
		<input type="hidden" value="{{difference.WAREHOUSE_ID}}" id="difference_warehouse_id"/>
		<div class="div-table" style="width:100%">
			<div class="div-table-row">
				<div class="div-table-cell"><b>Scanned By:</b>&nbsp;{{difference.SCANNED_BY_NAME}}</div>
				<div class="div-table-cell"><b>Area:</b>&nbsp;{{difference.AREA_NAME}}</div>
				<div class="div-table-cell"><b>Location:</b>&nbsp;{{difference.LOCATION_NAME}}</div>
				<div class="div-table-cell"><b>Lot Number:</b>&nbsp;{{difference.LOT_NUMBER}}</div>

			</div>
			{{#ifCond difference.STATUS 1}}
			{{else}}
			<div class="div-table-row">
				<div class="div-table-cell"><b>{{difference.PROCESSED_TITLE}}</b>&nbsp;{{difference.REVIEWED_BY_NAME}}</div>
			</div>
			
			{{/ifCond}}
		</div>
		{{#ifCond difference.STATUS 1}}
		{{else}}
			<div class="diff_comments_div">
				<div ><b>Comments:</b>&nbsp;{{difference.COMMENTS}}</div>
			</div>
		{{/ifCond}}
		<div id="container_count_dif_div">
			<div id="system_physical_div">
      			<div class="system_div">
      				<h5>System View</h5>
      			</div>
      			<div class="alert alert-info info_div"></div>
      			<div class="physical_div">
        			<h5>Physical View</h5>
        		</div>
        		<div class="clear"></div>
        	</div>
		</div>

		<div id="product_count_difference_table"></div>

		{{#ifCond difference.STATUS 1}}
		    <div class="approval_div">
		          <div class="comments_div">
			          <input type="hidden" name="diff_id" value="{{difference.ID}}"/>
			          <input type="hidden" name="type" value="1"/>
		              <label class="required">Comments</label>
		              <textarea  name="comments"></textarea>
		              <br><span class="text-danger hidden" name="validation_msg"></span>
		          </div>
		          <div class="approve_btn_div">
			          <a name="approve_btn" class="btn btn-success" title="Approve">
			            <span class="glyphicon glyphicon-ok"></span> Approve</a>
			          
			          
			          <a name="reject_btn" class="btn btn-danger" title="Reject">
			            <span class="glyphicon glyphicon-remove"></span> Reject</a>
			            {{#if difference.IS_VERIFICATION_TASK_CREATABLE}}
		          
							<button type="button" name="create_verification_task_diff_btn" class="create_verification_task_diff_btn btn btn-primary">Create Verification Task</button>
						{{/if}}
		          </div>
		        
		    </div>
		  
		  {{/ifCond}}


		  <div id="difference_verification_task_list"></div>
	</div>
</div>