
{{#if differences.length}}
<div class="verification_task_button_div">
<button type="button" id="create_verification_task_btn" class="verification_task_button btn btn-primary disabled">Create Verification Task</button>

</div>
<div class="clear"></div>
<table class="table table-striped" width="100%" >
<thead>
  <th><input type="checkbox" id="differences_select_all"/></th>
	<th>Area</th>
  <th>Location</th>
  <th>Title</th>
  <th>Container</th>
  <th class="sort_link"><a class="{{post_date_css}}" href="#"  name="scanned_at">Scanned Date</a></th>
  <th>Scanned by</th>
   <th> Status</th>
   <th>Verification Status</th>
   <!--th>Reviewer</th>
   <th class="sort_link"><a class="{{approve_date_css}}" href="#"  name="reviewed_at">Reviewed Date</a></th-->
   <th></th>

</thead>
<tbody id="differences_table_body">
{{#each differences}}
   <tr>
          <td>
            {{#if this.IS_VERIFICATION_TASK_CREATABLE}}
              <input type="checkbox" id="differences_checkbox_{{this.ID}}" data-diff_id={{this.ID}} 
              class="difference_list_checkbox"/>
            {{/if}}
          </td>
   		   <td>{{this.AREA_NAME}}</td>
         <td>{{this.LOCATION_NAME}}</td>
         <td>{{this.TITLE_NAME}}</td>
         <td>{{this.LP_CONTAINER}}</td>
         <td>{{this.SCANNED_AT}}</td>
         <td>{{this.SCANNED_BY_NAME}}</td>
         <td>{{this.STATUS_STRING}}</td>
         <td>{{this.VERIFICATION_STATUS}}
         <!--td>{{this.REVIEWED_BY_NAME}}</td>
         <td>{{this.REVIEWED_AT}}</td-->
         <td><button type="button"  class="review_btn_difference btn btn-default btn-sm" title="Review" name="{{this.ID}}">Review</button></td>
   </tr>
{{/each}}
</tbody>
</table>

{{else}}
<div class="alert alert-info">
   No differences found
</div>
{{/if}}
<div id="pagination" class="pagebox">
   
</div>