
{{#each list}}
<div class="verification_task_block " id="verification_task_{{this.VERIFICATION_TASK_ID}}">
	<input type="hidden" class="verification_task_id_value" value="{{this.VERIFICATION_TASK_ID}}"/>
	<input type="hidden" class="verification_task_instance_id_value" value="{{this.INSTANCE_ID}}"/>
	<h3>{{this.SERIAL_NUMBER}} Verification Task: {{this.CODE}}</h3>
	<div class="verification_task_block_info">
		<div class="div-table">
			<div class="div-table-row">
				<div class="div-table-cell"><b>Task Status:</b>&nbsp;{{this.STATUS_STRING}}</div>
				<div class="div-table-cell"><b>Assigned To:</b>&nbsp;<span class="v_assigned_user_name">{{this.EMPLOYE_NAME}}</span></div>
				{{#ifCond this.STATUS 1}}
					{{#ifCond this.MAIN_DIFFERENCE_STATUS 1}}
					<div class="div-table-cell reassign_btn_cell">
						<input type="hidden" class="verification_task_start_date" value="{{this.START_DATE}}"/>
						<input type="hidden" class="verification_task_end_date" value="{{this.END_DATE}}"/>
						<button type="button" class="verification_task_reassign btn btn-default btn-sm" title="Reassign" data-verification_task_id="{{this.VERIFICATION_TASK_ID}}">Reassign</button>
					</div>
					{{/ifCond}}
				{{/ifCond}}
			</div>
			<div class="div-table-row">
				<div class="div-table-cell"><b>Task Priority:</b>&nbsp;{{this.PRIORITY_STRING}}</div>
				<div class="div-table-cell"><b>End Before:</b>&nbsp;{{this.END_DATE}}</div>
			</div>
			{{#ifCond this.STATUS 1}}
			{{else}}
				<div class="div-table-row">
					<div class="div-table-cell"><b>Scanned By:</b>&nbsp;{{this.SCANNED_BY_NAME}}</div>
					<div class="div-table-cell"><b>Scanned at:</b>&nbsp;{{this.SCANNED_AT}}</div>
				</div>
				{{#if this.RESULT_STRING }}
				<div class="div-table-row">
					<div class="div-table-cell verification_result"><b>Result:</b>&nbsp;Verification <b>{{RESULT_STRING}}</b> </div>
				</div>
				{{/if}}
			{{/ifCond}}
			
		</div>
	</div>	
	<div class="verification_task_reassign_block">
		{{#if this.SHOW_TREE}}
		<div id="container_count_dif_div">
			
			<div class="system_physical_div">
      			<div class="system_div">
      				<h5>System View</h5>
      			</div>
      			<div class="alert alert-info info_div"></div>
      			<div class="physical_div">
        			<h5>Physical View</h5>
        		</div>
        		<div class="clear"></div>
        	</div>
        	
		</div>
		{{/if}}
		<div id="product_count_difference_table"></div>
		{{#ifCond this.MAIN_DIFFERENCE_STATUS 1}}
			{{#if this.SHOW_APPROVE}}
			    <div class="approval_div">
			          <div class="comments_div">
				          <input type="hidden" name="verification_instance_id" value="{{this.INSTANCE_ID}}"/>
				          <input type="hidden" name="type" value="2"/>
			              <label class="required">Comments</label>
			              <textarea  name="comments"></textarea>
			              <br><span class="text-danger hidden" name="validation_msg"></span>
			          </div>
			          <div class="approve_btn_div">
				          <a name="verification_approve_btn" class="btn btn-success" title="Approve">
				            <span class="glyphicon glyphicon-ok"></span> Approve</a>
				      </div>
			    </div>
			  {{/if}}
		  {{/ifCond}}
	</div>
</div>
{{/each}}