
<div id="filter_btn_div">
	
	<button id="filter_btn" class="btn btn-info" type="button" title="Filter" >
	<span class="glyphicon glyphicon-search"></span>
		Search</button>
	<button id="diff_clear_btn" class="btn btn-info" type="button" title="Clear" >Clear</button>
	<input type="hidden" id="filtered_status" value="0" />
	<input type="hidden" id="filtered_area_id" value="0" />
	<input type="hidden" id="filtered_location_id" value="0" />
	<input type="hidden" id="filtered_storage_id" value="0" />
	<input type="hidden" id="filtered_title_id" value="0" />
	<input type="hidden" id="filtered_product_line_id" value="0" />
	<input type="hidden" id="filtered_product_cat_id" value="0" />
	<input type="hidden" id="filtered_model_number_id" value="0" />
	<input type="hidden" id="filtered_lot_number_id" value="0" />
	<input type="hidden" id="filtered_lp_type_id" value="0" />
	<input type="hidden" id="filtered_scanned_by" value="0" />
	<button id="filter_btn_bk" class="btn btn-default" type="button" title="Filter" style="display:none;">Filter</button>
</div>
