<div id="back_btn_div">
<button id="back_btn" type="button" class="btn btn-default">Back</button>
</div>
{{#if differences.length}}
  <div id="location_differences_scroll_container">
    <div class="panner scroll_up" data-scroll-modifier='-1'>&nbsp;</div>
    <div id="location_differences_scroll">
      
      <div id="location_differences">
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs" id="locationTabs">
            {{#each differences}}
              <li id="{{this.SAL_ID}}">
                <a href="#{{this.SLC_POSITION_ALL}}" data-toggle="tab" name="{{this.SAA_ID}}">
                  {{this.SLC_POSITION_ALL}}
                  <span class="" name="{{this.SLC_POSITION_ALL}}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </a>
              </li>
          {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="panner scroll_down" data-scroll-modifier='1'>&nbsp;</div>
  </div>
  <div id="container_differences">  
    <div class="tab-content">
      {{#each differences}}
        
        <div class="tab-pane" id="{{this.SLC_POSITION_ALL}}">
            
        </div>
        
      {{/each}}
    </div>
  </div>


{{else}}

    <div class="no_data">
       No Data
    </div>

{{/if}}