<div class="input-group">
	<div class="input-group-addon">Warehouse</div><input id="selected_storage_id" type="hidden" value="0"/>
	<input id='storage_list_box' type='text' class='form-control' />
	
</div>