#filter_diff_container{display:table;}
#storage_list_box_container{width:360px;display: inline-block;padding-right:10px;}
#storage_list_box_container input{width:350px;}
#differences_list_container{padding-top: 20px;}
#differences_list_container td, th{text-align: center;}
#area_list_box_container{width:210px;display: inline-block;padding-right: 10px;}
#area_list_box_container input{width:200px;}
#status_list_box_container{width:110px;display: inline-block;padding-right: 10px;}
#filter_button_container{display: inline-block;}
#status_dd_div{display: inline-block;padding-right: 5px}
#filter_btn_div{display:inline-block;vertical-align:bottom}
#status_list_box_container select{width:90px;}
.no_data{margin:5px;padding:10px; text-align:center;background-color:#eee;border:1px solid #444;}
#location_differences_container{padding:10px;}
#location_differences_scroll_container{float:left;margin-right: 30px;margin-top:10px;}
#location_differences_scroll{height:420px; overflow-y:hidden;}
#back_btn_div{ border-bottom: 1px solid #ddd; padding:5px; margin-bottom: 5px;}
#container_differences{float:left;padding-top:10px}
.location_btn{width:150px; padding:5px;margin-bottom: 5px;display: block;}
#pagination{padding:10px 5px;float:right;}
#pagination a{cursor: pointer;}

.scroll_up{background: url('../img/up.png') no-repeat 15px;width:120px; height:25px;margin-bottom: 8px;cursor: pointer;}
.scroll_down{background: url('../img/down.png')  no-repeat 15px;width:120px;height:25px;margin-top: 8px;cursor: pointer;}
.scroll_up:hover{background: url('../img/up_hover.png') no-repeat 15px;}
.scroll_down:hover{background: url('../img/down_hover.png') no-repeat 15px;}

#locationTabs a{padding-right: 5px;box-shadow: 3px 3px 4px #888888;margin-bottom: 7px;outline: none}
#locationTabs .approved{width:16px;background: url(../img/standard_msg_ok.gif) no-repeat;}
#locationTabs .approved_loc{background-color: #E6F3C5}
#locationTabs .active a{box-shadow: none;border-width:2px;margin-bottom: 3px;}
#locationTabs li{background-color: #f5f5f5;}

.sort_link{min-width: 170px}
.sort_link .up{ padding-right:25px;background: url('../img/sort_up.png') no-repeat right top;}
.sort_link .down{ padding-right:25px;background: url('../img/sort_down.png') no-repeat right top;}

#count_diff_table td{vertical-align: middle;}
#count_diff_table th{text-align: center;}
#containerTabs {margin-bottom: 0px;}
#containerTabs a{margin-right: 7px;outline: none}
#containerTabs .approved{width:16px;background: url(../img/standard_msg_ok.gif) no-repeat;}
#containerTabs .approved_container{background-color: #E6F3C5}
#containerTabs a {background-color: #eaeaea;margin-right: 7px;border-color:#ddd;}
#containerTabs .active a {background-color: #fcfcfc;border-bottom-color: #fcfcfc;}

#count_container{padding: 20px;border: 1px solid #ddd;border-top: 0px;background-color: #fcfcfc;min-width: 700px;}
#count_container .table-striped tbody>tr:nth-child(odd)>td,
#count_container .table-striped tbody>tr:nth-child(odd)>th {background-color: #fff;}
#count_container table{margin:0px;}
#count_container table td{text-align: center;}
#count_container td textarea{margin:0px;}
#approve_btn_div{text-align: center;width: 100%;border-top: 1px solid #ddd;padding-top: 10px}
#count_container .hidden{display: none;}
#count_container .visible{display: inline-block;}
#count_container textarea{width:220px;height:60px;}

#container_count_dif_div{width:100%;display: inline-block;margin-bottom: 10px;}
.clear{clear:both;}
#container_count_dif_div .system_div,.physical_div{min-height:200px;padding:0px 10px 10px; display: inline-block;min-width: 220px;vertical-align: top;border: 1px solid #ddd;background-color: #fff;}
#container_count_dif_div .system_div{float:left;margin-right: 30px;}
#container_count_dif_div .physical_div{float:right;}
#container_count_dif_div .parent span{font-size: 14px;}
#container_count_dif_div .child span{font-size: 12px;}
#container_count_dif_div .parent{display: block;padding-left:30px;background: url('../img/parent.jpg') left center no-repeat;line-height: 23px;}
#container_count_dif_div .child{margin-left:10px;display: block;padding-left: 30px;background: url('../img/child.jpg') left center no-repeat;line-height: 23px;}
#container_count_dif_div h5{border-bottom: 1px solid #ddd;padding-left: 10px;font-weight: bold;color:#428bca;}
#count_dif_div{padding-top: 10px;clear:both;}
#count_dif_div h5{margin-bottom: 0px;border-bottom: 1px solid #ddd;border-top: 1px solid #ddd;padding:5px;font-weight: bold;line-height: 1.1;color:#428bca;}
span.note{display:inline-block; width:225px; text-align: center;}
td.difference{color:#a94442;font-weight: 1.4em}


.custom_progress_box{
background-color: #5cb85c;
height: 20px;
width:200px;
margin-bottom: 0px;
overflow: hidden;
text-align: center;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
display: inline-block;
}
.custom_progress{
	background: url('../img/progress_bg.png') no-repeat 0px 0px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}




.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
min-width: 74px;
margin-right: 0;
margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
float: left;
margin-right: 19px;
border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
margin-right: -1px;
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
border-color: #ddd transparent #ddd #ddd;
*border-right-color: #ffffff;
}


