.search_input {
	background: url(../imgs/search_bg.jpg) repeat 0 0;
	width: 400px;
	height: 24px;
	font-weight: bold;
	border: 1px #bdbdbd solid;
}
.search_shadow_bg {
	background: url(../imgs/search_shadow_bg2.jpg) no-repeat 0 0;
	width: 408px;
	height: 36px;
	padding-top: 3px;
	padding-left: 3px;
	margin-bottom: 5px;
}

.search_input {
	background: url(../imgs/search_bg.jpg) repeat 0 0;
	width: 400px;
	height: 24px;
	font-weight: bold;
	border: 1px #bdbdbd solid;
}

#easy_search_father {
	position: absolute;
	width: 0px;
	height: 0px;
	z-index: 1;
}

#easy_search {
	position: absolute;
	left: 318px;
	top: -2px;
	width: 55px;
	height: 30px;
	z-index: 9999;
	visibility: visible;
}