#data span .valstyle
{
	margin-right: 5px;
}
#data .valuestyle
{
	margin-left: 5px;
	color: #F60;
	text-decoration: underline;
	cursor: pointer;
}
#data .logvaluestyle
{
	text-decoration: inherit;
	margin-left: 5px;
	color: #F60;
}

#data .namestyle
{
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	text-align: right;
	margin-right: 3px;
}
#data .td_TRAILER .namestyle , #data .td_FLOWS .namestyle
{
	width: 80px;
}
.topthead table thead th {
	background-color: #f8f8f8;
}
.color-green {
	color: green;
}
.color-blue {
	color: blue;
}
.color-red {
	color: red;
}
.furight {
	float:right;
}
.TRAILER {
    border-color: #00f;
    border-radius: 3px;
    min-width: 150px;
    position: relative;
}