#lableList{
	padding: 0px;
	margin:  0px;
}
textarea{
	margin-left:auto;
	margin-right:auto;
	font-size: 12px;
	width:390px;
	height: 426px;
}
hr{
	color: #FFF;
}
td, th {
    padding: 3px;
}
.tag_font{font-weight:bold;}
.common-element-button{background: url("/Sync10/administrator/imgs/button_short.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
border-style: solid;color: #000000;font-size:10px;border-width: 0;height: 20px;width:80px;}
.common-element-td{font-size:10px;}
.lableinfo{
	background:  #FFF;
	width:750px;
	height: 60px;
	font-size: 12px;
}
.background{
	background: #aaa;
	width:750px;
	height: 460px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
}
.tablecloth{
	background: #aaa;
	margin-left:2px;
	margin-top: 20px;
	/* 	margin-bottom:5px; */
	/* 	padding:0px; */
	/* 	padding-top:20px; */
	/* 	padding-bottom:20px; */
	float: left;
	position:relative;
	text-align:center;
	width: 565px;
	height: 435px;
	overflow-y:auto;
}
.btns{
	background: #EEE;
	width: 183px;
	height: 460px;
	margin: 0px ;
	border-left: 1px #111;
	float: right;
}
.wrap{
	background: #EEE;
	overflow:hidden;	
	height:340px;
	margin-bottom: 3px;
}
.inner{
	height:680px;
}
.inner .long-button{
	margin-top: 5px;
}
.normal{
	height:340px;
}
.barcode{
	height:340px;
}
.container_origin{
	text-align:left;
	background: #FFF;
	width: 400px;
	height: 455px;
	margin: 0px ;
	border-left: 1px #111;
	float: left;
	padding: 7;
}
.container_button{	
	margin-top: 25px;
	display:inline;
	vertical-align:center; 
	text-align:center;
	background: #FFF;	
	width: 140px;
	height: 425px;
	margin-left: 0px ;
	border-left: 0px #111;
	float: left;	
}
.container_compile{
	text-align:left;
	background: #FFF;	
	width: 400px;
	height: 455px;
	margin-left: 0px ;
	border-left: 0px #111;
	float: right;	
}
.container_preview{
	overflow:auto;
	font-size: 12px;
	width:390px;
	height: 426px;
	margin-left:0px;
	margin-right:auto;
	border: 1px solid #999;
}
.elements{
	width: 183px;
	height: 350px;
	margin-left: 0px;
	overflow-y:auto;
	border-bottom:1px solid #aaa;
}
.turn{
	
	width:183px;
	margin-left: 0px;
	float: left;
}

.tr{
	height: 20px;
	width: 150px;
}
.turnTop{
	
	height: 20px;
	margin: 0px;
	padding:0;
	padding-left: 38px;
}
.turnLeft{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	padding:0px;
	float: left;
}
.turnRight{
	width: 20px;
	height: 20px;
	margin: 0px;
	padding:0px;
	float: right;
}
.turnBottom{
	
	height: 20px;
	margin: 0px;
	padding:0px;
	padding-left: 38px;
}
.leftRight{
	width: 90px;
	height: 20px;
	margin: 0px;
	padding:0px;
}
.controler{
	float: right;
	height: 20px;
}
.controler button{
	width: 60px;
	height: 20px;
	font-size: 12px;
	padding: 0px;
}
.controler input{
	width: 30px;
}
.controlerBut{
	width:100px;
	margin-left: 50px;
	float: left;
}

/*add by huhy*/
/*修改样式为新版本样式*/
.container{
	width: 100%;
	margin-top: -20px;
}
#tabs.ui-tabs {
	padding: 0 !important;
	font-size: 13px !important;
	margin-top: -7px;
}
#tabs.ui-widget-content {
	border: 1px #CFCFCF solid;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0;
}
#tabs.ui-tabs .ui-tabs-nav {
	padding: 0 .2em 0;
}
#tabs .ui-widget-header {
	background: #f1f1f1 !important;
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px #CFCFCF solid;
}
#tabs .ui-tabs-active, .ui-widget-content .ui-tabs-active, .ui-widget-header .ui-tabs-active {
	height: 40px;
	margin-top: -3px !important;
	background: #fff;
	box-sizing: content-box;
}
#tabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor:focus{
	outline: none !important;
}
#tabs.ui-tabs .ui-tabs-nav li a {
	padding: .5em 1em 13px !important;
}
.select2-container a {
	height: 32px !important;
	line-height: 30px !important
}
.aui_close:focus{
	outline: none;
	text-decoration: none;
	color: #fff;
}
.aui_titleBar{  border-bottom: 1px #DDDDDD solid;}
.aui_header{height: 40px !important;line-height: 40px !important;}
.aui_title{
  height: 40px !important;
  width: 100%;
  font-size: 1.2em !important;
  margin-left: 20px !important;
  font-weight: 700 !important;
  text-indent: 0 !important;
}
#lableList{
	margin-top: 10px;
}
#lableList .table th{
	font-size: 14px;
	text-align: center;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border-bottom: none;
	border-right: none;
	border-left: none;
	vertical-align: middle;
}
/*end*/

