{{#if users.length}}
<div class="">
	<div class="body panel-body">
		<div class="employee_box_div">
		{{#each users}}
			<div class="employee_box" >
				<div class="employee_name" data-v_assign_user-id="{{this.user_id}}">{{this.user_name}}</div>
				<div class="count">{{this.count}}</div>
				<div class="clear"></div>
			</div>
		{{/each}}
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel-footer">
		<a  id="verification_assign_user_ok" class="btn btn-primary disabled">
		<span class="glyphicon glyphicon-ok"></span> Ok</a>
		<a  id="verification_assign_user_cancel" class="btn btn-warning">
		<span class="glyphicon glyphicon-cancel"></span> Cancel</a>
	</div>
</div>
{{/if}}