<div id="create_verification_task_page">
	<div class="div-table" id="v_attr_table">
        <div class="div-table-row">
	        <div class="div-table-cell">
	          <div class="input-group required" >
	          	<div class="input-group-addon">Task Code</div>
				<input type="text" name="verification_task_name" id="verification_task_name" class="form-control" maxlength="30"/>
	          </div>
	        </div>
	        <div class="div-table-cell" >
	          <div class="input-group required" id="create_verification_task_priority_view">

	          </div>
	        </div>
	        <div class="div-table-cell" >
	          <div class="input-group required" >
	          	<div class="input-group-addon">End Date</div>
				<input type="text" name="verification_end_date" id="verification_end_date" class="form-control" />
	          </div>
	        </div>
      	</div>
	</div>
	
	<div class="list_users_table_wrapper">
		<div class="div-table" id="v_d_table">

			<div class="div-table-row">
				<div class="div-table-cell differences_list">
					<!-- -->
					{{#if differences.length}}
						<div class="v_t_assign_user_btn_div">
							<button type="button" id="create_verification_assign_btn" class="assign_verification_task_button btn btn-sm btn-primary  disabled">Assign User</button>
						</div>	
						<div id="v_error_msg" class="alert alert-danger"></div>
						
						<table class="table table-striped" width="100%" >
						<thead>
						  	<th><input type="checkbox" id="create_verification_select_all"/></th>
							<th>Area</th>
					  		<th>Location</th>
						  	<th>Title</th>
						  	<th>Container</th>
						  	<th>Scanned by</th>
						   	<th >Assigned User</th>

						</thead>
						<tbody id="create_verification_differences_table_body">
						{{#each differences}}
						   <tr>
						          <td><input type="checkbox" id="create_verification_checkbox_{{this.ID}}" data-diff_id={{this.ID}} class="create_verification_difference_list_checkbox"/></td>
						   		   <td>{{this.AREA_NAME}}</td>
						         <td>{{this.LOCATION_NAME}}</td>
						         <td>{{this.TITLE_NAME}}</td>
						         <td>{{this.LP_CONTAINER}}</td>
						         <td>{{this.SCANNED_BY_NAME}}</td>
						         <td></td>
						   </tr>
						   
						{{/each}}
						</tbody>
						</table>

						
						{{/if}}	

					<!-- -->
				</div>
				<div class="div-table-cell users_list panel panel-default" id="list_of_users_verification_task"></div>
			</div>
		</div>
	</div>


</div>