
{{#if tree}} 
  <div class="parent_parent_container_div" >
    <span class="parent cntr_{{tree.CONTAINER_ID}} cntr" data-container_id="{{tree.CONTAINER_ID}}" data-type="{{tree.CONTAINER_TYPE}}">{{tree.CONTAINER_NAME}}</span>
    {{#each tree.PRODUCTS}}
      <span class="child product prod_{{this.PC_ID}} prod" data-product_id="{{this.PC_ID}}">{{this.MODEL_NUMBER}}&nbsp;&nbsp;&nbsp;x&nbsp;{{this.QUANTITY}}</span>
    {{/each}}

        {{#each tree.CHILDREN}}
            <div class="parent_child_container_div" >
              <span class="child cntr_{{this.CONTAINER_ID}} cntr" data-container_id="{{this.CONTAINER_ID}}" data-type="{{this.CONTAINER_TYPE}}">{{this.CONTAINER_NAME}}</span>
              {{#if this.PRODUCTS}}
                {{#each this.PRODUCTS}}
                  <span class="child1 product prod_{{this.PC_ID}} prod" data-product_id="{{this.PC_ID}}">{{this.MODEL_NUMBER}}&nbsp;&nbsp;&nbsp;x&nbsp;{{this.QUANTITY}}</span>
                {{/each}}
              {{/if}}
            </div>
         {{/each}}
  </div>
 {{else}}
   {{#ifCond treeType "system"}}
    <span class="new">New to system</span>
  {{/ifCond}}
  {{#ifCond treeType "physical"}}
    <span class="missing">Missing now</span>
  {{/ifCond}}
  {{#ifCond treeType "verification system"}}
    <span class="">--</span>
  {{/ifCond}}
  {{#ifCond treeType "verification physical"}}
    <span class="">--</span>
  {{/ifCond}}
 {{/if}}
 


  