{{#if calculatedDiffs}}
  <table class="table table-striped" class="count_diff_table" >
        <thead>
            <th>Model Number</th>
            <th>System Count</th>
            <th>Physical Count</th>
            <th>Difference Count</th>
        </thead>
        <tbody >
         {{#calculatedDiffs}}
    
          <tr >
            <td>{{MODEL_NUMBER}}</td>
            <td>{{systemCount}}</td>
            <td class="difference">{{physicalCount}}</td>
            <td class="">{{differenceCount}}</td>            
          </tr>
        {{/calculatedDiffs}}
        </tbody>
  </table>      
{{/if}}

