<ol class="breadcrumb opbar-title">
  <li>{{model.SO_ID}}</li>
  <li class="active">{{lanModel.title}}{{model.BOL_ID}}</li>
</ol>
<div class="briefInfo-container">
	<div class="row">
		<div class="col-sm-3">
			<span class="namestyle">{{lanModel.from_lable}} :</span>
			<span class="valuestyle">{{model.SHIPPER_WHS_NAME}}</span>
		</div>
		<div class="col-sm-3">
			<span class="namestyle">{{lanModel.shipto_lable}} :</span>
			<span class="valuestyle">{{model.CONSIGNEE_WHS_NAME}}</span>
		</div>
		<div class="col-sm-3">
			<span class="namestyle">{{lanModel.etd_lable}} :</span>
			<!--<span class="valuestyle">{{#formatDate ETD}}{{/formatDate}}</span> -->
			<span class="valuestyle">{{model.ETD}}</span>
		</div>
		<div class="col-sm-3">
			<span class="namestyle">{{lanModel.mabd_lable}} :</span>
			<!--<span class="valuestyle">{{#formatDate model.MABD}}{{/formatDate}}</span>-->
			<span class="valuestyle">{{model.MABD}}</span>
		</div>
	</div>
</div>