<div  class="panel panel-default opbar-title">
   <div class="panel-heading">
     	<span>{{lanModel.msg}}</span>
      <div class="opbar-buttons">
         <button id="selected" class="btn btn-info " style='display:none'>Add</button>
         <button id="finish" class="btn btn-success " >{{lanModel.finish_button}}</button>
      </div>
   </div>
   <div  class="panel-body" id="palletDetail">
   </div>
</div>
