<div  class="panel panel-info opbar-title">
   <div class="panel-heading opbar-title">
     	<span>{{lanModel.msg}}</span>
     	<button id="select" class="btn btn-info opbar-buttons">{{lanModel.submit}}</button>
   </div>
   <div  class="panel-body" id="selectPallets">
	   	<div id="queryCondition">
	   		<div class="form-inline">
	            <div class="input-group">
	                 <span class="input-group-addon form-label">{{lanModel.requestday_title}} </span>
	                 <input class="form-control hours" type="number" min="0" step="1" id="requestDay_min" placeholder="day">
	                 <span class="input-group-addon to">~</span>
	                 <input class="form-control hours" type="number" min="0" step="1" id="requestDay_max" placeholder="day">
	            </div>
	            <div class="input-group">
	                 <span class="input-group-addon form-label">{{lanModel.shipto_title}}</span>
	                 <input type="text" class="form-control" placeholder="" id="shipTo" value="">
	            </div>
	            <div class="input-group">
	               <button type="button" class="btn btn-primary" id="search">{{lanModel.search}}</button>
	            </div>  
        	</div>
	   	</div>
	   	<div id="result">

	   	</div>
	   	<div>
	   		
	   	</div>
     

   </div>
</div>

