*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.slide-wrap{background-color: transparent;position: fixed;display: none;top: 0;right: 0;bottom: 0;left: 0;overflow: hidden;outline: 0;}
.slide-modal{background-color: #5f5f5f;opacity: 0.35;position: fixed;top: 0;right: 0;bottom: 0;left: 0;display: none;}
.slide-container{position: relative;background-color: #fff;-webkit-background-clip: padding-box;background-clip: padding-box;border: 1px solid rgba(0,0,0,.2);outline: 0;-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);box-shadow: 0 3px 9px rgba(0,0,0,.5);padding: 15px;overflow: hidden;}
.slide-content{height: auto;width: auto;overflow: auto;}
.slide-content iframe{width: 100%;height: 99%;border: 0;}
.slide-container .slide-header{padding: 8px;position: relative;margin-bottom: 15px;}
.slide-header-close-box{position: relative;height: 30px;width: 100%;}
.slide-header-title{display: inline-block;padding-left:14px;height: 30px;line-height: 30px;vertical-align: middle; }
.slide-header-close{background: url('img/close.png') no-repeat -24px 0px; width: 24px; height:24px;position: absolute;right: 6px;top: 5px;display: block;vertical-align: middle;cursor: pointer;}
.slide-header .slide-header-close{right: 0;top: 0;}
.slide-header-close:hover{background-position: 0px 0px;}
.slide-header-title{font-size: 18px;margin: 0}
