
<html>
<head>
    <meta charset="UTF-8" />
    <title>Template Maintenance</title>

    <link rel="stylesheet" type="text/css" href="../../bower_components/jqueryui/themes/base/minified/jquery-ui.min.css" />
    <!-- 集成引入来自Sync10项目的VVME界面全局样式 -->
    <link rel="stylesheet" type="text/css" href="/Sync10/administrator/comm.css" />
     
    <!-- jQuery -->
    <script type="text/javascript" src="/Sync10/administrator/js/jqGrid-4.1.1/js/jquery-1.7.2.source.js"></script>
    <script type="text/javascript" src="/Sync10/administrator/js/jquery/jquery.cookie.js"></script>
    <!-- 特定本页面的样式定义 -->
    <!--<link rel="stylesheet" type="text/css" href="css/main.css" /> -->
    <!-- 异步加载框架 -->
    <script type="text/javascript" src="../../bower_components/requirejs/require.js" data-main="page-amd"></script>
    <!-- 特定本页面的样式定义 -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!-- 上传 -->
    <link rel="stylesheet" href="/Sync10/administrator/js/file-upload/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/Sync10/administrator/js/file-upload/css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="/Sync10/administrator/js/file-upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="/Sync10/administrator/js/file-upload/css/bootstrap.min.css">
    
    
</head>
<body style="font-size:14px;">
<div>
   <div id="container_upload">
        <input type="button" value="上传"  id="button_upload"/>   
        <div id="uploadDialog">
         
        </div>
   </div>
</div>
</body>
</html>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- 上传过后回显出来的数据 -->
 <script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
 <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>