/*

@media(min-width:992px) {
    .Inventory_box {
      width: 992px;
    }
}

*/

 .Inventory_box {
      width: 100%;
      display: block;
    }

.panel_heading_title{display: inline-block;margin-left: 10px;font-size: 14px;font-weight: bold;}
.checkboxall input,.panel_heading_title,.checkboxall{vertical-align:middle;}

.Inventory_box .Inventory_filter{margin-bottom: 15px}

.Inventory_filter .row{margin: 0px auto;width: 50%;}

/*.Inventory_box .list-unstyled{width: 95%;margin-left: 12px}*/

.Inventory_box .checkboxall span{font-size: 14px;font-weight: bold;}

.Inventory_box .itmeui_box{width: 100%;height: 300px}

.Inventory_box .focusedInput {
    border-color: #ccc;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6)
}

.Inventory_body .itmeInventory_box{padding-top: 5px;padding-bottom: 5px}

.Inventory_body .loadingbox{background: url(img/dy_loading.gif) no-repeat;width: 124px;height: 124px;display: block;margin:0px auto; }

.Inventory_foot button{margin:3px 5px;cursor: pointer;}

.panel-heading .titleinputlable{width:90%;height:34px;vertical-align: middle;margin: 0px 0px;display: inline-block;};


.titleinputlable .form-control{font-weight:initial;font-size: 12px}

.panel_topleft_box{height: 34px;line-height: 34px;}

.panel_topleft_box .pagelcheckbox_all input{margin: 0px;line-height:normal;vertical-align:middle;}

.ptopfoot5px{padding-bottom: 5px;padding-top: 5px}

.inventoryhide{visibility: hidden;}
#tab_content .row{margin:0px}