.wrap-upload{position: relative;overflow: hidden;padding: 0;margin: 0;white-space: nowrap;display: inline-block;border:0;}
.wrap-upload input{position: absolute;top: 0;left: 0; bottom: 0; right: 0;margin: 0;padding: 0; border: 0; overflow: hidden;opacity: 0;-ms-filter: 'alpha(opacity=0)';font-size: 200px;direction: ltr;cursor: pointer;}