@charset "utf-8";
html{overflow-y:scroll;}
html,body{text-align:center;margin:0; padding:0;background-color:#fff;font-size:12px;font-family:Tahoma, Helvetica,"Microsoft Yahei","微软雅黑", Arial, STHeiti;}
.treebox div,.treebox ul,.treebox li,.treebox dl,.treebox dt,.treebox dd,.treebox img,.treebox input,.treebox h4,.treebox form{margin:0; padding:0; border:0;}
.treebox img,.treebox input,.treebox select{vertical-align:middle;}
.treebox textarea{resize:none;}
.treebox ul,.treebox dl{list-style-type:none;}
.treebox a:.treebox link,.treebox a:visited,.treebox a:hover{display:inline;text-decoration:none;color:#000}
.clearfix:after{content:"\0020";display:block;visibility:hidden;height:0;clear:both;}
.fl{display:inline; float:left;}
.fr{display:inline; float:right;}
/*---------------------------------*/

.treebox{width: 500px;height:auto;overflow: hidden;position: relative;display: block;}
.treebox .body{width:auto;display: block;overflow: hidden;position: relative;padding-bottom: 5px;}
.treebox .body .pagebox{float: left;display: inline-block;text-align: left;overflow: hidden;position: relative;}
.treebox .body .pagebox .srcoll{display: block;position: relative;left: 0px;top: 0px;border: 1px dashed #ccc;}
.treebox .body ul{float: left;display: inline-block;}
.treebox .body .pagebox ul li{display:block;width: 150px;height: 25px;line-height: 25px;}
.checktrue,.checkalltrue,.checkfalse{width: 25px;font-size: 0px;height: 25px;background:url(chckico.png) no-repeat;}

.checktrue{background-position:-0px -0px;}
.checkalltrue{background-position:-48px -0px;}
.checkfalse{background-position:-95px -0px;}

.treebox .body .pagebox ul li span{width: 93px;line-height: 25px;height: 25px;text-align: left;}
.treebox .body .pagebox ul li em{text-align: center}
.treebox .body .pagebox ul li em,.body .pagebox ul li span{display: inline-block;cursor: pointer;vertical-align: middle;}
.treebox .foomme{height: 28px;text-align: left;margin-top: 15px;display: none;margin: 12px 0px}
.treebox .foomme span{display: inline-block;margin: 0px 5px;text-align: center;border: 1px solid #ccc;cursor: pointer;width: 80px;height: 25px;text-align: center;line-height: 25px}


.treebox .mCS-rounded.mCSB_scrollTools .mCSB_draggerRail,.treebox .mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #999;}
.treebox .mCSB_container {margin-bottom:0;}
.treebox .mCSB_scrollTools .mCSB_buttonLeft,.treebox .mCSB_scrollTools .mCSB_buttonRight {background: url(mCSB_buttons.png) no-repeat;}
.treebox .mCS-rounded.mCSB_scrollTools .mCSB_buttonLeft {background-position:-82px -112px;/*84 40 76 56*/}
.treebox .mCS-rounded.mCSB_scrollTools .mCSB_buttonRight {background-position:-77px -129px;}

.treebox .loding{position: absolute;background: url(dy_loading.gif) no-repeat center center;}

.treebox .breadc{display: block;width: 100%;height: 28px;text-align: left;padding-bottom: 2px;padding-top: 2px;margin-bottom: 3px}
.treebox .breadc label{display: inline-block;padding-left: 5px;border: 1px solid #ccc;}

.treebox .breadc label span,.breadc em,.breadc label a{display: inline-block;vertical-align: middle;line-height: 22px;height: 22px;text-align:center;}

.treebox .breadc label a:link,.breadc label a:visited{width: 16px;margin:0px 5px;color: #585858;font-size: 16px;text-decoration: none;}
.treebox .breadc label a:hover{color: red;font-weight: bold;}

.treebox .breadc span{margin-right: 5px}
.treebox .breadc em{width:32px;font-style: normal;text-align: center;font-size: 20px;font-weight: normal;color: #686868;}
/*------------demo-----------------*/

#s_demo{margin-left: 15px}
p,h2{margin-left: 30px;width: 1200px;text-align: left; }
pre{
  width: 1200px;text-align: left;font-size: 16px;line-height: 22px;
  border: 1px solid #ccc;height: 560px;overflow-y:auto;margin-left: 30px 

}



