<div class="dialog_update_content"> 
    <form id="addPostForm" >
        <table>
            <tr>
                <td>
                    <b class="require_property">*</b>
                    <span>Post Name</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" name='postName' id='postName' type="text" maxlength="30"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" name='description' id='description' type='text' maxlength="100"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
        </table>
    </form>
</div>