<div class="dialog_update_content"> 
    <form id="modPostForm" >
        <table>
            <tr>
                <td>
                    <b class="require_property">*</b>
                    <span>Post Name</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" name='postName' id='postName' type="text" value="{{model.name}}" maxlength="30"/>
                    <input name='adpid' id='adpid' type="hidden" value="{{model.id}}"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input class="input_text_password_select" name='description' id='description' type='text' value="{{model.description}}" maxlength="100"/>
                </td>
                <td class="status validator_style">&nbsp;</td>
            </tr>
        </table>
    </form>
</div>