<div class="search_result_list"> 
    <div> 
        <table class="search_result_list_header" cellspacing="0">
            <tr>
                <th width="430px">Post Name</th>
                <th width="">Description</th>
                <th width="200px" style="border-right:0px;">
                    Operation
                </th>
            </tr>
        </table>

        <table class="search_result_list_content" cellspacing="0">
          {{#if resultList}}
            {{#each resultList}}
            <tr data-adpid="{{this.id}}">
                <td valign="middle" width="430px">
                    {{this.name}}
                </td>
                <td valign="middle" width="">
                    {{this.description}}
                </td>
                <td valign="middle" width="200px" style="text-align: center">
                    <a href="javascript:void(0)" name="modPost" class="buttons icon edit" style="margin-left: 1px;" title="Edit"></a>
                </td>
            </tr>
            {{/each}}
          {{else}}
	        <tr>
	            <td style="text-align:center;line-height:180px;height:180px;background:#E6F3C5;border:1px solid silver;">No Data.</td>
	        </tr>
	      {{/if}}  
        </table>
    </div>

    <div class="pagebox_right" style="margin-top:10px;height:40px;display: block;">
        <ul id="pagination" class="clearfix pagebox">
        </ul>
    </div>
</div>