<div> 
    <div> 
        <div class="eso_search_parent">
            <div class="eso_search_icon">
                <a>
                    <img style="cursor:pointer;" id="eso_search" src="image/easy_search_2.png">
                </a>
            </div>
        </div>
  
        <div style="position:absolute;width:0px;height:0px;z-index:1;">
            <a id="addPost" href="javascript:void(0)" class="buttons icon add button_add_post">Add Post</a>
        </div>
        <div class="eso_search_input">

            <input id="search_key" name="search_key" type="text" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
        </div>
    </div>
</div>