body, html {
	border: 0 none;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
.input-group-addon1111:not(:first-child):not(:last-child) {
	border-left: 0 none;
	border-right: 0 none;
}
.immybox_witharrow {
border-top-left-radius:0px
border-top-right-radius:4px
border-bottom-left-radius:0px
border-bottom-right-radius:4px
}
.min-200 {
	min-width: 180px;
}
.min-150 {
	min-width: 150px;
}
.min-80 {
	min-width: 80px;
	width: 80px;
}
#advanceSearch .min-80 {
	min-width: 100px;
}
#advanceSearch .col-md-4 {
	width: 32%;
}
#advanceSearch .col-sm-4 {
	width: 32%;
}
#advanceSearch .col-sm-3 {
	width: 24%;
}
#advanceSearch .col-md-12{
	width: 98%;
}
.1condition {float: center; width: 100%;}
.form-label{width: 80px;}
#condition .row{margin-top: 5px;}
#condition .to{border-left: 0;border-right: 0}