.text-green{color: #00BB00;}
.text-red{color: #EA0000;}
.fieldset-ul{margin-top: 10px; width: 97%;margin-left: auto;margin-right: auto;margin-bottom: 5px;padding-left: 3px}
.morelink{float: right;margin-right: 10px;}

.lineContainer
{
	width: 99%;
	max-height:300px;
	min-width: 330px;
	overflow: auto;
	border:2px solid green;
	padding-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
}

.lineContainer .box1px
{
	border-bottom: 1px dashed #ccc;
	line-height: 0px;
	margin: 0px 0px;
}

.moreIitem
{
	height: 26px;
	margin-top: 10px;
	margin-left: 15px;
}


.lineItem
{
	min-height: 30px;
	border-bottom: dashed 1px #ccc;
	padding-top: 8px; 
}


.noData
{
	height: 26px;
	vertical-align:middle;
	text-align:center
}

.more ,#data .more
{
	cursor: pointer;
	text-decoration: none;
}

.logMore
{
	margin-top: 10px;
	margin-left: 5px;
}

span.total{
	width: 100%;
	min-height: 30px;
	padding-top: 8px;
}

.dialogLineContainer
{
	width: 600px;
	max-height: 500px;
	overflow: auto;
	padding: 0 0 0 0;
}

#data .td_shipInfo
{
	padding-right: 0;
}


#global
{
	min-width: 1150px;
}
.Log_container li
{
	width: 100%;
	min-width: 170px;
	display: inline-block;
}
#data .transportion li
{
	min-width: 280px;
}
#data .transportion 
{
	border: 2px solid blue;
	margin-top: 10px;
	margin-left: 5px;
	padding: 5px 5px 5px 5px;
}
#data .Tractor_ulitme li
{
	min-width: 270px;
}
#data .no-padding
{
	padding: 0;
	text-align: center;
	float: right;
}



#data .longString {
display: inline-block;
white-space: nowrap;
text-overflow: ellipsis;
max-width: 170px;
overflow: hidden;
}

#data .nameString {
display: inline-block;
white-space: nowrap;
text-overflow: ellipsis;
max-width: 170px;
overflow: hidden;
}

#data .titleString {
display: inline-block;
white-space: nowrap;
text-overflow: ellipsis;
max-width: 90px;
overflow: hidden;
}
#data .totalItem{width: 75px}
.opreationName
{
	padding-right: 10px;
}
.opreationTime
{
	color:  #AAAAAA;
}
.textUp
{
	text-transform:capitalize;
}

#condition .longButton
{
	width: 110px;
	background-color: #eee;
}
#condition .caret
{
	margin-left: 5px;
}
#SearchTabBtn,#exportBtn
{
	margin-bottom: 5px;
}


.shake{
    animation-name:shake;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;

  -webkit-animation-name: shake;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration:0.8s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-direction: alternate;

  -moz-animation-name: shake;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration:0.8s;
  -moz-animation-iteration-count: 2;
  -moz-animation-direction: alternate;
}

.spanToA
{
	text-decoration: underline !important;
	cursor: pointer;
}