#filtertable select{outline:none}
.filter 
{
	border:  0 0 0 0;
}
#filtertable td{padding: 4px 4px}

#filtertable button {margin:5px 5px}
#filtertable .form-control:focus {
	border: 1px solid #ccc;
	box-shadow: none;
}
/*
.immybox.immybox_witharrow {
	background-image: url("../imgs/immybox-arrow.png");
	background-position: right center;
	background-repeat: no-repeat;
}*/