.min-1080px
{
	min-width: 1080px;
}
/*
#tabs, #tabs ul>.ui-tabs-nav
{
	border-radius: 0;
	border:0;
}
#tabs .ui-tabs-nav{
	border-radius: 0;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}
*/
#tabs {
	margin: 4px;
}
#tabs .ui-widget-header
{
	background-image: none;
	background-color: #ffffff;
	color: #222222;
	font-weight: bold;
}
select{outline:none}
#data {border-top: 1px solid #cfcfcf;}
#data .checkin_box thead th, .topthead table thead th {
	color: #353f42;
	height: 40px;
}
#data span .valstyle
{
	margin-right: 5px;
}
#data .valuestyle
{
	margin-left: 5px;
	color: #F60;
	text-decoration: underline;
	cursor: pointer;
}
#data .logvaluestyle
{
	text-decoration: inherit;
	margin-left: 5px;
	color: #F60;
}
#data .valuestyle2 {
	color: mediumseagreen;
	cursor: pointer;
	margin-left: 5px;
	text-decoration: underline;
}
#data .namestyle
{
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	text-align: right;
	margin-right: 3px;
}
#data .td_TRAILER .namestyle, #data .td_FLOWS .namestyle, #data .td_LOGS .namestyle
{
	width: 80px;
}
.topthead table thead th {
	background-color: #f8f8f8;
}
#data .checkin_box thead th {
	background-color: #f8f8f8;
}
.color-green {
	color: green;
}
.color-orange {
	color: #f60;
}
.color-blue {
	color: blue;
}
.color-red {
	color: red;
}
.color-silver {
	color: silver;
}
.furight , .logtime {
	float:right;
}
#data .TRAILER {
	border-color: #00f;
	border-radius: 3px;
	min-width: 150px;
	position: relative;
}
.max-200px {
	max-width: 200px;
}
.max-256px {
	max-width: 256px;
}
.max-p99 {
	max-width: 99%;
}
.max-p60 {
	display: inline-block;
	max-width: 60%;
}
.min-80 {
	min-width: 100px;
	width: 100px;
}
#tabs .create{float: right; margin-right: 20px}