
.clearfix:after{content:"\0020";display:block;visibility:hidden;height:0;clear:both;}
.fl{display:inline; float:left;}
.fr{display:inline; float:right;}

.min-1280px,.welcome{min-width: 1280px}

#rightcontainer{width: 100%}
.welcome{text-align: center;margin-top: 100px;font-size: 30px;}
.side-menubox{overflow:hidden;position:relative;}
.side-menubox .mCSB_scrollTools{right: -8px}
.side-menubox .a_select{background: #eee}
.leftmuenswitch{width: 10px;}
.leftmuenswitch span{cursor: pointer;height: 82px;width: 10px;background: url(img/arrow-l.gif) no-repeat;display: block;line-height: 0px;position: relative;}

.sidebar-search{background: #F2F2F2}
.lodingicobox{text-align: center;width: 100%;margin-top:160px;filter: "alpha(opacity=20)"; -ms-filter: "alpha(opacity=20)";opacity: .2;}
