
<div id="count_container">
    <div style="padding:5px 0px;">User: Jason</div>
      <div id="container_count_dif_div">
      
         {{#if systemContainerTree.length}} 
         
              <div class="system_div">
              <h5>System Containers</h5>
              {{#each systemContainerTree}}
                 <span class="parent">{{this.text}}</span>
                 {{#each this.children}}
                     <span class="child">{{this.text}}</span>
                 {{/each}}
              {{/each}}
              </div>   
         {{/if}}

         {{#if physicalContainerTree.length}} 

              <div class="physical_div">
              <h5>Reported Containers</h5>
              {{#each physicalContainerTree}}
                 <span class="parent">{{this.text}}</span>
                 {{#each this.children}}
                     <span class="child">{{this.text}}</span>
                 {{/each}}
              {{/each}}
              </div>   
         {{/if}}

      </div>
    {{#if countDifferences.length }}
      <div id="count_dif_div">
        <h5>Count Differences</h5>


        <table class="table table-striped" width="100%" id="count_diff_table" style="vertical-align:middle">
            <thead>
                <th>Product Name</th>
                <th>System Count</th>
                <th>Reported Count</th>
                <th>Comments</th>
                
            </thead>
            <tbody id="count_diff_table_body_{{sac_id}}">
    	       {{#each countDifferences}}
    		
		          <tr id="{{this.SLD_ID}}">
                <td>{{this.P_NAME}}</td>
                <td>{{this.SYS_STORE}}</td>
                <td class="difference">{{this.ACTUAL_STORE}}</td>
                <td>
                   {{#if this.pending}} 
                      <textarea col="80" rows="2" name="comments"></textarea>
                      <br><span class="text-danger hidden" name="validation_msg"></span>
                    {{else}}
                    <span class="note">{{this.NOTE}}</span>
                    {{/if}}
                </td>
                
              </tr>
             
    		
                {{/each}}
            </tbody>
        </table>
        
      </div>
  {{/if}}
{{#if this.pending}}
    <div id="approve_btn_div">
          <input type="hidden" name="CON_ID" value="{{con_id}}"/>
          <input type="hidden" name="PS_ID" value="{{ps_id}}"/>
          <input type="hidden" name="SAC_ID" value="{{sac_id}}"/>
          <input type="hidden" name="SLC_ID" value="{{slc_id}}"/>
          <button name="approve_btn" class="btn btn-default" type="button" title="Filter">Approve</button>
          
  
      </div>
  {{/if}}
</div>