.fc-unthemed {
    /*width:720px;*/
    max-width: 720px;
    margin: 0 auto;
  }

 .fc-unthemed .fc-view-container{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.fc-state-default.fc-corner-left {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.fc-state-default.fc-corner-right {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.fc-state-default {
    background-color: #e4e7ea;
    background-image: none;
    text-shadow: none;
    border-color: #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
    color: #333333;
    background-color: #ddd;
    border-color: #bbb;
}

.fc-button {
    height: auto;
    line-height: normal;
    padding: 8px 10px;
}

.fc-button .fc-icon {
    font-size: 0;
}

.fc-icon-right-single-arrow:after {
    font-family: 'FontAwesome';
    content: '\f105';
    font-size: 21px;
    font-weight: normal;
}

.fc-icon-left-single-arrow:after {
    font-family: 'FontAwesome';
    content: '\f104';
    font-size: 21px;
    font-weight: normal;
}

.fc-button-prev,
.fc-button-next {
    line-height: 14px;
    height: 35px;
}

.fc-header-title h2 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #333;
}

.fc-state-highlight {
    background-color: #d9edf7;
}

.fc-grid .fc-day-number {
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    padding-right: 10px;
}

.fc th {
    padding: 10px 0;
    background: #628DB9;
    color: #fff;
    border-color: #628DB9;
    font-weight: 500;
    text-transform: uppercase;
}

.fc-state-down, .fc-state-active,
.fc-state-disabled {
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
}

.external-event {
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
    margin-bottom: 5px;
    padding: 8px 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: move;
}

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.fc-event {
    background-color: #4e5154;
    border: 0;
}

.fc-event-inner {
    padding: 2px 3px;
}

.fc-basic-view .fc-content-skeleton thead td{padding:0px;line-height:normal;}

.fc-event-container{text-align:center;}.fc-event-container a{display: none;}.fc-event-container .nlens{position:absolute;top:-9px;display: inline-block;font-size: 12px;border-radius: 6px;color: #FFF;text-align: center;padding:0px 2px;margin-left:3px;}

.fc-content-skeleton tbody td.fc-event-container{position: relative;}

.fc-toolbar{margin-bottom:0px;}
.fc-toolbar{height: 29px}

.fc-event-container .inbound{background:#FF6400;left:0px;}
.fc-event-container .outbound{background:#009BFF;left:32px;}
.fc-basic-view tbody .fc-row{max-height:30px;min-height: 30px;}
/*
.fc-right .fc-button-group,
*/
.fc-toolbar .fc-center{display:none;}
.datemodesbox{height:29px;font-size:14px;text-align:center;display:inline-block;padding:0px 5px;line-height:29px;}
.TdDetailedbox{margin:0px;display: block;height: 555px;position: relative;z-index: 2}
.TdDetailedbox table{margin-top: 25px;}
.TdDetailedbox td{vertical-align:top;border-width: 0px}
.hh24liste{list-style: none;width:100%;margin:0px;padding: 0px}
.hh24liste li{display: block;width: 100%;text-align: center;margin:2px;}
.hh24liste li input,.hh24liste li span{display: inline-block;vertical-align: middle;}

.hh24liste li input{width: 24px;height: 16px;border:1px solid #ccc;}
.hh24liste li input:nth-child(3){border-left-width:0px}
.hh24liste li span{width: 43px;height: 16px;line-height: 16px;}
.fc-row .fc-content-skeleton{padding-bottom:0px; }

.hh24liste li:nth-child(odd) ,.hh24liste li:nth-child(odd) input{  
    background-color: #F8F8F8;  
}