<div class="container" style="width:97%;padding-left:10px;">
    <form id="fileupload" action="/Sync10/action/administrator/file_up/JqueryFileUpSubmitFormAction.action1" method="POST" enctype="multipart/form-data">
         <div class="row fileupload-buttonbar">
            <div class="span7 alert alert-error" style="margin:1px;padding:4px;width:98.5%;">
                 <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                  	 Add 
                     <input type="file" name="files[]" multiple/>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                   	 Upload
                 </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    	Stop upload
                 </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                	Delete
                 </button> 
                  <button type="button" class="btn btn-info delete" onclick="showFiles('true');"  title="Confirm">
                    <i class="icon-ok icon-white"></i>
                    Confirm
                 </button>
                <input type="checkbox" class="toggle">
            </div>
            <div style="font-size:14px;clear:both; background-color:#F5F5F5;border:1px solid #E3E3E3;border-radius: 4px 4px 4px 4px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;min-height: 20px;padding:5px;">
            	<ul style="list-style-type:none;">
            		<li>Limit on Single File Size<span style="font-weight:bold;">8M</span></li>
            		<li>Upload File Type<span id="file_up_type" style="font-weight:bold;"></span></li>
            	</ul>
            </div>
              
        </div>
        <div class="fileupload-loading"></div>
        <br>
         <table role="presentation" class="table table-striped">
	   <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
	   </tbody>
	 </table>
    </form>
</div>