<table id="worktable" class="filter" >
	<tr>
		<td>
			<select class="status form-control">
				<option value="0">货物状态</option>
				{{#product_state}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/product_state}}
			</select>
		</td>
		<td>
			<select class="stock_in_set form-control">
				<option value="0">运费流程</option>
				{{#stock_in_set}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/stock_in_set}}
			</select>
		</td>
		<td colspan="3">
			<div class="create_account_id" style="width:200px">选择职员&nbsp;&nbsp;</div>
		</td>
	</tr>
	<tr>
		<td>
			<select class="qualityInspection form-control">
				<option value="0">质检流程</option>
				{{#qualityInspection}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/qualityInspection}}
			</select>
		</td>
		<td>
			<select class="productFile form-control">
				<option value="0">实物图片流程</option>
				{{#productFile}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/productFile}}
			</select>
		</td>
		<td>
			<select class="tag form-control">
				<option value="0">内部标签流程</option>
				{{#tag}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/tag}}
			</select>
		</td>
		<td>
			<select class="tagThird form-control">
				<option value="0">第三方标签流程</option>
				{{#tagThird}}
					<option value="{{this.key}}">{{this.name}}</option>
				{{/tagThird}}
			</select>
		</td>
		<td>
			<button id="worker" class="buttons big">filter</button>
		</td>
	</tr>
</table>