
@-moz-keyframes slowspin {
    0% {
        -webkit-transform: rotateX(-33.5deg)rotateY(45deg);
        -moz-transform: rotateX(-33.5deg)rotateY(45deg);
        -o-transform: rotateX(-33.5deg)rotateY(45deg);
        -ms-transform: rotateX(-33.5deg)rotateY(45deg);
        transform: rotateX(-33.5deg)rotateY(45deg)
    }
    10%,
    100% {
        -webkit-transform: rotateX(-33.5deg)rotateY(225deg);
        -moz-transform: rotateX(-33.5deg)rotateY(225deg);
        -o-transform: rotateX(-33.5deg)rotateY(225deg);
        -ms-transform: rotateX(-33.5deg)rotateY(225deg);
        transform: rotateX(-33.5deg)rotateY(225deg)
    }
}

@-webkit-keyframes slowspin {
    0% {
        -webkit-transform: rotateX(-33.5deg)rotateY(45deg);
        -moz-transform: rotateX(-33.5deg)rotateY(45deg);
        -o-transform: rotateX(-33.5deg)rotateY(45deg);
        -ms-transform: rotateX(-33.5deg)rotateY(45deg);
        transform: rotateX(-33.5deg)rotateY(45deg)
    }
    10%,
    100% {
        -webkit-transform: rotateX(-33.5deg)rotateY(225deg);
        -moz-transform: rotateX(-33.5deg)rotateY(225deg);
        -o-transform: rotateX(-33.5deg)rotateY(225deg);
        -ms-transform: rotateX(-33.5deg)rotateY(225deg);
        transform: rotateX(-33.5deg)rotateY(225deg)
    }
}

@-o-keyframes slowspin {
    0% {
        -webkit-transform: rotateX(-33.5deg)rotateY(45deg);
        -moz-transform: rotateX(-33.5deg)rotateY(45deg);
        -o-transform: rotateX(-33.5deg)rotateY(45deg);
        -ms-transform: rotateX(-33.5deg)rotateY(45deg);
        transform: rotateX(-33.5deg)rotateY(45deg)
    }
    10%,
    100% {
        -webkit-transform: rotateX(-33.5deg)rotateY(225deg);
        -moz-transform: rotateX(-33.5deg)rotateY(225deg);
        -o-transform: rotateX(-33.5deg)rotateY(225deg);
        -ms-transform: rotateX(-33.5deg)rotateY(225deg);
        transform: rotateX(-33.5deg)rotateY(225deg)
    }
}

@keyframes slowspin {
    0% {
        -webkit-transform: rotateX(-33.5deg)rotateY(45deg);
        -moz-transform: rotateX(-33.5deg)rotateY(45deg);
        -o-transform: rotateX(-33.5deg)rotateY(45deg);
        -ms-transform: rotateX(-33.5deg)rotateY(45deg);
        transform: rotateX(-33.5deg)rotateY(45deg)
    }
    10%,
    100% {
        -webkit-transform: rotateX(-33.5deg)rotateY(225deg);
        -moz-transform: rotateX(-33.5deg)rotateY(225deg);
        -o-transform: rotateX(-33.5deg)rotateY(225deg);
        -ms-transform: rotateX(-33.5deg)rotateY(225deg);
        transform: rotateX(-33.5deg)rotateY(225deg)
    }
}

@-moz-keyframes fastspin {
    0% {
        -webkit-transform: rotateX(-33.5deg)rotateY(45deg);
        -moz-transform: rotateX(-33.5deg)rotateY(45deg);
        -o-transform: rotateX(-33.5deg)rotateY(45deg);
        -ms-transform: rotateX(-33.5deg)rotateY(45deg);
        transform: rotateX(-33.5deg)rotateY(45deg)
    }
    10%,
    100% {
        -webkit-transform: rotateX(-33.5deg)rotateY(-315deg);
        -moz-transform: rotateX(-33.5deg)rotateY(-315deg);
        -o-transform: rotateX(-33.5deg)rotateY(-315deg);
        -ms-transform: rotateX(-33.5deg)rotateY(-315deg);
        transform: rotateX(-33.5deg)rotateY(-315deg)
    }
}

@-webkit-keyframes fastspin {
    0% {
        -webkit-transform: rotateX(-33.5deg)rotateY(45deg);
        -moz-transform: rotateX(-33.5deg)rotateY(45deg);
        -o-transform: rotateX(-33.5deg)rotateY(45deg);
        -ms-transform: rotateX(-33.5deg)rotateY(45deg);
        transform: rotateX(-33.5deg)rotateY(45deg)
    }
    10%,
    100% {
        -webkit-transform: rotateX(-33.5deg)rotateY(-315deg);
        -moz-transform: rotateX(-33.5deg)rotateY(-315deg);
        -o-transform: rotateX(-33.5deg)rotateY(-315deg);
        -ms-transform: rotateX(-33.5deg)rotateY(-315deg);
        transform: rotateX(-33.5deg)rotateY(-315deg)
    }
}

@-o-keyframes fastspin {
    0% {
        -webkit-transform: rotateX(-33.5deg)rotateY(45deg);
        -moz-transform: rotateX(-33.5deg)rotateY(45deg);
        -o-transform: rotateX(-33.5deg)rotateY(45deg);
        -ms-transform: rotateX(-33.5deg)rotateY(45deg);
        transform: rotateX(-33.5deg)rotateY(45deg)
    }
    10%,
    100% {
        -webkit-transform: rotateX(-33.5deg)rotateY(-315deg);
        -moz-transform: rotateX(-33.5deg)rotateY(-315deg);
        -o-transform: rotateX(-33.5deg)rotateY(-315deg);
        -ms-transform: rotateX(-33.5deg)rotateY(-315deg);
        transform: rotateX(-33.5deg)rotateY(-315deg)
    }
}

@keyframes fastspin {
    0% {
        -webkit-transform: rotateX(-33.5deg)rotateY(45deg);
        -moz-transform: rotateX(-33.5deg)rotateY(45deg);
        -o-transform: rotateX(-33.5deg)rotateY(45deg);
        -ms-transform: rotateX(-33.5deg)rotateY(45deg);
        transform: rotateX(-33.5deg)rotateY(45deg)
    }
    10%,
    100% {
        -webkit-transform: rotateX(-33.5deg)rotateY(-315deg);
        -moz-transform: rotateX(-33.5deg)rotateY(-315deg);
        -o-transform: rotateX(-33.5deg)rotateY(-315deg);
        -ms-transform: rotateX(-33.5deg)rotateY(-315deg);
        transform: rotateX(-33.5deg)rotateY(-315deg)
    }
}

html {
    font-family: inherit;
    font-size: 100%
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline
}

div,
span,
applet,
object,
iframe {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4 {
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    vertical-align: baseline
}

h5,
h6 {
    font-size: 100%
}

h5,
h6,
p {
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit
}

p,
blockquote {
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline
}

blockquote,
pre {
    border: 0;
    outline: 0;
    font-weight: inherit
}

pre {
    font-style: inherit
}

pre,
a,
abbr,
acronym,
address,
big,
cite {
    font-family: inherit;
    vertical-align: baseline
}

a,
abbr,
acronym,
address,
big,
cite {
    margin: 0;
    padding: 0;
    font-size: 100%
}

a,
abbr,
acronym,
address,
big,
cite,
code {
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit
}

code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd {
    margin: 0;
    vertical-align: baseline
}

del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul {
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%
}

ol,
ul,
li,
fieldset,
form,
label,
legend {
    vertical-align: baseline
}

li,
fieldset,
form,
label,
legend,
table,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%
}

tbody,
tfoot,
thead,
tr {
    vertical-align: baseline
}

tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%
}

body {
    background: #fff
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle
}

caption,
th,
td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

a img {
    border: none
}

body {
    font-size: 16px;
    background-color: #fff;
    line-height: 1.4;
    color: #333;
    font-family: Helvetica, Arial, freesans, clean, sans-serif
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 22px
}

h4 {
    font-size: 18px
}

h1,
h2,
h3 {
    margin: 20px 0 10px
}

h4,
h5,
h6 {
    margin: 10px 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, Arial, freesans, clean, sans-serif;
    font-weight: 500;
    line-height: 1.1
}

.page-header {
    margin: 40px 0 20px;
    text-transform: uppercase;
    text-align: right;
    background-color: #eee;
    border-right: 10px solid #ddd;
    padding: .5em;
    color: #333
}

.page-header h1 {
    margin: 0;
    padding: 0;
    border: none
}

a {
    color: #006a86;
    text-decoration: none
}

a:hover,
a:active {
    outline: 0
}

a:hover,
a:focus {
    color: #004a5e;
    text-decoration: underline
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px dashed #999;
    color: #fff;
    background-color: #fff;
    height: 1px
}

p {
    margin: 0 0 10px
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px
}

ol {
    list-style-type: decimal
}

ol li {
    margin-left: 35px
}

ul,
ol {
    margin: 0 0 10px
}

li {
    display: list-item;
    text-align: -webkit-match-parent
}

code,
pre {
    color: #333;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

code {
    padding: 2px 4px;
    font-size: 90%;
    white-space: nowrap
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #ccc
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0
}

code {
    font-family: 'Ubuntu Mono', 'Courier New', monospace
}

strong {
    font-weight: 700
}

.pull-right {
    float: right!important
}

.table {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

.table>thead>tr>th {
    border-bottom-width: 2px;
    border-bottom: 2px solid #ddd;
    font-weight: 700
}

.table>thead>tr>th,
.table>tbody>tr>td {
    border: 1px solid #ddd;
    vertical-align: bottom;
    padding: 8px;
    border-top: 0
}

.table>tbody>tr:nth-child(odd)>td {
    background-color: #f9f9f9
}

blockquote {
    padding: 5px 20px;
    margin: .5em 0 1em;
    border-left: 5px solid #ddd;
    background-color: #f9f9f9;
    font-style: italic
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, 0)
}

.panel.panel-add {
    border-color: #d6e9c6;
    background-color: #dff0d8;
    color: #468847
}

.panel.panel-update {
    border-color: #bce8f1;
    background-color: #d9edf7;
    color: #3a87ad
}

.panel>pre {
    margin: 0
}

.panel>.panel-title {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px
}

p>img {
    max-width: 100%
}

.announcement {
    text-align: center
}

.announcement .announcement-inner {
    display: inline-block;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px 10px 3px;
    font-weight: 700;
    background: #f9f9f9
}

.announcement .announcement-inner em {
    font-weight: 400;
    font-style: italic;
    font-size: 70%
}

@media (min-width: 992px) {
    .row {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex
    }
    .row .col-md-3,
    .row .col-md-6,
    .row .col-md-9,
    .row .col-md-12 {
        padding-left: 15px;
        padding-right: 15px
    }
    .row .col-md-3 {
        -webkit-box-flex: 3;
        -moz-box-flex: 3;
        -o-box-flex: 3;
        box-flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
        min-width: 0
    }
    .row .col-md-6 {
        -webkit-box-flex: 6;
        -moz-box-flex: 6;
        -o-box-flex: 6;
        box-flex: 6;
        -webkit-flex: 6;
        -ms-flex: 6;
        flex: 6;
        min-width: 0
    }
    .row .col-md-9 {
        -webkit-box-flex: 9;
        -moz-box-flex: 9;
        -o-box-flex: 9;
        box-flex: 9;
        -webkit-flex: 9;
        -ms-flex: 9;
        flex: 9;
        min-width: 0
    }
    .row .col-md-12 {
        -webkit-box-flex: 12;
        -moz-box-flex: 12;
        -o-box-flex: 12;
        box-flex: 12;
        -webkit-flex: 12;
        -ms-flex: 12;
        flex: 12;
        min-width: 0
    }
}

.nav {
    background-color: #eee
}

.sidebar {
    font-size: .8em
}

.sidebar h1 {
    font-size: 18pt
}

.sidebar ul {
    margin: 0;
    padding: 0
}

.sidebar ul li {
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 1em;
    list-style: none;
    color: #333
}

.sidebar ul li ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd
}

.sidebar ul li ul li {
    margin: 0;
    padding: .5em 0 0 1em;
    text-transform: none;
    border: none;
    color: #000;
    font-size: 1.2em
}

.sidebar ul li ul li li {
    font-size: 1em
}

.sidebar .active {
    font-weight: 700;
    color: #333;
    display: block;
    border-right: 4px solid #ddd
}

.logo {
    width: 100%;
    height: 220px;
    position: relative;
    overflow: hidden
}

.name {
    font-size: 2em;
    font-weight: 700;
    margin-left: -70px;
    line-height: 1.2em
}

.name,
.tagline {
    font-family: 'Averia Sans Libre', Arial, freesans, clean, sans-serif;
    padding-left: 50%
}

.tagline {
    font-size: .8em;
    margin-left: -30px
}

/*====cube set=====*/

.cube {
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-transform-origin: 50px 50px;
    -moz-transform-origin: 50px 50px;
    -o-transform-origin: 50px 50px;
    -ms-transform-origin: 50px 50px;
    transform-origin: 50px 50px;
    -webkit-transform: rotateX(-33.5deg)rotateY(45deg);
    -moz-transform: rotateX(-33.5deg)rotateY(45deg);
    -o-transform: rotateX(-33.5deg)rotateY(45deg);
    -ms-transform: rotateX(-33.5deg)rotateY(45deg);
    transform: rotateX(-33.5deg)rotateY(45deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: slowspin 10s ease-in-out infinite 2s;
    -moz-animation: slowspin 10s ease-in-out infinite 2s;
    -o-animation: slowspin 10s ease-in-out infinite 2s;
    -ms-animation: slowspin 10s ease-in-out infinite 2s;
    animation: slowspin 10s ease-in-out infinite 2s;
    margin: -50px 0 0 -50px;
    top: 50%;
    left: 50%
}

.cube,
.cube li {
    display: block;
    position: absolute
}

.cube li {
    width: 100px;
    height: 100px;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out;
    -o-transition: -o-transform 1s ease-in-out;
    -ms-transition: -ms-transform 1s ease-in-out;
    transition: transform 1s ease-in-out
}

.cube .front,
.cube .back,
.cube .right,
.cube .left,
.cube .top {
    background: -webkit-radial-gradient(transparent 30%, rgba(16, 47, 91, .2)100%);
    background: -moz-radial-gradient(transparent 30%, rgba(16, 47, 91, .2)100%);
    background: -o-radial-gradient(transparent 30%, rgba(16, 47, 91, .2)100%);
    background: -ms-radial-gradient(transparent 30%, rgba(16, 47, 91, .2)100%);
    background: radial-gradient(transparent 30%, rgba(16, 47, 91, .2)100%)
}

.cube li:after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(126, 169, 232, .5);
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out;
    -o-transition: -o-transform 1s ease-in-out;
    -ms-transition: -ms-transform 1s ease-in-out;
    transition: transform 1s ease-in-out
}

.cube .front {
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    transform: translateZ(50px)
}

.cube .back {
    -webkit-transform: rotateX(-180deg)translateZ(50px);
    -moz-transform: rotateX(-180deg)translateZ(50px);
    -o-transform: rotateX(-180deg)translateZ(50px);
    -ms-transform: rotateX(-180deg)translateZ(50px);
    transform: rotateX(-180deg)translateZ(50px)
}

.cube .right {
    -webkit-transform: rotateY(90deg)translateZ(50px);
    -moz-transform: rotateY(90deg)translateZ(50px);
    -o-transform: rotateY(90deg)translateZ(50px);
    -ms-transform: rotateY(90deg)translateZ(50px);
    transform: rotateY(90deg)translateZ(50px)
}

.cube .left {
    -webkit-transform: rotateY(-90deg)translateZ(50px);
    -moz-transform: rotateY(-90deg)translateZ(50px);
    -o-transform: rotateY(-90deg)translateZ(50px);
    -ms-transform: rotateY(-90deg)translateZ(50px);
    transform: rotateY(-90deg)translateZ(50px)
}

.cube .top {
    -webkit-transform: rotateX(90deg)translateZ(50px);
    -moz-transform: rotateX(90deg)translateZ(50px);
    -o-transform: rotateX(90deg)translateZ(50px);
    -ms-transform: rotateX(90deg)translateZ(50px);
    transform: rotateX(90deg)translateZ(50px)
}

.cube .top:after {
    background-color: rgba(152, 186, 237, .5)
}

.cube .bottom {
    -webkit-transform: rotateX(-90deg)translateZ(50px);
    -moz-transform: rotateX(-90deg)translateZ(50px);
    -o-transform: rotateX(-90deg)translateZ(50px);
    -ms-transform: rotateX(-90deg)translateZ(50px);
    transform: rotateX(-90deg)translateZ(50px)
}

.cube .floor:after {
    display: none
}

.cube .floor {
    -webkit-box-shadow: -300px 0 50px rgba(0, 0, 0, .3);
    box-shadow: -300px 0 50px rgba(0, 0, 0, .3);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    width: 110px;
    height: 110px;
    left: 295px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transform: rotateX(-90deg)translateZ(60px);
    -moz-transform: rotateX(-90deg)translateZ(60px);
    -o-transform: rotateX(-90deg)translateZ(60px);
    -ms-transform: rotateX(-90deg)translateZ(60px);
    transform: rotateX(-90deg)translateZ(60px)
}

/*cube  end*/

/*  cube-inner -- set#########################*/

.cube-inner {
    width: 100%;
    height: 100%;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 25px 25px;
    -moz-transform-origin: 25px 25px;
    -o-transform-origin: 25px 25px;
    -ms-transform-origin: 25px 25px;
    transform-origin: 25px 25px;
    margin: -25px 0 0 -25px;
    -webkit-transform: rotateX(-33.5deg)rotateY(45deg);
    -moz-transform: rotateX(-33.5deg)rotateY(45deg);
    -o-transform: rotateX(-33.5deg)rotateY(45deg);
    -ms-transform: rotateX(-33.5deg)rotateY(45deg);
    transform: rotateX(-33.5deg)rotateY(45deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: fastspin 10s ease-in-out infinite 2s;
    -moz-animation: fastspin 10s ease-in-out infinite 2s;
    -o-animation: fastspin 10s ease-in-out infinite 2s;
    -ms-animation: fastspin 10s ease-in-out infinite 2s;
    animation: fastspin 10s ease-in-out infinite 2s
}

.cube-inner,
.cube-inner li {
    display: block;
    position: absolute
}

.cube-inner li {
    width: 50px;
    height: 50px;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out;
    -o-transition: -o-transform 1s ease-in-out;
    -ms-transition: -ms-transform 1s ease-in-out;
    transition: transform 1s ease-in-out
}

.cube-inner .front,
.cube-inner .back,
.cube-inner .right,
.cube-inner .left,
.cube-inner .top {
    background: -webkit-radial-gradient(transparent 30%, rgba(5, 17, 53, .2)100%);
    background: -moz-radial-gradient(transparent 30%, rgba(5, 17, 53, .2)100%);
    background: -o-radial-gradient(transparent 30%, rgba(5, 17, 53, .2)100%);
    background: -ms-radial-gradient(transparent 30%, rgba(5, 17, 53, .2)100%);
    background: radial-gradient(transparent 30%, rgba(5, 17, 53, .2)100%)
}

.cube-inner li:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(16, 58, 177, .5);
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out;
    -o-transition: -o-transform 1s ease-in-out;
    -ms-transition: -ms-transform 1s ease-in-out;
    transition: transform 1s ease-in-out
}

.cube-inner .front {
    -webkit-transform: translateZ(25px);
    -moz-transform: translateZ(25px);
    -o-transform: translateZ(25px);
    -ms-transform: translateZ(25px);
    transform: translateZ(25px)
}

.cube-inner .back {
    -webkit-transform: rotateX(-180deg)translateZ(25px);
    -moz-transform: rotateX(-180deg)translateZ(25px);
    -o-transform: rotateX(-180deg)translateZ(25px);
    -ms-transform: rotateX(-180deg)translateZ(25px);
    transform: rotateX(-180deg)translateZ(25px)
}

.cube-inner .right {
    -webkit-transform: rotateY(90deg)translateZ(25px);
    -moz-transform: rotateY(90deg)translateZ(25px);
    -o-transform: rotateY(90deg)translateZ(25px);
    -ms-transform: rotateY(90deg)translateZ(25px);
    transform: rotateY(90deg)translateZ(25px)
}

.cube-inner .left {
    -webkit-transform: rotateY(-90deg)translateZ(25px);
    -moz-transform: rotateY(-90deg)translateZ(25px);
    -o-transform: rotateY(-90deg)translateZ(25px);
    -ms-transform: rotateY(-90deg)translateZ(25px);
    transform: rotateY(-90deg)translateZ(25px)
}

.cube-inner .top {
    -webkit-transform: rotateX(90deg)translateZ(25px);
    -moz-transform: rotateX(90deg)translateZ(25px);
    -o-transform: rotateX(90deg)translateZ(25px);
    -ms-transform: rotateX(90deg)translateZ(25px);
    transform: rotateX(90deg)translateZ(25px)
}

.cube-inner .top:after {
    background-color: rgba(22, 78, 234, .5)
}

.cube-inner .bottom {
    -webkit-transform: rotateX(-90deg)translateZ(25px);
    -moz-transform: rotateX(-90deg)translateZ(25px);
    -o-transform: rotateX(-90deg)translateZ(25px);
    -ms-transform: rotateX(-90deg)translateZ(25px);
    transform: rotateX(-90deg)translateZ(25px)
}

.cube-inner .floor:after {
    display: none
}

.cube-inner .floor {
    -webkit-box-shadow: -300px 0 50px rgba(0, 0, 0, .3);
    box-shadow: -300px 0 50px rgba(0, 0, 0, .3);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    width: 60px;
    height: 60px;
    left: 295px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transform: rotateX(-90deg)translateZ(35px);
    -moz-transform: rotateX(-90deg)translateZ(35px);
    -o-transform: rotateX(-90deg)translateZ(35px);
    -ms-transform: rotateX(-90deg)translateZ(35px);
    transform: rotateX(-90deg)translateZ(35px)
}

/*end ----cube-inner*/

.contents {
    float: right;
    min-width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, .1);
    box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, .1);
    margin: 1em;
    padding: 2em 1em 1em;
    font-size: .8em
}

.contents ul {
    margin: 0;
    padding: 0
}

.contents ul li {
    padding: 0;
    margin: 0 0 1em;
    list-style: none;
    color: #333
}

.contents ul li ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd
}

.contents ul li ul li {
    margin: 0;
    padding: .5em 0 0 1em;
    border: none;
    color: #000
}

code .comment {
    color: #998;
    font-style: italic
}

code .keyword {
    color: #333;
    font-weight: 700
}

code .number {
    color: #099
}

code .string {
    color: #d14
}

code .tag {
    color: navy;
    font-weight: 400
}

code .attribute {
    color: teal
}

code .regexp {
    color: #009926
}

code .preprocessor {
    color: #999;
    font-weight: 700
}

code .deletion {
    background: #fdd;
    display: block
}

code .addition {
    background: #dfd;
    display: block
}

.anchor {
    display: none
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    display: inline-block;
    font-size: 70%;
    text-align: right;
    margin-left: -40px;
    width: 40px;
    vertical-align: top
}

h1:hover .anchor:hover,
h2:hover .anchor:hover,
h3:hover .anchor:hover,
h4:hover .anchor:hover,
h5:hover .anchor:hover,
h6:hover .anchor:hover,
h1:hover .anchor:focus,
h2:hover .anchor:focus,
h3:hover .anchor:focus,
h4:hover .anchor:focus,
h5:hover .anchor:focus,
h6:hover .anchor:focus {
    text-decoration: none;
    font-weight: 700
}

.loading {
    -webkit-transition: opacity 1s linear, background 1s linear;
    -moz-transition: opacity 1s linear, background 1s linear;
    -o-transition: opacity 1s linear, background 1s linear;
    -ms-transition: opacity 1s linear, background 1s linear;
    transition: opacity 1s linear, background 1s linear;
    background: #fff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}
