

html {
    font-family: inherit;
    font-size: 100%
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
}

.logo {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden
}

.logo ol,
.logo ul {
    list-style: none;
    font-family: inherit;
    font-size: 100%
}

div,.logo ul,.logo ol{
  padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
}

.cube0{
	/*-webkit-transform-origin: 10px 10px;
    -moz-transform-origin: 10px 10px;
    -o-transform-origin: 10px 10px;
    -ms-transform-origin: 10px 10px;*/
    transform-origin: 0px 0px;

}

.cube1{
	/*-webkit-transform-origin: 10px 10px;
    -moz-transform-origin: 10px 10px;
    -o-transform-origin: 10px 10px;
    -ms-transform-origin: 10px 10px;*/
    transform-origin: 0px -50px;
}

/*====cube set=====*/

.cube {
    width: 100%;
    height: 100%;
    padding: 0; 
    -webkit-transform: rotateX(-33.5deg)rotateY(45deg);
    -moz-transform: rotateX(-33.5deg)rotateY(45deg);
    -o-transform: rotateX(-33.5deg)rotateY(45deg);
    -ms-transform: rotateX(-33.5deg)rotateY(45deg);
    transform: rotateX(-33.5deg)rotateY(45deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: -50px 0 0 -50px;
    top: 50%;
    left: 50%
}

.cube,
.cube li {
    display: block;
    position: absolute
}

.cube li {
    width: 50px;
    height: 50px;	
}

.cube .front,
.cube .back,
.cube .right,
.cube .left,
.cube .top {
    background: -webkit-radial-gradient(transparent 30%, rgba(0, 83, 166, .2)100%);
    background: -moz-radial-gradient(transparent 30%, rgba(0, 83, 166, .2)100%);
    background: -o-radial-gradient(transparent 30%, rgba(0, 83, 166, .2)100%);
    background: -ms-radial-gradient(transparent 30%, rgba(0, 83, 166, .2)100%);
    background: radial-gradient(transparent 30%, rgba(0, 83, 166, .2)100%)
}

.cube li:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 126, 253, .5);
}

.cube .front {
    -webkit-transform: translateZ(25px);
    -moz-transform: translateZ(25px);
    -o-transform: translateZ(25px);
    -ms-transform: translateZ(25px);
    transform: translateZ(25px)
}

.cube .back {
    -webkit-transform: rotateX(-180deg)translateZ(25px);
    -moz-transform: rotateX(-180deg)translateZ(25px);
    -o-transform: rotateX(-180deg)translateZ(25px);
    -ms-transform: rotateX(-180deg)translateZ(25px);
    transform: rotateX(-180deg)translateZ(25px)
}

.cube .right {
    -webkit-transform: rotateY(90deg)translateZ(25px);
    -moz-transform: rotateY(90deg)translateZ(25px);
    -o-transform: rotateY(90deg)translateZ(25px);
    -ms-transform: rotateY(90deg)translateZ(25px);
    transform: rotateY(90deg)translateZ(25px)
}

.cube .left {
    -webkit-transform: rotateY(-90deg)translateZ(25px);
    -moz-transform: rotateY(-90deg)translateZ(25px);
    -o-transform: rotateY(-90deg)translateZ(25px);
    -ms-transform: rotateY(-90deg)translateZ(25px);
    transform: rotateY(-90deg)translateZ(25px)
}

.cube .top {
    -webkit-transform: rotateX(90deg)translateZ(25px);
    -moz-transform: rotateX(90deg)translateZ(25px);
    -o-transform: rotateX(90deg)translateZ(25px);
    -ms-transform: rotateX(90deg)translateZ(25px);
    transform: rotateX(90deg)translateZ(25px)
}

.cube .top:after {
    background-color: rgba(152, 186, 237, .5)
}

.cube .bottom {
    -webkit-transform: rotateX(-90deg)translateZ(25px);
    -moz-transform: rotateX(-90deg)translateZ(25px);
    -o-transform: rotateX(-90deg)translateZ(25px);
    -ms-transform: rotateX(-90deg)translateZ(25px);
    transform: rotateX(-90deg)translateZ(25px)
}

.cube .floor:after {
    display: none
}

.cube .floor {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transform: rotateX(-90deg)translateZ(25px);
    -moz-transform: rotateX(-90deg)translateZ(25px);
    -o-transform: rotateX(-90deg)translateZ(25px);
    -ms-transform: rotateX(-90deg)translateZ(25px);
    transform: rotateX(-90deg)translateZ(25px)
}

